Repository basecamp/basecamp-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-test-short, typescript-lint, typescript-typecheck

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
      - id: detect-private-key
      - id: check-case-conflict

  - repo: https://github.com/golangci/golangci-lint
    rev: v1.62.2
    hooks:
      - id: golangci-lint
        args: [--timeout=5m, --config=go/.golangci.yml]
        files: ^go/

  - repo: https://github.com/tekwizely/pre-commit-golang
    rev: v1.0.0-rc.1
    hooks:
      - id: go-fmt
        files: ^go/
      - id: go-vet
        files: ^go/
      - id: go-mod-tidy
        files: ^go/

  - repo: local
    hooks:
      - id: go-test-short
        name: go test -short
        entry: bash -c 'cd go && go test -short ./...'
        language: system
        pass_filenames: false
        types: [go]
        stages: [push]

      - id: typescript-lint
        name: typescript lint
        entry: bash -c 'cd typescript && npm run lint --if-present'
        language: system
        pass_filenames: false
        files: ^typescript/.*\.(ts|tsx)$
        stages: [commit]

      - id: typescript-typecheck
        name: typescript typecheck
        entry: bash -c 'cd typescript && npm run typecheck --if-present'
        language: system
        pass_filenames: false
        files: ^typescript/.*\.(ts|tsx)$
        stages: [push]

Event feed: verdicts that lost coin flips, and a driver blind to eras
  go/pkg/basecamp/eventfeed/backoff.go
  go/pkg/basecamp/eventfeed/backoff_test.go
  go/pkg/basecamp/eventfeed/catchup.go
  go/pkg/basecamp/eventfeed/catchup_test.go
  go/pkg/basecamp/eventfeed/loop.go
  go/pkg/basecamp/eventfeed/loop_test.go
  go/pkg/basecamp/eventfeed/scenario_conformance_test.go
  go/pkg/basecamp/eventfeed/scenario_harness_test.go
  go/pkg/basecamp/eventfeed/scenario_selftest_test.go
Due: go-test-short

Absorb the merged base's tracking promises into the registry
  spec/tracking-issues.yml
Due: none

Event feed: the redactor renders configured text or a placeholder, never the server's
  go/pkg/basecamp/eventfeed/redact.go
  go/pkg/basecamp/eventfeed/redact_test.go
Due: go-test-short

Make the release guide and guards tell the truth before v0.15.0 (#808)
  .github/workflows/release-github.yml
  .github/workflows/sensitive-change-gate.yml
  MIGRATING.md
  Makefile
  scripts/bump-version.sh
  scripts/promote-migrating.sh
Due: none

Bump version to 0.15.0
  MIGRATING.md
  conformance/runner/python/uv.lock
  conformance/runner/ruby/Gemfile.lock
  conformance/runner/typescript/package-lock.json
  go/pkg/basecamp/version.go
  kotlin/sdk/build.gradle.kts
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/BasecampConfig.kt
  package.json
  python/pyproject.toml
  python/src/basecamp/_version.py
  python/uv.lock
  ruby/Gemfile.lock
  ruby/lib/basecamp/version.rb
  swift/Sources/Basecamp/BasecampConfig.swift
  typescript/package-lock.json
  typescript/package.json
  typescript/src/client.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Event feed: the parser cannot say zero, and my throttled fix forgot to ask it
  go/pkg/basecamp/eventfeed/backoff.go
  go/pkg/basecamp/eventfeed/backoff_test.go
  go/pkg/basecamp/eventfeed/catchup.go
  go/pkg/basecamp/eventfeed/catchup_test.go
  go/pkg/basecamp/eventfeed/loop.go
  go/pkg/basecamp/eventfeed/scenario_conformance_test.go
  go/pkg/basecamp/eventfeed/scenario_selftest_test.go
  go/pkg/basecamp/eventfeed/seams.go
Due: go-test-short

Fix three comments still stating rules the code has since outgrown
  go/pkg/basecamp/eventfeed/cable_test.go
  go/pkg/basecamp/eventfeed/dedupe.go
  go/pkg/basecamp/eventfeed/errors.go
Due: go-test-short

Resolve the release heading from the top of the guide, not anywhere in it
  .github/workflows/test.yml
  MIGRATING.md
  Makefile
  scripts/bump-version.sh
  scripts/promote-migrating.sh
  scripts/test-promote-migrating.sh
Due: none

Say what DueWithin reads, type the registry's strings, split the egress claim
  SPEC.md
  go/pkg/basecamp/eventfeed/feedtest/clock.go
  scripts/check-known-defect-issues-open
  scripts/test-check-known-defect-issues-open
Due: go-test-short

Event feed: the teardown's courtesy call, and three more places Close lost to an announcement
  go/README.md
  go/pkg/basecamp/eventfeed/catchup.go
  go/pkg/basecamp/eventfeed/catchup_test.go
  go/pkg/basecamp/eventfeed/loop.go
  go/pkg/basecamp/eventfeed/loop_test.go
Due: go-test-short

Close the promotion's remaining fail-opens: order, placement, portability
  scripts/promote-migrating.sh
  scripts/test-promote-migrating.sh
Due: none

Weigh the decode copy in the ceiling, and retire the no-op rationale
  .github/workflows/test.yml
  Makefile
  SPEC.md
  go/pkg/basecamp/eventfeed/buffer_test.go
  go/pkg/basecamp/eventfeed/catchup.go
  go/pkg/basecamp/eventfeed/catchup_test.go
  scripts/check-known-defect-issues-open
Due: go-test-short

Event feed: save through a symlinked store path instead of replacing it
  go/pkg/basecamp/eventfeed/filestore.go
  go/pkg/basecamp/eventfeed/filestore_test.go
Due: go-test-short

Event feed: an invalid frame limit fails closed, not open into no limit
  go/pkg/basecamp/eventfeed/feedtest/transport.go
  go/pkg/basecamp/eventfeed/seams.go
  go/pkg/basecamp/eventfeed/transport_contract_test.go
  go/pkg/basecamp/eventfeed/websocket_transport.go
Due: go-test-short

Annotate the symlink walk's deliberate error swallow for the linter
  go/pkg/basecamp/eventfeed/filestore.go
Due: go-test-short

Annotate resolveStorePath's deliberate nilerr fall-through
  go/pkg/basecamp/eventfeed/filestore.go
Due: go-test-short

The version constant, not the headings, is the rollback authority
  Makefile
  scripts/promote-migrating.sh
  scripts/test-promote-migrating.sh
Due: none

Event feed: a panic strands nothing, and Close wins the last both-ready race
  conformance/event-feed/fixtures/30-continuation-redirect-cross-origin.json
  go/pkg/basecamp/eventfeed/catchup.go
  go/pkg/basecamp/eventfeed/catchup_test.go
  go/pkg/basecamp/eventfeed/connector_test.go
  go/pkg/basecamp/eventfeed/export_test.go
  go/pkg/basecamp/eventfeed/loop.go
  go/pkg/basecamp/eventfeed/loop_test.go
  go/pkg/basecamp/eventfeed/scenario_conformance_test.go
  go/pkg/basecamp/eventfeed/scenario_selftest_test.go
Due: go-test-short

Close the ceiling at the decode chain's length, and diagnose bad YAML shapes
  SPEC.md
  go/pkg/basecamp/eventfeed/buffer_test.go
  go/pkg/basecamp/eventfeed/catchup.go
  go/pkg/basecamp/eventfeed/catchup_test.go
  scripts/check-known-defect-issues-open
  scripts/test-check-known-defect-issues-open
Due: go-test-short

Refuse redirects and bound timeouts on the token exchange path in every SDK
  MIGRATING.md
  SPEC.md
  go/pkg/basecamp/auth.go
  go/pkg/basecamp/auth_test.go
  go/pkg/basecamp/oauth/exchange.go
  go/pkg/basecamp/oauth/oauth_test.go
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/oauth/Exchange.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/OAuthTest.kt
  python/src/basecamp/oauth/exchange.py
  python/tests/oauth/test_exchange.py
  ruby/lib/basecamp/oauth/exchange.rb
  ruby/lib/basecamp/oauth/fetcher.rb
  ruby/lib/basecamp/oauth_token_provider.rb
  ruby/test/basecamp/auth_test.rb
  ruby/test/basecamp/oauth_ssrf_test.rb
  ruby/test/basecamp/oauth_test.rb
  ruby/test/basecamp/oauth_transport_test.rb
  ruby/test/basecamp/security_test.rb
  typescript/src/oauth/device.ts
  typescript/src/oauth/exchange.ts
  typescript/src/oauth/limits.ts
  typescript/tests/oauth/oauth.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Point Appendix F's Go-first policy sections at the tracking issues
  SPEC.md
Due: none

Fail closed on a missing authority, and tell pending headings from history
  scripts/promote-migrating.sh
  scripts/test-promote-migrating.sh
Due: none

Tag absence proves nothing a shallow clone can act on
  scripts/promote-migrating.sh
  scripts/test-promote-migrating.sh
Due: none

Give unparseable YAML the gate's own diagnosis
  scripts/check-known-defect-issues-open
  scripts/test-check-known-defect-issues-open
Due: none

Event feed: every deferral gets the latch, not just the one that fired
  go/pkg/basecamp/eventfeed/catchup.go
  go/pkg/basecamp/eventfeed/catchup_test.go
Due: go-test-short

Cite #819 where the prose said G1b, and let the gate hold it open
  conformance/event-feed/README.md
  conformance/event-feed/fixtures/30-continuation-redirect-cross-origin.json
  conformance/event-feed/schema.json
  spec/tracking-issues.yml
Due: none

A present tag is proof; an absent one asks the remote
  scripts/promote-migrating.sh
Due: none

Teach the sweep blockquotes, and give SPEC's Layer-1 assignment its citation
  SPEC.md
  scripts/check-known-defect-issues-open
  scripts/test-check-known-defect-issues-open
  spec/tracking-issues.yml
Due: none

Event feed: the ring the buffer needed, the parser parity it claimed, and two honest declines
  go/pkg/basecamp/eventfeed/buffer_test.go
  go/pkg/basecamp/eventfeed/export_test.go
  go/pkg/basecamp/eventfeed/loop.go
  go/pkg/basecamp/eventfeed/scenario_conformance_test.go
  go/pkg/basecamp/eventfeed/scenario_selftest_test.go
Due: go-test-short

The remote tag is the only authority, and the self-test proves it live
  MIGRATING.md
  scripts/promote-migrating.sh
  scripts/test-promote-migrating.sh
Due: none

Bound every ms field at 10 virtual years, in the schema and at load
  conformance/event-feed/schema.json
  go/pkg/basecamp/eventfeed/scenario_fixture_test.go
  go/pkg/basecamp/eventfeed/scenario_selftest_test.go
Due: go-test-short

Report a missing symlink instead of panicking over it
  go/pkg/basecamp/eventfeed/filestore_test.go
Due: go-test-short

Event feed: the contract now unblocks a write that is already in flight
  go/pkg/basecamp/eventfeed/transport_contract_test.go
  go/pkg/basecamp/eventfeed/websocket_transport_test.go
Due: go-test-short

Commit the mention counts, so a covered file cannot absorb new promises
  scripts/check-known-defect-issues-open
  scripts/test-check-known-defect-issues-open
  spec/tracking-issues.yml
Due: none

Event feed: the wedge's hand-off signal aliased the fatal's
  go/pkg/basecamp/eventfeed/catchup_test.go
Due: go-test-short

Event feed: the phase timer a panic left behind, and three more verdicts that lost their turn
  go/pkg/basecamp/eventfeed/catchup.go
  go/pkg/basecamp/eventfeed/catchup_test.go
  go/pkg/basecamp/eventfeed/connector_test.go
  go/pkg/basecamp/eventfeed/loop.go
  go/pkg/basecamp/eventfeed/recovery.go
Due: go-test-short

Model scenario ms values as int64, end to end
  go/pkg/basecamp/eventfeed/scenario_fixture_test.go
  go/pkg/basecamp/eventfeed/scenario_harness_test.go
Due: go-test-short

Say what DialError can and cannot promise, and who enforces which half
  go/pkg/basecamp/eventfeed/seams.go
Due: go-test-short

Scope the ceiling to Go, describe the registry's real unit, refuse dup keys
  SPEC.md
  scripts/check-known-defect-issues-open
  scripts/test-check-known-defect-issues-open
  spec/tracking-issues.yml
Due: none

Drop a stray possessive in the ceiling's holder sentence
  SPEC.md
Due: none
