Repository basecamp/basecamp-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-test-short, typescript-lint, typescript-typecheck

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
      - id: detect-private-key
      - id: check-case-conflict

  - repo: https://github.com/golangci/golangci-lint
    rev: v1.62.2
    hooks:
      - id: golangci-lint
        args: [--timeout=5m, --config=go/.golangci.yml]
        files: ^go/

  - repo: https://github.com/tekwizely/pre-commit-golang
    rev: v1.0.0-rc.1
    hooks:
      - id: go-fmt
        files: ^go/
      - id: go-vet
        files: ^go/
      - id: go-mod-tidy
        files: ^go/

  - repo: local
    hooks:
      - id: go-test-short
        name: go test -short
        entry: bash -c 'cd go && go test -short ./...'
        language: system
        pass_filenames: false
        types: [go]
        stages: [push]

      - id: typescript-lint
        name: typescript lint
        entry: bash -c 'cd typescript && npm run lint --if-present'
        language: system
        pass_filenames: false
        files: ^typescript/.*\.(ts|tsx)$
        stages: [commit]

      - id: typescript-typecheck
        name: typescript typecheck
        entry: bash -c 'cd typescript && npm run typecheck --if-present'
        language: system
        pass_filenames: false
        files: ^typescript/.*\.(ts|tsx)$
        stages: [push]

Bump Go to 1.25.7 for crypto/tls fix (GO-2026-4337) (#82)
  .github/workflows/release.yml
  .github/workflows/security.yml
  .github/workflows/test.yml
  conformance/runner/go/go.mod
  go.work
  go/go.mod
Due: none

Wire fetchPage closure to all services in createBasecampClient
  typescript/src/client.ts
Due: typescript-lint, typescript-typecheck

Regenerate all services with pagination support
  typescript/src/generated/services/campfires.ts
  typescript/src/generated/services/cards.ts
  typescript/src/generated/services/checkins.ts
  typescript/src/generated/services/client-approvals.ts
  typescript/src/generated/services/client-correspondences.ts
  typescript/src/generated/services/client-replies.ts
  typescript/src/generated/services/comments.ts
  typescript/src/generated/services/documents.ts
  typescript/src/generated/services/events.ts
  typescript/src/generated/services/forwards.ts
  typescript/src/generated/services/message-types.ts
  typescript/src/generated/services/messages.ts
  typescript/src/generated/services/people.ts
  typescript/src/generated/services/projects.ts
  typescript/src/generated/services/recordings.ts
  typescript/src/generated/services/reports.ts
  typescript/src/generated/services/schedules.ts
  typescript/src/generated/services/search.ts
  typescript/src/generated/services/templates.ts
  typescript/src/generated/services/timeline.ts
  typescript/src/generated/services/todolist-groups.ts
  typescript/src/generated/services/todolists.ts
  typescript/src/generated/services/todos.ts
  typescript/src/generated/services/uploads.ts
  typescript/src/generated/services/vaults.ts
  typescript/src/generated/services/webhooks.ts
Due: typescript-lint, typescript-typecheck

Export ListResult, PaginationOptions, and pagination utilities
  typescript/src/index.ts
Due: typescript-lint, typescript-typecheck

Address PR review: type safety, Symbol.species, truncation signal
  typescript/scripts/generate-services.ts
  typescript/src/generated/services/recordings.ts
  typescript/src/pagination.ts
  typescript/src/services/base.ts
  typescript/tests/pagination.test.ts
Due: typescript-lint, typescript-typecheck

Teach service generator about pagination and bucket arrays
  typescript/scripts/generate-services.ts
Due: typescript-lint, typescript-typecheck

Update tests for ListResult pagination support
  typescript/tests/services/base.test.ts
  typescript/tests/services/documents.test.ts
  typescript/tests/services/events.test.ts
  typescript/tests/services/recordings.test.ts
  typescript/tests/services/reports.test.ts
  typescript/tests/services/schedules.test.ts
  typescript/tests/services/search.test.ts
  typescript/tests/services/templates.test.ts
  typescript/tests/services/todolistGroups.test.ts
  typescript/tests/services/uploads.test.ts
  typescript/tests/services/vaults.test.ts
Due: typescript-lint, typescript-typecheck

Add requestPaginated() and fetchPage to BaseService
  typescript/src/services/base.ts
Due: typescript-lint, typescript-typecheck

Fix large-array crash, truncated false positive, add truncated tests
  typescript/src/pagination.ts
  typescript/src/services/base.ts
  typescript/tests/services/base.test.ts
Due: typescript-lint, typescript-typecheck

Add ListResult<T> pagination types and utilities
  typescript/src/pagination-utils.ts
  typescript/src/pagination.ts
  typescript/tests/pagination.test.ts
Due: typescript-lint, typescript-typecheck

Fix hooks durationMs, singularization, regenerate services
  typescript/scripts/generate-services.ts
  typescript/src/generated/services/client-replies.ts
  typescript/src/services/base.ts
Due: typescript-lint, typescript-typecheck

Fix timesheet paths and add boost/content_type fields to recording types
  go/pkg/basecamp/url-routes.json
  go/pkg/generated/client.gen.go
  openapi.json
  ruby/lib/basecamp/generated/metadata.json
  ruby/lib/basecamp/generated/services/campfires_service.rb
  ruby/lib/basecamp/generated/services/timesheets_service.rb
  ruby/lib/basecamp/generated/types.rb
  ruby/test/basecamp/services/campfires_service_test.rb
  ruby/test/basecamp/services/timesheet_service_test.rb
  spec/basecamp.smithy
  typescript/src/generated/metadata.json
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/path-mapping.ts
  typescript/src/generated/schema.d.ts
  typescript/src/generated/services/campfires.ts
  typescript/src/generated/services/timesheets.ts
  typescript/tests/services/reports.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Add Boosts API with 6 endpoints (list, get, create, delete)
  behavior-model.json
  go/pkg/basecamp/url-routes.json
  go/pkg/generated/client.gen.go
  openapi.json
  ruby/lib/basecamp/client.rb
  ruby/lib/basecamp/generated/metadata.json
  ruby/lib/basecamp/generated/services/boosts_service.rb
  ruby/lib/basecamp/generated/types.rb
  ruby/scripts/generate-services.rb
  ruby/test/basecamp/services/boosts_service_test.rb
  spec/basecamp.smithy
  spec/overlays/tags.smithy
  typescript/scripts/generate-services.ts
  typescript/src/client.ts
  typescript/src/generated/metadata.json
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/path-mapping.ts
  typescript/src/generated/schema.d.ts
  typescript/src/generated/services/boosts.ts
  typescript/src/generated/services/index.ts
  typescript/src/index.ts
  typescript/tests/services/boosts.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Update API provenance to 2026-02-07 upstream HEADs
  go/pkg/basecamp/api-provenance.json
  spec/api-provenance.json
Due: none

Fix redundant naming in Boosts service type exports
  typescript/scripts/generate-services.ts
  typescript/src/generated/services/boosts.ts
  typescript/src/index.ts
  typescript/tests/services/boosts.test.ts
Due: typescript-lint, typescript-typecheck

Upstream API sync: Boosts API, timesheet path fixes, boost fields (#83)
  behavior-model.json
  go/pkg/basecamp/api-provenance.json
  go/pkg/basecamp/url-routes.json
  go/pkg/generated/client.gen.go
  openapi.json
  ruby/lib/basecamp/client.rb
  ruby/lib/basecamp/generated/metadata.json
  ruby/lib/basecamp/generated/services/boosts_service.rb
  ruby/lib/basecamp/generated/services/campfires_service.rb
  ruby/lib/basecamp/generated/services/timesheets_service.rb
  ruby/lib/basecamp/generated/types.rb
  ruby/scripts/generate-services.rb
  ruby/test/basecamp/services/boosts_service_test.rb
  ruby/test/basecamp/services/campfires_service_test.rb
  ruby/test/basecamp/services/timesheet_service_test.rb
  spec/api-provenance.json
  spec/basecamp.smithy
  spec/overlays/tags.smithy
  typescript/scripts/generate-services.ts
  typescript/src/client.ts
  typescript/src/generated/metadata.json
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/path-mapping.ts
  typescript/src/generated/schema.d.ts
  typescript/src/generated/services/boosts.ts
  typescript/src/generated/services/campfires.ts
  typescript/src/generated/services/index.ts
  typescript/src/generated/services/timesheets.ts
  typescript/src/index.ts
  typescript/tests/services/boosts.test.ts
  typescript/tests/services/reports.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Go SDK: Add BoostsService with 6 operations
  go/pkg/basecamp/boosts.go
  go/pkg/basecamp/boosts_test.go
  go/pkg/basecamp/client.go
  spec/fixtures/boosts/get.json
  spec/fixtures/boosts/list.json
Due: go-test-short

Go SDK: Expose content_type on CreateLine for campfire messages
  go/README.md
  go/pkg/basecamp/campfires.go
  go/pkg/basecamp/campfires_test.go
  go/pkg/basecamp/example_test.go
Due: go-test-short

Wire drift check into make check and CI
  .github/workflows/test.yml
  Makefile
  scripts/check-service-drift.sh
Due: none

Address Copilot review feedback
  go/pkg/basecamp/boosts.go
  go/pkg/basecamp/boosts_test.go
  scripts/check-service-drift.sh
Due: go-test-short

Address Codex review: variadic CreateLine opts, service-level validation tests
  go/README.md
  go/pkg/basecamp/boosts_test.go
  go/pkg/basecamp/campfires.go
  go/pkg/basecamp/campfires_test.go
  go/pkg/basecamp/example_test.go
Due: go-test-short

Add httptest-based service contract tests for Boosts and CreateLine
  go/pkg/basecamp/boosts_test.go
  go/pkg/basecamp/campfires_test.go
Due: go-test-short

Address review: gofmt, remove panic tests, cover all 6 Boost ops, reject extra opts
  go/pkg/basecamp/boosts_test.go
  go/pkg/basecamp/campfires.go
  go/pkg/basecamp/campfires_test.go
Due: go-test-short

Go SDK: BoostsService, CreateLine content_type, drift check enforcement (#84)
  .github/workflows/test.yml
  Makefile
  go/pkg/basecamp/boosts.go
  go/pkg/basecamp/boosts_test.go
  go/pkg/basecamp/campfires.go
  go/pkg/basecamp/campfires_test.go
  go/pkg/basecamp/client.go
  spec/fixtures/boosts/get.json
  spec/fixtures/boosts/list.json
Due: go-test-short

Make dedup atomic under concurrency; fix TS nested-ID extraction
  go/pkg/basecamp/webhook_handler.go
  go/pkg/basecamp/webhook_handler_test.go
  ruby/lib/basecamp/webhooks/receiver.rb
  ruby/test/basecamp/webhooks/receiver_test.rb
  typescript/src/webhooks/handler.ts
  typescript/tests/webhooks/handler.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Go SDK: Add webhook receiver infrastructure
  go/pkg/basecamp/webhook_event.go
  go/pkg/basecamp/webhook_event_test.go
  go/pkg/basecamp/webhook_handler.go
  go/pkg/basecamp/webhook_handler_test.go
  go/pkg/basecamp/webhook_verify.go
  go/pkg/basecamp/webhook_verify_test.go
  go/pkg/basecamp/webhooks.go
  go/pkg/basecamp/webhooks_test.go
Due: go-test-short

Add webhook event payload types to Smithy spec
  go/pkg/generated/client.gen.go
  openapi.json
  ruby/lib/basecamp/generated/metadata.json
  ruby/lib/basecamp/generated/types.rb
  spec/basecamp.smithy
  spec/fixtures/webhooks/event-message-copied.json
  spec/fixtures/webhooks/event-todo-created.json
  spec/fixtures/webhooks/event-unknown-future.json
  spec/fixtures/webhooks/get.json
  typescript/src/generated/metadata.json
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/schema.d.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Ruby SDK: Add webhook receiver infrastructure
  ruby/lib/basecamp/webhooks/event.rb
  ruby/lib/basecamp/webhooks/rack_middleware.rb
  ruby/lib/basecamp/webhooks/receiver.rb
  ruby/lib/basecamp/webhooks/verify.rb
  ruby/test/basecamp/services/webhooks_service_test.rb
  ruby/test/basecamp/webhooks/event_test.rb
  ruby/test/basecamp/webhooks/receiver_test.rb
  ruby/test/basecamp/webhooks/verify_test.rb
Due: none

TS SDK: Add webhook receiver infrastructure
  typescript/src/index.ts
  typescript/src/webhooks/adapters/node-http.ts
  typescript/src/webhooks/events.ts
  typescript/src/webhooks/handler.ts
  typescript/src/webhooks/index.ts
  typescript/src/webhooks/verify.ts
  typescript/tests/services/webhooks.test.ts
  typescript/tests/webhooks/adapters/node-http.test.ts
  typescript/tests/webhooks/events.test.ts
  typescript/tests/webhooks/handler.test.ts
  typescript/tests/webhooks/verify.test.ts
Due: typescript-lint, typescript-typecheck

Add tests for creator field mapping and string-based dedup
  go/pkg/basecamp/webhooks_test.go
  typescript/tests/webhooks/handler.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Fix webhook receiver dedup, body limits, and creator mapping
  go/pkg/basecamp/webhook_handler.go
  go/pkg/basecamp/webhook_handler_test.go
  go/pkg/basecamp/webhooks.go
  ruby/lib/basecamp/webhooks/receiver.rb
  ruby/test/basecamp/webhooks/receiver_test.rb
  typescript/src/webhooks/handler.ts
  typescript/tests/webhooks/handler.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Fix TS ID scanner brace bug, Go panic-safe dedup, TS body limits
  go/pkg/basecamp/webhook_event.go
  go/pkg/basecamp/webhook_event_test.go
  go/pkg/basecamp/webhook_handler.go
  go/pkg/basecamp/webhook_handler_test.go
  go/pkg/basecamp/webhooks.go
  typescript/src/webhooks/adapters/node-http.ts
  typescript/src/webhooks/handler.ts
  typescript/tests/webhooks/adapters/node-http.test.ts
  typescript/tests/webhooks/handler.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Add webhook receiver infrastructure across all three SDKs (#85)
  go/pkg/basecamp/webhook_event.go
  go/pkg/basecamp/webhook_event_test.go
  go/pkg/basecamp/webhook_handler.go
  go/pkg/basecamp/webhook_handler_test.go
  go/pkg/basecamp/webhook_verify.go
  go/pkg/basecamp/webhook_verify_test.go
  go/pkg/basecamp/webhooks.go
  go/pkg/basecamp/webhooks_test.go
  go/pkg/generated/client.gen.go
  openapi.json
  ruby/lib/basecamp/generated/metadata.json
  ruby/lib/basecamp/generated/types.rb
  ruby/lib/basecamp/webhooks/event.rb
  ruby/lib/basecamp/webhooks/rack_middleware.rb
  ruby/lib/basecamp/webhooks/receiver.rb
  ruby/lib/basecamp/webhooks/verify.rb
  ruby/test/basecamp/services/webhooks_service_test.rb
  ruby/test/basecamp/webhooks/event_test.rb
  ruby/test/basecamp/webhooks/receiver_test.rb
  ruby/test/basecamp/webhooks/verify_test.rb
  spec/basecamp.smithy
  spec/fixtures/webhooks/event-message-copied.json
  spec/fixtures/webhooks/event-todo-created.json
  spec/fixtures/webhooks/event-unknown-future.json
  spec/fixtures/webhooks/get.json
  typescript/src/generated/metadata.json
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/schema.d.ts
  typescript/src/index.ts
  typescript/src/webhooks/adapters/node-http.ts
  typescript/src/webhooks/events.ts
  typescript/src/webhooks/handler.ts
  typescript/src/webhooks/index.ts
  typescript/src/webhooks/verify.ts
  typescript/tests/services/webhooks.test.ts
  typescript/tests/webhooks/adapters/node-http.test.ts
  typescript/tests/webhooks/events.test.ts
  typescript/tests/webhooks/handler.test.ts
  typescript/tests/webhooks/verify.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Bump Ruby faraday to 2.14.1 for SSRF fix (CVE-2026-25765)
  ruby/Gemfile.lock
Due: none

Bump Ruby faraday to 2.14.1 for SSRF fix (CVE-2026-25765) (#91)
  ruby/Gemfile.lock
Due: none

Swift SDK: Add foundation (client, auth, retry, pagination, hooks, errors)
  .github/workflows/test.yml
  .gitignore
  Makefile
  swift/Makefile
  swift/Package.swift
  swift/Sources/Basecamp/AccountClient.swift
  swift/Sources/Basecamp/BasecampClient.swift
  swift/Sources/Basecamp/BasecampConfig.swift
  swift/Sources/Basecamp/BasecampError.swift
  swift/Sources/Basecamp/BasecampHooks.swift
  swift/Sources/Basecamp/HTTP/ETagCache.swift
  swift/Sources/Basecamp/HTTP/HTTPClient.swift
  swift/Sources/Basecamp/HTTP/Transport.swift
  swift/Sources/Basecamp/Pagination.swift
  swift/Sources/Basecamp/Services/BaseService.swift
  swift/Sources/Basecamp/TokenProvider.swift
  swift/Tests/BasecampTests/AccountClientTests.swift
  swift/Tests/BasecampTests/ClientTests.swift
  swift/Tests/BasecampTests/ErrorTests.swift
  swift/Tests/BasecampTests/Fixtures/projects/list.json
  swift/Tests/BasecampTests/Fixtures/todos/list.json
  swift/Tests/BasecampTests/HooksTests.swift
  swift/Tests/BasecampTests/PaginationTests.swift
  swift/Tests/BasecampTests/RetryTests.swift
  swift/Tests/BasecampTests/Support/MockTransport.swift
  swift/Tests/BasecampTests/Support/TestHelpers.swift
Due: none

Swift SDK: Address PR #89 review feedback
  swift/Sources/Basecamp/Generated/Services/ClientRepliesService.swift
  swift/Sources/Basecamp/Generated/Services/ForwardsService.swift
  swift/Sources/Basecamp/Generated/Services/PeopleService.swift
  swift/Sources/Basecamp/Generated/Services/ReportsService.swift
  swift/Sources/Basecamp/Generated/Services/SchedulesService.swift
  swift/Sources/Basecamp/HTTP/ETagCache.swift
  swift/Sources/BasecampGenerator/BehaviorModel.swift
  swift/Sources/BasecampGenerator/Utilities.swift
  swift/Sources/BasecampGenerator/main.swift
  swift/Tests/BasecampTests/Support/TestHelpers.swift
Due: none
