Repository basecamp/basecamp-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-test-short, typescript-lint, typescript-typecheck

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
      - id: detect-private-key
      - id: check-case-conflict

  - repo: https://github.com/golangci/golangci-lint
    rev: v1.62.2
    hooks:
      - id: golangci-lint
        args: [--timeout=5m, --config=go/.golangci.yml]
        files: ^go/

  - repo: https://github.com/tekwizely/pre-commit-golang
    rev: v1.0.0-rc.1
    hooks:
      - id: go-fmt
        files: ^go/
      - id: go-vet
        files: ^go/
      - id: go-mod-tidy
        files: ^go/

  - repo: local
    hooks:
      - id: go-test-short
        name: go test -short
        entry: bash -c 'cd go && go test -short ./...'
        language: system
        pass_filenames: false
        types: [go]
        stages: [push]

      - id: typescript-lint
        name: typescript lint
        entry: bash -c 'cd typescript && npm run lint --if-present'
        language: system
        pass_filenames: false
        files: ^typescript/.*\.(ts|tsx)$
        stages: [commit]

      - id: typescript-typecheck
        name: typescript typecheck
        entry: bash -c 'cd typescript && npm run typecheck --if-present'
        language: system
        pass_filenames: false
        files: ^typescript/.*\.(ts|tsx)$
        stages: [push]

Add uploads.download(uploadId) convenience to TypeScript SDK
  conformance/runner/typescript/runner.test.ts
  typescript/README.md
  typescript/src/client.ts
  typescript/src/errors.ts
  typescript/src/index.ts
  typescript/src/services/uploads-extensions.ts
  typescript/tests/services/uploads.test.ts
Due: typescript-lint, typescript-typecheck

Add conformance coverage for UploadsDownload
  conformance/runner/go/main.go
  conformance/tests/uploads_download.json
  kotlin/conformance/src/main/kotlin/com/basecamp/sdk/conformance/Main.kt
Due: go-test-short

Fold uploads.download missing-url test into a single invocation
  typescript/tests/services/uploads.test.ts
Due: typescript-lint, typescript-typecheck

Type the uploads test service via client inference
  typescript/tests/services/uploads.test.ts
Due: typescript-lint, typescript-typecheck

Keep UploadsService backwards-compatible constructor
  typescript/src/services/uploads-extensions.ts
Due: typescript-lint, typescript-typecheck

Correct Python README prose on download_url owner
  python/README.md
Due: none

Preserve BaseService's full positional signature on UploadsService
  typescript/src/client.ts
  typescript/src/services/uploads-extensions.ts
Due: typescript-lint, typescript-typecheck

fix(todos): use completed=true for completed filters (#279)
  go/pkg/basecamp/todos.go
  go/pkg/basecamp/todos_test.go
Due: go-test-short

uploads.download(id) — parity across Ruby/Python/TypeScript/Swift (#281)
  conformance/runner/go/main.go
  conformance/runner/python/runner.py
  conformance/runner/ruby/runner.rb
  conformance/runner/typescript/runner.test.ts
  conformance/tests/uploads_download.json
  kotlin/conformance/src/main/kotlin/com/basecamp/sdk/conformance/Main.kt
  python/README.md
  python/src/basecamp/async_client.py
  python/src/basecamp/client.py
  python/src/basecamp/services/__init__.py
  python/src/basecamp/services/uploads.py
  python/tests/services/test_uploads.py
  ruby/README.md
  ruby/lib/basecamp/generated/services/uploads_service.rb
  ruby/scripts/generate-services.rb
  ruby/test/basecamp/services/uploads_service_test.rb
  swift/README.md
  swift/Sources/Basecamp/UploadsServiceExtensions.swift
  swift/Tests/BasecampTests/UploadsServiceExtensionsTests.swift
  typescript/README.md
  typescript/src/client.ts
  typescript/src/errors.ts
  typescript/src/index.ts
  typescript/src/services/uploads-extensions.ts
  typescript/tests/services/uploads.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Anchor download.go path match in auth-routable guard
  scripts/check-auth-routable-consumers.sh
Due: none

Wire auth-routable-check into CI; POSIX-portable lint patterns
  .github/workflows/test.yml
  scripts/check-auth-routable-consumers.sh
Due: none

Close method-value bypass; list both fixture shapes
  scripts/check-auth-routable-consumers.sh
  spec/basecamp-traits.smithy
Due: none

Tighten auth-routable guard; drop drifting line ref
  scripts/check-auth-routable-consumers.sh
  spec/basecamp-traits.smithy
Due: none

Add basecampAuthRoutableUrl trait and guard its consumers
  Makefile
  openapi.json
  scripts/check-auth-routable-consumers.sh
  spec/basecamp-traits.smithy
  spec/basecamp.smithy
  typescript/src/generated/openapi-stripped.json
  typescript/tests/services/uploads.test.ts
Due: typescript-lint, typescript-typecheck

Assert DownloadURL hop 1 hits the test case path
  conformance/runner/python/runner.py
  conformance/runner/ruby/runner.rb
  conformance/runner/typescript/runner.test.ts
Due: none

Guard empty DownloadURL path in Python and Ruby; void+catch TS cancel
  conformance/runner/python/runner.py
  conformance/runner/ruby/runner.rb
  conformance/runner/typescript/runner.test.ts
Due: none

Constrain DownloadURL mock catch-all to the API host
  conformance/runner/python/runner.py
  conformance/runner/ruby/runner.rb
Due: none

Run DownloadURL conformance in Python, Ruby, and TypeScript
  conformance/runner/python/runner.py
  conformance/runner/ruby/runner.rb
  conformance/runner/typescript/runner.test.ts
Due: none

Support headerAbsent and indexed header assertions
  conformance/runner/python/runner.py
  conformance/runner/ruby/runner.rb
  conformance/runner/typescript/runner.test.ts
Due: none

Derive DownloadURL mock host from configOverrides; guard TS path
  conformance/runner/python/runner.py
  conformance/runner/ruby/runner.rb
  conformance/runner/typescript/runner.test.ts
Due: none

Relax test-fidelity contract to match merged primitive tests
  spec/basecamp-traits.smithy
Due: none

Run DownloadURL conformance in Python, Ruby, and TypeScript (#280)
  conformance/runner/python/runner.py
  conformance/runner/ruby/runner.rb
  conformance/runner/typescript/runner.test.ts
Due: none

Make auth-routable guard cwd-independent and Go-scoped
  scripts/check-auth-routable-consumers.sh
Due: none

Add basecampAuthRoutableUrl trait and guard its consumers (#282)
  .github/workflows/test.yml
  Makefile
  openapi.json
  scripts/check-auth-routable-consumers.sh
  spec/basecamp-traits.smithy
  spec/basecamp.smithy
  typescript/src/generated/openapi-stripped.json
  typescript/tests/services/uploads.test.ts
Due: typescript-lint, typescript-typecheck

Extract requestIDHeader constant and clarify withRequestID doc
  go/pkg/basecamp/client.go
  go/pkg/basecamp/errors.go
  go/pkg/basecamp/helpers.go
Due: go-test-short

Preserve request IDs on raw client errors (#277)
  go/pkg/basecamp/client.go
  go/pkg/basecamp/client_test.go
  go/pkg/basecamp/errors.go
  go/pkg/basecamp/helpers.go
  go/pkg/basecamp/helpers_test.go
Due: go-test-short

Use bc3 as the sole API provenance source (#240)
  .claude/skills/api-sync/SKILL.md
  AGENTS.md
  Makefile
  go/pkg/basecamp/api-provenance.json
  go/pkg/basecamp/provenance.go
  go/pkg/basecamp/provenance_test.go
  scripts/sync-spec-version.sh
  spec/README.md
  spec/api-provenance.json
  spec/fixtures/projects/README.md
Due: go-test-short

Fix stale Todos signatures in package doc comment
  go/pkg/basecamp/doc.go
Due: go-test-short

Add example for Todos List Completed filter
  go/pkg/basecamp/example_test.go
Due: go-test-short

deps(actions): sync version comments to bumped SHAs
  .github/workflows/release-github.yml
  .github/workflows/release-kotlin.yml
  .github/workflows/release-python.yml
  .github/workflows/release-ruby.yml
Due: none

deps(ts): drop typescript 6 from group bump (openapi-typescript ^5.x peer)
  typescript/package-lock.json
  typescript/package.json
Due: none

build(deps): ignore typescript major in npm dependabot group
  .github/dependabot.yml
Due: none

ci(actions): pin gradle/actions to MIT-licensed basic cache provider
  .github/workflows/release-kotlin.yml
  .github/workflows/security.yml
  .github/workflows/test.yml
Due: none

Add bucketId to card column color and on-hold paths
  go.work.sum
  go/pkg/basecamp/cards.go
  go/pkg/basecamp/url-routes.json
  go/pkg/generated/client.gen.go
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/Types.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/card-columns.kt
  openapi.json
  python/src/basecamp/generated/services/card_columns.py
  ruby/lib/basecamp/generated/metadata.json
  ruby/lib/basecamp/generated/services/card_columns_service.rb
  ruby/lib/basecamp/generated/types.rb
  ruby/test/basecamp/services/card_columns_service_test.rb
  spec/basecamp.smithy
  swift/Sources/Basecamp/Generated/Services/CardColumnsService.swift
  typescript/src/generated/metadata.json
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/path-mapping.ts
  typescript/src/generated/schema.d.ts
  typescript/src/generated/services/card-columns.ts
  typescript/src/generated/services/index.ts
  typescript/tests/services/card-columns.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Add CardColumns httptest coverage for bucket-scoped paths
  go/pkg/basecamp/cards_test.go
Due: go-test-short

Model RateLimitError on retry-marked card column ops
  go/pkg/generated/client.gen.go
  openapi.json
  ruby/lib/basecamp/generated/metadata.json
  ruby/lib/basecamp/generated/types.rb
  spec/basecamp.smithy
  typescript/src/generated/metadata.json
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/schema.d.ts
Due: go-test-short, typescript-lint, typescript-typecheck

refactor(checkins): rename ListAnswersByUser to ListAnswersByPerson
  go/pkg/basecamp/checkins.go
  go/pkg/basecamp/checkins_test.go
  scripts/check-service-drift.sh
Due: go-test-short

Add bucketId to card column color and on-hold paths (#291)
  go.work.sum
  go/pkg/basecamp/cards.go
  go/pkg/basecamp/cards_test.go
  go/pkg/basecamp/url-routes.json
  go/pkg/generated/client.gen.go
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/Types.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/card-columns.kt
  openapi.json
  python/src/basecamp/generated/services/card_columns.py
  ruby/lib/basecamp/generated/metadata.json
  ruby/lib/basecamp/generated/services/card_columns_service.rb
  ruby/lib/basecamp/generated/types.rb
  ruby/test/basecamp/services/card_columns_service_test.rb
  spec/basecamp.smithy
  swift/Sources/Basecamp/Generated/Services/CardColumnsService.swift
  typescript/src/generated/metadata.json
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/path-mapping.ts
  typescript/src/generated/schema.d.ts
  typescript/src/generated/services/card-columns.ts
  typescript/src/generated/services/index.ts
  typescript/tests/services/card-columns.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck
