Repository basecamp/basecamp-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-test-short, typescript-lint, typescript-typecheck

go-test-short:
  name: go test -short
  entry: bash -c 'cd go && go test -short ./...'
  language: system
  pass_filenames: false
  stages:
  - push

typescript-lint:
  name: typescript lint
  entry: bash -c 'cd typescript && npm run lint --if-present'
  language: system
  pass_filenames: false
  stages:
  - commit

typescript-typecheck:
  name: typescript typecheck
  entry: bash -c 'cd typescript && npm run typecheck --if-present'
  language: system
  pass_filenames: false
  stages:
  - push

Track the typed {{range .Bodies}} methods, not just their WithBody anchor
  go/grouped-client-inventory.yml
  scripts/check-grouped-client-coverage
  scripts/test-check-grouped-client-coverage.rb
Due: none

Say plainly what the self-test does and does not prove
  scripts/test-check-grouped-client-coverage.rb
Due: none

Make the method accounting total in both directions
  scripts/check-grouped-client-coverage
  scripts/test-check-grouped-client-coverage.rb
Due: none

Require "set" explicitly rather than leaning on the 3.2 autoload
  scripts/check-grouped-client-coverage
Due: none

Reject duplicate $opid arms, symmetrically with the inventory
  scripts/check-grouped-client-coverage
  scripts/test-check-grouped-client-coverage.rb
Due: none

Gate the Go grouped client, which nothing was watching
  .github/workflows/test.yml
  Makefile
  go/grouped-client-inventory.yml
  go/pkg/basecamp/projects_test.go
  scripts/check-grouped-client-coverage
  scripts/test-check-grouped-client-coverage.rb
Due: go-test-short

Pin four more gates' reads to UTF-8, and prove it in CI
  .github/workflows/test.yml
  scripts/check-bc3-route-parity
  scripts/test-check-bc3-route-parity.rb
  scripts/test-doc-constants.rb
  scripts/validate-api-gaps.rb
Due: none

Bump the js-yaml override past the !!omap advisory
  typescript/package-lock.json
  typescript/package.json
Due: none

Bump the js-yaml override past the !!omap advisory (#685)
  typescript/package-lock.json
  typescript/package.json
Due: none

Handle bc3's own authorization document, not just Launchpad's (#681)
  MIGRATING.md
  go/pkg/basecamp/authorization.go
  go/pkg/basecamp/authorization_test.go
  ruby/lib/basecamp/services/authorization_service.rb
  ruby/test/basecamp/services/authorization_service_test.rb
  ruby/test/test_helper.rb
  spec/api-gaps/bc5-authorization-document-shape.md
  spec/api-gaps/notifications-sort-pings-first.md
  typescript/src/oauth/authorization-document.ts
  typescript/src/oauth/identity.ts
  typescript/src/oauth/index.ts
  typescript/src/services/authorization.ts
  typescript/tests/services/authorization.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Gate the Go grouped client, which nothing was watching (#682)
  .github/workflows/test.yml
  Makefile
  go/grouped-client-inventory.yml
  go/pkg/basecamp/projects_test.go
  scripts/check-grouped-client-coverage
  scripts/test-check-grouped-client-coverage.rb
Due: go-test-short

Pin four more gates' reads to UTF-8, and prove it in CI (#684)
  .github/workflows/test.yml
  scripts/check-bc3-route-parity
  scripts/test-check-bc3-route-parity.rb
  scripts/test-doc-constants.rb
  scripts/validate-api-gaps.rb
Due: none

Conformance: both uploads write paths, across all six runners
  conformance/runner/go/main.go
  conformance/runner/python/runner.py
  conformance/runner/ruby/runner.rb
  conformance/runner/swift/Sources/ConformanceRunner/Assertions.swift
  conformance/runner/swift/Sources/ConformanceRunner/Dispatch.swift
  conformance/runner/typescript/runner.test.ts
  conformance/tests/uploads_write.json
  kotlin/conformance/src/main/kotlin/com/basecamp/sdk/conformance/Main.kt
Due: go-test-short

Go: CreateVersion, a real UploadVersion, and a reachable description clear
  go/pkg/basecamp/optional_presence_test.go
  go/pkg/basecamp/vaults.go
  go/pkg/basecamp/vaults_test.go
Due: go-test-short

All six SDKs: a 507 is a limit, not a retryable server error
  go/pkg/basecamp/errors.go
  go/pkg/basecamp/helpers.go
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/BasecampException.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/ErrorTest.kt
  python/src/basecamp/__init__.py
  python/src/basecamp/errors.py
  python/tests/services/test_uploads.py
  ruby/lib/basecamp.rb
  ruby/lib/basecamp/error.rb
  ruby/lib/basecamp/error_code.rb
  ruby/lib/basecamp/exit_code.rb
  ruby/lib/basecamp/http.rb
  ruby/lib/basecamp/limit_exceeded_error.rb
  ruby/test/basecamp/services/uploads_service_test.rb
  spec/fixtures/manifest.yaml
  spec/fixtures/uploads/versions.json
  swift/Sources/Basecamp/BasecampError.swift
  typescript/src/errors.ts
  typescript/tests/services/uploads.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Address Codex review: keep listVersions typed in TS and Kotlin
  MIGRATING.md
  kotlin/conformance/src/main/kotlin/com/basecamp/sdk/conformance/Main.kt
  kotlin/generator/src/main/kotlin/com/basecamp/sdk/generator/Config.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/models/UploadVersion.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/models/UploadVersionFile.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/uploads.kt
  ruby/lib/basecamp/generated/metadata.json
  ruby/lib/basecamp/generated/types.rb
  typescript/scripts/generate-services.ts
  typescript/src/generated/metadata.ts
  typescript/src/generated/services/uploads.ts
Due: typescript-lint, typescript-typecheck

Docs: the counts, the two breaks, and the divergence that narrowed
  AGENTS.md
  API-GAP-404.md
  MIGRATING.md
  SPEC.md
  go/pkg/basecamp/errors.go
  go/pkg/basecamp/vaults.go
  python/src/basecamp/__init__.py
  python/tests/services/test_uploads.py
  ruby/test/basecamp/services/uploads_service_test.rb
Due: go-test-short

Reconcile with #679's repin, and finish the 507 it left half-classified
  go/pkg/basecamp/projects_test.go
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/ProjectsServiceTest.kt
  python/tests/services/test_projects.py
  ruby/lib/basecamp/generated/metadata.json
  ruby/lib/basecamp/generated/types.rb
  ruby/test/basecamp/services/projects_service_test.rb
  typescript/src/generated/metadata.ts
  typescript/tests/services/projects.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Address Codex round 5: the six READMEs are public error references too
  go/README.md
  kotlin/README.md
  python/README.md
  ruby/README.md
  swift/README.md
  typescript/README.md
Due: none

Address Codex round 2: export the new TS types, and Python does break
  MIGRATING.md
  typescript/src/index.ts
Due: typescript-lint, typescript-typecheck

Address Codex round 4: filtering on blob_changed drops the original file
  MIGRATING.md
  go/pkg/basecamp/vaults.go
  go/pkg/generated/client.gen.go
  openapi.json
  ruby/lib/basecamp/generated/metadata.json
  ruby/lib/basecamp/generated/types.rb
  spec/basecamp.smithy
  typescript/src/generated/metadata.ts
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/schema.d.ts
  typescript/tests/services/uploads.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Address Codex round 3: map 507 in Go's raw request path too
  go/pkg/basecamp/client.go
  go/pkg/basecamp/optional_presence_test.go
Due: go-test-short

Say what `current` actually is, without weakening it
  go/pkg/basecamp/vaults.go
  go/pkg/generated/client.gen.go
  openapi.json
  ruby/lib/basecamp/generated/metadata.json
  ruby/lib/basecamp/generated/types.rb
  spec/basecamp.smithy
  typescript/src/generated/metadata.ts
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/schema.d.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Account for CreateUploadVersion on the grouped client (#682)
  go/grouped-client-inventory.yml
Due: none

Correct SPEC §2's retry.max distribution: 44 -> 45 at max 2
  SPEC.md
Due: none

Reconcile the rest of the derived counts, by sweeping instead of patching
  MIGRATING.md
  SPEC.md
Due: none

List all eight 507 operations, not the four this PR touched
  MIGRATING.md
Due: none

Sweep the whole tree for stale operation counts, not the named files
  SECURITY.md
  scripts/check-grouped-client-coverage
Due: none

Delete five locals nothing reads (#677)
  ruby/test/basecamp/oauth_device_test.rb
  typescript/scripts/generate-services.ts
  typescript/tests/auth-strategy.test.ts
Due: typescript-lint, typescript-typecheck

Mark the operation count, so it stops being six hand-maintained copies
  AGENTS.md
  SECURITY.md
  SPEC.md
  scripts/sync-doc-constants.rb
  scripts/test-doc-constants.rb
  spec/doc-constants.json
Due: none

The writer must refuse an ambiguous span, not rewrite every integer on it
  scripts/sync-doc-constants.rb
  scripts/test-doc-constants.rb
Due: none

Mark the operation count, so it stops being six hand-maintained copies (#686)
  AGENTS.md
  SECURITY.md
  SPEC.md
  scripts/sync-doc-constants.rb
  scripts/test-doc-constants.rb
  spec/doc-constants.json
Due: none

Bump nanoid past the zero-size-loop advisory
  conformance/runner/typescript/package-lock.json
  typescript/package-lock.json
Due: none

Bump nanoid past the zero-size-loop advisory (#694)
  conformance/runner/typescript/package-lock.json
  typescript/package-lock.json
Due: none

Split the default-terminal pin per signal kind
  conformance/event-feed/schema.json
Due: none

Assert zero invocations of the unhandled kind, not an empty record
  conformance/event-feed/schema.json
Due: none

Gate the per-signal pins with committed invalid fixtures
  Makefile
  conformance/event-feed/README.md
  conformance/event-feed/invalid-fixtures/phantom-gap-invocation.json
  conformance/event-feed/invalid-fixtures/phantom-overflow-invocation.json
Due: none

Pair each invalid fixture with a minimal-delta positive control
  Makefile
  conformance/event-feed/README.md
  conformance/event-feed/invalid-fixtures/controls/phantom-gap-invocation.json
  conformance/event-feed/invalid-fixtures/controls/phantom-overflow-invocation.json
Due: none

Path conditions:
  go-test-short: any of: \.go$
  typescript-lint: any of: ^typescript/.*\.(ts|tsx)$
  typescript-typecheck: any of: ^typescript/.*\.(ts|tsx)$
