Repository basecamp/basecamp-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-test-short, typescript-lint, typescript-typecheck

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
      - id: detect-private-key
      - id: check-case-conflict

  - repo: https://github.com/golangci/golangci-lint
    rev: v1.62.2
    hooks:
      - id: golangci-lint
        args: [--timeout=5m, --config=go/.golangci.yml]
        files: ^go/

  - repo: https://github.com/tekwizely/pre-commit-golang
    rev: v1.0.0-rc.1
    hooks:
      - id: go-fmt
        files: ^go/
      - id: go-vet
        files: ^go/
      - id: go-mod-tidy
        files: ^go/

  - repo: local
    hooks:
      - id: go-test-short
        name: go test -short
        entry: bash -c 'cd go && go test -short ./...'
        language: system
        pass_filenames: false
        types: [go]
        stages: [push]

      - id: typescript-lint
        name: typescript lint
        entry: bash -c 'cd typescript && npm run lint --if-present'
        language: system
        pass_filenames: false
        files: ^typescript/.*\.(ts|tsx)$
        stages: [commit]

      - id: typescript-typecheck
        name: typescript typecheck
        entry: bash -c 'cd typescript && npm run typecheck --if-present'
        language: system
        pass_filenames: false
        files: ^typescript/.*\.(ts|tsx)$
        stages: [push]

transport: fail closed on an invalid body cap (Ruby, Python)
  python/src/basecamp/oauth/_transport.py
  python/tests/oauth/test_transport.py
  ruby/lib/basecamp/oauth/fetcher.rb
  ruby/test/basecamp/oauth_transport_test.rb
Due: none

transport: run connection start inside the socket-cleanup ensure (Ruby)
  ruby/lib/basecamp/oauth/fetcher.rb
Due: none

transport: recorded outcomes dominate every cleanup fault (Python)
  python/src/basecamp/oauth/_transport.py
  python/tests/oauth/test_transport.py
Due: none

transport: deadline-gate the size cap; replace Accept-Encoding case-insensitively (Python)
  python/src/basecamp/oauth/_transport.py
Due: none

transport: a buffered non-2xx body is the status fault, never size-capped (Ruby)
  ruby/lib/basecamp/oauth/fetcher.rb
  ruby/test/basecamp/oauth_transport_test.rb
Due: none

transport: refuse post-deadline starts; join on the remaining budget; honest docstring (Python)
  python/src/basecamp/oauth/_transport.py
Due: none

transport: close the suppressed-review backlog (Ruby, Python)
  python/src/basecamp/oauth/_transport.py
  ruby/lib/basecamp/oauth/discovery.rb
  ruby/lib/basecamp/oauth/fetcher.rb
  ruby/lib/basecamp/oauth/resource.rb
  ruby/test/basecamp/oauth_transport_test.rb
Due: none

transport: percent-decode ENV proxy credentials (Ruby)
  ruby/lib/basecamp/oauth/fetcher.rb
  ruby/test/basecamp/oauth_transport_test.rb
Due: none

transport: bound outstanding transport workers (Python)
  python/src/basecamp/oauth/_transport.py
  python/tests/oauth/test_transport.py
Due: none

transport: classify skipped statuses before the deadline race (Ruby)
  ruby/lib/basecamp/oauth/fetcher.rb
  ruby/test/basecamp/oauth_transport_test.rb
Due: none

Trim AGENTS.md to the gotchas that aren't recoverable elsewhere (#499)
  AGENTS.md
Due: none

Prove the cached-retry regression covers fromCache, and stop over-claiming in two test names
  typescript/tests/middleware-lifecycle.test.ts
Due: typescript-lint, typescript-typecheck

Retire the last references to a hooks middleware that no longer exists
  typescript/src/client.ts
Due: typescript-lint, typescript-typecheck

Release the discarded response's stream before backing off
  typescript/src/client.ts
  typescript/tests/middleware-lifecycle.test.ts
Due: typescript-lint, typescript-typecheck

Start attempt 2 before the auth refresh, so a throw there is still accounted for
  typescript/src/client.ts
  typescript/tests/middleware-lifecycle.test.ts
Due: typescript-lint, typescript-typecheck

transport: initialize response state before any raising step (Ruby)
  ruby/lib/basecamp/oauth/fetcher.rb
  ruby/test/basecamp/oauth_transport_test.rb
Due: none

transport: response state must be the method's first statements (Ruby)
  ruby/lib/basecamp/oauth/fetcher.rb
Due: none

OAuth transport hardening: headers-first, totally-bounded fetches (Ruby + Python) (#376)
  SPEC.md
  python/README.md
  python/src/basecamp/oauth/_transport.py
  python/src/basecamp/oauth/device.py
  python/src/basecamp/oauth/discovery.py
  python/tests/oauth/test_transport.py
  ruby/lib/basecamp/oauth/device_flow.rb
  ruby/lib/basecamp/oauth/discovery.rb
  ruby/lib/basecamp/oauth/fetcher.rb
  ruby/lib/basecamp/oauth/resource.rb
  ruby/test/basecamp/oauth_device_test.rb
  ruby/test/basecamp/oauth_transport_test.rb
Due: none

resource: capture and echo the RFC 8707 indicator (TypeScript)
  typescript/README.md
  typescript/src/oauth/device.ts
  typescript/src/oauth/exchange.ts
  typescript/src/oauth/token-manager.ts
  typescript/src/oauth/types.ts
  typescript/tests/oauth/device.test.ts
  typescript/tests/oauth/oauth.test.ts
  typescript/tests/oauth/token-manager.test.ts
Due: typescript-lint, typescript-typecheck

resource: capture and echo the RFC 8707 indicator (Python)
  python/README.md
  python/src/basecamp/oauth/device.py
  python/src/basecamp/oauth/exchange.py
  python/src/basecamp/oauth/token.py
  python/tests/oauth/test_device.py
  python/tests/oauth/test_exchange.py
Due: none

tests: appease CI linters (ruff E501 line length, rubocop assert_not_nil)
  python/tests/oauth/test_device.py
  ruby/test/basecamp/oauth_token_conformance_test.rb
Due: none

resource: capture and echo the RFC 8707 indicator (Kotlin)
  kotlin/README.md
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/oauth/Device.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/oauth/Exchange.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/OAuthDeviceTest.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/OAuthTest.kt
Due: none

resource: capture and echo the RFC 8707 indicator (Ruby)
  ruby/README.md
  ruby/lib/basecamp/oauth.rb
  ruby/lib/basecamp/oauth/device_flow.rb
  ruby/lib/basecamp/oauth/exchange.rb
  ruby/lib/basecamp/oauth/refresh_request.rb
  ruby/lib/basecamp/oauth/token.rb
  ruby/test/basecamp/oauth_device_test.rb
  ruby/test/basecamp/oauth_test.rb
Due: none

device: retry 429 too_many_requests polls with a one-shot Retry-After override (5 SDKs)
  go/pkg/basecamp/oauth/device.go
  go/pkg/basecamp/oauth/device_test.go
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/oauth/Device.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/OAuthDeviceTest.kt
  python/src/basecamp/oauth/_transport.py
  python/src/basecamp/oauth/device.py
  python/tests/oauth/test_device.py
  ruby/lib/basecamp/oauth/device_flow.rb
  ruby/lib/basecamp/oauth/fetcher.rb
  ruby/test/basecamp/oauth_device_test.rb
  typescript/src/oauth/device.ts
  typescript/tests/oauth/device.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

conformance: add the oauth-token wire-behavior fixture family
  Makefile
  conformance/oauth-token/README.md
  conformance/oauth-token/fixtures/01-resource-round-trip.json
  conformance/oauth-token/fixtures/02-resource-absent.json
  conformance/oauth-token/fixtures/03-resource-null.json
  conformance/oauth-token/fixtures/04-resource-empty-rejected.json
  conformance/oauth-token/fixtures/05-resource-non-string-rejected.json
  conformance/oauth-token/fixtures/06-refresh-sends-resource.json
  conformance/oauth-token/fixtures/07-refresh-omits-resource.json
  conformance/oauth-token/schema.json
  go/pkg/basecamp/oauth/token_conformance_test.go
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/oauth/Exchange.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/OAuthTest.kt
  python/tests/oauth/test_token_conformance.py
  ruby/test/basecamp/oauth_token_conformance_test.rb
  typescript/tests/oauth/token-conformance.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

SPEC: RFC 8707 resource indicator, 429 poll contract, issuer + transport truth-ups
  SPEC.md
Due: none

resource: capture and echo the RFC 8707 indicator (Go)
  go/README.md
  go/pkg/basecamp/auth.go
  go/pkg/basecamp/auth_test.go
  go/pkg/basecamp/oauth/device.go
  go/pkg/basecamp/oauth/device_test.go
  go/pkg/basecamp/oauth/exchange.go
  go/pkg/basecamp/oauth/oauth_test.go
  go/pkg/basecamp/oauth/types.go
Due: go-test-short

tests: restore the class-separator blank lines lost at a rebase seam (Python)
  python/tests/oauth/test_device.py
Due: none

kotlin: align two @Test annotations; state the pre-1.0 source-compatibility policy
  kotlin/README.md
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/OAuthDeviceTest.kt
Due: none

device: trim only ASCII SP/HTAB around Retry-After (Ruby)
  ruby/lib/basecamp/oauth/device_flow.rb
  ruby/test/basecamp/oauth_device_test.rb
Due: none

conformance: every oauth-token fixture pins the form exactly one way
  conformance/oauth-token/fixtures/01-resource-round-trip.json
  conformance/oauth-token/fixtures/02-resource-absent.json
  conformance/oauth-token/fixtures/03-resource-null.json
  conformance/oauth-token/fixtures/04-resource-empty-rejected.json
  conformance/oauth-token/fixtures/05-resource-non-string-rejected.json
  conformance/oauth-token/schema.json
Due: none

docs: guard the absent refresh token in the Kotlin and Ruby device examples
  kotlin/README.md
  ruby/README.md
Due: none

oauth: classify a present-but-empty resource as an api fault (Go)
  go/pkg/basecamp/oauth/exchange.go
  go/pkg/basecamp/oauth/oauth_test.go
Due: go-test-short

device: trim only ASCII SP/HTAB around Retry-After (SPEC, Go, TypeScript, Python, Kotlin)
  SPEC.md
  go/pkg/basecamp/oauth/device.go
  go/pkg/basecamp/oauth/device_test.go
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/oauth/Device.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/OAuthDeviceTest.kt
  python/src/basecamp/oauth/device.py
  python/tests/oauth/test_device.py
  ruby/test/basecamp/oauth_device_test.rb
  typescript/src/oauth/device.ts
  typescript/tests/oauth/device.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

auth: mark the legacy token providers Launchpad-only (Python)
  python/src/basecamp/async_auth.py
  python/src/basecamp/auth.py
Due: none

device: Retry-After digits must be ASCII (Kotlin)
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/oauth/Device.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/OAuthDeviceTest.kt
Due: none

docs: state both trailing-slash failure modes in every README
  go/README.md
  kotlin/README.md
  python/README.md
  ruby/README.md
Due: none

oauth: the Python exchange parser requires a non-empty string access_token
  python/src/basecamp/oauth/exchange.py
Due: none

oauth: exchange parsers require a non-empty access_token (Go, Ruby, Kotlin)
  go/pkg/basecamp/oauth/exchange.go
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/oauth/Exchange.kt
  ruby/lib/basecamp/oauth/exchange.rb
Due: go-test-short

oauth: keep RefreshRequest append-only and type every malformed-body fault (Go)
  go/pkg/basecamp/oauth/exchange.go
  go/pkg/basecamp/oauth/oauth_test.go
  go/pkg/basecamp/oauth/types.go
Due: go-test-short
