Repository basecamp/basecamp-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-test-short, typescript-lint, typescript-typecheck

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
      - id: detect-private-key
      - id: check-case-conflict

  - repo: https://github.com/golangci/golangci-lint
    rev: v1.62.2
    hooks:
      - id: golangci-lint
        args: [--timeout=5m, --config=go/.golangci.yml]
        files: ^go/

  - repo: https://github.com/tekwizely/pre-commit-golang
    rev: v1.0.0-rc.1
    hooks:
      - id: go-fmt
        files: ^go/
      - id: go-vet
        files: ^go/
      - id: go-mod-tidy
        files: ^go/

  - repo: local
    hooks:
      - id: go-test-short
        name: go test -short
        entry: bash -c 'cd go && go test -short ./...'
        language: system
        pass_filenames: false
        types: [go]
        stages: [push]

      - id: typescript-lint
        name: typescript lint
        entry: bash -c 'cd typescript && npm run lint --if-present'
        language: system
        pass_filenames: false
        files: ^typescript/.*\.(ts|tsx)$
        stages: [commit]

      - id: typescript-typecheck
        name: typescript typecheck
        entry: bash -c 'cd typescript && npm run typecheck --if-present'
        language: system
        pass_filenames: false
        files: ^typescript/.*\.(ts|tsx)$
        stages: [push]

Two comments the review found still said the old thing
  typescript/tests/services/merge-safe.test.ts
Due: typescript-lint, typescript-typecheck

Flip the tests main pinned "to flip when #913 lands", and say what it closes
  SPEC.md
  python/src/basecamp/_person_id.py
  python/tests/services/test_schedules.py
  ruby/test/basecamp/services/schedules_service_test.rb
  typescript/src/services/base.ts
  typescript/tests/services/merge-safe.test.ts
  typescript/tests/services/todos.test.ts
Due: typescript-lint, typescript-typecheck

Say where the write path is still not the reference, in TypeScript
  SPEC.md
  python/src/basecamp/_person_id.py
  python/tests/services/test_schedules.py
  typescript/src/services/merge-safe.ts
  typescript/tests/services/merge-safe.test.ts
Due: typescript-lint, typescript-typecheck

Merge-safe writes refuse assignee ids the API really sends (#913)
  SPEC.md
  python/src/basecamp/_person_id.py
  python/src/basecamp/services/_merge_safe.py
  python/tests/services/test_schedules.py
  python/tests/services/test_todos.py
  ruby/lib/basecamp/http.rb
  ruby/lib/basecamp/services/merge_safe.rb
  ruby/test/basecamp/services/schedules_service_test.rb
  ruby/test/basecamp/services/todos_service_test.rb
  typescript/src/person-id.ts
  typescript/src/services/base.ts
  typescript/src/services/merge-safe.ts
  typescript/tests/services/merge-safe.test.ts
  typescript/tests/services/schedules.test.ts
  typescript/tests/services/todos.test.ts
Due: typescript-lint, typescript-typecheck

Swift and Rust refuse person shapes the reference writes back
  SPEC.md
  rust/basecamp-sdk/src/generated/types.rs
  rust/basecamp-sdk/src/types.rs
  rust/basecamp-sdk/tests/person_shapes.rs
  rust/generator/src/emit/types.rs
  rust/generator/tests/fixtures/mini/expected/types.rs
  swift/Sources/Basecamp/FlexibleInt.swift
  swift/Sources/Basecamp/Generated/Models/Card.swift
  swift/Sources/Basecamp/Generated/Models/CardColumn.swift
  swift/Sources/Basecamp/Generated/Models/CardStep.swift
  swift/Sources/Basecamp/Generated/Models/CardTable.swift
  swift/Sources/Basecamp/Generated/Models/Notification.swift
  swift/Sources/Basecamp/Generated/Models/Person.swift
  swift/Sources/Basecamp/Generated/Models/ProjectAccessResult.swift
  swift/Sources/Basecamp/Generated/Models/ScheduleEntry.swift
  swift/Sources/Basecamp/Generated/Models/SearchResult.swift
  swift/Sources/Basecamp/Generated/Models/Subscription.swift
  swift/Sources/Basecamp/Generated/Models/Todo.swift
  swift/Sources/Basecamp/PersonList.swift
  swift/Sources/BasecampGenerator/ModelEmitter.swift
  swift/Tests/BasecampTests/PersonShapesTests.swift
Due: none

Tighten the person-shape tests the review found could not fail
  SPEC.md
  rust/basecamp-sdk/tests/person_shapes.rs
  swift/Tests/BasecampTests/PersonShapesTests.swift
Due: none

Swift and Rust refuse person shapes the reference writes back (#916)
  SPEC.md
  rust/basecamp-sdk/src/generated/types.rs
  rust/basecamp-sdk/src/types.rs
  rust/basecamp-sdk/tests/person_shapes.rs
  rust/generator/src/emit/types.rs
  rust/generator/tests/fixtures/mini/expected/types.rs
  swift/Sources/Basecamp/FlexibleInt.swift
  swift/Sources/Basecamp/Generated/Models/Card.swift
  swift/Sources/Basecamp/Generated/Models/CardColumn.swift
  swift/Sources/Basecamp/Generated/Models/CardStep.swift
  swift/Sources/Basecamp/Generated/Models/CardTable.swift
  swift/Sources/Basecamp/Generated/Models/Notification.swift
  swift/Sources/Basecamp/Generated/Models/Person.swift
  swift/Sources/Basecamp/Generated/Models/ProjectAccessResult.swift
  swift/Sources/Basecamp/Generated/Models/ScheduleEntry.swift
  swift/Sources/Basecamp/Generated/Models/SearchResult.swift
  swift/Sources/Basecamp/Generated/Models/Subscription.swift
  swift/Sources/Basecamp/Generated/Models/Todo.swift
  swift/Sources/Basecamp/PersonList.swift
  swift/Sources/BasecampGenerator/ModelEmitter.swift
  swift/Tests/BasecampTests/PersonShapesTests.swift
Due: none

Decode a followed page only as far as Go decodes it
  SPEC.md
  python/src/basecamp/_person_id.py
  python/src/basecamp/generated/services/_async_base.py
  python/src/basecamp/generated/services/_base.py
  python/tests/test_person_id_sites.py
  ruby/lib/basecamp/http.rb
  ruby/lib/basecamp/person_id_sites.rb
  ruby/test/basecamp/person_id_sites_test.rb
  typescript/src/services/base.ts
  typescript/tests/services/person-id-decode.test.ts
Due: typescript-lint, typescript-typecheck

Event feed connector: the inbox lane (4/4) (#897)
  SPEC.md
  conformance/event-feed/README.md
  conformance/event-feed/fixtures/32-inbox-lane-dedupes-by-addressing-id.json
  conformance/event-feed/fixtures/33-inbox-gap-410-retention-resume.json
  conformance/event-feed/schema.json
  go/README.md
  go/pkg/basecamp/eventfeed/cable.go
  go/pkg/basecamp/eventfeed/cable_test.go
  go/pkg/basecamp/eventfeed/catchup.go
  go/pkg/basecamp/eventfeed/checkpoint.go
  go/pkg/basecamp/eventfeed/connector.go
  go/pkg/basecamp/eventfeed/dedupe.go
  go/pkg/basecamp/eventfeed/doc.go
  go/pkg/basecamp/eventfeed/event.go
  go/pkg/basecamp/eventfeed/export_test.go
  go/pkg/basecamp/eventfeed/filestore.go
  go/pkg/basecamp/eventfeed/filestore_test.go
  go/pkg/basecamp/eventfeed/filters.go
  go/pkg/basecamp/eventfeed/inbox_test.go
  go/pkg/basecamp/eventfeed/loop.go
  go/pkg/basecamp/eventfeed/recovery.go
  go/pkg/basecamp/eventfeed/scenario_conformance_test.go
  go/pkg/basecamp/eventfeed/scenario_fixture_test.go
  go/pkg/basecamp/eventfeed/scenario_harness_test.go
  go/pkg/basecamp/eventfeed/seams.go
Due: go-test-short

Event feed: the adapters answer every redirect at the wire, and nothing of one reaches a rendering
  SPEC.md
  conformance/event-feed/README.md
  go/README.md
  go/pkg/basecamp/client.go
  go/pkg/basecamp/event_feed.go
  go/pkg/basecamp/eventfeed/live.go
  go/pkg/basecamp/eventfeed/live_test.go
  ruby/lib/basecamp/http.rb
  spec/api-gaps/event-feed.md
  spec/tracking-issues.yml
Due: go-test-short

Event feed: a next continues at a position, a resume re-enters under the lane's own filters, and a 409 or 400 of the wrong shape is malformed
  go/pkg/basecamp/eventfeed/live.go
  go/pkg/basecamp/eventfeed/live_test.go
  spec/tracking-issues.yml
Due: go-test-short

Event feed: a canonical base path, one poll source per connector, and details held to the push lane's rule
  go/pkg/basecamp/eventfeed/live.go
  go/pkg/basecamp/eventfeed/live_test.go
Due: go-test-short

Event feed: the adapters classify what a fresh call would answer the same way as unrecoverable
  go/pkg/basecamp/eventfeed/live.go
  go/pkg/basecamp/eventfeed/live_test.go
Due: go-test-short

Event feed: the guard recognizes a seam call by its route, and a truncated body is transient
  go/pkg/basecamp/eventfeed/live.go
  go/pkg/basecamp/eventfeed/live_test.go
Due: go-test-short

Event feed: the adapters map the two 410 shapes, the reason-keyed 400, and hold a resume to its fence
  go/pkg/basecamp/eventfeed/live.go
  go/pkg/basecamp/eventfeed/live_test.go
Due: go-test-short

Event feed: a resume starts a new walk, a relative Location resolves to its origin, and a page carries its collection
  SPEC.md
  go/pkg/basecamp/eventfeed/live.go
  go/pkg/basecamp/eventfeed/live_test.go
Due: go-test-short

Event feed: a continuation's filters compare to the lane's as sets, repetition aside
  go/pkg/basecamp/eventfeed/live.go
  go/pkg/basecamp/eventfeed/live_test.go
Due: go-test-short

Event feed: NewLive refuses a base URL carrying userinfo, and the migration guide loses a stray marker
  go/pkg/basecamp/eventfeed/live.go
  go/pkg/basecamp/eventfeed/live_test.go
Due: go-test-short

Event feed: a 410 of the other lane's shape is malformed, and the inventory names the adapters
  AGENTS.md
  go/pkg/basecamp/eventfeed/live.go
  go/pkg/basecamp/eventfeed/live_test.go
Due: go-test-short

Event feed: the guard is anchored at the base path and the account, marks the seams' bodies, and a walk keeps its order across pages
  go/pkg/basecamp/eventfeed/export_test.go
  go/pkg/basecamp/eventfeed/live.go
  go/pkg/basecamp/eventfeed/live_test.go
Due: go-test-short

Event feed: the adapters refuse what the connector could never recover from, and render nothing of a continuation
  go/pkg/basecamp/eventfeed/export_test.go
  go/pkg/basecamp/eventfeed/live.go
  go/pkg/basecamp/eventfeed/live_test.go
Due: go-test-short

Event feed: bind the connector to the generated operations
  SPEC.md
  conformance/event-feed/README.md
  conformance/event-feed/fixtures/30-continuation-redirect-cross-origin.json
  conformance/event-feed/schema.json
  go/README.md
  go/pkg/basecamp/client.go
  go/pkg/basecamp/eventfeed/doc.go
  go/pkg/basecamp/eventfeed/live.go
  go/pkg/basecamp/eventfeed/live_test.go
  spec/tracking-issues.yml
Due: go-test-short

Event feed: the redirect guard answers only the seams' calls, the lane is the binding's, and a feed 410 names its epoch
  go/README.md
  go/pkg/basecamp/eventfeed/export_test.go
  go/pkg/basecamp/eventfeed/live.go
  go/pkg/basecamp/eventfeed/live_test.go
Due: go-test-short

Event feed: the refused hop never reaches a rendering, and NewLive refuses what ForAccount would panic on
  go/README.md
  go/pkg/basecamp/eventfeed/live.go
  go/pkg/basecamp/eventfeed/live_test.go
Due: go-test-short

Event feed: the guard finds its routes beneath a base path, a continuation repeats no key, and a page is in strict order
  go/pkg/basecamp/eventfeed/live.go
  go/pkg/basecamp/eventfeed/live_test.go
Due: go-test-short

Event feed: a row's details reach the connector as the bytes the server sent, on either lane
  go/pkg/basecamp/eventfeed/export_test.go
  go/pkg/basecamp/eventfeed/live.go
  go/pkg/basecamp/eventfeed/live_test.go
Due: go-test-short

Event feed: gate refusals stay transient, an inbox item's envelope is validated, and a continuation's query must parse whole
  go/pkg/basecamp/eventfeed/export_test.go
  go/pkg/basecamp/eventfeed/live.go
  go/pkg/basecamp/eventfeed/live_test.go
Due: go-test-short

Event feed: the inbox's 410 is refused by its fence, and the test now says so
  go/pkg/basecamp/eventfeed/live_test.go
  spec/tracking-issues.yml
Due: go-test-short

Event feed: a refused redirect the seam could not attribute says unrecorded, not unparsable
  SPEC.md
  go/pkg/basecamp/eventfeed/live.go
  go/pkg/basecamp/eventfeed/live_test.go
  go/pkg/basecamp/eventfeed/seams.go
Due: go-test-short

Event feed: a base URL whose path is percent-encoded is refused, not misanchored
  go/pkg/basecamp/eventfeed/live.go
  go/pkg/basecamp/eventfeed/live_test.go
Due: go-test-short

Event feed connector: bind the seams to the generated operations (#899)
  AGENTS.md
  SPEC.md
  conformance/event-feed/README.md
  conformance/event-feed/fixtures/30-continuation-redirect-cross-origin.json
  conformance/event-feed/schema.json
  go/README.md
  go/pkg/basecamp/client.go
  go/pkg/basecamp/event_feed.go
  go/pkg/basecamp/eventfeed/doc.go
  go/pkg/basecamp/eventfeed/export_test.go
  go/pkg/basecamp/eventfeed/live.go
  go/pkg/basecamp/eventfeed/live_test.go
  go/pkg/basecamp/eventfeed/seams.go
  ruby/lib/basecamp/http.rb
  spec/api-gaps/event-feed.md
  spec/tracking-issues.yml
Due: go-test-short

Refuse fixture capacities above the schema's ceilings at load (#900)
  go/pkg/basecamp/eventfeed/scenario_conformance_test.go
  go/pkg/basecamp/eventfeed/scenario_fixture_test.go
  go/pkg/basecamp/eventfeed/scenario_harness_test.go
  go/pkg/basecamp/eventfeed/scenario_selftest_test.go
Due: go-test-short

Pin the srv2 filter dimensions and the filtered epoch resume in a tier-2 fixture
  conformance/event-feed/README.md
  conformance/event-feed/fixtures/35-srv2-dimensions-carry-through-the-epoch-resume.json
Due: none

Re-derive the two fixture inventories that missed 34
  conformance/event-feed/README.md
Due: none

Say why fixture 35's resume spells its commas literally, and what its poll pin proves
  conformance/event-feed/README.md
  conformance/event-feed/fixtures/35-srv2-dimensions-carry-through-the-epoch-resume.json
Due: none

Align fixture 35's description with what its poll pin proves
  conformance/event-feed/fixtures/35-srv2-dimensions-carry-through-the-epoch-resume.json
Due: none

Pin the srv2 filter dimensions and the filtered epoch resume in a tier-2 fixture (#918)
  conformance/event-feed/README.md
  conformance/event-feed/fixtures/35-srv2-dimensions-carry-through-the-epoch-resume.json
Due: none

Bound both capacities where they are allocated, not only in fixtures
  go/pkg/basecamp/eventfeed/connector.go
  go/pkg/basecamp/eventfeed/connector_test.go
Due: go-test-short
