Repository basecamp/basecamp-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-test-short, typescript-lint, typescript-typecheck

go-test-short:
  name: go test -short
  entry: bash -c 'cd go && go test -short ./...'
  language: system
  pass_filenames: false
  stages:
  - push

typescript-lint:
  name: typescript lint
  entry: bash -c 'cd typescript && npm run lint --if-present'
  language: system
  pass_filenames: false
  stages:
  - commit

typescript-typecheck:
  name: typescript typecheck
  entry: bash -c 'cd typescript && npm run typecheck --if-present'
  language: system
  pass_filenames: false
  stages:
  - push

device: check status before draining the body + validate token error (TypeScript)
  typescript/src/oauth/device.ts
  typescript/tests/oauth/device.test.ts
Due: typescript-lint, typescript-typecheck

device: check status before draining the body (Go)
  go/pkg/basecamp/oauth/device.go
  go/pkg/basecamp/oauth/device_test.go
Due: go-test-short

device: use DEFAULT_DEVICE_TIMEOUT_MS in defaults and allow null verification_uri_complete (TS)
  typescript/src/oauth/device.ts
Due: typescript-lint, typescript-typecheck

device: bound Python device reads with a wall-clock deadline; doc usage type
  python/src/basecamp/oauth/device.py
  python/src/basecamp/oauth/errors.py
  python/tests/oauth/test_device.py
Due: none

device: bound Ruby device reads with a wall-clock deadline
  ruby/lib/basecamp/oauth/device_flow.rb
  ruby/test/basecamp/oauth_ssrf_test.rb
Due: none

device: close the abortable-sleep race (TypeScript)
  typescript/src/oauth/device.ts
Due: typescript-lint, typescript-typecheck

device: status-before-parse and normalize-once at entry (Ruby)
  ruby/lib/basecamp/oauth/device_flow.rb
Due: none

device: runtime-agnostic abort error and null verification_uri_complete (TS)
  typescript/src/oauth/device.ts
  typescript/tests/oauth/device.test.ts
Due: typescript-lint, typescript-typecheck

device: validate the normalize_timeout default and use the constant in delegators (Ruby)
  ruby/lib/basecamp/oauth.rb
  ruby/lib/basecamp/oauth/fetcher.rb
  ruby/test/basecamp/oauth_ssrf_test.rb
Due: none

device: backoff tracks the grown slow_down interval (Go)
  go/pkg/basecamp/oauth/device.go
  go/pkg/basecamp/oauth/device_test.go
Due: go-test-short

device: check status before parsing the Python device-auth response
  python/src/basecamp/oauth/device.py
  python/tests/oauth/test_device.py
Due: none

device: reject out-of-range caller durations at the poll entry (Go)
  go/pkg/basecamp/oauth/device.go
  go/pkg/basecamp/oauth/device_test.go
Due: go-test-short

device: reject out-of-range caller durations at the poll entry (Python)
  python/src/basecamp/oauth/device.py
  python/tests/oauth/test_device.py
Due: none

device: keep completed API faults non-retryable (Kotlin)
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/oauth/Device.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/oauth/Discovery.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/OAuthDeviceTest.kt
Due: none

device: share one body-cap policy across discovery, resource, and device flow (Ruby)
  ruby/lib/basecamp/oauth/discovery.rb
  ruby/lib/basecamp/oauth/fetcher.rb
  ruby/lib/basecamp/oauth/resource.rb
Due: none

device: normalize the body cap at the device entry points (Ruby)
  ruby/lib/basecamp/oauth/device_flow.rb
  ruby/lib/basecamp/oauth/fetcher.rb
  ruby/test/basecamp/oauth_device_test.rb
Due: none

device: normalize an empty token error and bound caller durations (Kotlin)
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/BasecampException.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/oauth/Device.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/OAuthDeviceTest.kt
Due: none

device: document the signal scope and clock fallback (TypeScript)
  typescript/src/oauth/device-login.ts
  typescript/src/oauth/device.ts
Due: typescript-lint, typescript-typecheck

device: keep huge ints on the usage path and normalize the body cap (Python)
  python/src/basecamp/oauth/device.py
  python/src/basecamp/oauth/discovery.py
  python/tests/oauth/test_device.py
Due: none

device: skip draining a body whose status is unused (Ruby)
  ruby/lib/basecamp/oauth/device_flow.rb
  ruby/lib/basecamp/oauth/fetcher.rb
  ruby/test/basecamp/oauth_device_test.rb
Due: none

device: classify completed skip-status responses by status for every adapter (Ruby)
  ruby/lib/basecamp/oauth/device_flow.rb
  ruby/lib/basecamp/oauth/fetcher.rb
  ruby/test/basecamp/oauth_device_test.rb
Due: none

device: complete the body-cap policy sentence (Ruby)
  ruby/lib/basecamp/oauth/fetcher.rb
Due: none

transport: map protocol-parse failures and drop the dead Faraday builder (Ruby)
  ruby/lib/basecamp/oauth/fetcher.rb
  ruby/test/basecamp/oauth_transport_test.rb
Due: none

transport: keep the worker-join grace small (Python)
  python/src/basecamp/oauth/_transport.py
Due: none

oauth: share the bounded worker transport with discovery (Python)
  python/src/basecamp/oauth/_transport.py
  python/src/basecamp/oauth/device.py
  python/src/basecamp/oauth/discovery.py
  python/tests/oauth/test_transport.py
Due: none

oauth: headers-first bounded transport as the default (Ruby)
  ruby/lib/basecamp/oauth/device_flow.rb
  ruby/lib/basecamp/oauth/discovery.rb
  ruby/lib/basecamp/oauth/fetcher.rb
  ruby/lib/basecamp/oauth/resource.rb
  ruby/test/basecamp/oauth_transport_test.rb
Due: none

transport: status dominates the discovery body (Python)
  python/src/basecamp/oauth/discovery.py
  python/tests/oauth/test_transport.py
Due: none

transport: status dominates the discovery body; verify TLS rejection (Ruby)
  ruby/lib/basecamp/oauth/fetcher.rb
  ruby/test/basecamp/oauth_transport_test.rb
Due: none

transport: fail fast on helper misuse (Ruby + Python)
  python/src/basecamp/oauth/_transport.py
  python/tests/oauth/test_transport.py
  ruby/lib/basecamp/oauth/fetcher.rb
  ruby/test/basecamp/oauth_transport_test.rb
Due: none

transport: bound and map the write phase too (Ruby)
  ruby/lib/basecamp/oauth/fetcher.rb
  ruby/test/basecamp/oauth_transport_test.rb
Due: none

transport: tolerate platform-specific peer-close errno in test servers (Ruby)
  ruby/test/basecamp/oauth_transport_test.rb
Due: none

transport: timeout-map ETIMEDOUT, default the form content type, status-only errors (Ruby)
  ruby/lib/basecamp/oauth/fetcher.rb
Due: none

transport: assert no leaked worker in the stalled-500 test (Python)
  python/tests/oauth/test_transport.py
Due: none

transport: fail closed on hostless endpoint URLs (Ruby)
  ruby/lib/basecamp/oauth/fetcher.rb
  ruby/test/basecamp/oauth_transport_test.rb
Due: none

transport: require the stdlib the primitive uses (Ruby)
  ruby/lib/basecamp/oauth/fetcher.rb
Due: none

Validate tool type in Go tool creation
  go/pkg/basecamp/tools.go
  go/pkg/basecamp/tools_test.go
Due: go-test-short

Round out tool create test coverage
  go/README.md
  python/tests/services/test_tools.py
  ruby/test/basecamp/services/tools_service_test.rb
  typescript/tests/services/tools.test.ts
Due: typescript-lint, typescript-typecheck

sync: repin provenance to bc3 master ba105ba7 (2026-07-22)
  go/pkg/basecamp/api-provenance.json
  go/pkg/basecamp/version.go
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/BasecampConfig.kt
  openapi.json
  python/src/basecamp/_version.py
  ruby/lib/basecamp/version.rb
  spec/api-provenance.json
  spec/basecamp.smithy
  swift/Sources/Basecamp/BasecampConfig.swift
  typescript/src/client.ts
  typescript/src/generated/openapi-stripped.json
Due: go-test-short, typescript-lint, typescript-typecheck

api-gaps: register the three post-train contracts from bc3 #12359
  spec/api-gaps/README.md
  spec/api-gaps/campfire-line-edit.md
  spec/api-gaps/schedule-recurrence-writes.md
  spec/api-gaps/search-filter-additions.md
  spec/api-gaps/todoset-direct-todo-create.md
Due: none

spec: modeled-surface doc/optionality fixes from the 2026-07-22 drift
  go/pkg/generated/client.gen.go
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/reports.kt
  openapi.json
  python/src/basecamp/generated/types.py
  ruby/lib/basecamp/generated/services/reports_service.rb
  ruby/lib/basecamp/generated/types.rb
  spec/basecamp.smithy
  swift/Sources/Basecamp/Generated/Models/OutOfOffice.swift
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/schema.d.ts
  typescript/src/generated/services/reports.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Path conditions:
  go-test-short: any of: \.go$
  typescript-lint: any of: ^typescript/.*\.(ts|tsx)$
  typescript-typecheck: any of: ^typescript/.*\.(ts|tsx)$
