Repository basecamp/basecamp-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-test-short, typescript-lint, typescript-typecheck

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
      - id: detect-private-key
      - id: check-case-conflict

  - repo: https://github.com/golangci/golangci-lint
    rev: v1.62.2
    hooks:
      - id: golangci-lint
        args: [--timeout=5m, --config=go/.golangci.yml]
        files: ^go/

  - repo: https://github.com/tekwizely/pre-commit-golang
    rev: v1.0.0-rc.1
    hooks:
      - id: go-fmt
        files: ^go/
      - id: go-vet
        files: ^go/
      - id: go-mod-tidy
        files: ^go/

  - repo: local
    hooks:
      - id: go-test-short
        name: go test -short
        entry: bash -c 'cd go && go test -short ./...'
        language: system
        pass_filenames: false
        types: [go]
        stages: [push]

      - id: typescript-lint
        name: typescript lint
        entry: bash -c 'cd typescript && npm run lint --if-present'
        language: system
        pass_filenames: false
        files: ^typescript/.*\.(ts|tsx)$
        stages: [commit]

      - id: typescript-typecheck
        name: typescript typecheck
        entry: bash -c 'cd typescript && npm run typecheck --if-present'
        language: system
        pass_filenames: false
        files: ^typescript/.*\.(ts|tsx)$
        stages: [push]

Raise the fast-uri override past the 4.x vulnerable range
  typescript/package-lock.json
  typescript/package.json
Due: none

Raise the fast-uri override past the 4.x vulnerable range (#624)
  typescript/package-lock.json
  typescript/package.json
Due: none

Registry: settle the recurrence pre-modeling gate and the dock-doors disposition
  spec/api-gaps/external-links-doors.md
  spec/api-gaps/schedule-recurrence-writes.md
  spec/bc3-route-allowlist.yml
Due: none

Align on the American spelling used throughout the file
  spec/api-gaps/schedule-recurrence-writes.md
Due: none

Registry: settle the recurrence pre-modeling gate and the dock-doors disposition (#627)
  spec/api-gaps/external-links-doors.md
  spec/api-gaps/schedule-recurrence-writes.md
  spec/bc3-route-allowlist.yml
Due: none

Refuse an absent or null description, and model color's null
  go/pkg/basecamp/todolists.go
  go/pkg/basecamp/todolists_test.go
  go/pkg/generated/client.gen.go
  openapi.json
  python/src/basecamp/generated/types.py
  python/src/basecamp/services/todolists.py
  python/tests/services/test_todolists_service.py
  ruby/lib/basecamp/generated/types.rb
  ruby/lib/basecamp/services/todolists_extensions.rb
  ruby/test/basecamp/services/todolists_service_test.rb
  spec/basecamp.smithy
  spec/smithy-build.json
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/schema.d.ts
  typescript/src/services/todolists-extensions.ts
  typescript/tests/services/todolists.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Route parity: hold `modeled_as` to a test, and demand the evidence it cannot check
  .github/workflows/test.yml
  Makefile
  scripts/check-bc3-route-parity
  scripts/test-check-bc3-route-parity.rb
  spec/bc3-route-allowlist.yml
Due: none

Regenerate after rebase onto #626
  ruby/lib/basecamp/generated/metadata.json
  ruby/lib/basecamp/generated/types.rb
  typescript/src/generated/metadata.ts
Due: typescript-lint, typescript-typecheck

Repin triage: 2c0dafba13..4dd2926f8a, six commits, one API change
  spec/api-gaps/README.md
  spec/doc-constants.json
Due: none

Carve-out-aware update/edit composites for Python, Ruby, TypeScript and Swift
  conformance/runner/python/runner.py
  conformance/runner/ruby/runner.rb
  conformance/runner/swift/Sources/ConformanceRunner/Dispatch.swift
  conformance/runner/typescript/runner.test.ts
  python/src/basecamp/async_client.py
  python/src/basecamp/client.py
  python/src/basecamp/services/__init__.py
  python/src/basecamp/services/_merge_safe.py
  python/src/basecamp/services/documents.py
  python/src/basecamp/services/schedules.py
  python/tests/services/test_schedules.py
  ruby/lib/basecamp.rb
  ruby/lib/basecamp/services/documents_extensions.rb
  ruby/lib/basecamp/services/merge_safe.rb
  ruby/lib/basecamp/services/schedules_extensions.rb
  ruby/test/basecamp/services/schedules_service_test.rb
  ruby/test/basecamp/zeitwerk_test.rb
  spec/fixtures/schedules/entry_get.json
  swift/Sources/Basecamp/SchedulesServiceExtensions.swift
  swift/Tests/BasecampTests/SchedulesServiceExtensionsTests.swift
  typescript/src/client.ts
  typescript/src/index.ts
  typescript/src/services/documents-extensions.ts
  typescript/src/services/merge-safe.ts
  typescript/src/services/schedules-extensions.ts
  typescript/tests/services/schedules.test.ts
Due: typescript-lint, typescript-typecheck

Document the ScheduleEntry replace contract in SPEC 5/18 and the spec
  SPEC.md
  go/pkg/generated/client.gen.go
  openapi.json
  ruby/lib/basecamp/generated/services/schedules_service.rb
  spec/basecamp.smithy
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/schema.d.ts
  typescript/src/generated/services/schedules.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Carve-out-aware update/edit composites for Go and Kotlin
  conformance/runner/go/main.go
  go/pkg/basecamp/schedules.go
  go/pkg/basecamp/schedules_test.go
  kotlin/conformance/src/main/kotlin/com/basecamp/sdk/conformance/Main.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/ServiceAccessors.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/services/SchedulesService.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/SchedulesServiceTest.kt
Due: go-test-short

Register the schedules composites in AGENTS.md; read-then-assign in the carve-out tests
  AGENTS.md
  typescript/tests/services/schedules.test.ts
Due: typescript-lint, typescript-typecheck

Emit Kotlin's SchedulesService as an open class and register the subclass
  kotlin/generator/src/main/kotlin/com/basecamp/sdk/generator/Config.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/schedules.kt
Due: none

Stop `make check` rewriting typescript/package-lock.json
  .github/workflows/test.yml
  CONTRIBUTING.md
  Makefile
  conformance/runner/typescript/package.json
  scripts/check-npm-lockfile-readonly
  typescript/package-lock.json
  typescript/package.json
Due: none

Gate: run in-process, reject unparsable npm, assert the SDK build is fresh
  Makefile
  conformance/runner/typescript/assert-sdk-built.mjs
  conformance/runner/typescript/package.json
  scripts/check-npm-lockfile-readonly
  scripts/test-check-npm-lockfile-readonly
Due: none

Fix the shared-node_modules race, invert the gate to an allowlist
  .github/workflows/test.yml
  Makefile
  conformance/runner/typescript/package.json
  scripts/check-npm-lockfile-readonly
  scripts/test-check-npm-lockfile-readonly
Due: none

Split attached shell operators; catch deleted sources in the freshness check
  .github/workflows/test.yml
  Makefile
  conformance/runner/typescript/assert-sdk-built.mjs
  scripts/check-npm-lockfile-readonly
  scripts/test-assert-sdk-built
  scripts/test-check-npm-lockfile-readonly
Due: none

Unwrap fully-quoted npm tokens, without reading inside quoted strings
  scripts/check-npm-lockfile-readonly
  scripts/test-check-npm-lockfile-readonly
Due: none

Fail closed on npm options the parser cannot classify
  scripts/check-npm-lockfile-readonly
  scripts/test-check-npm-lockfile-readonly
Due: none

Resolve quote-split command names; clean dist before rebuilding
  scripts/check-npm-lockfile-readonly
  scripts/test-check-npm-lockfile-readonly
  typescript/package.json
Due: none

Scan the argument of sh -c as code, not as a quoted string
  scripts/check-npm-lockfile-readonly
  scripts/test-check-npm-lockfile-readonly
Due: none

Scan whole multiline scripts; require proof the SDK build completed
  conformance/runner/typescript/assert-sdk-built.mjs
  scripts/check-npm-lockfile-readonly
  scripts/test-assert-sdk-built
  scripts/test-check-npm-lockfile-readonly
  typescript/package.json
Due: none

One option-skipper, so the audit lookahead cannot disagree with the scan
  scripts/check-npm-lockfile-readonly
  scripts/test-check-npm-lockfile-readonly
Due: none

Schedules: the carve-out seeds ARE guarded; correct the comment denying it
  ruby/lib/basecamp/services/schedules_extensions.rb
Due: none

Publish Todolist.color and comments_app_url as required
  go/pkg/generated/client.gen.go
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/models/Todolist.kt
  openapi.json
  python/src/basecamp/generated/types.py
  ruby/lib/basecamp/generated/types.rb
  spec/basecamp.smithy
  spec/overlays/examples.smithy
  spec/smithy-build.json
  swift/Sources/Basecamp/Generated/Models/Todolist.swift
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/schema.d.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Classify --workspaces as the boolean it is, not a value-taking flag
  scripts/check-npm-lockfile-readonly
  scripts/test-check-npm-lockfile-readonly
Due: none

Join backslash-newlines; count the lockfile as a build input
  conformance/runner/typescript/assert-sdk-built.mjs
  scripts/check-npm-lockfile-readonly
  scripts/test-assert-sdk-built
  scripts/test-check-npm-lockfile-readonly
Due: none

Schedules: the carve-out seeds ARE guarded; correct the comment denying it (#636)
  ruby/lib/basecamp/services/schedules_extensions.rb
Due: none

Carry color and comments_app_url through the todolist test bodies
  SPEC.md
  conformance/tests/todolists_write.json
  go/pkg/basecamp/todolists.go
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/TodolistsServiceTest.kt
  swift/Tests/BasecampTests/GeneratedServiceTests.swift
  swift/Tests/BasecampTests/TodolistsServiceExtensionsTests.swift
Due: go-test-short

Stop at inline comments, scan delegated Makefiles, fail on missing build inputs
  conformance/runner/typescript/assert-sdk-built.mjs
  scripts/check-npm-lockfile-readonly
  scripts/test-assert-sdk-built
  scripts/test-check-npm-lockfile-readonly
Due: none
