Repository basecamp/basecamp-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-test-short, typescript-lint, typescript-typecheck

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
      - id: detect-private-key
      - id: check-case-conflict

  - repo: https://github.com/golangci/golangci-lint
    rev: v1.62.2
    hooks:
      - id: golangci-lint
        args: [--timeout=5m, --config=go/.golangci.yml]
        files: ^go/

  - repo: https://github.com/tekwizely/pre-commit-golang
    rev: v1.0.0-rc.1
    hooks:
      - id: go-fmt
        files: ^go/
      - id: go-vet
        files: ^go/
      - id: go-mod-tidy
        files: ^go/

  - repo: local
    hooks:
      - id: go-test-short
        name: go test -short
        entry: bash -c 'cd go && go test -short ./...'
        language: system
        pass_filenames: false
        types: [go]
        stages: [push]

      - id: typescript-lint
        name: typescript lint
        entry: bash -c 'cd typescript && npm run lint --if-present'
        language: system
        pass_filenames: false
        files: ^typescript/.*\.(ts|tsx)$
        stages: [commit]

      - id: typescript-typecheck
        name: typescript typecheck
        entry: bash -c 'cd typescript && npm run typecheck --if-present'
        language: system
        pass_filenames: false
        files: ^typescript/.*\.(ts|tsx)$
        stages: [push]

Say what DialError can and cannot promise, and who enforces which half
  go/pkg/basecamp/eventfeed/seams.go
Due: go-test-short

Report a missing symlink instead of panicking over it
  go/pkg/basecamp/eventfeed/filestore_test.go
Due: go-test-short

Event feed: the store's corruption gate keeps its whole promise
  go/pkg/basecamp/eventfeed/filestore.go
  go/pkg/basecamp/eventfeed/filestore_test.go
Due: go-test-short

Negotiate the subprotocol case-sensitively
  go/pkg/basecamp/eventfeed/websocket_transport.go
  go/pkg/basecamp/eventfeed/websocket_transport_test.go
Due: go-test-short

Event feed: the store gates its keys on the way in, and its bytes on the way down
  go/pkg/basecamp/eventfeed/filestore.go
  go/pkg/basecamp/eventfeed/filestore_test.go
Due: go-test-short

Fix the error doc that still offered a rejected continuation's components
  go/pkg/basecamp/eventfeed/errors.go
Due: go-test-short

Event feed: bound the cable client's idle connections
  go/pkg/basecamp/eventfeed/transport_test.go
  go/pkg/basecamp/eventfeed/websocket_transport.go
Due: go-test-short

Event feed: the fake refuses an invalid limit before the stall or the context
  go/pkg/basecamp/eventfeed/feedtest/transport.go
  go/pkg/basecamp/eventfeed/feedtest/transport_test.go
  go/pkg/basecamp/eventfeed/transport_contract_test.go
Due: go-test-short

Annotate the connection lifetime's cancel for gosec G118
  go/pkg/basecamp/eventfeed/websocket_transport.go
Due: go-test-short

Event feed: a server selecting an unoffered subprotocol is policy, not weather
  go/pkg/basecamp/eventfeed/transport_test.go
  go/pkg/basecamp/eventfeed/websocket_transport.go
Due: go-test-short

Compare the refused selection exactly too
  go/pkg/basecamp/eventfeed/websocket_transport.go
Due: go-test-short

Event feed: refuse redirects at the RoundTripper, before Location exists
  go/pkg/basecamp/eventfeed/transport_test.go
  go/pkg/basecamp/eventfeed/websocket_transport.go
Due: go-test-short

Event feed: a malformed store key is corruption, not a missing checkpoint
  go/pkg/basecamp/eventfeed/filestore.go
  go/pkg/basecamp/eventfeed/filestore_test.go
Due: go-test-short

Event feed: a lost Stop race still deregisters the timer
  go/pkg/basecamp/eventfeed/clock.go
  go/pkg/basecamp/eventfeed/clock_test.go
Due: go-test-short

Event feed: say why the raw read failure is not the dial path, and pin it
  go/pkg/basecamp/eventfeed/websocket_transport.go
  go/pkg/basecamp/eventfeed/websocket_transport_test.go
Due: go-test-short

Event feed: a positive repair interval stays positive after jitter
  go/pkg/basecamp/eventfeed/backoff.go
  go/pkg/basecamp/eventfeed/backoff_test.go
Due: go-test-short

Event feed: the cable transport never consults a proxy
  go/pkg/basecamp/eventfeed/transport_test.go
  go/pkg/basecamp/eventfeed/websocket_transport.go
Due: go-test-short

Event feed: a corrupt store fails the load instead of mutating it
  go/pkg/basecamp/eventfeed/filestore.go
  go/pkg/basecamp/eventfeed/filestore_test.go
Due: go-test-short

Skip the directory sync on Windows, and drop a helper the lint flagged
  go/pkg/basecamp/eventfeed/filestore.go
  go/pkg/basecamp/eventfeed/transport_test.go
Due: go-test-short

Event feed: the refused redirect's origin is data, never a rendering
  go/pkg/basecamp/eventfeed/errors_test.go
  go/pkg/basecamp/eventfeed/seams.go
Due: go-test-short

Event feed: the frame codec binds exact keys and refuses escape-smuggled bytes
  go/pkg/basecamp/eventfeed/cable.go
  go/pkg/basecamp/eventfeed/cable_test.go
Due: go-test-short

Event feed: refuse out-of-bounds push events, and fail fake writes once a read has killed the connection
  go/pkg/basecamp/eventfeed/cable.go
  go/pkg/basecamp/eventfeed/cable_test.go
  go/pkg/basecamp/eventfeed/feedtest/transport.go
  go/pkg/basecamp/eventfeed/feedtest/transport_test.go
Due: go-test-short

Event feed: three store identities that could still drift, closed
  go/pkg/basecamp/eventfeed/filestore.go
  go/pkg/basecamp/eventfeed/filestore_test.go
Due: go-test-short

Event feed: mangled frame bytes are the parse shape, not a dialect
  go/pkg/basecamp/eventfeed/cable.go
  go/pkg/basecamp/eventfeed/cable_test.go
Due: go-test-short

Event feed: Save refuses what Load could never detect
  go/pkg/basecamp/eventfeed/filestore.go
  go/pkg/basecamp/eventfeed/filestore_test.go
Due: go-test-short

Event feed: pin the write path's peer-close interleaving as a tripwire
  go/pkg/basecamp/eventfeed/websocket_transport_test.go
Due: go-test-short

Event feed: a rejected continuation renders its violation class, nothing more
  go/pkg/basecamp/eventfeed/continuation.go
  go/pkg/basecamp/eventfeed/continuation_test.go
  go/pkg/basecamp/eventfeed/errors.go
  go/pkg/basecamp/eventfeed/errors_test.go
Due: go-test-short

Event feed: a duplicated frame member is ambiguity, not a preference
  go/pkg/basecamp/eventfeed/cable.go
  go/pkg/basecamp/eventfeed/cable_test.go
Due: go-test-short

Event feed: close two dial-policy gaps — fragments, and bare redirects
  go/pkg/basecamp/eventfeed/transport.go
  go/pkg/basecamp/eventfeed/transport_test.go
  go/pkg/basecamp/eventfeed/websocket_transport.go
Due: go-test-short

Fail the npm already-published check closed (#876)
  .github/workflows/release-typescript.yml
Due: none

fix(gauges): absorb five spec drifts from the contract bc3 serves (#853)
  MIGRATING.md
  SPEC.md
  go/pkg/basecamp/gauges.go
  go/pkg/basecamp/gauges_test.go
  go/pkg/basecamp/optional_presence_test.go
  go/pkg/generated/client.gen.go
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/Types.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/gauges.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/GaugesServiceTest.kt
  openapi.json
  python/src/basecamp/generated/services/gauges.py
  python/src/basecamp/generated/types.py
  python/tests/services/test_gauges_service.py
  ruby/lib/basecamp/generated/services/gauges_service.rb
  ruby/lib/basecamp/generated/types.rb
  rust/basecamp-sdk/src/generated/types.rs
  rust/basecamp-sdk/tests/services.rs
  scripts/enhance-openapi-go-types.sh
  spec/basecamp.smithy
  spec/fixtures/gauges/get_first_needle.json
  spec/fixtures/manifest.yaml
  swift/Sources/Basecamp/Generated/Models/GaugeNeedle.swift
  swift/Sources/Basecamp/Generated/Models/GaugeNeedleUpdatePayload.swift
  swift/Sources/Basecamp/Generated/Models/UpdateGaugeNeedleRequest.swift
  swift/Sources/BasecampPublicAPIConsumer/PublicAPIConsumer.swift
  swift/Tests/BasecampTests/GaugesServiceTests.swift
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/schema.d.ts
  typescript/src/generated/services/gauges.ts
  typescript/tests/services/gauges.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

conformance: a path-less requestBody assertion pins the whole body (#854)
  SPEC.md
  conformance/runner/go/main.go
  conformance/runner/python/runner.py
  conformance/runner/python/test_request_body.py
  conformance/runner/ruby/runner.rb
  conformance/runner/rust/src/assertions.rs
  conformance/runner/swift/Sources/ConformanceRunner/Assertions.swift
  conformance/runner/typescript/runner.test.ts
  conformance/schema.json
  conformance/tests/schedule_entries_write.json
  kotlin/conformance/src/main/kotlin/com/basecamp/sdk/conformance/Main.kt
  rust/basecamp-sdk/tests/composites_support/mod.rs
Due: go-test-short

Drive the generated Go retry test through its public client; map the TypeScript hook error
  go/pkg/generated/retry_after_test.go
  typescript/src/retry.ts
  typescript/src/services/base.ts
Due: go-test-short, typescript-lint, typescript-typecheck

fix(swift): honour Retry-After at every retried status
  swift/Sources/Basecamp/Download.swift
  swift/Sources/Basecamp/HTTP/HTTPClient.swift
  swift/Tests/BasecampTests/RetryTests.swift
Due: none

fix(typescript): honour Retry-After at every retried status
  typescript/src/download.ts
  typescript/src/errors.ts
  typescript/src/retry.ts
  typescript/src/services/base.ts
  typescript/tests/errors.test.ts
  typescript/tests/retry-after.test.ts
Due: typescript-lint, typescript-typecheck

fix(kotlin): honour Retry-After at every retried status
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/Download.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/http/BasecampHttpClient.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/RetryTest.kt
Due: none

spec(retry): pin the Retry-After contract and give conformance a clock
  SPEC.md
  conformance/runner/go/header_tokens.go
  conformance/runner/go/header_tokens_test.go
  conformance/runner/go/main.go
  conformance/runner/python/runner.py
  conformance/runner/python/test_header_tokens.py
  conformance/runner/ruby/header_tokens_test.rb
  conformance/runner/ruby/runner.rb
  conformance/runner/swift/Sources/ConformanceRunner/ScriptedTransport.swift
  conformance/runner/swift/Sources/ConformanceSupport/HeaderTokens.swift
  conformance/runner/swift/Tests/ConformanceSupportTests/HeaderTokensTests.swift
  conformance/runner/typescript/header-tokens.test.ts
  conformance/runner/typescript/header-tokens.ts
  conformance/runner/typescript/runner.test.ts
  conformance/schema.json
  conformance/tests/downloads.json
  conformance/tests/retry.json
  kotlin/conformance/src/main/kotlin/com/basecamp/sdk/conformance/HeaderTokens.kt
  kotlin/conformance/src/main/kotlin/com/basecamp/sdk/conformance/Main.kt
  kotlin/conformance/src/test/kotlin/com/basecamp/sdk/conformance/HeaderTokensTest.kt
Due: go-test-short

fix(python): round a Retry-After HTTP-date remainder up
  python/src/basecamp/errors.py
  python/tests/test_errors.py
  python/tests/test_http.py
Due: none

Hand the parsed Retry-After to the hook error, and true up three inventories
  SPEC.md
  ruby/README.md
  typescript/src/errors.ts
  typescript/src/retry.ts
  typescript/src/services/base.ts
  typescript/tests/retry-after.test.ts
Due: typescript-lint, typescript-typecheck

Carry RetryAfter on every Go error arm, bound the clock token, stub the Ruby sleep
  SPEC.md
  conformance/runner/go/header_tokens.go
  conformance/runner/go/header_tokens_test.go
  conformance/runner/python/runner.py
  conformance/runner/python/test_header_tokens.py
  conformance/runner/ruby/header_tokens_test.rb
  conformance/runner/ruby/runner.rb
  conformance/runner/swift/Sources/ConformanceSupport/HeaderTokens.swift
  conformance/runner/swift/Tests/ConformanceSupportTests/HeaderTokensTests.swift
  conformance/runner/typescript/header-tokens.test.ts
  conformance/runner/typescript/header-tokens.ts
  conformance/schema.json
  go/pkg/basecamp/client.go
  go/pkg/basecamp/errors.go
  go/pkg/basecamp/helpers.go
  go/pkg/generated/retry_after_test.go
  kotlin/conformance/src/main/kotlin/com/basecamp/sdk/conformance/HeaderTokens.kt
  kotlin/conformance/src/test/kotlin/com/basecamp/sdk/conformance/HeaderTokensTest.kt
  ruby/test/basecamp/http_extended_test.rb
Due: go-test-short
