Repository basecamp/basecamp-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-test-short, typescript-lint, typescript-typecheck

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
      - id: detect-private-key
      - id: check-case-conflict

  - repo: https://github.com/golangci/golangci-lint
    rev: v1.62.2
    hooks:
      - id: golangci-lint
        args: [--timeout=5m, --config=go/.golangci.yml]
        files: ^go/

  - repo: https://github.com/tekwizely/pre-commit-golang
    rev: v1.0.0-rc.1
    hooks:
      - id: go-fmt
        files: ^go/
      - id: go-vet
        files: ^go/
      - id: go-mod-tidy
        files: ^go/

  - repo: local
    hooks:
      - id: go-test-short
        name: go test -short
        entry: bash -c 'cd go && go test -short ./...'
        language: system
        pass_filenames: false
        types: [go]
        stages: [push]

      - id: typescript-lint
        name: typescript lint
        entry: bash -c 'cd typescript && npm run lint --if-present'
        language: system
        pass_filenames: false
        files: ^typescript/.*\.(ts|tsx)$
        stages: [commit]

      - id: typescript-typecheck
        name: typescript typecheck
        entry: bash -c 'cd typescript && npm run typecheck --if-present'
        language: system
        pass_filenames: false
        files: ^typescript/.*\.(ts|tsx)$
        stages: [push]

Guard the new Python and Ruby composites against the same coercion
  python/src/basecamp/services/todolists.py
  python/tests/services/test_todolists_service.py
  ruby/lib/basecamp/services/todolists_extensions.rb
  ruby/test/basecamp/services/todolists_service_test.rb
Due: none

Guard the TypeScript composite, and correct its safety classification
  typescript/src/services/todolists-extensions.ts
  typescript/tests/services/todolists.test.ts
Due: typescript-lint, typescript-typecheck

Classify a malformed response field as an API error, not caller misuse
  typescript/src/services/todolists-extensions.ts
  typescript/tests/services/todolists.test.ts
Due: typescript-lint, typescript-typecheck

Classify a composite's field errors by origin, not by value
  go/pkg/basecamp/todolists.go
  go/pkg/basecamp/todolists_test.go
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/services/TodolistsService.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/TodolistsServiceTest.kt
  python/src/basecamp/services/todolists.py
  python/tests/services/test_todolists_service.py
  ruby/lib/basecamp/services/todolists_extensions.rb
  ruby/test/basecamp/services/todolists_service_test.rb
  swift/Sources/Basecamp/TodolistsServiceExtensions.swift
  swift/Tests/BasecampTests/TodolistsServiceExtensionsTests.swift
  typescript/src/services/todolists-extensions.ts
  typescript/tests/services/todolists.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

SPEC: sanction the statusless api_error a composite raises on a malformed 2xx
  SPEC.md
Due: none

Close the caller half of the origin rule, and stop improvising statusless errors
  SPEC.md
  go/pkg/basecamp/todolists.go
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/BasecampException.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/services/TodolistsService.kt
  python/src/basecamp/services/todolists.py
  python/tests/services/test_todolists_service.py
  ruby/lib/basecamp/services/todolists_extensions.rb
  ruby/test/basecamp/services/todolists_service_test.rb
  typescript/src/services/todolists-extensions.ts
  typescript/tests/services/todolists.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

SPEC: say plainly how a Go caller clears a field
  SPEC.md
Due: none

Close the composite invariants by sweep instead of one language per round
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/services/TodolistsService.kt
  python/src/basecamp/services/todolists.py
  python/tests/services/test_todolists_service.py
  ruby/lib/basecamp/services/todolists_extensions.rb
  ruby/test/basecamp/services/todolists_service_test.rb
  swift/Sources/Basecamp/TodolistsServiceExtensions.swift
  swift/Tests/BasecampTests/TodolistsServiceExtensionsTests.swift
Due: none

Guard the malformed envelope and the error path that reports it
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/services/TodolistsService.kt
  python/src/basecamp/services/todolists.py
  python/tests/services/test_todolists_service.py
  ruby/lib/basecamp/services/todolists_extensions.rb
  ruby/test/basecamp/services/todolists_service_test.rb
  typescript/src/services/todolists-extensions.ts
  typescript/tests/services/todolists.test.ts
Due: typescript-lint, typescript-typecheck

Guard the envelope arm, closing the wire-to-value path as an enumeration
  python/src/basecamp/services/todolists.py
  python/tests/services/test_todolists_service.py
  ruby/lib/basecamp/services/todolists_extensions.rb
  ruby/test/basecamp/services/todolists_service_test.rb
  typescript/src/services/todolists-extensions.ts
  typescript/tests/services/todolists.test.ts
Due: typescript-lint, typescript-typecheck

Date the rubric audit for the day it was last changed
  rubric-audit.json
Due: none

Date the rubric audit for the day it was last changed (#579)
  rubric-audit.json
Due: none

Run the nine orphaned `make check` gates in CI, not just on developer machines
  .github/workflows/smithy-verify.yml
  .github/workflows/test.yml
Due: none

Run the nine orphaned `make check` gates in CI, not just on developer machines (#580)
  .github/workflows/smithy-verify.yml
  .github/workflows/test.yml
Due: none

Point RepositionTodolistGroup and ListForwards at routes bc3 actually serves
  Makefile
  conformance/runner/go/main.go
  conformance/runner/python/runner.py
  conformance/runner/ruby/runner.rb
  conformance/runner/swift/Sources/ConformanceRunner/Dispatch.swift
  conformance/runner/typescript/runner.test.ts
  conformance/tests/paths.json
  go/pkg/basecamp/url-routes.json
  go/pkg/generated/client.gen.go
  kotlin/conformance/src/main/kotlin/com/basecamp/sdk/conformance/Main.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/forwards.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/todolist-groups.kt
  openapi.json
  python/src/basecamp/generated/services/forwards.py
  python/src/basecamp/generated/services/todolist_groups.py
  ruby/lib/basecamp/generated/services/forwards_service.rb
  ruby/lib/basecamp/generated/services/todolist_groups_service.rb
  ruby/test/basecamp/services/forwards_service_test.rb
  ruby/test/basecamp/services/todolist_groups_service_test.rb
  scripts/bc3_route_normalizer.rb
  scripts/check-bc3-route-parity
  scripts/generate-bc3-routes
  spec/basecamp.smithy
  spec/bc3-route-allowlist.yml
  spec/bc3-routes.json
  swift/Sources/Basecamp/Generated/Services/ForwardsService.swift
  swift/Sources/Basecamp/Generated/Services/TodolistGroupsService.swift
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/path-mapping.ts
  typescript/src/generated/schema.d.ts
  typescript/src/generated/services/forwards.ts
  typescript/src/generated/services/todolist-groups.ts
  typescript/tests/services/forwards.test.ts
  typescript/tests/services/todolistGroups.test.ts
  typescript/tests/services/todolists.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Compare SDK routes to bc3 exactly; the bucket collapse was hiding nine 404s
  .github/workflows/test.yml
  scripts/bc3_route_normalizer.rb
  scripts/check-bc3-route-parity
  spec/bc3-route-allowlist.yml
Due: none

Fingerprint the route extractor so a stale table cannot pass offline
  Makefile
  scripts/bc3_route_normalizer.rb
  scripts/check-bc3-route-parity
  scripts/generate-bc3-routes
  spec/bc3-routes.json
Due: none

Fail extraction when any bc3 doc section yields zero routes
  scripts/generate-bc3-routes
  spec/bc3-routes.json
Due: none

Point RepositionTodolistGroup and ListForwards at routes bc3 actually serves (#586)
  .github/workflows/test.yml
  Makefile
  conformance/runner/go/main.go
  conformance/runner/python/runner.py
  conformance/runner/ruby/runner.rb
  conformance/runner/swift/Sources/ConformanceRunner/Dispatch.swift
  conformance/runner/typescript/runner.test.ts
  conformance/tests/paths.json
  go/pkg/basecamp/url-routes.json
  go/pkg/generated/client.gen.go
  kotlin/conformance/src/main/kotlin/com/basecamp/sdk/conformance/Main.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/forwards.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/todolist-groups.kt
  openapi.json
  python/src/basecamp/generated/services/forwards.py
  python/src/basecamp/generated/services/todolist_groups.py
  ruby/lib/basecamp/generated/services/forwards_service.rb
  ruby/lib/basecamp/generated/services/todolist_groups_service.rb
  ruby/test/basecamp/services/forwards_service_test.rb
  ruby/test/basecamp/services/todolist_groups_service_test.rb
  scripts/bc3_route_normalizer.rb
  scripts/check-bc3-route-parity
  scripts/generate-bc3-routes
  spec/basecamp.smithy
  spec/bc3-route-allowlist.yml
  spec/bc3-routes.json
  swift/Sources/Basecamp/Generated/Services/ForwardsService.swift
  swift/Sources/Basecamp/Generated/Services/TodolistGroupsService.swift
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/path-mapping.ts
  typescript/src/generated/schema.d.ts
  typescript/src/generated/services/forwards.ts
  typescript/src/generated/services/todolist-groups.ts
  typescript/tests/services/forwards.test.ts
  typescript/tests/services/todolistGroups.test.ts
  typescript/tests/services/todolists.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Give the backoff formula a ceiling in all six SDKs, and retry a Swift Transport's own network error
  SPEC.md
  go/pkg/basecamp/backoff_ceiling_test.go
  go/pkg/basecamp/client.go
  go/pkg/basecamp/http.go
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/http/BasecampHttpClient.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/RetryTest.kt
  python/src/basecamp/_async_http.py
  python/src/basecamp/_http.py
  python/src/basecamp/config.py
  python/tests/test_backoff_ceiling.py
  ruby/lib/basecamp/config.rb
  ruby/lib/basecamp/http.rb
  ruby/test/basecamp/backoff_ceiling_test.rb
  swift/Sources/Basecamp/HTTP/HTTPClient.swift
  swift/Tests/BasecampTests/BackoffCeilingTests.swift
  swift/Tests/BasecampTests/TransportNetworkErrorRetryTests.swift
  typescript/src/retry.ts
  typescript/src/services/base.ts
  typescript/tests/backoff-ceiling.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Folder writes declare FieldValidationError — the 422 they actually render
  go/pkg/basecamp/field_errors_service_test.go
  go/pkg/generated/client.gen.go
  openapi.json
  spec/basecamp.smithy
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/schema.d.ts
Due: go-test-short, typescript-lint, typescript-typecheck

SPEC §2: the per-op retry.max distribution counts the five Folders ops
  SPEC.md
Due: none

Swift conformance: read project_ids through the throwing intArray helper
  conformance/runner/swift/Sources/ConformanceRunner/Dispatch.swift
Due: none

Detect cancellation through the .network wrapper, and make the ceiling reachable from any base
  SPEC.md
  python/src/basecamp/config.py
  python/tests/test_backoff_ceiling.py
  ruby/lib/basecamp/config.rb
  ruby/test/basecamp/backoff_ceiling_test.rb
  swift/Sources/Basecamp/HTTP/HTTPClient.swift
  swift/Tests/BasecampTests/TransportNetworkErrorRetryTests.swift
  typescript/src/retry.ts
  typescript/tests/backoff-ceiling.test.ts
Due: typescript-lint, typescript-typecheck

Gate the doc constants that had silently drifted from their sources
  .github/workflows/test.yml
  AGENTS.md
  COORDINATION.md
  Makefile
  SPEC.md
  scripts/check-doc-constants.sh
  scripts/sync-api-version.sh
  scripts/sync-doc-constants.rb
  spec/api-gaps/README.md
  spec/doc-constants.json
Due: none

Count markers exactly, and catch a pin restatement that dropped its backticks
  .github/workflows/test.yml
  AGENTS.md
  Makefile
  scripts/sync-doc-constants.rb
  scripts/test-doc-constants.rb
  spec/doc-constants.json
Due: none

Bring the three drifted constants back in line with their sources
  SPEC.md
  spec/api-gaps/README.md
Due: none

Pin UTF-8 on every read, write and stream so the gate survives LC_ALL=C
  scripts/sync-doc-constants.rb
Due: none

Self-test the doc-constants gate against each failure mode it claims to catch
  .github/workflows/test.yml
  Makefile
  scripts/test-doc-constants.rb
Due: none

Address Codex review: forward the openapi argument, require the pin date
  AGENTS.md
  scripts/sync-api-version.sh
  scripts/sync-doc-constants.rb
Due: none

Keep the writer out of the narrative, and catch stale pins on the day they are written
  AGENTS.md
  SPEC.md
  scripts/sync-api-version.sh
  scripts/sync-doc-constants.rb
  spec/api-gaps/calendar.md
  spec/api-gaps/everything-tasks-aggregate.md
  spec/api-gaps/my-assignments-priorities.md
  spec/api-gaps/my-bookmarks.md
  spec/api-gaps/my-drafts.md
  spec/api-gaps/upload-new-version.md
  spec/doc-constants.json
Due: none

Bound the pin-citation grants by count, and record what the repin proved
  .github/workflows/test.yml
  AGENTS.md
  SPEC.md
  scripts/sync-doc-constants.rb
  scripts/test-doc-constants.rb
  spec/doc-constants.json
Due: none

Say the citation checks as conditional expressions
  scripts/sync-doc-constants.rb
Due: none

Derive the backoff exponent without overflowing its own arithmetic
  SPEC.md
  python/src/basecamp/config.py
  python/tests/test_backoff_ceiling.py
  ruby/lib/basecamp/config.rb
  ruby/test/basecamp/backoff_ceiling_test.rb
  typescript/src/retry.ts
  typescript/tests/backoff-ceiling.test.ts
Due: typescript-lint, typescript-typecheck

Read the pin inside compound code spans, where the ranges live
  scripts/sync-doc-constants.rb
  scripts/test-doc-constants.rb
  spec/doc-constants.json
Due: none

Document the range trap, in notation that does not spring it
  AGENTS.md
Due: none

Count citations, not lines that have one
  scripts/sync-doc-constants.rb
  scripts/test-doc-constants.rb
Due: none
