Repository basecamp/basecamp-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-test-short, typescript-lint, typescript-typecheck

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
      - id: detect-private-key
      - id: check-case-conflict

  - repo: https://github.com/golangci/golangci-lint
    rev: v1.62.2
    hooks:
      - id: golangci-lint
        args: [--timeout=5m, --config=go/.golangci.yml]
        files: ^go/

  - repo: https://github.com/tekwizely/pre-commit-golang
    rev: v1.0.0-rc.1
    hooks:
      - id: go-fmt
        files: ^go/
      - id: go-vet
        files: ^go/
      - id: go-mod-tidy
        files: ^go/

  - repo: local
    hooks:
      - id: go-test-short
        name: go test -short
        entry: bash -c 'cd go && go test -short ./...'
        language: system
        pass_filenames: false
        types: [go]
        stages: [push]

      - id: typescript-lint
        name: typescript lint
        entry: bash -c 'cd typescript && npm run lint --if-present'
        language: system
        pass_filenames: false
        files: ^typescript/.*\.(ts|tsx)$
        stages: [commit]

      - id: typescript-typecheck
        name: typescript typecheck
        entry: bash -c 'cd typescript && npm run typecheck --if-present'
        language: system
        pass_filenames: false
        files: ^typescript/.*\.(ts|tsx)$
        stages: [push]

Spec: rename UpdateTodo to ReplaceTodo, honest replace semantics
  behavior-model.json
  go/pkg/basecamp/api-provenance.json
  go/pkg/basecamp/url-routes.json
  go/pkg/basecamp/version.go
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/BasecampConfig.kt
  openapi.json
  python/src/basecamp/_version.py
  ruby/lib/basecamp/version.rb
  scripts/generate-behavior-model
  spec/api-provenance.json
  spec/basecamp-traits.smithy
  spec/basecamp.smithy
  spec/overlays/tags.smithy
  swift/Sources/Basecamp/BasecampConfig.swift
  typescript/src/client.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Generators: UpdateTodo → ReplaceTodo across all 5 pipelines + Go template
  go/pkg/generated/client.gen.go
  go/templates/client.tmpl
  kotlin/generator/src/main/kotlin/com/basecamp/sdk/generator/ClientAccessorEmitter.kt
  kotlin/generator/src/main/kotlin/com/basecamp/sdk/generator/Config.kt
  kotlin/generator/src/main/kotlin/com/basecamp/sdk/generator/ServiceEmitter.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/Metadata.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/ServiceAccessors.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/Types.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/todos.kt
  python/scripts/generate_services.py
  python/src/basecamp/generated/metadata.json
  python/src/basecamp/generated/services/todos.py
  python/src/basecamp/generated/types.py
  ruby/lib/basecamp/generated/metadata.json
  ruby/lib/basecamp/generated/services/todos_service.rb
  ruby/lib/basecamp/generated/types.rb
  ruby/scripts/generate-services.rb
  swift/Sources/Basecamp/Generated/Metadata.swift
  swift/Sources/Basecamp/Generated/Models/ReplaceTodoRequest.swift
  swift/Sources/Basecamp/Generated/Services/TodosService.swift
  swift/Sources/BasecampGenerator/MethodNaming.swift
  swift/Sources/BasecampGenerator/ServiceGrouper.swift
  typescript/scripts/generate-services.ts
  typescript/src/generated/metadata.ts
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/path-mapping.ts
  typescript/src/generated/schema.d.ts
  typescript/src/generated/services/todos.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Swift: merge-safe update and edit closure on TodosService
  swift/Sources/Basecamp/TodosServiceExtensions.swift
  swift/Tests/BasecampTests/TodosServiceExtensionsTests.swift
Due: none

Ruby: merge-safe update and edit block via prepended TodosExtensions
  ruby/lib/basecamp.rb
  ruby/lib/basecamp/services/todos_extensions.rb
  ruby/test/basecamp/services/todos_service_test.rb
  ruby/test/basecamp/zeitwerk_test.rb
Due: none

Python: merge-safe update and edit context manager on TodosService
  python/src/basecamp/async_client.py
  python/src/basecamp/client.py
  python/src/basecamp/services/__init__.py
  python/src/basecamp/services/todos.py
  python/tests/services/test_todos.py
Due: none

TypeScript: merge-safe update and edit callback on TodosService
  typescript/src/client.ts
  typescript/src/index.ts
  typescript/src/services/todos-extensions.ts
  typescript/tests/services/todos.test.ts
Due: typescript-lint, typescript-typecheck

Go: merge-safe Update, Edit closure, verbatim Replace for todos
  go/pkg/basecamp/todos.go
  go/pkg/basecamp/todos_test.go
Due: go-test-short

Kotlin: merge-safe update and edit receiver-lambda on TodosService
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated-compat/UpdateTodoBody.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/services/TodosService.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/TodosServiceTest.kt
Due: none

Conformance harness: request method/body assertions, indexed requestPath, method-agnostic queues
  SPEC.md
  conformance/runner/go/main.go
  conformance/runner/python/runner.py
  conformance/runner/ruby/runner.rb
  conformance/runner/typescript/runner.test.ts
  conformance/schema.json
  kotlin/conformance/src/main/kotlin/com/basecamp/sdk/conformance/Main.kt
Due: go-test-short

Conformance fixtures: todos_write merge/clear/replace cases
  conformance/tests/todos_write.json
Due: none

Bump version to 0.8.0
  go/pkg/basecamp/version.go
  kotlin/sdk/build.gradle.kts
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/BasecampConfig.kt
  package.json
  python/pyproject.toml
  python/src/basecamp/_version.py
  ruby/Gemfile.lock
  ruby/lib/basecamp/version.rb
  swift/Sources/Basecamp/BasecampConfig.swift
  typescript/package-lock.json
  typescript/package.json
  typescript/src/client.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Conformance: method invariant, strict absent-index, origin normalization
  conformance/runner/go/main.go
  conformance/runner/python/runner.py
  conformance/runner/ruby/runner.rb
  conformance/runner/typescript/runner.test.ts
  conformance/schema.json
  conformance/tests/paths.json
  kotlin/conformance/src/main/kotlin/com/basecamp/sdk/conformance/Main.kt
Due: go-test-short

Sync remaining lockfiles to 0.8.0 and gate release on frozen locks
  Makefile
  conformance/runner/typescript/package-lock.json
  python/uv.lock
  scripts/bump-version.sh
Due: none

Sanction conformance-tested composite methods in the architecture rules
  AGENTS.md
  SPEC.md
Due: none

Kotlin generator: reanchor VERB_PATTERNS KDoc
  kotlin/generator/src/main/kotlin/com/basecamp/sdk/generator/Config.kt
Due: none

Python: clear UsageError for None ID lists in edit; Go comment precision
  go/pkg/basecamp/todos.go
  python/src/basecamp/services/todos.py
  python/tests/services/test_todos.py
Due: go-test-short

Conformance: full TimesheetEntry mock bodies in the two paths fixtures
  conformance/tests/paths.json
Due: none

Ruby: clear UsageError for nil ID lists in the full-write path
  ruby/lib/basecamp/services/todos_extensions.rb
  ruby/test/basecamp/services/todos_service_test.rb
Due: none

conformance: declare the TS runner Node engine floor
  conformance/runner/typescript/package.json
Due: none

Conformance IPv6 origins; sanction Go's WithBody composite transport
  AGENTS.md
  SPEC.md
  conformance/runner/go/main.go
  conformance/runner/python/runner.py
  conformance/runner/typescript/runner.test.ts
  conformance/tests/paths.json
Due: go-test-short

deps: patch Vitest and Pygments security advisories (#373)
  conformance/runner/typescript/package-lock.json
  conformance/runner/typescript/package.json
  python/uv.lock
Due: none

spec(bc5): forward-compat additions + parallel BC4/BC5 provenance
  behavior-model.json
  go/pkg/basecamp/api-provenance.json
  openapi.json
  spec/api-provenance.json
  spec/basecamp.smithy
  spec/bucket-scoped-allowlist.txt
Due: none

build(make): add generate aggregator, parity lint, branch-aware sync-status
  .gitignore
  Makefile
  scripts/check-bucket-flat-parity.sh
  scripts/report-bc3-drift.sh
Due: none

docs(api-gaps): API gap registry + SDK↔BC3 coordination + validator
  CONTRIBUTING.md
  COORDINATION.md
  scripts/validate-api-gaps.rb
  scripts/validate-api-gaps.sh
  spec/api-gaps/README.md
  spec/api-gaps/activity-timeline.md
  spec/api-gaps/allowlist-schema.json
  spec/api-gaps/allowlist.yml
  spec/api-gaps/calendar.md
  spec/api-gaps/everything-aggregates.md
  spec/api-gaps/recordable-subtypes-doc.md
  spec/api-gaps/recording-bubbleupable-field.md
  spec/api-gaps/rich-text-project-attachable.md
  spec/api-gaps/schema.json
  spec/api-gaps/scratchpad.md
  spec/api-gaps/search-filter-additions.md
  spec/api-gaps/stack-doc-and-smithy.md
  spec/api-gaps/step-top-level.md
  spec/api-gaps/todoset-completed-list-visibility.md
Due: none

ts: regenerate from BC5 spec additions
  typescript/src/generated/metadata.ts
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/schema.d.ts
Due: typescript-lint, typescript-typecheck

kotlin: regenerate from BC5 spec additions
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/models/Person.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/models/Todo.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/models/Todoset.kt
Due: none

python: regenerate from BC5 spec additions
  python/src/basecamp/generated/types.py
Due: none

swift: regenerate from BC5 spec additions
  swift/Sources/Basecamp/Generated/Models/GetMyNotificationsResponseContent.swift
  swift/Sources/Basecamp/Generated/Models/Notification.swift
  swift/Sources/Basecamp/Generated/Models/Person.swift
  swift/Sources/Basecamp/Generated/Models/Todo.swift
  swift/Sources/Basecamp/Generated/Models/Todoset.swift
Due: none

ruby: regenerate from BC5 spec additions
  ruby/lib/basecamp/generated/metadata.json
  ruby/lib/basecamp/generated/types.rb
Due: none

typescript: pin fast-uri and brace-expansion via overrides
  typescript/package-lock.json
  typescript/package.json
Due: none

spec: address Copilot review threads on bucket-parity lint + brief
  scripts/check-bucket-flat-parity.sh
  spec/api-gaps/todoset-completed-list-visibility.md
Due: none

make: iterate compatibility provenance blocks generically in sync-status
  Makefile
Due: none

go: regenerate from BC5 spec additions
  go/pkg/generated/client.gen.go
Due: go-test-short

regen: reconcile generated artifacts after rebase onto main
  go.work.sum
  go/pkg/generated/client.gen.go
  openapi.json
  ruby/lib/basecamp/generated/metadata.json
  ruby/lib/basecamp/generated/types.rb
  typescript/src/generated/metadata.ts
  typescript/src/generated/openapi-stripped.json
Due: go-test-short, typescript-lint, typescript-typecheck

typescript: bump fast-uri, brace-expansion, js-yaml overrides for fresh advisories
  typescript/package-lock.json
  typescript/package.json
Due: none

make, scripts: address review threads on sync-status + parity lint
  Makefile
  scripts/check-bucket-flat-parity.sh
Due: none

make, scripts: second review round on sync-status + parity lint
  Makefile
  scripts/check-bucket-flat-parity.sh
Due: none

deps(actions): sync setup-uv version comment to v8.3.2 in release-python.yml
  .github/workflows/release-python.yml
Due: none
