Repository basecamp/basecamp-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-test-short, typescript-lint, typescript-typecheck

go-test-short:
  name: go test -short
  entry: bash -c 'cd go && go test -short ./...'
  language: system
  pass_filenames: false
  stages:
  - push

typescript-lint:
  name: typescript lint
  entry: bash -c 'cd typescript && npm run lint --if-present'
  language: system
  pass_filenames: false
  stages:
  - commit

typescript-typecheck:
  name: typescript typecheck
  entry: bash -c 'cd typescript && npm run typecheck --if-present'
  language: system
  pass_filenames: false
  stages:
  - push

Address review: unused imports, drop `as never`, tighten the tools create() assertion
  typescript/tests/services/checkins.test.ts
  typescript/tests/services/forwards.test.ts
  typescript/tests/services/search.test.ts
  typescript/tests/services/subscriptions.test.ts
  typescript/tests/services/todolistGroups.test.ts
  typescript/tests/services/tools.test.ts
Due: typescript-lint, typescript-typecheck

Address review: README floor, lockfile engines, and assert the error identities
  conformance/runner/typescript/package-lock.json
  typescript/README.md
  typescript/package-lock.json
  typescript/tests/client.test.ts
Due: typescript-lint, typescript-typecheck

kt drift gate: pass clean relative paths through Gradle --args
  scripts/check-kotlin-generated-drift.sh
Due: none

Correct the SearchResult generic-attachments carve-out: redundant projection, not a distinct aggregate (#464)
  go/pkg/generated/client.gen.go
  openapi.json
  spec/api-gaps/rich-text-attachments-coverage.md
  spec/basecamp.smithy
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/schema.d.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Ruby generator: keep multiline x-deprecated-reason from breaking types.rb (#471)
  ruby/scripts/generate-types.rb
  ruby/test/scripts/generate_types_test.rb
  ruby/test/test_helper.rb
Due: none

Make the TypeScript service tests' validation claims true (closes #455) (#475)
  typescript/tests/services/attachments.test.ts
  typescript/tests/services/checkins.test.ts
  typescript/tests/services/documents.test.ts
  typescript/tests/services/forwards.test.ts
  typescript/tests/services/lineup.test.ts
  typescript/tests/services/schedules.test.ts
  typescript/tests/services/search.test.ts
  typescript/tests/services/subscriptions.test.ts
  typescript/tests/services/templates.test.ts
  typescript/tests/services/todolistGroups.test.ts
  typescript/tests/services/tools.test.ts
  typescript/tests/services/uploads.test.ts
  typescript/tests/services/vaults.test.ts
  typescript/tests/services/webhooks.test.ts
Due: typescript-lint, typescript-typecheck

Address review: correct the pointer-flag direction, extend the guard to request bodies
  SPEC.md
  scripts/check-kotlin-optional-arrays-and-scalars.rb
Due: none

Address re-review: remaining Node declarations, timeout validation, faster handlers
  CONTRIBUTING.md
  conformance/runner/typescript/package-lock.json
  conformance/runner/typescript/package.json
  package.json
  typescript/src/client.ts
  typescript/tests/client.test.ts
Due: typescript-lint, typescript-typecheck

Address re-review: resolve aliased request bodies; reclassify the Go gap as static
  rubric-audit.json
  scripts/check-kotlin-optional-arrays-and-scalars.rb
Due: none

Address re-review: bound requestTimeoutMs to the range timers actually honor
  typescript/src/client.ts
  typescript/tests/client.test.ts
Due: typescript-lint, typescript-typecheck

Address re-review: restore the RawClient JSDoc, widen the timing cutoff
  typescript/src/client.ts
  typescript/tests/client.test.ts
Due: typescript-lint, typescript-typecheck

kt drift gate: pass clean relative paths through Gradle --args (#476)
  scripts/check-kotlin-generated-drift.sh
Due: none

Use catch + toMatchObject for the timeout-validation assertions
  typescript/tests/client.test.ts
Due: typescript-lint, typescript-typecheck

Cover every OpenAPI operation method when mapping request bodies
  scripts/check-kotlin-optional-arrays-and-scalars.rb
Due: none

Optional Fields: correct the Kotlin claim, extend the guard to scalars, scope the SPEC rule (#436) (#474)
  .github/workflows/test.yml
  Makefile
  SPEC.md
  rubric-audit.json
  scripts/check-kotlin-optional-arrays-and-scalars.rb
  scripts/check-kotlin-optional-arrays-and-scalars.sh
  scripts/check-kotlin-optional-arrays.rb
  scripts/check-kotlin-optional-arrays.sh
Due: none

TS: raise the Node support floor to >=22.12.0, simplify to AbortSignal.any (closes #421) (#469)
  CONTRIBUTING.md
  conformance/runner/typescript/package-lock.json
  conformance/runner/typescript/package.json
  package.json
  typescript/README.md
  typescript/package-lock.json
  typescript/package.json
  typescript/src/client.ts
  typescript/tests/client.test.ts
Due: typescript-lint, typescript-typecheck

Go: map HTTP 400 to validation (not api_error)
  SPEC.md
  conformance/tests/error-mapping.json
  go/pkg/basecamp/helpers.go
  go/pkg/basecamp/helpers_test.go
Due: go-test-short

Correct the cross-SDK ceiling rationale: Kotlin does expose a numeric cap
  SPEC.md
Due: none

Go: map HTTP 400 to validation (not api_error) (#482)
  SPEC.md
  conformance/tests/error-mapping.json
  go/pkg/basecamp/helpers.go
  go/pkg/basecamp/helpers_test.go
Due: go-test-short

Go: replay *WithBody request bodies across retries
  go/pkg/basecamp/account_service.go
  go/pkg/basecamp/generated_withbody_replay_test.go
  go/pkg/basecamp/helpers.go
  go/pkg/basecamp/helpers_test.go
  go/pkg/basecamp/projects_test.go
  go/pkg/generated/client.gen.go
  go/templates/client.tmpl
Due: go-test-short

Go: replay *WithBody request bodies across retries (#481)
  go/pkg/basecamp/account_service.go
  go/pkg/basecamp/generated_withbody_replay_test.go
  go/pkg/basecamp/helpers.go
  go/pkg/basecamp/helpers_test.go
  go/pkg/basecamp/projects_test.go
  go/pkg/generated/client.gen.go
  go/templates/client.tmpl
Due: go-test-short

CONTRIBUTING: release notes come from PR labels, not a CHANGELOG
  CONTRIBUTING.md
Due: none

Search stubs: send the payload BC3 actually sends
  ruby/test/basecamp/services/search_service_test.rb
  typescript/node_modules
  typescript/tests/services/search.test.ts
Due: typescript-lint, typescript-typecheck

Search: model content/description as required and nullable, add the plain-text excerpts
  go/pkg/basecamp/search.go
  go/pkg/basecamp/search_test.go
  go/pkg/generated/client.gen.go
  openapi.json
  python/src/basecamp/generated/types.py
  ruby/lib/basecamp/generated/metadata.json
  ruby/lib/basecamp/generated/types.rb
  spec/basecamp.smithy
  spec/fixtures/search/results.json
  spec/smithy-build.json
  swift/Sources/Basecamp/Generated/Models/SearchResult.swift
  swift/Tests/BasecampTests/SearchResultDecodeTests.swift
  typescript/src/generated/metadata.ts
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/schema.d.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Drop the committed node_modules symlink; finish the Ruby SearchResult stubs
  .gitignore
  ruby/test/basecamp/generated_types_test.rb
  ruby/test/basecamp/services/search_service_test.rb
  typescript/.gitignore
  typescript/node_modules
Due: none

Retry docs: correct the mutation and 401 claims, add Python to the roster
  SECURITY.md
  SPEC.md
Due: none

CONTRIBUTING: release notes come from PR labels, not a CHANGELOG (#490)
  CONTRIBUTING.md
Due: none

Search: model content/description as required and nullable, add the plain-text excerpts (#487)
  .gitignore
  go/pkg/basecamp/search.go
  go/pkg/basecamp/search_test.go
  go/pkg/generated/client.gen.go
  openapi.json
  python/src/basecamp/generated/types.py
  ruby/lib/basecamp/generated/metadata.json
  ruby/lib/basecamp/generated/types.rb
  ruby/test/basecamp/generated_types_test.rb
  ruby/test/basecamp/services/search_service_test.rb
  spec/basecamp.smithy
  spec/fixtures/search/results.json
  spec/smithy-build.json
  swift/Sources/Basecamp/Generated/Models/SearchResult.swift
  swift/Tests/BasecampTests/SearchResultDecodeTests.swift
  typescript/.gitignore
  typescript/src/generated/metadata.ts
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/schema.d.ts
  typescript/tests/services/search.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Absorb bubble_up_url across the four shapes that carry it
  go/pkg/basecamp/recordings.go
  go/pkg/basecamp/recordings_test.go
  go/pkg/basecamp/search.go
  go/pkg/basecamp/search_test.go
  go/pkg/basecamp/todolist_groups.go
  go/pkg/basecamp/todolists.go
  go/pkg/generated/client.gen.go
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/models/Recording.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/models/Todolist.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/models/TodolistGroup.kt
  openapi.json
  python/src/basecamp/generated/types.py
  ruby/lib/basecamp/generated/metadata.json
  ruby/lib/basecamp/generated/types.rb
  spec/api-gaps/recording-bubbleupable-field.md
  spec/basecamp.smithy
  spec/fixtures/manifest.yaml
  spec/fixtures/recordings/list.json
  spec/fixtures/search/results.json
  spec/fixtures/todolist_groups/get.json
  spec/fixtures/todolist_groups/list.json
  spec/fixtures/todolists/get.json
  spec/fixtures/todolists/list.json
  spec/overlays/examples.smithy
  swift/Sources/Basecamp/Generated/Models/Recording.swift
  swift/Sources/Basecamp/Generated/Models/SearchResult.swift
  swift/Sources/Basecamp/Generated/Models/Todolist.swift
  swift/Sources/Basecamp/Generated/Models/TodolistGroup.swift
  typescript/src/generated/metadata.ts
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/schema.d.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Correct the delay-assertion fix: Node timers fire early, not just imprecisely
  conformance/runner/typescript/runner.test.ts
Due: none

Make the invented Todolist fixtures self-consistent; fix the TS delay flake
  conformance/runner/typescript/runner.test.ts
  spec/fixtures/recordings/list.json
  spec/fixtures/search/results.json
Due: none

Todolist stubs: stop contradicting the now-required bubble_up_url
  python/tests/services/test_todolists_service.py
  ruby/test/basecamp/services/todolists_service_test.rb
  typescript/tests/services/todolists.test.ts
Due: typescript-lint, typescript-typecheck

Absorb bubble_up_url across the four shapes that carry it (#488)
  conformance/runner/typescript/runner.test.ts
  go/pkg/basecamp/recordings.go
  go/pkg/basecamp/recordings_test.go
  go/pkg/basecamp/search.go
  go/pkg/basecamp/search_test.go
  go/pkg/basecamp/todolist_groups.go
  go/pkg/basecamp/todolists.go
  go/pkg/generated/client.gen.go
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/models/Recording.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/models/Todolist.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/models/TodolistGroup.kt
  openapi.json
  python/src/basecamp/generated/types.py
  python/tests/services/test_todolists_service.py
  ruby/lib/basecamp/generated/metadata.json
  ruby/lib/basecamp/generated/types.rb
  ruby/test/basecamp/services/todolists_service_test.rb
  spec/api-gaps/recording-bubbleupable-field.md
  spec/basecamp.smithy
  spec/fixtures/manifest.yaml
  spec/fixtures/recordings/list.json
  spec/fixtures/search/results.json
  spec/fixtures/todolist_groups/get.json
  spec/fixtures/todolist_groups/list.json
  spec/fixtures/todolists/get.json
  spec/fixtures/todolists/list.json
  spec/overlays/examples.smithy
  swift/Sources/Basecamp/Generated/Models/Recording.swift
  swift/Sources/Basecamp/Generated/Models/SearchResult.swift
  swift/Sources/Basecamp/Generated/Models/Todolist.swift
  swift/Sources/Basecamp/Generated/Models/TodolistGroup.swift
  typescript/src/generated/metadata.ts
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/schema.d.ts
  typescript/tests/services/todolists.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Cards: merge-safe update composite in the remaining five SDKs
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/services/CardsService.kt
  python/src/basecamp/async_client.py
  python/src/basecamp/client.py
  python/src/basecamp/services/cards.py
  ruby/lib/basecamp.rb
  ruby/lib/basecamp/services/cards_extensions.rb
  swift/Sources/Basecamp/CardsServiceExtensions.swift
  typescript/src/client.ts
  typescript/src/index.ts
  typescript/src/services/cards-extensions.ts
Due: typescript-lint, typescript-typecheck

Cards: conformance, Swift mirror, and the spec for the merge-safe update
  AGENTS.md
  SPEC.md
  conformance/runner/go/main.go
  conformance/runner/python/runner.py
  conformance/runner/ruby/runner.rb
  conformance/runner/typescript/runner.test.ts
  conformance/tests/cards_write.json
  kotlin/conformance/src/main/kotlin/com/basecamp/sdk/conformance/Main.kt
  ruby/test/basecamp/services/cards_service_test.rb
  swift/Tests/BasecampTests/CardsServiceExtensionsTests.swift
  typescript/tests/services/cards.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Cards: give the plain update name to a merge-safe composite (Gate A + Go)
  go/pkg/basecamp/cards.go
  go/pkg/basecamp/cards_test.go
  go/pkg/generated/client.gen.go
  go/templates/client.tmpl
  kotlin/generator/src/main/kotlin/com/basecamp/sdk/generator/Config.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/ServiceAccessors.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/cards.kt
  python/scripts/generate_services.py
  python/src/basecamp/generated/services/cards.py
  ruby/lib/basecamp/generated/services/cards_service.rb
  ruby/scripts/generate-services.rb
  swift/Sources/Basecamp/Generated/Services/CardsService.swift
  swift/Sources/BasecampGenerator/MethodNaming.swift
  typescript/scripts/generate-services.ts
  typescript/src/generated/services/cards.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Cards: complete the presence/clear proof matrix and fix the Go runner
  conformance/runner/go/main.go
  conformance/tests/cards_write.json
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/CardsServiceTest.kt
  python/tests/services/test_cards.py
Due: go-test-short

Retry docs: correct the mutation and 401 claims, add Python to the roster (#484)
  SECURITY.md
  SPEC.md
Due: none

Path conditions:
  go-test-short: any of: \.go$
  typescript-lint: any of: ^typescript/.*\.(ts|tsx)$
  typescript-typecheck: any of: ^typescript/.*\.(ts|tsx)$
