Repository basecamp/basecamp-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-test-short, typescript-lint, typescript-typecheck

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
      - id: detect-private-key
      - id: check-case-conflict

  - repo: https://github.com/golangci/golangci-lint
    rev: v1.62.2
    hooks:
      - id: golangci-lint
        args: [--timeout=5m, --config=go/.golangci.yml]
        files: ^go/

  - repo: https://github.com/tekwizely/pre-commit-golang
    rev: v1.0.0-rc.1
    hooks:
      - id: go-fmt
        files: ^go/
      - id: go-vet
        files: ^go/
      - id: go-mod-tidy
        files: ^go/

  - repo: local
    hooks:
      - id: go-test-short
        name: go test -short
        entry: bash -c 'cd go && go test -short ./...'
        language: system
        pass_filenames: false
        types: [go]
        stages: [push]

      - id: typescript-lint
        name: typescript lint
        entry: bash -c 'cd typescript && npm run lint --if-present'
        language: system
        pass_filenames: false
        files: ^typescript/.*\.(ts|tsx)$
        stages: [commit]

      - id: typescript-typecheck
        name: typescript typecheck
        entry: bash -c 'cd typescript && npm run typecheck --if-present'
        language: system
        pass_filenames: false
        files: ^typescript/.*\.(ts|tsx)$
        stages: [push]

Report an anonymous embed the timestamp walk cannot resolve, instead of skipping it (#790)
  go/pkg/basecamp/optional_timestamps_test.go
  scripts/check-wrapper-drift/main.go
Due: go-test-short

Pin the conformance runners' fixture reads, and give CI a leg that can see them break (#791)
  .github/workflows/test.yml
  conformance/runner/python/replay_runner.py
  conformance/runner/python/runner.py
  conformance/runner/python/schema_walker.py
  conformance/runner/python/test_replay_runner.py
  conformance/runner/ruby/replay-runner.rb
  conformance/runner/ruby/runner.rb
Due: none

SPEC §6: decide which statuses honour Retry-After, and how each loop composes it (#793)
  SPEC.md
Due: none

Deflake three tests that raced a wall clock, and gate the class that produced two of them (#794)
  .github/workflows/test.yml
  CONTRIBUTING.md
  Makefile
  ruby/test/basecamp/oauth_transport_test.rb
  typescript/lint-rules/no-timer-scheduled-abort.js
  typescript/lint-rules/oxlintrc.json
  typescript/lint-rules/test-no-timer-scheduled-abort.mjs
  typescript/package.json
  typescript/tests/middleware-lifecycle.test.ts
Due: typescript-lint, typescript-typecheck

Clear the three [PENDING #796] markers SPEC carried for this PR, now that it is what lands
  SPEC.md
Due: none

Let Go's raw GET retry loop see the Retry-After it already parses (#796)
  MIGRATING.md
  SPEC.md
  go/pkg/basecamp/client.go
  go/pkg/basecamp/client_retry_after_test.go
  go/pkg/basecamp/download.go
  go/pkg/basecamp/download_test.go
  go/pkg/basecamp/errors.go
  go/pkg/basecamp/helpers.go
  go/pkg/basecamp/http.go
Due: go-test-short

Document the issuer address policy in the Go README
  go/README.md
Due: none

Use the https spelling in the README's legacy-numeric example
  go/README.md
Due: none

Make the issuer-policy toggles last-wins
  go/pkg/basecamp/oauth/discovery.go
  go/pkg/basecamp/oauth/issuer_policy_test.go
Due: go-test-short

Quiet known-noise CodeQL alerts without losing coverage
  .github/codeql/codeql-config.yml
  .github/workflows/codeql.yml
Due: none

Single-source the SARIF filter so its test can't drift
  .github/codeql/sarif-filter.jq
  .github/codeql/test-sarif-filter.sh
  .github/codeql/testdata/sarif-filter-fixture.json
  .github/workflows/codeql.yml
Due: none

Stop the nosec notes claiming these endpoints are caller-configured
  go/pkg/basecamp/oauth/device.go
  go/pkg/basecamp/oauth/exchange.go
Due: go-test-short

Make the release guide and guards tell the truth before v0.15.0
  .github/workflows/release-github.yml
  MIGRATING.md
  Makefile
Due: none

Judge the advertised OAuth issuer's address, not just its spelling (#804)
  SPEC.md
  go/README.md
  go/go.mod
  go/go.sum
  go/pkg/basecamp/oauth/device.go
  go/pkg/basecamp/oauth/discovery.go
  go/pkg/basecamp/oauth/exchange.go
  go/pkg/basecamp/oauth/issuer_policy_test.go
  go/pkg/basecamp/oauth/resource_discovery_test.go
  go/pkg/basecamp/oauth/types.go
Due: go-test-short

Quiet known-noise CodeQL alerts without losing coverage (#807)
  .github/codeql/codeql-config.yml
  .github/codeql/sarif-filter.jq
  .github/codeql/test-sarif-filter.sh
  .github/codeql/testdata/sarif-filter-fixture.json
  .github/workflows/codeql.yml
Due: none

Event feed: own the ledger's bytes, cap the dial rendering, test the store fake
  go/pkg/basecamp/eventfeed/errors_test.go
  go/pkg/basecamp/eventfeed/feedtest/polls.go
  go/pkg/basecamp/eventfeed/feedtest/polls_test.go
  go/pkg/basecamp/eventfeed/feedtest/store_test.go
  go/pkg/basecamp/eventfeed/seams.go
Due: go-test-short

Event feed: cancellation could not reach the one exit, and the origin was checked after the mangle
  go/pkg/basecamp/eventfeed/connector.go
  go/pkg/basecamp/eventfeed/connector_test.go
  go/pkg/basecamp/eventfeed/loop.go
Due: go-test-short

Absorb the bot round: exact guards, honest scope, the missing Ruby entry
  .github/workflows/release-github.yml
  MIGRATING.md
  Makefile
Due: none

Take five review findings on the tier-2 corrections, and decline one
  .triage.md
  SPEC.md
  conformance/event-feed/README.md
  go/pkg/basecamp/eventfeed/buffer_test.go
  go/pkg/basecamp/eventfeed/catchup.go
  go/pkg/basecamp/eventfeed/catchup_test.go
  go/pkg/basecamp/eventfeed/feedtest/clock.go
  go/pkg/basecamp/eventfeed/feedtest/clock_test.go
  go/pkg/basecamp/eventfeed/scenario_conformance_test.go
  python/src/basecamp/services/todolists.py
  python/tests/services/test_todolists_service.py
  ruby/lib/basecamp/services/todolists_extensions.rb
  ruby/test/basecamp/services/todolists_service_test.rb
  scripts/check-known-defect-issues-open
  scripts/test-check-known-defect-issues-open
  spec/tracking-issues.yml
Due: go-test-short

Refuse redirects on the signed download hop in every SDK
  MIGRATING.md
  SPEC.md
  conformance/tests/downloads.json
  go/pkg/basecamp/download.go
  go/pkg/basecamp/download_test.go
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/Download.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/DownloadTest.kt
  python/src/basecamp/download.py
  python/tests/test_download.py
  ruby/lib/basecamp/client.rb
  ruby/test/basecamp/download_test.rb
  swift/Sources/Basecamp/Download.swift
  swift/Sources/Basecamp/HTTP/HTTPClient.swift
  swift/Tests/BasecampTests/DownloadTests.swift
  swift/Tests/BasecampTests/Support/MockTransport.swift
  typescript/src/download.ts
  typescript/tests/download.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Scope the Ruby entry's no-request claim to the rejected target
  MIGRATING.md
Due: none

Say which statuses the signed hop refuses, not "a 3xx"
  MIGRATING.md
  SPEC.md
  conformance/tests/downloads.json
  go/pkg/basecamp/download.go
  go/pkg/basecamp/download_test.go
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/Download.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/DownloadTest.kt
  python/src/basecamp/download.py
  python/tests/test_download.py
  ruby/lib/basecamp/client.rb
  ruby/test/basecamp/download_test.rb
  swift/Sources/Basecamp/Download.swift
  swift/Sources/Basecamp/HTTP/HTTPClient.swift
  swift/Tests/BasecampTests/DownloadTests.swift
  typescript/src/download.ts
  typescript/tests/download.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Block Swift download redirects on the caller's session, not a one-shot copy
  swift/Sources/Basecamp/HTTP/Transport.swift
Due: none

Absorb Codex round 3: getter scope, PATH-spec anchor, test-import claim
  MIGRATING.md
  Makefile
Due: none

Event feed: close the rendering-cap class, type the oversize rejection
  go/pkg/basecamp/eventfeed/errors.go
  go/pkg/basecamp/eventfeed/errors_test.go
  go/pkg/basecamp/eventfeed/feedtest/polls.go
  go/pkg/basecamp/eventfeed/feedtest/polls_test.go
  go/pkg/basecamp/eventfeed/seams.go
  go/pkg/basecamp/eventfeed/websocket_transport.go
  go/pkg/basecamp/eventfeed/websocket_transport_test.go
Due: go-test-short

Event feed: the oversize verdict survived the seam but not the sanitizer
  go/pkg/basecamp/eventfeed/feedtest/transport.go
  go/pkg/basecamp/eventfeed/loop.go
  go/pkg/basecamp/eventfeed/loop_test.go
  go/pkg/basecamp/eventfeed/seams.go
Due: go-test-short

Read the JSON versions as fields, and check both Gemfile.lock records
  Makefile
Due: none

Refuse redirects on the signed download hop in every SDK (#809)
  MIGRATING.md
  SPEC.md
  conformance/tests/downloads.json
  go/pkg/basecamp/download.go
  go/pkg/basecamp/download_test.go
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/Download.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/DownloadTest.kt
  python/src/basecamp/download.py
  python/tests/test_download.py
  ruby/lib/basecamp/client.rb
  ruby/test/basecamp/download_test.rb
  swift/Sources/Basecamp/Download.swift
  swift/Sources/Basecamp/HTTP/HTTPClient.swift
  swift/Sources/Basecamp/HTTP/Transport.swift
  swift/Tests/BasecampTests/DownloadTests.swift
  swift/Tests/BasecampTests/Support/MockTransport.swift
  typescript/src/download.ts
  typescript/tests/download.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Police the endpoints a discovered issuer names, not only the issuer (#806)
  MIGRATING.md
  SPEC.md
  go/README.md
  go/pkg/basecamp/oauth/device.go
  go/pkg/basecamp/oauth/discovery.go
  go/pkg/basecamp/oauth/endpoint_policy_test.go
  go/pkg/basecamp/oauth/exchange.go
Due: go-test-short

Scope requirement 6 to the flows that implement it, and stop overclaiming uniform timeouts
  SPEC.md
Due: none

Police the endpoints a discovered issuer names, not only the issuer (#810)
  MIGRATING.md
  SPEC.md
  go/README.md
  go/pkg/basecamp/oauth/device.go
  go/pkg/basecamp/oauth/discovery.go
  go/pkg/basecamp/oauth/endpoint_policy_test.go
  go/pkg/basecamp/oauth/exchange.go
Due: go-test-short

Back the tracking registry with a detector for its canonical grammar
  scripts/check-known-defect-issues-open
  scripts/test-check-known-defect-issues-open
  spec/tracking-issues.yml
Due: none

Absorb the four main merges and Codex round 5
  MIGRATING.md
  Makefile
Due: none

Make the fake transport honour the oversize sentinel it mirrors
  go/pkg/basecamp/eventfeed/feedtest/transport.go
  go/pkg/basecamp/eventfeed/feedtest/transport_test.go
Due: go-test-short

Event feed: wakes are not verdicts, and three more places the order was the bug
  AGENTS.md
  go/pkg/basecamp/eventfeed/catchup.go
  go/pkg/basecamp/eventfeed/catchup_test.go
  go/pkg/basecamp/eventfeed/connector.go
  go/pkg/basecamp/eventfeed/continuation.go
  go/pkg/basecamp/eventfeed/continuation_test.go
  go/pkg/basecamp/eventfeed/loop.go
  go/pkg/basecamp/eventfeed/loop_test.go
Due: go-test-short

Guard the heading promotion, and fix two entry misstatements
  MIGRATING.md
  Makefile
  scripts/bump-version.sh
  scripts/promote-migrating.sh
Due: none

Close the third round on the registry: leader by class, ceiling by lane
  SPEC.md
  go/pkg/basecamp/eventfeed/buffer_test.go
  go/pkg/basecamp/eventfeed/catchup.go
  go/pkg/basecamp/eventfeed/catchup_test.go
  scripts/check-known-defect-issues-open
  scripts/test-check-known-defect-issues-open
  spec/tracking-issues.yml
Due: go-test-short

Watch promote-migrating.sh with the gate that watches its caller
  .github/workflows/sensitive-change-gate.yml
Due: none

Event feed: a policy reason never echoes what the server wrote
  go/pkg/basecamp/eventfeed/errors_test.go
  go/pkg/basecamp/eventfeed/transport.go
  go/pkg/basecamp/eventfeed/transport_test.go
Due: go-test-short

Fix the filters-clone comment that stated the opposite of the code
  go/pkg/basecamp/eventfeed/filters_test.go
Due: go-test-short
