Repository basecamp/basecamp-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-test-short, typescript-lint, typescript-typecheck

go-test-short:
  name: go test -short
  entry: bash -c 'cd go && go test -short ./...'
  language: system
  pass_filenames: false
  stages:
  - push

typescript-lint:
  name: typescript lint
  entry: bash -c 'cd typescript && npm run lint --if-present'
  language: system
  pass_filenames: false
  stages:
  - commit

typescript-typecheck:
  name: typescript typecheck
  entry: bash -c 'cd typescript && npm run typecheck --if-present'
  language: system
  pass_filenames: false
  stages:
  - push

Add doc comments to CreateCampfireUpload name and data params
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/campfires.kt
  openapi.json
  ruby/lib/basecamp/generated/services/campfires_service.rb
  spec/basecamp.smithy
  typescript/src/generated/metadata.json
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/schema.d.ts
  typescript/src/generated/services/campfires.ts
Due: typescript-lint, typescript-typecheck

fix(spec): use correct query param name `q` for Search, remove `page`
  go/pkg/generated/client.gen.go
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/Types.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/search.kt
  openapi.json
  ruby/lib/basecamp/generated/metadata.json
  ruby/lib/basecamp/generated/services/search_service.rb
  ruby/lib/basecamp/generated/types.rb
  spec/basecamp.smithy
  swift/Sources/Basecamp/Generated/Services/SearchService.swift
  typescript/src/generated/metadata.json
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/schema.d.ts
  typescript/src/generated/services/search.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Notes added by 'git notes add'
  ec2ced8442912bdd6006a54aac0e513deb6b8f00
Due: none

fix: update hand-written wrappers and tests for Search q param rename
  go/pkg/basecamp/search.go
  go/pkg/basecamp/zero_value_params_test.go
  ruby/lib/basecamp/services/search_service.rb
  ruby/test/basecamp/services/search_service_test.rb
  typescript/tests/services/search.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Notes added by 'git notes add'
  670d94822994da17f7d1b817a3efcf1b36be713d
Due: none

Notes added by 'git notes add'
  e16e177aaea8ffe329e4162804c21b3bc28c82ca
Due: none

fix(ruby): align hand-written SearchService signature with generated q: param
  ruby/lib/basecamp/services/search_service.rb
Due: none

Address PR review feedback
  conformance/runner/go/main.go
  go/pkg/basecamp/timeline.go
  go/pkg/basecamp/timeline_test.go
Due: go-test-short

Notes added by 'git notes add'
  cd46f1c120ad396fc355215041a57f271eed63c7
Due: none

Notes added by 'git notes add'
  0ec8d4679dbde5cc13e5e718d4cdc043add2fa9e
Due: none

Notes added by 'git notes add'
  5a1870424f4590dbd5ef424ee62bebcfaf19bed6
Due: none

Notes added by 'git notes add'
  86d48a2108492b91d0c14cbc92ddc86c9e6731eb
Due: none

Notes added by 'git notes add'
  2d3275ae8bb3008f9d66e17a56369b519056b522
Due: none

Add types.FlexInt for integer fields encoded as floats on the wire
  go/pkg/types/flexint.go
  go/pkg/types/flexint_test.go
Due: go-test-short

Notes added by 'git notes add'
  9594bee759780501d0dba967232a71f1fc1fddf7
Due: none

Notes added by 'git notes add'
  91fd6d26754e05660d5052a41447b4b12603e874
Due: none

Notes added by 'git notes add'
  7e3d7426c1f72535c8cd31a23bc2c57b995d13ae
Due: none

Notes added by 'git notes add'
  f357a29c209413988d86f02c5e41c42ac1521fa9
Due: none

Notes added by 'git notes add'
  a37210fd935916af5ebd072eb1f21b6a9937baf9
Due: none

Notes added by 'git notes add'
  12932022f9ac501aa37f0c388e985d9d53b25c41
  144ca0249d74a052fea6b580de2df7e01b2647d1
  2e9dae0446a34b4dcb6f4155f1eba2ec15d86b25
  8e2de0147b543f15b370f5f0512d9972f924e55d
  996fb8b12123123c245e749af103e84cdade2f2b
  cdbf96b9b9531f21dabdc4422ed6a8ff99852f38
  da17955071e259e4adc7c802022756b8fa986ddd
Due: none

Revert Upload width/height to Integer, wire FlexInt via x-go-type
  go/pkg/basecamp/vaults.go
  go/pkg/basecamp/vaults_test.go
  go/pkg/generated/client.gen.go
  openapi.json
  scripts/enhance-openapi-go-types.sh
  spec/basecamp.smithy
Due: go-test-short

Fix Upload width/height: spec truth over wire quirk (#171)
  go/pkg/basecamp/vaults.go
  go/pkg/basecamp/vaults_test.go
  go/pkg/generated/client.gen.go
  go/pkg/types/flexint.go
  go/pkg/types/flexint_test.go
  openapi.json
  scripts/enhance-openapi-go-types.sh
  spec/basecamp.smithy
Due: go-test-short

Add FlexibleTime type for schedule entry date-only parsing
  go/pkg/basecamp/reports_test.go
  go/pkg/basecamp/schedules.go
  go/pkg/basecamp/schedules_test.go
  go/pkg/generated/client.gen.go
  go/pkg/types/flexible_time.go
  go/pkg/types/flexible_time_test.go
  openapi.json
  scripts/enhance-openapi-go-types.sh
  spec/fixtures/schedules/entries_list.json
Due: go-test-short

Address PR review feedback: Fatalf guard and Page doc note
  go/pkg/basecamp/boosts.go
  go/pkg/basecamp/reports_test.go
Due: go-test-short

Add pagination support to boost list methods
  go/pkg/basecamp/boosts.go
  go/pkg/basecamp/boosts_test.go
Due: go-test-short

Use FlexibleTime on exported ScheduleEntry and add ListEvent pagination tests
  go/pkg/basecamp/boosts_test.go
  go/pkg/basecamp/reports_test.go
  go/pkg/basecamp/schedules.go
  go/pkg/basecamp/schedules_test.go
Due: go-test-short

Notes added by 'git notes add'
  17/9961db3f40ff167206dce094e06632ac51b495
Due: none

Notes added by 'git notes add'
  f6/ab6acb9c8c6cfb72da5f79cb180284988b079a
Due: none

Notes added by 'git notes add'
  cf/60304886cfc62b60a8760fa3c6d9e7b5bb2037
Due: none

Notes added by 'git notes add'
  e2/6b375cb4c80d54ed5c14f14730af98fccdc312
Due: none

Notes added by 'git notes add'
  a6/1b01f0dbb45dbd355702b7d348485c79b3dfda
Due: none

Notes added by 'git notes add'
  d8/8d92f675ce0577ecd34daa5c5fdc32eae67216
Due: none

Delegate FlexibleTime marshal to time.Time to preserve fractional seconds
  go/pkg/types/flexible_time.go
Due: go-test-short

Notes added by 'git notes add'
  70/818d985c6354755eeeebc93a0ab5b33c4c8c38
Due: none

Fix schedule entry date-only parsing and boost list pagination (#172)
  go/pkg/basecamp/boosts.go
  go/pkg/basecamp/boosts_test.go
  go/pkg/basecamp/reports_test.go
  go/pkg/basecamp/schedules.go
  go/pkg/basecamp/schedules_test.go
  go/pkg/generated/client.gen.go
  go/pkg/types/flexible_time.go
  go/pkg/types/flexible_time_test.go
  openapi.json
  scripts/enhance-openapi-go-types.sh
  spec/fixtures/schedules/entries_list.json
Due: go-test-short

Notes added by 'git notes add'
  6a/ec83164d26713497a8409430c47b3e06395de9
Due: none

Add wrapped pagination trait and timesheet pagination to Smithy spec
  behavior-model.json
  go/pkg/generated/client.gen.go
  openapi.json
  scripts/enhance-openapi-go-types.sh
  spec/basecamp-traits.smithy
  spec/basecamp.smithy
Due: go-test-short

Add wrapped pagination support to all SDK generators and runtimes
  kotlin/generator/src/main/kotlin/com/basecamp/sdk/generator/Config.kt
  kotlin/generator/src/main/kotlin/com/basecamp/sdk/generator/OpenApiParser.kt
  kotlin/generator/src/main/kotlin/com/basecamp/sdk/generator/OperationParser.kt
  kotlin/generator/src/main/kotlin/com/basecamp/sdk/generator/ServiceEmitter.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/services/BaseService.kt
  ruby/lib/basecamp/client.rb
  ruby/lib/basecamp/http.rb
  ruby/lib/basecamp/services/base_service.rb
  ruby/scripts/generate-services.rb
  swift/Sources/Basecamp/Services/BaseService.swift
  swift/Sources/BasecampGenerator/OpenAPIParser.swift
  swift/Sources/BasecampGenerator/ServiceEmitter.swift
  swift/Sources/BasecampGenerator/TypeMapping.swift
  typescript/scripts/generate-services.ts
  typescript/src/client.ts
  typescript/src/index.ts
  typescript/src/services/base.ts
Due: typescript-lint, typescript-typecheck

Regenerate SDK services and add wrapped pagination tests
  kotlin/sdk/build.gradle.kts
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/BasecampConfig.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/models/TimelineEvent.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/models/TimesheetEntry.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/Types.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/reports.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/timeline.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/timesheets.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/PaginationTest.kt
  ruby/Gemfile.lock
  ruby/lib/basecamp/generated/metadata.json
  ruby/lib/basecamp/generated/services/reports_service.rb
  ruby/lib/basecamp/generated/services/timesheets_service.rb
  ruby/lib/basecamp/generated/types.rb
  ruby/test/basecamp/services/reports_service_test.rb
  ruby/test/basecamp/services/timesheet_service_test.rb
  swift/Sources/Basecamp/BasecampConfig.swift
  swift/Sources/Basecamp/Generated/Services/ReportsService.swift
  swift/Sources/Basecamp/Generated/Services/TimesheetsService.swift
  swift/Tests/BasecampTests/PaginationTests.swift
  typescript/package-lock.json
  typescript/package.json
  typescript/src/generated/metadata.json
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/path-mapping.ts
  typescript/src/generated/schema.d.ts
  typescript/src/generated/services/reports.ts
  typescript/src/generated/services/timeline.ts
  typescript/src/generated/services/timesheets.ts
  typescript/tests/services/base.test.ts
Due: typescript-lint, typescript-typecheck

Path conditions:
  go-test-short: any of: \.go$
  typescript-lint: any of: ^typescript/.*\.(ts|tsx)$
  typescript-typecheck: any of: ^typescript/.*\.(ts|tsx)$
