Repository basecamp/basecamp-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-test-short, typescript-lint, typescript-typecheck

go-test-short:
  name: go test -short
  entry: bash -c 'cd go && go test -short ./...'
  language: system
  pass_filenames: false
  stages:
  - push

typescript-lint:
  name: typescript lint
  entry: bash -c 'cd typescript && npm run lint --if-present'
  language: system
  pass_filenames: false
  stages:
  - commit

typescript-typecheck:
  name: typescript typecheck
  entry: bash -c 'cd typescript && npm run typecheck --if-present'
  language: system
  pass_filenames: false
  stages:
  - push

Add BoostsCount field to recording types
  go/pkg/basecamp/campfires.go
  go/pkg/basecamp/cards.go
  go/pkg/basecamp/messages.go
  go/pkg/basecamp/todos.go
  go/pkg/basecamp/vaults.go
Due: go-test-short

Fix CI: gosec false positives, rack CVE-2026-22860, minimatch ReDoS
  go/.golangci.yml
  ruby/Gemfile.lock
  typescript/package-lock.json
  typescript/package.json
Due: none

Add root package.json for npm git-based installs
  package.json
  typescript/.npmignore
Due: none

Address PR review feedback
  .github/workflows/test.yml
  package.json
Due: none

Add root package.json for npm git-based installs (#109)
  .github/workflows/test.yml
  package.json
  typescript/.npmignore
Due: none

Add OAuth authorization URL builder
  typescript/src/oauth/authorize.ts
  typescript/tests/oauth/authorize.test.ts
Due: typescript-lint, typescript-typecheck

Add file-backed OAuth token store
  typescript/src/oauth/token-store.ts
  typescript/tests/oauth/token-store.test.ts
Due: typescript-lint, typescript-typecheck

Add auto-refreshing OAuth token manager
  typescript/src/oauth/token-manager.ts
  typescript/tests/oauth/token-manager.test.ts
Due: typescript-lint, typescript-typecheck

Add local OAuth callback server
  typescript/src/oauth/callback-server.ts
  typescript/tests/oauth/callback-server.test.ts
Due: typescript-lint, typescript-typecheck

Add account-agnostic identity discovery
  typescript/src/oauth/identity.ts
  typescript/tests/oauth/identity.test.ts
Due: typescript-lint, typescript-typecheck

Add interactive OAuth login orchestrator
  typescript/src/oauth/interactive-login.ts
  typescript/tests/oauth/interactive-login.test.ts
Due: typescript-lint, typescript-typecheck

Export OAuth modules via ./oauth subpath
  typescript/package.json
  typescript/src/oauth/index.ts
Due: typescript-lint, typescript-typecheck

Address PR review feedback
  typescript/src/oauth/callback-server.ts
  typescript/src/oauth/identity.ts
  typescript/src/oauth/token-manager.ts
  typescript/src/oauth/token-store.ts
  typescript/tests/oauth/identity.test.ts
  typescript/tests/oauth/token-manager.test.ts
Due: typescript-lint, typescript-typecheck

Add OAuth building blocks for interactive login (#113)
  typescript/package.json
  typescript/src/oauth/authorize.ts
  typescript/src/oauth/callback-server.ts
  typescript/src/oauth/identity.ts
  typescript/src/oauth/index.ts
  typescript/src/oauth/interactive-login.ts
  typescript/src/oauth/token-manager.ts
  typescript/src/oauth/token-store.ts
  typescript/tests/oauth/authorize.test.ts
  typescript/tests/oauth/callback-server.test.ts
  typescript/tests/oauth/identity.test.ts
  typescript/tests/oauth/interactive-login.test.ts
  typescript/tests/oauth/token-manager.test.ts
  typescript/tests/oauth/token-store.test.ts
Due: typescript-lint, typescript-typecheck

Add ./oauth subpath to root package.json exports
  package.json
Due: none

Add ./oauth subpath to root package.json exports (#114)
  package.json
Due: none

deps(ts): bump rollup to 4.59.0 to fix CVE path traversal
  typescript/package-lock.json
Due: none

deps(ts): bump rollup to 4.59.0 to fix CVE path traversal (#116)
  typescript/package-lock.json
Due: none

Add branch ancestry guard to Ruby and TypeScript release workflows
  .github/workflows/release-ruby.yml
  .github/workflows/release-typescript.yml
Due: none

Add workflow_dispatch dry-run to Go release workflow
  .github/workflows/release.yml
Due: none

Address PR review feedback on changelog and install instructions
  .github/workflows/release-ruby.yml
  .github/workflows/release-swift.yml
  .github/workflows/release-typescript.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: none

Add GitHub-native release notes configuration
  .github/release.yml
Due: none

Create Swift release workflow
  .github/workflows/release-swift.yml
Due: none

Delete hand-maintained CHANGELOGs
  go/CHANGELOG.md
  ruby/CHANGELOG.md
  ruby/basecamp-sdk.gemspec
Due: none

Add GitHub Release creation to Kotlin publish
  .github/workflows/test.yml
Due: none

Make SPM tag idempotent and verify Kotlin version matches tag
  .github/workflows/release-swift.yml
  .github/workflows/test.yml
Due: none

Release management for 0.1.0 (#115)
  .github/release.yml
  .github/workflows/release-swift.yml
  .github/workflows/release-typescript.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  go/CHANGELOG.md
  ruby/CHANGELOG.md
  ruby/basecamp-sdk.gemspec
Due: none

Bump minimatch to fix high-severity npm audit vulnerability
  typescript/package-lock.json
Due: none

Bump minimatch to fix high-severity npm audit vulnerability (#117)
  typescript/package-lock.json
Due: none

Flatten Smithy spec routes to remove nested URL scoping
  openapi.json
  spec/basecamp.smithy
  spec/overlays/examples.smithy
Due: none

Update Go service layer for flat routes
  go/pkg/basecamp/campfires.go
  go/pkg/basecamp/cards.go
  go/pkg/basecamp/checkins.go
  go/pkg/basecamp/client_approvals.go
  go/pkg/basecamp/client_correspondences.go
  go/pkg/basecamp/client_replies.go
  go/pkg/basecamp/comments.go
  go/pkg/basecamp/events.go
  go/pkg/basecamp/forwards.go
  go/pkg/basecamp/message_boards.go
  go/pkg/basecamp/message_types.go
  go/pkg/basecamp/messages.go
  go/pkg/basecamp/observability.go
  go/pkg/basecamp/otel/otel.go
  go/pkg/basecamp/people.go
  go/pkg/basecamp/recordings.go
  go/pkg/basecamp/schedules.go
  go/pkg/basecamp/subscriptions.go
  go/pkg/basecamp/timeline.go
  go/pkg/basecamp/timesheet.go
  go/pkg/basecamp/todolist_groups.go
  go/pkg/basecamp/todolists.go
  go/pkg/basecamp/todos.go
  go/pkg/basecamp/todosets.go
  go/pkg/basecamp/tools.go
  go/pkg/basecamp/vaults.go
  go/pkg/basecamp/webhooks.go
Due: go-test-short

Fix Ruby card_steps test and remove stale .plan.md
  .plan.md
  ruby/test/basecamp/services/card_steps_service_test.rb
Due: none

Remove stale bucketID comments from Go service files
  go/pkg/basecamp/checkins.go
  go/pkg/basecamp/client_approvals.go
  go/pkg/basecamp/client_correspondences.go
  go/pkg/basecamp/comments.go
  go/pkg/basecamp/events.go
  go/pkg/basecamp/message_boards.go
  go/pkg/basecamp/message_types.go
  go/pkg/basecamp/messages.go
  go/pkg/basecamp/people.go
  go/pkg/basecamp/recordings.go
  go/pkg/basecamp/schedules.go
  go/pkg/basecamp/subscriptions.go
  go/pkg/basecamp/todolist_groups.go
  go/pkg/basecamp/todolists.go
  go/pkg/basecamp/todos.go
  go/pkg/basecamp/todosets.go
  go/pkg/basecamp/tools.go
  go/pkg/basecamp/vaults.go
  go/pkg/basecamp/webhooks.go
Due: go-test-short

Update conformance and SDK tests for /projects/ timeline/timesheet paths
  conformance/tests/paths.json
  ruby/test/basecamp/services/timeline_service_test.rb
  ruby/test/basecamp/services/timesheet_service_test.rb
  typescript/tests/services/reports.test.ts
Due: typescript-lint, typescript-typecheck

Update TypeScript tests for flat routes
  typescript/tests/client.test.ts
  typescript/tests/hooks.test.ts
  typescript/tests/hooks/otel.test.ts
  typescript/tests/security.test.ts
  typescript/tests/services/checkins.test.ts
  typescript/tests/services/client-approvals.test.ts
  typescript/tests/services/client-correspondences.test.ts
  typescript/tests/services/client-replies.test.ts
  typescript/tests/services/documents.test.ts
  typescript/tests/services/events.test.ts
  typescript/tests/services/forwards.test.ts
  typescript/tests/services/lineup.test.ts
  typescript/tests/services/message-boards.test.ts
  typescript/tests/services/message-types.test.ts
  typescript/tests/services/recordings.test.ts
  typescript/tests/services/reports.test.ts
  typescript/tests/services/schedules.test.ts
  typescript/tests/services/subscriptions.test.ts
  typescript/tests/services/todolistGroups.test.ts
  typescript/tests/services/tools.test.ts
  typescript/tests/services/uploads.test.ts
  typescript/tests/services/vaults.test.ts
  typescript/tests/services/webhooks.test.ts
Due: typescript-lint, typescript-typecheck

Fix Go SDK build: wrap *int64 Id fields with derefInt64() in all converters
  go/pkg/basecamp/boosts.go
  go/pkg/basecamp/campfires.go
  go/pkg/basecamp/cards.go
  go/pkg/basecamp/checkins.go
  go/pkg/basecamp/client_approvals.go
  go/pkg/basecamp/client_correspondences.go
  go/pkg/basecamp/client_replies.go
  go/pkg/basecamp/comments.go
  go/pkg/basecamp/events.go
  go/pkg/basecamp/forwards.go
  go/pkg/basecamp/message_boards.go
  go/pkg/basecamp/message_types.go
  go/pkg/basecamp/messages.go
  go/pkg/basecamp/people.go
  go/pkg/basecamp/projects.go
  go/pkg/basecamp/recordings.go
  go/pkg/basecamp/reports.go
  go/pkg/basecamp/schedules.go
  go/pkg/basecamp/search.go
  go/pkg/basecamp/subscriptions.go
  go/pkg/basecamp/templates.go
  go/pkg/basecamp/timeline.go
  go/pkg/basecamp/timesheet.go
  go/pkg/basecamp/todolist_groups.go
  go/pkg/basecamp/todolists.go
  go/pkg/basecamp/todos.go
  go/pkg/basecamp/todos_test.go
  go/pkg/basecamp/todosets.go
  go/pkg/basecamp/tools.go
  go/pkg/basecamp/vaults.go
  go/pkg/basecamp/webhooks.go
  go/pkg/basecamp/webhooks_test.go
Due: go-test-short

Remove dead hand-written TypeScript service files
  typescript/tests/services/events.test.ts
Due: typescript-lint, typescript-typecheck

Update Ruby tests for flat routes
  ruby/test/basecamp/security_test.rb
  ruby/test/basecamp/services/campfires_service_test.rb
  ruby/test/basecamp/services/card_columns_service_test.rb
  ruby/test/basecamp/services/card_steps_service_test.rb
  ruby/test/basecamp/services/card_tables_service_test.rb
  ruby/test/basecamp/services/cards_service_test.rb
  ruby/test/basecamp/services/checkins_service_test.rb
  ruby/test/basecamp/services/client_approvals_service_test.rb
  ruby/test/basecamp/services/client_correspondences_service_test.rb
  ruby/test/basecamp/services/client_replies_service_test.rb
  ruby/test/basecamp/services/comments_service_test.rb
  ruby/test/basecamp/services/documents_service_test.rb
  ruby/test/basecamp/services/events_service_test.rb
  ruby/test/basecamp/services/forwards_service_test.rb
  ruby/test/basecamp/services/message_boards_service_test.rb
  ruby/test/basecamp/services/message_types_service_test.rb
  ruby/test/basecamp/services/messages_service_test.rb
  ruby/test/basecamp/services/recordings_service_test.rb
  ruby/test/basecamp/services/schedules_service_test.rb
  ruby/test/basecamp/services/subscriptions_service_test.rb
  ruby/test/basecamp/services/timeline_service_test.rb
  ruby/test/basecamp/services/timesheet_service_test.rb
  ruby/test/basecamp/services/todolist_groups_service_test.rb
  ruby/test/basecamp/services/todolists_service_test.rb
  ruby/test/basecamp/services/todos_service_test.rb
  ruby/test/basecamp/services/todosets_service_test.rb
  ruby/test/basecamp/services/tools_service_test.rb
  ruby/test/basecamp/services/uploads_service_test.rb
  ruby/test/basecamp/services/vaults_service_test.rb
  ruby/test/basecamp/services/webhooks_service_test.rb
Due: none

Update Go tests for flat route signatures
  go/pkg/basecamp/example_test.go
  go/pkg/basecamp/lineup_test.go
  go/pkg/basecamp/observability_test.go
  go/pkg/basecamp/otel/otel_test.go
  go/pkg/basecamp/vaults_test.go
Due: go-test-short

Path conditions:
  go-test-short: any of: \.go$
  typescript-lint: any of: ^typescript/.*\.(ts|tsx)$
  typescript-typecheck: any of: ^typescript/.*\.(ts|tsx)$
