Repository basecamp/basecamp-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-test-short, typescript-lint, typescript-typecheck

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
      - id: detect-private-key
      - id: check-case-conflict

  - repo: https://github.com/golangci/golangci-lint
    rev: v1.62.2
    hooks:
      - id: golangci-lint
        args: [--timeout=5m, --config=go/.golangci.yml]
        files: ^go/

  - repo: https://github.com/tekwizely/pre-commit-golang
    rev: v1.0.0-rc.1
    hooks:
      - id: go-fmt
        files: ^go/
      - id: go-vet
        files: ^go/
      - id: go-mod-tidy
        files: ^go/

  - repo: local
    hooks:
      - id: go-test-short
        name: go test -short
        entry: bash -c 'cd go && go test -short ./...'
        language: system
        pass_filenames: false
        types: [go]
        stages: [push]

      - id: typescript-lint
        name: typescript lint
        entry: bash -c 'cd typescript && npm run lint --if-present'
        language: system
        pass_filenames: false
        files: ^typescript/.*\.(ts|tsx)$
        stages: [commit]

      - id: typescript-typecheck
        name: typescript typecheck
        entry: bash -c 'cd typescript && npm run typecheck --if-present'
        language: system
        pass_filenames: false
        files: ^typescript/.*\.(ts|tsx)$
        stages: [push]

Name the HTTP-date drift allowance in the Retry-After test
  go/pkg/basecamp/oauth/token_error_test.go
Due: go-test-short

Let a caller's cancellation during a refusal's body read surface as cancellation
  go/pkg/basecamp/auth.go
  go/pkg/basecamp/oauth/exchange.go
  go/pkg/basecamp/oauth/token_error_test.go
Due: go-test-short

Carry the refusal's error_description beside its code, bounded as the message is
  SPEC.md
  go/pkg/basecamp/auth.go
  go/pkg/basecamp/auth_test.go
  go/pkg/basecamp/errors.go
  go/pkg/basecamp/oauth/device.go
  go/pkg/basecamp/oauth/exchange.go
  go/pkg/basecamp/oauth/token_error_test.go
Due: go-test-short

Carry a token refusal's OAuth error code and Retry-After, and type device authorization's
  SPEC.md
  go/pkg/basecamp/auth.go
  go/pkg/basecamp/auth_test.go
  go/pkg/basecamp/client.go
  go/pkg/basecamp/errors.go
  go/pkg/basecamp/oauth/device.go
  go/pkg/basecamp/oauth/exchange.go
  go/pkg/basecamp/oauth/token_error_test.go
Due: go-test-short

Classify an unreadable refusal by its status and Retry-After, and bound the composed message
  SPEC.md
  go/pkg/basecamp/auth.go
  go/pkg/basecamp/auth_test.go
  go/pkg/basecamp/oauth/device.go
  go/pkg/basecamp/oauth/exchange.go
  go/pkg/basecamp/oauth/token_error_test.go
Due: go-test-short

Carry a token refusal's OAuth error and Retry-After, and type device authorization's 429 (#972)
  SPEC.md
  go/pkg/basecamp/auth.go
  go/pkg/basecamp/auth_test.go
  go/pkg/basecamp/client.go
  go/pkg/basecamp/errors.go
  go/pkg/basecamp/oauth/device.go
  go/pkg/basecamp/oauth/exchange.go
  go/pkg/basecamp/oauth/token_error_test.go
Due: go-test-short

Bump SDK version to 0.24.0
  conformance/runner/python/uv.lock
  conformance/runner/ruby/Gemfile.lock
  conformance/runner/rust/Cargo.lock
  conformance/runner/typescript/package-lock.json
  go/pkg/basecamp/version.go
  kotlin/sdk/build.gradle.kts
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/BasecampConfig.kt
  package.json
  python/pyproject.toml
  python/src/basecamp/_version.py
  python/uv.lock
  ruby/Gemfile.lock
  ruby/lib/basecamp/version.rb
  rust/Cargo.lock
  rust/basecamp-sdk/Cargo.toml
  swift/Sources/Basecamp/BasecampConfig.swift
  typescript/package-lock.json
  typescript/package.json
  typescript/src/client.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Bump SDK version to 0.24.0 (#974)
  conformance/runner/python/uv.lock
  conformance/runner/ruby/Gemfile.lock
  conformance/runner/rust/Cargo.lock
  conformance/runner/typescript/package-lock.json
  go/pkg/basecamp/version.go
  kotlin/sdk/build.gradle.kts
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/BasecampConfig.kt
  package.json
  python/pyproject.toml
  python/src/basecamp/_version.py
  python/uv.lock
  ruby/Gemfile.lock
  ruby/lib/basecamp/version.rb
  rust/Cargo.lock
  rust/basecamp-sdk/Cargo.toml
  swift/Sources/Basecamp/BasecampConfig.swift
  typescript/package-lock.json
  typescript/package.json
  typescript/src/client.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Wait for a reviewer before tagging the Go module and publishing Kotlin
  .github/workflows/release-github.yml
  .github/workflows/release-go.yml
  .github/workflows/release-kotlin.yml
Due: none

Say which TypeScript OAuth helpers need Node, and fail fast outside it
  typescript/README.md
  typescript/src/oauth/callback-server.ts
  typescript/src/oauth/interactive-login.ts
  typescript/src/oauth/node-runtime.ts
  typescript/src/oauth/token-store.ts
  typescript/tests/oauth/node-runtime.test.ts
Due: typescript-lint, typescript-typecheck

Correct the React Native and browser OAuth recipe
  typescript/README.md
  typescript/src/oauth/interactive-login.ts
  typescript/src/oauth/node-runtime.ts
  typescript/src/oauth/token-store.ts
Due: typescript-lint, typescript-typecheck

Address review: qualify the fail-fast claim, fix the manual refresh
  typescript/README.md
  typescript/src/oauth/callback-server.ts
  typescript/src/oauth/interactive-login.ts
  typescript/src/oauth/node-runtime.ts
  typescript/src/oauth/token-store.ts
Due: typescript-lint, typescript-typecheck

Keep the refresh token in the Manual Authorization Flow refresh sample
  typescript/README.md
Due: none
