Repository basecamp/basecamp-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-test-short, typescript-lint, typescript-typecheck

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
      - id: detect-private-key
      - id: check-case-conflict

  - repo: https://github.com/golangci/golangci-lint
    rev: v1.62.2
    hooks:
      - id: golangci-lint
        args: [--timeout=5m, --config=go/.golangci.yml]
        files: ^go/

  - repo: https://github.com/tekwizely/pre-commit-golang
    rev: v1.0.0-rc.1
    hooks:
      - id: go-fmt
        files: ^go/
      - id: go-vet
        files: ^go/
      - id: go-mod-tidy
        files: ^go/

  - repo: local
    hooks:
      - id: go-test-short
        name: go test -short
        entry: bash -c 'cd go && go test -short ./...'
        language: system
        pass_filenames: false
        types: [go]
        stages: [push]

      - id: typescript-lint
        name: typescript lint
        entry: bash -c 'cd typescript && npm run lint --if-present'
        language: system
        pass_filenames: false
        files: ^typescript/.*\.(ts|tsx)$
        stages: [commit]

      - id: typescript-typecheck
        name: typescript typecheck
        entry: bash -c 'cd typescript && npm run typecheck --if-present'
        language: system
        pass_filenames: false
        files: ^typescript/.*\.(ts|tsx)$
        stages: [push]

fix(go): FlexibleTime marshals back the form it parsed
  go/pkg/basecamp/schedules_test.go
  go/pkg/types/flexible_time.go
  go/pkg/types/flexible_time_test.go
  scripts/enhance-openapi-go-types.sh
Due: go-test-short

Carry the parsed form through the text decode path, and marshal a zero-time bare date as a date
  go/pkg/types/flexible_time.go
  go/pkg/types/flexible_time_test.go
Due: go-test-short

AppendText agrees with MarshalText on a bare date
  go/pkg/types/flexible_time.go
  go/pkg/types/flexible_time_test.go
Due: go-test-short

Model start_date on project construction
  SPEC.md
  conformance/runner/go/main.go
  conformance/runner/python/runner.py
  conformance/runner/ruby/runner.rb
  conformance/runner/swift/Sources/ConformanceRunner/Dispatch.swift
  conformance/runner/typescript/runner.test.ts
  conformance/tests/project_constructions.json
  go/pkg/basecamp/templates.go
  go/pkg/basecamp/templates_test.go
  go/pkg/generated/client.gen.go
  kotlin/conformance/src/main/kotlin/com/basecamp/sdk/conformance/Main.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/TemplatesServiceTest.kt
  openapi.json
  python/src/basecamp/generated/types.py
  python/tests/services/test_templates_service.py
  ruby/lib/basecamp/generated/metadata.json
  ruby/lib/basecamp/generated/types.rb
  ruby/test/basecamp/services/templates_service_test.rb
  spec/basecamp.smithy
  swift/Sources/Basecamp/Generated/Models/ProjectConstructionAttributes.swift
  swift/Tests/BasecampTests/GeneratedServiceTests.swift
  typescript/src/generated/metadata.ts
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/schema.d.ts
  typescript/tests/services/templates.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Note the CreateProject signature change for Go consumers
  MIGRATING.md
Due: none

Describe the Go start-date default as processing-time and reject multiple options in a test
  go/pkg/basecamp/templates.go
  go/pkg/basecamp/templates_test.go
Due: go-test-short

feat(templates): model start_date on project construction (#856)
  MIGRATING.md
  SPEC.md
  conformance/runner/go/main.go
  conformance/runner/python/runner.py
  conformance/runner/ruby/runner.rb
  conformance/runner/swift/Sources/ConformanceRunner/Dispatch.swift
  conformance/runner/typescript/runner.test.ts
  conformance/tests/project_constructions.json
  go/pkg/basecamp/templates.go
  go/pkg/basecamp/templates_test.go
  go/pkg/generated/client.gen.go
  kotlin/conformance/src/main/kotlin/com/basecamp/sdk/conformance/Main.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/TemplatesServiceTest.kt
  openapi.json
  python/src/basecamp/generated/types.py
  python/tests/services/test_templates_service.py
  ruby/lib/basecamp/generated/metadata.json
  ruby/lib/basecamp/generated/types.rb
  ruby/test/basecamp/services/templates_service_test.rb
  spec/basecamp.smithy
  swift/Sources/Basecamp/Generated/Models/ProjectConstructionAttributes.swift
  swift/Tests/BasecampTests/GeneratedServiceTests.swift
  typescript/src/generated/metadata.ts
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/schema.d.ts
  typescript/tests/services/templates.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Bump version to 0.18.0
  MIGRATING.md
  conformance/runner/python/uv.lock
  conformance/runner/ruby/Gemfile.lock
  conformance/runner/typescript/package-lock.json
  go/pkg/basecamp/version.go
  kotlin/sdk/build.gradle.kts
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/BasecampConfig.kt
  package.json
  python/pyproject.toml
  python/src/basecamp/_version.py
  python/uv.lock
  ruby/Gemfile.lock
  ruby/lib/basecamp/version.rb
  swift/Sources/Basecamp/BasecampConfig.swift
  typescript/package-lock.json
  typescript/package.json
  typescript/src/client.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Bump version to 0.18.0 (#858)
  MIGRATING.md
  conformance/runner/python/uv.lock
  conformance/runner/ruby/Gemfile.lock
  conformance/runner/typescript/package-lock.json
  go/pkg/basecamp/version.go
  kotlin/sdk/build.gradle.kts
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/BasecampConfig.kt
  package.json
  python/pyproject.toml
  python/src/basecamp/_version.py
  python/uv.lock
  ruby/Gemfile.lock
  ruby/lib/basecamp/version.rb
  swift/Sources/Basecamp/BasecampConfig.swift
  typescript/package-lock.json
  typescript/package.json
  typescript/src/client.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Format the generator's naming test
  rust/generator/src/naming.rs
Due: none

Add generator correctness fixtures, wire-level tests and the integration checklist
  rust/INTEGRATION.md
  rust/basecamp-sdk/Cargo.toml
  rust/basecamp-sdk/src/hooks.rs
  rust/basecamp-sdk/src/http/mod.rs
  rust/basecamp-sdk/src/lib.rs
  rust/basecamp-sdk/tests/auth.rs
  rust/basecamp-sdk/tests/download.rs
  rust/basecamp-sdk/tests/errors.rs
  rust/basecamp-sdk/tests/guarantees.rs
  rust/basecamp-sdk/tests/pagination.rs
  rust/basecamp-sdk/tests/retry.rs
  rust/basecamp-sdk/tests/support/mod.rs
  rust/generator/tests/fixtures.rs
  rust/generator/tests/fixtures/mini/behavior-model.json
  rust/generator/tests/fixtures/mini/expected/accessors.rs
  rust/generator/tests/fixtures/mini/expected/metadata.rs
  rust/generator/tests/fixtures/mini/expected/mod.rs
  rust/generator/tests/fixtures/mini/expected/routes.rs
  rust/generator/tests/fixtures/mini/expected/services/account.rs
  rust/generator/tests/fixtures/mini/expected/services/mod.rs
  rust/generator/tests/fixtures/mini/expected/services/widgets.rs
  rust/generator/tests/fixtures/mini/expected/types.rs
  rust/generator/tests/fixtures/mini/openapi.json
  rust/generator/tests/fixtures/mini/rust/generator/names.toml
Due: none

deps(conformance-ts): bump vitest to 4.1.11 past GHSA-82fw-gwwq-j7x9 (#850)
  conformance/runner/typescript/package-lock.json
Due: none

Clear the open code-scanning alerts (#851)
  .github/codeql/codeql-config.yml
  .github/workflows/security.yml
  .github/workflows/test.yml
  python/src/basecamp/async_auth.py
  python/src/basecamp/auth.py
  python/src/basecamp/oauth/device.py
  python/src/basecamp/oauth/exchange.py
Due: none

fix(go): FlexibleTime marshals back the form it parsed (#852)
  go/pkg/basecamp/schedules_test.go
  go/pkg/types/flexible_time.go
  go/pkg/types/flexible_time_test.go
  scripts/enhance-openapi-go-types.sh
Due: go-test-short

Close the adversarial review's findings on the runtime
  rust/INTEGRATION.md
  rust/basecamp-sdk/src/auth.rs
  rust/basecamp-sdk/src/client.rs
  rust/basecamp-sdk/src/download.rs
  rust/basecamp-sdk/src/error.rs
  rust/basecamp-sdk/src/http/reqwest.rs
  rust/basecamp-sdk/src/operation.rs
  rust/basecamp-sdk/src/pagination.rs
  rust/basecamp-sdk/src/retry.rs
  rust/basecamp-sdk/src/types.rs
  rust/basecamp-sdk/src/webhooks.rs
  rust/basecamp-sdk/tests/auth.rs
  rust/basecamp-sdk/tests/composites_cards.rs
  rust/basecamp-sdk/tests/composites_documents.rs
  rust/basecamp-sdk/tests/composites_schedules.rs
  rust/basecamp-sdk/tests/composites_todolists.rs
  rust/basecamp-sdk/tests/composites_todos.rs
  rust/basecamp-sdk/tests/composites_uploads.rs
  rust/basecamp-sdk/tests/download.rs
  rust/basecamp-sdk/tests/errors.rs
  rust/basecamp-sdk/tests/guarantees.rs
  rust/basecamp-sdk/tests/pagination.rs
  rust/basecamp-sdk/tests/retry.rs
  rust/basecamp-sdk/tests/services.rs
Due: none

Accept explicit input paths in the generator and add a device-login example
  rust/basecamp-sdk/Cargo.toml
  rust/basecamp-sdk/examples/device_login.rs
  rust/basecamp-sdk/src/error.rs
  rust/generator/src/main.rs
Due: none

Answer the first review round on the runtime
  rust/basecamp-sdk/src/config.rs
  rust/basecamp-sdk/src/download.rs
  rust/basecamp-sdk/src/generated/services/attachments.rs
  rust/basecamp-sdk/src/generated/services/boosts.rs
  rust/basecamp-sdk/src/generated/services/campfires.rs
  rust/basecamp-sdk/src/generated/services/card_columns.rs
  rust/basecamp-sdk/src/generated/services/card_steps.rs
  rust/basecamp-sdk/src/generated/services/cards.rs
  rust/basecamp-sdk/src/generated/services/checkins.rs
  rust/basecamp-sdk/src/generated/services/cloud_files.rs
  rust/basecamp-sdk/src/generated/services/comments.rs
  rust/basecamp-sdk/src/generated/services/documents.rs
  rust/basecamp-sdk/src/generated/services/folders.rs
  rust/basecamp-sdk/src/generated/services/gauges.rs
  rust/basecamp-sdk/src/generated/services/google_documents.rs
  rust/basecamp-sdk/src/generated/services/lineup.rs
  rust/basecamp-sdk/src/generated/services/message_types.rs
  rust/basecamp-sdk/src/generated/services/messages.rs
  rust/basecamp-sdk/src/generated/services/my_assignments.rs
  rust/basecamp-sdk/src/generated/services/people.rs
  rust/basecamp-sdk/src/generated/services/projects.rs
  rust/basecamp-sdk/src/generated/services/schedules.rs
  rust/basecamp-sdk/src/generated/services/templates.rs
  rust/basecamp-sdk/src/generated/services/timesheets.rs
  rust/basecamp-sdk/src/generated/services/todolist_groups.rs
  rust/basecamp-sdk/src/generated/services/todolists.rs
  rust/basecamp-sdk/src/generated/services/todos.rs
  rust/basecamp-sdk/src/generated/services/tools.rs
  rust/basecamp-sdk/src/generated/services/uploads.rs
  rust/basecamp-sdk/src/generated/services/vaults.rs
  rust/basecamp-sdk/src/generated/services/webhooks.rs
  rust/basecamp-sdk/src/generated/services/wormholes.rs
  rust/basecamp-sdk/src/types.rs
  rust/generator/src/emit/services.rs
  rust/generator/tests/fixtures/mini/expected/services/widgets.rs
Due: none

Close the adversarial review of the OAuth module and the composites
  rust/Makefile
  rust/basecamp-sdk/examples/device_login.rs
  rust/basecamp-sdk/src/auth.rs
  rust/basecamp-sdk/src/client.rs
  rust/basecamp-sdk/src/download.rs
  rust/basecamp-sdk/src/error.rs
  rust/basecamp-sdk/src/http/reqwest.rs
  rust/basecamp-sdk/src/oauth/device.rs
  rust/basecamp-sdk/src/oauth/discovery.rs
  rust/basecamp-sdk/src/oauth/mod.rs
  rust/basecamp-sdk/src/oauth/provider.rs
  rust/basecamp-sdk/src/oauth/token.rs
  rust/basecamp-sdk/src/oauth/transport.rs
  rust/basecamp-sdk/src/pagination.rs
  rust/basecamp-sdk/tests/auth.rs
  rust/basecamp-sdk/tests/pagination.rs
Due: none

Name the copyright holder as 37signals LLC
  LICENSE
  spec/smithy-bare-arrays/src/main/java/com/basecamp/smithy/BareArrayExtension.java
  spec/smithy-bare-arrays/src/main/java/com/basecamp/smithy/BareArrayResponseMapper.java
  spec/smithy-bare-arrays/src/main/java/com/basecamp/smithy/BareObjectResponseMapper.java
  spec/smithy-bare-arrays/src/main/java/com/basecamp/smithy/BareResponseExampleMapper.java
  spec/smithy-bare-arrays/src/main/java/com/basecamp/smithy/MultipartRequestBodyMapper.java
  spec/smithy-bare-arrays/src/test/java/com/basecamp/smithy/BareArrayResponseMapperTest.java
  spec/smithy-bare-arrays/src/test/java/com/basecamp/smithy/BareObjectResponseMapperTest.java
  spec/smithy-bare-arrays/src/test/java/com/basecamp/smithy/BareResponseExampleMapperTest.java
Due: none

Import the params type from its service module in the examples
  rust/basecamp-sdk/examples/custom_transport.rs
  rust/basecamp-sdk/examples/errors.rs
  rust/basecamp-sdk/examples/first_call.rs
  rust/basecamp-sdk/examples/pagination.rs
Due: none

Address the adversarial review of the Rust integration
  .github/workflows/codeql.yml
  .github/workflows/release-github.yml
  .github/workflows/release-rust.yml
  .github/workflows/security.yml
  CONTRIBUTING.md
  Makefile
  README.md
  conformance/runner/rust/Cargo.toml
  conformance/runner/rust/src/assertions.rs
  conformance/runner/rust/src/fixtures.rs
  conformance/runner/rust/src/main.rs
  conformance/runner/rust/src/operations.rs
  conformance/runner/rust/src/transport.rs
  scripts/bump-version.sh
  scripts/check-readme-env-vars.py
  scripts/check-runner-test-reachability
  scripts/test-check-readme-env-vars.py
Due: none

Wire the composite and download arms: the Rust runner executes every mock case
  conformance/runner/rust/src/operations.rs
  rust/basecamp-sdk/README.md
Due: none

Test the library alone without default features; read raw-fenced env names
  Makefile
  scripts/check-readme-env-vars.py
Due: none

Add the Rust conformance runner
  conformance/runner/rust/Cargo.toml
  conformance/runner/rust/src/assertions.rs
  conformance/runner/rust/src/census.rs
  conformance/runner/rust/src/fixtures.rs
  conformance/runner/rust/src/header_tokens.rs
  conformance/runner/rust/src/main.rs
  conformance/runner/rust/src/manifest.rs
  conformance/runner/rust/src/operations.rs
  conformance/runner/rust/src/transport.rs
Due: none

Pin rust-cache to v2.9.2's commit, not its tag object
  .github/workflows/release-rust.yml
  .github/workflows/test.yml
Due: none

Wire the DownloadURL arm and pinned-page reads in the Rust runner
  conformance/runner/rust/src/fixtures.rs
  conformance/runner/rust/src/operations.rs
Due: none

Spell the Rust PKCE helpers as the crate exports them
  SECURITY.md
Due: none

Register the Rust runner and renderings in every cross-SDK gate
  .github/workflows/release-rust.yml
  .github/workflows/security.yml
  .github/workflows/test.yml
  Makefile
  SPEC.md
  scripts/bump-version.sh
  scripts/check-deprecation-parity
  scripts/check-fixture-execution.rb
  scripts/check-idempotency-parity
  scripts/check-operation-assignment-parity
  scripts/check-readme-env-vars.py
  scripts/check-retry-metadata-parity.py
  scripts/check-runner-test-reachability
  scripts/check-rust-service-drift.sh
  scripts/check-service-inventory-parity
  scripts/test-check-fixture-execution.rb
  scripts/test-check-operation-assignment-parity.rb
  scripts/test-check-readme-env-vars.py
  scripts/test-check-service-inventory-parity.rb
  scripts/test-doc-constants.rb
  scripts/zero_skip_roster.rb
  spec/zero-skip-roster.yml
Due: none

Document the Rust SDK across the repo docs
  AGENTS.md
  CONTRIBUTING.md
  MIGRATING.md
  README.md
  SECURITY.md
  SPEC.md
Due: none

Keep the Rust migration note under Unreleased after the 0.18.0 bump
  MIGRATING.md
Due: none

Address the first Copilot round on the crate
  rust/basecamp-sdk/src/config.rs
  rust/basecamp-sdk/src/download.rs
  rust/basecamp-sdk/src/generated/services/attachments.rs
  rust/basecamp-sdk/src/generated/services/boosts.rs
  rust/basecamp-sdk/src/generated/services/campfires.rs
  rust/basecamp-sdk/src/generated/services/card_columns.rs
  rust/basecamp-sdk/src/generated/services/card_steps.rs
  rust/basecamp-sdk/src/generated/services/cards.rs
  rust/basecamp-sdk/src/generated/services/checkins.rs
  rust/basecamp-sdk/src/generated/services/cloud_files.rs
  rust/basecamp-sdk/src/generated/services/comments.rs
  rust/basecamp-sdk/src/generated/services/documents.rs
  rust/basecamp-sdk/src/generated/services/folders.rs
  rust/basecamp-sdk/src/generated/services/gauges.rs
  rust/basecamp-sdk/src/generated/services/google_documents.rs
  rust/basecamp-sdk/src/generated/services/lineup.rs
  rust/basecamp-sdk/src/generated/services/message_types.rs
  rust/basecamp-sdk/src/generated/services/messages.rs
  rust/basecamp-sdk/src/generated/services/my_assignments.rs
  rust/basecamp-sdk/src/generated/services/people.rs
  rust/basecamp-sdk/src/generated/services/projects.rs
  rust/basecamp-sdk/src/generated/services/schedules.rs
  rust/basecamp-sdk/src/generated/services/templates.rs
  rust/basecamp-sdk/src/generated/services/timesheets.rs
  rust/basecamp-sdk/src/generated/services/todolist_groups.rs
  rust/basecamp-sdk/src/generated/services/todolists.rs
  rust/basecamp-sdk/src/generated/services/todos.rs
  rust/basecamp-sdk/src/generated/services/tools.rs
  rust/basecamp-sdk/src/generated/services/uploads.rs
  rust/basecamp-sdk/src/generated/services/vaults.rs
  rust/basecamp-sdk/src/generated/services/webhooks.rs
  rust/basecamp-sdk/src/generated/services/wormholes.rs
  rust/basecamp-sdk/src/types.rs
  rust/generator/src/emit/services.rs
  rust/generator/tests/fixtures/mini/expected/services/widgets.rs
Due: none

Carry the Rust crate to 0.18.0 with main
  conformance/runner/rust/Cargo.lock
  rust/Cargo.lock
  rust/basecamp-sdk/Cargo.toml
  rust/basecamp-sdk/README.md
Due: none
