Repository basecamp/basecamp-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-test-short, typescript-lint, typescript-typecheck

go-test-short:
  name: go test -short
  entry: bash -c 'cd go && go test -short ./...'
  language: system
  pass_filenames: false
  stages:
  - push

typescript-lint:
  name: typescript lint
  entry: bash -c 'cd typescript && npm run lint --if-present'
  language: system
  pass_filenames: false
  stages:
  - commit

typescript-typecheck:
  name: typescript typecheck
  entry: bash -c 'cd typescript && npm run typecheck --if-present'
  language: system
  pass_filenames: false
  stages:
  - push

wrappers: delegate ProjectConstruction.Project to projectFromGenerated
  go/pkg/basecamp/templates.go
Due: go-test-short

wrappers: clear golangci-lint findings in normalize.go
  go/pkg/basecamp/my_notifications_test.go
  go/pkg/basecamp/normalize.go
Due: go-test-short

spec(api-gaps): refresh everything-aggregates from the live #10947 contract
  COORDINATION.md
  spec/api-gaps/everything-aggregates.md
  spec/api-gaps/memories-emptied-regression.md
Due: none

scripts: extend wrapper-drift walker to population-check tier 3
  scripts/check-wrapper-drift/main.go
Due: go-test-short

docs(coordination): attribute the memories canary waiver to PR #308
  COORDINATION.md
Due: none

BC5 readiness: TypeScript live wire-capture canary (#294)
  CONTRIBUTING.md
  Makefile
  conformance/runner/go/main.go
  conformance/runner/python/runner.py
  conformance/runner/ruby/runner.rb
  conformance/runner/typescript/fixtures.ts
  conformance/runner/typescript/live-dispatch.test.ts
  conformance/runner/typescript/live-dispatch.ts
  conformance/runner/typescript/live-runner.test.ts
  conformance/runner/typescript/package-lock.json
  conformance/runner/typescript/package.json
  conformance/runner/typescript/runner.test.ts
  conformance/runner/typescript/schema-validator.test.ts
  conformance/runner/typescript/schema-validator.ts
  conformance/runner/typescript/wire-capture.test.ts
  conformance/runner/typescript/wire-capture.ts
  conformance/schema.json
  conformance/tests/live-my-surface.json
  kotlin/conformance/src/main/kotlin/com/basecamp/sdk/conformance/Main.kt
Due: go-test-short

conformance(kotlin): drop unused JsonArray and encodeToJsonElement imports
  kotlin/conformance/src/main/kotlin/com/basecamp/sdk/conformance/ReplayRunner.kt
Due: none

conformance(ts): persist operation field on wire snapshots
  conformance/runner/typescript/live-runner.test.ts
  conformance/runner/typescript/wire-capture.ts
Due: none

conformance(ruby): wire-replay runner + schema walker
  conformance/runner/ruby/replay-runner.rb
  conformance/runner/ruby/schema-walker.rb
Due: none

conformance: surface snapshot read/parse errors as gate messages
  conformance/runner/go/replay_runner.go
  conformance/runner/python/replay_runner.py
  conformance/runner/ruby/replay-runner.rb
  kotlin/conformance/src/main/kotlin/com/basecamp/sdk/conformance/ReplayRunner.kt
Due: go-test-short

conformance(python): wire-replay runner + schema walker
  conformance/runner/python/replay_runner.py
  conformance/runner/python/schema_walker.py
Due: none

conformance(go): wire-replay runner + schema walker
  conformance/runner/go/main.go
  conformance/runner/go/replay_runner.go
  conformance/runner/go/schema_walker.go
Due: go-test-short

conformance(python): catch UnicodeDecodeError on snapshot read
  conformance/runner/python/replay_runner.py
  conformance/runner/python/test_replay_runner.py
Due: none

conformance(go): align walker required-paths with `/`
  conformance/runner/go/schema_walker.go
Due: go-test-short

conformance(kotlin): wire-replay runner + schema walker
  kotlin/conformance/build.gradle.kts
  kotlin/conformance/src/main/kotlin/com/basecamp/sdk/conformance/ReplayRunner.kt
  kotlin/conformance/src/main/kotlin/com/basecamp/sdk/conformance/SchemaWalker.kt
Due: none

conformance(kotlin): tighten env-var gate + narrow Throwable catches
  kotlin/conformance/build.gradle.kts
  kotlin/conformance/src/main/kotlin/com/basecamp/sdk/conformance/ReplayRunner.kt
Due: none

conformance: wire-replay make targets + CONTRIBUTING + gitignore
  .gitignore
  CONTRIBUTING.md
  Makefile
Due: none

conformance(go,ruby): fix walker docstring drift on required-path separator
  conformance/runner/go/schema_walker.go
  conformance/runner/ruby/schema-walker.rb
Due: go-test-short

conformance(ts): keep persisted operation authoritative in snapshot spread
  conformance/runner/typescript/live-runner.test.ts
Due: none

conformance: faithful empty-body decoding + Kotlin gate hardening
  conformance/runner/go/replay_runner.go
  conformance/runner/go/replay_runner_test.go
  conformance/runner/python/replay_runner.py
  conformance/runner/python/test_replay_runner.py
  conformance/runner/ruby/Gemfile
  conformance/runner/ruby/replay-runner.rb
  conformance/runner/ruby/replay_runner_test.rb
  kotlin/conformance/src/main/kotlin/com/basecamp/sdk/conformance/ReplayRunner.kt
Due: go-test-short

conformance(python,go): preserve empty bodyText on wire snapshots
  conformance/runner/go/replay_runner.go
  conformance/runner/python/replay_runner.py
Due: go-test-short

conformance(ruby): align walker required-paths with `/`; fix mode-gate doc
  conformance/runner/ruby/replay-runner.rb
  conformance/runner/ruby/schema-walker.rb
Due: none

gitignore: stray Go binary from `go build` in conformance runner
  .gitignore
Due: none

conformance: address four Copilot threads on PR #301
  conformance/runner/go/replay_runner.go
  conformance/runner/go/replay_runner_test.go
  kotlin/conformance/src/main/kotlin/com/basecamp/sdk/conformance/ReplayRunner.kt
Due: go-test-short

conformance: align default-response precedence with documented order
  conformance/runner/go/schema_walker.go
  conformance/runner/python/schema_walker.py
  conformance/runner/ruby/schema-walker.rb
  conformance/runner/typescript/schema-validator.ts
  kotlin/conformance/src/main/kotlin/com/basecamp/sdk/conformance/SchemaWalker.kt
Due: go-test-short

conformance: gate on non-empty pages + matching pages_count in replay runners
  conformance/runner/python/replay_runner.py
  conformance/runner/ruby/replay-runner.rb
  kotlin/conformance/src/main/kotlin/com/basecamp/sdk/conformance/ReplayRunner.kt
Due: none

BC5 readiness: Go wrapper forward-compat audit + field-level drift check (#309)
  Makefile
  go.work
  go/BRIEF-bc5-forward-compat-wrappers.md
  go/pkg/basecamp/boosts.go
  go/pkg/basecamp/campfires.go
  go/pkg/basecamp/cards.go
  go/pkg/basecamp/checkins.go
  go/pkg/basecamp/client_approvals.go
  go/pkg/basecamp/client_correspondences.go
  go/pkg/basecamp/client_replies.go
  go/pkg/basecamp/comments.go
  go/pkg/basecamp/events.go
  go/pkg/basecamp/forwards.go
  go/pkg/basecamp/gauges.go
  go/pkg/basecamp/message_boards.go
  go/pkg/basecamp/messages.go
  go/pkg/basecamp/my_notifications.go
  go/pkg/basecamp/my_notifications_test.go
  go/pkg/basecamp/normalize.go
  go/pkg/basecamp/people.go
  go/pkg/basecamp/projects.go
  go/pkg/basecamp/recordings.go
  go/pkg/basecamp/reports.go
  go/pkg/basecamp/schedules.go
  go/pkg/basecamp/search.go
  go/pkg/basecamp/subscriptions.go
  go/pkg/basecamp/templates.go
  go/pkg/basecamp/timeline.go
  go/pkg/basecamp/timesheet.go
  go/pkg/basecamp/todolist_groups.go
  go/pkg/basecamp/todolists.go
  go/pkg/basecamp/todos.go
  go/pkg/basecamp/todosets.go
  go/pkg/basecamp/vaults.go
  go/pkg/basecamp/wrapper_propagation_test.go
  scripts/check-wrapper-drift/go.mod
  scripts/check-wrapper-drift/main.go
  scripts/check-wrapper-drift/main_test.go
Due: go-test-short

api-gaps: record why bucket-scoped step aliases stay unmodeled
  spec/api-gaps/step-top-level.md
Due: none

Use strict null check for request body presence
  typescript/src/client.ts
Due: typescript-lint, typescript-typecheck

Fix TypeScript SDK Content-Type on GET requests
  typescript/src/client.ts
  typescript/tests/client.test.ts
Due: typescript-lint, typescript-typecheck

BC5 readiness: cross-language wire-replay decoders (#301)
  .gitignore
  CONTRIBUTING.md
  Makefile
  conformance/runner/go/main.go
  conformance/runner/go/replay_runner.go
  conformance/runner/go/replay_runner_test.go
  conformance/runner/go/schema_walker.go
  conformance/runner/python/replay_runner.py
  conformance/runner/python/schema_walker.py
  conformance/runner/python/test_replay_runner.py
  conformance/runner/ruby/Gemfile
  conformance/runner/ruby/replay-runner.rb
  conformance/runner/ruby/replay_runner_test.rb
  conformance/runner/ruby/schema-walker.rb
  conformance/runner/typescript/live-runner.test.ts
  conformance/runner/typescript/schema-validator.ts
  conformance/runner/typescript/wire-capture.ts
  kotlin/conformance/build.gradle.kts
  kotlin/conformance/src/main/kotlin/com/basecamp/sdk/conformance/ReplayRunner.kt
  kotlin/conformance/src/main/kotlin/com/basecamp/sdk/conformance/SchemaWalker.kt
Due: go-test-short

BC5 launch reconciliation: registry refresh for the shipped BC5 API train (#325)
  COORDINATION.md
  go/pkg/generated/client.gen.go
  openapi.json
  ruby/lib/basecamp/generated/metadata.json
  ruby/lib/basecamp/generated/types.rb
  spec/api-gaps/README.md
  spec/api-gaps/activity-timeline.md
  spec/api-gaps/calendar.md
  spec/api-gaps/everything-aggregates.md
  spec/api-gaps/memories-emptied-regression.md
  spec/api-gaps/recordable-subtypes-doc.md
  spec/api-gaps/recording-bubbleupable-field.md
  spec/api-gaps/rich-text-project-attachable.md
  spec/api-gaps/scratchpad.md
  spec/api-gaps/search-filter-additions.md
  spec/api-gaps/stack-doc-and-smithy.md
  spec/api-gaps/step-top-level.md
  spec/api-gaps/todoset-completed-list-visibility.md
  spec/basecamp.smithy
  typescript/src/generated/metadata.ts
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/schema.d.ts
Due: go-test-short, typescript-lint, typescript-typecheck

scripts: pairwise canary comparison
  scripts/compare-canary-runs.sh
Due: none

docs: drop stale PR-numbered references to canary infra
  CONTRIBUTING.md
  COORDINATION.md
Due: none

ci+docs: live-canary scheduled workflow + CONTRIBUTING pairwise section
  .github/workflows/live-canary.yml
  CONTRIBUTING.md
Due: none

make: conformance-live + check-bc5-compat orchestrators
  Makefile
Due: none

conformance: pairwise BC4↔BC5 schema + canonical memories rule
  conformance/schema.json
  conformance/tests/live-my-surface.json
Due: none

conformance: fail loud when the pairwise tests file can't be parsed
  scripts/compare-canary-runs.sh
  scripts/test-compare-canary-runs.sh
Due: none

conformance: reject non-array tests files, fast env preflight, 3.81-safe defaults
  Makefile
  scripts/compare-canary-runs.sh
  scripts/test-compare-canary-runs.sh
Due: none

conformance: pages[*] superset arrays compare item totals; bash>=4 guard
  scripts/compare-canary-runs.sh
  scripts/test-compare-canary-runs.sh
Due: none

Path conditions:
  go-test-short: any of: \.go$
  typescript-lint: any of: ^typescript/.*\.(ts|tsx)$
  typescript-typecheck: any of: ^typescript/.*\.(ts|tsx)$
