Repository basecamp/basecamp-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-test-short, typescript-lint, typescript-typecheck

go-test-short:
  name: go test -short
  entry: bash -c 'cd go && go test -short ./...'
  language: system
  pass_filenames: false
  stages:
  - push

typescript-lint:
  name: typescript lint
  entry: bash -c 'cd typescript && npm run lint --if-present'
  language: system
  pass_filenames: false
  stages:
  - commit

typescript-typecheck:
  name: typescript typecheck
  entry: bash -c 'cd typescript && npm run typecheck --if-present'
  language: system
  pass_filenames: false
  stages:
  - push

Fixture guard: validate anyOf/oneOf alternatives (at-least-one-branch)
  scripts/check-fixture-coverage.rb
  scripts/test-check-fixture-coverage.rb
  spec/fixtures/manifest.yaml
Due: none

Fixture guard: allOf nullability is conjunctive (null needs every branch)
  scripts/check-fixture-coverage.rb
  scripts/test-check-fixture-coverage.rb
Due: none

Fixture guard: fold anyOf/oneOf into nullability (reject null-typed-by-non-null-alts)
  scripts/check-fixture-coverage.rb
  scripts/test-check-fixture-coverage.rb
Due: none

Fixture guard: intersect allOf type constraints; pin Vitest fs allow-list
  scripts/check-fixture-coverage.rb
  scripts/test-check-fixture-coverage.rb
  typescript/vitest.config.ts
Due: typescript-lint, typescript-typecheck

Harden run_checker_killable against the Timeout-after-reap race
  scripts/test-check-fixture-coverage.rb
Due: none

TypeScript: select resourceId from the unsuffixed {id} path param
  typescript/scripts/generate-services.ts
  typescript/src/generated/services/todolists.ts
  typescript/tests/services/todolists.test.ts
Due: typescript-lint, typescript-typecheck

Kotlin: select resourceId from the unsuffixed {id} path param
  kotlin/generator/src/main/kotlin/com/basecamp/sdk/generator/ServiceEmitter.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/todolists.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/TodolistsServiceTest.kt
Due: none

Swift: select resourceId from the unsuffixed {id} path param
  swift/Sources/Basecamp/Generated/Services/TodolistsService.swift
  swift/Sources/BasecampGenerator/ServiceEmitter.swift
  swift/Tests/BasecampTests/GeneratedServiceTests.swift
Due: none

Ruby: guard resourceId selection to Id-suffixed or {id} params
  ruby/lib/basecamp/generated/services/schedules_service.rb
  ruby/scripts/generate-services.rb
  ruby/test/basecamp/services/schedules_service_test.rb
  ruby/test/basecamp/services/todolists_service_test.rb
Due: none

Python: guard resourceId selection to Id-suffixed or {id} params
  python/scripts/generate_services.py
  python/src/basecamp/generated/services/schedules.py
  python/tests/services/test_schedules_service.py
  python/tests/services/test_todolists_service.py
Due: none

Fixture guard: conjoin allOf array items; accept scalar type:"null"
  scripts/check-fixture-coverage.rb
  scripts/test-check-fixture-coverage.rb
Due: none

CI: add Swift generated-code drift gate
  .github/workflows/test.yml
  Makefile
  scripts/check-swift-service-drift.sh
Due: none

CI: add missing python path-labeler entry
  .github/labeler.yml
Due: none

Fixture guard: scalar type:"null" imposes a real null constraint; document scope
  scripts/check-fixture-coverage.rb
  scripts/test-check-fixture-coverage.rb
  spec/fixtures/manifest.yaml
Due: none

Hygiene: cross-ref rich-text attachments in recordable-subtypes plan (#427)
  spec/api-gaps/recordable-subtypes-doc.md
  spec/api-gaps/rich-text-attachments-coverage.md
Due: none

Kotlin: optional model arrays become List<T>? = null (breaking) (#433)
  .github/workflows/test.yml
  Makefile
  kotlin/generator/src/main/kotlin/com/basecamp/sdk/generator/ModelEmitter.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/models/CampfireLine.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/models/Card.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/models/CardColumn.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/models/CardStep.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/models/CardTable.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/models/ClientApproval.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/models/EventDetails.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/models/HillChart.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/models/Project.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/models/QuestionSchedule.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/models/ScheduleEntry.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/models/Subscription.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/models/Template.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/models/Todo.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/models/Webhook.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/services/TodosService.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/WormholesServiceTest.kt
  rubric-audit.json
  scripts/check-kotlin-optional-arrays.rb
  scripts/check-kotlin-optional-arrays.sh
  spec/api-gaps/rich-text-attachments-coverage.md
Due: none

Fixture guard: preserve null-only constraint for type: ["null"] union
  scripts/check-fixture-coverage.rb
  scripts/test-check-fixture-coverage.rb
Due: none

Guard idempotency classification: cross-SDK parity + Swift drift gate
  .github/workflows/test.yml
  Makefile
  scripts/check-idempotency-parity
  scripts/check-swift-service-drift.sh
Due: none

check-idempotency-parity: fail closed on an empty operation set
  scripts/check-idempotency-parity
Due: none

Use explicit mktemp -d templates in the new guard scripts
  scripts/check-idempotency-parity
  scripts/check-swift-service-drift.sh
Due: none

check-idempotency-parity: assert no idempotent op has a false Go call-site
  scripts/check-idempotency-parity
Due: none

Test: pin idempotent-POST 503→success retry through the service API
  go/pkg/basecamp/todos_test.go
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/RetryTest.kt
  python/tests/services/test_todos.py
  typescript/tests/services/todos.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Conformance: exercise the network-error transport path
  conformance/runner/go/main.go
  conformance/runner/python/runner.py
  conformance/runner/ruby/runner.rb
  conformance/runner/typescript/runner.test.ts
  conformance/schema.json
  conformance/tests/network-retry.json
  kotlin/conformance/src/main/kotlin/com/basecamp/sdk/conformance/Main.kt
  swift/Tests/BasecampTests/RetryTests.swift
Due: go-test-short

Conformance schema: constrain mockResponses status to 100-599
  conformance/schema.json
Due: none

Conformance: enforce mockResponses oneOf at runtime; tighten TS network match
  conformance/runner/go/main.go
  conformance/runner/python/runner.py
  conformance/runner/ruby/runner.rb
  conformance/runner/typescript/runner.test.ts
  kotlin/conformance/src/main/kotlin/com/basecamp/sdk/conformance/Main.kt
Due: go-test-short

check-idempotency-parity: pin LC_ALL=C for stable sort/comm collation
  scripts/check-idempotency-parity
Due: none

TS idempotent-POST retry test: set enableRetry:true explicitly
  typescript/tests/services/todos.test.ts
Due: typescript-lint, typescript-typecheck

Conformance TS runner: enable retry for network-retry.json
  conformance/runner/typescript/runner.test.ts
Due: none

check-idempotency-parity: fail fast if mktemp fails
  scripts/check-idempotency-parity
Due: none

Kotlin idempotent-POST retry test: assert POST + completion path
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/RetryTest.kt
Due: none

check-idempotency-parity: header says FOUR Go assertions
  scripts/check-idempotency-parity
Due: none

Fixture guard: detect split type/items array emitters via merged view
  scripts/check-fixture-coverage.rb
  scripts/test-check-fixture-coverage.rb
Due: none

Conformance: enforce schema.json against fixtures (authoritative oneOf gate)
  .github/workflows/test.yml
  Makefile
  conformance/runner/go/main.go
  conformance/runner/python/runner.py
  conformance/runner/ruby/runner.rb
  conformance/runner/typescript/runner.test.ts
  conformance/tests.schema.json
  kotlin/conformance/src/main/kotlin/com/basecamp/sdk/conformance/Main.kt
Due: go-test-short

Unify resourceId selection across the five generators (#441)
  kotlin/generator/src/main/kotlin/com/basecamp/sdk/generator/ServiceEmitter.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/todolists.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/TodolistsServiceTest.kt
  python/scripts/generate_services.py
  python/src/basecamp/generated/services/schedules.py
  python/tests/services/test_schedules_service.py
  python/tests/services/test_todolists_service.py
  ruby/lib/basecamp/generated/services/schedules_service.rb
  ruby/scripts/generate-services.rb
  ruby/test/basecamp/services/schedules_service_test.rb
  ruby/test/basecamp/services/todolists_service_test.rb
  swift/Sources/Basecamp/Generated/Services/TodolistsService.swift
  swift/Sources/BasecampGenerator/ServiceEmitter.swift
  swift/Tests/BasecampTests/GeneratedServiceTests.swift
  typescript/scripts/generate-services.ts
  typescript/src/generated/services/todolists.ts
  typescript/tests/services/todolists.test.ts
Due: typescript-lint, typescript-typecheck

CI: add missing python path-labeler entry (#443)
  .github/labeler.yml
Due: none

Guard idempotency classification: cross-SDK parity + Swift drift gate (#444)
  .github/workflows/test.yml
  Makefile
  scripts/check-idempotency-parity
  scripts/check-swift-service-drift.sh
Due: none

Test: pin idempotent-POST 503→success retry through the service API (#445)
  go/pkg/basecamp/todos_test.go
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/RetryTest.kt
  python/tests/services/test_todos.py
  typescript/tests/services/todos.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Conformance: exercise the network-error transport path (#446)
  .github/workflows/test.yml
  Makefile
  conformance/runner/go/main.go
  conformance/runner/python/runner.py
  conformance/runner/ruby/runner.rb
  conformance/runner/typescript/runner.test.ts
  conformance/schema.json
  conformance/tests.schema.json
  conformance/tests/network-retry.json
  kotlin/conformance/src/main/kotlin/com/basecamp/sdk/conformance/Main.kt
  swift/Tests/BasecampTests/RetryTests.swift
Due: go-test-short

Fixture guard: preserve enclosing array constraint across anyOf/oneOf branches
  scripts/check-fixture-coverage.rb
  scripts/test-check-fixture-coverage.rb
Due: none

Fixture-completeness guard: manifest + coverage invariant (#432)
  .github/workflows/test.yml
  AGENTS.md
  Makefile
  conformance/runner/ruby/schema-walker.rb
  python/tests/services/test_todos.py
  python/tests/services/test_uploads.py
  ruby/test/basecamp/services/cards_service_test.rb
  ruby/test/basecamp/services/checkins_service_test.rb
  ruby/test/basecamp/services/client_approvals_service_test.rb
  ruby/test/basecamp/services/client_correspondences_service_test.rb
  ruby/test/basecamp/services/client_replies_service_test.rb
  ruby/test/basecamp/services/comments_service_test.rb
  ruby/test/basecamp/services/documents_service_test.rb
  ruby/test/basecamp/services/forwards_service_test.rb
  ruby/test/basecamp/services/messages_service_test.rb
  ruby/test/basecamp/services/recordings_service_test.rb
  ruby/test/basecamp/services/schedules_service_test.rb
  ruby/test/test_helper.rb
  scripts/check-fixture-coverage.rb
  scripts/check-fixture-coverage.sh
  scripts/test-check-fixture-coverage.rb
  spec/fixtures/forwards/get.json
  spec/fixtures/forwards/reply_get.json
  spec/fixtures/manifest.yaml
  typescript/tests/services/cards.test.ts
  typescript/tests/services/client-visibility.test.ts
  typescript/tests/services/comments.test.ts
  typescript/tests/services/messages.test.ts
  typescript/tests/services/todolists.test.ts
  typescript/vitest.config.ts
Due: typescript-lint, typescript-typecheck

Path conditions:
  go-test-short: any of: \.go$
  typescript-lint: any of: ^typescript/.*\.(ts|tsx)$
  typescript-typecheck: any of: ^typescript/.*\.(ts|tsx)$
