Repository basecamp/basecamp-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-test-short, typescript-lint, typescript-typecheck

go-test-short:
  name: go test -short
  entry: bash -c 'cd go && go test -short ./...'
  language: system
  pass_filenames: false
  stages:
  - push

typescript-lint:
  name: typescript lint
  entry: bash -c 'cd typescript && npm run lint --if-present'
  language: system
  pass_filenames: false
  stages:
  - commit

typescript-typecheck:
  name: typescript typecheck
  entry: bash -c 'cd typescript && npm run typecheck --if-present'
  language: system
  pass_filenames: false
  stages:
  - push

Swift: carry the structured fieldErrors slot, and parse bare field maps
  SPEC.md
  swift/README.md
  swift/Sources/Basecamp/BasecampError.swift
  swift/Tests/BasecampTests/ErrorTests.swift
  swift/Tests/BasecampTests/GeneratedServiceTests.swift
Due: none

Review round 2: a third nil-deref crash, and stop using zero as absence
  go/pkg/basecamp/cards.go
  go/pkg/basecamp/checkins.go
  go/pkg/basecamp/client_approvals.go
  go/pkg/basecamp/hill_charts.go
  go/pkg/basecamp/optional_presence_test.go
  go/pkg/basecamp/tools.go
  go/pkg/basecamp/webhooks.go
  rubric-audit.json
  scripts/check-go-optional-pointers
  scripts/enhance-openapi-go-types.sh
Due: go-test-short

Point the retry-metadata token smoke at the relocated consumption sites
  scripts/check-retry-metadata-parity.py
Due: none

Conformance: pin the bare field-map shape, and stop unwrapping error bodies
  conformance/runner/go/main.go
  conformance/runner/typescript/runner.test.ts
  conformance/tests/error-mapping.json
  kotlin/conformance/src/main/kotlin/com/basecamp/sdk/conformance/Main.kt
Due: go-test-short

Root README: name the per-field validation detail in the errors bullet
  README.md
Due: none

Revert HillChart.UpdatedAt to time.Time; track the inconsistency in #562
  go/pkg/basecamp/hill_charts.go
Due: go-test-short

Review round 3: fix the request-body seed, four more nil-vs-empty sites
  SPEC.md
  go/pkg/basecamp/cards.go
  go/pkg/basecamp/helpers.go
  go/pkg/basecamp/helpers_test.go
  go/pkg/basecamp/optional_presence_test.go
  go/pkg/basecamp/projects.go
  go/pkg/basecamp/todos.go
  go/pkg/basecamp/vaults.go
  go/pkg/basecamp/webhooks.go
  openapi.json
  ruby/test/basecamp/generate_types_spelling_test.rb
  scripts/check-go-optional-pointers
  scripts/enhance-openapi-go-types.sh
Due: go-test-short

Fix the apostrophe that broke the enhance script, and restore openapi.json
  openapi.json
  scripts/enhance-openapi-go-types.sh
Due: none

Scope the download hop-1 headers to what SPEC §14 allows in Python and Ruby
  python/src/basecamp/_async_http.py
  python/src/basecamp/_http.py
  python/tests/test_download.py
  ruby/lib/basecamp/http.rb
  ruby/test/basecamp/download_test.rb
Due: none

Share Kotlin's auth-phase tag and bound the Swift cancellation poll
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/Download.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/http/BasecampHttpClient.kt
  swift/Tests/BasecampTests/DownloadTests.swift
Due: none

SPEC Appendix D: index the field-error conformance cases
  SPEC.md
Due: none

Use assert_not_equal for the Ruby Accept-header pin
  ruby/test/basecamp/download_test.rb
Due: none

Apply ruff format to the Python accept seam
  python/src/basecamp/_async_http.py
  python/src/basecamp/_http.py
Due: none

Review round 4: any-tag guard coverage, tri-state needle description
  go/pkg/basecamp/gauges.go
  go/pkg/basecamp/optional_presence_test.go
  scripts/check-go-optional-pointers
Due: go-test-short

Review round 5: present-empty strings, int32 range, seed assertion
  go/pkg/basecamp/cards.go
  go/pkg/basecamp/optional_presence_test.go
  go/pkg/basecamp/people.go
  go/pkg/basecamp/webhooks.go
  scripts/check-go-optional-pointers
  scripts/enhance-openapi-go-types.sh
Due: go-test-short

Address cubic review: real README signatures, and reserve only "errors"
  SPEC.md
  go/pkg/basecamp/client.go
  go/pkg/basecamp/helpers.go
  go/pkg/basecamp/helpers_test.go
  kotlin/README.md
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/ErrorParsing.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/FieldKeyed422Test.kt
  python/README.md
  python/src/basecamp/errors.py
  python/tests/test_errors.py
  ruby/README.md
  ruby/lib/basecamp.rb
  ruby/test/basecamp/errors_test.rb
  swift/README.md
  swift/Sources/Basecamp/BasecampError.swift
  swift/Tests/BasecampTests/ErrorTests.swift
  typescript/README.md
  typescript/src/errors.ts
  typescript/tests/errors.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Tighten the round-two review findings across the spec, fixtures and tests
  SPEC.md
  conformance/tests/downloads.json
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/Download.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/http/BasecampHttpClient.kt
  python/tests/test_download.py
  ruby/test/basecamp/download_test.rb
Due: none

Review round 6: array-policy self-check, narrow intPtrFrom
  go/pkg/basecamp/helpers.go
  scripts/enhance-openapi-go-types.sh
Due: go-test-short

Address round two: untrack the Vitest cache, correct Python's truncation unit
  .gitignore
  SPEC.md
  conformance/tests/error-mapping.json
  node_modules/.vite/vitest/da39a3ee5e6b4b0d3255bfef95601890afd80709/results.json
  python/README.md
Due: none

Review round 7: validate before publishing, dedupe the closure
  go/pkg/basecamp/cards.go
  go/pkg/basecamp/optional_presence_test.go
  go/pkg/basecamp/people.go
  scripts/enhance-openapi-go-types.sh
Due: go-test-short

Register the Folders API gap (bc3 #12384) and supersede stack-doc-and-smithy (#559)
  spec/api-gaps/README.md
  spec/api-gaps/folders-api.md
  spec/api-gaps/stack-doc-and-smithy.md
Due: none

Document the bare rendering on every field-errors surface
  go/pkg/basecamp/errors.go
  go/pkg/basecamp/helpers.go
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/BasecampException.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/ErrorParsing.kt
  python/src/basecamp/errors.py
  ruby/lib/basecamp/validation_error.rb
  swift/Sources/Basecamp/BasecampError.swift
  typescript/src/errors.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Correct the reserved-key test comments to match the narrowed gate
  go/pkg/basecamp/helpers_test.go
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/FieldKeyed422Test.kt
  python/tests/test_errors.py
  ruby/test/basecamp/errors_test.rb
  swift/Tests/BasecampTests/ErrorTests.swift
  typescript/tests/errors.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Review round 8: helper unit tests, assert both directions of the array policy
  go/pkg/basecamp/pointer_helpers_test.go
  scripts/enhance-openapi-go-types.sh
Due: go-test-short

Count the 401 refresh replay, make Swift cancellation terminal, restore runner strictness
  SPEC.md
  conformance/runner/python/runner.py
  conformance/runner/ruby/runner.rb
  conformance/schema.json
  conformance/tests/downloads.json
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/DownloadTest.kt
  python/src/basecamp/_async_http.py
  python/src/basecamp/_http.py
  python/tests/test_download.py
  ruby/lib/basecamp/http.rb
  ruby/test/basecamp/download_test.rb
  swift/Sources/Basecamp/HTTP/HTTPClient.swift
  swift/Tests/BasecampTests/DownloadTests.swift
Due: none

Review round 9: two more zero-timestamp sentinels, tighten the tag match
  go/pkg/basecamp/cards.go
  go/pkg/basecamp/optional_presence_test.go
  scripts/check-go-optional-pointers
Due: go-test-short

Await the async refresh, not its boolean
  python/src/basecamp/_async_http.py
Due: none

Review round 10: 32-bit portability, align the checker with the pass
  go/pkg/basecamp/optional_presence_test.go
  scripts/enhance-openapi-go-types.sh
Due: go-test-short

Restore SPEC §4's refresh replay and teach every runner the retry-gap index
  conformance/runner/go/main.go
  conformance/runner/typescript/runner.test.ts
  kotlin/conformance/src/main/kotlin/com/basecamp/sdk/conformance/Main.kt
  python/src/basecamp/_async_http.py
  python/src/basecamp/_http.py
  python/tests/test_download.py
  ruby/lib/basecamp/http.rb
  ruby/test/basecamp/download_test.rb
Due: go-test-short

Review round 11: two more zero-timestamp sentinels, correct a doc claim
  go/pkg/basecamp/optional_presence_test.go
  go/pkg/basecamp/people.go
  go/pkg/generated/client.gen.go
  openapi.json
  spec/basecamp.smithy
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/schema.d.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Review round 12: resolve requestBody indirection instead of aborting
  go/pkg/basecamp/webhooks.go
  ruby/test/basecamp/generated_types_test.rb
  scripts/enhance-openapi-go-types.sh
Due: go-test-short

Webhooks: drop IsZero on the pointer-backed timestamps
  go/pkg/basecamp/webhooks.go
Due: go-test-short

Retry the authenticated download hop under a declared set, in every SDK (#563)
  SPEC.md
  conformance/runner/go/main.go
  conformance/runner/python/runner.py
  conformance/runner/ruby/runner.rb
  conformance/runner/typescript/runner.test.ts
  conformance/schema.json
  conformance/tests/downloads.json
  go/pkg/basecamp/download_test.go
  kotlin/conformance/src/main/kotlin/com/basecamp/sdk/conformance/Main.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/Download.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/http/BasecampHttpClient.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/DownloadTest.kt
  python/src/basecamp/_async_http.py
  python/src/basecamp/_http.py
  python/src/basecamp/download.py
  python/tests/test_download.py
  ruby/lib/basecamp/client.rb
  ruby/lib/basecamp/http.rb
  ruby/test/basecamp/download_test.rb
  scripts/check-retry-metadata-parity.py
  swift/Sources/Basecamp/Download.swift
  swift/Sources/Basecamp/HTTP/HTTPClient.swift
  swift/Tests/BasecampTests/DownloadTests.swift
  typescript/src/client.ts
  typescript/src/download.ts
  typescript/src/retry.ts
  typescript/tests/download.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Make the gap index bite in every runner and catch URLSession's cancellation
  conformance/runner/go/main.go
  conformance/runner/python/runner.py
  conformance/runner/ruby/runner.rb
  conformance/runner/typescript/runner.test.ts
  kotlin/conformance/src/main/kotlin/com/basecamp/sdk/conformance/Main.kt
  swift/Sources/Basecamp/HTTP/HTTPClient.swift
  swift/Tests/BasecampTests/DownloadTests.swift
Due: go-test-short

Review round 13: transitive body refs, named interfaces, presence assertions
  go/pkg/basecamp/timesheet_test.go
  ruby/scripts/generate-types.rb
  ruby/scripts/go_type_spellings.rb
  ruby/test/basecamp/generate_types_spelling_test.rb
  scripts/check-go-optional-pointers
  scripts/enhance-openapi-go-types.sh
Due: go-test-short

Report an unparseable answer group_on; fix a test helper guard
  go/pkg/basecamp/checkins.go
  go/pkg/basecamp/optional_presence_test.go
  go/pkg/basecamp/wrapper_propagation_test.go
Due: go-test-short

Commit the reachability proof as a durable test; wire it into make check
  Makefile
  go/pkg/basecamp/optional_presence_test.go
  go/pkg/basecamp/webhooks.go
  scripts/check-go-optional-pointers
  scripts/enhance-openapi-go-types.sh
  scripts/test-enhance-request-reachability
Due: go-test-short

Round 15: present-empty event details, generalize the guard, drop dead state
  go/pkg/basecamp/events.go
  go/pkg/basecamp/optional_presence_test.go
  scripts/check-go-optional-pointers
  scripts/enhance-openapi-go-types.sh
Due: go-test-short

Path conditions:
  go-test-short: any of: \.go$
  typescript-lint: any of: ^typescript/.*\.(ts|tsx)$
  typescript-typecheck: any of: ^typescript/.*\.(ts|tsx)$
