Repository basecamp/basecamp-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-test-short, typescript-lint, typescript-typecheck

go-test-short:
  name: go test -short
  entry: bash -c 'cd go && go test -short ./...'
  language: system
  pass_filenames: false
  stages:
  - push

typescript-lint:
  name: typescript lint
  entry: bash -c 'cd typescript && npm run lint --if-present'
  language: system
  pass_filenames: false
  stages:
  - commit

typescript-typecheck:
  name: typescript typecheck
  entry: bash -c 'cd typescript && npm run typecheck --if-present'
  language: system
  pass_filenames: false
  stages:
  - push

device: skip draining a body whose status is unused (Ruby)
  ruby/lib/basecamp/oauth/device_flow.rb
  ruby/lib/basecamp/oauth/fetcher.rb
  ruby/test/basecamp/oauth_device_test.rb
Due: none

device: document the signal scope and clock fallback (TypeScript)
  typescript/src/oauth/device-login.ts
  typescript/src/oauth/device.ts
Due: typescript-lint, typescript-typecheck

device: backoff tracks the grown slow_down interval (Kotlin)
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/oauth/Device.kt
Due: none

device: keep the post_form doc with post_form (Ruby)
  ruby/lib/basecamp/oauth/device_flow.rb
Due: none

device: cancelled wins over a token completed by a context-ignoring transport (Go)
  go/pkg/basecamp/oauth/device.go
  go/pkg/basecamp/oauth/device_test.go
Due: go-test-short

device: re-check cooperative cancellation after each completed round-trip (Python, Ruby)
  python/src/basecamp/oauth/device.py
  python/tests/oauth/test_device.py
  ruby/lib/basecamp/oauth/device_flow.rb
  ruby/test/basecamp/oauth_device_test.rb
Due: none

test: cover the Ruby orchestrator cancellation seams
  ruby/test/basecamp/oauth_device_test.rb
Due: none

device: honor cancellation around the TS authorization request; document the usage error type (Ruby)
  ruby/lib/basecamp/oauth/oauth_error.rb
  typescript/src/oauth/device-login.ts
  typescript/src/oauth/device.ts
  typescript/tests/oauth/device.test.ts
Due: typescript-lint, typescript-typecheck

device: re-check cancellation before display structurally (Kotlin)
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/oauth/Device.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/OAuthDeviceTest.kt
Due: none

device: honor cancellation around the authorization request too (Python, Ruby)
  python/src/basecamp/oauth/device.py
  python/tests/oauth/test_device.py
  ruby/lib/basecamp/oauth/device_flow.rb
Due: none

device: validate the caller-supplied deadlineAtMs (TypeScript)
  typescript/src/oauth/device.ts
  typescript/tests/oauth/device.test.ts
Due: typescript-lint, typescript-typecheck

device: classify terminal non-4xx statuses before the body read; normalize timeouts before the lifetime clamp
  go/pkg/basecamp/oauth/device.go
  go/pkg/basecamp/oauth/device_test.go
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/oauth/Device.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/OAuthDeviceTest.kt
  python/src/basecamp/oauth/device.py
  python/tests/oauth/test_device.py
  ruby/lib/basecamp/oauth/device_flow.rb
  ruby/test/basecamp/oauth_device_test.rb
  typescript/src/oauth/device.ts
  typescript/tests/oauth/device.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

device: re-check the context before returning a device authorization (Go)
  go/pkg/basecamp/oauth/device.go
  go/pkg/basecamp/oauth/device_test.go
Due: go-test-short

device: bound the caller deadline by the code lifetime (Kotlin)
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/oauth/Device.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/OAuthDeviceTest.kt
Due: none

device: cap Go request timeouts at the shared ceiling; shrink the Python join grace
  go/pkg/basecamp/oauth/device.go
  go/pkg/basecamp/oauth/device_test.go
  python/src/basecamp/oauth/device.py
  python/tests/oauth/test_device.py
Due: go-test-short

device: truncate the extracted OAuth error code (5 SDKs)
  go/pkg/basecamp/oauth/device.go
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/oauth/Device.kt
  python/src/basecamp/oauth/device.py
  ruby/lib/basecamp/oauth/device_flow.rb
  typescript/src/oauth/device.ts
Due: go-test-short, typescript-lint, typescript-typecheck

device: cap TypeScript request timeouts at the shared 3600s ceiling
  typescript/src/oauth/device.ts
  typescript/tests/oauth/device.test.ts
Due: typescript-lint, typescript-typecheck

device: bound the caller deadline by the code lifetime (TypeScript)
  typescript/src/oauth/device.ts
  typescript/tests/oauth/device.test.ts
Due: typescript-lint, typescript-typecheck

device: race an async display hook against the abort signal (TypeScript)
  typescript/src/oauth/device-login.ts
  typescript/tests/oauth/device.test.ts
Due: typescript-lint, typescript-typecheck

device: complete orchestrator cancellation parity (Go post-request re-check, TS direct-caller entry check)
  go/pkg/basecamp/oauth/device.go
  go/pkg/basecamp/oauth/device_test.go
  typescript/src/oauth/device-login.ts
  typescript/src/oauth/device.ts
  typescript/tests/oauth/device.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

device: gate protocol errors on 4xx; clamp the request timeout to the code lifetime (5 SDKs)
  SPEC.md
  go/pkg/basecamp/oauth/device.go
  go/pkg/basecamp/oauth/device_test.go
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/oauth/Device.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/OAuthDeviceTest.kt
  python/src/basecamp/oauth/device.py
  python/tests/oauth/test_device.py
  ruby/lib/basecamp/oauth/device_flow.rb
  ruby/test/basecamp/oauth_device_test.rb
  typescript/src/oauth/device.ts
  typescript/tests/oauth/device.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

device: treat a present-but-empty device endpoint as unavailable (Go)
  go/pkg/basecamp/oauth/device.go
  go/pkg/basecamp/oauth/device_test.go
Due: go-test-short

device: close the remaining TS cancellation microtask gaps; anchor polling at issuance (TypeScript)
  typescript/src/oauth/device-login.ts
  typescript/src/oauth/device.ts
  typescript/tests/oauth/device.test.ts
Due: typescript-lint, typescript-typecheck

device: cancellation inside the display hook wins over expiry (Go, Kotlin, Python, Ruby)
  go/pkg/basecamp/oauth/device.go
  go/pkg/basecamp/oauth/device_test.go
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/oauth/Device.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/OAuthDeviceTest.kt
  python/src/basecamp/oauth/device.py
  python/tests/oauth/test_device.py
  ruby/lib/basecamp/oauth/device_flow.rb
  ruby/test/basecamp/oauth_device_test.rb
Due: go-test-short

device: close the suppressed-review backlog (docs, TypeScript, Kotlin)
  go/README.md
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/OAuthDeviceTest.kt
  typescript/src/oauth/device.ts
  typescript/src/oauth/exchange.ts
  typescript/src/oauth/types.ts
Due: typescript-lint, typescript-typecheck

device: re-check cancellation before classifying every poll result (Go)
  go/pkg/basecamp/oauth/device.go
  go/pkg/basecamp/oauth/device_test.go
Due: go-test-short

device: re-check cancellation before returning codes and tokens structurally (Kotlin)
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/oauth/Device.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/OAuthDeviceTest.kt
Due: none

device: race every round trip against its timeout and abort (TypeScript)
  typescript/src/oauth/device.ts
  typescript/tests/oauth/device.test.ts
Due: typescript-lint, typescript-typecheck

device: re-check cancellation before classifying the authorization response (Kotlin)
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/oauth/Device.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/OAuthDeviceTest.kt
Due: none

device: re-check cancellation before classifying every poll result (Kotlin)
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/oauth/Device.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/OAuthDeviceTest.kt
Due: none

device: correct the discovery snippet's imports and type token_type honestly (docs, TypeScript)
  go/README.md
  typescript/src/oauth/types.ts
Due: typescript-lint, typescript-typecheck

device: re-check cancellation before classifying the authorization response (Go)
  go/pkg/basecamp/oauth/device.go
  go/pkg/basecamp/oauth/device_test.go
Due: go-test-short

device: reject a nil display callback before requesting a code (Go)
  go/pkg/basecamp/oauth/device.go
  go/pkg/basecamp/oauth/device_test.go
Due: go-test-short

device: drop the spent abort listener in the display race's early-abort branch (TypeScript)
  typescript/src/oauth/device-login.ts
Due: typescript-lint, typescript-typecheck

device: re-check the abort signal before returning a polled token (TypeScript)
  typescript/src/oauth/device.ts
  typescript/tests/oauth/device.test.ts
Due: typescript-lint, typescript-typecheck

oauth: give the exchange parser the device-flow strictness (TypeScript)
  typescript/src/oauth/device.ts
  typescript/src/oauth/exchange.ts
  typescript/tests/oauth/oauth.test.ts
Due: typescript-lint, typescript-typecheck

device: entry + post-decode cancellation checks; TS wait floor and error-branch guards (Go, TypeScript)
  go/pkg/basecamp/oauth/device.go
  typescript/src/oauth/device.ts
  typescript/src/oauth/exchange.ts
Due: go-test-short, typescript-lint, typescript-typecheck

device: validate every clock sample; harden timer math and parse ordering (TS, Go, Python)
  go/pkg/basecamp/oauth/device.go
  python/src/basecamp/oauth/device.py
  python/tests/oauth/test_device.py
  typescript/src/oauth/device.ts
  typescript/src/oauth/exchange.ts
  typescript/tests/oauth/oauth.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

device: issuance-anchored deadlines for Python and Ruby; cancellation and abort ordering (Go, TypeScript)
  go/pkg/basecamp/oauth/device.go
  python/src/basecamp/oauth/device.py
  python/tests/oauth/test_device.py
  ruby/lib/basecamp/oauth.rb
  ruby/lib/basecamp/oauth/device_flow.rb
  ruby/test/basecamp/oauth_device_test.rb
  typescript/src/oauth/device.ts
Due: go-test-short, typescript-lint, typescript-typecheck

device: cancellation wins after the post-display clock read; document the usage raise (TypeScript, Ruby)
  ruby/lib/basecamp/oauth/device_flow.rb
  typescript/src/oauth/device-login.ts
Due: typescript-lint, typescript-typecheck

Path conditions:
  go-test-short: any of: \.go$
  typescript-lint: any of: ^typescript/.*\.(ts|tsx)$
  typescript-typecheck: any of: ^typescript/.*\.(ts|tsx)$
