Repository basecamp/basecamp-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-test-short, typescript-lint, typescript-typecheck

go-test-short:
  name: go test -short
  entry: bash -c 'cd go && go test -short ./...'
  language: system
  pass_filenames: false
  stages:
  - push

typescript-lint:
  name: typescript lint
  entry: bash -c 'cd typescript && npm run lint --if-present'
  language: system
  pass_filenames: false
  stages:
  - commit

typescript-typecheck:
  name: typescript typecheck
  entry: bash -c 'cd typescript && npm run typecheck --if-present'
  language: system
  pass_filenames: false
  stages:
  - push

Say where the capacity is actually allocated
  go/pkg/basecamp/eventfeed/connector.go
  go/pkg/basecamp/eventfeed/connector_test.go
Due: go-test-short

Accept the ceiling as well as refuse past it
  go/pkg/basecamp/eventfeed/scenario_fixture_test.go
Due: go-test-short

Declare the capacity ceiling in §23, not only in Go
  SPEC.md
  conformance/event-feed/schema.json
Due: none

State what the ceiling's drift check actually covers
  SPEC.md
  conformance/event-feed/schema.json
Due: none

Bound the connector's capacities where they are allocated (#919)
  SPEC.md
  conformance/event-feed/schema.json
  go/pkg/basecamp/eventfeed/connector.go
  go/pkg/basecamp/eventfeed/connector_test.go
  go/pkg/basecamp/eventfeed/scenario_fixture_test.go
Due: go-test-short

Bump version to 0.19.0
  MIGRATING.md
  conformance/runner/python/uv.lock
  conformance/runner/ruby/Gemfile.lock
  conformance/runner/rust/Cargo.lock
  conformance/runner/typescript/package-lock.json
  go/pkg/basecamp/version.go
  kotlin/sdk/build.gradle.kts
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/BasecampConfig.kt
  package.json
  python/pyproject.toml
  python/src/basecamp/_version.py
  python/uv.lock
  ruby/Gemfile.lock
  ruby/lib/basecamp/version.rb
  rust/Cargo.lock
  rust/basecamp-sdk/Cargo.toml
  swift/Sources/Basecamp/BasecampConfig.swift
  typescript/package-lock.json
  typescript/package.json
  typescript/src/client.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Bump version to 0.19.0 (#920)
  MIGRATING.md
  conformance/runner/python/uv.lock
  conformance/runner/ruby/Gemfile.lock
  conformance/runner/rust/Cargo.lock
  conformance/runner/typescript/package-lock.json
  go/pkg/basecamp/version.go
  kotlin/sdk/build.gradle.kts
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/BasecampConfig.kt
  package.json
  python/pyproject.toml
  python/src/basecamp/_version.py
  python/uv.lock
  ruby/Gemfile.lock
  ruby/lib/basecamp/version.rb
  rust/Cargo.lock
  rust/basecamp-sdk/Cargo.toml
  swift/Sources/Basecamp/BasecampConfig.swift
  typescript/package-lock.json
  typescript/package.json
  typescript/src/client.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Pin the MaxCapacity comment's cost claim as an assertion
  go/pkg/basecamp/eventfeed/connector_test.go
Due: go-test-short

Vary the two capacities independently
  go/pkg/basecamp/eventfeed/connector_test.go
Due: go-test-short

Give the recordings operations their own tag so MCP catalogs it as its own domain
  go/pkg/basecamp/url-routes.json
  openapi.json
  spec/overlays/tags.smithy
  typescript/src/generated/openapi-stripped.json
Due: none

Fail closed when an operation reaches openapi.json without exactly one tag
  .github/workflows/test.yml
  Makefile
  scripts/check-required-tags.rb
  scripts/test-check-required-tags.rb
Due: none

Point the MaxCapacity comment at the test that proves its cost claim
  go/pkg/basecamp/eventfeed/connector.go
Due: go-test-short

Pin the MaxCapacity comment's cost claim as an assertion (#921)
  go/pkg/basecamp/eventfeed/connector.go
  go/pkg/basecamp/eventfeed/connector_test.go
Due: go-test-short

Pin the live buffer's two cost claims as assertions
  go/pkg/basecamp/eventfeed/buffer_test.go
  go/pkg/basecamp/eventfeed/connector.go
Due: go-test-short

Check every HTTP method a path item can carry, not just the five in use
  scripts/check-required-tags.rb
  scripts/test-check-required-tags.rb
Due: none

Record what the tag gate sees that the generators do not
  scripts/check-required-tags.rb
Due: none

Describe the dedupe LRU as the bounded per-lane window it is
  go/pkg/basecamp/eventfeed/connector.go
Due: go-test-short

Pin the live buffer's two cost claims as assertions (#923)
  go/pkg/basecamp/eventfeed/buffer_test.go
  go/pkg/basecamp/eventfeed/connector.go
Due: go-test-short

Identify operations by what they are not, so a new verb cannot slip past
  scripts/check-required-tags.rb
  scripts/test-check-required-tags.rb
Due: none

Require the one tag to name a domain, not merely to be present
  scripts/check-required-tags.rb
  scripts/test-check-required-tags.rb
Due: none

Retire the Automation split entries the retag made unreachable, and pin the router's resource
  go/pkg/basecamp/url_test.go
  kotlin/generator/src/main/kotlin/com/basecamp/sdk/generator/Config.kt
  python/scripts/generate_services.py
  ruby/scripts/generate-services.rb
  swift/Sources/BasecampGenerator/ServiceGrouper.swift
  typescript/scripts/generate-services.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Refuse a path item behind a $ref, and read webhooks as well as paths
  scripts/check-required-tags.rb
  scripts/test-check-required-tags.rb
Due: none

Report a malformed webhooks value instead of ignoring it
  scripts/check-required-tags.rb
  scripts/test-check-required-tags.rb
Due: none

Describe the gap that is actually left, not the one that was closed
  scripts/check-required-tags.rb
Due: none

Tag the recordings operations as their own domain, and require a tag on every operation (#922)
  .github/workflows/test.yml
  Makefile
  go/pkg/basecamp/url-routes.json
  go/pkg/basecamp/url_test.go
  kotlin/generator/src/main/kotlin/com/basecamp/sdk/generator/Config.kt
  openapi.json
  python/scripts/generate_services.py
  ruby/scripts/generate-services.rb
  scripts/check-required-tags.rb
  scripts/test-check-required-tags.rb
  spec/overlays/tags.smithy
  swift/Sources/BasecampGenerator/ServiceGrouper.swift
  typescript/scripts/generate-services.ts
  typescript/src/generated/openapi-stripped.json
Due: go-test-short, typescript-lint, typescript-typecheck

Register #925 so main's known-defect gate goes green again
  spec/tracking-issues.yml
Due: none

Register #925 so main's known-defect gate goes green again (#927)
  spec/tracking-issues.yml
Due: none

Let the Recordings tag reach the Rust generator
  rust/generator/names.toml
Due: none

Let the Recordings tag reach the Rust generator (#928)
  rust/generator/names.toml
Due: none

Carry the response's own facts onto a refusal, both of them
  SPEC.md
  go/pkg/basecamp/event_feed.go
  go/pkg/basecamp/event_feed_test.go
Due: go-test-short

Apply the total-shape rule to every body, not only the ones it started on
  SPEC.md
  go/pkg/basecamp/event_feed.go
  go/pkg/basecamp/event_feed_test.go
Due: go-test-short

Validate member names at every depth, and carry the request id everywhere
  SPEC.md
  go/pkg/basecamp/event_feed.go
  go/pkg/basecamp/event_feed_test.go
Due: go-test-short

Decide each typed feed status totally, rather than shape by shape
  SPEC.md
  go/pkg/basecamp/event_feed.go
  go/pkg/basecamp/event_feed_test.go
  go/pkg/basecamp/eventfeed/live_test.go
  spec/tracking-issues.yml
Due: go-test-short

Walk nested member names in the error bodies too
  SPEC.md
  go/pkg/basecamp/event_feed.go
  go/pkg/basecamp/event_feed_test.go
Due: go-test-short

Validate the event feed's decoded bodies at the wrapper's decode
  SPEC.md
  go/pkg/basecamp/event_feed.go
  go/pkg/basecamp/event_feed_test.go
  go/pkg/basecamp/eventfeed/live.go
  go/pkg/basecamp/eventfeed/live_test.go
  go/pkg/basecamp/eventfeed/loop_test.go
Due: go-test-short

Read the feed error bodies one member at a time
  SPEC.md
  go/pkg/basecamp/event_feed.go
  go/pkg/basecamp/event_feed_test.go
  go/pkg/basecamp/eventfeed/live_test.go
Due: go-test-short

Ship an authoritative embedded tool Catalog distilled from the SDK's own spec
  .github/workflows/test.yml
  Makefile
  go.work
  go/pkg/basecamp/catalog/catalog.go
  go/pkg/basecamp/catalog/catalog.json
  go/pkg/basecamp/catalog/catalog_test.go
  scripts/gen-catalog/go.mod
  scripts/gen-catalog/main.go
  scripts/gen-catalog/main_test.go
  spec/tracking-issues.yml
Due: go-test-short

Give the details exemption to the shape that declares it, not to the name
  SPEC.md
  go/pkg/basecamp/event_feed.go
  go/pkg/basecamp/event_feed_test.go
Due: go-test-short

Ship an authoritative embedded tool Catalog distilled from the SDK's own spec (#926)
  .github/workflows/test.yml
  Makefile
  go.work
  go/pkg/basecamp/catalog/catalog.go
  go/pkg/basecamp/catalog/catalog.json
  go/pkg/basecamp/catalog/catalog_test.go
  scripts/gen-catalog/go.mod
  scripts/gen-catalog/main.go
  scripts/gen-catalog/main_test.go
  spec/tracking-issues.yml
Due: go-test-short

Tag a recording's event history as Recordings, not Automation
  go/pkg/basecamp/catalog/catalog.json
  go/pkg/basecamp/url-routes.json
  kotlin/generator/src/main/kotlin/com/basecamp/sdk/generator/Config.kt
  openapi.json
  python/scripts/generate_services.py
  ruby/scripts/generate-services.rb
  spec/overlays/tags.smithy
  swift/Sources/BasecampGenerator/ServiceGrouper.swift
  typescript/scripts/generate-services.ts
  typescript/src/generated/openapi-stripped.json
Due: typescript-lint, typescript-typecheck

Path conditions:
  go-test-short: any of: \.go$
  typescript-lint: any of: ^typescript/.*\.(ts|tsx)$
  typescript-typecheck: any of: ^typescript/.*\.(ts|tsx)$
