Repository basecamp/basecamp-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-test-short, typescript-lint, typescript-typecheck

go-test-short:
  name: go test -short
  entry: bash -c 'cd go && go test -short ./...'
  language: system
  pass_filenames: false
  stages:
  - push

typescript-lint:
  name: typescript lint
  entry: bash -c 'cd typescript && npm run lint --if-present'
  language: system
  pass_filenames: false
  stages:
  - commit

typescript-typecheck:
  name: typescript typecheck
  entry: bash -c 'cd typescript && npm run typecheck --if-present'
  language: system
  pass_filenames: false
  stages:
  - push

Python: declare the README so the PyPI page is not blank
  python/pyproject.toml
Due: none

Python was in no security tooling at all
  .github/codeql/codeql-config.yml
  .github/workflows/codeql.yml
  .github/workflows/security.yml
  python/pyproject.toml
  python/src/basecamp/_async_http.py
  python/src/basecamp/_http.py
  python/src/basecamp/async_auth.py
  python/src/basecamp/auth.py
  python/src/basecamp/oauth/device.py
  python/src/basecamp/oauth/exchange.py
  python/src/basecamp/oauth/token.py
  python/src/basecamp/services/documents.py
  python/src/basecamp/services/schedules.py
  python/src/basecamp/services/todolists.py
  python/src/basecamp/services/todos.py
Due: none

Delete five locals nothing reads
  ruby/test/basecamp/oauth_device_test.rb
  typescript/scripts/generate-services.ts
  typescript/tests/auth-strategy.test.ts
Due: typescript-lint, typescript-typecheck

Python: declare the README so the PyPI page is not blank (#675)
  python/pyproject.toml
Due: none

Rehearse every publish path on workflow_dispatch (#673)
  .github/workflows/release-go.yml
  .github/workflows/release-kotlin.yml
  .github/workflows/release-python.yml
  .github/workflows/release-ruby.yml
  .github/workflows/release-swift.yml
  .github/workflows/release-typescript.yml
Due: none

Re-derive the release counts: 58 merged, 15 breaking
  MIGRATING.md
Due: none

Python was in no security tooling at all (#676)
  .github/codeql/codeql-config.yml
  .github/workflows/codeql.yml
  .github/workflows/security.yml
  python/pyproject.toml
  python/src/basecamp/_async_http.py
  python/src/basecamp/_http.py
  python/src/basecamp/async_auth.py
  python/src/basecamp/auth.py
  python/src/basecamp/oauth/device.py
  python/src/basecamp/oauth/exchange.py
  python/src/basecamp/oauth/token.py
  python/src/basecamp/services/documents.py
  python/src/basecamp/services/schedules.py
  python/src/basecamp/services/todolists.py
  python/src/basecamp/services/todos.py
Due: none

Ruby: parse the Link header without the regex, and test it
  ruby/lib/basecamp/http.rb
  ruby/test/basecamp/pagination_link_test.rb
Due: none

TypeScript: the Link-header regex was quadratic, and gave up too early
  typescript/src/pagination-utils.ts
  typescript/tests/pagination-utils.test.ts
Due: typescript-lint, typescript-typecheck

Swift: a ">" before the "<" made the Link header unparseable
  swift/Sources/Basecamp/Pagination.swift
  swift/Tests/BasecampTests/PaginationTests.swift
Due: none

Review fallout: Ruby's new scan was quadratic, and two loops had no bound
  SPEC.md
  conformance/runner/swift/Sources/ConformanceSupport/FixturePath.swift
  conformance/runner/swift/Tests/ConformanceSupportTests/FixturePathTests.swift
  conformance/tests/pagination.json
  go/pkg/basecamp/pagination_test.go
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/PaginationTest.kt
  python/tests/test_pagination.py
  ruby/lib/basecamp/http.rb
  ruby/test/basecamp/pagination_link_test.rb
  swift/Tests/BasecampTests/PaginationTests.swift
  typescript/src/client.ts
  typescript/src/pagination-utils.ts
  typescript/src/services/base.ts
  typescript/tests/pagination-utils.test.ts
  typescript/tests/security.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Python: the Link-header regex was quadratic, and nothing was watching
  python/src/basecamp/_pagination.py
  python/tests/test_pagination.py
Due: none

Go: a ">" before the "<" made the Link header unparseable
  go/pkg/basecamp/client.go
  go/pkg/basecamp/pagination_test.go
Due: go-test-short

Kotlin: a ">" before the "<" made the Link header unparseable
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/Pagination.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/PaginationTest.kt
Due: none

Codex review: the byteindex fix crashed, and the cap accepted Infinity
  conformance/runner/go/main.go
  conformance/runner/python/runner.py
  conformance/runner/ruby/runner.rb
  conformance/runner/swift/Sources/ConformanceRunner/Dispatch.swift
  conformance/runner/typescript/runner.test.ts
  conformance/tests/pagination.json
  kotlin/conformance/src/main/kotlin/com/basecamp/sdk/conformance/Main.kt
  ruby/lib/basecamp/http.rb
  ruby/test/basecamp/pagination_link_test.rb
  typescript/src/client.ts
  typescript/tests/security.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Validate maxPages at construction in TypeScript, Kotlin and Swift
  SPEC.md
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/BasecampConfig.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/ClientTest.kt
  swift/Sources/Basecamp/BasecampConfig.swift
  swift/Tests/BasecampTests/ClientTests.swift
  typescript/src/client.ts
  typescript/tests/client.test.ts
Due: typescript-lint, typescript-typecheck

maxPages: isInteger admits Number.MAX_VALUE, which is not a cap
  typescript/src/client.ts
  typescript/tests/client.test.ts
  typescript/tests/security.test.ts
Due: typescript-lint, typescript-typecheck

maxPages: validate at BaseService too — two of three doors is not a guard
  typescript/src/client.ts
  typescript/src/pagination-utils.ts
  typescript/src/services/base.ts
  typescript/tests/client.test.ts
Due: typescript-lint, typescript-typecheck

Carry the message and comment fixes into security.test.ts, and into SPEC
  SPEC.md
  typescript/tests/security.test.ts
Due: typescript-lint, typescript-typecheck

Python accepted max_pages=inf, and SPEC said it could not
  SPEC.md
  python/src/basecamp/config.py
  python/tests/test_config.py
  typescript/src/services/base.ts
Due: typescript-lint, typescript-typecheck

Register the five API-contract changes the bc3 repin brings into range
  spec/api-gaps/bc5-authorization-document-shape.md
  spec/api-gaps/notifications-sort-pings-first.md
  spec/api-gaps/project-archive-unarchive.md
  spec/api-gaps/upload-new-version.md
Due: none

Repin bc3 to a26c2e479f, and let the route table earn the parity gate
  COORDINATION.md
  go/pkg/basecamp/api-provenance.json
  go/pkg/basecamp/version.go
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/BasecampConfig.kt
  python/src/basecamp/_version.py
  ruby/lib/basecamp/version.rb
  spec/api-gaps/README.md
  spec/api-provenance.json
  spec/bc3-route-allowlist.yml
  spec/bc3-routes.json
  spec/doc-constants.json
  swift/Sources/Basecamp/BasecampConfig.swift
Due: go-test-short

Model ArchiveProject, UnarchiveProject and the 507 project limit
  behavior-model.json
  go/pkg/basecamp/url-routes.json
  go/pkg/generated/client.gen.go
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/Metadata.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/projects.kt
  openapi.json
  python/src/basecamp/generated/metadata.json
  python/src/basecamp/generated/services/projects.py
  python/src/basecamp/generated/types.py
  ruby/lib/basecamp/generated/metadata.json
  ruby/lib/basecamp/generated/services/projects_service.rb
  ruby/lib/basecamp/generated/types.rb
  spec/basecamp.smithy
  spec/overlays/tags.smithy
  swift/Sources/Basecamp/Generated/Metadata.swift
  swift/Sources/Basecamp/Generated/Services/ProjectsService.swift
  typescript/src/generated/metadata.ts
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/path-mapping.ts
  typescript/src/generated/schema.d.ts
  typescript/src/generated/services/projects.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Wrap archive/unarchive in Go and cover all six SDKs
  go/pkg/basecamp/projects.go
  go/pkg/basecamp/projects_test.go
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/ProjectsServiceTest.kt
  python/tests/services/test_projects.py
  ruby/test/basecamp/services/projects_service_test.rb
  swift/Tests/BasecampTests/GeneratedServiceTests.swift
  typescript/tests/services/projects.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Re-derive the operation counts, and enumerate the two new methods
  AGENTS.md
  SECURITY.md
  SPEC.md
  go/README.md
  scripts/check-idempotency-parity
  typescript/README.md
  typescript/src/client.ts
Due: typescript-lint, typescript-typecheck

Repin to 7fe1c63ab3 and register BC3 #12566, which ratifies our omission
  COORDINATION.md
  go/pkg/basecamp/api-provenance.json
  spec/api-gaps/README.md
  spec/api-gaps/project-archive-unarchive.md
  spec/api-gaps/upload-new-version.md
  spec/api-provenance.json
  spec/bc3-routes.json
  spec/doc-constants.json
Due: none

Emit archive/unarchive on the grouped generated client too
  go/pkg/basecamp/projects_test.go
  go/pkg/generated/client.gen.go
  go/templates/client.tmpl
Due: go-test-short

Link-header parsing: all six SDKs were wrong, in two different directions (#678)
  SPEC.md
  conformance/runner/go/main.go
  conformance/runner/python/runner.py
  conformance/runner/ruby/runner.rb
  conformance/runner/swift/Sources/ConformanceRunner/Dispatch.swift
  conformance/runner/swift/Sources/ConformanceSupport/FixturePath.swift
  conformance/runner/swift/Tests/ConformanceSupportTests/FixturePathTests.swift
  conformance/runner/typescript/runner.test.ts
  conformance/tests/pagination.json
  go/pkg/basecamp/client.go
  go/pkg/basecamp/pagination_test.go
  kotlin/conformance/src/main/kotlin/com/basecamp/sdk/conformance/Main.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/BasecampConfig.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/Pagination.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/ClientTest.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/PaginationTest.kt
  python/src/basecamp/_pagination.py
  python/src/basecamp/config.py
  python/tests/test_config.py
  python/tests/test_pagination.py
  ruby/lib/basecamp/http.rb
  ruby/test/basecamp/pagination_link_test.rb
  swift/Sources/Basecamp/BasecampConfig.swift
  swift/Sources/Basecamp/Pagination.swift
  swift/Tests/BasecampTests/ClientTests.swift
  swift/Tests/BasecampTests/PaginationTests.swift
  typescript/src/client.ts
  typescript/src/pagination-utils.ts
  typescript/src/services/base.ts
  typescript/tests/client.test.ts
  typescript/tests/pagination-utils.test.ts
  typescript/tests/security.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Event-feed conformance families, their gates, and the §23 G-SD repair (#645)
  .github/workflows/test.yml
  .gitleaks.toml
  Makefile
  SPEC.md
  conformance/event-feed-digest/README.md
  conformance/event-feed-digest/fixtures/srv1-vectors.json
  conformance/event-feed-digest/schema.json
  conformance/event-feed/README.md
  conformance/event-feed/fixtures/01-happy-path-confirm-catchup-stream.json
  conformance/event-feed/fixtures/02-confirmation-gating.json
  conformance/event-feed/fixtures/03-confirmation-deadline-teardown.json
  conformance/event-feed/fixtures/04-terminal-rejection.json
  conformance/event-feed/fixtures/05-fresh-ticket-reconnect-after-ttl.json
  conformance/event-feed/fixtures/06-protocol-fatal-disconnect.json
  conformance/event-feed/fixtures/07-unauthorized-disconnect-reconnects.json
  conformance/event-feed/fixtures/12-checkpoint-after-handoff.json
  conformance/event-feed/fixtures/16-gap-410-accepted-resume.json
  conformance/event-feed/fixtures/17-remote-disconnect-remint.json
  conformance/event-feed/fixtures/19-present-entry-buffered-lower-id.json
  conformance/event-feed/fixtures/20-present-entry-post-snapshot-straggler.json
  conformance/event-feed/fixtures/21-overflow-default-terminal.json
  conformance/event-feed/fixtures/22-overflow-accepted.json
  conformance/event-feed/fixtures/23-gap-410-default-terminal.json
  conformance/event-feed/fixtures/24-overflow-handler-terminate.json
  conformance/event-feed/fixtures/25-gap-handler-terminate.json
  conformance/event-feed/fixtures/26-hostile-next-cross-origin.json
  conformance/event-feed/fixtures/27-hostile-resume-cross-origin.json
  conformance/event-feed/fixtures/28-checkpoint-load-failure.json
  conformance/event-feed/fixtures/29-checkpoint-save-failure-continues.json
  conformance/event-feed/fixtures/30-continuation-redirect-cross-origin.json
  conformance/event-feed/schema.json
Due: none

Two maxPages guards that disagreed with their siblings
  python/src/basecamp/config.py
  python/tests/test_config.py
  typescript/src/client.ts
  typescript/tests/client.test.ts
Due: typescript-lint, typescript-typecheck

Two maxPages guards that disagreed with their siblings (#680)
  python/src/basecamp/config.py
  python/tests/test_config.py
  typescript/src/client.ts
  typescript/tests/client.test.ts
Due: typescript-lint, typescript-typecheck

Re-derive the release counts, and correct SPEC §2 step 5
  MIGRATING.md
  SPEC.md
Due: none

Resolve the PR-number placeholders now that this is #681
  MIGRATING.md
  spec/api-gaps/bc5-authorization-document-shape.md
Due: none

Handle bc3's own authorization document, not just Launchpad's
  MIGRATING.md
  go/pkg/basecamp/authorization.go
  go/pkg/basecamp/authorization_test.go
  ruby/lib/basecamp/services/authorization_service.rb
  ruby/test/basecamp/services/authorization_service_test.rb
  ruby/test/test_helper.rb
  spec/api-gaps/bc5-authorization-document-shape.md
  spec/api-gaps/notifications-sort-pings-first.md
  typescript/src/oauth/authorization-document.ts
  typescript/src/oauth/identity.ts
  typescript/src/oauth/index.ts
  typescript/src/services/authorization.ts
  typescript/tests/services/authorization.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Count five relaxed fields, not four
  MIGRATING.md
Due: none

An empty account list is filterable, not inapplicable
  MIGRATING.md
  go/pkg/basecamp/authorization.go
  go/pkg/basecamp/authorization_test.go
  spec/api-gaps/bc5-authorization-document-shape.md
  typescript/src/oauth/authorization-document.ts
  typescript/tests/services/authorization.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Name the count baseline by reference, not by value
  MIGRATING.md
Due: none

Pin the gate's reads to UTF-8, and run it under LC_ALL=C in CI
  .github/workflows/test.yml
  scripts/check-grouped-client-coverage
  scripts/test-check-grouped-client-coverage.rb
Due: none

Reject template arms for operations the spec no longer has
  scripts/check-grouped-client-coverage
  scripts/test-check-grouped-client-coverage.rb
Due: none

Path conditions:
  go-test-short: any of: \.go$
  typescript-lint: any of: ^typescript/.*\.(ts|tsx)$
  typescript-typecheck: any of: ^typescript/.*\.(ts|tsx)$
