Repository basecamp/basecamp-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-test-short, typescript-lint, typescript-typecheck

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
      - id: detect-private-key
      - id: check-case-conflict

  - repo: https://github.com/golangci/golangci-lint
    rev: v1.62.2
    hooks:
      - id: golangci-lint
        args: [--timeout=5m, --config=go/.golangci.yml]
        files: ^go/

  - repo: https://github.com/tekwizely/pre-commit-golang
    rev: v1.0.0-rc.1
    hooks:
      - id: go-fmt
        files: ^go/
      - id: go-vet
        files: ^go/
      - id: go-mod-tidy
        files: ^go/

  - repo: local
    hooks:
      - id: go-test-short
        name: go test -short
        entry: bash -c 'cd go && go test -short ./...'
        language: system
        pass_filenames: false
        types: [go]
        stages: [push]

      - id: typescript-lint
        name: typescript lint
        entry: bash -c 'cd typescript && npm run lint --if-present'
        language: system
        pass_filenames: false
        files: ^typescript/.*\.(ts|tsx)$
        stages: [commit]

      - id: typescript-typecheck
        name: typescript typecheck
        entry: bash -c 'cd typescript && npm run typecheck --if-present'
        language: system
        pass_filenames: false
        files: ^typescript/.*\.(ts|tsx)$
        stages: [push]

Abort from a seam, not a timer, in the two caller-abort lifecycle tests
  typescript/tests/middleware-lifecycle.test.ts
Due: typescript-lint, typescript-typecheck

Restore the frozen clock where a timed-out test can still reach it
  CONTRIBUTING.md
  typescript/tests/middleware-lifecycle.test.ts
Due: typescript-lint, typescript-typecheck

Record the corrected abort-on-a-timer selector where the next sweeper stands
  CONTRIBUTING.md
Due: none

Event feed: a null type is not a broadcast
  go/pkg/basecamp/eventfeed/cable.go
  go/pkg/basecamp/eventfeed/cable_test.go
Due: go-test-short

Event feed: the checkpoint store's write is bound like its read
  go/pkg/basecamp/eventfeed/filestore.go
  go/pkg/basecamp/eventfeed/filestore_test.go
Due: go-test-short

Event feed: a wrapped sentinel is not a sentinel to log
  go/pkg/basecamp/eventfeed/export_test.go
  go/pkg/basecamp/eventfeed/loop.go
  go/pkg/basecamp/eventfeed/loop_test.go
  go/pkg/basecamp/eventfeed/seams.go
Due: go-test-short

Event feed: a poll page carrying no position is malformed
  go/pkg/basecamp/eventfeed/catchup.go
  go/pkg/basecamp/eventfeed/catchup_test.go
  go/pkg/basecamp/eventfeed/loop.go
Due: go-test-short

Event feed: the tier-2 driver could not fail the terminal contract it enforces
  go/pkg/basecamp/eventfeed/scenario_conformance_test.go
  go/pkg/basecamp/eventfeed/scenario_harness_test.go
  go/pkg/basecamp/eventfeed/scenario_selftest_test.go
Due: go-test-short

Event feed: say that the package is foundations only
  AGENTS.md
  go/pkg/basecamp/eventfeed/doc.go
Due: go-test-short

Event feed: order the one durable effect against Close, and narrow the promise
  go/pkg/basecamp/eventfeed/connector.go
  go/pkg/basecamp/eventfeed/connector_test.go
  go/pkg/basecamp/eventfeed/loop.go
Due: go-test-short

Event feed: one observer-safe URL redactor
  go/pkg/basecamp/eventfeed/redact.go
  go/pkg/basecamp/eventfeed/redact_test.go
Due: go-test-short

Event feed: a concurrent second Close returns early, deliberately
  go/pkg/basecamp/eventfeed/websocket_transport.go
Due: go-test-short

Event feed: staleness arms before Connected, and observers see origins only
  go/pkg/basecamp/eventfeed/catchup.go
  go/pkg/basecamp/eventfeed/loop.go
  go/pkg/basecamp/eventfeed/loop_test.go
  go/pkg/basecamp/eventfeed/recovery.go
  go/pkg/basecamp/eventfeed/recovery_test.go
  go/pkg/basecamp/eventfeed/seams.go
Due: go-test-short

Event feed: an occupied deferral slot no longer blinds the drain's fatal scan
  go/pkg/basecamp/eventfeed/catchup.go
  go/pkg/basecamp/eventfeed/catchup_test.go
Due: go-test-short

Event feed: close four semantic gaps daybreak found in B2-B5
  go/pkg/basecamp/eventfeed/catchup.go
  go/pkg/basecamp/eventfeed/catchup_test.go
  go/pkg/basecamp/eventfeed/connector.go
  go/pkg/basecamp/eventfeed/connector_test.go
  go/pkg/basecamp/eventfeed/errors_test.go
  go/pkg/basecamp/eventfeed/loop.go
  go/pkg/basecamp/eventfeed/loop_test.go
  go/pkg/basecamp/eventfeed/seams.go
Due: go-test-short

Event feed: three docs that outran the code they describe
  go/README.md
  go/pkg/basecamp/eventfeed/connector.go
  go/pkg/basecamp/eventfeed/seams.go
Due: go-test-short

Event feed connector: foundations
  AGENTS.md
  go/go.mod
  go/go.sum
  go/pkg/basecamp/eventfeed/backoff.go
  go/pkg/basecamp/eventfeed/backoff_test.go
  go/pkg/basecamp/eventfeed/cable.go
  go/pkg/basecamp/eventfeed/cable_test.go
  go/pkg/basecamp/eventfeed/checkpoint.go
  go/pkg/basecamp/eventfeed/clock.go
  go/pkg/basecamp/eventfeed/clock_test.go
  go/pkg/basecamp/eventfeed/continuation.go
  go/pkg/basecamp/eventfeed/continuation_test.go
  go/pkg/basecamp/eventfeed/dedupe.go
  go/pkg/basecamp/eventfeed/dedupe_test.go
  go/pkg/basecamp/eventfeed/digest.go
  go/pkg/basecamp/eventfeed/digest_test.go
  go/pkg/basecamp/eventfeed/doc.go
  go/pkg/basecamp/eventfeed/errors.go
  go/pkg/basecamp/eventfeed/errors_test.go
  go/pkg/basecamp/eventfeed/event.go
  go/pkg/basecamp/eventfeed/event_test.go
  go/pkg/basecamp/eventfeed/feedtest/clock.go
  go/pkg/basecamp/eventfeed/feedtest/clock_test.go
  go/pkg/basecamp/eventfeed/feedtest/minter.go
  go/pkg/basecamp/eventfeed/feedtest/minter_test.go
  go/pkg/basecamp/eventfeed/feedtest/polls.go
  go/pkg/basecamp/eventfeed/feedtest/polls_test.go
  go/pkg/basecamp/eventfeed/feedtest/store.go
  go/pkg/basecamp/eventfeed/feedtest/transport.go
  go/pkg/basecamp/eventfeed/feedtest/transport_test.go
  go/pkg/basecamp/eventfeed/filestore.go
  go/pkg/basecamp/eventfeed/filestore_test.go
  go/pkg/basecamp/eventfeed/filters.go
  go/pkg/basecamp/eventfeed/filters_test.go
  go/pkg/basecamp/eventfeed/seams.go
  go/pkg/basecamp/eventfeed/transport.go
  go/pkg/basecamp/eventfeed/transport_contract_test.go
  go/pkg/basecamp/eventfeed/transport_test.go
  go/pkg/basecamp/eventfeed/websocket_transport.go
  go/pkg/basecamp/eventfeed/websocket_transport_test.go
Due: go-test-short

Event feed: cancellation outranks a local close on entry too
  go/pkg/basecamp/eventfeed/transport_contract_test.go
  go/pkg/basecamp/eventfeed/websocket_transport.go
Due: go-test-short

Event feed: the checkpoint store reads a bounded regular file, under one lock
  go/pkg/basecamp/eventfeed/filestore.go
  go/pkg/basecamp/eventfeed/filestore_test.go
Due: go-test-short

Event feed: bounding a peer's text is not redacting it
  SPEC.md
  go/pkg/basecamp/eventfeed/cable.go
  go/pkg/basecamp/eventfeed/cable_test.go
Due: go-test-short

Event feed connector: the run loop, catch-up, recovery, and the tier-2 driver
  CONTRIBUTING.md
  go/README.md
  go/pkg/basecamp/eventfeed/buffer_test.go
  go/pkg/basecamp/eventfeed/catchup.go
  go/pkg/basecamp/eventfeed/catchup_test.go
  go/pkg/basecamp/eventfeed/connector.go
  go/pkg/basecamp/eventfeed/connector_test.go
  go/pkg/basecamp/eventfeed/export_test.go
  go/pkg/basecamp/eventfeed/loop.go
  go/pkg/basecamp/eventfeed/loop_test.go
  go/pkg/basecamp/eventfeed/reconnect_test.go
  go/pkg/basecamp/eventfeed/recovery.go
  go/pkg/basecamp/eventfeed/recovery_test.go
  go/pkg/basecamp/eventfeed/scenario_conformance_test.go
  go/pkg/basecamp/eventfeed/scenario_fixture_test.go
  go/pkg/basecamp/eventfeed/scenario_harness_test.go
  go/pkg/basecamp/eventfeed/scenario_selftest_test.go
Due: go-test-short

Event feed: the fatal verdict was only probed for where the drain looks
  go/pkg/basecamp/eventfeed/catchup.go
  go/pkg/basecamp/eventfeed/catchup_test.go
  go/pkg/basecamp/eventfeed/loop_test.go
Due: go-test-short

Event feed: two of the "connector's own" errors are not the connector's to write
  go/pkg/basecamp/eventfeed/export_test.go
  go/pkg/basecamp/eventfeed/loop.go
  go/pkg/basecamp/eventfeed/loop_test.go
  go/pkg/basecamp/eventfeed/seams.go
Due: go-test-short

Event feed: Dial's error does not reach the callback its contract named
  go/pkg/basecamp/eventfeed/seams.go
Due: go-test-short

Event feed: Close bounds the read, not just itself
  go/pkg/basecamp/eventfeed/websocket_transport.go
  go/pkg/basecamp/eventfeed/websocket_transport_test.go
Due: go-test-short

Event feed: a suppressed duplicate is not a delivery
  go/pkg/basecamp/eventfeed/dedupe.go
  go/pkg/basecamp/eventfeed/dedupe_test.go
Due: go-test-short

Event feed: the cable dial takes no credential it was not given
  go/pkg/basecamp/eventfeed/transport.go
  go/pkg/basecamp/eventfeed/transport_test.go
  go/pkg/basecamp/eventfeed/websocket_transport.go
  go/pkg/basecamp/eventfeed/websocket_transport_test.go
Due: go-test-short

Event feed: the consumer surface gained a method, so §23 gained its contract
  SPEC.md
Due: none

Event feed: the gate paid a real cost for a partial version of a free guarantee
  go/pkg/basecamp/eventfeed/catchup.go
  go/pkg/basecamp/eventfeed/connector.go
  go/pkg/basecamp/eventfeed/connector_test.go
  go/pkg/basecamp/eventfeed/loop.go
  go/pkg/basecamp/eventfeed/recovery.go
Due: go-test-short

Conformance: the driver contract claims a strictness the Go driver does not have
  conformance/event-feed/README.md
Due: none

Event feed: three leaks and a race the last pass reasoned past
  go/pkg/basecamp/eventfeed/catchup.go
  go/pkg/basecamp/eventfeed/catchup_test.go
  go/pkg/basecamp/eventfeed/connector.go
  go/pkg/basecamp/eventfeed/connector_test.go
  go/pkg/basecamp/eventfeed/export_test.go
  go/pkg/basecamp/eventfeed/loop.go
  go/pkg/basecamp/eventfeed/loop_test.go
Due: go-test-short

Event feed: the save's context is contract, not an implementation detail
  SPEC.md
Due: none

Event feed: a sampled flag cannot make a happens-before, so the boundary moves
  SPEC.md
  go/pkg/basecamp/eventfeed/catchup.go
  go/pkg/basecamp/eventfeed/catchup_test.go
  go/pkg/basecamp/eventfeed/connector.go
  go/pkg/basecamp/eventfeed/connector_test.go
  go/pkg/basecamp/eventfeed/doc.go
  go/pkg/basecamp/eventfeed/export_test.go
  go/pkg/basecamp/eventfeed/loop.go
  go/pkg/basecamp/eventfeed/loop_test.go
Due: go-test-short

Let a tagged embed through, and hold the report with a test
  go/pkg/basecamp/optional_timestamps_test.go
  scripts/check-wrapper-drift/main.go
Due: go-test-short

Report an anonymous embed the timestamp walk cannot resolve
  go/pkg/basecamp/optional_timestamps_test.go
  scripts/check-wrapper-drift/main.go
Due: go-test-short

Make the replay path's UTF-8 pins load-bearing
  .github/workflows/test.yml
  conformance/runner/python/test_replay_runner.py
Due: none

Record why the manifest writes need no pin, having tried to break them
  conformance/runner/python/replay_runner.py
  conformance/runner/python/runner.py
  conformance/runner/ruby/replay-runner.rb
  conformance/runner/ruby/runner.rb
Due: none

Pin the conformance runners' fixture reads, and give CI a leg that can see them break
  .github/workflows/test.yml
  conformance/runner/python/replay_runner.py
  conformance/runner/python/runner.py
  conformance/runner/python/schema_walker.py
  conformance/runner/python/test_replay_runner.py
  conformance/runner/ruby/runner.rb
Due: none

Split the Retry-After honouring rule from how each loop composes it
  SPEC.md
Due: none

Close three follow-ons the re-review found on the last round
  SPEC.md
Due: none
