Repository basecamp/basecamp-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-test-short, typescript-lint, typescript-typecheck

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
      - id: detect-private-key
      - id: check-case-conflict

  - repo: https://github.com/golangci/golangci-lint
    rev: v1.62.2
    hooks:
      - id: golangci-lint
        args: [--timeout=5m, --config=go/.golangci.yml]
        files: ^go/

  - repo: https://github.com/tekwizely/pre-commit-golang
    rev: v1.0.0-rc.1
    hooks:
      - id: go-fmt
        files: ^go/
      - id: go-vet
        files: ^go/
      - id: go-mod-tidy
        files: ^go/

  - repo: local
    hooks:
      - id: go-test-short
        name: go test -short
        entry: bash -c 'cd go && go test -short ./...'
        language: system
        pass_filenames: false
        types: [go]
        stages: [push]

      - id: typescript-lint
        name: typescript lint
        entry: bash -c 'cd typescript && npm run lint --if-present'
        language: system
        pass_filenames: false
        files: ^typescript/.*\.(ts|tsx)$
        stages: [commit]

      - id: typescript-typecheck
        name: typescript typecheck
        entry: bash -c 'cd typescript && npm run typecheck --if-present'
        language: system
        pass_filenames: false
        files: ^typescript/.*\.(ts|tsx)$
        stages: [push]

Add tool creation request coverage
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/ToolsServiceTest.kt
  python/tests/services/test_tools.py
  swift/Tests/BasecampTests/GeneratedServiceTests.swift
  typescript/tests/services/tools.test.ts
Due: typescript-lint, typescript-typecheck

Document same-origin credential attachment
  SECURITY.md
Due: none

Recognize RFC 6761 .localhost names in the Kotlin SDK
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/Pagination.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/PaginationTest.kt
Due: none

Scope the Ruby SDK get_absolute cross-origin to the authorization URL
  ruby/lib/basecamp/generated/services/authorization_service.rb
  ruby/lib/basecamp/http.rb
  ruby/lib/basecamp/security.rb
  ruby/test/basecamp/same_origin_test.rb
Due: none

Restrict Ruby cross-origin allowance to the exact Launchpad endpoint
  ruby/lib/basecamp/http.rb
  ruby/lib/basecamp/security.rb
  ruby/test/basecamp/same_origin_test.rb
Due: none

Pin the Swift SDK bearer token to the configured origin
  swift/Sources/Basecamp/HTTP/HTTPClient.swift
  swift/Sources/Basecamp/Pagination.swift
  swift/Sources/Basecamp/Services/BaseService.swift
  swift/Tests/BasecampTests/SameOriginGuardTests.swift
Due: none

Keep the Launchpad constant out of generated Ruby code
  ruby/lib/basecamp/generated/services/authorization_service.rb
  ruby/test/basecamp/same_origin_test.rb
Due: none

Pin the Python SDK bearer token to the configured origin
  python/src/basecamp/_async_http.py
  python/src/basecamp/_http.py
  python/tests/test_http.py
Due: none

Pin the Kotlin SDK bearer token to the configured origin
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/BasecampClient.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/Pagination.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/http/BasecampHttpClient.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/services/BaseService.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/SameOriginTest.kt
Due: none

Pin the Go SDK bearer token to the configured origin
  go/pkg/basecamp/client.go
  go/pkg/basecamp/same_origin_test.go
Due: go-test-short

Tighten same-origin guard across Python, Kotlin, and TS SDKs
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/Pagination.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/services/BaseService.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/PaginationTest.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/SameOriginTest.kt
  python/src/basecamp/_async_http.py
  python/src/basecamp/_http.py
  python/src/basecamp/_security.py
  python/src/basecamp/services/authorization.py
  python/tests/test_http.py
  typescript/src/security.ts
  typescript/tests/security.test.ts
Due: typescript-lint, typescript-typecheck

Pin the Ruby SDK bearer token to the configured origin
  ruby/lib/basecamp/http.rb
  ruby/test/basecamp/http_test.rb
  ruby/test/basecamp/same_origin_test.rb
  ruby/test/basecamp/security_test.rb
Due: none

Address review follow-ups: Swift localhost-HTTP, case handling, docs
  SECURITY.md
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/Pagination.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/PaginationTest.kt
  python/src/basecamp/_async_http.py
  python/src/basecamp/_http.py
  ruby/lib/basecamp/http.rb
  swift/Sources/Basecamp/Pagination.swift
  swift/Sources/Basecamp/Services/BaseService.swift
  swift/Tests/BasecampTests/SameOriginGuardTests.swift
Due: none

Pin the Go SDK localhost carve-out to localhost targets
  go/pkg/basecamp/client.go
  go/pkg/basecamp/same_origin_test.go
Due: go-test-short

Preserve discovered authorization issuers in the Ruby SDK
  ruby/lib/basecamp/http.rb
  ruby/lib/basecamp/security.rb
  ruby/test/basecamp/same_origin_test.rb
Due: none

Pin the TypeScript SDK bearer token to the configured origin
  typescript/src/client.ts
  typescript/src/security.ts
  typescript/src/services/authorization.ts
  typescript/tests/security.test.ts
  typescript/tests/services/authorization.test.ts
Due: typescript-lint, typescript-typecheck

Fix ruff warning: assert the localhost route was actually called
  python/tests/test_http.py
Due: none

Address Copilot review: scheme hardening, clearer errors, test fallbacks
  python/src/basecamp/_async_http.py
  python/src/basecamp/_http.py
  swift/Tests/BasecampTests/SameOriginGuardTests.swift
  typescript/src/security.ts
  typescript/tests/security.test.ts
Due: typescript-lint, typescript-typecheck

Fix TypeScript metadata bundling for serverless tracing (#362)
  typescript/package.json
  typescript/scripts/extract-metadata.ts
  typescript/scripts/generate-path-mapping.ts
  typescript/src/client.ts
  typescript/src/download.ts
  typescript/src/generated/metadata.ts
  typescript/src/services/base.ts
Due: typescript-lint, typescript-typecheck

Add project schedule dates to SDK models
  go/pkg/basecamp/projects.go
  go/pkg/basecamp/projects_test.go
  go/pkg/generated/client.gen.go
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/models/Project.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/ProjectsServiceTest.kt
  openapi.json
  python/src/basecamp/generated/types.py
  python/tests/services/test_projects.py
  ruby/lib/basecamp/generated/metadata.json
  ruby/lib/basecamp/generated/types.rb
  ruby/test/basecamp/services/projects_service_test.rb
  spec/basecamp.smithy
  spec/fixtures/projects/README.md
  spec/fixtures/projects/get.json
  spec/fixtures/projects/list.json
  swift/Sources/Basecamp/Generated/Models/Project.swift
  swift/Tests/BasecampTests/GeneratedServiceTests.swift
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/schema.d.ts
  typescript/tests/services/projects.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Tidy project fixture notes
  spec/fixtures/projects/README.md
Due: none

Sync API provenance
  go/pkg/basecamp/api-provenance.json
  go/pkg/basecamp/version.go
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/BasecampConfig.kt
  openapi.json
  python/src/basecamp/_version.py
  ruby/lib/basecamp/generated/metadata.json
  ruby/lib/basecamp/generated/types.rb
  ruby/lib/basecamp/version.rb
  spec/api-provenance.json
  spec/basecamp.smithy
  swift/Sources/Basecamp/BasecampConfig.swift
  typescript/src/client.ts
  typescript/src/generated/openapi-stripped.json
Due: go-test-short, typescript-lint, typescript-typecheck

Add project schedule dates to SDK models (#302)
  go/pkg/basecamp/api-provenance.json
  go/pkg/basecamp/projects.go
  go/pkg/basecamp/projects_test.go
  go/pkg/basecamp/version.go
  go/pkg/generated/client.gen.go
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/BasecampConfig.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/models/Project.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/ProjectsServiceTest.kt
  openapi.json
  python/src/basecamp/_version.py
  python/src/basecamp/generated/types.py
  python/tests/services/test_projects.py
  ruby/lib/basecamp/generated/metadata.json
  ruby/lib/basecamp/generated/types.rb
  ruby/lib/basecamp/version.rb
  ruby/test/basecamp/services/projects_service_test.rb
  spec/api-provenance.json
  spec/basecamp.smithy
  spec/fixtures/projects/README.md
  spec/fixtures/projects/get.json
  spec/fixtures/projects/list.json
  swift/Sources/Basecamp/BasecampConfig.swift
  swift/Sources/Basecamp/Generated/Models/Project.swift
  swift/Tests/BasecampTests/GeneratedServiceTests.swift
  typescript/src/client.ts
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/schema.d.ts
  typescript/tests/services/projects.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Allow plain-HTTP localhost absolute URLs in the Go SDK
  go/pkg/basecamp/client.go
  go/pkg/basecamp/same_origin_test.go
Due: go-test-short

Address review round: Go scheme case, Kotlin scheme carve-out and default ports
  go/pkg/basecamp/client.go
  go/pkg/basecamp/same_origin_test.go
  go/pkg/basecamp/security.go
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/Pagination.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/PaginationTest.kt
Due: go-test-short

Bound guard error messages and finish Kotlin origin parsing
  go/pkg/basecamp/client.go
  go/pkg/basecamp/same_origin_test.go
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/Pagination.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/http/BasecampHttpClient.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/services/BaseService.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/PaginationTest.kt
  swift/Sources/Basecamp/BasecampError.swift
  swift/Sources/Basecamp/HTTP/HTTPClient.swift
  swift/Sources/Basecamp/Services/BaseService.swift
  typescript/src/errors.ts
  typescript/src/security.ts
  typescript/tests/security.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Complete scheme hardening across Python, Ruby, Swift; sanitize Swift redirects
  python/src/basecamp/_async_http.py
  python/src/basecamp/_http.py
  python/src/basecamp/_security.py
  python/tests/test_http.py
  ruby/lib/basecamp/http.rb
  ruby/lib/basecamp/security.rb
  ruby/test/basecamp/same_origin_test.rb
  swift/Sources/Basecamp/HTTP/Transport.swift
  swift/Sources/Basecamp/Pagination.swift
  swift/Tests/BasecampTests/SameOriginGuardTests.swift
Due: none

Fix Kotlin isLocalhost fragment bypass; preserve caller's URLSession delegate
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/Pagination.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/PaginationTest.kt
  python/tests/test_http.py
  swift/Sources/Basecamp/HTTP/Transport.swift
Due: none

Fix Kotlin isLocalhost userinfo bypass; scheme-gate Go's localhost carve-out
  go/pkg/basecamp/security.go
  go/pkg/basecamp/security_test.go
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/Pagination.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/PaginationTest.kt
Due: go-test-short

Use the shared localhost helper for the Swift base-URL HTTPS check
  swift/Sources/Basecamp/BasecampClient.swift
Due: none

Parse Kotlin guard URLs with Ktor's own parser
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/Pagination.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/PaginationTest.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/SameOriginTest.kt
Due: none

Decide Python origin guards with httpx.URL, the transport's parser
  python/src/basecamp/_security.py
  python/tests/test_http.py
  python/tests/test_security.py
Due: none

Derive Swift guard host from URL(string:), the dialing parser
  swift/Sources/Basecamp/Pagination.swift
  swift/Tests/BasecampTests/SameOriginGuardTests.swift
Due: none

Pin undici's cross-origin Authorization stripping in TypeScript
  typescript/tests/security.test.ts
Due: typescript-lint, typescript-typecheck

Pin SDK bearer token to the configured origin (all 6 SDKs) (#326)
  SECURITY.md
  go/pkg/basecamp/client.go
  go/pkg/basecamp/same_origin_test.go
  go/pkg/basecamp/security.go
  go/pkg/basecamp/security_test.go
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/BasecampClient.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/Pagination.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/http/BasecampHttpClient.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/services/BaseService.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/PaginationTest.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/SameOriginTest.kt
  python/src/basecamp/_async_http.py
  python/src/basecamp/_http.py
  python/src/basecamp/_security.py
  python/src/basecamp/services/authorization.py
  python/tests/test_http.py
  python/tests/test_security.py
  ruby/lib/basecamp/http.rb
  ruby/lib/basecamp/security.rb
  ruby/test/basecamp/http_test.rb
  ruby/test/basecamp/same_origin_test.rb
  ruby/test/basecamp/security_test.rb
  swift/Sources/Basecamp/BasecampClient.swift
  swift/Sources/Basecamp/BasecampError.swift
  swift/Sources/Basecamp/HTTP/HTTPClient.swift
  swift/Sources/Basecamp/HTTP/Transport.swift
  swift/Sources/Basecamp/Pagination.swift
  swift/Sources/Basecamp/Services/BaseService.swift
  swift/Tests/BasecampTests/SameOriginGuardTests.swift
  typescript/src/client.ts
  typescript/src/errors.ts
  typescript/src/security.ts
  typescript/src/services/authorization.ts
  typescript/tests/security.test.ts
  typescript/tests/services/authorization.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Fix Go SDK Content-Type on GET requests (#334)
  go/pkg/basecamp/client.go
  go/pkg/basecamp/client_test.go
  go/pkg/basecamp/search_test.go
Due: go-test-short

Bump golang.org/x/text to v0.39.0
  go.work.sum
  go/go.mod
  go/go.sum
Due: none

Split Trivy jobs into full-severity SARIF scan + HIGH/CRITICAL gate
  .github/workflows/security.yml
Due: none
