Repository basecamp/basecamp-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-test-short, typescript-lint, typescript-typecheck

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
      - id: detect-private-key
      - id: check-case-conflict

  - repo: https://github.com/golangci/golangci-lint
    rev: v1.62.2
    hooks:
      - id: golangci-lint
        args: [--timeout=5m, --config=go/.golangci.yml]
        files: ^go/

  - repo: https://github.com/tekwizely/pre-commit-golang
    rev: v1.0.0-rc.1
    hooks:
      - id: go-fmt
        files: ^go/
      - id: go-vet
        files: ^go/
      - id: go-mod-tidy
        files: ^go/

  - repo: local
    hooks:
      - id: go-test-short
        name: go test -short
        entry: bash -c 'cd go && go test -short ./...'
        language: system
        pass_filenames: false
        types: [go]
        stages: [push]

      - id: typescript-lint
        name: typescript lint
        entry: bash -c 'cd typescript && npm run lint --if-present'
        language: system
        pass_filenames: false
        files: ^typescript/.*\.(ts|tsx)$
        stages: [commit]

      - id: typescript-typecheck
        name: typescript typecheck
        entry: bash -c 'cd typescript && npm run typecheck --if-present'
        language: system
        pass_filenames: false
        files: ^typescript/.*\.(ts|tsx)$
        stages: [push]

Set bucket-grouped everything maxPageSize to the documented 5
  behavior-model.json
  openapi.json
  ruby/lib/basecamp/generated/metadata.json
  ruby/lib/basecamp/generated/types.rb
  spec/basecamp.smithy
  typescript/src/generated/metadata.ts
  typescript/src/generated/openapi-stripped.json
Due: typescript-lint, typescript-typecheck

Bump idempotency-parity union count to 187 for the bucket Everything GETs
  scripts/check-idempotency-parity
Due: none

Make idempotency-parity header comments count-agnostic
  go/pkg/basecamp/everything_test.go
  ruby/lib/basecamp/generated/types.rb
  typescript/src/generated/schema.d.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Make bucket-grouped Python fixtures use consistent child buckets
  python/tests/services/test_everything.py
Due: none

Model Todo/Card due_on (and Todo starts_on) as always-present nullable
  go/pkg/generated/client.gen.go
  openapi.json
  python/src/basecamp/generated/types.py
  ruby/lib/basecamp/generated/metadata.json
  ruby/lib/basecamp/generated/types.rb
  scripts/enhance-openapi-go-types.sh
  typescript/src/generated/metadata.ts
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/schema.d.ts
  typescript/src/generated/services/everything.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Regenerate for the §10 aggregate-scalar pointers and EverythingBoost required fields from #435
  go/pkg/generated/client.gen.go
  ruby/lib/basecamp/generated/types.rb
Due: go-test-short

Reword due_on nullable rationale; regenerate for upstream type-specific changes
  go/pkg/generated/client.gen.go
  ruby/lib/basecamp/generated/types.rb
  scripts/enhance-openapi-go-types.sh
  typescript/src/generated/services/everything.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Regenerate for nullable timeline bounds + EverythingBoost re-export from below
  ruby/lib/basecamp/generated/types.rb
Due: none

Regenerate after rebasing #438 onto main (#393 message-types + #456 freshness gates + #435)
  go/pkg/generated/client.gen.go
  ruby/lib/basecamp/generated/metadata.json
  ruby/lib/basecamp/generated/types.rb
  typescript/src/generated/metadata.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Registry/doc nits: name-based smithy_refs, count-agnostic idempotency comments, qualified schedule rule
  Makefile
  scripts/check-idempotency-parity
  spec/api-gaps/bubble-ups-surface.md
  spec/api-gaps/schedule-recurrence-writes.md
Due: none

Actions: correct stale pin version comments; move zizmor ignores to their own lines
  .github/workflows/release-github.yml
  .github/workflows/release-go.yml
  .github/workflows/release-kotlin.yml
  .github/workflows/release-python.yml
  .github/workflows/release-ruby.yml
  .github/workflows/release-typescript.yml
Due: none

idempotency-parity: drop remaining literal counts from comments and labels
  scripts/check-idempotency-parity
Due: none

Registry/doc nits: durable smithy_refs, count-agnostic idempotency comments, qualified schedule rule (#457)
  Makefile
  scripts/check-idempotency-parity
  spec/api-gaps/bubble-ups-surface.md
  spec/api-gaps/schedule-recurrence-writes.md
Due: none

CI: sync Dependabot action pin comments via reusable workflow
  .github/workflows/dependabot-sync-actions-comments.yml
Due: none

Actions: correct stale pin version comments; move zizmor ignores to their own lines (#458)
  .github/workflows/release-github.yml
  .github/workflows/release-go.yml
  .github/workflows/release-kotlin.yml
  .github/workflows/release-python.yml
  .github/workflows/release-ruby.yml
  .github/workflows/release-typescript.yml
Due: none

CI: filter workflow_run to dependabot branches at the trigger
  .github/workflows/dependabot-sync-actions-comments.yml
Due: none

CI: re-pin dependabot-sync reusable workflow past the dispatch fallback
  .github/workflows/dependabot-sync-actions-comments.yml
Due: none

Sync Dependabot action pin comments via reusable workflow (#459)
  .github/workflows/dependabot-sync-actions-comments.yml
Due: none

Align generated Go + Python retry loops to total-attempt semantics (A4b1)
  SPEC.md
  go/pkg/basecamp/client.go
  go/pkg/basecamp/client_retry_finalattempt_test.go
  go/pkg/basecamp/generated_retry_test.go
  go/pkg/generated/client.gen.go
  go/templates/client.tmpl
  python/README.md
  python/src/basecamp/_async_http.py
  python/src/basecamp/_http.py
  python/src/basecamp/config.py
  python/tests/test_config.py
  python/tests/test_http.py
  ruby/lib/basecamp/http.rb
Due: go-test-short

CI: rebuild comment sync as a post-merge repair caller
  .github/workflows/dependabot-sync-actions-comments.yml
Due: none

CI: rebuild comment sync as a post-merge repair caller (#462)
  .github/workflows/dependabot-sync-actions-comments.yml
Due: none

CI: seed a stale pin comment for the sync rollout exercise
  .github/workflows/release-go.yml
Due: none

CI: seed a stale pin comment for the sync rollout exercise (#463)
  .github/workflows/release-go.yml
Due: none

CI: re-pin dependabot-sync past the bot-author fix
  .github/workflows/dependabot-sync-actions-comments.yml
Due: none

CI: re-pin dependabot-sync past the bot-author fix (#468)
  .github/workflows/dependabot-sync-actions-comments.yml
Due: none

Freshness-gate completeness: url-routes + Kotlin regenerate-and-diff
  .github/workflows/test.yml
  Makefile
  SPEC.md
  scripts/check-kotlin-generated-drift.sh
Due: none

CI: re-pin dependabot-sync past the re-verification retry
  .github/workflows/dependabot-sync-actions-comments.yml
Due: none

Freshness-gate completeness: url-routes + Kotlin regenerate-and-diff (#460)
  .github/workflows/test.yml
  Makefile
  SPEC.md
  scripts/check-kotlin-generated-drift.sh
Due: none

Align generated Go + Python retry loops to total-attempt semantics (A4b1) (#461)
  SPEC.md
  go/pkg/basecamp/client.go
  go/pkg/basecamp/client_retry_finalattempt_test.go
  go/pkg/basecamp/generated_retry_test.go
  go/pkg/generated/client.gen.go
  go/templates/client.tmpl
  python/README.md
  python/src/basecamp/_async_http.py
  python/src/basecamp/_http.py
  python/src/basecamp/config.py
  python/tests/test_config.py
  python/tests/test_http.py
  ruby/lib/basecamp/http.rb
Due: go-test-short

CI: re-pin dependabot-sync past the re-verification retry (#470)
  .github/workflows/dependabot-sync-actions-comments.yml
Due: none

CI: re-pin dependabot-sync; contents write for auto-merge arming
  .github/workflows/dependabot-sync-actions-comments.yml
Due: none

CI: re-pin dependabot-sync; contents write for auto-merge arming (#473)
  .github/workflows/dependabot-sync-actions-comments.yml
Due: none

Ruby generator: keep multiline x-deprecated-reason from breaking types.rb
  ruby/scripts/generate-types.rb
  ruby/test/scripts/generate_types_test.rb
  ruby/test/test_helper.rb
Due: none

TS: raise the Node support floor to >=22.12.0 and use AbortSignal.any
  typescript/package.json
  typescript/src/client.ts
  typescript/tests/client.test.ts
Due: typescript-lint, typescript-typecheck

Correct the SearchResult generic-attachments carve-out: redundant projection, not a distinct aggregate
  go/pkg/generated/client.gen.go
  openapi.json
  spec/api-gaps/rich-text-attachments-coverage.md
  spec/basecamp.smithy
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/schema.d.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Add shared Gauge/GaugeNeedle fixtures and retire their coverage exclusions
  spec/fixtures/gauges/get.json
  spec/fixtures/gauges/needle_get.json
  spec/fixtures/manifest.yaml
Due: none

Make the TypeScript service tests' validation claims true
  typescript/tests/services/attachments.test.ts
  typescript/tests/services/checkins.test.ts
  typescript/tests/services/documents.test.ts
  typescript/tests/services/forwards.test.ts
  typescript/tests/services/lineup.test.ts
  typescript/tests/services/schedules.test.ts
  typescript/tests/services/search.test.ts
  typescript/tests/services/subscriptions.test.ts
  typescript/tests/services/templates.test.ts
  typescript/tests/services/todolistGroups.test.ts
  typescript/tests/services/tools.test.ts
  typescript/tests/services/uploads.test.ts
  typescript/tests/services/vaults.test.ts
  typescript/tests/services/webhooks.test.ts
Due: typescript-lint, typescript-typecheck

Correct the 1B.4 Kotlin claim, extend the Kotlin guard to scalars, scope the SPEC rule
  .github/workflows/test.yml
  Makefile
  SPEC.md
  rubric-audit.json
  scripts/check-kotlin-optional-arrays-and-scalars.rb
  scripts/check-kotlin-optional-arrays-and-scalars.sh
  scripts/check-kotlin-optional-arrays.rb
  scripts/check-kotlin-optional-arrays.sh
Due: none

Add shared Gauge/GaugeNeedle fixtures and retire their coverage exclusions (#472)
  spec/fixtures/gauges/get.json
  spec/fixtures/gauges/needle_get.json
  spec/fixtures/manifest.yaml
Due: none
