Repository basecamp/basecamp-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-test-short, typescript-lint, typescript-typecheck

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
      - id: detect-private-key
      - id: check-case-conflict

  - repo: https://github.com/golangci/golangci-lint
    rev: v1.62.2
    hooks:
      - id: golangci-lint
        args: [--timeout=5m, --config=go/.golangci.yml]
        files: ^go/

  - repo: https://github.com/tekwizely/pre-commit-golang
    rev: v1.0.0-rc.1
    hooks:
      - id: go-fmt
        files: ^go/
      - id: go-vet
        files: ^go/
      - id: go-mod-tidy
        files: ^go/

  - repo: local
    hooks:
      - id: go-test-short
        name: go test -short
        entry: bash -c 'cd go && go test -short ./...'
        language: system
        pass_filenames: false
        types: [go]
        stages: [push]

      - id: typescript-lint
        name: typescript lint
        entry: bash -c 'cd typescript && npm run lint --if-present'
        language: system
        pass_filenames: false
        files: ^typescript/.*\.(ts|tsx)$
        stages: [commit]

      - id: typescript-typecheck
        name: typescript typecheck
        entry: bash -c 'cd typescript && npm run typecheck --if-present'
        language: system
        pass_filenames: false
        files: ^typescript/.*\.(ts|tsx)$
        stages: [push]

Fix outdated comment on paginationHandler struct
  go/pkg/basecamp/pagination_test.go
Due: go-test-short

Refactor pagination to use generated client for spec conformance
  go/pkg/basecamp/cards.go
  go/pkg/basecamp/checkins.go
  go/pkg/basecamp/client.go
  go/pkg/basecamp/comments.go
  go/pkg/basecamp/events.go
  go/pkg/basecamp/forwards.go
  go/pkg/basecamp/messages.go
  go/pkg/basecamp/people.go
  go/pkg/basecamp/projects.go
  go/pkg/basecamp/recordings.go
  go/pkg/basecamp/schedules.go
  go/pkg/basecamp/todolists.go
  go/pkg/basecamp/todos.go
  go/pkg/basecamp/vaults.go
Due: go-test-short

Add unit tests for FollowPagination
  go/pkg/basecamp/pagination_test.go
Due: go-test-short

Add Status filter to ScheduleEntryListOptions
  go/pkg/basecamp/schedules.go
Due: go-test-short

Fix bodyclose linter in pagination tests
  go/pkg/basecamp/pagination_test.go
Due: go-test-short

Add pagination support to SDK list operations (#53)
  go/pkg/basecamp/cards.go
  go/pkg/basecamp/checkins.go
  go/pkg/basecamp/client.go
  go/pkg/basecamp/comments.go
  go/pkg/basecamp/events.go
  go/pkg/basecamp/example_test.go
  go/pkg/basecamp/forwards.go
  go/pkg/basecamp/messages.go
  go/pkg/basecamp/pagination_test.go
  go/pkg/basecamp/people.go
  go/pkg/basecamp/projects.go
  go/pkg/basecamp/recordings.go
  go/pkg/basecamp/schedules.go
  go/pkg/basecamp/todolists.go
  go/pkg/basecamp/todos.go
  go/pkg/basecamp/vaults.go
Due: go-test-short

Address PR feedback on Ruby SDK
  ruby/.rubocop.yml
  ruby/CHANGELOG.md
  ruby/lib/basecamp/services/webhooks_service.rb
  ruby/scripts/generate-types.rb
  ruby/test/basecamp/services/attachments_service_test.rb
Due: none

Enforce double-quote string style throughout
  ruby/.rubocop.yml
  ruby/bin/console
  ruby/lib/basecamp/errors.rb
  ruby/lib/basecamp/oauth/discovery.rb
  ruby/lib/basecamp/services/authorization_service.rb
  ruby/scripts/generate-types.rb
  ruby/test/basecamp/services/people_service_test.rb
Due: none

Switch to 37signals house style rubocop rules
  ruby/.rubocop.yml
  ruby/Gemfile.lock
  ruby/basecamp-sdk.gemspec
  ruby/lib/basecamp.rb
  ruby/lib/basecamp/errors.rb
  ruby/lib/basecamp/oauth.rb
  ruby/lib/basecamp/oauth/discovery.rb
  ruby/lib/basecamp/oauth/exchange.rb
  ruby/lib/basecamp/oauth/types.rb
  ruby/test/basecamp/auth_extended_test.rb
  ruby/test/basecamp/auth_test.rb
  ruby/test/basecamp/errors_test.rb
  ruby/test/basecamp/generated_types_test.rb
  ruby/test/basecamp/hooks_test.rb
  ruby/test/basecamp/oauth_test.rb
  ruby/test/basecamp/services/card_columns_service_test.rb
  ruby/test/basecamp/services/card_steps_service_test.rb
  ruby/test/test_helper.rb
Due: none

Address Ruby SDK PR feedback (#58)
  ruby/.rubocop.yml
  ruby/CHANGELOG.md
  ruby/Gemfile.lock
  ruby/basecamp-sdk.gemspec
  ruby/bin/console
  ruby/lib/basecamp.rb
  ruby/lib/basecamp/errors.rb
  ruby/lib/basecamp/oauth.rb
  ruby/lib/basecamp/oauth/discovery.rb
  ruby/lib/basecamp/oauth/exchange.rb
  ruby/lib/basecamp/oauth/types.rb
  ruby/lib/basecamp/services/authorization_service.rb
  ruby/lib/basecamp/services/webhooks_service.rb
  ruby/scripts/generate-types.rb
  ruby/test/basecamp/auth_extended_test.rb
  ruby/test/basecamp/auth_test.rb
  ruby/test/basecamp/errors_test.rb
  ruby/test/basecamp/generated_types_test.rb
  ruby/test/basecamp/hooks_test.rb
  ruby/test/basecamp/oauth_test.rb
  ruby/test/basecamp/services/attachments_service_test.rb
  ruby/test/basecamp/services/card_columns_service_test.rb
  ruby/test/basecamp/services/card_steps_service_test.rb
  ruby/test/basecamp/services/people_service_test.rb
  ruby/test/test_helper.rb
Due: none

Skip sleep on final retry attempt
  ruby/lib/basecamp/http.rb
Due: none

Use single-attempt config in rate limit error test
  ruby/test/basecamp/http_test.rb
Due: none

Resolve relative URLs in pagination Link headers
  go/pkg/basecamp/client.go
  go/pkg/basecamp/pagination_test.go
Due: go-test-short

Resolve relative URLs in pagination Link headers (#59)
  go/pkg/basecamp/client.go
  go/pkg/basecamp/pagination_test.go
Due: go-test-short

Expose X-Total-Count header from Projects.List
  go/pkg/basecamp/example_test.go
  go/pkg/basecamp/helpers.go
  go/pkg/basecamp/projects.go
Due: go-test-short

Remove dependency-review job during private development
  .github/workflows/security.yml
Due: none

Add webhook payload URL validation on create and update
  go/pkg/basecamp/webhooks.go
  ruby/lib/basecamp/services/webhooks_service.rb
  typescript/src/services/webhooks.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Add OAuth endpoint HTTPS enforcement with localhost exception
  go/pkg/basecamp/auth.go
  ruby/lib/basecamp/oauth/discovery.rb
  ruby/lib/basecamp/oauth/exchange.rb
  typescript/src/oauth/discovery.ts
  typescript/src/oauth/exchange.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Add comprehensive security test suites
  go/pkg/basecamp/security_test.go
  ruby/test/basecamp/security_test.rb
  typescript/tests/security.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Add error body size guard and message truncation (Ruby)
  ruby/lib/basecamp/errors.rb
Due: none

Add Go OAuth package security hardening
  go/pkg/basecamp/oauth/exchange.go
  go/pkg/basecamp/oauth/oauth_test.go
Due: go-test-short

Add shared security helpers module
  go/pkg/basecamp/security.go
  ruby/lib/basecamp/security.rb
Due: go-test-short

Add config validation with localhost exception
  go/pkg/basecamp/client.go
  ruby/lib/basecamp/config.rb
  typescript/src/client.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Use bounded reads in authorization service (Go)
  go/pkg/basecamp/authorization.go
  go/pkg/basecamp/benchmark_test.go
Due: go-test-short

Add HTTP layer security hardening (Ruby)
  ruby/lib/basecamp/http.rb
Due: none

Deep security audit fixes (Phase 2)
  SECURITY.md
  go/pkg/basecamp/auth.go
  go/pkg/basecamp/auth_race_test.go
  go/pkg/basecamp/client.go
  go/pkg/basecamp/oauth/pkce.go
  go/pkg/basecamp/pagination_test.go
  go/pkg/basecamp/security.go
  go/pkg/basecamp/security_test.go
  ruby/lib/basecamp/oauth/pkce.rb
  ruby/lib/basecamp/oauth_token_provider.rb
  ruby/lib/basecamp/security.rb
  ruby/test/basecamp/security_test.rb
  typescript/src/client.ts
  typescript/src/errors.ts
  typescript/src/index.ts
  typescript/src/oauth/exchange.ts
  typescript/src/oauth/index.ts
  typescript/src/oauth/pkce.ts
  typescript/src/security.ts
  typescript/tests/errors.test.ts
  typescript/tests/oauth/oauth.test.ts
  typescript/tests/security.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Enable strict security scanning in CI
  .github/workflows/security.yml
Due: none

Fix lint issues across Go and Ruby
  go/pkg/basecamp/auth.go
  go/pkg/basecamp/client.go
  go/pkg/basecamp/pagination_test.go
  ruby/lib/basecamp/security.rb
  ruby/test/basecamp/security_test.rb
  ruby/test/test_helper.rb
Due: go-test-short

Fix GetAllWithLimit to resolve Link headers against current page URL
  go/pkg/basecamp/client.go
  go/pkg/basecamp/pagination_test.go
Due: go-test-short

Add Go pagination security (same-origin validation, fail-closed)
  go/pkg/basecamp/authorization.go
  go/pkg/basecamp/authorization_test.go
  go/pkg/basecamp/client.go
  go/pkg/basecamp/pagination_test.go
  go/pkg/basecamp/security_test.go
Due: go-test-short

Fix gosec workflow to use CLI instead of action
  .github/workflows/security.yml
Due: none

Security hardening across Go, TypeScript, and Ruby SDKs (#60)
  .github/workflows/security.yml
  SECURITY.md
  go/pkg/basecamp/auth.go
  go/pkg/basecamp/auth_race_test.go
  go/pkg/basecamp/authorization.go
  go/pkg/basecamp/authorization_test.go
  go/pkg/basecamp/benchmark_test.go
  go/pkg/basecamp/client.go
  go/pkg/basecamp/oauth/exchange.go
  go/pkg/basecamp/oauth/oauth_test.go
  go/pkg/basecamp/oauth/pkce.go
  go/pkg/basecamp/pagination_test.go
  go/pkg/basecamp/security.go
  go/pkg/basecamp/security_test.go
  go/pkg/basecamp/webhooks.go
  ruby/lib/basecamp/config.rb
  ruby/lib/basecamp/errors.rb
  ruby/lib/basecamp/http.rb
  ruby/lib/basecamp/oauth/discovery.rb
  ruby/lib/basecamp/oauth/exchange.rb
  ruby/lib/basecamp/oauth/pkce.rb
  ruby/lib/basecamp/oauth_token_provider.rb
  ruby/lib/basecamp/security.rb
  ruby/lib/basecamp/services/webhooks_service.rb
  ruby/test/basecamp/security_test.rb
  ruby/test/test_helper.rb
  typescript/src/client.ts
  typescript/src/errors.ts
  typescript/src/index.ts
  typescript/src/oauth/discovery.ts
  typescript/src/oauth/exchange.ts
  typescript/src/oauth/index.ts
  typescript/src/oauth/pkce.ts
  typescript/src/security.ts
  typescript/src/services/webhooks.ts
  typescript/tests/errors.test.ts
  typescript/tests/oauth/oauth.test.ts
  typescript/tests/security.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Expose X-Total-Count header in all paginated List methods
  go/pkg/basecamp/campfires.go
  go/pkg/basecamp/cards.go
  go/pkg/basecamp/checkins.go
  go/pkg/basecamp/client_approvals.go
  go/pkg/basecamp/client_correspondences.go
  go/pkg/basecamp/client_replies.go
  go/pkg/basecamp/comments.go
  go/pkg/basecamp/events.go
  go/pkg/basecamp/example_test.go
  go/pkg/basecamp/forwards.go
  go/pkg/basecamp/message_types.go
  go/pkg/basecamp/messages.go
  go/pkg/basecamp/people.go
  go/pkg/basecamp/recordings.go
  go/pkg/basecamp/schedules.go
  go/pkg/basecamp/templates.go
  go/pkg/basecamp/todolist_groups.go
  go/pkg/basecamp/todolists.go
  go/pkg/basecamp/todos.go
  go/pkg/basecamp/vaults.go
  go/pkg/basecamp/webhooks.go
Due: go-test-short

Expose X-Total-Count header in all paginated List methods (#61)
  go/pkg/basecamp/campfires.go
  go/pkg/basecamp/cards.go
  go/pkg/basecamp/checkins.go
  go/pkg/basecamp/client_approvals.go
  go/pkg/basecamp/client_correspondences.go
  go/pkg/basecamp/client_replies.go
  go/pkg/basecamp/comments.go
  go/pkg/basecamp/events.go
  go/pkg/basecamp/example_test.go
  go/pkg/basecamp/forwards.go
  go/pkg/basecamp/message_types.go
  go/pkg/basecamp/messages.go
  go/pkg/basecamp/people.go
  go/pkg/basecamp/recordings.go
  go/pkg/basecamp/schedules.go
  go/pkg/basecamp/templates.go
  go/pkg/basecamp/todolist_groups.go
  go/pkg/basecamp/todolists.go
  go/pkg/basecamp/todos.go
  go/pkg/basecamp/vaults.go
  go/pkg/basecamp/webhooks.go
Due: go-test-short

Regenerate artifacts from updated Smithy spec
  behavior-model.json
  go/pkg/generated/client.gen.go
  openapi.json
  typescript/src/generated/metadata.json
  typescript/src/generated/schema.d.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Fix BareObjectResponseMapper to preserve single-property objects
  spec/smithy-bare-arrays/src/main/java/com/basecamp/smithy/BareArrayResponseMapper.java
  spec/smithy-bare-arrays/src/main/java/com/basecamp/smithy/BareObjectResponseMapper.java
Due: none

Add service generator targets to Makefile
  Makefile
Due: none
