Repository basecamp/basecamp-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-test-short, typescript-lint, typescript-typecheck

go-test-short:
  name: go test -short
  entry: bash -c 'cd go && go test -short ./...'
  language: system
  pass_filenames: false
  stages:
  - push

typescript-lint:
  name: typescript lint
  entry: bash -c 'cd typescript && npm run lint --if-present'
  language: system
  pass_filenames: false
  stages:
  - commit

typescript-typecheck:
  name: typescript typecheck
  entry: bash -c 'cd typescript && npm run typecheck --if-present'
  language: system
  pass_filenames: false
  stages:
  - push

Write down what upgrading to the template library changes
  MIGRATING.md
  spec/api-gaps/README.md
  spec/api-gaps/template-library-card-tables.md
Due: none

Model the card table fields Basecamp already sends
  go/pkg/basecamp/cards.go
  go/pkg/generated/client.gen.go
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/models/CardTable.kt
  openapi.json
  python/src/basecamp/generated/types.py
  ruby/lib/basecamp/generated/metadata.json
  ruby/lib/basecamp/generated/types.rb
  rust/basecamp-sdk/src/generated/types.rs
  spec/basecamp.smithy
  swift/Sources/Basecamp/Generated/Models/CardTable.swift
  typescript/src/generated/metadata.ts
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/schema.d.ts
Due: go-test-short, typescript-lint, typescript-typecheck

MIGRATING: Java callers cannot see the Kotlin CardStep typealias
  MIGRATING.md
Due: none

Remove Go's Timesheet().Trash: bc3 refuses it for every entry
  MIGRATING.md
  go/README.md
  go/pkg/basecamp/catalog/catalog.json
  go/pkg/basecamp/timesheet.go
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/recordings.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/timesheets.kt
  openapi.json
  python/src/basecamp/generated/services/recordings.py
  python/src/basecamp/generated/services/timesheets.py
  ruby/lib/basecamp/generated/metadata.json
  ruby/lib/basecamp/generated/services/recordings_service.rb
  ruby/lib/basecamp/generated/services/timesheets_service.rb
  ruby/lib/basecamp/generated/types.rb
  rust/basecamp-sdk/src/generated/services/recordings.rs
  rust/basecamp-sdk/src/generated/services/timesheets.rs
  spec/basecamp.smithy
  typescript/src/generated/metadata.ts
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/schema.d.ts
  typescript/src/generated/services/recordings.ts
  typescript/src/generated/services/timesheets.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Keep the three operation docs on one line
  go/pkg/basecamp/catalog/catalog.json
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/recordings.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/timesheets.kt
  openapi.json
  python/src/basecamp/generated/services/recordings.py
  python/src/basecamp/generated/services/timesheets.py
  ruby/lib/basecamp/generated/metadata.json
  ruby/lib/basecamp/generated/services/recordings_service.rb
  ruby/lib/basecamp/generated/services/timesheets_service.rb
  ruby/lib/basecamp/generated/types.rb
  rust/basecamp-sdk/src/generated/services/recordings.rs
  rust/basecamp-sdk/src/generated/services/timesheets.rs
  spec/basecamp.smithy
  typescript/src/generated/metadata.ts
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/schema.d.ts
  typescript/src/generated/services/recordings.ts
  typescript/src/generated/services/timesheets.ts
Due: typescript-lint, typescript-typecheck

Remove Go's Timesheet().Trash: bc3 refuses it for every entry (#956)
  MIGRATING.md
  go/README.md
  go/pkg/basecamp/catalog/catalog.json
  go/pkg/basecamp/timesheet.go
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/recordings.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/timesheets.kt
  openapi.json
  python/src/basecamp/generated/services/recordings.py
  python/src/basecamp/generated/services/timesheets.py
  ruby/lib/basecamp/generated/metadata.json
  ruby/lib/basecamp/generated/services/recordings_service.rb
  ruby/lib/basecamp/generated/services/timesheets_service.rb
  ruby/lib/basecamp/generated/types.rb
  rust/basecamp-sdk/src/generated/services/recordings.rs
  rust/basecamp-sdk/src/generated/services/timesheets.rs
  spec/basecamp.smithy
  typescript/src/generated/metadata.ts
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/schema.d.ts
  typescript/src/generated/services/recordings.ts
  typescript/src/generated/services/timesheets.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Release v0.21.0
  MIGRATING.md
  conformance/runner/python/uv.lock
  conformance/runner/ruby/Gemfile.lock
  conformance/runner/rust/Cargo.lock
  conformance/runner/typescript/package-lock.json
  go/pkg/basecamp/version.go
  kotlin/sdk/build.gradle.kts
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/BasecampConfig.kt
  package.json
  python/pyproject.toml
  python/src/basecamp/_version.py
  python/uv.lock
  ruby/Gemfile.lock
  ruby/lib/basecamp/version.rb
  rust/Cargo.lock
  rust/basecamp-sdk/Cargo.toml
  swift/Sources/Basecamp/BasecampConfig.swift
  typescript/package-lock.json
  typescript/package.json
  typescript/src/client.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Send the check-in notification fields bc3 reads: responding and subscribed
  MIGRATING.md
  go/pkg/basecamp/catalog/catalog.json
  go/pkg/basecamp/checkins.go
  go/pkg/basecamp/checkins_test.go
  go/pkg/generated/client.gen.go
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/Types.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/checkins.kt
  openapi.json
  python/src/basecamp/generated/services/checkins.py
  python/src/basecamp/generated/types.py
  ruby/lib/basecamp/generated/metadata.json
  ruby/lib/basecamp/generated/services/checkins_service.rb
  ruby/lib/basecamp/generated/types.rb
  rust/basecamp-sdk/src/generated/types.rs
  spec/basecamp.smithy
  swift/Sources/Basecamp/Generated/Models/UpdateQuestionNotificationSettingsRequest.swift
  typescript/src/generated/metadata.ts
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/schema.d.ts
  typescript/src/generated/services/checkins.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Say that turning responding on also subscribes, as bc3 does
  MIGRATING.md
  go/pkg/basecamp/catalog/catalog.json
  go/pkg/basecamp/checkins.go
  go/pkg/generated/client.gen.go
  openapi.json
  python/src/basecamp/generated/services/checkins.py
  ruby/lib/basecamp/generated/metadata.json
  ruby/lib/basecamp/generated/services/checkins_service.rb
  ruby/lib/basecamp/generated/types.rb
  rust/basecamp-sdk/src/generated/types.rs
  spec/basecamp.smithy
  typescript/src/generated/metadata.ts
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/schema.d.ts
  typescript/src/generated/services/checkins.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Send the check-in notification fields Basecamp reads: responding and subscribed (#959)
  MIGRATING.md
  go/pkg/basecamp/catalog/catalog.json
  go/pkg/basecamp/checkins.go
  go/pkg/basecamp/checkins_test.go
  go/pkg/generated/client.gen.go
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/Types.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/checkins.kt
  openapi.json
  python/src/basecamp/generated/services/checkins.py
  python/src/basecamp/generated/types.py
  ruby/lib/basecamp/generated/metadata.json
  ruby/lib/basecamp/generated/services/checkins_service.rb
  ruby/lib/basecamp/generated/types.rb
  rust/basecamp-sdk/src/generated/types.rs
  spec/basecamp.smithy
  swift/Sources/Basecamp/Generated/Models/UpdateQuestionNotificationSettingsRequest.swift
  typescript/src/generated/metadata.ts
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/schema.d.ts
  typescript/src/generated/services/checkins.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Test moveToVault in TypeScript, Ruby and Python; fix the counts and the summary line
  SPEC.md
  go/pkg/basecamp/catalog/catalog.json
  go/pkg/basecamp/recordings.go
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/recordings.kt
  openapi.json
  python/src/basecamp/generated/services/recordings.py
  python/tests/services/test_recordings_service.py
  ruby/lib/basecamp/generated/metadata.json
  ruby/lib/basecamp/generated/services/recordings_service.rb
  ruby/lib/basecamp/generated/types.rb
  ruby/test/basecamp/services/recordings_service_test.rb
  rust/basecamp-sdk/src/generated/services/recordings.rs
  spec/basecamp.smithy
  typescript/src/generated/metadata.ts
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/schema.d.ts
  typescript/src/generated/services/recordings.ts
  typescript/tests/services/recordings.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Say in the operation's summary that it also reorders within a vault
  go/pkg/basecamp/catalog/catalog.json
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/recordings.kt
  openapi.json
  python/src/basecamp/generated/services/recordings.py
  ruby/lib/basecamp/generated/services/recordings_service.rb
  rust/basecamp-sdk/src/generated/services/recordings.rs
  spec/basecamp.smithy
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/schema.d.ts
  typescript/src/generated/services/recordings.ts
Due: typescript-lint, typescript-typecheck

Release v0.22.0
  MIGRATING.md
  conformance/runner/python/uv.lock
  conformance/runner/ruby/Gemfile.lock
  conformance/runner/rust/Cargo.lock
  conformance/runner/typescript/package-lock.json
  go/pkg/basecamp/version.go
  kotlin/sdk/build.gradle.kts
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/BasecampConfig.kt
  package.json
  python/pyproject.toml
  python/src/basecamp/_version.py
  python/uv.lock
  ruby/Gemfile.lock
  ruby/lib/basecamp/version.rb
  rust/Cargo.lock
  rust/basecamp-sdk/Cargo.toml
  swift/Sources/Basecamp/BasecampConfig.swift
  typescript/package-lock.json
  typescript/package.json
  typescript/src/client.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Note #960's Go generated-interface additions in the v0.22.0 migration section
  MIGRATING.md
Due: none

Name Rust's move_to_vault in the v0.22.0 migration note
  MIGRATING.md
Due: none

Raise go.work to go 1.26.0 to match the otel bump
  go.work
  go.work.sum
Due: none

Build and check the Go SDK with go1.26.8
  go/go.mod
Due: none

Build and check the Go SDK with go1.26.8 (#969)
  go/go.mod
Due: none

Send a question's time of day as time_of_day
  MIGRATING.md
  go/pkg/basecamp/catalog/catalog.json
  go/pkg/basecamp/checkins.go
  go/pkg/basecamp/checkins_test.go
  go/pkg/basecamp/optional_presence_test.go
  go/pkg/basecamp/test_helpers_test.go
  go/pkg/generated/client.gen.go
  openapi.json
  python/src/basecamp/generated/services/checkins.py
  python/src/basecamp/generated/types.py
  ruby/lib/basecamp/generated/metadata.json
  ruby/lib/basecamp/generated/types.rb
  ruby/test/basecamp/services/checkins_service_test.rb
  rust/basecamp-sdk/src/generated/types.rs
  spec/basecamp.smithy
  swift/Sources/Basecamp/Generated/Models/CreateQuestionRequest.swift
  swift/Sources/Basecamp/Generated/Models/QuestionScheduleInput.swift
  swift/Sources/Basecamp/Generated/Models/UpdateQuestionRequest.swift
  typescript/src/generated/metadata.ts
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/schema.d.ts
  typescript/src/generated/services/checkins.ts
  typescript/tests/services/checkins.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Send a question's time of day as time_of_day (#968)
  MIGRATING.md
  go/pkg/basecamp/catalog/catalog.json
  go/pkg/basecamp/checkins.go
  go/pkg/basecamp/checkins_test.go
  go/pkg/basecamp/optional_presence_test.go
  go/pkg/basecamp/test_helpers_test.go
  go/pkg/generated/client.gen.go
  openapi.json
  python/src/basecamp/generated/services/checkins.py
  python/src/basecamp/generated/types.py
  ruby/lib/basecamp/generated/metadata.json
  ruby/lib/basecamp/generated/types.rb
  ruby/test/basecamp/services/checkins_service_test.rb
  rust/basecamp-sdk/src/generated/types.rs
  spec/basecamp.smithy
  swift/Sources/Basecamp/Generated/Models/CreateQuestionRequest.swift
  swift/Sources/Basecamp/Generated/Models/QuestionScheduleInput.swift
  swift/Sources/Basecamp/Generated/Models/UpdateQuestionRequest.swift
  typescript/src/generated/metadata.ts
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/schema.d.ts
  typescript/src/generated/services/checkins.ts
  typescript/tests/services/checkins.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Release v0.23.0
  MIGRATING.md
  conformance/runner/python/uv.lock
  conformance/runner/ruby/Gemfile.lock
  conformance/runner/rust/Cargo.lock
  conformance/runner/typescript/package-lock.json
  go/pkg/basecamp/version.go
  kotlin/sdk/build.gradle.kts
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/BasecampConfig.kt
  package.json
  python/pyproject.toml
  python/src/basecamp/_version.py
  python/uv.lock
  ruby/Gemfile.lock
  ruby/lib/basecamp/version.rb
  rust/Cargo.lock
  rust/basecamp-sdk/Cargo.toml
  swift/Sources/Basecamp/BasecampConfig.swift
  typescript/package-lock.json
  typescript/package.json
  typescript/src/client.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Release v0.23.0 (#970)
  MIGRATING.md
  conformance/runner/python/uv.lock
  conformance/runner/ruby/Gemfile.lock
  conformance/runner/rust/Cargo.lock
  conformance/runner/typescript/package-lock.json
  go/pkg/basecamp/version.go
  kotlin/sdk/build.gradle.kts
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/BasecampConfig.kt
  package.json
  python/pyproject.toml
  python/src/basecamp/_version.py
  python/uv.lock
  ruby/Gemfile.lock
  ruby/lib/basecamp/version.rb
  rust/Cargo.lock
  rust/basecamp-sdk/Cargo.toml
  swift/Sources/Basecamp/BasecampConfig.swift
  typescript/package-lock.json
  typescript/package.json
  typescript/src/client.ts
Due: go-test-short, typescript-lint, typescript-typecheck

fix(deps): bump source-map-js past denial-of-service advisory
  conformance/runner/typescript/package-lock.json
  typescript/package-lock.json
Due: none

fix(deps): bump source-map-js past denial-of-service advisory (#973)
  conformance/runner/typescript/package-lock.json
  typescript/package-lock.json
Due: none

Classify token-endpoint refusals by OAuth error code, not by 401
  SPEC.md
  conformance/oauth-token/README.md
  conformance/oauth-token/fixtures/04-resource-empty-rejected.json
  conformance/oauth-token/fixtures/05-resource-non-string-rejected.json
  conformance/oauth-token/fixtures/08-invalid-client-400-auth-required.json
  conformance/oauth-token/fixtures/09-unauthorized-client-400-auth-required.json
  conformance/oauth-token/fixtures/10-invalid-grant-400-auth-required.json
  conformance/oauth-token/fixtures/11-access-denied-400-auth-required.json
  conformance/oauth-token/fixtures/12-bare-401-empty-body-auth-required.json
  conformance/oauth-token/fixtures/13-bare-401-non-json-body-auth-required.json
  conformance/oauth-token/fixtures/14-401-other-error-code-auth-required.json
  conformance/oauth-token/fixtures/15-invalid-request-400-api-error.json
  conformance/oauth-token/fixtures/16-server-error-500-api-error.json
  conformance/oauth-token/fixtures/17-bare-400-non-json-body-api-error.json
  conformance/oauth-token/schema.json
  go/pkg/basecamp/auth.go
  go/pkg/basecamp/auth_test.go
  go/pkg/basecamp/internal/oautherror/oautherror.go
  go/pkg/basecamp/oauth/exchange.go
  go/pkg/basecamp/oauth/oauth_test.go
  go/pkg/basecamp/oauth/token_conformance_test.go
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/oauth/Exchange.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/OAuthTest.kt
  python/src/basecamp/oauth/exchange.py
  python/tests/oauth/test_token_conformance.py
  ruby/lib/basecamp/oauth/exchange.rb
  ruby/test/basecamp/oauth_token_conformance_test.rb
  rust/basecamp-sdk/src/oauth/token.rs
  typescript/src/oauth/exchange.ts
  typescript/tests/oauth/token-conformance.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Classify a body-less refusal by status, and say what the rule covers
  SPEC.md
  conformance/oauth-token/README.md
  conformance/oauth-token/fixtures/13-bare-401-non-json-body-auth-required.json
  conformance/oauth-token/schema.json
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/oauth/Exchange.kt
  python/src/basecamp/oauth/exchange.py
  ruby/lib/basecamp/oauth/exchange.rb
  rust/basecamp-sdk/src/oauth/token.rs
  typescript/src/oauth/exchange.ts
  typescript/tests/oauth/oauth.test.ts
Due: typescript-lint, typescript-typecheck

Render only error and error_description from a Go token refusal
  SPEC.md
  go/pkg/basecamp/auth.go
  go/pkg/basecamp/auth_test.go
  go/pkg/basecamp/oauth/exchange.go
  go/pkg/basecamp/oauth/oauth_test.go
  typescript/src/oauth/exchange.ts
  typescript/tests/oauth/oauth.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Carry a Kotlin token refusal's real status on Auth
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/BasecampException.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/oauth/Exchange.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/OAuthTest.kt
Due: none

Keep doTokenRequest's doc comment on doTokenRequest
  typescript/src/oauth/exchange.ts
Due: typescript-lint, typescript-typecheck

Wrap the Python token hint to the line limit
  python/src/basecamp/oauth/exchange.py
Due: none

Classify token-endpoint refusals by OAuth error code, not by 401 (#971)
  SPEC.md
  conformance/oauth-token/README.md
  conformance/oauth-token/fixtures/04-resource-empty-rejected.json
  conformance/oauth-token/fixtures/05-resource-non-string-rejected.json
  conformance/oauth-token/fixtures/08-invalid-client-400-auth-required.json
  conformance/oauth-token/fixtures/09-unauthorized-client-400-auth-required.json
  conformance/oauth-token/fixtures/10-invalid-grant-400-auth-required.json
  conformance/oauth-token/fixtures/11-access-denied-400-auth-required.json
  conformance/oauth-token/fixtures/12-bare-401-empty-body-auth-required.json
  conformance/oauth-token/fixtures/13-bare-401-non-json-body-auth-required.json
  conformance/oauth-token/fixtures/14-401-other-error-code-auth-required.json
  conformance/oauth-token/fixtures/15-invalid-request-400-api-error.json
  conformance/oauth-token/fixtures/16-server-error-500-api-error.json
  conformance/oauth-token/fixtures/17-bare-400-non-json-body-api-error.json
  conformance/oauth-token/schema.json
  go/pkg/basecamp/auth.go
  go/pkg/basecamp/auth_test.go
  go/pkg/basecamp/internal/oautherror/oautherror.go
  go/pkg/basecamp/oauth/exchange.go
  go/pkg/basecamp/oauth/oauth_test.go
  go/pkg/basecamp/oauth/token_conformance_test.go
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/BasecampException.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/oauth/Exchange.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/OAuthTest.kt
  python/src/basecamp/oauth/exchange.py
  python/tests/oauth/test_token_conformance.py
  ruby/lib/basecamp/oauth/exchange.rb
  ruby/test/basecamp/oauth_token_conformance_test.rb
  rust/basecamp-sdk/src/oauth/token.rs
  typescript/src/oauth/exchange.ts
  typescript/tests/oauth/oauth.test.ts
  typescript/tests/oauth/token-conformance.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Path conditions:
  go-test-short: any of: \.go$
  typescript-lint: any of: ^typescript/.*\.(ts|tsx)$
  typescript-typecheck: any of: ^typescript/.*\.(ts|tsx)$
