Repository basecamp/basecamp-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-test-short, typescript-lint, typescript-typecheck

go-test-short:
  name: go test -short
  entry: bash -c 'cd go && go test -short ./...'
  language: system
  pass_filenames: false
  stages:
  - push

typescript-lint:
  name: typescript lint
  entry: bash -c 'cd typescript && npm run lint --if-present'
  language: system
  pass_filenames: false
  stages:
  - commit

typescript-typecheck:
  name: typescript typecheck
  entry: bash -c 'cd typescript && npm run typecheck --if-present'
  language: system
  pass_filenames: false
  stages:
  - push

Reject wrong-typed skip-marker fields in the lenient runners
  conformance/runner/python/replay_runner.py
  conformance/runner/ruby/replay-runner.rb
  kotlin/conformance/src/main/kotlin/com/basecamp/sdk/conformance/ReplayRunner.kt
Due: none

Give Kotlin uploads.download and dispatch the download conformance family
  SPEC.md
  conformance/tests/uploads_download.json
  kotlin/conformance/src/main/kotlin/com/basecamp/sdk/conformance/Main.kt
  kotlin/generator/src/main/kotlin/com/basecamp/sdk/generator/Config.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/ServiceAccessors.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/uploads.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/services/UploadsService.kt
Due: none

Give Kotlin uploads.download and dispatch the download conformance family (#554)
  SPEC.md
  conformance/tests/uploads_download.json
  kotlin/conformance/src/main/kotlin/com/basecamp/sdk/conformance/Main.kt
  kotlin/generator/src/main/kotlin/com/basecamp/sdk/generator/Config.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/ServiceAccessors.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/uploads.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/services/UploadsService.kt
Due: none

Fail, not skip, when a mock body flunks Kotlin's required-field validation
  kotlin/conformance/src/main/kotlin/com/basecamp/sdk/conformance/Main.kt
Due: none

Share one Kotlin error parser across surfaces and harden the TS map against __proto__
  conformance/tests/error-mapping.json
  go/pkg/basecamp/errors.go
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/Download.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/ErrorParsing.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/services/BaseService.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/DownloadTest.kt
  swift/Tests/BasecampTests/ErrorTests.swift
  typescript/src/errors.ts
  typescript/tests/errors.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Add the GetCalendar live canary with an env-var-only fixture (#542)
  conformance/runner/go/replay_runner.go
  conformance/runner/go/replay_runner_test.go
  conformance/runner/python/replay_runner.py
  conformance/runner/ruby/replay-runner.rb
  conformance/runner/typescript/fixtures.ts
  conformance/runner/typescript/live-dispatch.ts
  conformance/runner/typescript/live-runner.test.ts
  conformance/runner/typescript/wire-capture.ts
  conformance/tests/live-my-surface.json
  kotlin/conformance/src/main/kotlin/com/basecamp/sdk/conformance/ReplayRunner.kt
  spec/api-gaps/calendar.md
Due: go-test-short

Bump version to 0.12.0
  conformance/runner/typescript/package-lock.json
  go/pkg/basecamp/version.go
  kotlin/sdk/build.gradle.kts
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/BasecampConfig.kt
  package.json
  python/pyproject.toml
  python/src/basecamp/_version.py
  python/uv.lock
  ruby/Gemfile.lock
  ruby/lib/basecamp/version.rb
  swift/Sources/Basecamp/BasecampConfig.swift
  typescript/package-lock.json
  typescript/package.json
  typescript/src/client.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Fail, not skip, when a mock body flunks Kotlin's required-field validation (#555)
  kotlin/conformance/src/main/kotlin/com/basecamp/sdk/conformance/Main.kt
Due: none

Bump version to 0.12.0 (#556)
  conformance/runner/typescript/package-lock.json
  go/pkg/basecamp/version.go
  kotlin/sdk/build.gradle.kts
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/BasecampConfig.kt
  package.json
  python/pyproject.toml
  python/src/basecamp/_version.py
  python/uv.lock
  ruby/Gemfile.lock
  ruby/lib/basecamp/version.rb
  swift/Sources/Basecamp/BasecampConfig.swift
  typescript/package-lock.json
  typescript/package.json
  typescript/src/client.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Tolerate malformed error-status bodies in the generated Go response parsers
  conformance/tests/error-mapping.json
  go/generate.go
  go/pkg/basecamp/calendars_test.go
  go/pkg/generated/client.gen.go
  scripts/check-go-generated-drift.sh
  scripts/normalize-go-error-response-parsing.sh
Due: go-test-short

Make re-enumeration a fresh snapshot and the hook lifecycle fire once
  ruby/lib/basecamp/generated/services/base_service.rb
  ruby/lib/basecamp/http.rb
  ruby/lib/basecamp/list_enumerator.rb
  ruby/test/basecamp/operation_hooks_test.rb
  ruby/test/basecamp/pagination_meta_test.rb
Due: none

Refresh pagination metadata when a traversal restarts
  ruby/lib/basecamp/http.rb
  ruby/lib/basecamp/list_enumerator.rb
  ruby/lib/basecamp/list_meta.rb
  ruby/test/basecamp/pagination_meta_test.rb
Due: none

Surface field-keyed 422 validation payloads in all six transports (#541)
  SPEC.md
  conformance/tests/error-mapping.json
  go/generate.go
  go/pkg/basecamp/calendars_test.go
  go/pkg/basecamp/errors.go
  go/pkg/basecamp/helpers.go
  go/pkg/basecamp/helpers_test.go
  go/pkg/generated/client.gen.go
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/BasecampException.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/Download.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/ErrorParsing.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/services/BaseService.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/DownloadTest.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/ErrorTest.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/FieldKeyed422Test.kt
  python/src/basecamp/errors.py
  python/tests/test_errors.py
  ruby/lib/basecamp.rb
  ruby/lib/basecamp/http.rb
  ruby/lib/basecamp/validation_error.rb
  ruby/test/basecamp/errors_test.rb
  ruby/test/basecamp/http_test.rb
  scripts/check-go-generated-drift.sh
  scripts/normalize-go-error-response-parsing.sh
  swift/Sources/Basecamp/BasecampError.swift
  swift/Tests/BasecampTests/ErrorTests.swift
  typescript/src/errors.ts
  typescript/src/index.ts
  typescript/src/services/base.ts
  typescript/tests/errors.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Record truncation before the capping yield, forward maxItems for ListTodos
  conformance/runner/ruby/runner.rb
  ruby/lib/basecamp/http.rb
  ruby/test/basecamp/pagination_meta_test.rb
Due: none

Pin the download hop-1 retry policy in SPEC §14 and the shared fixtures
  SPEC.md
  conformance/tests/downloads.json
Due: none

Go generator: optional fields are pointers — absence-capability by type
  go/oapi-codegen.yaml
  go/pkg/generated/client.gen.go
  openapi.json
  scripts/enhance-openapi-go-types.sh
  spec/smithy-build.json
  typescript/src/generated/openapi-stripped.json
Due: go-test-short

Guard the Go optional-pointer invariant; SPEC §10 and rubric to the end state
  Makefile
  SPEC.md
  rubric-audit.json
  scripts/check-go-optional-pointers
Due: none

Regenerate downstream artifacts after the x-go-type de-star
  ruby/lib/basecamp/generated/types.rb
  typescript/src/generated/openapi-stripped.json
Due: none

Register the Folders API gap (bc3 #12384) and supersede stack-doc-and-smithy
  spec/api-gaps/README.md
  spec/api-gaps/folders-api.md
  spec/api-gaps/stack-doc-and-smithy.md
Due: none

TypeScript: extract executeWithRetry and route download hop 1 through it
  conformance/runner/typescript/runner.test.ts
  typescript/src/client.ts
  typescript/src/download.ts
  typescript/src/retry.ts
  typescript/tests/download.test.ts
Due: typescript-lint, typescript-typecheck

Require two Folder shapes, not one with an optional projects
  spec/api-gaps/folders-api.md
Due: none

Python: route download hop 1 through the retry loop with the declared set
  conformance/runner/python/runner.py
  python/src/basecamp/_async_http.py
  python/src/basecamp/_http.py
  python/src/basecamp/download.py
  python/tests/test_download.py
Due: none

Fix #537 in the generator; correct two stale pointer-spelling comments
  openapi.json
  ruby/scripts/generate-types.rb
  ruby/test/basecamp/generated_types_test.rb
  scripts/enhance-openapi-go-types.sh
  spec/basecamp.smithy
Due: none

Sync with main (#541, #557) and regenerate
  go/pkg/generated/client.gen.go
  rubric-audit.json
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/schema.d.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Ruby: route download hop 1 through the retry loop with the declared set
  conformance/runner/ruby/runner.rb
  ruby/lib/basecamp/client.rb
  ruby/lib/basecamp/http.rb
  ruby/test/basecamp/download_test.rb
Due: none

Review round: guard coverage, and stop collapsing nil vs explicit-empty
  go/pkg/basecamp/checkins.go
  go/pkg/basecamp/helpers.go
  go/pkg/basecamp/hill_charts.go
  go/pkg/basecamp/optional_presence_test.go
  go/pkg/basecamp/schedules.go
  go/pkg/generated/client.gen.go
  openapi.json
  scripts/check-go-optional-pointers
  scripts/enhance-openapi-go-types.sh
Due: go-test-short

Regenerate openapi-stripped.json for the request-reachability fix
  typescript/src/generated/openapi-stripped.json
Due: none

Model the bare field-map error body and re-tag two field-keyed emitters
  SPEC.md
  go/pkg/generated/client.gen.go
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/my-notes.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/people.kt
  openapi.json
  ruby/lib/basecamp/generated/services/my_notes_service.rb
  ruby/lib/basecamp/generated/services/people_service.rb
  spec/basecamp.smithy
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/schema.d.ts
  typescript/src/generated/services/my-notes.ts
  typescript/src/generated/services/people.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Satisfy rubocop's array-bracket spacing on the new constant
  ruby/scripts/generate-types.rb
Due: none

Go: parse bare field maps, and map raw-Client 400/422 to validation
  go/README.md
  go/pkg/basecamp/client.go
  go/pkg/basecamp/client_test.go
  go/pkg/basecamp/field_errors_service_test.go
  go/pkg/basecamp/helpers.go
  go/pkg/basecamp/helpers_test.go
Due: go-test-short

TypeScript: parse bare field maps
  node_modules/.vite/vitest/da39a3ee5e6b4b0d3255bfef95601890afd80709/results.json
  typescript/README.md
  typescript/src/errors.ts
  typescript/tests/errors.test.ts
  typescript/tests/services/my-notes.test.ts
  typescript/tests/services/webhooks.test.ts
Due: typescript-lint, typescript-typecheck

Ruby: parse bare field maps
  ruby/README.md
  ruby/lib/basecamp.rb
  ruby/test/basecamp/errors_test.rb
  ruby/test/basecamp/services/my_notes_service_test.rb
  ruby/test/basecamp/services/webhooks_service_test.rb
Due: none

Python: parse bare field maps
  python/README.md
  python/src/basecamp/errors.py
  python/tests/services/test_my_notes_service.py
  python/tests/test_errors.py
Due: none

Kotlin: route download hop 1 through the retry loop with the declared set
  kotlin/conformance/src/main/kotlin/com/basecamp/sdk/conformance/Main.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/Download.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/DownloadTest.kt
Due: none

Swift: route download hop 1 through a retry loop with the declared set
  swift/Sources/Basecamp/Download.swift
  swift/Sources/Basecamp/HTTP/HTTPClient.swift
  swift/Tests/BasecampTests/DownloadTests.swift
Due: none

Kotlin: parse bare field maps
  kotlin/README.md
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/ErrorParsing.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/FieldKeyed422Test.kt
Due: none

Go: pin the download hop-1 retry set that the implementation already honors
  go/pkg/basecamp/download_test.go
Due: go-test-short

Path conditions:
  go-test-short: any of: \.go$
  typescript-lint: any of: ^typescript/.*\.(ts|tsx)$
  typescript-typecheck: any of: ^typescript/.*\.(ts|tsx)$
