Repository basecamp/basecamp-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-test-short, typescript-lint, typescript-typecheck

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
      - id: detect-private-key
      - id: check-case-conflict

  - repo: https://github.com/golangci/golangci-lint
    rev: v1.62.2
    hooks:
      - id: golangci-lint
        args: [--timeout=5m, --config=go/.golangci.yml]
        files: ^go/

  - repo: https://github.com/tekwizely/pre-commit-golang
    rev: v1.0.0-rc.1
    hooks:
      - id: go-fmt
        files: ^go/
      - id: go-vet
        files: ^go/
      - id: go-mod-tidy
        files: ^go/

  - repo: local
    hooks:
      - id: go-test-short
        name: go test -short
        entry: bash -c 'cd go && go test -short ./...'
        language: system
        pass_filenames: false
        types: [go]
        stages: [push]

      - id: typescript-lint
        name: typescript lint
        entry: bash -c 'cd typescript && npm run lint --if-present'
        language: system
        pass_filenames: false
        files: ^typescript/.*\.(ts|tsx)$
        stages: [commit]

      - id: typescript-typecheck
        name: typescript typecheck
        entry: bash -c 'cd typescript && npm run typecheck --if-present'
        language: system
        pass_filenames: false
        files: ^typescript/.*\.(ts|tsx)$
        stages: [push]

Address review: TS sample fixtures + guard test indexing
  go/pkg/basecamp/recordings_test.go
  typescript/tests/services/cards.test.ts
  typescript/tests/services/comments.test.ts
  typescript/tests/services/messages.test.ts
  typescript/tests/services/todolists.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Fix test comments: null/None matches the nullable static type
  python/tests/services/test_uploads.py
  typescript/tests/services/comments.test.ts
Due: typescript-lint, typescript-typecheck

Bump kin-openapi v0.142.0 → v0.144.0 (patch GHSA-r277-6w6q-xmqw)
  go/go.mod
  go/go.sum
Due: none

Bump postcss dev-dependency to clear GHSA-r28c-9q8g-f849 (npm audit)
  typescript/package-lock.json
Due: none

Guard generated array query params on len>0 (#407)
  go/pkg/basecamp/search_test.go
  go/pkg/generated/client.gen.go
  go/templates/client.tmpl
Due: go-test-short

Make optional rich-text arrays nullable in Kotlin; rebase fixups
  kotlin/generator/src/main/kotlin/com/basecamp/sdk/generator/ModelEmitter.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/models/Recording.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/MessagesServiceTest.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/RecordingsServiceTest.kt
  spec/api-gaps/rich-text-attachments-coverage.md
  swift/Tests/BasecampTests/GeneratedServiceTests.swift
Due: none

Address review: faithful Go projection arrays, TS fixtures, robust smithy_refs
  go/pkg/basecamp/gauges.go
  go/pkg/basecamp/gauges_test.go
  go/pkg/basecamp/recordings.go
  go/pkg/basecamp/recordings_test.go
  go/pkg/basecamp/rich_text_attachments_test.go
  go/pkg/basecamp/search.go
  go/pkg/basecamp/search_test.go
  go/pkg/basecamp/todos.go
  spec/api-gaps/rich-text-attachments-coverage.md
  typescript/tests/services/checkins.test.ts
  typescript/tests/services/client-approvals.test.ts
  typescript/tests/services/client-correspondences.test.ts
  typescript/tests/services/client-replies.test.ts
  typescript/tests/services/documents.test.ts
  typescript/tests/services/forwards.test.ts
  typescript/tests/services/schedules.test.ts
  typescript/tests/services/uploads.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Add required description_attachments to remaining Upload test stubs
  typescript/tests/services/uploads.test.ts
Due: typescript-lint, typescript-typecheck

Add required *_attachments arrays to Ruby response stubs
  ruby/test/basecamp/services/cards_service_test.rb
  ruby/test/basecamp/services/checkins_service_test.rb
  ruby/test/basecamp/services/client_approvals_service_test.rb
  ruby/test/basecamp/services/client_correspondences_service_test.rb
  ruby/test/basecamp/services/client_replies_service_test.rb
  ruby/test/basecamp/services/comments_service_test.rb
  ruby/test/basecamp/services/documents_service_test.rb
  ruby/test/basecamp/services/forwards_service_test.rb
  ruby/test/basecamp/services/messages_service_test.rb
  ruby/test/basecamp/services/schedules_service_test.rb
  ruby/test/basecamp/services/todolists_service_test.rb
  ruby/test/basecamp/services/uploads_service_test.rb
Due: none

Address review: accurate @required marshal comments, Python/TS stubs
  go/pkg/basecamp/cards.go
  go/pkg/basecamp/checkins.go
  go/pkg/basecamp/client_approvals.go
  go/pkg/basecamp/client_correspondences.go
  go/pkg/basecamp/client_replies.go
  go/pkg/basecamp/comments.go
  go/pkg/basecamp/forwards.go
  go/pkg/basecamp/gauges.go
  go/pkg/basecamp/messages.go
  go/pkg/basecamp/schedules.go
  go/pkg/basecamp/todolists.go
  go/pkg/basecamp/todos.go
  go/pkg/basecamp/vaults.go
  python/tests/services/test_uploads.py
  typescript/tests/services/schedules.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Add description_attachments to TS upload download-flow metadata stubs
  typescript/tests/services/uploads.test.ts
Due: typescript-lint, typescript-typecheck

chore(deps): bump postcss to 8.5.23 (GHSA-r28c-9q8g-f849)
  typescript/package-lock.json
Due: none

Exercise optional projection arrays in TS/Ruby service tests
  ruby/test/basecamp/services/recordings_service_test.rb
  ruby/test/basecamp/services/search_service_test.rb
  typescript/tests/services/recordings.test.ts
  typescript/tests/services/schedules.test.ts
  typescript/tests/services/search.test.ts
Due: typescript-lint, typescript-typecheck

chore(deps): bump kin-openapi to v0.144.0 (Trivy critical advisory)
  go.work.sum
  go/go.mod
  go/go.sum
Due: none

Assert both matching-type search results surface content_attachments
  ruby/test/basecamp/services/search_service_test.rb
Due: none

Drop over-promising 'manual construction' parenthetical from array comments
  go/pkg/basecamp/cards.go
  go/pkg/basecamp/checkins.go
  go/pkg/basecamp/client_approvals.go
  go/pkg/basecamp/client_correspondences.go
  go/pkg/basecamp/client_replies.go
  go/pkg/basecamp/comments.go
  go/pkg/basecamp/forwards.go
  go/pkg/basecamp/gauges.go
  go/pkg/basecamp/messages.go
  go/pkg/basecamp/schedules.go
  go/pkg/basecamp/todolists.go
  go/pkg/basecamp/todos.go
  go/pkg/basecamp/vaults.go
Due: go-test-short

Remove erroneous content_attachments from ClientApprovalResponse stub
  typescript/tests/services/client-approvals.test.ts
Due: typescript-lint, typescript-typecheck

Upgrade oapi-codegen v2.7.1 → v2.8.0 (own the client-with-responses template) (#409)
  go.work.sum
  go/go.mod
  go/go.sum
  go/oapi-codegen.yaml
  go/pkg/basecamp/generated_nocontent_test.go
  go/pkg/generated/client.gen.go
  go/templates/client-with-responses.tmpl
  go/templates/typedef.tmpl
  typescript/package-lock.json
Due: go-test-short

Guard generated array query params on len>0 (#407) (#410)
  go/pkg/basecamp/search_test.go
  go/pkg/generated/client.gen.go
  go/templates/client.tmpl
Due: go-test-short

Bump brace-expansion dev-dependency to clear GHSA-mh99-v99m-4gvg (npm audit)
  typescript/package-lock.json
Due: none

Card-table wormholes: spec, contract, fixtures, docs
  AGENTS.md
  README.md
  SPEC.md
  behavior-model.json
  openapi.json
  spec/api-gaps/README.md
  spec/api-gaps/card-table-wormholes.md
  spec/basecamp.smithy
  spec/fixtures/cards/card_table.json
  spec/fixtures/cards/wormhole.json
  spec/overlays/tags.smithy
Due: none

Go: card-table wormholes service
  go/README.md
  go/pkg/basecamp/cards.go
  go/pkg/basecamp/client.go
  go/pkg/basecamp/url-routes.json
  go/pkg/basecamp/wormholes.go
  go/pkg/basecamp/wormholes_test.go
  go/pkg/generated/client.gen.go
Due: go-test-short

TypeScript: card-table wormholes service
  typescript/README.md
  typescript/scripts/generate-services.ts
  typescript/src/client.ts
  typescript/src/generated/metadata.ts
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/path-mapping.ts
  typescript/src/generated/schema.d.ts
  typescript/src/generated/services/index.ts
  typescript/src/generated/services/wormholes.ts
  typescript/src/index.ts
  typescript/tests/services/card-tables.test.ts
  typescript/tests/services/wormholes.test.ts
Due: typescript-lint, typescript-typecheck

Python: card-table wormholes service
  python/README.md
  python/scripts/generate_services.py
  python/src/basecamp/async_client.py
  python/src/basecamp/client.py
  python/src/basecamp/generated/metadata.json
  python/src/basecamp/generated/services/__init__.py
  python/src/basecamp/generated/services/wormholes.py
  python/src/basecamp/generated/types.py
  python/tests/services/test_wormholes_service.py
Due: none

Kotlin: card-table wormholes service
  kotlin/README.md
  kotlin/generator/src/main/kotlin/com/basecamp/sdk/generator/Config.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/Metadata.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/ServiceAccessors.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/models/Wormhole.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/Types.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/wormholes.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/WormholesServiceTest.kt
Due: none

Python: test card_tables.get wormholes[] decode
  python/tests/services/test_card_tables_service.py
Due: none

Ruby: card-table wormholes service
  ruby/README.md
  ruby/lib/basecamp/client.rb
  ruby/lib/basecamp/generated/metadata.json
  ruby/lib/basecamp/generated/services/wormholes_service.rb
  ruby/lib/basecamp/generated/types.rb
  ruby/scripts/generate-services.rb
  ruby/test/basecamp/services/card_tables_service_test.rb
  ruby/test/basecamp/services/wormholes_service_test.rb
Due: none

Swift: card-table wormholes service
  swift/README.md
  swift/Sources/Basecamp/Generated/AccountClient+Services.swift
  swift/Sources/Basecamp/Generated/Metadata.swift
  swift/Sources/Basecamp/Generated/Models/CreateWormholeRequest.swift
  swift/Sources/Basecamp/Generated/Models/UpdateWormholeRequest.swift
  swift/Sources/Basecamp/Generated/Models/Wormhole.swift
  swift/Sources/Basecamp/Generated/Services/WormholesService.swift
  swift/Sources/BasecampGenerator/MethodNaming.swift
  swift/Sources/BasecampGenerator/ServiceGrouper.swift
  swift/Tests/BasecampTests/WormholesServiceTests.swift
Due: none

Model wormhole destination_url as nullable (string | null)
  go/pkg/basecamp/wormholes.go
  go/pkg/generated/client.gen.go
  kotlin/generator/src/main/kotlin/com/basecamp/sdk/generator/ModelEmitter.kt
  openapi.json
  python/src/basecamp/generated/types.py
  ruby/lib/basecamp/generated/metadata.json
  ruby/lib/basecamp/generated/types.rb
  spec/api-gaps/card-table-wormholes.md
  spec/basecamp.smithy
  spec/smithy-build.json
  typescript/src/generated/metadata.ts
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/schema.d.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Address review: required-nullable destination_url + fixups
  SPEC.md
  go/pkg/generated/client.gen.go
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/models/Wormhole.kt
  openapi.json
  python/src/basecamp/generated/types.py
  python/tests/services/test_wormholes_service.py
  spec/api-gaps/card-table-wormholes.md
  spec/basecamp.smithy
  swift/Sources/Basecamp/Generated/Models/Wormhole.swift
  swift/Sources/BasecampGenerator/ModelEmitter.swift
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/schema.d.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Review: round-trip explicit null for required-nullable wormhole fields
  go/pkg/basecamp/wormholes.go
  go/pkg/basecamp/wormholes_test.go
  ruby/lib/basecamp/generated/types.rb
Due: go-test-short

Review: model color as required-nullable; declarative wormhole naming
  go/pkg/basecamp/wormholes.go
  go/pkg/basecamp/wormholes_test.go
  go/pkg/generated/client.gen.go
  kotlin/generator/src/main/kotlin/com/basecamp/sdk/generator/Config.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/models/Wormhole.kt
  openapi.json
  python/scripts/generate_services.py
  python/src/basecamp/generated/types.py
  ruby/scripts/generate-services.rb
  spec/basecamp.smithy
  spec/smithy-build.json
  swift/Sources/Basecamp/Generated/Models/Wormhole.swift
  swift/Sources/BasecampGenerator/MethodNaming.swift
  typescript/scripts/generate-services.ts
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/schema.d.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Review closeout: accurate service counts + Ruby round-trip regression test
  AGENTS.md
  SPEC.md
  kotlin/README.md
  python/README.md
  ruby/README.md
  ruby/test/basecamp/generated_types_test.rb
  swift/README.md
Due: none

Review: full recording shape in TS card-table wormholes fixture
  typescript/tests/services/card-tables.test.ts
Due: typescript-lint, typescript-typecheck
