Repository basecamp/basecamp-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-test-short, typescript-lint, typescript-typecheck

go-test-short:
  name: go test -short
  entry: bash -c 'cd go && go test -short ./...'
  language: system
  pass_filenames: false
  stages:
  - push

typescript-lint:
  name: typescript lint
  entry: bash -c 'cd typescript && npm run lint --if-present'
  language: system
  pass_filenames: false
  stages:
  - commit

typescript-typecheck:
  name: typescript typecheck
  entry: bash -c 'cd typescript && npm run typecheck --if-present'
  language: system
  pass_filenames: false
  stages:
  - push

ci: pin conformance uv sync to the matrix Python; parse the fan-in gate (#388)
  .github/workflows/test.yml
Due: none

TypeScript: RFC 8628 device authorization grant
  typescript/README.md
  typescript/src/index.ts
  typescript/src/oauth/device-errors.ts
  typescript/src/oauth/device-login.ts
  typescript/src/oauth/device.ts
  typescript/src/oauth/index.ts
  typescript/src/oauth/types.ts
  typescript/tests/oauth/device.test.ts
Due: typescript-lint, typescript-typecheck

Device flow contract: SPEC.md §16 RFC 8628 device authorization grant
  SPEC.md
Due: none

device: wrap long Python messages; correct DeviceFlow KDoc code table
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/BasecampException.kt
Due: none

device: carry HTTP status on TS token-field errors; harden README refresh
  typescript/README.md
  typescript/src/oauth/device.ts
  typescript/tests/oauth/device.test.ts
Due: typescript-lint, typescript-typecheck

Kotlin: RFC 8628 device authorization grant
  kotlin/README.md
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/BasecampException.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/oauth/Device.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/oauth/Exchange.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/ErrorTest.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/OAuthDeviceTest.kt
Due: none

device: correct poll_device_token expires_in YARD type to Numeric (Ruby)
  ruby/lib/basecamp/oauth/device_flow.rb
Due: none

Go: RFC 8628 device authorization grant
  go/README.md
  go/pkg/basecamp/oauth/device.go
  go/pkg/basecamp/oauth/device_errors.go
  go/pkg/basecamp/oauth/device_test.go
  go/pkg/basecamp/oauth/oauth_test.go
Due: go-test-short

device: attach HTTP status to Python non-object-body errors; doc follow-ups
  SPEC.md
  python/src/basecamp/oauth/device.py
  python/tests/oauth/test_device.py
  typescript/README.md
Due: none

device: uniform token_type rule, exact issuance deadline, api_error fallback
  SPEC.md
  go/pkg/basecamp/oauth/device.go
  go/pkg/basecamp/oauth/device_test.go
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/oauth/Device.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/OAuthDeviceTest.kt
  python/src/basecamp/oauth/device.py
  python/tests/oauth/test_device.py
  ruby/lib/basecamp/oauth/device_flow.rb
  ruby/test/basecamp/oauth_device_test.rb
  typescript/README.md
  typescript/src/oauth/device-errors.ts
  typescript/src/oauth/device.ts
  typescript/tests/oauth/device.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

device: carry HTTP status on device-authorization validation errors (all SDKs)
  go/pkg/basecamp/oauth/device.go
  go/pkg/basecamp/oauth/device_test.go
  python/src/basecamp/oauth/device.py
  ruby/lib/basecamp/oauth/device_flow.rb
  typescript/src/oauth/device.ts
  typescript/tests/oauth/device.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

device: carry HTTP status on Go parse failure; real reauth in TS README
  go/pkg/basecamp/oauth/device.go
  go/pkg/basecamp/oauth/device_test.go
  typescript/README.md
Due: go-test-short

device: separate timeout backoff from poll interval; classify 3xx; harden token and caller inputs
  SPEC.md
  go/README.md
  go/pkg/basecamp/oauth/device.go
  go/pkg/basecamp/oauth/device_test.go
  kotlin/README.md
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/oauth/Device.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/OAuthDeviceTest.kt
  python/README.md
  python/src/basecamp/oauth/device.py
  python/tests/oauth/test_device.py
  ruby/README.md
  ruby/lib/basecamp/oauth/device_flow.rb
  ruby/test/basecamp/oauth_device_test.rb
  typescript/README.md
  typescript/src/oauth/device-errors.ts
  typescript/src/oauth/device.ts
  typescript/tests/oauth/device.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

device: pass authorization_endpoint=None in Python device tests after restack
  python/tests/oauth/test_device.py
Due: none

Python: RFC 8628 device authorization grant
  python/README.md
  python/src/basecamp/oauth/__init__.py
  python/src/basecamp/oauth/device.py
  python/src/basecamp/oauth/device_authorization.py
  python/src/basecamp/oauth/errors.py
  python/tests/oauth/test_device.py
Due: none

device: uniform token expires_in rule; close abort race; harden guards and docs
  SPEC.md
  go/pkg/basecamp/oauth/device.go
  go/pkg/basecamp/oauth/device_test.go
  kotlin/README.md
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/oauth/Device.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/OAuthDeviceTest.kt
  python/README.md
  python/src/basecamp/oauth/device.py
  python/tests/oauth/test_device.py
  ruby/lib/basecamp/oauth/device_flow.rb
  ruby/test/basecamp/oauth_device_test.rb
  typescript/README.md
  typescript/src/oauth/device-errors.ts
  typescript/src/oauth/device-login.ts
  typescript/src/oauth/device.ts
  typescript/tests/oauth/device.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Ruby: RFC 8628 device authorization grant
  ruby/README.md
  ruby/lib/basecamp/oauth.rb
  ruby/lib/basecamp/oauth/device_authorization.rb
  ruby/lib/basecamp/oauth/device_flow.rb
  ruby/lib/basecamp/oauth/device_flow_error.rb
  ruby/test/basecamp/oauth_device_test.rb
  ruby/test/basecamp/oauth_ssrf_test.rb
Due: none

device: validate token response fields across all five SDKs
  SPEC.md
  go/pkg/basecamp/oauth/device.go
  go/pkg/basecamp/oauth/device_test.go
  kotlin/README.md
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/oauth/Device.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/OAuthDeviceTest.kt
  python/README.md
  python/src/basecamp/oauth/device.py
  python/tests/oauth/test_device.py
  ruby/lib/basecamp/oauth/device_flow.rb
  ruby/test/basecamp/oauth_device_test.rb
  typescript/src/oauth/device.ts
  typescript/tests/oauth/device.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

device: name the suppressed redirect explicitly in Kotlin token errors
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/oauth/Device.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/OAuthDeviceTest.kt
Due: none

device: build the abort error as a plain Error, not DOMException (TypeScript)
  typescript/src/oauth/device.ts
Due: typescript-lint, typescript-typecheck

device: cancel the unread body stream on status-first failures (TypeScript)
  typescript/src/oauth/device.ts
Due: typescript-lint, typescript-typecheck

device: enforce the whole-read deadline at EOF and use the device timeout budget
  python/src/basecamp/oauth/device.py
  python/src/basecamp/oauth/discovery.py
  python/tests/oauth/test_device.py
  python/tests/oauth/test_resource_discovery.py
Due: none

device: normalize the Ruby device timeout once and to the device budget
  ruby/lib/basecamp/oauth/device_flow.rb
  ruby/lib/basecamp/oauth/fetcher.rb
  ruby/test/basecamp/oauth_ssrf_test.rb
Due: none

device: propagate caller cancellation during Go device-auth POST
  go/pkg/basecamp/oauth/device.go
  go/pkg/basecamp/oauth/device_test.go
Due: go-test-short

device: bounded worker join + backoff tracks grown slow_down interval (Python)
  python/src/basecamp/oauth/device.py
  python/tests/oauth/test_device.py
Due: none

device: normalize an invalid timeoutMs in TypeScript before arming the timer
  typescript/src/oauth/device.ts
  typescript/tests/oauth/device.test.ts
Due: typescript-lint, typescript-typecheck

device: async-cancellable Python request timeout + interruptible poll wait
  python/src/basecamp/oauth/device.py
  python/src/basecamp/oauth/discovery.py
  python/tests/oauth/test_device.py
  python/tests/oauth/test_resource_discovery.py
Due: none

device: interruptible Ruby poll wait
  ruby/lib/basecamp/oauth/device_flow.rb
  ruby/test/basecamp/oauth_device_test.rb
Due: none

device: keep the post_form doc with post_form (Ruby)
  ruby/lib/basecamp/oauth/device_flow.rb
Due: none

device: backoff tracks the grown slow_down interval (Kotlin)
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/oauth/Device.kt
Due: none

device: backoff tracks the grown slow_down interval (Ruby)
  ruby/lib/basecamp/oauth/device_flow.rb
Due: none

device: make Go VerificationURIComplete optional (*string)
  go/pkg/basecamp/oauth/device.go
  go/pkg/basecamp/oauth/device_test.go
Due: go-test-short

device: satisfy staticcheck S1016 in the Go body-read cancellation test
  go/pkg/basecamp/oauth/device_test.go
Due: go-test-short

device: run the bounded coroutine off the caller's event loop (Python)
  python/src/basecamp/oauth/device.py
  python/src/basecamp/oauth/discovery.py
  python/tests/oauth/test_resource_discovery.py
Due: none

device: enforce a hard wall-clock timeout on Python device requests
  python/src/basecamp/oauth/device.py
  python/src/basecamp/oauth/discovery.py
  python/tests/oauth/test_device.py
  python/tests/oauth/test_resource_discovery.py
Due: none

device: validate the token error as a string (Python)
  python/src/basecamp/oauth/device.py
  python/tests/oauth/test_device.py
Due: none

device: bound the Python device header phase with the wall-clock deadline
  python/src/basecamp/oauth/device.py
Due: none

device: classify a token 3xx before reading the body (Kotlin)
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/oauth/Device.kt
Due: none

device: skip draining a body whose status is unused (Python)
  python/src/basecamp/oauth/device.py
  python/tests/oauth/test_device.py
Due: none

device: propagate cancellation during Go device-auth body read
  go/pkg/basecamp/oauth/device.go
  go/pkg/basecamp/oauth/device_test.go
Due: go-test-short

Path conditions:
  go-test-short: any of: \.go$
  typescript-lint: any of: ^typescript/.*\.(ts|tsx)$
  typescript-typecheck: any of: ^typescript/.*\.(ts|tsx)$
