Repository basecamp/basecamp-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-test-short, typescript-lint, typescript-typecheck

go-test-short:
  name: go test -short
  entry: bash -c 'cd go && go test -short ./...'
  language: system
  pass_filenames: false
  stages:
  - push

typescript-lint:
  name: typescript lint
  entry: bash -c 'cd typescript && npm run lint --if-present'
  language: system
  pass_filenames: false
  stages:
  - commit

typescript-typecheck:
  name: typescript typecheck
  entry: bash -c 'cd typescript && npm run typecheck --if-present'
  language: system
  pass_filenames: false
  stages:
  - push

device: capability outranks display validation; race injected sleeps (Python, TypeScript)
  python/src/basecamp/oauth/device.py
  typescript/src/oauth/device.ts
Due: typescript-lint, typescript-typecheck

oauth: move the shared token-lifetime ceiling to limits.ts (TypeScript)
  typescript/src/oauth/device.ts
  typescript/src/oauth/exchange.ts
  typescript/src/oauth/limits.ts
Due: typescript-lint, typescript-typecheck

device: type-safe deadline_at validation (Python, Ruby)
  python/src/basecamp/oauth/device.py
  python/tests/oauth/test_device.py
  ruby/lib/basecamp/oauth/device_flow.rb
  ruby/test/basecamp/oauth_device_test.rb
Due: none

device: raceAbort tolerates synchronously-throwing seams (TypeScript)
  typescript/src/oauth/device.ts
Due: typescript-lint, typescript-typecheck

oauth: validate the injected clock and type-check access_token in the exchange (TypeScript)
  typescript/src/oauth/device.ts
  typescript/src/oauth/exchange.ts
  typescript/tests/oauth/device.test.ts
  typescript/tests/oauth/oauth.test.ts
Due: typescript-lint, typescript-typecheck

oauth: reject a present-but-empty token_type in the exchange parser (TypeScript)
  typescript/src/oauth/exchange.ts
  typescript/tests/oauth/oauth.test.ts
Due: typescript-lint, typescript-typecheck

device: floor near-expiry sleeps; body-read cancellation ordering; opaque tokens (TS, Kotlin)
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/oauth/Device.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/OAuthDeviceTest.kt
  typescript/src/oauth/device.ts
Due: typescript-lint, typescript-typecheck

device: reject a non-callable display before any request (Ruby, Python, TypeScript)
  python/src/basecamp/oauth/device.py
  python/tests/oauth/test_device.py
  ruby/lib/basecamp/oauth/device_flow.rb
  ruby/test/basecamp/oauth_device_test.rb
  typescript/src/oauth/device-login.ts
  typescript/tests/oauth/device.test.ts
Due: typescript-lint, typescript-typecheck

device: decode optional token fields as pointers (Go)
  go/pkg/basecamp/oauth/device.go
  go/pkg/basecamp/oauth/device_test.go
Due: go-test-short

device: anchor the code lifetime before the authorization request (all SDKs)
  go/pkg/basecamp/oauth/device.go
  go/pkg/basecamp/oauth/device_test.go
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/oauth/Device.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/OAuthDeviceTest.kt
  python/src/basecamp/oauth/device.py
  python/tests/oauth/test_device.py
  ruby/lib/basecamp/oauth/device_flow.rb
  ruby/test/basecamp/oauth_device_test.rb
  typescript/src/oauth/device-login.ts
  typescript/src/oauth/device.ts
  typescript/tests/oauth/device.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

device: cancellation beats classification on the error path too (Python, Ruby)
  python/src/basecamp/oauth/device.py
  python/tests/oauth/test_device.py
  ruby/lib/basecamp/oauth/device_flow.rb
  ruby/test/basecamp/oauth_device_test.rb
Due: none

device: validate every injected clock sample (Python, Ruby)
  python/README.md
  python/src/basecamp/oauth/device.py
  python/tests/oauth/test_device.py
  ruby/lib/basecamp/oauth/device_flow.rb
  ruby/test/basecamp/oauth_device_test.rb
Due: none

device: the anchor clock call cannot outrun cancellation (Python, Ruby)
  python/src/basecamp/oauth/device.py
  python/tests/oauth/test_device.py
  ruby/lib/basecamp/oauth/device_flow.rb
  ruby/lib/basecamp/oauth/fetcher.rb
  ruby/test/basecamp/oauth_device_test.rb
Due: none

device: the post-display clock sample cannot outrun cancellation either (Python, Ruby)
  python/src/basecamp/oauth/device.py
  python/tests/oauth/test_device.py
  ruby/lib/basecamp/oauth/device_flow.rb
  ruby/test/basecamp/oauth_device_test.rb
Due: none

exchange: never echo the token response body in parse faults (TS, Python, Ruby, Kotlin)
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/oauth/Exchange.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/OAuthTest.kt
  python/src/basecamp/oauth/exchange.py
  python/tests/oauth/test_exchange.py
  ruby/lib/basecamp/oauth/exchange.rb
  ruby/test/basecamp/oauth_test.rb
  typescript/src/oauth/exchange.ts
  typescript/tests/oauth/oauth.test.ts
Due: typescript-lint, typescript-typecheck

device: the caller-supplied interval is whole seconds (TS, Python, Ruby)
  python/src/basecamp/oauth/device.py
  python/tests/oauth/test_device.py
  ruby/lib/basecamp/oauth/device_flow.rb
  ruby/test/basecamp/oauth_device_test.rb
  typescript/src/oauth/device.ts
  typescript/tests/oauth/device.test.ts
Due: typescript-lint, typescript-typecheck

device: injected-client POST gets the remaining budget and a post-return deadline re-check (Ruby)
  ruby/lib/basecamp/oauth/device_flow.rb
  ruby/test/basecamp/oauth_device_test.rb
Due: none

device: wall-clock bound the injected-client POST (Ruby)
  ruby/lib/basecamp/oauth/device_flow.rb
  ruby/test/basecamp/oauth_device_test.rb
Due: none

device: anchor expiry at response receipt per SPEC §16 (all SDKs)
  go/pkg/basecamp/oauth/device.go
  go/pkg/basecamp/oauth/device_test.go
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/oauth/Device.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/OAuthDeviceTest.kt
  python/src/basecamp/oauth/device.py
  python/tests/oauth/test_device.py
  ruby/lib/basecamp/oauth/device_flow.rb
  ruby/test/basecamp/oauth_device_test.rb
  typescript/src/oauth/device-login.ts
  typescript/tests/oauth/device.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

device, exchange: suppress parser causes on credential-bearing bodies (Kotlin, Ruby, Python)
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/oauth/Device.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/OAuthDeviceTest.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/OAuthTest.kt
  python/src/basecamp/oauth/device.py
  python/src/basecamp/oauth/exchange.py
  python/tests/oauth/test_exchange.py
  ruby/lib/basecamp/oauth/device_flow.rb
  ruby/lib/basecamp/oauth/exchange.rb
  ruby/test/basecamp/oauth_device_test.rb
  ruby/test/basecamp/oauth_test.rb
Due: none

Add .claude/CLAUDE.md so Claude Code loads AGENTS.md (#498)
  .claude/CLAUDE.md
  .gitignore
Due: none

transport: keep the watchdog closing so a racing request cannot reopen past the deadline (Ruby)
  ruby/lib/basecamp/oauth/fetcher.rb
  ruby/test/basecamp/oauth_transport_test.rb
Due: none

transport: keep the worker-join grace small (Python)
  python/src/basecamp/oauth/_transport.py
Due: none

transport: map protocol-parse failures and drop the dead Faraday builder (Ruby)
  ruby/lib/basecamp/oauth/fetcher.rb
  ruby/test/basecamp/oauth_transport_test.rb
Due: none

transport: status dominates the discovery body; verify TLS rejection (Ruby)
  ruby/lib/basecamp/oauth/fetcher.rb
  ruby/test/basecamp/oauth_transport_test.rb
Due: none

transport: fail fast on helper misuse (Ruby + Python)
  python/src/basecamp/oauth/_transport.py
  python/tests/oauth/test_transport.py
  ruby/lib/basecamp/oauth/fetcher.rb
  ruby/test/basecamp/oauth_transport_test.rb
Due: none

transport: tolerate platform-specific peer-close errno in test servers (Ruby)
  ruby/test/basecamp/oauth_transport_test.rb
Due: none

transport: require the stdlib the primitive uses (Ruby)
  ruby/lib/basecamp/oauth/fetcher.rb
Due: none

transport: fail closed on hostless endpoint URLs (Ruby)
  ruby/lib/basecamp/oauth/fetcher.rb
  ruby/test/basecamp/oauth_transport_test.rb
Due: none

transport: classify every forced-close shape by the deadline, not the exception class (Ruby)
  ruby/lib/basecamp/oauth/fetcher.rb
  ruby/test/basecamp/oauth_transport_test.rb
Due: none

transport: defer the watchdog kill across each close attempt (Ruby)
  ruby/lib/basecamp/oauth/fetcher.rb
  ruby/test/basecamp/oauth_transport_test.rb
Due: none

transport: timeout-map ETIMEDOUT, default the form content type, status-only errors (Ruby)
  ruby/lib/basecamp/oauth/fetcher.rb
Due: none

transport: adapt the poll-entry timeout normalization to the renamed request ceiling (Python)
  python/src/basecamp/oauth/device.py
Due: none

transport: enforce the timeout contract in request_bounded; document the DNS residual (Python)
  python/src/basecamp/oauth/_transport.py
  python/tests/oauth/test_transport.py
Due: none

transport: assert no leaked worker in the stalled-500 test (Python)
  python/tests/oauth/test_transport.py
Due: none

oauth: share the bounded worker transport with discovery (Python)
  python/src/basecamp/oauth/_transport.py
  python/src/basecamp/oauth/device.py
  python/src/basecamp/oauth/discovery.py
  python/tests/oauth/test_transport.py
Due: none

test: fold Ruby's lazy Timeout worker thread into the watchdog-leak baseline
  ruby/test/basecamp/oauth_transport_test.rb
Due: none

transport: bound proxy CONNECT parsing with the request deadline (Ruby)
  ruby/lib/basecamp/oauth/fetcher.rb
  ruby/test/basecamp/oauth_transport_test.rb
Due: none

oauth: headers-first bounded transport as the default (Ruby)
  ruby/lib/basecamp/oauth/device_flow.rb
  ruby/lib/basecamp/oauth/discovery.rb
  ruby/lib/basecamp/oauth/fetcher.rb
  ruby/lib/basecamp/oauth/resource.rb
  ruby/test/basecamp/oauth_transport_test.rb
Due: none

Path conditions:
  go-test-short: any of: \.go$
  typescript-lint: any of: ^typescript/.*\.(ts|tsx)$
  typescript-typecheck: any of: ^typescript/.*\.(ts|tsx)$
