Repository basecamp/basecamp-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-test-short, typescript-lint, typescript-typecheck

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
      - id: detect-private-key
      - id: check-case-conflict

  - repo: https://github.com/golangci/golangci-lint
    rev: v1.62.2
    hooks:
      - id: golangci-lint
        args: [--timeout=5m, --config=go/.golangci.yml]
        files: ^go/

  - repo: https://github.com/tekwizely/pre-commit-golang
    rev: v1.0.0-rc.1
    hooks:
      - id: go-fmt
        files: ^go/
      - id: go-vet
        files: ^go/
      - id: go-mod-tidy
        files: ^go/

  - repo: local
    hooks:
      - id: go-test-short
        name: go test -short
        entry: bash -c 'cd go && go test -short ./...'
        language: system
        pass_filenames: false
        types: [go]
        stages: [push]

      - id: typescript-lint
        name: typescript lint
        entry: bash -c 'cd typescript && npm run lint --if-present'
        language: system
        pass_filenames: false
        files: ^typescript/.*\.(ts|tsx)$
        stages: [commit]

      - id: typescript-typecheck
        name: typescript typecheck
        entry: bash -c 'cd typescript && npm run typecheck --if-present'
        language: system
        pass_filenames: false
        files: ^typescript/.*\.(ts|tsx)$
        stages: [push]

device: correct poll_device_token expires_in YARD type to Numeric (Ruby)
  ruby/lib/basecamp/oauth/device_flow.rb
Due: none

device: check status before parsing the Python device-auth response
  python/src/basecamp/oauth/device.py
  python/tests/oauth/test_device.py
Due: none

device: validate the normalize_timeout default and use the constant in delegators (Ruby)
  ruby/lib/basecamp/oauth.rb
  ruby/lib/basecamp/oauth/fetcher.rb
  ruby/test/basecamp/oauth_ssrf_test.rb
Due: none

device: propagate cancellation during Go device-auth body read
  go/pkg/basecamp/oauth/device.go
  go/pkg/basecamp/oauth/device_test.go
Due: go-test-short

device: enforce the whole-read deadline at EOF and use the device timeout budget
  python/src/basecamp/oauth/device.py
  python/src/basecamp/oauth/discovery.py
  python/tests/oauth/test_device.py
  python/tests/oauth/test_resource_discovery.py
Due: none

device: satisfy staticcheck S1016 in the Go body-read cancellation test
  go/pkg/basecamp/oauth/device_test.go
Due: go-test-short

device: bound the Python device header phase with the wall-clock deadline
  python/src/basecamp/oauth/device.py
Due: none

device: use DEFAULT_DEVICE_TIMEOUT_MS in defaults and allow null verification_uri_complete (TS)
  typescript/src/oauth/device.ts
Due: typescript-lint, typescript-typecheck

device: normalize an invalid timeoutMs in TypeScript before arming the timer
  typescript/src/oauth/device.ts
  typescript/tests/oauth/device.test.ts
Due: typescript-lint, typescript-typecheck

device: propagate caller cancellation during Go device-auth POST
  go/pkg/basecamp/oauth/device.go
  go/pkg/basecamp/oauth/device_test.go
Due: go-test-short

device: make Go VerificationURIComplete optional (*string)
  go/pkg/basecamp/oauth/device.go
  go/pkg/basecamp/oauth/device_test.go
Due: go-test-short

device: status-before-parse and normalize-once at entry (Ruby)
  ruby/lib/basecamp/oauth/device_flow.rb
Due: none

device: enforce a hard wall-clock timeout on Python device requests
  python/src/basecamp/oauth/device.py
  python/src/basecamp/oauth/discovery.py
  python/tests/oauth/test_device.py
  python/tests/oauth/test_resource_discovery.py
Due: none

device: runtime-agnostic abort error and null verification_uri_complete (TS)
  typescript/src/oauth/device.ts
  typescript/tests/oauth/device.test.ts
Due: typescript-lint, typescript-typecheck

device: normalize the Ruby device timeout once and to the device budget
  ruby/lib/basecamp/oauth/device_flow.rb
  ruby/lib/basecamp/oauth/fetcher.rb
  ruby/test/basecamp/oauth_ssrf_test.rb
Due: none

device: build the abort error as a plain Error, not DOMException (TypeScript)
  typescript/src/oauth/device.ts
Due: typescript-lint, typescript-typecheck

device: complete the body-cap policy sentence (Ruby)
  ruby/lib/basecamp/oauth/fetcher.rb
Due: none

device: reject out-of-range caller durations at the poll entry (Python)
  python/src/basecamp/oauth/device.py
  python/tests/oauth/test_device.py
Due: none

device: wall-clock token expiry, Ruby timeout ceiling, positive-form cap normalizer
  go/pkg/basecamp/oauth/device.go
  go/pkg/basecamp/oauth/device_test.go
  python/src/basecamp/oauth/discovery.py
  ruby/lib/basecamp/oauth/fetcher.rb
  ruby/test/basecamp/oauth_ssrf_test.rb
Due: go-test-short

device: check status before draining the body (Go)
  go/pkg/basecamp/oauth/device.go
  go/pkg/basecamp/oauth/device_test.go
Due: go-test-short

device: backoff tracks the grown slow_down interval (Ruby)
  ruby/lib/basecamp/oauth/device_flow.rb
Due: none

device: close the abortable-sleep race (TypeScript)
  typescript/src/oauth/device.ts
Due: typescript-lint, typescript-typecheck

device: normalize the body cap at the device entry points (Ruby)
  ruby/lib/basecamp/oauth/device_flow.rb
  ruby/lib/basecamp/oauth/fetcher.rb
  ruby/test/basecamp/oauth_device_test.rb
Due: none

device: reject out-of-range caller durations at the poll entry (Go)
  go/pkg/basecamp/oauth/device.go
  go/pkg/basecamp/oauth/device_test.go
Due: go-test-short

device: interruptible Ruby poll wait
  ruby/lib/basecamp/oauth/device_flow.rb
  ruby/test/basecamp/oauth_device_test.rb
Due: none

device: check status before draining the body + validate token error (TypeScript)
  typescript/src/oauth/device.ts
  typescript/tests/oauth/device.test.ts
Due: typescript-lint, typescript-typecheck

device: accept exactly HTTP 200 for token responses (5 SDKs)
  go/pkg/basecamp/oauth/device.go
  go/pkg/basecamp/oauth/device_test.go
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/oauth/Device.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/OAuthDeviceTest.kt
  python/src/basecamp/oauth/device.py
  python/tests/oauth/test_device.py
  ruby/lib/basecamp/oauth/device_flow.rb
  ruby/test/basecamp/oauth_device_test.rb
  typescript/src/oauth/device.ts
  typescript/tests/oauth/device.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

device: classify completed skip-status responses by status for every adapter (Ruby)
  ruby/lib/basecamp/oauth/device_flow.rb
  ruby/lib/basecamp/oauth/fetcher.rb
  ruby/test/basecamp/oauth_device_test.rb
Due: none

device: validate the token error as a string (Python)
  python/src/basecamp/oauth/device.py
  python/tests/oauth/test_device.py
Due: none

device: normalize an empty token error and bound caller durations (Kotlin)
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/BasecampException.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/oauth/Device.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/OAuthDeviceTest.kt
Due: none

device: bounded worker join + backoff tracks grown slow_down interval (Python)
  python/src/basecamp/oauth/device.py
  python/tests/oauth/test_device.py
Due: none

device: cancel the unread body stream on status-first failures (TypeScript)
  typescript/src/oauth/device.ts
Due: typescript-lint, typescript-typecheck

device: classify a token 3xx before reading the body (Kotlin)
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/oauth/Device.kt
Due: none

device: share one body-cap policy across discovery, resource, and device flow (Ruby)
  ruby/lib/basecamp/oauth/discovery.rb
  ruby/lib/basecamp/oauth/fetcher.rb
  ruby/lib/basecamp/oauth/resource.rb
Due: none

device: async-cancellable Python request timeout + interruptible poll wait
  python/src/basecamp/oauth/device.py
  python/src/basecamp/oauth/discovery.py
  python/tests/oauth/test_device.py
  python/tests/oauth/test_resource_discovery.py
Due: none

device: keep huge ints on the usage path and normalize the body cap (Python)
  python/src/basecamp/oauth/device.py
  python/src/basecamp/oauth/discovery.py
  python/tests/oauth/test_device.py
Due: none

device: keep completed API faults non-retryable (Kotlin)
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/oauth/Device.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/oauth/Discovery.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/OAuthDeviceTest.kt
Due: none

device: run the bounded coroutine off the caller's event loop (Python)
  python/src/basecamp/oauth/device.py
  python/src/basecamp/oauth/discovery.py
  python/tests/oauth/test_resource_discovery.py
Due: none

device: skip draining a body whose status is unused (Python)
  python/src/basecamp/oauth/device.py
  python/tests/oauth/test_device.py
Due: none

device: backoff tracks the grown slow_down interval (Go)
  go/pkg/basecamp/oauth/device.go
  go/pkg/basecamp/oauth/device_test.go
Due: go-test-short
