Repository basecamp/basecamp-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-test-short, typescript-lint, typescript-typecheck

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
      - id: detect-private-key
      - id: check-case-conflict

  - repo: https://github.com/golangci/golangci-lint
    rev: v1.62.2
    hooks:
      - id: golangci-lint
        args: [--timeout=5m, --config=go/.golangci.yml]
        files: ^go/

  - repo: https://github.com/tekwizely/pre-commit-golang
    rev: v1.0.0-rc.1
    hooks:
      - id: go-fmt
        files: ^go/
      - id: go-vet
        files: ^go/
      - id: go-mod-tidy
        files: ^go/

  - repo: local
    hooks:
      - id: go-test-short
        name: go test -short
        entry: bash -c 'cd go && go test -short ./...'
        language: system
        pass_filenames: false
        types: [go]
        stages: [push]

      - id: typescript-lint
        name: typescript lint
        entry: bash -c 'cd typescript && npm run lint --if-present'
        language: system
        pass_filenames: false
        files: ^typescript/.*\.(ts|tsx)$
        stages: [commit]

      - id: typescript-typecheck
        name: typescript typecheck
        entry: bash -c 'cd typescript && npm run typecheck --if-present'
        language: system
        pass_filenames: false
        files: ^typescript/.*\.(ts|tsx)$
        stages: [push]

Python: resource-first OAuth discovery + issuer binding + SSRF
  python/README.md
  python/src/basecamp/_security.py
  python/src/basecamp/oauth/__init__.py
  python/src/basecamp/oauth/config.py
  python/src/basecamp/oauth/discovery.py
  python/src/basecamp/oauth/errors.py
  python/tests/oauth/test_discovery.py
  python/tests/oauth/test_resource_discovery.py
  ruby/lib/basecamp/services/authorization_service.rb
Due: none

TypeScript: resource-first OAuth discovery + issuer binding + SSRF
  typescript/README.md
  typescript/src/index.ts
  typescript/src/oauth/discovery.ts
  typescript/src/oauth/index.ts
  typescript/src/oauth/interactive-login.ts
  typescript/src/oauth/types.ts
  typescript/tests/oauth/interactive-login.test.ts
  typescript/tests/oauth/oauth.test.ts
  typescript/tests/oauth/resource-discovery.test.ts
Due: typescript-lint, typescript-typecheck

Go: resource-first OAuth discovery + issuer binding + SSRF
  go/README.md
  go/pkg/basecamp/oauth/discovery.go
  go/pkg/basecamp/oauth/oauth_test.go
  go/pkg/basecamp/oauth/resource_discovery_test.go
  go/pkg/basecamp/oauth/types.go
Due: go-test-short

OAuth resource-first discovery contract: SPEC.md + fixtures + oauth-fixtures-check
  Makefile
  SPEC.md
  conformance/oauth/README.md
  conformance/oauth/fixtures/01-two-hop-happy-path.json
  conformance/oauth/fixtures/02-no-as-advertised-absent.json
  conformance/oauth/fixtures/03-no-as-advertised-empty-array.json
  conformance/oauth/fixtures/04-only-launchpad.json
  conformance/oauth/fixtures/05-resource-mismatch.json
  conformance/oauth/fixtures/06-hop1-transport-failure.json
  conformance/oauth/fixtures/07-issuer-binding-mismatch.json
  conformance/oauth/fixtures/08-as-metadata-500.json
  conformance/oauth/fixtures/09-ambiguous-issuers.json
  conformance/oauth/fixtures/10-expected-issuer-selected.json
  conformance/oauth/fixtures/11-expected-issuer-unavailable.json
  conformance/oauth/fixtures/12-empty-string-endpoint.json
  conformance/oauth/fixtures/13-device-only-as.json
  conformance/oauth/fixtures/14-origin-root-http-nonlocalhost.json
  conformance/oauth/fixtures/15-origin-root-malformed-port.json
  conformance/oauth/fixtures/16-origin-root-path-rejected.json
  conformance/oauth/fixtures/17-origin-root-ipv6-localhost-accept.json
  conformance/oauth/fixtures/18-ssrf-oversized-body.json
  conformance/oauth/fixtures/19-ssrf-redirect-not-followed.json
  conformance/oauth/fixtures/20-invalid-issuer-origin.json
  conformance/oauth/fixtures/21-authorization-servers-not-array.json
  conformance/oauth/fixtures/22-grant-types-not-array.json
  conformance/oauth/fixtures/23-launchpad-lookalike-with-path.json
  conformance/oauth/schema.json
Due: none

Ruby: resource-first OAuth discovery + issuer binding + SSRF + empty-string fix
  ruby/README.md
  ruby/lib/basecamp/http.rb
  ruby/lib/basecamp/oauth.rb
  ruby/lib/basecamp/oauth/config.rb
  ruby/lib/basecamp/oauth/discovery.rb
  ruby/lib/basecamp/oauth/discovery_result.rb
  ruby/lib/basecamp/oauth/discovery_selection_error.rb
  ruby/lib/basecamp/oauth/fetcher.rb
  ruby/lib/basecamp/oauth/protected_resource_metadata.rb
  ruby/lib/basecamp/oauth/resource.rb
  ruby/lib/basecamp/security.rb
  ruby/lib/basecamp/services/authorization_service.rb
  ruby/test/basecamp/oauth_resource_discovery_test.rb
  ruby/test/basecamp/oauth_ssrf_test.rb
  ruby/test/basecamp/oauth_test.rb
  ruby/test/basecamp/same_origin_test.rb
  ruby/test/basecamp/security_test.rb
  ruby/test/basecamp/services/authorization_service_test.rb
  ruby/test/test_helper.rb
Due: none

Kotlin: resource-first OAuth discovery + issuer binding + SSRF + shared URL helper
  kotlin/README.md
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/BasecampException.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/Pagination.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/Urls.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/oauth/Discovery.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/oauth/Exchange.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/ErrorTest.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/OAuthDiscoveryTest.kt
Due: none

discovery: reject delimiter-only userinfo, keep OAuthConfig field order, classify read failures
  go/pkg/basecamp/oauth/discovery.go
  go/pkg/basecamp/oauth/oauth_test.go
  python/src/basecamp/oauth/config.py
  python/tests/oauth/test_resource_discovery.py
  typescript/src/oauth/discovery.ts
  typescript/tests/oauth/resource-discovery.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Go: case-insensitive host, reject present-null lists, non-string endpoints
  go/pkg/basecamp/oauth/discovery.go
  go/pkg/basecamp/oauth/oauth_test.go
  go/pkg/basecamp/oauth/resource_discovery_test.go
Due: go-test-short

TypeScript: reject present-null authorization_servers, dedupe issuers, empty resourceBaseUrl
  typescript/src/oauth/discovery.ts
  typescript/src/oauth/interactive-login.ts
  typescript/tests/oauth/resource-discovery.test.ts
Due: typescript-lint, typescript-typecheck

Kotlin: lowercase origin host (case-insensitive), reject bare-query origins
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/Urls.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/OAuthDiscoveryTest.kt
Due: none

Python: httpx.URL origin validation, appended field, result invariant, drip-timeout
  python/src/basecamp/_security.py
  python/src/basecamp/oauth/config.py
  python/src/basecamp/oauth/discovery.py
  python/tests/oauth/test_resource_discovery.py
Due: none

Ruby: issuer code-point bind, enforceable redirect policy, present-null + parser hardening
  ruby/lib/basecamp/oauth.rb
  ruby/lib/basecamp/oauth/discovery.rb
  ruby/lib/basecamp/oauth/fetcher.rb
  ruby/lib/basecamp/oauth/resource.rb
  ruby/lib/basecamp/security.rb
  ruby/lib/basecamp/services/authorization_service.rb
  ruby/test/basecamp/oauth_ssrf_test.rb
  ruby/test/basecamp/oauth_test.rb
  ruby/test/basecamp/security_test.rb
Due: none

conformance: require error on raise, fallbackReason on fallback (oauth fixtures)
  conformance/oauth/schema.json
Due: none

oauth: address #369 review round under the three shared discovery contracts
  conformance/oauth/fixtures/24-duplicate-issuer-deduped.json
  go/pkg/basecamp/oauth/discovery.go
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/oauth/Discovery.kt
  python/src/basecamp/_security.py
  python/src/basecamp/oauth/config.py
  python/src/basecamp/oauth/discovery.py
  python/tests/oauth/test_resource_discovery.py
  ruby/lib/basecamp/oauth.rb
  ruby/lib/basecamp/oauth/discovery.rb
  ruby/lib/basecamp/oauth/fetcher.rb
  ruby/test/basecamp/oauth_ssrf_test.rb
  typescript/src/oauth/discovery.ts
  typescript/tests/oauth/resource-discovery.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

oauth: internal issuer binding, typed capability_unavailable, bare-# rejection
  conformance/oauth/fixtures/25-origin-root-bare-fragment.json
  conformance/oauth/fixtures/26-advertised-issuer-trailing-slash-binds.json
  go/pkg/basecamp/oauth/discovery.go
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/Urls.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/oauth/Discovery.kt
  python/src/basecamp/oauth/discovery.py
  python/tests/oauth/test_resource_discovery.py
  ruby/lib/basecamp/oauth.rb
  ruby/lib/basecamp/oauth/discovery.rb
  ruby/test/basecamp/oauth_test.rb
  typescript/src/oauth/discovery.ts
  typescript/src/oauth/interactive-login.ts
  typescript/tests/oauth/interactive-login.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

oauth: reject present-null list metadata, close Ruby SSRF entry, cover Kotlin binding
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/OAuthDiscoveryTest.kt
  python/src/basecamp/_security.py
  python/src/basecamp/oauth/discovery.py
  python/tests/oauth/test_resource_discovery.py
  ruby/lib/basecamp/oauth.rb
  ruby/lib/basecamp/oauth/discovery.rb
  ruby/lib/basecamp/oauth/resource.rb
  ruby/test/basecamp/oauth_test.rb
Due: none

oauth: reject null authorization_servers in Kotlin, port 0 in TS, fix stale comments
  conformance/oauth/fixtures/27-authorization-servers-present-null.json
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/oauth/Discovery.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/OAuthDiscoveryTest.kt
  python/src/basecamp/oauth/discovery.py
  ruby/lib/basecamp/oauth/resource.rb
  typescript/src/oauth/discovery.ts
  typescript/tests/oauth/resource-discovery.test.ts
Due: typescript-lint, typescript-typecheck

oauth: presence-check baseUrl, root-export requireOriginRoot, reject dangling port
  python/src/basecamp/_security.py
  python/tests/oauth/test_resource_discovery.py
  typescript/src/index.ts
  typescript/src/oauth/interactive-login.ts
  typescript/tests/oauth/interactive-login.test.ts
Due: typescript-lint, typescript-typecheck

oauth(python): normalize discovery body cap to a finite non-negative int
  python/src/basecamp/oauth/discovery.py
  python/tests/oauth/test_resource_discovery.py
Due: none

oauth: uniform dangling-port + empty-userinfo origin-root rejection
  conformance/oauth/fixtures/28-origin-root-dangling-port.json
  conformance/oauth/fixtures/29-origin-root-empty-userinfo.json
  go/pkg/basecamp/oauth/discovery.go
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/Urls.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/OAuthDiscoveryTest.kt
  ruby/lib/basecamp/security.rb
  ruby/test/basecamp/security_test.rb
  typescript/src/oauth/discovery.ts
  typescript/tests/oauth/resource-discovery.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

oauth: bind resource identifier to the raw caller origin; Kotlin port-0
  conformance/oauth/fixtures/30-origin-root-port-zero.json
  conformance/oauth/fixtures/31-resource-trailing-slash-binds.json
  go/pkg/basecamp/oauth/discovery.go
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/Urls.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/oauth/Discovery.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/OAuthDiscoveryTest.kt
  python/src/basecamp/oauth/discovery.py
  python/tests/oauth/test_resource_discovery.py
  ruby/lib/basecamp/oauth/resource.rb
  ruby/test/basecamp/oauth_resource_discovery_test.rb
  ruby/test/basecamp/oauth_test.rb
  typescript/src/oauth/discovery.ts
  typescript/tests/oauth/resource-discovery.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

oauth: raw-identifier binding through the orchestrator + public discover; signed port
  conformance/oauth/fixtures/32-origin-root-signed-port.json
  conformance/oauth/fixtures/33-discover-issuer-trailing-slash-binds.json
  conformance/oauth/fixtures/34-resource-first-trailing-slash-binds.json
  go/pkg/basecamp/oauth/discovery.go
  go/pkg/basecamp/oauth/oauth_test.go
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/Urls.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/oauth/Discovery.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/OAuthDiscoveryTest.kt
  python/src/basecamp/_security.py
  python/src/basecamp/oauth/discovery.py
  ruby/lib/basecamp/oauth.rb
  ruby/lib/basecamp/oauth/discovery.rb
  ruby/test/basecamp/oauth_test.rb
  ruby/test/basecamp/security_test.rb
  typescript/src/oauth/discovery.ts
  typescript/tests/oauth/oauth.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

oauth: correct stale binding comments on the internal bind helpers
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/oauth/Discovery.kt
  typescript/src/oauth/discovery.ts
Due: typescript-lint, typescript-typecheck

oauth: reject C0/space/backslash origin spellings that parsers normalize away
  conformance/oauth/fixtures/35-origin-root-invalid-characters.json
  go/pkg/basecamp/oauth/discovery.go
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/Urls.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/OAuthDiscoveryTest.kt
  python/src/basecamp/_security.py
  python/tests/oauth/test_resource_discovery.py
  ruby/lib/basecamp/security.rb
  typescript/src/oauth/discovery.ts
  typescript/tests/oauth/resource-discovery.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

oauth: append device endpoint for positional compat; reject missing-authority origins
  conformance/oauth/fixtures/36-origin-root-missing-authority.json
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/oauth/Discovery.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/OAuthDiscoveryTest.kt
  ruby/lib/basecamp/oauth/config.rb
  typescript/src/oauth/discovery.ts
  typescript/tests/oauth/resource-discovery.test.ts
Due: typescript-lint, typescript-typecheck

oauth: reject dot-segment paths that URL parsers resolve away
  conformance/oauth/fixtures/37-origin-root-dot-segment-path.json
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/OAuthDiscoveryTest.kt
  python/src/basecamp/_security.py
  python/tests/oauth/test_resource_discovery.py
  typescript/src/oauth/discovery.ts
  typescript/tests/oauth/resource-discovery.test.ts
Due: typescript-lint, typescript-typecheck

oauth: validate every advertised *_endpoint in Kotlin discovery
  conformance/oauth/fixtures/38-unmodeled-endpoint-empty.json
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/oauth/Discovery.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/OAuthDiscoveryTest.kt
Due: none

oauth: propagate caller cancellation before Go soft fallback
  go/pkg/basecamp/oauth/discovery.go
  go/pkg/basecamp/oauth/resource_discovery_test.go
Due: go-test-short

oauth: truncate non-2xx discovery body in TypeScript error message
  typescript/src/oauth/discovery.ts
  typescript/tests/oauth/oauth.test.ts
Due: typescript-lint, typescript-typecheck

oauth: bound Ruby discovery reads with a wall-clock deadline
  ruby/lib/basecamp/oauth/fetcher.rb
  ruby/test/basecamp/oauth_ssrf_test.rb
Due: none

oauth: propagate caller cancellation during Go hop-2 AS fetch
  go/pkg/basecamp/oauth/discovery.go
  go/pkg/basecamp/oauth/resource_discovery_test.go
Due: go-test-short

oauth: correct Ruby selection-error taxonomy comment and test adapter guard
  ruby/lib/basecamp/oauth/discovery_selection_error.rb
  ruby/test/basecamp/oauth_ssrf_test.rb
Due: none

oauth: reject non-finite discovery timeouts and fix taxonomy docstring in Python
  python/src/basecamp/oauth/discovery.py
  python/src/basecamp/oauth/errors.py
  python/tests/oauth/test_resource_discovery.py
Due: none

oauth: normalize non-finite discovery timeouts in Ruby
  ruby/lib/basecamp/oauth/discovery.rb
  ruby/lib/basecamp/oauth/fetcher.rb
  ruby/lib/basecamp/oauth/resource.rb
  ruby/test/basecamp/oauth_ssrf_test.rb
Due: none

oauth: harden Python timeout normalization against oversized ints
  python/src/basecamp/oauth/discovery.py
  python/tests/oauth/test_resource_discovery.py
Due: none

oauth: guard Ruby timeout normalization against non-real numerics
  ruby/lib/basecamp/oauth/fetcher.rb
  ruby/test/basecamp/oauth_ssrf_test.rb
Due: none

oauth: make Go RegistrationEndpoint optional and normalize ports numerically
  go/pkg/basecamp/oauth/discovery.go
  go/pkg/basecamp/oauth/resource_discovery_test.go
  go/pkg/basecamp/oauth/types.go
Due: go-test-short

oauth: correct TypeScript selection-error taxonomy comment
  typescript/src/oauth/discovery.ts
Due: typescript-lint, typescript-typecheck

deps: patch Vitest (conformance runner) and Pygments security advisories
  conformance/runner/typescript/package-lock.json
  conformance/runner/typescript/package.json
  python/uv.lock
Due: none
