Repository basecamp/basecamp-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-test-short, typescript-lint, typescript-typecheck

go-test-short:
  name: go test -short
  entry: bash -c 'cd go && go test -short ./...'
  language: system
  pass_filenames: false
  stages:
  - push

typescript-lint:
  name: typescript lint
  entry: bash -c 'cd typescript && npm run lint --if-present'
  language: system
  pass_filenames: false
  stages:
  - commit

typescript-typecheck:
  name: typescript typecheck
  entry: bash -c 'cd typescript && npm run typecheck --if-present'
  language: system
  pass_filenames: false
  stages:
  - push

Teach the sweep blockquotes, and give SPEC's Layer-1 assignment its citation
  SPEC.md
  scripts/check-known-defect-issues-open
  scripts/test-check-known-defect-issues-open
  spec/tracking-issues.yml
Due: none

Give the envelope its three states, and split the ceiling into what it was
  SPEC.md
  go/pkg/basecamp/eventfeed/buffer_test.go
  go/pkg/basecamp/eventfeed/catchup.go
  go/pkg/basecamp/eventfeed/catchup_test.go
  go/pkg/basecamp/eventfeed/scenario_conformance_test.go
  go/pkg/basecamp/eventfeed/scenario_fixture_test.go
  go/pkg/basecamp/eventfeed/scenario_selftest_test.go
Due: go-test-short

Judge every fixture number literal once, at load, so the schema's all-numeric claim holds for every integer field
  go/pkg/basecamp/eventfeed/scenario_fixture_test.go
  go/pkg/basecamp/eventfeed/scenario_selftest_test.go
Due: go-test-short

The advance rendezvous is authored: expectTimers precedes it, at load
  SPEC.md
  conformance/event-feed/README.md
  conformance/event-feed/fixtures/05-fresh-ticket-reconnect-after-ttl.json
  conformance/event-feed/schema.json
  go/pkg/basecamp/eventfeed/scenario_fixture_test.go
  go/pkg/basecamp/eventfeed/scenario_selftest_test.go
  scripts/check-known-defect-issues-open
  scripts/test-check-known-defect-issues-open
Due: go-test-short

A rendezvous must be able to mean settled, and a registry is one document
  SPEC.md
  conformance/event-feed/README.md
  conformance/event-feed/schema.json
  go/pkg/basecamp/eventfeed/scenario_fixture_test.go
  go/pkg/basecamp/eventfeed/scenario_selftest_test.go
  scripts/check-known-defect-issues-open
  scripts/test-check-known-defect-issues-open
Due: go-test-short

Drop a stray possessive in the ceiling's holder sentence
  SPEC.md
Due: none

Say which layer the every-status Retry-After claim binds at, and inventory the download sites outside it
  SPEC.md
Due: none

fix(typescript): reject a signed Retry-After and saturate over-range at the ceiling
  typescript/src/errors.ts
  typescript/tests/retry-after.test.ts
Due: typescript-lint, typescript-typecheck

conformance(retry): pin retry_after on a 503 api_error, teach the runners the field
  MIGRATING.md
  SPEC.md
  conformance/runner/go/main.go
  conformance/runner/python/runner.py
  conformance/runner/ruby/runner.rb
  conformance/runner/swift/Sources/ConformanceRunner/Assertions.swift
  conformance/runner/typescript/runner.test.ts
  conformance/tests/error-mapping.json
  conformance/tests/retry.json
  kotlin/conformance/src/main/kotlin/com/basecamp/sdk/conformance/Main.kt
Due: go-test-short

Python: only the asctime shape earns the UTC fallback
  python/src/basecamp/errors.py
  python/tests/test_errors.py
Due: none

Python: gate the HTTP-date shape before parsing; Swift: carry Retry-After on a redirect with no Location
  python/src/basecamp/errors.py
  python/tests/test_errors.py
  swift/Sources/Basecamp/Download.swift
  swift/Tests/BasecampTests/DownloadTests.swift
Due: none

fix(python): reject a signed Retry-After, saturate at the ceiling, read asctime as UTC
  python/src/basecamp/errors.py
  python/tests/test_errors.py
Due: none

fix(go): carry RequestResult.RetryAfter at every status
  go/pkg/basecamp/http.go
Due: go-test-short

Teach the Rust runner the retryAfter error field
  conformance/runner/rust/src/assertions.rs
Due: none

fix(swift): carry retryAfterSeconds on .api, drop the day-long clamp, converge the parser
  swift/Sources/Basecamp/BasecampError.swift
  swift/Sources/Basecamp/DocumentsServiceExtensions.swift
  swift/Sources/Basecamp/Download.swift
  swift/Sources/Basecamp/HTTP/HTTPClient.swift
  swift/Sources/Basecamp/SchedulesServiceExtensions.swift
  swift/Sources/Basecamp/Services/BaseService.swift
  swift/Sources/Basecamp/TodolistsServiceExtensions.swift
  swift/Tests/BasecampTests/DecodeIsolationTests.swift
  swift/Tests/BasecampTests/DocumentsServiceExtensionsTests.swift
  swift/Tests/BasecampTests/DownloadTests.swift
  swift/Tests/BasecampTests/ErrorTests.swift
  swift/Tests/BasecampTests/PaginationTests.swift
  swift/Tests/BasecampTests/SchedulesServiceExtensionsTests.swift
  swift/Tests/BasecampTests/TodolistsServiceExtensionsTests.swift
  swift/Tests/BasecampTests/TransportNetworkErrorRetryTests.swift
Due: none

Swift: gate the HTTP-date shape before the formatter reads it
  swift/Sources/Basecamp/BasecampError.swift
  swift/Tests/BasecampTests/ErrorTests.swift
Due: none

Kotlin: carry Retry-After on a redirect with no Location
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/Download.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/DownloadTest.kt
Due: none

fix(kotlin): carry retryAfterSeconds on Api, reject a sign, saturate at the ceiling
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/BasecampException.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/Pagination.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/PaginationTest.kt
  kotlin/sdk/src/jvmTest/kotlin/com/basecamp/sdk/ApiConstructorSurfaceTest.kt
Due: none

Swift: parse Retry-After once per retried response
  swift/Sources/Basecamp/BasecampError.swift
  swift/Sources/Basecamp/HTTP/HTTPClient.swift
  swift/Tests/BasecampTests/ErrorTests.swift
Due: none

Say in the contract that an HTTP-date shape is its template, not its token alphabet
  SPEC.md
Due: none

Drive the every-status RetryAfter hook test through a generated operation, and name Kotlin's constructor-reference break
  MIGRATING.md
  go/pkg/basecamp/http_retry_after_test.go
Due: go-test-short

fix(ruby): reject a signed Retry-After and saturate at the ceiling
  ruby/lib/basecamp/http.rb
  ruby/test/basecamp/http_extended_test.rb
Due: none

Keep Kotlin's six-argument Api constructor, carry retryAfterSeconds into its hook errors, retire the stale SPEC inventories
  MIGRATING.md
  SPEC.md
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/BasecampException.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/Download.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/http/BasecampHttpClient.kt
  kotlin/sdk/src/jvmTest/kotlin/com/basecamp/sdk/ApiConstructorSurfaceTest.kt
Due: none

Width-check a Retry-After before int(), pin the hook-facing field, fix the docs
  MIGRATING.md
  go/pkg/basecamp/http_retry_after_test.go
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/BasecampException.kt
  python/src/basecamp/errors.py
  python/tests/test_errors.py
  swift/README.md
  swift/Sources/Basecamp/BasecampError.swift
  typescript/src/errors.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Tag the 16 untagged operations so the model exposes one tag per op
  openapi.json
  python/scripts/generate_services.py
  ruby/scripts/generate-services.rb
  spec/overlays/tags.smithy
  typescript/src/generated/openapi-stripped.json
Due: none

Regenerate url-routes.json for newly-tagged operations
  go/pkg/basecamp/url-routes.json
Due: none

Model the card table fields Basecamp already sends
  go/pkg/basecamp/cards.go
  go/pkg/generated/client.gen.go
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/models/CardTable.kt
  openapi.json
  python/src/basecamp/generated/types.py
  ruby/lib/basecamp/generated/metadata.json
  ruby/lib/basecamp/generated/types.rb
  rust/basecamp-sdk/src/generated/types.rs
  spec/basecamp.smithy
  swift/Sources/Basecamp/Generated/Models/CardTable.swift
  typescript/src/generated/metadata.ts
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/schema.d.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Fold a long path parameter's documentation instead of emitting it as code
  ruby/scripts/generate-services.rb
Due: none

Let people templatify an existing to-do list or card table
  SECURITY.md
  SPEC.md
  behavior-model.json
  conformance/runner/go/main.go
  conformance/runner/python/runner.py
  conformance/runner/ruby/runner.rb
  conformance/runner/rust/src/operations.rs
  conformance/runner/swift/Sources/ConformanceRunner/Dispatch.swift
  conformance/runner/typescript/runner.test.ts
  conformance/tests/templatifications.json
  go/grouped-client-inventory.yml
  go/pkg/basecamp/templates.go
  go/pkg/generated/client.gen.go
  go/templates/client.tmpl
  kotlin/conformance/src/main/kotlin/com/basecamp/sdk/conformance/Main.kt
  kotlin/generator/src/main/kotlin/com/basecamp/sdk/generator/Config.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/models/Templatification.kt
  openapi.json
  python/scripts/generate_services.py
  python/src/basecamp/generated/metadata.json
  python/src/basecamp/generated/services/templates.py
  python/src/basecamp/generated/types.py
  python/tests/services/test_templates_service.py
  ruby/scripts/generate-services.rb
  ruby/test/basecamp/services/templates_service_test.rb
  rust/basecamp-sdk/tests/guarantees.rs
  rust/generator/names.toml
  scripts/check-idempotency-parity
  spec/basecamp.smithy
  spec/overlays/tags.smithy
  swift/Sources/BasecampGenerator/MethodNaming.swift
  swift/Sources/BasecampGenerator/ServiceGrouper.swift
  typescript/scripts/generate-services.ts
  typescript/tests/services/templates.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Write down what upgrading to the template library changes
  MIGRATING.md
  spec/api-gaps/README.md
  spec/api-gaps/template-library-card-tables.md
Due: none

Bump rustls to 0.23.45 for RUSTSEC-2026-0285
  rust/Cargo.lock
Due: none

Bump rustls to 0.23.45 for RUSTSEC-2026-0285 (#890)
  rust/Cargo.lock
Due: none

docs: describe the rostered set as the whole fixture, and list every routed recording type
  SPEC.md
  conformance/runner/rust/src/main.rs
  conformance/runner/swift/Sources/ConformanceRunner/Runner.swift
  go/README.md
  kotlin/conformance/src/main/kotlin/com/basecamp/sdk/conformance/Main.kt
  spec/zero-skip-roster.yml
Due: none

docs(go): document recording summaries and mention helpers
  SPEC.md
  go/README.md
  go/pkg/basecamp/doc.go
Due: go-test-short

test(recordings): release the held handler from t.Cleanup so a failed assertion cannot hang server shutdown
  go/pkg/basecamp/recording_summary_test.go
Due: go-test-short

fix(mentions): never let an unsigned sgid stand in for the authoritative people read; narrow the routing contract to a deliberate set
  SPEC.md
  go/README.md
  go/pkg/basecamp/comments.go
  go/pkg/basecamp/mentions.go
  go/pkg/basecamp/mentions_test.go
  go/pkg/basecamp/recording_summary.go
  go/pkg/basecamp/recording_summary_test.go
Due: go-test-short

Path conditions:
  go-test-short: any of: \.go$
  typescript-lint: any of: ^typescript/.*\.(ts|tsx)$
  typescript-typecheck: any of: ^typescript/.*\.(ts|tsx)$
