Repository basecamp/basecamp-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-test-short, typescript-lint, typescript-typecheck

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
      - id: detect-private-key
      - id: check-case-conflict

  - repo: https://github.com/golangci/golangci-lint
    rev: v1.62.2
    hooks:
      - id: golangci-lint
        args: [--timeout=5m, --config=go/.golangci.yml]
        files: ^go/

  - repo: https://github.com/tekwizely/pre-commit-golang
    rev: v1.0.0-rc.1
    hooks:
      - id: go-fmt
        files: ^go/
      - id: go-vet
        files: ^go/
      - id: go-mod-tidy
        files: ^go/

  - repo: local
    hooks:
      - id: go-test-short
        name: go test -short
        entry: bash -c 'cd go && go test -short ./...'
        language: system
        pass_filenames: false
        types: [go]
        stages: [push]

      - id: typescript-lint
        name: typescript lint
        entry: bash -c 'cd typescript && npm run lint --if-present'
        language: system
        pass_filenames: false
        files: ^typescript/.*\.(ts|tsx)$
        stages: [commit]

      - id: typescript-typecheck
        name: typescript typecheck
        entry: bash -c 'cd typescript && npm run typecheck --if-present'
        language: system
        pass_filenames: false
        files: ^typescript/.*\.(ts|tsx)$
        stages: [push]

Compare what the six generators emitted, not what two of them agree on
  .github/workflows/test.yml
  Makefile
  SPEC.md
  scripts/check-service-inventory-parity
  scripts/sync-doc-constants.rb
  scripts/test-check-service-inventory-parity.rb
Due: none

Say what disagreed and where to look; stop naming a cause
  SPEC.md
  scripts/check-service-inventory-parity
  scripts/sync-doc-constants.rb
  scripts/test-check-service-inventory-parity.rb
Due: none

Mirror Python's rename exactly, instead of stripping any _service suffix
  scripts/check-service-inventory-parity
  scripts/test-check-service-inventory-parity.rb
Due: none

Compare what the six generators emitted, not what two of them agree on (#752)
  .github/workflows/test.yml
  Makefile
  SPEC.md
  scripts/check-service-inventory-parity
  scripts/sync-doc-constants.rb
  scripts/test-check-service-inventory-parity.rb
Due: none

Event feed cable layer: frame codec, transport contract, and fake transport
  go/pkg/basecamp/eventfeed/cable.go
  go/pkg/basecamp/eventfeed/cable_test.go
  go/pkg/basecamp/eventfeed/feedtest/transport.go
  go/pkg/basecamp/eventfeed/feedtest/transport_test.go
  go/pkg/basecamp/eventfeed/transport.go
  go/pkg/basecamp/eventfeed/transport_contract_test.go
  go/pkg/basecamp/eventfeed/transport_test.go
Due: go-test-short

Event feed websocket transport: coder/websocket behind the cable seam
  go/go.mod
  go/go.sum
  go/pkg/basecamp/eventfeed/websocket_transport.go
  go/pkg/basecamp/eventfeed/websocket_transport_test.go
Due: go-test-short

Event feed: cancel synchronously on close and bound the drain's live buffer
  go/pkg/basecamp/eventfeed/cable.go
  go/pkg/basecamp/eventfeed/cable_test.go
  go/pkg/basecamp/eventfeed/catchup.go
  go/pkg/basecamp/eventfeed/catchup_test.go
  go/pkg/basecamp/eventfeed/connector.go
  go/pkg/basecamp/eventfeed/connector_test.go
  go/pkg/basecamp/eventfeed/loop.go
Due: go-test-short

Event feed file checkpoint store
  go/pkg/basecamp/eventfeed/filestore.go
  go/pkg/basecamp/eventfeed/filestore_test.go
Due: go-test-short

Event feed: order overflow dispatch before saves, and fix entry-cursor selection
  go/pkg/basecamp/eventfeed/catchup.go
  go/pkg/basecamp/eventfeed/catchup_test.go
  go/pkg/basecamp/eventfeed/checkpoint.go
  go/pkg/basecamp/eventfeed/connector.go
  go/pkg/basecamp/eventfeed/export_test.go
  go/pkg/basecamp/eventfeed/loop.go
  go/pkg/basecamp/eventfeed/loop_test.go
  go/pkg/basecamp/eventfeed/recovery.go
  go/pkg/basecamp/eventfeed/recovery_test.go
Due: go-test-short

Event feed: validate construction inputs and frame-derived text
  go/README.md
  go/pkg/basecamp/eventfeed/cable.go
  go/pkg/basecamp/eventfeed/cable_test.go
  go/pkg/basecamp/eventfeed/catchup.go
  go/pkg/basecamp/eventfeed/checkpoint.go
  go/pkg/basecamp/eventfeed/connector.go
  go/pkg/basecamp/eventfeed/connector_test.go
  go/pkg/basecamp/eventfeed/errors.go
  go/pkg/basecamp/eventfeed/filters.go
  go/pkg/basecamp/eventfeed/loop.go
  go/pkg/basecamp/eventfeed/loop_test.go
Due: go-test-short

Event feed tier-2 conformance driver
  go/pkg/basecamp/eventfeed/catchup.go
  go/pkg/basecamp/eventfeed/catchup_test.go
  go/pkg/basecamp/eventfeed/connector.go
  go/pkg/basecamp/eventfeed/export_test.go
  go/pkg/basecamp/eventfeed/loop.go
  go/pkg/basecamp/eventfeed/recovery.go
  go/pkg/basecamp/eventfeed/scenario_conformance_test.go
  go/pkg/basecamp/eventfeed/scenario_fixture_test.go
  go/pkg/basecamp/eventfeed/scenario_harness_test.go
  go/pkg/basecamp/eventfeed/scenario_selftest_test.go
Due: go-test-short

Event feed: verify the negotiated subprotocol and bound socket teardown
  go/pkg/basecamp/eventfeed/filestore.go
  go/pkg/basecamp/eventfeed/filestore_test.go
  go/pkg/basecamp/eventfeed/websocket_transport.go
  go/pkg/basecamp/eventfeed/websocket_transport_test.go
Due: go-test-short

Wake the state machine when the staleness window is re-armed
  go/pkg/basecamp/eventfeed/catchup.go
  go/pkg/basecamp/eventfeed/connector.go
  go/pkg/basecamp/eventfeed/export_test.go
  go/pkg/basecamp/eventfeed/loop.go
  go/pkg/basecamp/eventfeed/reconnect_test.go
Due: go-test-short

Event feed connector: reconnect, backoff, and staleness
  go/pkg/basecamp/eventfeed/catchup.go
  go/pkg/basecamp/eventfeed/connector.go
  go/pkg/basecamp/eventfeed/export_test.go
  go/pkg/basecamp/eventfeed/loop.go
  go/pkg/basecamp/eventfeed/loop_test.go
  go/pkg/basecamp/eventfeed/reconnect_test.go
Due: go-test-short

Event feed connector: mint, dial, and subscription lifecycle
  go/pkg/basecamp/eventfeed/connector.go
  go/pkg/basecamp/eventfeed/connector_test.go
  go/pkg/basecamp/eventfeed/export_test.go
  go/pkg/basecamp/eventfeed/feedtest/clock.go
  go/pkg/basecamp/eventfeed/feedtest/clock_test.go
  go/pkg/basecamp/eventfeed/feedtest/minter.go
  go/pkg/basecamp/eventfeed/feedtest/minter_test.go
  go/pkg/basecamp/eventfeed/feedtest/polls.go
  go/pkg/basecamp/eventfeed/feedtest/polls_test.go
  go/pkg/basecamp/eventfeed/loop.go
  go/pkg/basecamp/eventfeed/loop_test.go
Due: go-test-short

Event feed kernel: digest, backoff, dedupe, errors, and seams
  go/pkg/basecamp/eventfeed/backoff.go
  go/pkg/basecamp/eventfeed/backoff_test.go
  go/pkg/basecamp/eventfeed/checkpoint.go
  go/pkg/basecamp/eventfeed/clock.go
  go/pkg/basecamp/eventfeed/clock_test.go
  go/pkg/basecamp/eventfeed/dedupe.go
  go/pkg/basecamp/eventfeed/dedupe_test.go
  go/pkg/basecamp/eventfeed/digest.go
  go/pkg/basecamp/eventfeed/digest_test.go
  go/pkg/basecamp/eventfeed/doc.go
  go/pkg/basecamp/eventfeed/errors.go
  go/pkg/basecamp/eventfeed/errors_test.go
  go/pkg/basecamp/eventfeed/event.go
  go/pkg/basecamp/eventfeed/event_test.go
  go/pkg/basecamp/eventfeed/feedtest/clock.go
  go/pkg/basecamp/eventfeed/feedtest/clock_test.go
  go/pkg/basecamp/eventfeed/filters.go
  go/pkg/basecamp/eventfeed/filters_test.go
  go/pkg/basecamp/eventfeed/seams.go
Due: go-test-short

Event feed: fire chained timers and serialize checkpoint writes per path
  go/pkg/basecamp/eventfeed/feedtest/clock.go
  go/pkg/basecamp/eventfeed/feedtest/clock_test.go
  go/pkg/basecamp/eventfeed/filestore.go
  go/pkg/basecamp/eventfeed/filestore_test.go
  go/pkg/basecamp/eventfeed/scenario_conformance_test.go
Due: go-test-short

Event feed: dispatch overflow where it is observed
  go/pkg/basecamp/eventfeed/catchup.go
  go/pkg/basecamp/eventfeed/catchup_test.go
  go/pkg/basecamp/eventfeed/connector.go
  go/pkg/basecamp/eventfeed/export_test.go
  go/pkg/basecamp/eventfeed/loop.go
Due: go-test-short

Document the event feed connector
  AGENTS.md
  CONTRIBUTING.md
  go/README.md
Due: none

Event feed connector: catch-up, ownership cut, and checkpoint ordering
  go/pkg/basecamp/eventfeed/catchup.go
  go/pkg/basecamp/eventfeed/catchup_test.go
  go/pkg/basecamp/eventfeed/checkpoint.go
  go/pkg/basecamp/eventfeed/connector.go
  go/pkg/basecamp/eventfeed/connector_test.go
  go/pkg/basecamp/eventfeed/continuation.go
  go/pkg/basecamp/eventfeed/doc.go
  go/pkg/basecamp/eventfeed/feedtest/polls.go
  go/pkg/basecamp/eventfeed/feedtest/store.go
  go/pkg/basecamp/eventfeed/feedtest/transport.go
  go/pkg/basecamp/eventfeed/loop.go
  go/pkg/basecamp/eventfeed/loop_test.go
Due: go-test-short

Event feed connector: repair poll and the recovery matrix
  go/pkg/basecamp/eventfeed/catchup.go
  go/pkg/basecamp/eventfeed/catchup_test.go
  go/pkg/basecamp/eventfeed/doc.go
  go/pkg/basecamp/eventfeed/loop.go
  go/pkg/basecamp/eventfeed/recovery.go
  go/pkg/basecamp/eventfeed/recovery_test.go
Due: go-test-short

Annotate the checkpoint store's caller-configured path writes
  go/pkg/basecamp/eventfeed/filestore.go
Due: go-test-short

Event feed: flatten redacting errors and widen the fatal-frame scan
  go/pkg/basecamp/eventfeed/cable.go
  go/pkg/basecamp/eventfeed/cable_test.go
  go/pkg/basecamp/eventfeed/catchup.go
  go/pkg/basecamp/eventfeed/catchup_test.go
  go/pkg/basecamp/eventfeed/loop.go
  go/pkg/basecamp/eventfeed/loop_test.go
  go/pkg/basecamp/eventfeed/seams.go
  go/pkg/basecamp/eventfeed/transport.go
  go/pkg/basecamp/eventfeed/transport_test.go
Due: go-test-short

Event feed: bound the subscribe write, and gate three verdicts on their premises
  go/pkg/basecamp/eventfeed/buffer_test.go
  go/pkg/basecamp/eventfeed/cable.go
  go/pkg/basecamp/eventfeed/cable_test.go
  go/pkg/basecamp/eventfeed/connector.go
  go/pkg/basecamp/eventfeed/export_test.go
  go/pkg/basecamp/eventfeed/feedtest/transport.go
  go/pkg/basecamp/eventfeed/loop.go
  go/pkg/basecamp/eventfeed/loop_test.go
  go/pkg/basecamp/eventfeed/transport.go
  go/pkg/basecamp/eventfeed/transport_test.go
Due: go-test-short

Event feed: saturate the repair jitter before converting it back
  go/pkg/basecamp/eventfeed/backoff.go
  go/pkg/basecamp/eventfeed/backoff_test.go
Due: go-test-short

Event feed: cancel the run while Close's callers are still serialized
  go/pkg/basecamp/eventfeed/connector.go
  go/pkg/basecamp/eventfeed/connector_test.go
  go/pkg/basecamp/eventfeed/export_test.go
Due: go-test-short

Event feed: redact the ticket by value, not only by query string
  go/pkg/basecamp/eventfeed/transport_test.go
  go/pkg/basecamp/eventfeed/websocket_transport.go
Due: go-test-short

Event feed: read Stop's result on the confirmation deadline too
  go/pkg/basecamp/eventfeed/loop.go
  go/pkg/basecamp/eventfeed/loop_test.go
Due: go-test-short

Event feed: stop borrowing a bound the peer can suspend
  go/pkg/basecamp/eventfeed/catchup.go
  go/pkg/basecamp/eventfeed/catchup_test.go
Due: go-test-short

Event feed: redact every query value, whatever its length or spelling
  go/pkg/basecamp/eventfeed/transport_test.go
  go/pkg/basecamp/eventfeed/websocket_transport.go
Due: go-test-short

Event feed: stop redacting the ticket and stop rendering peer text
  go/pkg/basecamp/eventfeed/transport_test.go
  go/pkg/basecamp/eventfeed/websocket_transport.go
  go/pkg/basecamp/eventfeed/websocket_transport_test.go
Due: go-test-short

Event feed: a found-but-empty stored position is a load failure
  go/pkg/basecamp/eventfeed/checkpoint.go
  go/pkg/basecamp/eventfeed/connector_test.go
Due: go-test-short

Record why skipLibCheck does not reach the type assertions
  typescript/tests/types/paginated-returns.test-d.ts
  typescript/tsconfig.test.json
Due: typescript-lint, typescript-typecheck

Typecheck the tests and scripts, not just the shipped source
  typescript/README.md
  typescript/package.json
  typescript/scripts/generate-services.ts
  typescript/tests/auth-strategy.test.ts
  typescript/tests/client.test.ts
  typescript/tests/hooks.test.ts
  typescript/tests/integration.test.ts
  typescript/tests/middleware-lifecycle.test.ts
  typescript/tests/security.test.ts
  typescript/tests/services/boosts.test.ts
  typescript/tests/services/cards.test.ts
  typescript/tests/services/client-visibility.test.ts
  typescript/tests/services/comments.test.ts
  typescript/tests/services/documents.test.ts
  typescript/tests/services/gauges.test.ts
  typescript/tests/services/hill-charts.test.ts
  typescript/tests/services/messages.test.ts
  typescript/tests/services/my-notifications.test.ts
  typescript/tests/services/recordings.test.ts
  typescript/tests/services/schedules.test.ts
  typescript/tests/services/search.test.ts
  typescript/tests/services/subscriptions.test.ts
  typescript/tests/services/todolists.test.ts
  typescript/tests/services/todos.test.ts
  typescript/tests/services/tools.test.ts
  typescript/tests/services/uploads.test.ts
  typescript/tests/services/vaults.test.ts
  typescript/tsconfig.test.json
Due: typescript-lint, typescript-typecheck

Cover the wrapped alias-miss the type assertions structurally cannot reach
  typescript/scripts/generate-services.ts
  typescript/tests/generator/pagination-return-type.test.ts
Due: typescript-lint, typescript-typecheck

Keep the ListResult wrapper when a paginated entity has no alias
  typescript/scripts/generate-services.ts
  typescript/src/generated/services/checkins.ts
  typescript/src/generated/services/gauges.ts
  typescript/src/generated/services/search.ts
  typescript/tests/services/gauges.test.ts
  typescript/tests/types/paginated-returns.test-d.ts
Due: typescript-lint, typescript-typecheck

Stop the import guard from missing a real plain import
  swift/Tests/BasecampTests/PublicInitCoverageTests.swift
Due: none

Give every generated Swift model a public init, and build a consumer that would have caught it
  swift/Package.swift
  swift/Sources/Basecamp/Generated/Models/AccountLimits.swift
  swift/Sources/Basecamp/Generated/Models/AccountLogo.swift
  swift/Sources/Basecamp/Generated/Models/AccountSettings.swift
  swift/Sources/Basecamp/Generated/Models/AccountSubscription.swift
  swift/Sources/Basecamp/Generated/Models/CampfireLineAttachment.swift
  swift/Sources/Basecamp/Generated/Models/ClientApprovalResponse.swift
  swift/Sources/Basecamp/Generated/Models/ClientSide.swift
  swift/Sources/Basecamp/Generated/Models/CreateAttachmentResponseContent.swift
  swift/Sources/Basecamp/Generated/Models/DoorService.swift
  swift/Sources/Basecamp/Generated/Models/EventDetails.swift
  swift/Sources/Basecamp/Generated/Models/EverythingFile.swift
  swift/Sources/Basecamp/Generated/Models/GaugeNeedleUpdatePayload.swift
  swift/Sources/Basecamp/Generated/Models/GetAssignedTodosResponseContent.swift
  swift/Sources/Basecamp/Generated/Models/GetMyAssignmentsResponseContent.swift
  swift/Sources/Basecamp/Generated/Models/GetOverdueTodosResponseContent.swift
  swift/Sources/Basecamp/Generated/Models/GetPersonProgressResponseContent.swift
  swift/Sources/Basecamp/Generated/Models/OutOfOffice.swift
  swift/Sources/Basecamp/Generated/Models/PauseQuestionResponseContent.swift
  swift/Sources/Basecamp/Generated/Models/Preferences.swift
  swift/Sources/Basecamp/Generated/Models/PreferencesPayload.swift
  swift/Sources/Basecamp/Generated/Models/PreviewableAttachment.swift
  swift/Sources/Basecamp/Generated/Models/ProjectAccessResult.swift
  swift/Sources/Basecamp/Generated/Models/QuestionReminder.swift
  swift/Sources/Basecamp/Generated/Models/QuestionSchedule.swift
  swift/Sources/Basecamp/Generated/Models/ResumeQuestionResponseContent.swift
  swift/Sources/Basecamp/Generated/Models/ScheduleAttributes.swift
  swift/Sources/Basecamp/Generated/Models/TimelineAttachment.swift
  swift/Sources/Basecamp/Generated/Models/TimelineEvent.swift
  swift/Sources/Basecamp/Generated/Models/UpdateQuestionNotificationSettingsResponseContent.swift
  swift/Sources/Basecamp/Generated/Models/WebhookCopy.swift
  swift/Sources/Basecamp/Generated/Models/WebhookCopyBucket.swift
  swift/Sources/Basecamp/Generated/Models/WebhookDelivery.swift
  swift/Sources/Basecamp/Generated/Models/WebhookDeliveryRequest.swift
  swift/Sources/Basecamp/Generated/Models/WebhookDeliveryResponse.swift
  swift/Sources/Basecamp/Generated/Models/WebhookEvent.swift
  swift/Sources/BasecampGenerator/ModelEmitter.swift
  swift/Sources/BasecampPublicAPIConsumer/PublicAPIConsumer.swift
  swift/Tests/BasecampTests/PublicInitCoverageTests.swift
Due: none

Cover the non-schema-property branch, and drop two counts from the prose
  swift/Sources/BasecampPublicAPIConsumer/PublicAPIConsumer.swift
  swift/Tests/BasecampTests/PublicInitCoverageTests.swift
Due: none

Carry the narrowed invariant into the emitter's own comment
  swift/Sources/BasecampGenerator/ModelEmitter.swift
Due: none
