Repository basecamp/basecamp-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-test-short, typescript-lint, typescript-typecheck

go-test-short:
  name: go test -short
  entry: bash -c 'cd go && go test -short ./...'
  language: system
  pass_filenames: false
  stages:
  - push

typescript-lint:
  name: typescript lint
  entry: bash -c 'cd typescript && npm run lint --if-present'
  language: system
  pass_filenames: false
  stages:
  - commit

typescript-typecheck:
  name: typescript typecheck
  entry: bash -c 'cd typescript && npm run typecheck --if-present'
  language: system
  pass_filenames: false
  stages:
  - push

docs: codify provenance pin semantics; refresh coordination note
  AGENTS.md
  COORDINATION.md
Due: none

go: propagate back_on_date on the OutOfOffice wrapper
  go/pkg/basecamp/people.go
Due: go-test-short

spec: keep GetUpcomingSchedule doc summary on one line
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/reports.kt
  openapi.json
  ruby/lib/basecamp/generated/services/reports_service.rb
  spec/basecamp.smithy
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/schema.d.ts
  typescript/src/generated/services/reports.ts
Due: typescript-lint, typescript-typecheck

test: cover back_on_date flow-through for out-of-office
  go/pkg/basecamp/people_test.go
  ruby/test/basecamp/services/people_service_test.rb
  spec/fixtures/people/out-of-office.json
  typescript/tests/services/people.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

test: appease Rails/RefuteMethods — assert_not over refute
  ruby/test/basecamp/services/people_service_test.rb
Due: none

test: assert the full disabled-state shape for out-of-office
  go/pkg/basecamp/people_test.go
  ruby/test/basecamp/services/people_service_test.rb
  typescript/tests/services/people.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

spec: model avatar_url on OutOfOfficePerson
  go/pkg/basecamp/people.go
  go/pkg/basecamp/people_test.go
  go/pkg/generated/client.gen.go
  openapi.json
  python/src/basecamp/generated/types.py
  ruby/lib/basecamp/generated/types.rb
  ruby/test/basecamp/services/people_service_test.rb
  spec/basecamp.smithy
  swift/Sources/Basecamp/Generated/Models/OutOfOfficePerson.swift
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/schema.d.ts
  typescript/tests/services/people.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

spec: use the sensitive AvatarUrl shape for OutOfOfficePerson
  behavior-model.json
  openapi.json
  spec/basecamp.smithy
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/schema.d.ts
Due: typescript-lint, typescript-typecheck

test: assert ongoing in the enabled out-of-office cases too
  ruby/test/basecamp/services/people_service_test.rb
  typescript/tests/services/people.test.ts
Due: typescript-lint, typescript-typecheck

Upstream sync: repin provenance to bc3 ba105ba7 (2026-07-22), register post-train contracts, codify pin semantics (#390)
  AGENTS.md
  COORDINATION.md
  behavior-model.json
  go/pkg/basecamp/api-provenance.json
  go/pkg/basecamp/people.go
  go/pkg/basecamp/people_test.go
  go/pkg/basecamp/version.go
  go/pkg/generated/client.gen.go
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/BasecampConfig.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/reports.kt
  openapi.json
  python/src/basecamp/_version.py
  python/src/basecamp/generated/types.py
  ruby/lib/basecamp/generated/services/reports_service.rb
  ruby/lib/basecamp/generated/types.rb
  ruby/lib/basecamp/version.rb
  ruby/test/basecamp/services/people_service_test.rb
  spec/api-gaps/README.md
  spec/api-gaps/campfire-line-edit.md
  spec/api-gaps/schedule-recurrence-writes.md
  spec/api-gaps/search-filter-additions.md
  spec/api-gaps/todoset-direct-todo-create.md
  spec/api-provenance.json
  spec/basecamp.smithy
  spec/fixtures/people/out-of-office.json
  swift/Sources/Basecamp/BasecampConfig.swift
  swift/Sources/Basecamp/Generated/Models/OutOfOffice.swift
  swift/Sources/Basecamp/Generated/Models/OutOfOfficePerson.swift
  typescript/src/client.ts
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/schema.d.ts
  typescript/src/generated/services/reports.ts
  typescript/tests/services/people.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

feat(campfires): add UpdateCampfireLine operation
  AGENTS.md
  behavior-model.json
  go/README.md
  go/pkg/basecamp/campfires.go
  go/pkg/basecamp/campfires_test.go
  go/pkg/basecamp/url-routes.json
  go/pkg/generated/client.gen.go
  kotlin/generator/src/main/kotlin/com/basecamp/sdk/generator/Config.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/Metadata.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/Types.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/campfires.kt
  openapi.json
  python/scripts/generate_services.py
  python/src/basecamp/generated/metadata.json
  python/src/basecamp/generated/services/campfires.py
  python/src/basecamp/generated/types.py
  ruby/lib/basecamp/generated/metadata.json
  ruby/lib/basecamp/generated/services/campfires_service.rb
  ruby/lib/basecamp/generated/types.rb
  ruby/scripts/generate-services.rb
  ruby/test/basecamp/services/campfires_service_test.rb
  spec/basecamp.smithy
  spec/overlays/tags.smithy
  swift/Sources/Basecamp/Generated/Metadata.swift
  swift/Sources/Basecamp/Generated/Models/UpdateCampfireLineRequest.swift
  swift/Sources/Basecamp/Generated/Services/CampfiresService.swift
  swift/Sources/BasecampGenerator/MethodNaming.swift
  swift/Sources/BasecampGenerator/ServiceGrouper.swift
  typescript/README.md
  typescript/scripts/generate-services.ts
  typescript/src/generated/metadata.ts
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/path-mapping.ts
  typescript/src/generated/schema.d.ts
  typescript/src/generated/services/campfires.ts
  typescript/tests/services/campfires.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

docs: refresh SPEC.md operation counts (181 -> 204)
  SPEC.md
Due: none

spec(campfires): absorb campfire-line-edit gap; document delete permissions
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/campfires.kt
  openapi.json
  ruby/lib/basecamp/generated/metadata.json
  ruby/lib/basecamp/generated/services/campfires_service.rb
  ruby/lib/basecamp/generated/types.rb
  spec/api-gaps/README.md
  spec/api-gaps/campfire-line-edit.md
  spec/basecamp.smithy
  typescript/src/generated/metadata.ts
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/schema.d.ts
  typescript/src/generated/services/campfires.ts
Due: typescript-lint, typescript-typecheck

test(py): cover campfire line operations
  python/tests/services/test_campfires_service.py
Due: none

fix(campfires): align UpdateCampfireLine with server semantics
  go/pkg/basecamp/campfires.go
  go/pkg/basecamp/campfires_test.go
  go/pkg/generated/client.gen.go
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/Types.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/campfires.kt
  openapi.json
  python/src/basecamp/generated/services/campfires.py
  python/src/basecamp/generated/types.py
  ruby/lib/basecamp/generated/metadata.json
  ruby/lib/basecamp/generated/services/campfires_service.rb
  ruby/lib/basecamp/generated/types.rb
  ruby/test/basecamp/services/campfires_service_test.rb
  spec/basecamp.smithy
  swift/Sources/Basecamp/Generated/Models/UpdateCampfireLineRequest.swift
  typescript/src/generated/metadata.ts
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/schema.d.ts
  typescript/src/generated/services/campfires.ts
  typescript/tests/services/campfires.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

test(swift): cover campfire line operations
  swift/Tests/BasecampTests/GeneratedServiceTests.swift
Due: none

test(kt): cover campfire line operations
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/CampfiresServiceTest.kt
Due: none

Record dock tool create contract change in api-gaps registry
  COORDINATION.md
  spec/api-gaps/README.md
  spec/api-gaps/dock-tool-create-contract.md
Due: none

Record dock tool create contract change in api-gaps registry (#389)
  COORDINATION.md
  spec/api-gaps/README.md
  spec/api-gaps/dock-tool-create-contract.md
Due: none

ci: re-enable java-kotlin CodeQL analysis (buildless)
  .github/workflows/codeql.yml
Due: none

Record upload new-version API gap; guard upload update contract
  API-GAP-404.md
  go/pkg/basecamp/vaults_test.go
  spec/api-gaps/README.md
  spec/api-gaps/upload-new-version.md
Due: go-test-short

Fix message types to be bucket-scoped across all SDKs
  go/pkg/basecamp/message_types.go
  go/pkg/basecamp/url-routes.json
  go/pkg/generated/client.gen.go
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/message-types.kt
  openapi.json
  python/src/basecamp/generated/services/message_types.py
  python/tests/services/test_message_types_service.py
  ruby/lib/basecamp/generated/metadata.json
  ruby/lib/basecamp/generated/services/message_types_service.rb
  ruby/lib/basecamp/generated/types.rb
  ruby/test/basecamp/services/message_types_service_test.rb
  spec/basecamp.smithy
  swift/Sources/Basecamp/Generated/Services/MessageTypesService.swift
  typescript/src/generated/metadata.ts
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/path-mapping.ts
  typescript/src/generated/schema.d.ts
  typescript/src/generated/services/index.ts
  typescript/src/generated/services/message-types.ts
  typescript/tests/services/message-types.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Address review: reflection guard, status wording, frontmatter
  API-GAP-404.md
  go/pkg/basecamp/vaults_test.go
  spec/api-gaps/upload-new-version.md
Due: go-test-short

Address re-review: assert update path; fix stale test name
  go/pkg/basecamp/vaults_test.go
  spec/api-gaps/upload-new-version.md
Due: go-test-short

Retire pairwise BC4↔BC5 canary; keep single-backend BC5 live canary
  .github/workflows/live-canary.yml
  CONTRIBUTING.md
  COORDINATION.md
  Makefile
  conformance/tests/live-my-surface.json
  scripts/compare-canary-runs.sh
  scripts/test-compare-canary-runs.sh
  spec/api-gaps/memories-emptied-regression.md
Due: none

Address PR review: use bc5 backend label; clarify env-gating wording
  .github/workflows/live-canary.yml
  CONTRIBUTING.md
  Makefile
Due: none

Address PR review: reject retired pairwiseAssertions; clarify BASECAMP_HOST
  CONTRIBUTING.md
  conformance/schema.json
Due: none

Assert Authorization header on documented update path
  go/pkg/basecamp/vaults_test.go
Due: go-test-short

Clarify update route comment as PUT /uploads/{id}(.json)
  go/pkg/basecamp/vaults_test.go
Due: go-test-short

Assert update wire body carries only documented fields
  go/pkg/basecamp/vaults_test.go
Due: go-test-short

Model project-construction envelope in spec; fix object-body generators
  openapi.json
  ruby/scripts/generate-services.rb
  spec/basecamp.smithy
  typescript/scripts/generate-services.ts
  typescript/tests/generator/example-value.test.ts
Due: typescript-lint, typescript-typecheck

Go: nest project construction body under `project` envelope
  go/pkg/basecamp/templates.go
  go/pkg/basecamp/templates_test.go
  go/pkg/generated/client.gen.go
Due: go-test-short

TypeScript: nest project construction body under `project` envelope
  typescript/src/generated/metadata.ts
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/schema.d.ts
  typescript/src/generated/services/checkins.ts
  typescript/src/generated/services/gauges.ts
  typescript/src/generated/services/people.ts
  typescript/src/generated/services/templates.ts
  typescript/tests/services/templates.test.ts
Due: typescript-lint, typescript-typecheck

Ruby: nest project construction body under `project` envelope
  ruby/lib/basecamp/generated/metadata.json
  ruby/lib/basecamp/generated/services/checkins_service.rb
  ruby/lib/basecamp/generated/services/gauges_service.rb
  ruby/lib/basecamp/generated/services/people_service.rb
  ruby/lib/basecamp/generated/services/projects_service.rb
  ruby/lib/basecamp/generated/services/templates_service.rb
  ruby/lib/basecamp/generated/types.rb
  ruby/test/basecamp/services/templates_service_test.rb
Due: none

Python: nest project construction body under `project` envelope
  python/src/basecamp/generated/services/templates.py
  python/src/basecamp/generated/types.py
  python/tests/services/test_templates_service.py
Due: none

Kotlin: nest project construction body under `project` envelope
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/Types.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/templates.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/TemplatesServiceTest.kt
Due: none

Swift: nest project construction body under `project` envelope
  swift/Sources/Basecamp/Generated/Models/CreateProjectFromTemplateRequest.swift
  swift/Sources/Basecamp/Generated/Models/ProjectConstructionAttributes.swift
  swift/Tests/BasecampTests/GeneratedServiceTests.swift
Due: none

Guard update request against a bare File field
  go/pkg/basecamp/vaults_test.go
Due: go-test-short

Path conditions:
  go-test-short: any of: \.go$
  typescript-lint: any of: ^typescript/.*\.(ts|tsx)$
  typescript-typecheck: any of: ^typescript/.*\.(ts|tsx)$
