Repository basecamp/basecamp-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-test-short, typescript-lint, typescript-typecheck

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
      - id: detect-private-key
      - id: check-case-conflict

  - repo: https://github.com/golangci/golangci-lint
    rev: v1.62.2
    hooks:
      - id: golangci-lint
        args: [--timeout=5m, --config=go/.golangci.yml]
        files: ^go/

  - repo: https://github.com/tekwizely/pre-commit-golang
    rev: v1.0.0-rc.1
    hooks:
      - id: go-fmt
        files: ^go/
      - id: go-vet
        files: ^go/
      - id: go-mod-tidy
        files: ^go/

  - repo: local
    hooks:
      - id: go-test-short
        name: go test -short
        entry: bash -c 'cd go && go test -short ./...'
        language: system
        pass_filenames: false
        types: [go]
        stages: [push]

      - id: typescript-lint
        name: typescript lint
        entry: bash -c 'cd typescript && npm run lint --if-present'
        language: system
        pass_filenames: false
        files: ^typescript/.*\.(ts|tsx)$
        stages: [commit]

      - id: typescript-typecheck
        name: typescript typecheck
        entry: bash -c 'cd typescript && npm run typecheck --if-present'
        language: system
        pass_filenames: false
        files: ^typescript/.*\.(ts|tsx)$
        stages: [push]

Release: bump SDKs to 0.9.0
  conformance/runner/typescript/package-lock.json
  go/pkg/basecamp/version.go
  kotlin/sdk/build.gradle.kts
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/BasecampConfig.kt
  package.json
  python/pyproject.toml
  python/src/basecamp/_version.py
  python/uv.lock
  ruby/Gemfile.lock
  ruby/lib/basecamp/version.rb
  swift/Sources/Basecamp/BasecampConfig.swift
  typescript/package-lock.json
  typescript/package.json
  typescript/src/client.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Release: bump SDKs to 0.9.0 (#447)
  conformance/runner/typescript/package-lock.json
  go/pkg/basecamp/version.go
  kotlin/sdk/build.gradle.kts
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/BasecampConfig.kt
  package.json
  python/pyproject.toml
  python/src/basecamp/_version.py
  python/uv.lock
  ruby/Gemfile.lock
  ruby/lib/basecamp/version.rb
  swift/Sources/Basecamp/BasecampConfig.swift
  typescript/package-lock.json
  typescript/package.json
  typescript/src/client.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Sync bc3 provenance to 640389c2 (2026-07-25); register My Bookmarks gap
  go/pkg/basecamp/api-provenance.json
  go/pkg/basecamp/version.go
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/BasecampConfig.kt
  openapi.json
  python/src/basecamp/_version.py
  ruby/lib/basecamp/generated/metadata.json
  ruby/lib/basecamp/generated/types.rb
  ruby/lib/basecamp/version.rb
  spec/api-gaps/README.md
  spec/api-gaps/dock-tool-create-contract.md
  spec/api-gaps/my-bookmarks.md
  spec/api-gaps/schedule-recurrence-writes.md
  spec/api-provenance.json
  spec/basecamp.smithy
  swift/Sources/Basecamp/BasecampConfig.swift
  typescript/src/client.ts
  typescript/src/generated/metadata.ts
  typescript/src/generated/openapi-stripped.json
Due: go-test-short, typescript-lint, typescript-typecheck

Add my-bookmarks row to the api-gaps Entries table
  spec/api-gaps/README.md
Due: none

Repin bc3 provenance to c3086931; register My Drafts + My Tasks priority gaps
  go/pkg/basecamp/api-provenance.json
  go/pkg/basecamp/version.go
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/BasecampConfig.kt
  openapi.json
  python/src/basecamp/_version.py
  ruby/lib/basecamp/generated/metadata.json
  ruby/lib/basecamp/generated/types.rb
  ruby/lib/basecamp/version.rb
  spec/api-gaps/README.md
  spec/api-gaps/my-assignments-priorities.md
  spec/api-gaps/my-drafts.md
  spec/api-provenance.json
  spec/basecamp.smithy
  swift/Sources/Basecamp/BasecampConfig.swift
  typescript/src/client.ts
  typescript/src/generated/metadata.ts
  typescript/src/generated/openapi-stripped.json
Due: go-test-short, typescript-lint, typescript-typecheck

Freshness gates: regenerate-and-diff for TS, Ruby, and Go generated output
  .github/workflows/test.yml
  Makefile
  scripts/check-go-generated-drift.sh
  scripts/check-ruby-service-drift.sh
  scripts/check-typescript-service-drift.sh
Due: none

Fix message types to be bucket-scoped across all SDKs
  go/pkg/basecamp/message_types.go
  go/pkg/basecamp/message_types_test.go
  go/pkg/basecamp/operation_scope_test.go
  go/pkg/basecamp/url-routes.json
  go/pkg/generated/client.gen.go
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/message-types.kt
  openapi.json
  python/src/basecamp/generated/services/message_types.py
  python/tests/services/test_message_types_service.py
  ruby/lib/basecamp/generated/metadata.json
  ruby/lib/basecamp/generated/services/message_types_service.rb
  ruby/test/basecamp/services/message_types_service_test.rb
  spec/basecamp.smithy
  spec/bucket-scoped-allowlist.txt
  swift/Sources/Basecamp/Generated/Services/MessageTypesService.swift
  typescript/src/client.ts
  typescript/src/generated/metadata.ts
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/path-mapping.ts
  typescript/src/generated/schema.d.ts
  typescript/src/generated/services/index.ts
  typescript/src/generated/services/message-types.ts
  typescript/tests/client.test.ts
  typescript/tests/services/message-types.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Sync bc3 provenance ca1d34bc → 640389c2 (2026-07-25); register My Bookmarks gap (#416)
  go/pkg/basecamp/api-provenance.json
  go/pkg/basecamp/version.go
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/BasecampConfig.kt
  openapi.json
  python/src/basecamp/_version.py
  ruby/lib/basecamp/generated/metadata.json
  ruby/lib/basecamp/generated/types.rb
  ruby/lib/basecamp/version.rb
  spec/api-gaps/README.md
  spec/api-gaps/dock-tool-create-contract.md
  spec/api-gaps/my-assignments-priorities.md
  spec/api-gaps/my-bookmarks.md
  spec/api-gaps/my-drafts.md
  spec/api-gaps/schedule-recurrence-writes.md
  spec/api-provenance.json
  spec/basecamp.smithy
  swift/Sources/Basecamp/BasecampConfig.swift
  typescript/src/client.ts
  typescript/src/generated/metadata.ts
  typescript/src/generated/openapi-stripped.json
Due: go-test-short, typescript-lint, typescript-typecheck

Correct dock-tool-visible-to-clients narrative to match absorbed-in-sdk status
  spec/api-gaps/dock-tool-visible-to-clients.md
Due: none

Add create-time visible_to_clients to CreateTool (bc3 #12386)
  go/pkg/basecamp/tools.go
  go/pkg/basecamp/tools_test.go
  go/pkg/generated/client.gen.go
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/Types.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/tools.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/ToolsServiceTest.kt
  openapi.json
  python/src/basecamp/generated/services/tools.py
  python/src/basecamp/generated/types.py
  python/tests/services/test_tools.py
  ruby/lib/basecamp/generated/metadata.json
  ruby/lib/basecamp/generated/services/tools_service.rb
  ruby/lib/basecamp/generated/types.rb
  ruby/test/basecamp/services/tools_service_test.rb
  spec/api-gaps/README.md
  spec/api-gaps/dock-tool-visible-to-clients.md
  spec/basecamp.smithy
  swift/Sources/Basecamp/Generated/Models/CreateToolRequest.swift
  swift/Tests/BasecampTests/GeneratedServiceTests.swift
  typescript/src/generated/metadata.ts
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/schema.d.ts
  typescript/src/generated/services/tools.ts
  typescript/tests/services/tools.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Ruby drift gate: snapshot the whole services/ tree, not just *.rb
  scripts/check-ruby-service-drift.sh
Due: none

Add create-time visible_to_clients to CreateTool (bc3 #12386) (#419)
  go/pkg/basecamp/tools.go
  go/pkg/basecamp/tools_test.go
  go/pkg/generated/client.gen.go
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/Types.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/tools.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/ToolsServiceTest.kt
  openapi.json
  python/src/basecamp/generated/services/tools.py
  python/src/basecamp/generated/types.py
  python/tests/services/test_tools.py
  ruby/lib/basecamp/generated/metadata.json
  ruby/lib/basecamp/generated/services/tools_service.rb
  ruby/lib/basecamp/generated/types.rb
  ruby/test/basecamp/services/tools_service_test.rb
  spec/api-gaps/README.md
  spec/api-gaps/dock-tool-visible-to-clients.md
  spec/basecamp.smithy
  swift/Sources/Basecamp/Generated/Models/CreateToolRequest.swift
  swift/Tests/BasecampTests/GeneratedServiceTests.swift
  typescript/src/generated/metadata.ts
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/schema.d.ts
  typescript/src/generated/services/tools.ts
  typescript/tests/services/tools.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Encode nullable timeline bounds as a type union so Kotlin/Swift accept null
  go/pkg/basecamp/timeline_test.go
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/models/TimelineEventData.kt
  openapi.json
  python/src/basecamp/generated/types.py
  ruby/lib/basecamp/generated/metadata.json
  ruby/lib/basecamp/generated/types.rb
  scripts/enhance-openapi-go-types.sh
  swift/Sources/Basecamp/Generated/Models/TimelineEventData.swift
  swift/Tests/BasecampTests/GeneratedServiceTests.swift
  typescript/src/generated/metadata.ts
  typescript/src/generated/openapi-stripped.json
Due: go-test-short, typescript-lint, typescript-typecheck

Model the full Upload projection on TimelineAttachment; require schedule data members
  go/pkg/basecamp/timeline.go
  go/pkg/basecamp/timeline_test.go
  go/pkg/generated/client.gen.go
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/models/TimelineAttachment.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/models/TimelineEventData.kt
  openapi.json
  python/src/basecamp/generated/types.py
  ruby/lib/basecamp/generated/metadata.json
  ruby/lib/basecamp/generated/types.rb
  scripts/enhance-openapi-go-types.sh
  spec/basecamp.smithy
  spec/fixtures/manifest.yaml
  swift/Sources/Basecamp/Generated/Models/TimelineAttachment.swift
  swift/Sources/Basecamp/Generated/Models/TimelineEventData.swift
  typescript/src/generated/metadata.ts
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/schema.d.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Absorb additive activity-timeline event fields (bc3 #11629)
  conformance/tests/live-my-surface.json
  go/pkg/basecamp/timeline.go
  go/pkg/basecamp/timeline_test.go
  go/pkg/generated/client.gen.go
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/models/TimelineAttachment.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/models/TimelineEvent.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/models/TimelineEventData.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/TimelineDecodeTest.kt
  openapi.json
  python/src/basecamp/generated/types.py
  python/tests/services/test_timeline.py
  ruby/lib/basecamp/generated/metadata.json
  ruby/lib/basecamp/generated/types.rb
  ruby/test/basecamp/services/timeline_service_test.rb
  scripts/enhance-openapi-go-types.sh
  spec/api-gaps/README.md
  spec/api-gaps/activity-timeline.md
  spec/basecamp.smithy
  swift/Sources/Basecamp/Generated/Models/TimelineAttachment.swift
  swift/Sources/Basecamp/Generated/Models/TimelineEvent.swift
  swift/Sources/Basecamp/Generated/Models/TimelineEventData.swift
  swift/Tests/BasecampTests/GeneratedServiceTests.swift
  typescript/src/generated/metadata.ts
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/schema.d.ts
  typescript/tests/services/timeline.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Timeline: required-nullable schedule timing + present-empty description attachments
  go/pkg/basecamp/timeline.go
  go/pkg/basecamp/timeline_test.go
  openapi.json
  python/src/basecamp/generated/types.py
  ruby/lib/basecamp/generated/metadata.json
  ruby/lib/basecamp/generated/types.rb
  scripts/enhance-openapi-go-types.sh
  typescript/src/generated/metadata.ts
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/schema.d.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Go drift gate: separate log file per generation phase
  scripts/check-go-generated-drift.sh
Due: none

Complete the GetBubbleUps doc first line
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/models/Notification.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/my-notifications.kt
  openapi.json
  ruby/lib/basecamp/generated/metadata.json
  ruby/lib/basecamp/generated/services/my_notifications_service.rb
  ruby/lib/basecamp/generated/types.rb
  spec/basecamp.smithy
  typescript/src/generated/metadata.ts
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/schema.d.ts
  typescript/src/generated/services/my-notifications.ts
Due: typescript-lint, typescript-typecheck

Bump documented op count to 209 and tag BubbleUps as bubble_up surface
  AGENTS.md
  SPEC.md
  go/pkg/basecamp/my_notifications.go
Due: go-test-short

Make idempotency-parity labels and comments count-agnostic at the source
  scripts/check-idempotency-parity
Due: none

Bump idempotency-parity union count to 170 for GetBubbleUps
  scripts/check-idempotency-parity
Due: none

Register GetBubbleUps live dispatch; assert bubbleUps pagination metadata
  conformance/runner/typescript/live-dispatch.ts
  typescript/tests/services/my-notifications.test.ts
Due: typescript-lint, typescript-typecheck

Regenerate Kotlin models for nullable optional scalars (drift fix)
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/models/Notification.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/models/PreviewableAttachment.kt
Due: none

Rename idempotency-parity temp file union169 → unionSet
  scripts/check-idempotency-parity
Due: none

Fix non-idempotent operation count to 140 in SPEC.md
  SPEC.md
Due: none

Absorb the Bubble Ups successor surface (bc3 #11628)
  behavior-model.json
  conformance/runner/typescript/schema-validator.test.ts
  conformance/tests/live-my-surface.json
  go/pkg/basecamp/my_notifications.go
  go/pkg/basecamp/my_notifications_test.go
  go/pkg/basecamp/url-routes.json
  go/pkg/generated/client.gen.go
  kotlin/generator/src/main/kotlin/com/basecamp/sdk/generator/Config.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/Metadata.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/models/Notification.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/models/PreviewableAttachment.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/Types.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/my-notifications.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/BubbleUpsDecodeTest.kt
  openapi.json
  python/src/basecamp/generated/metadata.json
  python/src/basecamp/generated/services/my_notifications.py
  python/src/basecamp/generated/types.py
  python/tests/services/test_my_notifications.py
  ruby/lib/basecamp/generated/metadata.json
  ruby/lib/basecamp/generated/services/my_notifications_service.rb
  ruby/lib/basecamp/generated/types.rb
  ruby/test/basecamp/services/my_notifications_service_test.rb
  spec/api-gaps/README.md
  spec/api-gaps/bubble-ups-surface.md
  spec/basecamp.smithy
  spec/overlays/tags.smithy
  swift/Sources/Basecamp/Generated/Metadata.swift
  swift/Sources/Basecamp/Generated/Models/GetMyNotificationsResponseContent.swift
  swift/Sources/Basecamp/Generated/Services/MyNotificationsService.swift
  swift/Tests/BasecampTests/GeneratedServiceTests.swift
  typescript/scripts/generate-services.ts
  typescript/src/generated/metadata.ts
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/path-mapping.ts
  typescript/src/generated/schema.d.ts
  typescript/src/generated/services/my-notifications.ts
  typescript/tests/services/my-notifications.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Add Bubble Ups error-path tests across TS/Ruby/Python
  python/tests/services/test_my_notifications.py
  ruby/test/basecamp/services/my_notifications_service_test.rb
  typescript/tests/services/my-notifications.test.ts
Due: typescript-lint, typescript-typecheck

Move testBubbleUpsDecodesNotifications into the GeneratedServiceTests XCTestCase
  swift/Tests/BasecampTests/GeneratedServiceTests.swift
Due: none

Add required bubble-up counts to existing notifications stubs
  go/pkg/basecamp/my_notifications_test.go
  python/tests/services/test_notifications.py
  typescript/tests/services/my-notifications.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Regenerate for nullable timeline bounds (type union) from #424
  ruby/lib/basecamp/generated/types.rb
Due: none

Regenerate Ruby types after rebase onto timeline nullable-timing changes
  ruby/lib/basecamp/generated/types.rb
Due: none

Bubble Ups: keep Get source-compatible, valid fixtures, honest single-page Truncated
  go/pkg/basecamp/my_notifications.go
  go/pkg/basecamp/my_notifications_test.go
Due: go-test-short

Add required bubble-up counts to the remaining /my/readings.json test stubs
  go/pkg/basecamp/my_notifications_test.go
Due: go-test-short

Drift gates: guard missing artifacts (Ruby) and assert output redirect (Go)
  scripts/check-go-generated-drift.sh
  scripts/check-ruby-service-drift.sh
Due: none

Drive Door decode through the SDK pipeline; cap the Door canary pagination
  conformance/runner/typescript/live-dispatch.ts
  go/pkg/basecamp/recordings_test.go
Due: go-test-short

Absorb the external-links (doors) list surface; defer create/image/composite (bc3 #12375)
  conformance/runner/typescript/live-dispatch.ts
  conformance/tests/live-my-surface.json
  go/pkg/basecamp/recordings.go
  go/pkg/basecamp/recordings_test.go
  go/pkg/generated/client.gen.go
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/models/DoorService.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/models/Recording.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/recordings.kt
  openapi.json
  python/src/basecamp/generated/types.py
  ruby/lib/basecamp/generated/metadata.json
  ruby/lib/basecamp/generated/services/recordings_service.rb
  ruby/lib/basecamp/generated/types.rb
  spec/api-gaps/README.md
  spec/api-gaps/external-links-doors.md
  spec/basecamp.smithy
  swift/Sources/Basecamp/Generated/Models/DoorService.swift
  swift/Sources/Basecamp/Generated/Models/Recording.swift
  typescript/src/generated/metadata.ts
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/schema.d.ts
  typescript/src/generated/services/recordings.ts
Due: go-test-short, typescript-lint, typescript-typecheck
