Repository basecamp/basecamp-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-test-short, typescript-lint, typescript-typecheck

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
      - id: detect-private-key
      - id: check-case-conflict

  - repo: https://github.com/golangci/golangci-lint
    rev: v1.62.2
    hooks:
      - id: golangci-lint
        args: [--timeout=5m, --config=go/.golangci.yml]
        files: ^go/

  - repo: https://github.com/tekwizely/pre-commit-golang
    rev: v1.0.0-rc.1
    hooks:
      - id: go-fmt
        files: ^go/
      - id: go-vet
        files: ^go/
      - id: go-mod-tidy
        files: ^go/

  - repo: local
    hooks:
      - id: go-test-short
        name: go test -short
        entry: bash -c 'cd go && go test -short ./...'
        language: system
        pass_filenames: false
        types: [go]
        stages: [push]

      - id: typescript-lint
        name: typescript lint
        entry: bash -c 'cd typescript && npm run lint --if-present'
        language: system
        pass_filenames: false
        files: ^typescript/.*\.(ts|tsx)$
        stages: [commit]

      - id: typescript-typecheck
        name: typescript typecheck
        entry: bash -c 'cd typescript && npm run typecheck --if-present'
        language: system
        pass_filenames: false
        files: ^typescript/.*\.(ts|tsx)$
        stages: [push]

Everything to-do/card listings take assignee_ids[] and due filters
  go/pkg/generated/client.gen.go
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/Types.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/everything.kt
  openapi.json
  python/src/basecamp/generated/services/everything.py
  ruby/lib/basecamp/generated/services/everything_service.rb
  spec/basecamp.smithy
  swift/Sources/Basecamp/Generated/Services/EverythingService.swift
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/schema.d.ts
  typescript/src/generated/services/everything.ts
Due: go-test-short, typescript-lint, typescript-typecheck

TS/Ruby/Python: pin the bracketed assignee_ids[] wire form and due param
  python/tests/services/test_everything.py
  ruby/test/basecamp/services/everything_service_test.rb
  typescript/tests/services/everything.test.ts
Due: typescript-lint, typescript-typecheck

Go: EverythingTaskFilters threads the new filters through all 11 wrappers
  conformance/runner/go/main.go
  go/pkg/basecamp/everything.go
  go/pkg/basecamp/everything_test.go
Due: go-test-short

Registry: everything-todo-card-filters absorbed
  spec/api-gaps/README.md
  spec/api-gaps/everything-todo-card-filters.md
Due: none

Everything to-do/card listings take assignee_ids[] and due filters (#12442) (#521)
  conformance/runner/go/main.go
  go/pkg/basecamp/everything.go
  go/pkg/basecamp/everything_test.go
  go/pkg/generated/client.gen.go
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/Types.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/everything.kt
  openapi.json
  python/src/basecamp/generated/services/everything.py
  python/tests/services/test_everything.py
  ruby/lib/basecamp/generated/services/everything_service.rb
  ruby/test/basecamp/services/everything_service_test.rb
  spec/api-gaps/README.md
  spec/api-gaps/everything-todo-card-filters.md
  spec/basecamp.smithy
  swift/Sources/Basecamp/Generated/Services/EverythingService.swift
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/schema.d.ts
  typescript/src/generated/services/everything.ts
  typescript/tests/services/everything.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Docs and registry follow: 226 operations, gap absorbed
  AGENTS.md
  SECURITY.md
  SPEC.md
  spec/api-gaps/README.md
  spec/api-gaps/todoset-direct-todo-create.md
Due: none

TS/Ruby/Python: loose-todo create happy path + 422
  python/tests/services/test_todos.py
  ruby/test/basecamp/services/todos_service_test.rb
  typescript/tests/services/todos.test.ts
Due: typescript-lint, typescript-typecheck

Conformance: CreateTodosetTodo constructs the bucket-scoped todoset path
  conformance/runner/go/main.go
  conformance/runner/python/runner.py
  conformance/runner/ruby/runner.rb
  conformance/runner/typescript/runner.test.ts
  conformance/tests/paths.json
Due: go-test-short

Go: Todos.CreateInTodoset wrapper
  go/pkg/basecamp/todos.go
Due: go-test-short

CreateTodosetTodo: create a loose to-do directly under the to-do set
  behavior-model.json
  go/pkg/basecamp/url-routes.json
  go/pkg/generated/client.gen.go
  kotlin/conformance/src/main/kotlin/com/basecamp/sdk/conformance/Main.kt
  kotlin/generator/src/main/kotlin/com/basecamp/sdk/generator/Config.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/Metadata.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/Types.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/todos.kt
  openapi.json
  python/src/basecamp/generated/metadata.json
  python/src/basecamp/generated/services/todos.py
  python/src/basecamp/generated/types.py
  ruby/lib/basecamp/generated/metadata.json
  ruby/lib/basecamp/generated/services/todos_service.rb
  ruby/lib/basecamp/generated/types.rb
  ruby/scripts/generate-services.rb
  spec/basecamp.smithy
  spec/overlays/tags.smithy
  swift/Sources/Basecamp/Generated/Metadata.swift
  swift/Sources/Basecamp/Generated/Models/CreateTodosetTodoRequest.swift
  swift/Sources/Basecamp/Generated/Services/TodosService.swift
  swift/Sources/BasecampGenerator/ServiceGrouper.swift
  typescript/scripts/generate-services.ts
  typescript/src/generated/metadata.ts
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/path-mapping.ts
  typescript/src/generated/schema.d.ts
  typescript/src/generated/services/index.ts
  typescript/src/generated/services/todos.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Codex review fixes: Python mapping, TS re-export, Go resource ID
  go/pkg/basecamp/todos.go
  python/scripts/generate_services.py
  typescript/src/index.ts
Due: go-test-short, typescript-lint, typescript-typecheck

CreateTodosetTodo reports resource type todo, not todoset_todo
  kotlin/generator/src/main/kotlin/com/basecamp/sdk/generator/Config.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/todos.kt
  swift/Sources/Basecamp/Generated/Services/TodosService.swift
  swift/Sources/BasecampGenerator/Utilities.swift
  typescript/scripts/generate-services.ts
  typescript/src/generated/services/todos.ts
Due: typescript-lint, typescript-typecheck

BookmarksService: model the four my-bookmarks operations
  behavior-model.json
  go/pkg/basecamp/url-routes.json
  go/pkg/generated/client.gen.go
  kotlin/generator/src/main/kotlin/com/basecamp/sdk/generator/Config.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/Metadata.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/ServiceAccessors.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/models/Bookmark.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/models/BookmarkStatus.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/Types.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/bookmarks.kt
  openapi.json
  python/src/basecamp/generated/metadata.json
  python/src/basecamp/generated/services/__init__.py
  python/src/basecamp/generated/services/bookmarks.py
  python/src/basecamp/generated/types.py
  ruby/lib/basecamp/generated/metadata.json
  ruby/lib/basecamp/generated/services/bookmarks_service.rb
  ruby/lib/basecamp/generated/types.rb
  spec/basecamp.smithy
  spec/overlays/tags.smithy
  swift/Sources/Basecamp/Generated/AccountClient+Services.swift
  swift/Sources/Basecamp/Generated/Metadata.swift
  swift/Sources/Basecamp/Generated/Models/Bookmark.swift
  swift/Sources/Basecamp/Generated/Models/BookmarkStatus.swift
  swift/Sources/Basecamp/Generated/Services/BookmarksService.swift
  swift/Sources/BasecampGenerator/MethodNaming.swift
  swift/Sources/BasecampGenerator/Utilities.swift
  typescript/scripts/generate-services.ts
  typescript/src/generated/metadata.ts
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/path-mapping.ts
  typescript/src/generated/schema.d.ts
  typescript/src/generated/services/bookmarks.ts
  typescript/src/generated/services/index.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Counts and registry: 230 operations, 73 idempotent, 192 retry-eligible
  AGENTS.md
  SECURITY.md
  SPEC.md
  scripts/check-idempotency-parity
  spec/api-gaps/README.md
  spec/api-gaps/my-bookmarks.md
Due: none

Conformance: bookmark paths and idempotent-mutation retries
  conformance/runner/go/main.go
  conformance/runner/python/runner.py
  conformance/runner/ruby/runner.rb
  conformance/runner/typescript/runner.test.ts
  conformance/tests/idempotency.json
  conformance/tests/paths.json
  kotlin/conformance/src/main/kotlin/com/basecamp/sdk/conformance/Main.kt
Due: go-test-short

Client wiring: Bookmarks accessor in every hand-wired client
  go/pkg/basecamp/bookmarks.go
  go/pkg/basecamp/client.go
  python/src/basecamp/async_client.py
  python/src/basecamp/client.py
  ruby/lib/basecamp/client.rb
  typescript/src/client.ts
  typescript/src/index.ts
Due: go-test-short, typescript-lint, typescript-typecheck

TS/Ruby/Python: bookmarks happy-path + 4xx per operation
  python/tests/services/test_bookmarks_service.py
  ruby/test/basecamp/services/bookmarks_service_test.rb
  typescript/tests/services/bookmarks.test.ts
Due: typescript-lint, typescript-typecheck

TS: Bookmark/BookmarkStatus in TYPE_ALIASES — typed ListResult and root exports
  typescript/scripts/generate-services.ts
  typescript/src/generated/services/bookmarks.ts
  typescript/src/index.ts
Due: typescript-lint, typescript-typecheck

ListMyDrafts: model the my-drafts surface with a required-nullable envelope
  behavior-model.json
  go/pkg/basecamp/url-routes.json
  go/pkg/generated/client.gen.go
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/Metadata.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/ServiceAccessors.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/models/Draft.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/models/DraftBucket.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/models/DraftParent.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/Types.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/drafts.kt
  openapi.json
  python/src/basecamp/generated/metadata.json
  python/src/basecamp/generated/services/__init__.py
  python/src/basecamp/generated/services/drafts.py
  python/src/basecamp/generated/types.py
  ruby/lib/basecamp/generated/metadata.json
  ruby/lib/basecamp/generated/services/drafts_service.rb
  ruby/lib/basecamp/generated/types.rb
  spec/basecamp.smithy
  spec/overlays/tags.smithy
  spec/smithy-build.json
  swift/Sources/Basecamp/Generated/AccountClient+Services.swift
  swift/Sources/Basecamp/Generated/Metadata.swift
  swift/Sources/Basecamp/Generated/Models/Draft.swift
  swift/Sources/Basecamp/Generated/Models/DraftBucket.swift
  swift/Sources/Basecamp/Generated/Models/DraftParent.swift
  swift/Sources/Basecamp/Generated/Services/DraftsService.swift
  typescript/src/generated/metadata.ts
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/path-mapping.ts
  typescript/src/generated/schema.d.ts
  typescript/src/generated/services/drafts.ts
  typescript/src/generated/services/index.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Generators learn the required-nullable object reference
  kotlin/generator/src/main/kotlin/com/basecamp/sdk/generator/Config.kt
  kotlin/generator/src/main/kotlin/com/basecamp/sdk/generator/ModelEmitter.kt
  python/scripts/generate_types.py
  swift/Sources/BasecampGenerator/ModelEmitter.swift
  swift/Sources/BasecampGenerator/TypeMapping.swift
  typescript/scripts/generate-services.ts
Due: typescript-lint, typescript-typecheck

Tests and conformance: present-null parent is pinned everywhere
  conformance/runner/go/main.go
  conformance/runner/python/runner.py
  conformance/runner/ruby/runner.rb
  conformance/runner/typescript/runner.test.ts
  conformance/tests/paths.json
  kotlin/conformance/src/main/kotlin/com/basecamp/sdk/conformance/Main.kt
  python/tests/services/test_drafts_service.py
  ruby/test/basecamp/services/drafts_service_test.rb
  typescript/tests/services/drafts.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Counts and registry: 231 operations, 193 retry-eligible
  AGENTS.md
  SECURITY.md
  SPEC.md
  scripts/check-idempotency-parity
  spec/api-gaps/README.md
  spec/api-gaps/my-drafts.md
Due: none

Client wiring: Drafts accessor in every hand-wired client
  go/pkg/basecamp/client.go
  go/pkg/basecamp/drafts.go
  python/src/basecamp/async_client.py
  python/src/basecamp/client.py
  ruby/lib/basecamp/client.rb
  typescript/src/client.ts
  typescript/src/index.ts
Due: go-test-short, typescript-lint, typescript-typecheck

GetMyNote/UpdateMyNote: the scratchpad singleton at /my/notes.json
  behavior-model.json
  go/pkg/basecamp/url-routes.json
  go/pkg/generated/client.gen.go
  kotlin/generator/src/main/kotlin/com/basecamp/sdk/generator/Config.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/Metadata.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/ServiceAccessors.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/models/MyNote.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/Types.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/my-notes.kt
  openapi.json
  python/src/basecamp/generated/metadata.json
  python/src/basecamp/generated/services/__init__.py
  python/src/basecamp/generated/services/my_notes.py
  python/src/basecamp/generated/types.py
  ruby/lib/basecamp/generated/metadata.json
  ruby/lib/basecamp/generated/services/my_notes_service.rb
  ruby/lib/basecamp/generated/types.rb
  spec/basecamp.smithy
  spec/overlays/tags.smithy
  spec/smithy-build.json
  swift/Sources/Basecamp/Generated/AccountClient+Services.swift
  swift/Sources/Basecamp/Generated/Metadata.swift
  swift/Sources/Basecamp/Generated/Models/MyNote.swift
  swift/Sources/Basecamp/Generated/Models/MyNoteAttributes.swift
  swift/Sources/Basecamp/Generated/Models/UpdateMyNoteRequest.swift
  swift/Sources/Basecamp/Generated/Services/MyNotesService.swift
  swift/Sources/BasecampGenerator/MethodNaming.swift
  typescript/scripts/generate-services.ts
  typescript/src/generated/metadata.ts
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/path-mapping.ts
  typescript/src/generated/schema.d.ts
  typescript/src/generated/services/index.ts
  typescript/src/generated/services/my-notes.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Client wiring: MyNotes accessor in every hand-wired client
  go/pkg/basecamp/client.go
  go/pkg/basecamp/mynotes.go
  python/src/basecamp/async_client.py
  python/src/basecamp/client.py
  ruby/lib/basecamp/client.rb
  typescript/src/client.ts
  typescript/src/index.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Fixture coverage: MyNote joins the rich-text emitter inventory
  spec/fixtures/manifest.yaml
  spec/fixtures/my_notes/get.json
Due: none

Tests and conformance: pre-first-write nulls and the nested envelope
  conformance/runner/go/main.go
  conformance/runner/python/runner.py
  conformance/runner/ruby/runner.rb
  conformance/runner/typescript/runner.test.ts
  conformance/tests/idempotency.json
  conformance/tests/paths.json
  kotlin/conformance/src/main/kotlin/com/basecamp/sdk/conformance/Main.kt
  python/tests/services/test_my_notes_service.py
  ruby/test/basecamp/services/my_notes_service_test.rb
  typescript/tests/services/my-notes.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Counts and registry: 233 operations, 74 idempotent, 195 retry-eligible
  AGENTS.md
  SECURITY.md
  SPEC.md
  scripts/check-idempotency-parity
  spec/api-gaps/README.md
  spec/api-gaps/scratchpad.md
Due: none

Tests and conformance: nested envelope and the field-keyed 422
  conformance/runner/go/main.go
  conformance/runner/python/runner.py
  conformance/runner/ruby/runner.rb
  conformance/runner/typescript/runner.test.ts
  conformance/tests/idempotency.json
  conformance/tests/paths.json
  kotlin/conformance/src/main/kotlin/com/basecamp/sdk/conformance/Main.kt
  python/tests/services/test_calendars_service.py
  ruby/test/basecamp/services/calendars_service_test.rb
  typescript/tests/services/calendars.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

GetCalendar/UpdateCalendar: the top-level calendar pair
  behavior-model.json
  go/pkg/basecamp/url-routes.json
  go/pkg/generated/client.gen.go
  kotlin/generator/src/main/kotlin/com/basecamp/sdk/generator/Config.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/Metadata.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/ServiceAccessors.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/models/Calendar.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/Types.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/calendars.kt
  openapi.json
  python/src/basecamp/generated/metadata.json
  python/src/basecamp/generated/services/__init__.py
  python/src/basecamp/generated/services/calendars.py
  python/src/basecamp/generated/types.py
  ruby/lib/basecamp/generated/metadata.json
  ruby/lib/basecamp/generated/services/calendars_service.rb
  ruby/lib/basecamp/generated/types.rb
  spec/basecamp.smithy
  spec/overlays/tags.smithy
  swift/Sources/Basecamp/Generated/AccountClient+Services.swift
  swift/Sources/Basecamp/Generated/Metadata.swift
  swift/Sources/Basecamp/Generated/Models/Calendar.swift
  swift/Sources/Basecamp/Generated/Models/CalendarAttributes.swift
  swift/Sources/Basecamp/Generated/Models/UpdateCalendarRequest.swift
  swift/Sources/Basecamp/Generated/Services/CalendarsService.swift
  swift/Sources/BasecampGenerator/MethodNaming.swift
  typescript/scripts/generate-services.ts
  typescript/src/generated/metadata.ts
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/path-mapping.ts
  typescript/src/generated/schema.d.ts
  typescript/src/generated/services/calendars.ts
  typescript/src/generated/services/index.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Client wiring: Calendars accessor in every hand-wired client
  go/pkg/basecamp/calendars.go
  go/pkg/basecamp/client.go
  python/src/basecamp/async_client.py
  python/src/basecamp/client.py
  ruby/lib/basecamp/client.rb
  typescript/src/client.ts
  typescript/src/index.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Counts and registry: 235 operations, 75 idempotent, 197 retry-eligible
  AGENTS.md
  SECURITY.md
  SPEC.md
  scripts/check-idempotency-parity
  spec/api-gaps/README.md
  spec/api-gaps/calendar.md
Due: none

UpdateCalendar's 422 is modeled as the field-keyed payload it actually is
  go/pkg/generated/client.gen.go
  openapi.json
  python/src/basecamp/generated/types.py
  ruby/lib/basecamp/generated/metadata.json
  ruby/lib/basecamp/generated/types.rb
  spec/basecamp.smithy
  typescript/src/generated/metadata.ts
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/schema.d.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Up Next priority writes: prioritize, exact-target deprioritize, reorder
  behavior-model.json
  go/pkg/basecamp/url-routes.json
  go/pkg/generated/client.gen.go
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/Metadata.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/Types.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/my-assignments.kt
  openapi.json
  python/src/basecamp/generated/metadata.json
  python/src/basecamp/generated/services/my_assignments.py
  python/src/basecamp/generated/types.py
  ruby/lib/basecamp/generated/metadata.json
  ruby/lib/basecamp/generated/services/my_assignments_service.rb
  ruby/lib/basecamp/generated/types.rb
  spec/basecamp.smithy
  spec/overlays/tags.smithy
  swift/Sources/Basecamp/Generated/Metadata.swift
  swift/Sources/Basecamp/Generated/Models/PrioritizeAssignmentRequest.swift
  swift/Sources/Basecamp/Generated/Models/ReorderUpNextRequest.swift
  swift/Sources/Basecamp/Generated/Services/MyAssignmentsService.swift
  typescript/src/generated/metadata.ts
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/path-mapping.ts
  typescript/src/generated/schema.d.ts
  typescript/src/generated/services/my-assignments.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Repin provenance to d0edc128: the exact-target contract is the baseline
  go/pkg/basecamp/api-provenance.json
  go/pkg/basecamp/version.go
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/BasecampConfig.kt
  python/src/basecamp/_version.py
  ruby/lib/basecamp/version.rb
  spec/api-provenance.json
  swift/Sources/Basecamp/BasecampConfig.swift
  typescript/src/client.ts
Due: go-test-short, typescript-lint, typescript-typecheck
