Repository basecamp/basecamp-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-test-short, typescript-lint, typescript-typecheck

go-test-short:
  name: go test -short
  entry: bash -c 'cd go && go test -short ./...'
  language: system
  pass_filenames: false
  stages:
  - push

typescript-lint:
  name: typescript lint
  entry: bash -c 'cd typescript && npm run lint --if-present'
  language: system
  pass_filenames: false
  stages:
  - commit

typescript-typecheck:
  name: typescript typecheck
  entry: bash -c 'cd typescript && npm run typecheck --if-present'
  language: system
  pass_filenames: false
  stages:
  - push

TS generator: keep nested example keys raw (snake_case)
  typescript/scripts/generate-services.ts
  typescript/src/generated/services/people.ts
  typescript/tests/generator/example-value.test.ts
Due: typescript-lint, typescript-typecheck

Go: assert method and path in project-construction envelope test
  go/pkg/basecamp/templates_test.go
Due: go-test-short

Fix project construction request envelope across SDKs (#396)
  go/pkg/basecamp/templates.go
  go/pkg/basecamp/templates_test.go
  go/pkg/generated/client.gen.go
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/Types.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/templates.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/TemplatesServiceTest.kt
  openapi.json
  python/src/basecamp/generated/services/templates.py
  python/src/basecamp/generated/types.py
  python/tests/services/test_templates_service.py
  ruby/lib/basecamp/generated/metadata.json
  ruby/lib/basecamp/generated/services/checkins_service.rb
  ruby/lib/basecamp/generated/services/gauges_service.rb
  ruby/lib/basecamp/generated/services/people_service.rb
  ruby/lib/basecamp/generated/services/projects_service.rb
  ruby/lib/basecamp/generated/services/templates_service.rb
  ruby/lib/basecamp/generated/types.rb
  ruby/scripts/generate-services.rb
  ruby/test/basecamp/services/templates_service_test.rb
  spec/basecamp.smithy
  swift/Sources/Basecamp/Generated/Models/CreateProjectFromTemplateRequest.swift
  swift/Sources/Basecamp/Generated/Models/ProjectConstructionAttributes.swift
  swift/Tests/BasecampTests/GeneratedServiceTests.swift
  typescript/scripts/generate-services.ts
  typescript/src/generated/metadata.ts
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/schema.d.ts
  typescript/src/generated/services/checkins.ts
  typescript/src/generated/services/gauges.ts
  typescript/src/generated/services/people.ts
  typescript/src/generated/services/templates.ts
  typescript/tests/generator/example-value.test.ts
  typescript/tests/services/templates.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Record upload new-version API gap; guard upload update contract (#392)
  API-GAP-404.md
  go/pkg/basecamp/vaults_test.go
  spec/api-gaps/README.md
  spec/api-gaps/upload-new-version.md
Due: go-test-short

Add to-do list reposition operation
  AGENTS.md
  SPEC.md
  behavior-model.json
  go/README.md
  go/pkg/basecamp/todolists.go
  go/pkg/basecamp/todolists_test.go
  go/pkg/basecamp/url-routes.json
  go/pkg/generated/client.gen.go
  kotlin/generator/src/main/kotlin/com/basecamp/sdk/generator/Config.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/Metadata.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/Types.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/todolists.kt
  openapi.json
  python/scripts/generate_services.py
  python/src/basecamp/generated/metadata.json
  python/src/basecamp/generated/services/todolists.py
  python/src/basecamp/generated/types.py
  python/tests/services/test_todolists_service.py
  ruby/lib/basecamp/generated/metadata.json
  ruby/lib/basecamp/generated/services/todolists_service.rb
  ruby/lib/basecamp/generated/types.rb
  ruby/scripts/generate-services.rb
  ruby/test/basecamp/services/todolists_service_test.rb
  spec/api-gaps/README.md
  spec/api-gaps/todolist-reposition.md
  spec/basecamp.smithy
  spec/overlays/tags.smithy
  swift/Sources/Basecamp/Generated/Metadata.swift
  swift/Sources/Basecamp/Generated/Models/RepositionTodolistRequest.swift
  swift/Sources/Basecamp/Generated/Services/TodolistsService.swift
  swift/Sources/BasecampGenerator/ServiceGrouper.swift
  typescript/README.md
  typescript/scripts/generate-services.ts
  typescript/src/generated/metadata.ts
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/path-mapping.ts
  typescript/src/generated/schema.d.ts
  typescript/src/generated/services/todolists.ts
  typescript/tests/services/todolists.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Re-export RepositionTodolistRequest from the package root
  typescript/src/index.ts
Due: typescript-lint, typescript-typecheck

Assert reposition request body via explicit JSON parse
  ruby/test/basecamp/services/todolists_service_test.rb
Due: none

Add to-do list reposition operation (#398)
  AGENTS.md
  SPEC.md
  behavior-model.json
  go/README.md
  go/pkg/basecamp/todolists.go
  go/pkg/basecamp/todolists_test.go
  go/pkg/basecamp/url-routes.json
  go/pkg/generated/client.gen.go
  kotlin/generator/src/main/kotlin/com/basecamp/sdk/generator/Config.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/Metadata.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/Types.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/todolists.kt
  openapi.json
  python/scripts/generate_services.py
  python/src/basecamp/generated/metadata.json
  python/src/basecamp/generated/services/todolists.py
  python/src/basecamp/generated/types.py
  python/tests/services/test_todolists_service.py
  ruby/lib/basecamp/generated/metadata.json
  ruby/lib/basecamp/generated/services/todolists_service.rb
  ruby/lib/basecamp/generated/types.rb
  ruby/scripts/generate-services.rb
  ruby/test/basecamp/services/todolists_service_test.rb
  spec/api-gaps/README.md
  spec/api-gaps/todolist-reposition.md
  spec/basecamp.smithy
  spec/overlays/tags.smithy
  swift/Sources/Basecamp/Generated/Metadata.swift
  swift/Sources/Basecamp/Generated/Models/RepositionTodolistRequest.swift
  swift/Sources/Basecamp/Generated/Services/TodolistsService.swift
  swift/Sources/BasecampGenerator/ServiceGrouper.swift
  typescript/README.md
  typescript/scripts/generate-services.ts
  typescript/src/generated/metadata.ts
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/path-mapping.ts
  typescript/src/generated/schema.d.ts
  typescript/src/generated/services/todolists.ts
  typescript/src/index.ts
  typescript/tests/services/todolists.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Address PR review: environment-scope canary secrets; harden backend label; doc accuracy
  .github/workflows/live-canary.yml
  CONTRIBUTING.md
  Makefile
  conformance/tests/live-my-surface.json
Due: none

Add description_attachments to the Todo model
  SPEC.md
  conformance/tests/status-codes.json
  conformance/tests/todos_write.json
  go/pkg/basecamp/todos.go
  go/pkg/basecamp/todos_test.go
  go/pkg/generated/client.gen.go
  kotlin/generator/src/main/kotlin/com/basecamp/sdk/generator/ModelEmitter.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/models/RichTextAttachment.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/models/Todo.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/models/Upload.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/serialization/FlexibleIntSerializer.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/FlexibleIntSerializerTest.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/TodosServiceTest.kt
  openapi.json
  python/scripts/generate_types.py
  python/src/basecamp/generated/types.py
  python/tests/services/test_todos.py
  python/tests/test_generate_types.py
  ruby/lib/basecamp/generated/metadata.json
  ruby/lib/basecamp/generated/types.rb
  ruby/test/basecamp/services/todos_service_test.rb
  scripts/enhance-openapi-go-types.sh
  spec/api-gaps/README.md
  spec/api-gaps/rich-text-attachments-coverage.md
  spec/basecamp.smithy
  spec/fixtures/todos/create-response.json
  spec/fixtures/todos/get.json
  spec/fixtures/todos/list.json
  swift/Sources/Basecamp/Generated/Models/RichTextAttachment.swift
  swift/Sources/Basecamp/Generated/Models/Todo.swift
  swift/Tests/BasecampTests/GeneratedServiceTests.swift
  swift/Tests/BasecampTests/HooksTests.swift
  swift/Tests/BasecampTests/TodosServiceExtensionsTests.swift
  typescript/src/generated/metadata.ts
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/schema.d.ts
  typescript/tests/services/todos.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Add description_attachments to the Todo model (#400)
  SPEC.md
  conformance/tests/status-codes.json
  conformance/tests/todos_write.json
  go/pkg/basecamp/todos.go
  go/pkg/basecamp/todos_test.go
  go/pkg/generated/client.gen.go
  kotlin/generator/src/main/kotlin/com/basecamp/sdk/generator/ModelEmitter.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/models/RichTextAttachment.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/models/Todo.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/models/Upload.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/serialization/FlexibleIntSerializer.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/FlexibleIntSerializerTest.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/TodosServiceTest.kt
  openapi.json
  python/scripts/generate_types.py
  python/src/basecamp/generated/types.py
  python/tests/services/test_todos.py
  python/tests/test_generate_types.py
  ruby/lib/basecamp/generated/metadata.json
  ruby/lib/basecamp/generated/types.rb
  ruby/test/basecamp/services/todos_service_test.rb
  scripts/enhance-openapi-go-types.sh
  spec/api-gaps/README.md
  spec/api-gaps/rich-text-attachments-coverage.md
  spec/basecamp.smithy
  spec/fixtures/todos/create-response.json
  spec/fixtures/todos/get.json
  spec/fixtures/todos/list.json
  swift/Sources/Basecamp/Generated/Models/RichTextAttachment.swift
  swift/Sources/Basecamp/Generated/Models/Todo.swift
  swift/Tests/BasecampTests/GeneratedServiceTests.swift
  swift/Tests/BasecampTests/HooksTests.swift
  swift/Tests/BasecampTests/TodosServiceExtensionsTests.swift
  typescript/src/generated/metadata.ts
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/schema.d.ts
  typescript/tests/services/todos.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Upstream sync: repin provenance to bc3 338b7a11 (2026-07-23), register post-train contracts
  API-GAP-404.md
  COORDINATION.md
  go/pkg/basecamp/api-provenance.json
  go/pkg/basecamp/version.go
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/BasecampConfig.kt
  openapi.json
  python/src/basecamp/_version.py
  ruby/lib/basecamp/generated/metadata.json
  ruby/lib/basecamp/generated/types.rb
  ruby/lib/basecamp/version.rb
  spec/api-gaps/README.md
  spec/api-gaps/external-links-doors.md
  spec/api-gaps/recordable-subtypes-doc.md
  spec/api-gaps/todolist-reposition.md
  spec/api-gaps/upload-new-version.md
  spec/api-gaps/visible-to-clients-on-creates.md
  spec/api-provenance.json
  spec/basecamp.smithy
  swift/Sources/Basecamp/BasecampConfig.swift
  typescript/src/client.ts
  typescript/src/generated/metadata.ts
  typescript/src/generated/openapi-stripped.json
Due: go-test-short, typescript-lint, typescript-typecheck

Upstream sync: repin provenance to bc3 338b7a11 (2026-07-23), register post-train contracts (#403)
  API-GAP-404.md
  COORDINATION.md
  go/pkg/basecamp/api-provenance.json
  go/pkg/basecamp/version.go
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/BasecampConfig.kt
  openapi.json
  python/src/basecamp/_version.py
  ruby/lib/basecamp/generated/metadata.json
  ruby/lib/basecamp/generated/types.rb
  ruby/lib/basecamp/version.rb
  spec/api-gaps/README.md
  spec/api-gaps/external-links-doors.md
  spec/api-gaps/recordable-subtypes-doc.md
  spec/api-gaps/todolist-reposition.md
  spec/api-gaps/upload-new-version.md
  spec/api-gaps/visible-to-clients-on-creates.md
  spec/api-provenance.json
  spec/basecamp.smithy
  swift/Sources/Basecamp/BasecampConfig.swift
  typescript/src/client.ts
  typescript/src/generated/metadata.ts
  typescript/src/generated/openapi-stripped.json
Due: go-test-short, typescript-lint, typescript-typecheck

Review: model color as required-nullable; declarative wormhole naming
  go/pkg/basecamp/wormholes.go
  go/pkg/basecamp/wormholes_test.go
  go/pkg/generated/client.gen.go
  kotlin/generator/src/main/kotlin/com/basecamp/sdk/generator/Config.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/models/Wormhole.kt
  openapi.json
  python/scripts/generate_services.py
  python/src/basecamp/generated/types.py
  ruby/scripts/generate-services.rb
  spec/basecamp.smithy
  spec/smithy-build.json
  swift/Sources/Basecamp/Generated/Models/Wormhole.swift
  swift/Sources/BasecampGenerator/MethodNaming.swift
  typescript/scripts/generate-services.ts
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/schema.d.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Go: card-table wormholes service
  go/README.md
  go/pkg/basecamp/cards.go
  go/pkg/basecamp/client.go
  go/pkg/basecamp/url-routes.json
  go/pkg/basecamp/wormholes.go
  go/pkg/basecamp/wormholes_test.go
  go/pkg/generated/client.gen.go
Due: go-test-short

Model wormhole destination_url as nullable (string | null)
  go/pkg/basecamp/wormholes.go
  go/pkg/generated/client.gen.go
  kotlin/generator/src/main/kotlin/com/basecamp/sdk/generator/ModelEmitter.kt
  openapi.json
  python/src/basecamp/generated/types.py
  ruby/lib/basecamp/generated/metadata.json
  ruby/lib/basecamp/generated/types.rb
  spec/api-gaps/card-table-wormholes.md
  spec/basecamp.smithy
  spec/smithy-build.json
  typescript/src/generated/metadata.ts
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/schema.d.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Swift: card-table wormholes service
  swift/README.md
  swift/Sources/Basecamp/Generated/AccountClient+Services.swift
  swift/Sources/Basecamp/Generated/Metadata.swift
  swift/Sources/Basecamp/Generated/Models/CreateWormholeRequest.swift
  swift/Sources/Basecamp/Generated/Models/UpdateWormholeRequest.swift
  swift/Sources/Basecamp/Generated/Models/Wormhole.swift
  swift/Sources/Basecamp/Generated/Services/WormholesService.swift
  swift/Sources/BasecampGenerator/MethodNaming.swift
  swift/Sources/BasecampGenerator/ServiceGrouper.swift
  swift/Tests/BasecampTests/WormholesServiceTests.swift
Due: none

Kotlin: card-table wormholes service
  kotlin/README.md
  kotlin/generator/src/main/kotlin/com/basecamp/sdk/generator/Config.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/Metadata.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/ServiceAccessors.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/models/Wormhole.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/Types.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/wormholes.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/WormholesServiceTest.kt
Due: none

Python: test card_tables.get wormholes[] decode
  python/tests/services/test_card_tables_service.py
Due: none

Ruby: card-table wormholes service
  ruby/README.md
  ruby/lib/basecamp/client.rb
  ruby/lib/basecamp/generated/metadata.json
  ruby/lib/basecamp/generated/services/wormholes_service.rb
  ruby/lib/basecamp/generated/types.rb
  ruby/scripts/generate-services.rb
  ruby/test/basecamp/services/card_tables_service_test.rb
  ruby/test/basecamp/services/wormholes_service_test.rb
Due: none

TypeScript: card-table wormholes service
  typescript/README.md
  typescript/scripts/generate-services.ts
  typescript/src/client.ts
  typescript/src/generated/metadata.ts
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/path-mapping.ts
  typescript/src/generated/schema.d.ts
  typescript/src/generated/services/index.ts
  typescript/src/generated/services/wormholes.ts
  typescript/src/index.ts
  typescript/tests/services/card-tables.test.ts
  typescript/tests/services/wormholes.test.ts
Due: typescript-lint, typescript-typecheck

Address review: required-nullable destination_url + fixups
  SPEC.md
  go/pkg/generated/client.gen.go
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/models/Wormhole.kt
  openapi.json
  python/src/basecamp/generated/types.py
  python/tests/services/test_wormholes_service.py
  spec/api-gaps/card-table-wormholes.md
  spec/basecamp.smithy
  swift/Sources/Basecamp/Generated/Models/Wormhole.swift
  swift/Sources/BasecampGenerator/ModelEmitter.swift
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/schema.d.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Python: card-table wormholes service
  python/README.md
  python/scripts/generate_services.py
  python/src/basecamp/async_client.py
  python/src/basecamp/client.py
  python/src/basecamp/generated/metadata.json
  python/src/basecamp/generated/services/__init__.py
  python/src/basecamp/generated/services/wormholes.py
  python/src/basecamp/generated/types.py
  python/tests/services/test_wormholes_service.py
Due: none

Card-table wormholes: spec, contract, fixtures, docs
  AGENTS.md
  README.md
  SPEC.md
  behavior-model.json
  openapi.json
  spec/api-gaps/README.md
  spec/api-gaps/card-table-wormholes.md
  spec/basecamp.smithy
  spec/fixtures/cards/card_table.json
  spec/fixtures/cards/wormhole.json
  spec/overlays/tags.smithy
Due: none

Review: round-trip explicit null for required-nullable wormhole fields
  go/pkg/basecamp/wormholes.go
  go/pkg/basecamp/wormholes_test.go
  ruby/lib/basecamp/generated/types.rb
Due: go-test-short

Review: UpdateWormhole is 404-only; refresh api-gaps smithy_refs
  go/pkg/generated/client.gen.go
  openapi.json
  spec/api-gaps/card-table-wormholes.md
  spec/basecamp.smithy
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/schema.d.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Address PR review: fix extras-observed claim; note Backend unset default
  CONTRIBUTING.md
  spec/api-gaps/memories-emptied-regression.md
Due: none

Review closeout: accurate service counts + Ruby round-trip regression test
  AGENTS.md
  SPEC.md
  kotlin/README.md
  python/README.md
  ruby/README.md
  ruby/test/basecamp/generated_types_test.rb
  swift/README.md
Due: none

Review: reconcile all service-count sites + Swift null-color proof
  AGENTS.md
  SPEC.md
  kotlin/README.md
  python/README.md
  ruby/README.md
  swift/README.md
  swift/Tests/BasecampTests/WormholesServiceTests.swift
Due: none

Repin bc3 provenance to ca1d34bc and register net-new api-gaps
  go/pkg/basecamp/api-provenance.json
  go/pkg/basecamp/version.go
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/BasecampConfig.kt
  python/src/basecamp/_version.py
  ruby/lib/basecamp/version.rb
  spec/api-gaps/README.md
  spec/api-gaps/card-table-wormholes.md
  spec/api-gaps/dock-tool-visible-to-clients.md
  spec/api-gaps/external-links-doors.md
  spec/api-provenance.json
  swift/Sources/Basecamp/BasecampConfig.swift
  typescript/src/client.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Fix test comments: null/None matches the nullable static type
  python/tests/services/test_uploads.py
  typescript/tests/services/comments.test.ts
Due: typescript-lint, typescript-typecheck

Address review: TS sample fixtures + guard test indexing
  go/pkg/basecamp/recordings_test.go
  typescript/tests/services/cards.test.ts
  typescript/tests/services/comments.test.ts
  typescript/tests/services/messages.test.ts
  typescript/tests/services/todolists.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Address PR review: correct unset-BASECAMP_BACKEND fixture-override behavior
  CONTRIBUTING.md
Due: none

Retire pairwise BC4↔BC5 canary; keep single-backend BC5 live canary (#394)
  .github/workflows/live-canary.yml
  CONTRIBUTING.md
  COORDINATION.md
  Makefile
  conformance/schema.json
  conformance/tests/live-my-surface.json
  scripts/compare-canary-runs.sh
  scripts/test-compare-canary-runs.sh
  spec/api-gaps/memories-emptied-regression.md
Due: none

Upgrade oapi-codegen v2.7.1 -> v2.8.0; own the client-with-responses template
  go.work.sum
  go/go.mod
  go/go.sum
  go/oapi-codegen.yaml
  go/pkg/basecamp/generated_nocontent_test.go
  go/pkg/generated/client.gen.go
  go/templates/client-with-responses.tmpl
  go/templates/typedef.tmpl
Due: go-test-short

Path conditions:
  go-test-short: any of: \.go$
  typescript-lint: any of: ^typescript/.*\.(ts|tsx)$
  typescript-typecheck: any of: ^typescript/.*\.(ts|tsx)$
