Repository basecamp/basecamp-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-test-short, typescript-lint, typescript-typecheck

go-test-short:
  name: go test -short
  entry: bash -c 'cd go && go test -short ./...'
  language: system
  pass_filenames: false
  stages:
  - push

typescript-lint:
  name: typescript lint
  entry: bash -c 'cd typescript && npm run lint --if-present'
  language: system
  pass_filenames: false
  stages:
  - commit

typescript-typecheck:
  name: typescript typecheck
  entry: bash -c 'cd typescript && npm run typecheck --if-present'
  language: system
  pass_filenames: false
  stages:
  - push

Validate the whole Retry-After value, in both of its steps
  SPEC.md
  conformance/tests/retry.json
  typescript/src/errors.ts
  typescript/tests/account-logo.test.ts
  typescript/tests/retry-after.test.ts
Due: typescript-lint, typescript-typecheck

Route TypeScript's two retry loops through the one Retry-After parser
  typescript/src/errors.ts
  typescript/src/retry.ts
  typescript/src/services/base.ts
  typescript/tests/account-logo.test.ts
  typescript/tests/middleware-lifecycle.test.ts
  typescript/tests/retry-after.test.ts
Due: typescript-lint, typescript-typecheck

Reattach the Retry-After docblock, and write both behaviour changes down
  MIGRATING.md
  typescript/src/errors.ts
Due: typescript-lint, typescript-typecheck

Say in the model what the jbuilder says, and test the ordering the helper exists for
  MIGRATING.md
  go/pkg/basecamp/timeline.go
  go/pkg/generated/client.gen.go
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/DecodeIsolationTest.kt
  openapi.json
  python/src/basecamp/generated/types.py
  spec/basecamp.smithy
  swift/Sources/Basecamp/Generated/Models/GetPersonProgressResponseContent.swift
  swift/Sources/Basecamp/Services/BaseService.swift
  swift/Sources/BasecampPublicAPIConsumer/PublicAPIConsumer.swift
  swift/Tests/BasecampTests/DecodeIsolationTests.swift
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/schema.d.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Clamp Retry-After at the longest delay a timer can actually serve
  MIGRATING.md
  conformance/tests/retry.json
  typescript/src/errors.ts
  typescript/tests/retry-after.test.ts
Due: typescript-lint, typescript-typecheck

Stop three tests and one migration note from decaying into wrongness
  MIGRATING.md
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/PaginationTest.kt
  typescript/tests/account-logo.test.ts
  typescript/tests/retry-after.test.ts
Due: typescript-lint, typescript-typecheck

Correct three comments that described the old failures wrongly
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/DecodeIsolationTest.kt
  swift/Sources/Basecamp/Services/BaseService.swift
  swift/Sources/BasecampPublicAPIConsumer/PublicAPIConsumer.swift
  swift/Tests/BasecampTests/DecodeIsolationTests.swift
Due: none

Move the timer ceiling to the schedulers, and stop mis-stating what Kotlin parses
  MIGRATING.md
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/Pagination.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/PaginationTest.kt
  typescript/src/errors.ts
  typescript/src/retry.ts
  typescript/src/services/base.ts
  typescript/tests/retry-after.test.ts
Due: typescript-lint, typescript-typecheck

Stop writing the time bomb I had just finished removing
  MIGRATING.md
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/Pagination.kt
  typescript/tests/retry-after.test.ts
Due: typescript-lint, typescript-typecheck

Say which SDKs typed-decode this envelope, and test the crash the guard prevents
  MIGRATING.md
  spec/basecamp.smithy
  swift/Tests/BasecampTests/DecodeIsolationTests.swift
Due: none

Fix SPEC §6's Retry-After parsing in Kotlin and TypeScript, and make the fixture able to fail (#781)
  MIGRATING.md
  SPEC.md
  conformance/tests/retry.json
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/Pagination.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/PaginationTest.kt
  typescript/src/errors.ts
  typescript/src/retry.ts
  typescript/src/services/base.ts
  typescript/tests/account-logo.test.ts
  typescript/tests/middleware-lifecycle.test.ts
  typescript/tests/retry-after.test.ts
Due: typescript-lint, typescript-typecheck

Separate the one silent success from the two that merely failed unmapped
  MIGRATING.md
  swift/Sources/Basecamp/Services/BaseService.swift
  swift/Tests/BasecampTests/DecodeIsolationTests.swift
Due: none

Replace the per-case history in MIGRATING with a table it cannot get wrong
  MIGRATING.md
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/DecodeIsolationTest.kt
Due: none

Bring GetPersonProgress's wrapper decode inside the request primitive (#782)
  MIGRATING.md
  SPEC.md
  go/pkg/basecamp/timeline.go
  go/pkg/generated/client.gen.go
  kotlin/generator/src/main/kotlin/com/basecamp/sdk/generator/ServiceEmitter.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/reports.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/serialization/WrapperMembers.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/services/BaseService.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/DecodeIsolationTest.kt
  openapi.json
  python/src/basecamp/generated/types.py
  spec/basecamp.smithy
  swift/Sources/Basecamp/Generated/Models/GetPersonProgressResponseContent.swift
  swift/Sources/Basecamp/Generated/Services/ReportsService.swift
  swift/Sources/Basecamp/Services/BaseService.swift
  swift/Sources/BasecampGenerator/ServiceEmitter.swift
  swift/Sources/BasecampPublicAPIConsumer/PublicAPIConsumer.swift
  swift/Tests/BasecampTests/DecodeIsolationTests.swift
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/schema.d.ts
Due: go-test-short, typescript-lint, typescript-typecheck

API compatibility: check the whole module, and fail on an incompatible change
  .github/workflows/test.yml
Due: none

Read the breaking-label acknowledgement live, and scope the no-changes line
  .github/workflows/test.yml
Due: none

Stop the compatibility gate passing when apidiff cannot run
  .github/workflows/test.yml
Due: none

Let apidiff compare the module, and pin both sides to one commit
  .github/workflows/test.yml
Due: none

API compatibility: check the whole module, and fail on an incompatible change (#776)
  .github/workflows/test.yml
Due: none

Bump golang.org/x/mod to v0.40.0 for CVE-2026-56864 and CVE-2026-56865
  go.work.sum
  go/go.mod
  go/go.sum
Due: none

Bump golang.org/x/mod to v0.40.0 for CVE-2026-56864 and CVE-2026-56865 (#797)
  go.work.sum
  go/go.mod
  go/go.sum
Due: none

Take the float narrowing out of the HTTP-date branch
  SPEC.md
  go/pkg/basecamp/client.go
  go/pkg/basecamp/client_retry_after_test.go
  go/pkg/basecamp/errors.go
Due: go-test-short

Clamp Retry-After to what a time.Duration can hold
  SPEC.md
  go/pkg/basecamp/client.go
  go/pkg/basecamp/client_retry_after_test.go
  go/pkg/basecamp/errors.go
Due: go-test-short

Spell the clamp's bound where CodeQL can read it
  go/pkg/basecamp/client.go
Due: go-test-short

Record the unkeyed-literal break Error.RetryAfter causes
  MIGRATING.md
Due: none

Leave §7's host-limits sentence to #793, and carry the rule in §6
  SPEC.md
Due: none

Let Go's raw GET retry loop see the Retry-After it already parses
  SPEC.md
  go/pkg/basecamp/client.go
  go/pkg/basecamp/client_retry_after_test.go
  go/pkg/basecamp/errors.go
  go/pkg/basecamp/helpers.go
  go/pkg/basecamp/http.go
Due: go-test-short

Parse the delta-seconds in int64, and round the date form up
  MIGRATING.md
  SPEC.md
  go/pkg/basecamp/client.go
  go/pkg/basecamp/client_retry_after_test.go
Due: go-test-short

Keep the over-range cases compiling where int is 32 bits
  go/pkg/basecamp/client_retry_after_test.go
Due: go-test-short

Saturate at one portable ceiling, and at both ends of the parse
  MIGRATING.md
  SPEC.md
  go/pkg/basecamp/client.go
  go/pkg/basecamp/client_retry_after_test.go
Due: go-test-short

Settle two SPEC questions that were costing review rounds instead of being decided
  SPEC.md
Due: none

Condition the Retry-After exemption on the caller keeping an escape
  SPEC.md
Due: none

Scope the closed-vocabulary rule, and settle four Retry-After edges
  SPEC.md
Due: none

Record the over-range split rather than legislating it
  SPEC.md
Due: none

Correct four SPEC edges the second review round found
  SPEC.md
Due: none

Require 1*DIGIT before saturating, and stop tabling six SDKs in SPEC
  SPEC.md
  go/pkg/basecamp/client.go
  go/pkg/basecamp/client_retry_after_test.go
Due: go-test-short

Gate the timer-scheduled abort with an oxlint rule, not another selector
  .github/workflows/test.yml
  CONTRIBUTING.md
  Makefile
  typescript/lint-rules/no-timer-scheduled-abort.js
  typescript/lint-rules/oxlintrc.json
  typescript/lint-rules/test-no-timer-scheduled-abort.mjs
  typescript/package.json
Due: none

Assert the promptness the backoff-abort test is named for
  CONTRIBUTING.md
  typescript/lint-rules/no-timer-scheduled-abort.js
  typescript/lint-rules/test-no-timer-scheduled-abort.mjs
  typescript/tests/middleware-lifecycle.test.ts
Due: typescript-lint, typescript-typecheck

Hand the captured CONNECT preamble across a Queue instead of sharing a String
  ruby/test/basecamp/oauth_transport_test.rb
Due: none

Read the rule's findings as JSON, and run the self-test in both environments
  typescript/lint-rules/test-no-timer-scheduled-abort.mjs
Due: none

Path conditions:
  go-test-short: any of: \.go$
  typescript-lint: any of: ^typescript/.*\.(ts|tsx)$
  typescript-typecheck: any of: ^typescript/.*\.(ts|tsx)$
