Repository basecamp/basecamp-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-test-short, typescript-lint, typescript-typecheck

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
      - id: detect-private-key
      - id: check-case-conflict

  - repo: https://github.com/golangci/golangci-lint
    rev: v1.62.2
    hooks:
      - id: golangci-lint
        args: [--timeout=5m, --config=go/.golangci.yml]
        files: ^go/

  - repo: https://github.com/tekwizely/pre-commit-golang
    rev: v1.0.0-rc.1
    hooks:
      - id: go-fmt
        files: ^go/
      - id: go-vet
        files: ^go/
      - id: go-mod-tidy
        files: ^go/

  - repo: local
    hooks:
      - id: go-test-short
        name: go test -short
        entry: bash -c 'cd go && go test -short ./...'
        language: system
        pass_filenames: false
        types: [go]
        stages: [push]

      - id: typescript-lint
        name: typescript lint
        entry: bash -c 'cd typescript && npm run lint --if-present'
        language: system
        pass_filenames: false
        files: ^typescript/.*\.(ts|tsx)$
        stages: [commit]

      - id: typescript-typecheck
        name: typescript typecheck
        entry: bash -c 'cd typescript && npm run typecheck --if-present'
        language: system
        pass_filenames: false
        files: ^typescript/.*\.(ts|tsx)$
        stages: [push]

Short-circuit zero before its exponent reaches a rational
  go/pkg/basecamp/eventfeed/scenario_fixture_test.go
  go/pkg/basecamp/eventfeed/scenario_selftest_test.go
Due: go-test-short

Decide zero before the exponent is even parsed
  go/pkg/basecamp/eventfeed/scenario_fixture_test.go
  go/pkg/basecamp/eventfeed/scenario_selftest_test.go
Due: go-test-short

Event feed: three store identities that could still drift, closed
  go/pkg/basecamp/eventfeed/filestore.go
  go/pkg/basecamp/eventfeed/filestore_test.go
Due: go-test-short

Event feed: say why the raw read failure is not the dial path, and pin it
  go/pkg/basecamp/eventfeed/websocket_transport.go
  go/pkg/basecamp/eventfeed/websocket_transport_test.go
Due: go-test-short

State the rendezvous guarantee at its true strength: flaky, never green
  SPEC.md
  conformance/event-feed/README.md
Due: none

Heading judgments read the guide's prose, never its fences
  scripts/promote-migrating.sh
  scripts/test-promote-migrating.sh
Due: none

Search captured prose, not a pipe a -q grep can kill
  scripts/promote-migrating.sh
  scripts/test-promote-migrating.sh
Due: none

One ordering authority: the newest shipped tag
  scripts/promote-migrating.sh
  scripts/test-promote-migrating.sh
Due: none

Refuse abandoned sections, and keep the rewrites out of fences too
  scripts/promote-migrating.sh
  scripts/test-promote-migrating.sh
Due: none

Widen the fence grammar, and make two cases prove what they claim
  scripts/promote-migrating.sh
  scripts/test-promote-migrating.sh
Due: none

Give the fence pass CommonMark's closing rule, and every branch the orphan check
  scripts/promote-migrating.sh
  scripts/test-promote-migrating.sh
Due: none

Point the row-15 redaction prose at the test that exists
  conformance/event-feed/README.md
  conformance/event-feed/fixtures/30-continuation-redirect-cross-origin.json
Due: none

Make the self-test seam an argument, not an environment variable
  scripts/promote-migrating.sh
  scripts/test-promote-migrating.sh
Due: none

Absorb the exact-head round's three suppressed notes
  conformance/event-feed/schema.json
  go/pkg/basecamp/eventfeed/scenario_fixture_test.go
  go/pkg/basecamp/eventfeed/scenario_selftest_test.go
Due: go-test-short

Resolve the release heading from the top of the guide, not anywhere in it (#812)
  .github/workflows/test.yml
  MIGRATING.md
  Makefile
  scripts/bump-version.sh
  scripts/promote-migrating.sh
  scripts/test-promote-migrating.sh
Due: none

Route Python's exchange through request_bounded and refuse browser opaqueredirects
  MIGRATING.md
  SPEC.md
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/oauth/Exchange.kt
  python/src/basecamp/oauth/exchange.py
  python/tests/oauth/test_exchange.py
  typescript/src/oauth/exchange.ts
  typescript/tests/oauth/oauth.test.ts
Due: typescript-lint, typescript-typecheck

Keep the response status on the streaming-cap error, and stop two docs overclaiming
  MIGRATING.md
  go/pkg/basecamp/oauth/exchange.go
  python/src/basecamp/oauth/_transport.py
  python/tests/oauth/test_exchange.py
Due: go-test-short

State the browser opaqueredirect exception in the redirect-refusal contract
  MIGRATING.md
  SPEC.md
Due: none

Refuse redirects and bound timeouts on the token exchange path in every SDK (#813)
  MIGRATING.md
  SPEC.md
  go/pkg/basecamp/auth.go
  go/pkg/basecamp/auth_test.go
  go/pkg/basecamp/oauth/exchange.go
  go/pkg/basecamp/oauth/oauth_test.go
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/oauth/Exchange.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/OAuthTest.kt
  python/src/basecamp/oauth/_transport.py
  python/src/basecamp/oauth/exchange.py
  python/tests/oauth/test_exchange.py
  ruby/lib/basecamp/oauth/exchange.rb
  ruby/lib/basecamp/oauth/fetcher.rb
  ruby/lib/basecamp/oauth_token_provider.rb
  ruby/test/basecamp/auth_test.rb
  ruby/test/basecamp/oauth_ssrf_test.rb
  ruby/test/basecamp/oauth_test.rb
  ruby/test/basecamp/oauth_transport_test.rb
  ruby/test/basecamp/security_test.rb
  typescript/src/oauth/device.ts
  typescript/src/oauth/exchange.ts
  typescript/src/oauth/limits.ts
  typescript/tests/oauth/oauth.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Sync go.work.sum for otel v1.46.0 bump
  go.work.sum
Due: none

fix(projects): pin the ListProjects status wire contract, "active" included
  go/README.md
  go/pkg/basecamp/projects_test.go
  python/tests/services/test_projects.py
  ruby/test/basecamp/services/projects_service_test.rb
  typescript/tests/services/projects.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

fix(projects): pin the ListProjects status wire contract, "active" included (#834)
  go/README.md
  go/pkg/basecamp/projects_test.go
  python/tests/services/test_projects.py
  ruby/test/basecamp/services/projects_service_test.rb
  typescript/tests/services/projects.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

feat(projects): expose starred and star_url on Project
  go/pkg/basecamp/benchmark_test.go
  go/pkg/basecamp/projects.go
  go/pkg/basecamp/projects_test.go
  go/pkg/generated/client.gen.go
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/models/Project.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/ProjectsServiceTest.kt
  openapi.json
  python/src/basecamp/generated/types.py
  python/tests/services/test_projects.py
  ruby/lib/basecamp/generated/metadata.json
  ruby/lib/basecamp/generated/types.rb
  ruby/test/basecamp/services/projects_service_test.rb
  spec/api-gaps/README.md
  spec/basecamp.smithy
  spec/fixtures/projects/README.md
  spec/fixtures/projects/get.json
  spec/fixtures/projects/list.json
  swift/Sources/Basecamp/Generated/Models/Project.swift
  swift/Tests/BasecampTests/GeneratedServiceTests.swift
  typescript/src/generated/metadata.ts
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/schema.d.ts
  typescript/tests/services/projects.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

test(typescript): assert the star flags in the list decoding path
  spec/api-gaps/README.md
  typescript/tests/services/projects.test.ts
Due: typescript-lint, typescript-typecheck

feat(projects): expose starred and star_url on Project (#835)
  go/pkg/basecamp/benchmark_test.go
  go/pkg/basecamp/projects.go
  go/pkg/basecamp/projects_test.go
  go/pkg/generated/client.gen.go
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/models/Project.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/ProjectsServiceTest.kt
  openapi.json
  python/src/basecamp/generated/types.py
  python/tests/services/test_projects.py
  ruby/lib/basecamp/generated/metadata.json
  ruby/lib/basecamp/generated/types.rb
  ruby/test/basecamp/services/projects_service_test.rb
  spec/api-gaps/README.md
  spec/basecamp.smithy
  spec/fixtures/projects/README.md
  spec/fixtures/projects/get.json
  spec/fixtures/projects/list.json
  swift/Sources/Basecamp/Generated/Models/Project.swift
  swift/Tests/BasecampTests/GeneratedServiceTests.swift
  typescript/src/generated/metadata.ts
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/schema.d.ts
  typescript/tests/services/projects.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

SPEC §9: credential-bearing values are never rendered
  SPEC.md
Due: none

SPEC §12: on_paginate prose matches its interface comment (Ruby and Python)
  SPEC.md
Due: none

SPEC §9: name the two non-API hosts, outbound OAuth secrets, pre-dial sites, and the on_refresh carve-out
  SPEC.md
Due: none

SPEC §9: five values, the device-authorization endpoint, hop-1 hook projection, and the error_description decision
  SPEC.md
Due: none

SPEC §9: de-count the closed set, strengthen Python's raising boundary, align the hop-1 projection
  SPEC.md
Due: none

SPEC §9: held credentials named alongside traveling ones
  SPEC.md
Due: none

SPEC §9: credential-bearing values are never rendered (#802)
  SPEC.md
Due: none

Complete the generated doc summaries, true up SPEC counts, cover the list error path
  SPEC.md
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/projects.kt
  openapi.json
  python/src/basecamp/generated/services/projects.py
  python/tests/services/test_projects.py
  ruby/lib/basecamp/generated/metadata.json
  ruby/lib/basecamp/generated/services/projects_service.rb
  ruby/lib/basecamp/generated/types.rb
  ruby/test/basecamp/services/projects_service_test.rb
  spec/basecamp.smithy
  typescript/src/generated/metadata.ts
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/schema.d.ts
  typescript/src/generated/services/projects.ts
  typescript/tests/services/projects.test.ts
Due: typescript-lint, typescript-typecheck

Report recent-project operations as project telemetry, count the ninth flagged POST
  SECURITY.md
  kotlin/generator/src/main/kotlin/com/basecamp/sdk/generator/Config.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/projects.kt
  ruby/lib/basecamp/generated/metadata.json
  ruby/lib/basecamp/generated/types.rb
  swift/Sources/Basecamp/Generated/Services/ProjectsService.swift
  swift/Sources/BasecampGenerator/Utilities.swift
  typescript/scripts/generate-services.ts
  typescript/src/generated/metadata.ts
  typescript/src/generated/services/projects.ts
Due: typescript-lint, typescript-typecheck

Satisfy the Python formatter, carry recent-list payloads through runners and the Go test
  conformance/runner/swift/Sources/ConformanceRunner/Dispatch.swift
  conformance/runner/typescript/runner.test.ts
  go/pkg/basecamp/projects_test.go
  kotlin/conformance/src/main/kotlin/com/basecamp/sdk/conformance/Main.kt
  python/tests/services/test_projects.py
Due: go-test-short

SPEC §9 review round: complete the hop-1 projection, sever OAuth transport chains, tighten the origin projections
  SPEC.md
  go/pkg/basecamp/download_test.go
  go/pkg/basecamp/http.go
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/Download.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/DownloadTest.kt
  python/src/basecamp/_async_http.py
  python/src/basecamp/_http.py
  python/src/basecamp/_security.py
  python/src/basecamp/async_auth.py
  python/src/basecamp/auth.py
  python/src/basecamp/errors.py
  python/src/basecamp/oauth/device.py
  python/src/basecamp/oauth/exchange.py
  python/tests/oauth/test_exchange.py
  python/tests/test_auth.py
  python/tests/test_download.py
  python/tests/test_errors.py
  ruby/lib/basecamp/client.rb
  ruby/lib/basecamp/http.rb
  ruby/lib/basecamp/security.rb
  ruby/test/basecamp/download_test.rb
  swift/Sources/Basecamp/HTTP/HTTPClient.swift
  swift/Tests/BasecampTests/DownloadTests.swift
  typescript/src/download.ts
  typescript/tests/download.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck
