Repository basecamp/basecamp-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-test-short, typescript-lint, typescript-typecheck

go-test-short:
  name: go test -short
  entry: bash -c 'cd go && go test -short ./...'
  language: system
  pass_filenames: false
  stages:
  - push

typescript-lint:
  name: typescript lint
  entry: bash -c 'cd typescript && npm run lint --if-present'
  language: system
  pass_filenames: false
  stages:
  - commit

typescript-typecheck:
  name: typescript typecheck
  entry: bash -c 'cd typescript && npm run typecheck --if-present'
  language: system
  pass_filenames: false
  stages:
  - push

Pin the Go SDK bearer token to the configured origin
  go/pkg/basecamp/client.go
  go/pkg/basecamp/same_origin_test.go
Due: go-test-short

Pin the Python SDK bearer token to the configured origin
  python/src/basecamp/_async_http.py
  python/src/basecamp/_http.py
  python/tests/test_http.py
Due: none

Pin the Ruby SDK bearer token to the configured origin
  ruby/lib/basecamp/http.rb
  ruby/test/basecamp/http_test.rb
  ruby/test/basecamp/same_origin_test.rb
  ruby/test/basecamp/security_test.rb
Due: none

Pin the TypeScript SDK bearer token to the configured origin
  typescript/src/client.ts
  typescript/src/security.ts
  typescript/src/services/authorization.ts
  typescript/tests/security.test.ts
  typescript/tests/services/authorization.test.ts
Due: typescript-lint, typescript-typecheck

Pin the Swift SDK bearer token to the configured origin
  swift/Sources/Basecamp/HTTP/HTTPClient.swift
  swift/Sources/Basecamp/Pagination.swift
  swift/Sources/Basecamp/Services/BaseService.swift
  swift/Tests/BasecampTests/SameOriginGuardTests.swift
Due: none

Document same-origin credential attachment
  SECURITY.md
Due: none

Pin the Kotlin SDK bearer token to the configured origin
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/BasecampClient.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/Pagination.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/http/BasecampHttpClient.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/services/BaseService.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/SameOriginTest.kt
Due: none

Pin the Go SDK localhost carve-out to localhost targets
  go/pkg/basecamp/client.go
  go/pkg/basecamp/same_origin_test.go
Due: go-test-short

Tighten same-origin guard across Python, Kotlin, and TS SDKs
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/Pagination.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/services/BaseService.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/PaginationTest.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/SameOriginTest.kt
  python/src/basecamp/_async_http.py
  python/src/basecamp/_http.py
  python/src/basecamp/_security.py
  python/src/basecamp/services/authorization.py
  python/tests/test_http.py
  typescript/src/security.ts
  typescript/tests/security.test.ts
Due: typescript-lint, typescript-typecheck

Scope the Ruby SDK get_absolute cross-origin to the authorization URL
  ruby/lib/basecamp/generated/services/authorization_service.rb
  ruby/lib/basecamp/http.rb
  ruby/lib/basecamp/security.rb
  ruby/test/basecamp/same_origin_test.rb
Due: none

Address review follow-ups: Swift localhost-HTTP, case handling, docs
  SECURITY.md
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/Pagination.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/PaginationTest.kt
  python/src/basecamp/_async_http.py
  python/src/basecamp/_http.py
  ruby/lib/basecamp/http.rb
  swift/Sources/Basecamp/Pagination.swift
  swift/Sources/Basecamp/Services/BaseService.swift
  swift/Tests/BasecampTests/SameOriginGuardTests.swift
Due: none

Keep the Launchpad constant out of generated Ruby code
  ruby/lib/basecamp/generated/services/authorization_service.rb
  ruby/test/basecamp/same_origin_test.rb
Due: none

Recognize RFC 6761 .localhost names in the Kotlin SDK
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/Pagination.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/PaginationTest.kt
Due: none

Preserve discovered authorization issuers in the Ruby SDK
  ruby/lib/basecamp/http.rb
  ruby/lib/basecamp/security.rb
  ruby/test/basecamp/same_origin_test.rb
Due: none

Restrict Ruby cross-origin allowance to the exact Launchpad endpoint
  ruby/lib/basecamp/http.rb
  ruby/lib/basecamp/security.rb
  ruby/test/basecamp/same_origin_test.rb
Due: none

Fix tools clone bucket-scoped endpoint
  conformance/runner/go/main.go
  conformance/runner/python/runner.py
  conformance/runner/ruby/runner.rb
  conformance/runner/typescript/runner.test.ts
  conformance/tests/paths.json
  go/pkg/basecamp/tools.go
  go/pkg/basecamp/tools_test.go
  go/pkg/generated/client.gen.go
  kotlin/conformance/src/main/kotlin/com/basecamp/sdk/conformance/Main.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/tools.kt
  openapi.json
  python/src/basecamp/generated/services/tools.py
  ruby/lib/basecamp/generated/metadata.json
  ruby/lib/basecamp/generated/services/tools_service.rb
  ruby/lib/basecamp/generated/types.rb
  ruby/test/basecamp/services/tools_service_test.rb
  spec/basecamp.smithy
  swift/Sources/Basecamp/Generated/Services/ToolsService.swift
  typescript/src/generated/metadata.json
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/path-mapping.ts
  typescript/src/generated/schema.d.ts
  typescript/src/generated/services/index.ts
  typescript/src/generated/services/tools.ts
  typescript/tests/services/tools.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Update Bundler for Ruby head compatibility
  ruby/Gemfile.lock
Due: none

Address tool clone review feedback
  go/pkg/basecamp/tools.go
  go/pkg/basecamp/tools_test.go
Due: go-test-short

Allow tool clone conformance title to be omitted
  conformance/runner/python/runner.py
Due: none

Fix Ruby head Bundler lockfile
  ruby/Gemfile.lock
Due: none

Fix Ruby head Bundler lockfile (#335)
  ruby/Gemfile.lock
Due: none

Address PR review feedback
  go/pkg/basecamp/client.go
  go/pkg/basecamp/client_test.go
  go/pkg/basecamp/search_test.go
Due: go-test-short

Address GET header review feedback
  go/pkg/basecamp/client.go
  go/pkg/basecamp/client_test.go
  go/pkg/basecamp/search_test.go
Due: go-test-short

Fix Go GET content type header
  go/pkg/basecamp/client.go
  go/pkg/basecamp/client_test.go
  go/pkg/basecamp/search_test.go
Due: go-test-short

Address follow-up review comments
  go/pkg/basecamp/client.go
  go/pkg/basecamp/search_test.go
Due: go-test-short

Strengthen Content-Type preservation test
  go/pkg/basecamp/client_test.go
Due: go-test-short

Use default Bundler on Ruby head
  .github/workflows/test.yml
Due: none

Scan against latest Go patch in govulncheck
  .github/workflows/security.yml
Due: none

Drop unused webrick development dependency
  ruby/Gemfile.lock
  ruby/basecamp-sdk.gemspec
Due: none

Fix three CI failures affecting every branch off main (#363)
  .github/workflows/security.yml
  .github/workflows/test.yml
  ruby/Gemfile.lock
  ruby/basecamp-sdk.gemspec
Due: none

Prepare workflows for the zizmor bump in #360
  .github/workflows/release-typescript.yml
  .github/workflows/security.yml
Due: none

Get npm from the Node tarball instead of the registry
  .github/workflows/release-typescript.yml
Due: none

Prepare workflows for the zizmor bump in #360 (#365)
  .github/workflows/release-typescript.yml
  .github/workflows/security.yml
Due: none

Narrow generated metadata types
  typescript/scripts/extract-metadata.ts
  typescript/src/generated/metadata.ts
Due: typescript-lint, typescript-typecheck

Fix TypeScript metadata bundling
  typescript/package.json
  typescript/scripts/extract-metadata.ts
  typescript/scripts/generate-path-mapping.ts
  typescript/src/client.ts
  typescript/src/download.ts
  typescript/src/generated/metadata.ts
  typescript/src/services/base.ts
Due: typescript-lint, typescript-typecheck

Path conditions:
  go-test-short: any of: \.go$
  typescript-lint: any of: ^typescript/.*\.(ts|tsx)$
  typescript-typecheck: any of: ^typescript/.*\.(ts|tsx)$
