Repository basecamp/basecamp-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-test-short, typescript-lint, typescript-typecheck

go-test-short:
  name: go test -short
  entry: bash -c 'cd go && go test -short ./...'
  language: system
  pass_filenames: false
  stages:
  - push

typescript-lint:
  name: typescript lint
  entry: bash -c 'cd typescript && npm run lint --if-present'
  language: system
  pass_filenames: false
  stages:
  - commit

typescript-typecheck:
  name: typescript typecheck
  entry: bash -c 'cd typescript && npm run typecheck --if-present'
  language: system
  pass_filenames: false
  stages:
  - push

Match fenced-code delimiters instead of toggling on them
  scripts/sync-doc-constants.rb
  scripts/test-doc-constants.rb
Due: none

Cap fence indentation at three spaces, per CommonMark
  scripts/sync-doc-constants.rb
  scripts/test-doc-constants.rb
Due: none

State which way this gate should be wrong
  scripts/sync-doc-constants.rb
Due: none

Documents composites: surface a decode failure as a statusless api_error
  go/pkg/basecamp/documents.go
  go/pkg/basecamp/documents_test.go
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/services/DocumentsService.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/DocumentsServiceTest.kt
Due: go-test-short

Go: make ReplaceDocumentRequest presence-bearing
  SPEC.md
  conformance/runner/go/main.go
  go/pkg/basecamp/documents.go
  go/pkg/basecamp/documents_test.go
Due: go-test-short

Reject invalid backtick fences, and read the pin in either case
  scripts/sync-doc-constants.rb
  scripts/test-doc-constants.rb
Due: none

Go: classify a document decode failure by exclusion, not by an allowlist
  go/pkg/basecamp/documents.go
  go/pkg/basecamp/documents_test.go
Due: go-test-short

A grant covers as-of facts, never the class-A grammar
  scripts/sync-doc-constants.rb
  scripts/test-doc-constants.rb
Due: none

Record the per-file-count residual instead of leaving it implicit
  scripts/sync-doc-constants.rb
Due: none

Documents read guards: refuse a blank title, and keep gate errors intact
  go/pkg/basecamp/documents.go
  go/pkg/basecamp/documents_test.go
  go/pkg/basecamp/vaults.go
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/services/DocumentsService.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/DocumentsServiceTest.kt
  python/src/basecamp/services/documents.py
  python/tests/services/test_documents.py
  ruby/lib/basecamp/services/documents_extensions.rb
  ruby/test/basecamp/services/documents_service_test.rb
  swift/Sources/Basecamp/DocumentsServiceExtensions.swift
  swift/Tests/BasecampTests/DocumentsServiceExtensionsTests.swift
  typescript/src/services/documents-extensions.ts
  typescript/tests/services/documents.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Go: keep an auth failure out of the decode classifier
  go/pkg/basecamp/documents.go
  go/pkg/basecamp/documents_test.go
Due: go-test-short

Isolate the document decode step structurally, and refuse a blank title
  go/pkg/basecamp/documents.go
  go/pkg/basecamp/documents_test.go
  go/pkg/basecamp/vaults.go
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/services/DocumentsService.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/DocumentsServiceTest.kt
  python/src/basecamp/services/documents.py
  python/tests/services/test_documents.py
  ruby/lib/basecamp/services/documents_extensions.rb
  ruby/test/basecamp/services/documents_service_test.rb
  swift/Sources/Basecamp/DocumentsServiceExtensions.swift
  swift/Tests/BasecampTests/DocumentsServiceExtensionsTests.swift
  typescript/src/services/documents-extensions.ts
  typescript/tests/services/documents.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Teach the Go service-drift gate the two-stage wrapper form
  go/pkg/basecamp/vaults.go
  scripts/check-service-drift.sh
Due: go-test-short

Discover conformance runner tests instead of naming them (#572)
  .github/workflows/test.yml
  Makefile
  scripts/check-runner-test-reachability
Due: none

AGENTS.md: register the Documents composites and the shared merge-safe guards
  AGENTS.md
Due: none

Give the backoff formula a ceiling in all six SDKs, and retry a Swift Transport's own network error (#592)
  SPEC.md
  go/pkg/basecamp/backoff_ceiling_test.go
  go/pkg/basecamp/client.go
  go/pkg/basecamp/http.go
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/http/BasecampHttpClient.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/RetryTest.kt
  python/src/basecamp/_async_http.py
  python/src/basecamp/_http.py
  python/src/basecamp/config.py
  python/tests/test_backoff_ceiling.py
  ruby/lib/basecamp/config.rb
  ruby/lib/basecamp/http.rb
  ruby/test/basecamp/backoff_ceiling_test.rb
  swift/Sources/Basecamp/HTTP/HTTPClient.swift
  swift/Tests/BasecampTests/BackoffCeilingTests.swift
  swift/Tests/BasecampTests/TransportNetworkErrorRetryTests.swift
  typescript/src/retry.ts
  typescript/src/services/base.ts
  typescript/tests/backoff-ceiling.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Gate the three doc constants that had drifted from their sources (#590)
  .github/workflows/test.yml
  AGENTS.md
  COORDINATION.md
  Makefile
  SPEC.md
  scripts/check-doc-constants.sh
  scripts/sync-api-version.sh
  scripts/sync-doc-constants.rb
  scripts/test-doc-constants.rb
  spec/api-gaps/README.md
  spec/api-gaps/calendar.md
  spec/api-gaps/everything-tasks-aggregate.md
  spec/api-gaps/my-assignments-priorities.md
  spec/api-gaps/my-bookmarks.md
  spec/api-gaps/my-drafts.md
  spec/api-gaps/upload-new-version.md
  spec/doc-constants.json
Due: none

Classify runner test files by what the toolchain runs, not what they import
  scripts/check-runner-test-reachability
Due: none

Unbreak doc-constants-check: grant SPEC.md's two as-of pin citations
  spec/doc-constants.json
Due: none

Unbreak doc-constants-check: grant SPEC.md's two as-of pin citations (#605)
  spec/doc-constants.json
Due: none

File the event-feed api-gap entry and record the cross-team decisions
  COORDINATION.md
  spec/api-gaps/README.md
  spec/api-gaps/event-feed.md
Due: none

Verify the toolchain runs it, don't take the filename or the step's word for it
  scripts/check-runner-test-reachability
Due: none

Restrict the Go wiring note's code spans to the path and file
  spec/api-gaps/event-feed.md
Due: none

A global prune and a disabled step are both "runs nowhere" the check couldn't see
  scripts/check-runner-test-reachability
Due: none

Reject a kill case whose 2xx never reaches a decoder, and self-test the gate
  Makefile
  conformance/check_kill_case_controls.py
  conformance/test_check_kill_case_controls.py
Due: none

Refuse a malformed GET field instead of writing it back (#576)
  conformance/runner/go/main.go
  conformance/runner/python/runner.py
  conformance/runner/ruby/runner.rb
  conformance/runner/swift/Sources/ConformanceRunner/Assertions.swift
  conformance/runner/swift/Sources/ConformanceRunner/Runner.swift
  conformance/runner/typescript/runner.test.ts
  conformance/schema.json
  conformance/tests/cards_write.json
  conformance/tests/todos_write.json
  kotlin/conformance/src/main/kotlin/com/basecamp/sdk/conformance/Main.kt
  python/src/basecamp/services/cards.py
  python/src/basecamp/services/todos.py
  python/tests/services/test_cards.py
  python/tests/services/test_todos.py
  ruby/lib/basecamp/services/cards_extensions.rb
  ruby/lib/basecamp/services/todos_extensions.rb
  ruby/test/basecamp/services/cards_service_test.rb
  ruby/test/basecamp/services/todos_service_test.rb
  typescript/src/services/cards-extensions.ts
  typescript/src/services/todos-extensions.ts
  typescript/tests/services/cards.test.ts
  typescript/tests/services/todos.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Move $comment out of the assertion properties map, and metaschema-check first
  Makefile
  conformance/schema.json
Due: none

Pin the control gate to the response the kill case actually decodes
  conformance/check_kill_case_controls.py
Due: none

Close the errorRaised coverage gaps: a TS-discriminating kill case and six runner unit tests
  .github/workflows/test.yml
  Makefile
  conformance/runner/go/error_raised.go
  conformance/runner/go/error_raised_test.go
  conformance/runner/go/main.go
  conformance/runner/python/runner.py
  conformance/runner/python/test_error_raised.py
  conformance/runner/ruby/error_raised_test.rb
  conformance/runner/ruby/runner.rb
  conformance/runner/swift/Sources/ConformanceRunner/Assertions.swift
  conformance/runner/swift/Sources/ConformanceRunner/Runner.swift
  conformance/runner/swift/Sources/ConformanceSupport/ErrorRaised.swift
  conformance/runner/swift/Tests/ConformanceSupportTests/ErrorRaisedTests.swift
  conformance/runner/typescript/error-raised.test.ts
  conformance/runner/typescript/error-raised.ts
  conformance/runner/typescript/runner.test.ts
  conformance/tests/cards_write.json
  kotlin/conformance/src/main/kotlin/com/basecamp/sdk/conformance/ErrorRaised.kt
  kotlin/conformance/src/main/kotlin/com/basecamp/sdk/conformance/Main.kt
  kotlin/conformance/src/test/kotlin/com/basecamp/sdk/conformance/ErrorRaisedTest.kt
Due: go-test-short

Require a kill case to deliver its malformed value in a 2xx response
  conformance/check_kill_case_controls.py
Due: none

Require the control response to reach its decoder too
  conformance/check_kill_case_controls.py
Due: none

Keep the errorRaised kill fixtures honest with a control-sibling gate
  Makefile
  conformance/check_kill_case_controls.py
Due: none

Document errorRaised in SPEC.md §19's gated assertion table
  SPEC.md
Due: none

File the event-feed api-gap entry and record the cross-team decisions (#606)
  COORDINATION.md
  spec/api-gaps/README.md
  spec/api-gaps/event-feed.md
Due: none

A framework require isn't a suite in Ruby either, and vitest run isn't self-locating
  scripts/check-runner-test-reachability
Due: none

Refuse a malformed GET field instead of writing it back (#576) (#597)
  .github/workflows/test.yml
  Makefile
  SPEC.md
  conformance/check_kill_case_controls.py
  conformance/runner/go/error_raised.go
  conformance/runner/go/error_raised_test.go
  conformance/runner/go/main.go
  conformance/runner/python/runner.py
  conformance/runner/python/test_error_raised.py
  conformance/runner/ruby/error_raised_test.rb
  conformance/runner/ruby/runner.rb
  conformance/runner/swift/Sources/ConformanceRunner/Assertions.swift
  conformance/runner/swift/Sources/ConformanceRunner/Runner.swift
  conformance/runner/swift/Sources/ConformanceSupport/ErrorRaised.swift
  conformance/runner/swift/Tests/ConformanceSupportTests/ErrorRaisedTests.swift
  conformance/runner/typescript/error-raised.test.ts
  conformance/runner/typescript/error-raised.ts
  conformance/runner/typescript/runner.test.ts
  conformance/schema.json
  conformance/test_check_kill_case_controls.py
  conformance/tests/cards_write.json
  conformance/tests/todos_write.json
  kotlin/conformance/src/main/kotlin/com/basecamp/sdk/conformance/ErrorRaised.kt
  kotlin/conformance/src/main/kotlin/com/basecamp/sdk/conformance/Main.kt
  kotlin/conformance/src/test/kotlin/com/basecamp/sdk/conformance/ErrorRaisedTest.kt
  python/src/basecamp/services/cards.py
  python/src/basecamp/services/todos.py
  python/tests/services/test_cards.py
  python/tests/services/test_todos.py
  ruby/lib/basecamp/services/cards_extensions.rb
  ruby/lib/basecamp/services/todos_extensions.rb
  ruby/test/basecamp/services/cards_service_test.rb
  ruby/test/basecamp/services/todos_service_test.rb
  typescript/src/services/cards-extensions.ts
  typescript/src/services/todos-extensions.ts
  typescript/tests/services/cards.test.ts
  typescript/tests/services/todos.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Follow the five make targets too, and read a matrix condition against its matrix
  scripts/check-runner-test-reachability
Due: none

Every arm now keys on a test declaration, TypeScript included
  scripts/check-runner-test-reachability
Due: none

Path conditions:
  go-test-short: any of: \.go$
  typescript-lint: any of: ^typescript/.*\.(ts|tsx)$
  typescript-typecheck: any of: ^typescript/.*\.(ts|tsx)$
