Repository basecamp/basecamp-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-test-short, typescript-lint, typescript-typecheck

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
      - id: detect-private-key
      - id: check-case-conflict

  - repo: https://github.com/golangci/golangci-lint
    rev: v1.62.2
    hooks:
      - id: golangci-lint
        args: [--timeout=5m, --config=go/.golangci.yml]
        files: ^go/

  - repo: https://github.com/tekwizely/pre-commit-golang
    rev: v1.0.0-rc.1
    hooks:
      - id: go-fmt
        files: ^go/
      - id: go-vet
        files: ^go/
      - id: go-mod-tidy
        files: ^go/

  - repo: local
    hooks:
      - id: go-test-short
        name: go test -short
        entry: bash -c 'cd go && go test -short ./...'
        language: system
        pass_filenames: false
        types: [go]
        stages: [push]

      - id: typescript-lint
        name: typescript lint
        entry: bash -c 'cd typescript && npm run lint --if-present'
        language: system
        pass_filenames: false
        files: ^typescript/.*\.(ts|tsx)$
        stages: [commit]

      - id: typescript-typecheck
        name: typescript typecheck
        entry: bash -c 'cd typescript && npm run typecheck --if-present'
        language: system
        pass_filenames: false
        files: ^typescript/.*\.(ts|tsx)$
        stages: [push]

Make the gap-index bounds bite, and unit-test the branches fixtures cannot reach
  .github/workflows/test.yml
  Makefile
  SPEC.md
  conformance/runner/go/delay_gaps.go
  conformance/runner/go/delay_gaps_test.go
  conformance/runner/go/main.go
  conformance/runner/python/pyproject.toml
  conformance/runner/python/runner.py
  conformance/runner/python/test_delay_gaps.py
  conformance/runner/ruby/delay_gaps_test.rb
  conformance/runner/ruby/runner.rb
  conformance/runner/typescript/delay-gaps.test.ts
  conformance/runner/typescript/delay-gaps.ts
  conformance/runner/typescript/runner.test.ts
  conformance/schema.json
  kotlin/conformance/build.gradle.kts
  kotlin/conformance/src/main/kotlin/com/basecamp/sdk/conformance/DelayGaps.kt
  kotlin/conformance/src/main/kotlin/com/basecamp/sdk/conformance/Main.kt
  kotlin/conformance/src/test/kotlin/com/basecamp/sdk/conformance/DelayGapsTest.kt
  swift/Sources/Basecamp/HTTP/HTTPClient.swift
  swift/Tests/BasecampTests/DownloadTests.swift
Due: go-test-short

Round 16: inline request bodies must not abort generation
  go/pkg/basecamp/optional_presence_test.go
  go/pkg/basecamp/wrapper_propagation_test.go
  scripts/enhance-openapi-go-types.sh
  scripts/test-enhance-request-reachability
Due: go-test-short

Report the real request count, and install the Ruby bundle before its helper test
  Makefile
  conformance/runner/python/runner.py
  conformance/runner/python/test_delay_gaps.py
  conformance/runner/ruby/delay_gaps_test.rb
  conformance/runner/ruby/runner.rb
Due: none

Count the 401 refresh replay against the attempt budget, and amend SPEC §4 to match
  SPEC.md
  python/src/basecamp/_async_http.py
  python/src/basecamp/_http.py
  python/tests/test_download.py
  python/tests/test_http.py
  ruby/lib/basecamp/http.rb
  ruby/test/basecamp/download_test.rb
  ruby/test/basecamp/http_test.rb
Due: none

Give wrapped-paginated operations their query params and pagination options
  kotlin/generator/src/main/kotlin/com/basecamp/sdk/generator/ServiceEmitter.kt
  kotlin/generator/src/main/kotlin/com/basecamp/sdk/generator/TypeEmitter.kt
  swift/Sources/BasecampGenerator/ServiceEmitter.swift
Due: none

Reject page numbers that cannot survive the narrowing to int32
  go/pkg/basecamp/boosts.go
  go/pkg/basecamp/campfires.go
  go/pkg/basecamp/cards.go
  go/pkg/basecamp/checkins.go
  go/pkg/basecamp/client_approvals.go
  go/pkg/basecamp/client_correspondences.go
  go/pkg/basecamp/client_replies.go
  go/pkg/basecamp/comments.go
  go/pkg/basecamp/events.go
  go/pkg/basecamp/forwards.go
  go/pkg/basecamp/helpers.go
  go/pkg/basecamp/messages.go
  go/pkg/basecamp/page_param_test.go
  go/pkg/basecamp/people.go
  go/pkg/basecamp/projects.go
  go/pkg/basecamp/recordings.go
  go/pkg/basecamp/schedules.go
  go/pkg/basecamp/search.go
  go/pkg/basecamp/templates.go
  go/pkg/basecamp/timeline.go
  go/pkg/basecamp/timesheet.go
  go/pkg/basecamp/todolist_groups.go
  go/pkg/basecamp/todolists.go
  go/pkg/basecamp/todos.go
  go/pkg/basecamp/vaults.go
Due: go-test-short

Keep the out-of-range page assertion compiling on 32-bit targets
  go/pkg/basecamp/page_param_test.go
Due: go-test-short

Say what page does in each SDK's own README
  go/README.md
  kotlin/README.md
  python/README.md
  ruby/README.md
  swift/README.md
  typescript/README.md
Due: none

Keep the bridge nullable so a PaginationOptions? variable still resolves
  kotlin/generator/src/main/kotlin/com/basecamp/sdk/generator/ServiceEmitter.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/boosts.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/campfires.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/cards.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/checkins.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/client-replies.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/comments.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/documents.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/events.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/forwards.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/gauges.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/people.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/reports.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/timeline.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/todolist-groups.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/uploads.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/vaults.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/PaginationTest.kt
Due: none

Bridge PaginationOptions only where the options type actually changed
  kotlin/generator/src/main/kotlin/com/basecamp/sdk/generator/Config.kt
  kotlin/generator/src/main/kotlin/com/basecamp/sdk/generator/ServiceEmitter.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/bookmarks.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/boosts.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/campfires.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/cards.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/checkins.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/client-approvals.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/client-correspondences.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/client-replies.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/comments.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/documents.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/drafts.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/events.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/everything.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/forwards.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/gauges.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/messages.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/my-notifications.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/people.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/projects.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/recordings.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/reports.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/schedules.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/search.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/templates.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/timeline.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/timesheets.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/todolist-groups.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/todolists.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/todos.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/uploads.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/vaults.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/PaginationTest.kt
Due: none

Pin the options-class constructor order so a new parameter cannot displace an old one
  .github/workflows/test.yml
  Makefile
  kotlin/generator/build.gradle.kts
  kotlin/generator/src/main/kotlin/com/basecamp/sdk/generator/Main.kt
  kotlin/generator/src/main/kotlin/com/basecamp/sdk/generator/TypeEmitter.kt
  kotlin/generator/src/test/kotlin/com/basecamp/sdk/generator/OptionsParamOrderTest.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/options-param-order.json
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/Types.kt
Due: none

Carry page as a pointer, the way optional query params generate now
  go/pkg/basecamp/boosts.go
  go/pkg/basecamp/campfires.go
  go/pkg/basecamp/cards.go
  go/pkg/basecamp/checkins.go
  go/pkg/basecamp/client_approvals.go
  go/pkg/basecamp/client_correspondences.go
  go/pkg/basecamp/client_replies.go
  go/pkg/basecamp/comments.go
  go/pkg/basecamp/events.go
  go/pkg/basecamp/forwards.go
  go/pkg/basecamp/helpers.go
  go/pkg/basecamp/messages.go
  go/pkg/basecamp/page_param_test.go
  go/pkg/basecamp/people.go
  go/pkg/basecamp/projects.go
  go/pkg/basecamp/recordings.go
  go/pkg/basecamp/schedules.go
  go/pkg/basecamp/search.go
  go/pkg/basecamp/templates.go
  go/pkg/basecamp/timeline.go
  go/pkg/basecamp/timesheet.go
  go/pkg/basecamp/todolist_groups.go
  go/pkg/basecamp/todolists.go
  go/pkg/basecamp/todos.go
  go/pkg/basecamp/vaults.go
  go/pkg/generated/client.gen.go
Due: go-test-short

Make the conformance gap index bite in every runner, and catch URLSession's cancellation (#568)
  .github/workflows/test.yml
  Makefile
  SPEC.md
  conformance/runner/go/delay_gaps.go
  conformance/runner/go/delay_gaps_test.go
  conformance/runner/go/main.go
  conformance/runner/python/pyproject.toml
  conformance/runner/python/runner.py
  conformance/runner/python/test_delay_gaps.py
  conformance/runner/ruby/delay_gaps_test.rb
  conformance/runner/ruby/runner.rb
  conformance/runner/typescript/delay-gaps.test.ts
  conformance/runner/typescript/delay-gaps.ts
  conformance/runner/typescript/runner.test.ts
  conformance/schema.json
  kotlin/conformance/build.gradle.kts
  kotlin/conformance/src/main/kotlin/com/basecamp/sdk/conformance/DelayGaps.kt
  kotlin/conformance/src/main/kotlin/com/basecamp/sdk/conformance/Main.kt
  kotlin/conformance/src/test/kotlin/com/basecamp/sdk/conformance/DelayGapsTest.kt
  swift/Sources/Basecamp/HTTP/HTTPClient.swift
  swift/Tests/BasecampTests/DownloadTests.swift
Due: go-test-short

Classify in the handler, refresh outside it, so a failing token endpoint still retries
  python/src/basecamp/_async_http.py
  python/src/basecamp/_http.py
  python/tests/test_http.py
  ruby/lib/basecamp/http.rb
  ruby/test/basecamp/http_test.rb
Due: none

Stop a page-only call from sending an empty status filter
  go/pkg/basecamp/page_param_test.go
  go/pkg/basecamp/schedules.go
Due: go-test-short

Spend the one allowed refresh on the attempt, not on the success
  python/src/basecamp/_async_http.py
  python/src/basecamp/_http.py
  python/tests/test_http.py
  ruby/lib/basecamp/http.rb
  ruby/test/basecamp/http_test.rb
Due: none

Drop the page-operation count rather than let it rot
  SPEC.md
Due: none

Count the 401 refresh replay against the attempt budget, and amend SPEC §4 to match (#571)
  SPEC.md
  python/src/basecamp/_async_http.py
  python/src/basecamp/_http.py
  python/tests/test_download.py
  python/tests/test_http.py
  ruby/lib/basecamp/http.rb
  ruby/test/basecamp/download_test.rb
  ruby/test/basecamp/http_test.rb
Due: none

Scope the page contract to the operations it actually describes
  SPEC.md
  go/pkg/generated/client.gen.go
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/Types.kt
  openapi.json
  ruby/lib/basecamp/generated/services/my_notifications_service.rb
  spec/basecamp.smithy
  swift/Sources/Basecamp/Generated/Services/MyNotificationsService.swift
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/schema.d.ts
  typescript/src/generated/services/my-notifications.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Verify Swift against the shared conformance fixtures
  .gitignore
  conformance/runner/swift/Package.swift
  conformance/runner/swift/Sources/ConformanceRunner/Assertions.swift
  conformance/runner/swift/Sources/ConformanceRunner/Dispatch.swift
  conformance/runner/swift/Sources/ConformanceRunner/Fixtures.swift
  conformance/runner/swift/Sources/ConformanceRunner/Runner.swift
  conformance/runner/swift/Sources/ConformanceRunner/ScriptedTransport.swift
Due: none

Gate CI on Swift conformance, not just Swift tests
  .github/workflows/test.yml
  Makefile
Due: none

Close the Swift runner's own false greens before it gates anything
  .github/workflows/test.yml
  Makefile
  SPEC.md
  conformance/runner/swift/Package.swift
  conformance/runner/swift/Sources/ConformanceRunner/Assertions.swift
  conformance/runner/swift/Sources/ConformanceRunner/Dispatch.swift
  conformance/runner/swift/Sources/ConformanceRunner/Fixtures.swift
  conformance/runner/swift/Sources/ConformanceRunner/Runner.swift
  conformance/runner/swift/Sources/ConformanceRunner/ScriptedTransport.swift
  conformance/runner/swift/Sources/ConformanceSupport/DelayGaps.swift
  conformance/runner/swift/Sources/ConformanceSupport/RequestIndex.swift
  conformance/runner/swift/Tests/ConformanceSupportTests/DelayGapsTests.swift
  conformance/runner/swift/Tests/ConformanceSupportTests/RequestIndexTests.swift
  conformance/tests/network-retry.json
Due: none

Count requests exactly, including where the SDK auto-paginates
  conformance/runner/swift/Sources/ConformanceRunner/Assertions.swift
  conformance/runner/swift/Sources/ConformanceRunner/Runner.swift
Due: none

Hold each operation to the endpoint its fixture names
  conformance/runner/swift/Sources/ConformanceRunner/Assertions.swift
  conformance/runner/swift/Sources/ConformanceRunner/Runner.swift
  conformance/runner/swift/Sources/ConformanceSupport/FixturePath.swift
  conformance/runner/swift/Tests/ConformanceSupportTests/FixturePathTests.swift
Due: none

Exempt the implicit invariants only where an assertion covers request zero
  conformance/runner/swift/Sources/ConformanceRunner/Assertions.swift
Due: none

Hold every hop to the fixture path, not just the first
  conformance/runner/swift/Sources/ConformanceRunner/Assertions.swift
  conformance/tests/downloads.json
  conformance/tests/uploads_download.json
Due: none

Require the account prefix, and follow the link the response actually gave
  conformance/runner/swift/Sources/ConformanceRunner/Assertions.swift
  conformance/runner/swift/Sources/ConformanceRunner/ScriptedTransport.swift
  conformance/runner/swift/Sources/ConformanceSupport/FixturePath.swift
  conformance/runner/swift/Tests/ConformanceSupportTests/FixturePathTests.swift
Due: none

Fail a fixture whose operation never reached the transport
  conformance/runner/swift/Sources/ConformanceRunner/Assertions.swift
Due: none

Check the method on every hop, matching the path invariant
  conformance/runner/swift/Sources/ConformanceRunner/Assertions.swift
Due: none

Verify Swift against the shared conformance fixtures (#558)
  .github/workflows/test.yml
  .gitignore
  Makefile
  SPEC.md
  conformance/runner/swift/Package.swift
  conformance/runner/swift/Sources/ConformanceRunner/Assertions.swift
  conformance/runner/swift/Sources/ConformanceRunner/Dispatch.swift
  conformance/runner/swift/Sources/ConformanceRunner/Fixtures.swift
  conformance/runner/swift/Sources/ConformanceRunner/Runner.swift
  conformance/runner/swift/Sources/ConformanceRunner/ScriptedTransport.swift
  conformance/runner/swift/Sources/ConformanceSupport/DelayGaps.swift
  conformance/runner/swift/Sources/ConformanceSupport/FixturePath.swift
  conformance/runner/swift/Sources/ConformanceSupport/RequestIndex.swift
  conformance/runner/swift/Tests/ConformanceSupportTests/DelayGapsTests.swift
  conformance/runner/swift/Tests/ConformanceSupportTests/FixturePathTests.swift
  conformance/runner/swift/Tests/ConformanceSupportTests/RequestIndexTests.swift
  conformance/tests/downloads.json
  conformance/tests/network-retry.json
  conformance/tests/uploads_download.json
Due: none

Spec, generators, and fixture for the Todolists triad
  behavior-model.json
  conformance/tests/todolists_write.json
  go/pkg/generated/client.gen.go
  kotlin/generator/src/main/kotlin/com/basecamp/sdk/generator/Config.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/Types.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/todolists.kt
  openapi.json
  python/scripts/generate_services.py
  python/src/basecamp/generated/services/todolists.py
  python/src/basecamp/generated/types.py
  ruby/lib/basecamp/generated/services/todolists_service.rb
  ruby/scripts/generate-services.rb
  spec/basecamp.smithy
  swift/Sources/Basecamp/Generated/Models/TodolistOrGroup.swift
  swift/Sources/Basecamp/Generated/Models/UpdateTodolistOrGroupRequest.swift
  swift/Sources/Basecamp/Generated/Services/TodolistsService.swift
  swift/Sources/BasecampGenerator/MethodNaming.swift
  swift/Sources/BasecampGenerator/ModelEmitter.swift
  typescript/scripts/generate-services.ts
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/schema.d.ts
  typescript/src/generated/services/todolists.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Stop the sparse todolist PUT from erasing the description
  AGENTS.md
  SPEC.md
  conformance/runner/go/main.go
  conformance/runner/python/runner.py
  conformance/runner/ruby/runner.rb
  conformance/runner/swift/Sources/ConformanceRunner/Dispatch.swift
  conformance/runner/typescript/runner.test.ts
  conformance/tests/todolists_write.json
  go/README.md
  go/pkg/basecamp/todolist_groups.go
  go/pkg/basecamp/todolist_groups_test.go
  go/pkg/basecamp/todolists.go
  go/pkg/basecamp/todolists_test.go
  kotlin/conformance/src/main/kotlin/com/basecamp/sdk/conformance/Main.kt
  kotlin/generator/src/main/kotlin/com/basecamp/sdk/generator/Config.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated-compat/UpdateTodolistBody.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/ServiceAccessors.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/todolists.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/services/TodolistsService.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/TodolistsServiceTest.kt
  python/src/basecamp/async_client.py
  python/src/basecamp/client.py
  python/src/basecamp/services/__init__.py
  python/src/basecamp/services/todolists.py
  python/tests/services/test_todolists_service.py
  ruby/lib/basecamp.rb
  ruby/lib/basecamp/services/todolists_extensions.rb
  ruby/test/basecamp/services/todolists_service_test.rb
  ruby/test/basecamp/zeitwerk_test.rb
  swift/Sources/Basecamp/TodolistsServiceExtensions.swift
  swift/Tests/BasecampTests/GeneratedServiceTests.swift
  swift/Tests/BasecampTests/TodolistsServiceExtensionsTests.swift
  typescript/src/client.ts
  typescript/src/index.ts
  typescript/src/services/todolists-extensions.ts
  typescript/tests/services/todolists.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Make the withheld-group-composite guard explain itself when it fires
  go/pkg/basecamp/todolist_groups_test.go
Due: go-test-short

Stop telling callers a group's description is ignored
  go/pkg/generated/client.gen.go
  openapi.json
  ruby/lib/basecamp/generated/services/todolists_service.rb
  spec/basecamp.smithy
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/schema.d.ts
  typescript/src/generated/services/todolists.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Stop a narrower union arm from masking a real decoding failure
  swift/Sources/Basecamp/Generated/Models/TodolistOrGroup.swift
  swift/Sources/BasecampGenerator/ModelEmitter.swift
  swift/Tests/BasecampTests/TodolistsServiceExtensionsTests.swift
Due: none

Refuse a malformed field instead of coercing it into the replace PUT
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/services/TodolistsService.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/TodolistsServiceTest.kt
Due: none
