Repository basecamp/basecamp-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-test-short, typescript-lint, typescript-typecheck

go-test-short:
  name: go test -short
  entry: bash -c 'cd go && go test -short ./...'
  language: system
  pass_filenames: false
  stages:
  - push

typescript-lint:
  name: typescript lint
  entry: bash -c 'cd typescript && npm run lint --if-present'
  language: system
  pass_filenames: false
  stages:
  - commit

typescript-typecheck:
  name: typescript typecheck
  entry: bash -c 'cd typescript && npm run typecheck --if-present'
  language: system
  pass_filenames: false
  stages:
  - push

Assert the skipped property per loop, not just once
  swift/Tests/BasecampTests/PublicInitCoverageTests.swift
Due: none

Stop the roster scan from accepting Codable's initializer
  swift/Tests/BasecampTests/PublicInitCoverageTests.swift
Due: none

Lock the two halves of a wrapped-paginated signature together
  typescript/scripts/generate-services.ts
  typescript/tests/generator/pagination-return-type.test.ts
Due: typescript-lint, typescript-typecheck

Keep the ListResult wrapper on paginated arrays whose entity has no alias, and typecheck the tests (#754)
  typescript/README.md
  typescript/package.json
  typescript/scripts/generate-services.ts
  typescript/src/generated/services/checkins.ts
  typescript/src/generated/services/gauges.ts
  typescript/src/generated/services/search.ts
  typescript/tests/auth-strategy.test.ts
  typescript/tests/client.test.ts
  typescript/tests/generator/pagination-return-type.test.ts
  typescript/tests/hooks.test.ts
  typescript/tests/integration.test.ts
  typescript/tests/middleware-lifecycle.test.ts
  typescript/tests/security.test.ts
  typescript/tests/services/boosts.test.ts
  typescript/tests/services/cards.test.ts
  typescript/tests/services/client-visibility.test.ts
  typescript/tests/services/comments.test.ts
  typescript/tests/services/documents.test.ts
  typescript/tests/services/gauges.test.ts
  typescript/tests/services/hill-charts.test.ts
  typescript/tests/services/messages.test.ts
  typescript/tests/services/my-notifications.test.ts
  typescript/tests/services/recordings.test.ts
  typescript/tests/services/schedules.test.ts
  typescript/tests/services/search.test.ts
  typescript/tests/services/subscriptions.test.ts
  typescript/tests/services/todolists.test.ts
  typescript/tests/services/todos.test.ts
  typescript/tests/services/tools.test.ts
  typescript/tests/services/uploads.test.ts
  typescript/tests/services/vaults.test.ts
  typescript/tests/types/paginated-returns.test-d.ts
  typescript/tsconfig.test.json
Due: typescript-lint, typescript-typecheck

Give every generated Swift model a public init, and build a consumer that would have caught it (#749)
  swift/Package.swift
  swift/Sources/Basecamp/Generated/Models/AccountLimits.swift
  swift/Sources/Basecamp/Generated/Models/AccountLogo.swift
  swift/Sources/Basecamp/Generated/Models/AccountSettings.swift
  swift/Sources/Basecamp/Generated/Models/AccountSubscription.swift
  swift/Sources/Basecamp/Generated/Models/CampfireLineAttachment.swift
  swift/Sources/Basecamp/Generated/Models/ClientApprovalResponse.swift
  swift/Sources/Basecamp/Generated/Models/ClientSide.swift
  swift/Sources/Basecamp/Generated/Models/CreateAttachmentResponseContent.swift
  swift/Sources/Basecamp/Generated/Models/DoorService.swift
  swift/Sources/Basecamp/Generated/Models/EventDetails.swift
  swift/Sources/Basecamp/Generated/Models/EverythingFile.swift
  swift/Sources/Basecamp/Generated/Models/GaugeNeedleUpdatePayload.swift
  swift/Sources/Basecamp/Generated/Models/GetAssignedTodosResponseContent.swift
  swift/Sources/Basecamp/Generated/Models/GetMyAssignmentsResponseContent.swift
  swift/Sources/Basecamp/Generated/Models/GetOverdueTodosResponseContent.swift
  swift/Sources/Basecamp/Generated/Models/GetPersonProgressResponseContent.swift
  swift/Sources/Basecamp/Generated/Models/OutOfOffice.swift
  swift/Sources/Basecamp/Generated/Models/PauseQuestionResponseContent.swift
  swift/Sources/Basecamp/Generated/Models/Preferences.swift
  swift/Sources/Basecamp/Generated/Models/PreferencesPayload.swift
  swift/Sources/Basecamp/Generated/Models/PreviewableAttachment.swift
  swift/Sources/Basecamp/Generated/Models/ProjectAccessResult.swift
  swift/Sources/Basecamp/Generated/Models/QuestionReminder.swift
  swift/Sources/Basecamp/Generated/Models/QuestionSchedule.swift
  swift/Sources/Basecamp/Generated/Models/ResumeQuestionResponseContent.swift
  swift/Sources/Basecamp/Generated/Models/ScheduleAttributes.swift
  swift/Sources/Basecamp/Generated/Models/TimelineAttachment.swift
  swift/Sources/Basecamp/Generated/Models/TimelineEvent.swift
  swift/Sources/Basecamp/Generated/Models/UpdateQuestionNotificationSettingsResponseContent.swift
  swift/Sources/Basecamp/Generated/Models/WebhookCopy.swift
  swift/Sources/Basecamp/Generated/Models/WebhookCopyBucket.swift
  swift/Sources/Basecamp/Generated/Models/WebhookDelivery.swift
  swift/Sources/Basecamp/Generated/Models/WebhookDeliveryRequest.swift
  swift/Sources/Basecamp/Generated/Models/WebhookDeliveryResponse.swift
  swift/Sources/Basecamp/Generated/Models/WebhookEvent.swift
  swift/Sources/BasecampGenerator/ModelEmitter.swift
  swift/Sources/BasecampPublicAPIConsumer/PublicAPIConsumer.swift
  swift/Tests/BasecampTests/PublicInitCoverageTests.swift
Due: none

Check that an operation lands on the same service in every SDK
  .github/workflows/test.yml
  Makefile
  scripts/check-operation-assignment-parity
  scripts/test-check-operation-assignment-parity.rb
Due: none

Say what the key actually is, and drop a branch that cannot be reached
  scripts/check-operation-assignment-parity
Due: none

Check that an operation lands on the same service in every SDK (#771)
  .github/workflows/test.yml
  Makefile
  scripts/check-operation-assignment-parity
  scripts/test-check-operation-assignment-parity.rb
Due: none

Carry the marker across the composites' restatement
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/BasecampException.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/services/DocumentsService.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/services/SchedulesService.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/services/TodolistsService.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/DocumentsServiceTest.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/SchedulesServiceTest.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/TodolistsServiceTest.kt
Due: none

Answer Swift's malformed-body question structurally, not by substring
  conformance/runner/swift/Sources/ConformanceRunner/Runner.swift
  swift/README.md
  swift/Sources/Basecamp/BasecampError.swift
  swift/Sources/Basecamp/DocumentsServiceExtensions.swift
  swift/Sources/Basecamp/Download.swift
  swift/Sources/Basecamp/SchedulesServiceExtensions.swift
  swift/Sources/Basecamp/Services/BaseService.swift
  swift/Sources/Basecamp/TodolistsServiceExtensions.swift
  swift/Tests/BasecampTests/DecodeIsolationTests.swift
  swift/Tests/BasecampTests/DocumentsServiceExtensionsTests.swift
  swift/Tests/BasecampTests/ErrorTests.swift
  swift/Tests/BasecampTests/PaginationTests.swift
  swift/Tests/BasecampTests/SchedulesServiceExtensionsTests.swift
  swift/Tests/BasecampTests/TodolistsServiceExtensionsTests.swift
  swift/Tests/BasecampTests/TransportNetworkErrorRetryTests.swift
  swift/Tests/BasecampTests/UpcomingScheduleDecodeTests.swift
Due: none

Keep the decode failure reachable in the four dynamic SDKs
  go/pkg/basecamp/documents.go
  go/pkg/basecamp/documents_test.go
  go/pkg/basecamp/schedules.go
  go/pkg/basecamp/schedules_test.go
  python/src/basecamp/errors.py
  python/tests/test_malformed_body.py
  ruby/lib/basecamp/http.rb
  ruby/test/basecamp/http_test.rb
  typescript/src/services/base.ts
  typescript/tests/services/base.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Finish #730 in the module it was still broken in
  kotlin/conformance/src/main/kotlin/com/basecamp/sdk/conformance/Main.kt
  kotlin/conformance/src/main/kotlin/com/basecamp/sdk/conformance/MalformedBody.kt
  kotlin/conformance/src/test/kotlin/com/basecamp/sdk/conformance/MalformedBodyTest.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/BasecampException.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/services/BaseService.kt
Due: none

Record the Swift break, and correct the entry that promised it would not happen
  MIGRATING.md
Due: none

Restore the shape guard Python's sweep lost in translation
  python/scripts/generate_services.py
Due: none

Run the stale-file sweep in a test, since no other gate does
  python/tests/test_generate_services_sweep.py
Due: none

Run the same Python drift check in CI that `make` runs
  .github/workflows/test.yml
Due: none

Sweep stale modules in the one service generator that never did
  python/scripts/generate_services.py
Due: none

Ask the BasecampClient interface the reverse question too
  typescript/tests/types/accessor-inventory.test-d.ts
Due: typescript-lint, typescript-typecheck

Retire the dated service counts the accessor tests now hold
  SPEC.md
  scripts/check-service-inventory-parity
  scripts/test-check-service-inventory-parity.rb
Due: none

Ask TypeScript and Ruby whether their clients reach what was generated
  ruby/test/basecamp/accessor_inventory_test.rb
  typescript/tests/accessor-inventory.test.ts
  typescript/tests/types/accessor-inventory.test-d.ts
Due: typescript-lint, typescript-typecheck

Sweep from the record the generator keeps, not from the text it wrote
  python/scripts/generate_services.py
  python/tests/test_generate_services_sweep.py
  scripts/check-service-inventory-parity
Due: none

Refuse only the body that is not JSON, not the read that failed
  typescript/src/services/base.ts
  typescript/tests/services/base.test.ts
Due: typescript-lint, typescript-typecheck

Name both producers of the marker, now that there are two
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/BasecampException.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/services/BaseService.kt
Due: none

Ask the interface which service each accessor actually is
  typescript/tests/types/accessor-inventory.test-d.ts
Due: typescript-lint, typescript-typecheck

Run the drift script in the release workflow too
  .github/workflows/release-python.yml
Due: none

Finish the two-producer correction the last commit started
  MIGRATING.md
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/BasecampException.kt
Due: none

Sweep while the record that authorises it is still on disk
  python/scripts/generate_services.py
  python/tests/test_generate_services_sweep.py
Due: none

Describe the sweep SPEC now has, not the one it briefly had
  SPEC.md
Due: none

Sweep stale Python modules, and ask TS and Ruby whether their clients reach what was generated (#770)
  .github/workflows/release-python.yml
  .github/workflows/test.yml
  SPEC.md
  python/scripts/generate_services.py
  python/tests/test_generate_services_sweep.py
  ruby/test/basecamp/accessor_inventory_test.rb
  scripts/check-service-inventory-parity
  scripts/test-check-service-inventory-parity.rb
  typescript/tests/accessor-inventory.test.ts
  typescript/tests/types/accessor-inventory.test-d.ts
Due: typescript-lint, typescript-typecheck

Give a malformed response body one structural marker in all six SDKs (#772)
  MIGRATING.md
  conformance/runner/swift/Sources/ConformanceRunner/Runner.swift
  go/pkg/basecamp/documents.go
  go/pkg/basecamp/documents_test.go
  go/pkg/basecamp/schedules.go
  go/pkg/basecamp/schedules_test.go
  kotlin/conformance/src/main/kotlin/com/basecamp/sdk/conformance/Main.kt
  kotlin/conformance/src/main/kotlin/com/basecamp/sdk/conformance/MalformedBody.kt
  kotlin/conformance/src/test/kotlin/com/basecamp/sdk/conformance/MalformedBodyTest.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/BasecampException.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/services/BaseService.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/services/DocumentsService.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/services/SchedulesService.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/services/TodolistsService.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/DocumentsServiceTest.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/SchedulesServiceTest.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/TodolistsServiceTest.kt
  python/src/basecamp/errors.py
  python/tests/test_malformed_body.py
  ruby/lib/basecamp/http.rb
  ruby/test/basecamp/http_test.rb
  swift/README.md
  swift/Sources/Basecamp/BasecampError.swift
  swift/Sources/Basecamp/DocumentsServiceExtensions.swift
  swift/Sources/Basecamp/Download.swift
  swift/Sources/Basecamp/SchedulesServiceExtensions.swift
  swift/Sources/Basecamp/Services/BaseService.swift
  swift/Sources/Basecamp/TodolistsServiceExtensions.swift
  swift/Tests/BasecampTests/DecodeIsolationTests.swift
  swift/Tests/BasecampTests/DocumentsServiceExtensionsTests.swift
  swift/Tests/BasecampTests/ErrorTests.swift
  swift/Tests/BasecampTests/PaginationTests.swift
  swift/Tests/BasecampTests/SchedulesServiceExtensionsTests.swift
  swift/Tests/BasecampTests/TodolistsServiceExtensionsTests.swift
  swift/Tests/BasecampTests/TransportNetworkErrorRetryTests.swift
  swift/Tests/BasecampTests/UpcomingScheduleDecodeTests.swift
  typescript/src/services/base.ts
  typescript/tests/services/base.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Stop stamping a body that never arrived as a permanently malformed one
  go/pkg/basecamp/documents.go
  go/pkg/basecamp/documents_test.go
  go/pkg/basecamp/schedules.go
  go/pkg/basecamp/schedules_test.go
  go/pkg/basecamp/vaults.go
Due: go-test-short

Mark the failed read instead of inferring it from the error
  go/pkg/basecamp/documents.go
  go/pkg/basecamp/documents_test.go
  go/pkg/basecamp/schedules.go
  go/pkg/basecamp/schedules_test.go
  go/pkg/basecamp/vaults.go
Due: go-test-short

Decode a Kotlin wrapped-pagination envelope inside the primitive that fetched it
  kotlin/generator/src/main/kotlin/com/basecamp/sdk/generator/ServiceEmitter.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/reports.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/serialization/WrapperMembers.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/services/BaseService.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/DecodeIsolationTest.kt
Due: none

Refuse an incomplete Swift wrapper instead of answering it with an empty list
  swift/Sources/Basecamp/Generated/Services/ReportsService.swift
  swift/Sources/Basecamp/Services/BaseService.swift
  swift/Sources/BasecampGenerator/ServiceEmitter.swift
  swift/Tests/BasecampTests/DecodeIsolationTests.swift
Due: none

Retire the last SPEC §6 carve-out, now that nothing is outside the boundary
  MIGRATING.md
  SPEC.md
Due: none

Say four cases where the test now has four
  go/pkg/basecamp/documents_test.go
Due: go-test-short

Tell a body that never arrived apart from one that will not decode (#779)
  go/pkg/basecamp/documents.go
  go/pkg/basecamp/documents_test.go
  go/pkg/basecamp/schedules.go
  go/pkg/basecamp/schedules_test.go
  go/pkg/basecamp/vaults.go
Due: go-test-short

Stop pinning how one Swift toolchain renders a DecodingError
  swift/Tests/BasecampTests/DecodeIsolationTests.swift
Due: none

Make the Retry-After fixture able to fail, and say what it still cannot see
  SPEC.md
  conformance/tests/retry.json
Due: none

Give Kotlin's Retry-After parser the HTTP-date form the other five have
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/Pagination.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/PaginationTest.kt
Due: none

Path conditions:
  go-test-short: any of: \.go$
  typescript-lint: any of: ^typescript/.*\.(ts|tsx)$
  typescript-typecheck: any of: ^typescript/.*\.(ts|tsx)$
