Repository basecamp/basecamp-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-test-short, typescript-lint, typescript-typecheck

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
      - id: detect-private-key
      - id: check-case-conflict

  - repo: https://github.com/golangci/golangci-lint
    rev: v1.62.2
    hooks:
      - id: golangci-lint
        args: [--timeout=5m, --config=go/.golangci.yml]
        files: ^go/

  - repo: https://github.com/tekwizely/pre-commit-golang
    rev: v1.0.0-rc.1
    hooks:
      - id: go-fmt
        files: ^go/
      - id: go-vet
        files: ^go/
      - id: go-mod-tidy
        files: ^go/

  - repo: local
    hooks:
      - id: go-test-short
        name: go test -short
        entry: bash -c 'cd go && go test -short ./...'
        language: system
        pass_filenames: false
        types: [go]
        stages: [push]

      - id: typescript-lint
        name: typescript lint
        entry: bash -c 'cd typescript && npm run lint --if-present'
        language: system
        pass_filenames: false
        files: ^typescript/.*\.(ts|tsx)$
        stages: [commit]

      - id: typescript-typecheck
        name: typescript typecheck
        entry: bash -c 'cd typescript && npm run typecheck --if-present'
        language: system
        pass_filenames: false
        files: ^typescript/.*\.(ts|tsx)$
        stages: [push]

test(python): converge -- narrow the Go claim, stop refusing __getattr__, record two more limits
  python/tests/test_errors.py
Due: none

Event feed: fixture 32's continuation carries the walk's filters, and a live item's transport keys are optional in the README
  conformance/event-feed/README.md
  conformance/event-feed/fixtures/32-inbox-lane-dedupes-by-addressing-id.json
Due: none

The retryable regression sweep passes while the invariant leaks (#909)
  MIGRATING.md
  python/tests/test_errors.py
Due: none

Say how a generated walk goes red, not only that it would
  SPEC.md
  conformance/tests/event_feed.json
  spec/basecamp-traits.smithy
Due: none

Scope the Go guard to the walk it actually catches
  spec/basecamp-traits.smithy
Due: none

Rust passes these cases on a flip; say what guards it there
  SPEC.md
  conformance/tests/event_feed.json
  spec/basecamp-traits.smithy
Due: none

Ruby fails on an error, not on count; and the client refuses, not the mock
  SPEC.md
  conformance/tests/event_feed.json
  spec/basecamp-traits.smithy
Due: none

The event feed's paging is declared as an absence (#914)
  SPEC.md
  behavior-model.json
  conformance/tests/event_feed.json
  openapi.json
  python/src/basecamp/generated/services/event_feed.py
  ruby/lib/basecamp/generated/metadata.json
  ruby/lib/basecamp/generated/types.rb
  rust/basecamp-sdk/src/generated/routes.rs
  rust/basecamp-sdk/src/generated/services/event_feed.rs
  rust/basecamp-sdk/tests/guarantees.rs
  spec/basecamp-traits.smithy
  spec/basecamp.smithy
  typescript/src/generated/metadata.ts
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/schema.d.ts
Due: typescript-lint, typescript-typecheck

docs(spec): the reference finds an embedded person two ways, not one
  SPEC.md
Due: none

test(ruby): pin the gid rule's refusal of a sign, and its acceptance of zeros
  ruby/test/basecamp/mentions_test.rb
Due: none

test(rust): pin "010" as ten, the row the cross-SDK trap turns on
  rust/basecamp-sdk/src/types.rs
Due: none

fix(go): normalize a person id to a number the JSON encoder can write
  go/pkg/basecamp/normalize.go
  go/pkg/basecamp/person_id_grammar_test.go
Due: go-test-short

fix(typescript): normalize an embedded person that omits personable_type
  typescript/src/services/base.ts
  typescript/tests/services/person-id-normalization.test.ts
Due: typescript-lint, typescript-typecheck

test(typescript): pin the gid rule directly, in both directions
  SPEC.md
  typescript/tests/services/mentions.test.ts
Due: typescript-lint, typescript-typecheck

fix(kotlin): a sentinel id's system_label must not lose to the body's own
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/serialization/NormalizePersonIds.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/FlexibleLongSerializerTest.kt
Due: none

fix(python): read a person id with Go's ParseInt, not Python's int()
  python/src/basecamp/_person_id.py
  python/src/basecamp/generated/services/_async_base.py
  python/src/basecamp/generated/services/_base.py
  python/src/basecamp/mentions.py
  python/src/basecamp/services/_campfire_index.py
  python/tests/person_id_corpus.py
  python/tests/services/test_notifications.py
  python/tests/services/test_recordings_summarize.py
  python/tests/test_person_id.py
Due: none

fix(typescript): read a person id with Go's ParseInt, and stop naming the system actor
  typescript/src/person-id.ts
  typescript/src/services/base.ts
  typescript/src/services/mentions.ts
  typescript/tests/helpers/person-id-corpus.ts
  typescript/tests/services/mentions.test.ts
  typescript/tests/services/my-notifications.test.ts
  typescript/tests/services/person-id-normalization.test.ts
Due: typescript-lint, typescript-typecheck

fix(swift): read a person id with Go's ParseInt scan, not Int() plus an ICU regex
  swift/Sources/Basecamp/FlexibleInt.swift
  swift/Sources/Basecamp/Mentions.swift
  swift/Sources/Basecamp/Services/BaseService.swift
  swift/Tests/BasecampTests/FlexibleIntTests.swift
Due: none

fix(python): normalize an embedded person that omits personable_type
  python/src/basecamp/_person_id.py
  python/src/basecamp/generated/services/_async_base.py
  python/src/basecamp/generated/services/_base.py
  python/tests/services/test_recordings_summarize.py
  python/tests/services/test_schedules.py
  python/tests/test_person_id.py
Due: none

fix(kotlin): read a person id with Go's ParseInt scan, not toLongOrNull
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/Mentions.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/serialization/FlexibleLongSerializer.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/serialization/NormalizePersonIds.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/serialization/ParseInt64.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/FlexibleLongSerializerTest.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/MentionsTest.kt
Due: none

fix(ruby): decide a person id's refusal by Go's scan order, not by its shape
  ruby/lib/basecamp/http.rb
  ruby/lib/basecamp/ids.rb
  ruby/test/basecamp/ids_test.rb
  ruby/test/basecamp/normalize_person_ids_test.rb
  ruby/test/test_helper.rb
Due: none

fix(swift): the number path has no sentinel either, so stop answering the system actor
  swift/Sources/Basecamp/FlexibleInt.swift
  swift/Tests/BasecampTests/FlexibleIntTests.swift
Due: none

docs(spec): state the person-id rule, and which disagreement is deliberate
  SPEC.md
Due: none

test: pin both halves of the positional-pass gate, and anchor it to the path
  python/src/basecamp/_person_id.py
  python/src/basecamp/generated/services/_async_base.py
  python/src/basecamp/generated/services/_base.py
  python/tests/test_person_id.py
  ruby/lib/basecamp/http.rb
  ruby/test/basecamp/normalize_person_ids_test.rb
  typescript/tests/services/person-id-normalization.test.ts
Due: typescript-lint, typescript-typecheck

fix(typescript): count each unnameable mention once, and none on a plain-text line
  typescript/src/services/mentions.ts
  typescript/src/services/recordings-extensions.ts
  typescript/tests/services/mentions.test.ts
  typescript/tests/services/recordings-summarize.test.ts
Due: typescript-lint, typescript-typecheck

docs: say what Go's summary actually does, and list the whole decoder gap
  SPEC.md
  python/tests/services/test_recordings_summarize.py
Due: none

fix: run the positional person-id pass only where the reference runs it
  python/src/basecamp/_person_id.py
  python/src/basecamp/generated/services/_async_base.py
  python/src/basecamp/generated/services/_base.py
  python/tests/services/test_recordings_summarize.py
  python/tests/services/test_schedules.py
  python/tests/test_person_id.py
  ruby/lib/basecamp/http.rb
  ruby/test/basecamp/normalize_person_ids_test.rb
  ruby/test/basecamp/services/schedules_service_test.rb
  typescript/src/services/base.ts
  typescript/tests/services/person-id-normalization.test.ts
  typescript/tests/services/todos.test.ts
Due: typescript-lint, typescript-typecheck

docs(spec): state where the positional pass runs, and the mention trade-off
  SPEC.md
Due: none

fix(ruby): normalize an embedded person that omits personable_type, and stop to_i minting a bignum id
  ruby/lib/basecamp/generated/types.rb
  ruby/lib/basecamp/http.rb
  ruby/scripts/generate-types.rb
  ruby/test/basecamp/generated_types_test.rb
  ruby/test/basecamp/normalize_person_ids_test.rb
  ruby/test/basecamp/services/schedules_service_test.rb
Due: none

fix(kotlin): the number path has no sentinel either, and 007 is not a JSON integer
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/serialization/FlexibleLongSerializer.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/services/BaseService.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/DecodeIsolationTest.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/FlexibleLongSerializerTest.kt
Due: none

docs: two comments claimed the reference leaves an assignee id alone; it does not
  python/tests/test_person_id.py
  ruby/lib/basecamp/http.rb
Due: none

perf(python): scan a signed person id from an offset instead of copying it
  python/src/basecamp/_person_id.py
Due: none

test(typescript): a tagged person id past 2^53 is refused, not the system actor
  typescript/tests/services/recordings-summarize.test.ts
Due: typescript-lint, typescript-typecheck

docs(python): TypeScript also keeps a nameless id-0 creator that Go omits
  python/tests/services/test_recordings_summarize.py
Due: none

fix(typescript): skip a mention no number can carry, and say so on the summary
  typescript/src/index.ts
  typescript/src/services/mentions.ts
  typescript/src/services/recordings-extensions.ts
  typescript/tests/services/mentions.test.ts
  typescript/tests/services/recordings-summarize.test.ts
Due: typescript-lint, typescript-typecheck

fix(typescript): derive the Person-valued keys from the spec, and refuse a mention it cannot name
  typescript/src/services/base.ts
  typescript/src/services/mentions.ts
  typescript/tests/services/mentions.test.ts
  typescript/tests/services/person-id-normalization.test.ts
  typescript/tests/services/todos.test.ts
Due: typescript-lint, typescript-typecheck

Event feed: the normative dedupe contract names the lane's identity, and an inbound actor type is any non-empty string
  SPEC.md
  conformance/event-feed/schema.json
Due: none

Read a person id at the write guard the way the reference reads one
  python/src/basecamp/services/_merge_safe.py
  python/tests/services/test_schedules.py
  python/tests/services/test_todos.py
  ruby/lib/basecamp/services/merge_safe.rb
  ruby/test/basecamp/services/schedules_service_test.rb
  ruby/test/basecamp/services/todos_service_test.rb
  typescript/src/services/merge-safe.ts
  typescript/tests/services/schedules.test.ts
  typescript/tests/services/todos.test.ts
Due: typescript-lint, typescript-typecheck

Pin the TypeScript guard on its own, and stop overstating why it is needed
  python/src/basecamp/_person_id.py
  python/src/basecamp/services/_merge_safe.py
  python/tests/services/test_todos.py
  ruby/lib/basecamp/http.rb
  ruby/lib/basecamp/services/merge_safe.rb
  ruby/test/basecamp/services/todos_service_test.rb
  typescript/src/person-id.ts
  typescript/src/services/merge-safe.ts
  typescript/tests/services/merge-safe.test.ts
  typescript/tests/services/todos.test.ts
Due: typescript-lint, typescript-typecheck
