Repository basecamp/basecamp-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-test-short, typescript-lint, typescript-typecheck

go-test-short:
  name: go test -short
  entry: bash -c 'cd go && go test -short ./...'
  language: system
  pass_filenames: false
  stages:
  - push

typescript-lint:
  name: typescript lint
  entry: bash -c 'cd typescript && npm run lint --if-present'
  language: system
  pass_filenames: false
  stages:
  - commit

typescript-typecheck:
  name: typescript typecheck
  entry: bash -c 'cd typescript && npm run typecheck --if-present'
  language: system
  pass_filenames: false
  stages:
  - push

Pin the events route's resource label in the router test
  go/pkg/basecamp/url_test.go
Due: go-test-short

Write the feed refusal up for consumers who will not see it break
  MIGRATING.md
Due: none

Say which generators reach the Events service through the tag, and which does not
  spec/overlays/tags.smithy
Due: none

Walk the body once, and refuse a name it uses twice
  SPEC.md
  go/pkg/basecamp/event_feed.go
  go/pkg/basecamp/event_feed_test.go
Due: go-test-short

Exempt details by path, not by name
  SPEC.md
  go/pkg/basecamp/event_feed.go
  go/pkg/basecamp/event_feed_test.go
Due: go-test-short

Reattach checkPollPage's comment to checkPollPage
  go/pkg/basecamp/event_feed.go
Due: go-test-short

Carry the path the details exemption needs, not the whole path
  SPEC.md
  go/pkg/basecamp/event_feed.go
  go/pkg/basecamp/event_feed_test.go
Due: go-test-short

Scope #922's paragraph to the six it describes
  spec/overlays/tags.smithy
Due: none

Exempt the details path of the operation's own lane
  SPEC.md
  go/pkg/basecamp/event_feed.go
  go/pkg/basecamp/event_feed_test.go
Due: go-test-short

Pin what the body-read marker is for, on both lanes
  go/pkg/basecamp/event_feed_test.go
Due: go-test-short

Tag a recording's event history as Recordings, not Automation (#929)
  go/pkg/basecamp/catalog/catalog.json
  go/pkg/basecamp/url-routes.json
  go/pkg/basecamp/url_test.go
  kotlin/generator/src/main/kotlin/com/basecamp/sdk/generator/Config.kt
  openapi.json
  python/scripts/generate_services.py
  ruby/scripts/generate-services.rb
  spec/overlays/tags.smithy
  swift/Sources/BasecampGenerator/ServiceGrouper.swift
  typescript/scripts/generate-services.ts
  typescript/src/generated/openapi-stripped.json
Due: go-test-short, typescript-lint, typescript-typecheck

Validate the event feed's decoded bodies at the wrapper's decode (#924)
  MIGRATING.md
  SPEC.md
  go/pkg/basecamp/event_feed.go
  go/pkg/basecamp/event_feed_test.go
  go/pkg/basecamp/eventfeed/live.go
  go/pkg/basecamp/eventfeed/live_test.go
  go/pkg/basecamp/eventfeed/loop_test.go
  spec/tracking-issues.yml
Due: go-test-short

Find operations by what they are not, so no verb can drop one in silence
  .github/workflows/test.yml
  Makefile
  kotlin/generator/src/main/kotlin/com/basecamp/sdk/generator/Main.kt
  kotlin/generator/src/main/kotlin/com/basecamp/sdk/generator/OperationParser.kt
  kotlin/generator/src/main/kotlin/com/basecamp/sdk/generator/PathItems.kt
  kotlin/generator/src/test/kotlin/com/basecamp/sdk/generator/PaginationStyleTest.kt
  python/scripts/gen_common.py
  python/scripts/generate_metadata.py
  python/scripts/generate_services.py
  ruby/scripts/generate-metadata.rb
  ruby/scripts/generate-services.rb
  rust/generator/src/main.rs
  rust/generator/src/model.rs
  scripts/check-operation-assignment-parity
  scripts/check-required-tags.rb
  scripts/gen-catalog/main.go
  scripts/generate-url-routes
  scripts/test-check-operation-assignment-parity.rb
  scripts/test-generator-verb-inversion.rb
  spec/generated-verbs.json
  spec/tracking-issues.yml
  swift/Sources/BasecampGenerator/OpenAPIParser.swift
  swift/Sources/BasecampGenerator/PathItems.swift
  swift/Sources/BasecampGenerator/main.swift
  typescript/scripts/extract-metadata.ts
  typescript/scripts/extract-person-id-sites.ts
  typescript/scripts/generate-services.ts
  typescript/scripts/path-items.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Point the TypeScript and Rust generator harnesses at the declaration
  ruby/scripts/generate-metadata.rb
  ruby/scripts/generate-services.rb
  rust/generator/src/model.rs
  rust/generator/tests/fixtures.rs
  scripts/check-typescript-service-drift.sh
  typescript/scripts/generate-services.ts
  typescript/scripts/path-items.ts
Due: typescript-lint, typescript-typecheck

Find operations by what they are not, so no HTTP verb can drop one in silence (#931)
  .github/workflows/test.yml
  Makefile
  kotlin/generator/src/main/kotlin/com/basecamp/sdk/generator/Main.kt
  kotlin/generator/src/main/kotlin/com/basecamp/sdk/generator/OperationParser.kt
  kotlin/generator/src/main/kotlin/com/basecamp/sdk/generator/PathItems.kt
  kotlin/generator/src/test/kotlin/com/basecamp/sdk/generator/PaginationStyleTest.kt
  python/scripts/gen_common.py
  python/scripts/generate_metadata.py
  python/scripts/generate_services.py
  ruby/scripts/generate-metadata.rb
  ruby/scripts/generate-services.rb
  rust/generator/src/main.rs
  rust/generator/src/model.rs
  rust/generator/tests/fixtures.rs
  scripts/check-operation-assignment-parity
  scripts/check-required-tags.rb
  scripts/check-typescript-service-drift.sh
  scripts/gen-catalog/main.go
  scripts/generate-url-routes
  scripts/test-check-operation-assignment-parity.rb
  scripts/test-generator-verb-inversion.rb
  spec/generated-verbs.json
  spec/tracking-issues.yml
  swift/Sources/BasecampGenerator/OpenAPIParser.swift
  swift/Sources/BasecampGenerator/PathItems.swift
  swift/Sources/BasecampGenerator/main.swift
  typescript/scripts/extract-metadata.ts
  typescript/scripts/extract-person-id-sites.ts
  typescript/scripts/generate-services.ts
  typescript/scripts/path-items.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Split the Automation catch-all into six real domains
  go/pkg/basecamp/catalog/catalog.json
  go/pkg/basecamp/url-routes.json
  go/pkg/basecamp/url_test.go
  kotlin/generator/src/main/kotlin/com/basecamp/sdk/generator/Config.kt
  openapi.json
  python/scripts/generate_services.py
  ruby/scripts/generate-services.rb
  rust/generator/names.toml
  spec/overlays/tags.smithy
  swift/Sources/BasecampGenerator/ServiceGrouper.swift
  typescript/scripts/generate-services.ts
  typescript/src/generated/openapi-stripped.json
Due: go-test-short, typescript-lint, typescript-typecheck

Stop naming Automation as an example of a coarse tag
  SPEC.md
Due: none

Carry the service drop through Appendix F and two stale asides
  SPEC.md
  scripts/sync-doc-constants.rb
  spec/overlays/tags.smithy
Due: none

Document the two public fields that carry the tag
  MIGRATING.md
  README.md
Due: none

Point the v0.19.0 roster at where that accessor went
  MIGRATING.md
Due: none

Say what a verb IS, so six loaders cannot disagree about what it is not
  kotlin/generator/src/main/kotlin/com/basecamp/sdk/generator/PathItems.kt
  python/scripts/gen_common.py
  ruby/scripts/generate-metadata.rb
  ruby/scripts/generate-services.rb
  rust/generator/src/main.rs
  scripts/test-compiled-generator-refusal
  scripts/test-generator-verb-inversion.rb
  swift/Sources/BasecampGenerator/PathItems.swift
  typescript/scripts/path-items.ts
Due: typescript-lint, typescript-typecheck

Compare the sentinels by content, and read the declaration the same way six times
  python/scripts/gen_common.py
  ruby/scripts/generate-metadata.rb
  ruby/scripts/generate-services.rb
  scripts/test-compiled-generator-refusal
  scripts/test-generator-verb-inversion.rb
  swift/Sources/BasecampGenerator/PathItems.swift
  typescript/scripts/path-items.ts
Due: typescript-lint, typescript-typecheck

Make the refusal total: no PATCH, no map fields, no destroyed output
  .github/workflows/test.yml
  Makefile
  kotlin/generator/src/main/kotlin/com/basecamp/sdk/generator/Main.kt
  kotlin/generator/src/main/kotlin/com/basecamp/sdk/generator/PathItems.kt
  python/scripts/gen_common.py
  ruby/scripts/generate-metadata.rb
  ruby/scripts/generate-services.rb
  rust/generator/src/main.rs
  rust/generator/src/model.rs
  scripts/generate-url-routes
  scripts/test-compiled-generator-refusal
  scripts/test-generator-verb-inversion.rb
  spec/generated-verbs.json
  swift/Sources/BasecampGenerator/OpenAPIParser.swift
  swift/Sources/BasecampGenerator/PathItems.swift
  typescript/scripts/path-items.ts
Due: typescript-lint, typescript-typecheck

Prove the compiled generators read the declaration, not a private list
  scripts/test-compiled-generator-refusal
  scripts/test-generator-verb-inversion.rb
Due: none

Refuse an operation with no operationId, in all six walkers
  kotlin/generator/src/main/kotlin/com/basecamp/sdk/generator/PathItems.kt
  python/scripts/gen_common.py
  python/scripts/generate_metadata.py
  python/scripts/generate_services.py
  ruby/scripts/generate-metadata.rb
  ruby/scripts/generate-services.rb
  rust/generator/src/model.rs
  scripts/test-check-gradle-serialization.rb
  scripts/test-compiled-generator-refusal
  scripts/test-generator-verb-inversion.rb
  swift/Sources/BasecampGenerator/OpenAPIParser.swift
  swift/Sources/BasecampGenerator/PathItems.swift
  typescript/scripts/extract-metadata.ts
  typescript/scripts/extract-person-id-sites.ts
  typescript/scripts/path-items.ts
Due: typescript-lint, typescript-typecheck

Kotlin must read operationId as a string, not as whatever renders
  kotlin/generator/src/main/kotlin/com/basecamp/sdk/generator/PathItems.kt
  scripts/test-compiled-generator-refusal
Due: none

Read every input before deleting anything, and walk the last path-item walker
  kotlin/generator/src/main/kotlin/com/basecamp/sdk/generator/Main.kt
  scripts/test-generator-verb-inversion.rb
  typescript/scripts/generate-path-mapping.ts
Due: typescript-lint, typescript-typecheck

One validator, six readers
  .github/workflows/test.yml
  Makefile
  kotlin/generator/src/main/kotlin/com/basecamp/sdk/generator/PathItems.kt
  python/scripts/gen_common.py
  ruby/scripts/generate-metadata.rb
  ruby/scripts/generate-services.rb
  rust/generator/src/main.rs
  scripts/check-generated-verbs.rb
  scripts/test-check-generated-verbs.rb
  scripts/test-compiled-generator-refusal
  scripts/test-generator-verb-inversion.rb
  swift/Sources/BasecampGenerator/PathItems.swift
  typescript/scripts/path-items.ts
Due: typescript-lint, typescript-typecheck

Validate the file the loaders will read, from every path, without Ruby
  .github/workflows/smithy-verify.yml
  Makefile
  rust/Makefile
  scripts/check-generated-verbs
  scripts/check-generated-verbs.rb
  scripts/test-check-generated-verbs.rb
  swift/Makefile
Due: none

Nothing is deleted until every file's content exists
  kotlin/generator/src/main/kotlin/com/basecamp/sdk/generator/Main.kt
  scripts/test-compiled-generator-refusal
  swift/Sources/BasecampGenerator/main.swift
Due: none

The loaders' variable wins, so the gate reads the file they will
  scripts/check-generated-verbs
  scripts/test-check-generated-verbs.rb
Due: none

Cover the refusal branches nothing else would notice regressing
  .github/workflows/test.yml
  scripts/test-compiled-generator-refusal
  scripts/test-generator-verb-inversion.rb
Due: none

Assert what the refusal says, not merely that something exited non-zero
  kotlin/generator/src/main/kotlin/com/basecamp/sdk/generator/OperationParser.kt
  kotlin/generator/src/main/kotlin/com/basecamp/sdk/generator/PathItems.kt
  rust/generator/src/model.rs
  scripts/test-compiled-generator-refusal
  scripts/test-generator-verb-inversion.rb
Due: none

A shell redirect truncates before the refusal ever runs
  Makefile
  scripts/generate-url-routes
  scripts/test-compiled-generator-refusal
  typescript/package.json
Due: none

No destructive write, delete or overwrite, before validation has passed
  Makefile
  scripts/test-compiled-generator-refusal
  typescript/package.json
  typescript/scripts/check-path-items.ts
  typescript/src/generated/metadata.ts
Due: typescript-lint, typescript-typecheck

Snapshot the generated tree, so which step refused stops mattering
  typescript/package.json
  typescript/scripts/generate-atomically
Due: none

Validate in the step that does the first write, and drop the wrapper
  scripts/test-compiled-generator-refusal
  typescript/package.json
  typescript/scripts/check-path-items.ts
  typescript/scripts/generate-atomically
  typescript/scripts/strip-account-id.ts
Due: typescript-lint, typescript-typecheck

The test that proves nothing is damaged damages nothing
  scripts/test-compiled-generator-refusal
Due: none

Path conditions:
  go-test-short: any of: \.go$
  typescript-lint: any of: ^typescript/.*\.(ts|tsx)$
  typescript-typecheck: any of: ^typescript/.*\.(ts|tsx)$
