Repository basecamp/basecamp-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-test-short, typescript-lint, typescript-typecheck

go-test-short:
  name: go test -short
  entry: bash -c 'cd go && go test -short ./...'
  language: system
  pass_filenames: false
  stages:
  - push

typescript-lint:
  name: typescript lint
  entry: bash -c 'cd typescript && npm run lint --if-present'
  language: system
  pass_filenames: false
  stages:
  - commit

typescript-typecheck:
  name: typescript typecheck
  entry: bash -c 'cd typescript && npm run typecheck --if-present'
  language: system
  pass_filenames: false
  stages:
  - push

SDKs conform to SPEC §9: credential-bearing values are never rendered (#788)
  go/pkg/basecamp/download.go
  go/pkg/basecamp/download_test.go
  go/pkg/basecamp/helpers.go
  go/pkg/basecamp/helpers_test.go
  go/pkg/basecamp/http.go
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/Download.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/ErrorParsing.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/services/BaseService.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/DownloadTest.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/ErrorTest.kt
  python/src/basecamp/_async_http.py
  python/src/basecamp/_http.py
  python/src/basecamp/_security.py
  python/src/basecamp/async_auth.py
  python/src/basecamp/auth.py
  python/src/basecamp/download.py
  python/src/basecamp/errors.py
  python/src/basecamp/oauth/device.py
  python/src/basecamp/oauth/exchange.py
  python/tests/oauth/test_device.py
  python/tests/oauth/test_exchange.py
  python/tests/test_auth.py
  python/tests/test_download.py
  python/tests/test_errors.py
  ruby/lib/basecamp.rb
  ruby/lib/basecamp/api_error.rb
  ruby/lib/basecamp/client.rb
  ruby/lib/basecamp/http.rb
  ruby/lib/basecamp/rate_limit_error.rb
  ruby/test/basecamp/download_test.rb
  ruby/test/basecamp/errors_test.rb
  ruby/test/basecamp/http_test.rb
  swift/Sources/Basecamp/BasecampError.swift
  swift/Sources/Basecamp/HTTP/HTTPClient.swift
  swift/Tests/BasecampTests/DownloadTests.swift
  swift/Tests/BasecampTests/ErrorTests.swift
  typescript/src/download.ts
  typescript/src/errors.ts
  typescript/tests/download.test.ts
  typescript/tests/errors.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

SPEC §9 review round 2: project transport-supplied .network messages, drop base-URL userinfo from hook URLs, sever Ruby's status-error cause on hop 1
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/Download.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/DownloadTest.kt
  ruby/lib/basecamp/http.rb
  ruby/test/basecamp/download_test.rb
  swift/Sources/Basecamp/HTTP/HTTPClient.swift
  swift/Tests/BasecampTests/DownloadTests.swift
Due: none

SPEC §9 review round 3: cancellation sentinels, InvalidURL at hop 2, unparsable fallbacks, one hop-1 message
  go/pkg/basecamp/download_test.go
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/Download.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/DownloadTest.kt
  python/README.md
  python/src/basecamp/_async_http.py
  python/src/basecamp/_http.py
  python/src/basecamp/_security.py
  python/src/basecamp/download.py
  python/tests/test_download.py
  ruby/lib/basecamp/http.rb
  ruby/lib/basecamp/security.rb
  ruby/test/basecamp/download_test.rb
  swift/Sources/Basecamp/HTTP/HTTPClient.swift
  swift/Tests/BasecampTests/DownloadTests.swift
  typescript/src/download.ts
  typescript/tests/download.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

fix(messages): allow Update to clear a message's category
  go/pkg/basecamp/messages.go
  go/pkg/basecamp/messages_test.go
  go/pkg/basecamp/wire_bodies_test.go
Due: go-test-short

docs(messages): add Messages.Update to marshalBody caller inventory
  go/pkg/basecamp/helpers.go
Due: go-test-short

docs(spec): record category_id clear as a second §18 hand-marshal carve-out
  SPEC.md
Due: none

docs: scope six-SDK claim to date clears; record category clear in AGENTS.md §18
  AGENTS.md
  go/pkg/basecamp/helpers.go
Due: go-test-short

docs(messages): scope category clear as Go-only in the Update carve-out comment
  go/pkg/basecamp/messages.go
Due: go-test-short

Pin bubble-up wire serialization and reconcile doc/route counts
  SECURITY.md
  SPEC.md
  conformance/tests/paths.json
  python/tests/services/test_bubble_ups_service.py
  spec/api-gaps/recording-bubble-up-write.md
  spec/bc3-route-allowlist.yml
Due: none

fix(messages): allow Update to clear a message's category (#838)
  AGENTS.md
  SPEC.md
  go/pkg/basecamp/helpers.go
  go/pkg/basecamp/messages.go
  go/pkg/basecamp/messages_test.go
  go/pkg/basecamp/wire_bodies_test.go
Due: go-test-short

fix(typescript): raise fast-uri override past high-severity advisory
  typescript/package-lock.json
  typescript/package.json
Due: none

Send login_hint with the device authorization request
  SPEC.md
  go/pkg/basecamp/oauth/device.go
  go/pkg/basecamp/oauth/device_test.go
Due: go-test-short

Label login_hint as Basecamp's device-flow extension
  SPEC.md
  go/pkg/basecamp/oauth/device.go
Due: go-test-short

fix(typescript): raise fast-uri override past high-severity advisory (#840)
  typescript/package-lock.json
  typescript/package.json
Due: none

feat(templates): add to-do list template library
  behavior-model.json
  go/grouped-client-inventory.yml
  go/pkg/basecamp/templates.go
  go/pkg/basecamp/templates_test.go
  go/pkg/basecamp/url-routes.json
  go/pkg/generated/client.gen.go
  go/templates/client.tmpl
  kotlin/generator/src/main/kotlin/com/basecamp/sdk/generator/Config.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/Metadata.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/Types.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/templates.kt
  openapi.json
  python/scripts/generate_services.py
  python/src/basecamp/generated/metadata.json
  python/src/basecamp/generated/services/templates.py
  python/src/basecamp/generated/types.py
  ruby/lib/basecamp/generated/services/templates_service.rb
  ruby/scripts/generate-services.rb
  spec/basecamp.smithy
  spec/overlays/tags.smithy
  swift/Sources/Basecamp/Generated/Metadata.swift
  swift/Sources/Basecamp/Generated/Models/CreateTemplateLibraryCopyRequest.swift
  swift/Sources/Basecamp/Generated/Models/TemplateLibrary.swift
  swift/Sources/Basecamp/Generated/Models/TemplateLibraryCopy.swift
  swift/Sources/Basecamp/Generated/Services/TemplatesService.swift
  swift/Sources/BasecampGenerator/MethodNaming.swift
  swift/Sources/BasecampGenerator/ServiceGrouper.swift
  typescript/scripts/generate-path-mapping.ts
  typescript/scripts/generate-services.ts
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/path-mapping.ts
  typescript/src/generated/schema.d.ts
  typescript/src/generated/services/templates.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Complete template library SDK coverage
  AGENTS.md
  COORDINATION.md
  SECURITY.md
  SPEC.md
  conformance/runner/go/main.go
  conformance/runner/python/runner.py
  conformance/runner/ruby/runner.rb
  conformance/runner/swift/Sources/ConformanceRunner/Dispatch.swift
  conformance/runner/typescript/runner.test.ts
  conformance/tests/template_library.json
  go/pkg/basecamp/api-provenance.json
  go/pkg/basecamp/templates_test.go
  go/pkg/basecamp/version.go
  kotlin/conformance/src/main/kotlin/com/basecamp/sdk/conformance/Main.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/BasecampConfig.kt
  openapi.json
  python/src/basecamp/_version.py
  python/tests/services/test_templates_service.py
  ruby/lib/basecamp/generated/metadata.json
  ruby/lib/basecamp/generated/types.rb
  ruby/lib/basecamp/version.rb
  ruby/test/basecamp/services/templates_service_test.rb
  scripts/check-idempotency-parity
  spec/api-gaps/README.md
  spec/api-gaps/subtasks-canonical-rename.md
  spec/api-gaps/template-library.md
  spec/api-provenance.json
  spec/basecamp.smithy
  spec/bc3-routes.json
  swift/Sources/Basecamp/BasecampConfig.swift
  typescript/src/client.ts
  typescript/src/generated/metadata.ts
  typescript/src/generated/openapi-stripped.json
  typescript/tests/services/templates.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Fix template library client edge cases
  go/pkg/basecamp/resilience.go
  go/pkg/basecamp/resilience_test.go
  typescript/src/index.ts
  typescript/tests/services/templates.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Bump version to 0.16.0
  MIGRATING.md
  conformance/runner/python/uv.lock
  conformance/runner/ruby/Gemfile.lock
  conformance/runner/typescript/package-lock.json
  go/pkg/basecamp/version.go
  kotlin/sdk/build.gradle.kts
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/BasecampConfig.kt
  package.json
  python/pyproject.toml
  python/src/basecamp/_version.py
  python/uv.lock
  ruby/Gemfile.lock
  ruby/lib/basecamp/version.rb
  swift/Sources/Basecamp/BasecampConfig.swift
  typescript/package-lock.json
  typescript/package.json
  typescript/src/client.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Bump version to 0.16.0 (#843)
  MIGRATING.md
  conformance/runner/python/uv.lock
  conformance/runner/ruby/Gemfile.lock
  conformance/runner/typescript/package-lock.json
  go/pkg/basecamp/version.go
  kotlin/sdk/build.gradle.kts
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/BasecampConfig.kt
  package.json
  python/pyproject.toml
  python/src/basecamp/_version.py
  python/uv.lock
  ruby/Gemfile.lock
  ruby/lib/basecamp/version.rb
  swift/Sources/Basecamp/BasecampConfig.swift
  typescript/package-lock.json
  typescript/package.json
  typescript/src/client.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Send login_hint with the device authorization request (#841)
  SPEC.md
  go/pkg/basecamp/oauth/device.go
  go/pkg/basecamp/oauth/device_test.go
Due: go-test-short

feat(errors): surface row-keyed 422 bodies through field_errors
  SPEC.md
  conformance/tests/error-mapping.json
  go/pkg/basecamp/helpers.go
  go/pkg/basecamp/helpers_test.go
  go/pkg/basecamp/people_test.go
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/ErrorParsing.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/FieldKeyed422Test.kt
  python/src/basecamp/errors.py
  python/tests/services/test_people_service.py
  python/tests/test_errors.py
  ruby/lib/basecamp.rb
  ruby/test/basecamp/errors_test.rb
  ruby/test/basecamp/services/people_service_test.rb
  swift/Sources/Basecamp/BasecampError.swift
  swift/Tests/BasecampTests/ErrorTests.swift
  typescript/src/errors.ts
  typescript/tests/errors.test.ts
  typescript/tests/services/people.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Name the provenance pin by reference in the client-users gap entry
  spec/api-gaps/project-client-users.md
Due: none

Export the client-access request type from the TypeScript package
  typescript/src/index.ts
Due: typescript-lint, typescript-typecheck

Decode row-error selectors independently; report client access as project_access in Go
  go/pkg/basecamp/helpers.go
  go/pkg/basecamp/helpers_test.go
  go/pkg/basecamp/people.go
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/FieldKeyed422Test.kt
  python/tests/test_errors.py
  ruby/test/basecamp/errors_test.rb
  swift/Tests/BasecampTests/ErrorTests.swift
  typescript/tests/errors.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

fix(typescript): raise js-yaml override past high-severity advisory
  typescript/package-lock.json
  typescript/package.json
Due: none

Reject boolean row indexes in the Swift row-error parser
  go/pkg/basecamp/helpers_test.go
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/FieldKeyed422Test.kt
  python/tests/test_errors.py
  ruby/test/basecamp/errors_test.rb
  swift/Sources/Basecamp/BasecampError.swift
  swift/Tests/BasecampTests/ErrorTests.swift
  typescript/tests/errors.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Qualify the retry prose for the client-access seat-limit 429
  SECURITY.md
  SPEC.md
Due: none

Merge commit from fork
  go/pkg/generated/auth_transport_test.go
  go/pkg/generated/client.gen.go
  go/templates/client.tmpl
Due: go-test-short

fix(typescript): raise js-yaml override past high-severity advisory (#848)
  typescript/package-lock.json
  typescript/package.json
Due: none

Bump version to 0.17.0
  MIGRATING.md
  conformance/runner/python/uv.lock
  conformance/runner/ruby/Gemfile.lock
  conformance/runner/typescript/package-lock.json
  go/pkg/basecamp/version.go
  kotlin/sdk/build.gradle.kts
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/BasecampConfig.kt
  package.json
  python/pyproject.toml
  python/src/basecamp/_version.py
  python/uv.lock
  ruby/Gemfile.lock
  ruby/lib/basecamp/version.rb
  swift/Sources/Basecamp/BasecampConfig.swift
  typescript/package-lock.json
  typescript/package.json
  typescript/src/client.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Bump version to 0.17.0 (#849)
  MIGRATING.md
  conformance/runner/python/uv.lock
  conformance/runner/ruby/Gemfile.lock
  conformance/runner/typescript/package-lock.json
  go/pkg/basecamp/version.go
  kotlin/sdk/build.gradle.kts
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/BasecampConfig.kt
  package.json
  python/pyproject.toml
  python/src/basecamp/_version.py
  python/uv.lock
  ruby/Gemfile.lock
  ruby/lib/basecamp/version.rb
  swift/Sources/Basecamp/BasecampConfig.swift
  typescript/package-lock.json
  typescript/package.json
  typescript/src/client.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Clear the open code-scanning alerts
  .github/codeql/codeql-config.yml
  .github/workflows/security.yml
  .github/workflows/test.yml
  python/src/basecamp/async_auth.py
  python/src/basecamp/auth.py
  python/src/basecamp/oauth/device.py
  python/src/basecamp/oauth/exchange.py
Due: none

deps(conformance-ts): bump vitest to 4.1.11 past GHSA-82fw-gwwq-j7x9
  conformance/runner/typescript/package-lock.json
Due: none

Path conditions:
  go-test-short: any of: \.go$
  typescript-lint: any of: ^typescript/.*\.(ts|tsx)$
  typescript-typecheck: any of: ^typescript/.*\.(ts|tsx)$
