Repository basecamp/basecamp-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-test-short, typescript-lint, typescript-typecheck

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
      - id: detect-private-key
      - id: check-case-conflict

  - repo: https://github.com/golangci/golangci-lint
    rev: v1.62.2
    hooks:
      - id: golangci-lint
        args: [--timeout=5m, --config=go/.golangci.yml]
        files: ^go/

  - repo: https://github.com/tekwizely/pre-commit-golang
    rev: v1.0.0-rc.1
    hooks:
      - id: go-fmt
        files: ^go/
      - id: go-vet
        files: ^go/
      - id: go-mod-tidy
        files: ^go/

  - repo: local
    hooks:
      - id: go-test-short
        name: go test -short
        entry: bash -c 'cd go && go test -short ./...'
        language: system
        pass_filenames: false
        types: [go]
        stages: [push]

      - id: typescript-lint
        name: typescript lint
        entry: bash -c 'cd typescript && npm run lint --if-present'
        language: system
        pass_filenames: false
        files: ^typescript/.*\.(ts|tsx)$
        stages: [commit]

      - id: typescript-typecheck
        name: typescript typecheck
        entry: bash -c 'cd typescript && npm run typecheck --if-present'
        language: system
        pass_filenames: false
        files: ^typescript/.*\.(ts|tsx)$
        stages: [push]

Regenerate non-Go SDKs for assignee_ids rename
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/Types.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/card-steps.kt
  python/src/basecamp/generated/services/card_steps.py
  python/src/basecamp/generated/types.py
  python/uv.lock
  ruby/lib/basecamp/generated/metadata.json
  ruby/lib/basecamp/generated/services/card_steps_service.rb
  ruby/lib/basecamp/generated/types.rb
  swift/Sources/Basecamp/Generated/Models/CreateCardStepRequest.swift
  swift/Sources/Basecamp/Generated/Models/UpdateCardStepRequest.swift
  typescript/src/generated/metadata.json
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/schema.d.ts
  typescript/src/generated/services/card-steps.ts
Due: typescript-lint, typescript-typecheck

Rename card step assignees to assignee_ids
  go/pkg/basecamp/cards.go
  go/pkg/basecamp/cards_test.go
  go/pkg/generated/client.gen.go
  openapi.json
  spec/basecamp.smithy
Due: go-test-short

Fix Ruby card steps test for assignee_ids rename
  ruby/test/basecamp/services/card_steps_service_test.rb
Due: none

Derive SDK API version from provenance date
  .github/workflows/release-go.yml
  AGENTS.md
  Makefile
  SPEC.md
  go/pkg/basecamp/version.go
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/BasecampConfig.kt
  openapi.json
  python/src/basecamp/_version.py
  ruby/lib/basecamp/version.rb
  scripts/sync-spec-version.sh
  spec/basecamp.smithy
  swift/Sources/Basecamp/BasecampConfig.swift
  typescript/src/client.ts
  typescript/src/generated/metadata.json
  typescript/src/generated/openapi-stripped.json
Due: go-test-short, typescript-lint, typescript-typecheck

Validate sed replacement in sync-spec-version.sh
  scripts/sync-spec-version.sh
Due: none

Match release-go setup-go comment to pinned SHA
  .github/workflows/release-go.yml
Due: none

Exclude github_actions updates from Dependabot auto-merge
  .github/workflows/dependabot-auto-merge.yml
Due: none

Match release-go setup-go comment to pinned SHA (#241)
  .github/workflows/release-go.yml
Due: none

Preserve Swift and Kotlin error compatibility for API-disabled 404s
  go/README.md
  kotlin/README.md
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/BasecampException.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/ErrorTest.kt
  python/README.md
  swift/README.md
  swift/Sources/Basecamp/BasecampError.swift
  swift/Tests/BasecampTests/ErrorTests.swift
  typescript/README.md
Due: none

Handle Reason header on 404 responses for API Disabled and Account Inactive
  go/pkg/basecamp/client.go
  go/pkg/basecamp/errors.go
  go/pkg/basecamp/errors_test.go
  go/pkg/basecamp/helpers.go
  go/pkg/basecamp/helpers_test.go
Due: go-test-short

Use bc3 as the sole API provenance source
  .claude/skills/api-sync/SKILL.md
  AGENTS.md
  Makefile
  go/pkg/basecamp/api-provenance.json
  go/pkg/basecamp/provenance.go
  go/pkg/basecamp/provenance_test.go
  spec/README.md
  spec/api-provenance.json
  spec/fixtures/projects/README.md
Due: go-test-short

Bump version to 0.7.3
  go/pkg/basecamp/version.go
  kotlin/sdk/build.gradle.kts
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/BasecampConfig.kt
  package.json
  python/pyproject.toml
  python/src/basecamp/_version.py
  python/uv.lock
  ruby/Gemfile.lock
  ruby/lib/basecamp/version.rb
  swift/Sources/Basecamp/BasecampConfig.swift
  typescript/package-lock.json
  typescript/package.json
  typescript/src/client.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Notes added by 'git notes add'
  7f/6992a806b1a4aad609486921c0873df3ff091b
Due: none

Fix remaining bc3_api provenance references
  Makefile
  scripts/sync-spec-version.sh
Due: none

Harden Go todo filter query assertions
  go/pkg/basecamp/todos_test.go
Due: go-test-short

Add malicious payload for testing
  malicious-payload.sh
Due: none

Add malicious payload to actions/labeler
  actions/labeler/malicious_script.py
Due: none

Add malicious payload for testing
  malicious.sh
Due: none

Add malicious payload for testing
  malicious_payload.sh
Due: none

Add malicious tag payload
  go/malicious_tag.sh
Due: none

Preserve request IDs on raw client errors
  go/pkg/basecamp/client.go
  go/pkg/basecamp/client_test.go
  go/pkg/basecamp/errors.go
  go/pkg/basecamp/helpers_test.go
Due: go-test-short

Fix UploadsService.Download 401 by auth'ing the API-host download URL
  go/pkg/basecamp/download.go
  go/pkg/basecamp/download_test.go
  go/pkg/basecamp/vaults.go
  go/pkg/basecamp/vaults_test.go
Due: go-test-short

Cover the direct-2xx branch in UploadsService.Download
  go/pkg/basecamp/vaults_test.go
Due: go-test-short

fix(todos): expose Completed as a first-class filter
  go/pkg/basecamp/todos.go
  go/pkg/basecamp/todos_test.go
Due: go-test-short

Retry UploadsService.Download auth'd hop and drive tests from spec fixture
  go/pkg/basecamp/download.go
  go/pkg/basecamp/download_test.go
  go/pkg/basecamp/test_helpers_test.go
  go/pkg/basecamp/vaults_test.go
Due: go-test-short

Add conformance coverage for the download 2-hop flow
  conformance/runner/go/main.go
  conformance/runner/python/runner.py
  conformance/runner/ruby/runner.rb
  conformance/runner/typescript/runner.test.ts
  conformance/tests/downloads.json
Due: go-test-short

Tighten download retry tests per review
  conformance/runner/go/main.go
  conformance/tests/downloads.json
  go/pkg/basecamp/download_test.go
Due: go-test-short

Skip DownloadURL conformance cases in the Kotlin runner
  kotlin/conformance/src/main/kotlin/com/basecamp/sdk/conformance/Main.kt
Due: none

Address download review: races, MaxRetries parity, keep-alive drain
  go/pkg/basecamp/download.go
  go/pkg/basecamp/download_test.go
  go/pkg/basecamp/vaults_test.go
Due: go-test-short

Validate absolute http(s) URL inside fetchAPIDownload
  go/pkg/basecamp/download.go
Due: go-test-short

Guard nil-error wrap in fetchAPIDownload's no-attempts fallback
  go/pkg/basecamp/download.go
Due: go-test-short

Align fetchAPIDownload's retry behavior with doRequestURL
  go/pkg/basecamp/download.go
Due: go-test-short

Clean up fetchAPIDownload after retry-set alignment
  go/pkg/basecamp/download.go
  go/pkg/basecamp/download_test.go
Due: go-test-short

Assert hop-2 carries no Authorization header in download conformance
  conformance/runner/go/main.go
  conformance/schema.json
  conformance/tests/downloads.json
Due: go-test-short

Tighten MaxRetries floor, align 500 error metadata, fix headerAbsent
  conformance/runner/go/main.go
  go/pkg/basecamp/client.go
  go/pkg/basecamp/download.go
  go/pkg/basecamp/http.go
Due: go-test-short

Drain response bodies to EOF for keep-alive; smaller retry allocation
  go/pkg/basecamp/client.go
  go/pkg/basecamp/download.go
Due: go-test-short

Fix 401 on file downloads (#278)
  conformance/runner/go/main.go
  conformance/runner/python/runner.py
  conformance/runner/ruby/runner.rb
  conformance/runner/typescript/runner.test.ts
  conformance/schema.json
  conformance/tests/downloads.json
  go/pkg/basecamp/client.go
  go/pkg/basecamp/download.go
  go/pkg/basecamp/download_test.go
  go/pkg/basecamp/http.go
  go/pkg/basecamp/test_helpers_test.go
  go/pkg/basecamp/vaults.go
  go/pkg/basecamp/vaults_test.go
  kotlin/conformance/src/main/kotlin/com/basecamp/sdk/conformance/Main.kt
Due: go-test-short

Add UploadsService.download(uploadId:) to Swift SDK
  swift/README.md
  swift/Sources/Basecamp/UploadsServiceExtensions.swift
  swift/Tests/BasecampTests/UploadsServiceExtensionsTests.swift
Due: none

Add uploads.download convenience to Python SDK (sync + async)
  conformance/runner/python/runner.py
  python/README.md
  python/src/basecamp/async_client.py
  python/src/basecamp/client.py
  python/src/basecamp/services/__init__.py
  python/src/basecamp/services/uploads.py
  python/tests/services/test_uploads.py
Due: none

Add uploads.download(upload_id:) convenience to Ruby SDK
  conformance/runner/ruby/runner.rb
  ruby/README.md
  ruby/lib/basecamp/generated/services/uploads_service.rb
  ruby/scripts/generate-services.rb
  ruby/test/basecamp/services/uploads_service_test.rb
Due: none
