Repository basecamp/basecamp-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-test-short, typescript-lint, typescript-typecheck

go-test-short:
  name: go test -short
  entry: bash -c 'cd go && go test -short ./...'
  language: system
  pass_filenames: false
  stages:
  - push

typescript-lint:
  name: typescript lint
  entry: bash -c 'cd typescript && npm run lint --if-present'
  language: system
  pass_filenames: false
  stages:
  - commit

typescript-typecheck:
  name: typescript typecheck
  entry: bash -c 'cd typescript && npm run typecheck --if-present'
  language: system
  pass_filenames: false
  stages:
  - push

Deflake wall-clock timing assertions: assert the mechanism, not elapsed time (#715)
  ruby/test/basecamp/oauth_transport_test.rb
  typescript/tests/client.test.ts
Due: typescript-lint, typescript-typecheck

Mark person_minimal's three keys @required on its two lagging shapes (#659)
  MIGRATING.md
  go/pkg/generated/client.gen.go
  openapi.json
  python/src/basecamp/generated/types.py
  ruby/lib/basecamp/generated/metadata.json
  ruby/lib/basecamp/generated/types.rb
  ruby/test/basecamp/services/people_service_test.rb
  spec/basecamp.smithy
  swift/Sources/Basecamp/Generated/Models/MyAssignmentAssignee.swift
  swift/Sources/Basecamp/Generated/Models/OutOfOfficePerson.swift
  typescript/src/generated/metadata.ts
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/schema.d.ts
  typescript/tests/services/people.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Model what the four special-cased search branches actually emit (#651)
  MIGRATING.md
  go/pkg/basecamp/search.go
  go/pkg/basecamp/search_test.go
  go/pkg/generated/client.gen.go
  openapi.json
  python/src/basecamp/generated/types.py
  python/tests/services/test_search.py
  ruby/lib/basecamp/generated/metadata.json
  ruby/lib/basecamp/generated/types.rb
  ruby/test/basecamp/generated_types_test.rb
  ruby/test/basecamp/services/search_service_test.rb
  scripts/enhance-openapi-go-types.sh
  spec/basecamp.smithy
  spec/fixtures/manifest.yaml
  spec/fixtures/search/results.json
  swift/Sources/Basecamp/Generated/Models/SearchResult.swift
  swift/Sources/Basecamp/Generated/Models/SearchResultAttachment.swift
  typescript/src/generated/metadata.ts
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/schema.d.ts
  typescript/tests/services/search.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Go review fixes: omitempty on the five discriminator keys, honest OOO stub
  go/pkg/basecamp/people_test.go
  go/pkg/basecamp/search.go
  go/pkg/basecamp/search_test.go
Due: go-test-short

Round-3 review: retire the absorbed attachments gap, exercise assignee requiredness
  go/pkg/basecamp/my_assignments_test.go
  python/tests/services/test_my_assignments_service.py
  ruby/test/basecamp/services/my_assignments_service_test.rb
  spec/api-gaps/rich-text-attachments-coverage.md
  typescript/tests/services/my-assignments.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Model the special-cased search branches and person_minimal's guaranteed keys (#716)
  MIGRATING.md
  go/pkg/basecamp/my_assignments_test.go
  go/pkg/basecamp/people_test.go
  go/pkg/basecamp/search.go
  go/pkg/basecamp/search_test.go
  go/pkg/generated/client.gen.go
  openapi.json
  python/src/basecamp/generated/types.py
  python/tests/services/test_my_assignments_service.py
  python/tests/services/test_search.py
  ruby/lib/basecamp/generated/metadata.json
  ruby/lib/basecamp/generated/types.rb
  ruby/test/basecamp/generated_types_test.rb
  ruby/test/basecamp/services/my_assignments_service_test.rb
  ruby/test/basecamp/services/people_service_test.rb
  ruby/test/basecamp/services/search_service_test.rb
  scripts/enhance-openapi-go-types.sh
  spec/api-gaps/rich-text-attachments-coverage.md
  spec/basecamp.smithy
  spec/fixtures/manifest.yaml
  spec/fixtures/search/results.json
  swift/Sources/Basecamp/Generated/Models/MyAssignmentAssignee.swift
  swift/Sources/Basecamp/Generated/Models/OutOfOfficePerson.swift
  swift/Sources/Basecamp/Generated/Models/SearchResult.swift
  swift/Sources/Basecamp/Generated/Models/SearchResultAttachment.swift
  typescript/src/generated/metadata.ts
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/schema.d.ts
  typescript/tests/services/my-assignments.test.ts
  typescript/tests/services/people.test.ts
  typescript/tests/services/search.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Resolve embedded structs in the wrapper-drift field walk
  scripts/check-wrapper-drift/main.go
  scripts/check-wrapper-drift/main_test.go
Due: go-test-short

Pin javac's source encoding to UTF-8
  .github/workflows/smithy-verify.yml
  kotlin/build.gradle.kts
  spec/smithy-bare-arrays/build.gradle.kts
Due: none

Serialize the Gradle-backed check targets
  .github/workflows/test.yml
  Makefile
  scripts/check-gradle-serialization.rb
  scripts/test-check-gradle-serialization.rb
Due: none

Give Kotlin a typed SearchResult and close the offline Search gap
  MIGRATING.md
  Makefile
  SPEC.md
  conformance/runner/go/main.go
  conformance/runner/python/runner.py
  conformance/runner/ruby/runner.rb
  conformance/runner/swift/Sources/ConformanceRunner/Dispatch.swift
  conformance/runner/typescript/runner.test.ts
  conformance/tests/search.json
  kotlin/conformance/src/main/kotlin/com/basecamp/sdk/conformance/Main.kt
  kotlin/conformance/src/main/kotlin/com/basecamp/sdk/conformance/ReplayRunner.kt
  kotlin/generator/src/main/kotlin/com/basecamp/sdk/generator/Config.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/models/SearchResult.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/models/SearchResultAttachment.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/search.kt
  kotlin/sdk/src/jvmTest/kotlin/com/basecamp/sdk/SearchResultDecodeTest.kt
  python/tests/services/test_search.py
  ruby/test/basecamp/services/search_service_test.rb
  scripts/check-search-fixture-copy.py
  swift/Tests/BasecampTests/SearchResultDecodeTests.swift
  typescript/tests/services/search.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Follow one level of script delegation, and fix the edge count
  Makefile
  scripts/check-gradle-serialization.rb
  scripts/test-check-gradle-serialization.rb
Due: none

Fail the search fixture-copy gate on a non-array body, and name its target
  Makefile
  scripts/check-search-fixture-copy.py
Due: none

Match encoding/json's promotion rules where the first cut diverged
  scripts/check-wrapper-drift/main.go
  scripts/check-wrapper-drift/main_test.go
Due: go-test-short

Say why an untagged embed is invisible, and pin the parallel
  scripts/check-wrapper-drift/main.go
  scripts/check-wrapper-drift/main_test.go
Due: go-test-short

Group Gradle targets by directory, not by how it is spelled
  scripts/check-gradle-serialization.rb
  scripts/test-check-gradle-serialization.rb
Due: none

Give Kotlin a typed SearchResult and close the offline Search gap (#726)
  MIGRATING.md
  Makefile
  SPEC.md
  conformance/runner/go/main.go
  conformance/runner/python/runner.py
  conformance/runner/ruby/runner.rb
  conformance/runner/swift/Sources/ConformanceRunner/Dispatch.swift
  conformance/runner/typescript/runner.test.ts
  conformance/tests/search.json
  kotlin/conformance/src/main/kotlin/com/basecamp/sdk/conformance/Main.kt
  kotlin/conformance/src/main/kotlin/com/basecamp/sdk/conformance/ReplayRunner.kt
  kotlin/generator/src/main/kotlin/com/basecamp/sdk/generator/Config.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/models/SearchResult.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/models/SearchResultAttachment.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/search.kt
  kotlin/sdk/src/jvmTest/kotlin/com/basecamp/sdk/SearchResultDecodeTest.kt
  python/tests/services/test_search.py
  ruby/test/basecamp/services/search_service_test.rb
  scripts/check-search-fixture-copy.py
  swift/Tests/BasecampTests/SearchResultDecodeTests.swift
  typescript/tests/services/search.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Make max_retries=0 a supported contract, and let Go's typed operations honour the cap
  MIGRATING.md
  SPEC.md
  conformance/runner/go/main.go
  conformance/runner/python/runner.py
  conformance/runner/ruby/runner.rb
  conformance/runner/swift/Sources/ConformanceRunner/Fixtures.swift
  conformance/runner/swift/Sources/ConformanceRunner/Runner.swift
  conformance/runner/typescript/runner.test.ts
  conformance/schema.json
  conformance/tests/retry.json
  go/pkg/basecamp/backoff_ceiling_test.go
  go/pkg/basecamp/client.go
  go/pkg/basecamp/client_retry_zero_cap_test.go
  go/pkg/basecamp/download.go
  go/pkg/basecamp/http.go
  kotlin/conformance/src/main/kotlin/com/basecamp/sdk/conformance/Main.kt
Due: go-test-short

Name every SDK that rejects a negative cap, not four of five
  SPEC.md
Due: none

Clamp BaseDelay into the generated client, and scope the claim to retry-eligible ops
  MIGRATING.md
  SPEC.md
  conformance/runner/swift/Sources/ConformanceRunner/Runner.swift
  conformance/runner/typescript/runner.test.ts
  conformance/schema.json
  go/pkg/basecamp/client.go
  go/pkg/basecamp/client_retry_zero_cap_test.go
Due: go-test-short

Track Go-name resolution, not just JSON tags, when crediting writes
  scripts/check-wrapper-drift/main.go
  scripts/check-wrapper-drift/main_test.go
Due: go-test-short

Make max_retries=0 a supported contract, and let Go's typed operations honour the cap (#727)
  MIGRATING.md
  SPEC.md
  conformance/runner/go/main.go
  conformance/runner/python/runner.py
  conformance/runner/ruby/runner.rb
  conformance/runner/swift/Sources/ConformanceRunner/Fixtures.swift
  conformance/runner/swift/Sources/ConformanceRunner/Runner.swift
  conformance/runner/typescript/runner.test.ts
  conformance/schema.json
  conformance/tests/retry.json
  go/pkg/basecamp/backoff_ceiling_test.go
  go/pkg/basecamp/client.go
  go/pkg/basecamp/client_retry_zero_cap_test.go
  go/pkg/basecamp/download.go
  go/pkg/basecamp/http.go
  kotlin/conformance/src/main/kotlin/com/basecamp/sdk/conformance/Main.kt
Due: go-test-short

Read the command make would run, not the text someone typed
  scripts/check-gradle-serialization.rb
  scripts/test-check-gradle-serialization.rb
Due: none

Bound what the walk certifies, and fix five value/dominance shapes
  scripts/check-wrapper-drift/main.go
  scripts/check-wrapper-drift/main_test.go
Due: go-test-short

Relax Tool.name/enabled and model the seven keys bc3 emits (#650)
  MIGRATING.md
  conformance/tests/paths.json
  go/pkg/basecamp/tools.go
  go/pkg/basecamp/tools_test.go
  go/pkg/generated/client.gen.go
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/models/Tool.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/ToolsServiceTest.kt
  openapi.json
  python/src/basecamp/generated/types.py
  python/tests/services/test_tools.py
  ruby/lib/basecamp/generated/metadata.json
  ruby/lib/basecamp/generated/types.rb
  ruby/test/basecamp/services/tools_service_test.rb
  spec/basecamp.smithy
  spec/fixtures/manifest.yaml
  spec/fixtures/tools/create.json
  spec/fixtures/tools/disabled.json
  spec/fixtures/tools/nested_vault.json
  spec/fixtures/tools/update.json
  swift/Sources/Basecamp/Generated/Models/Tool.swift
  swift/Tests/BasecampTests/GeneratedServiceTests.swift
  swift/Tests/BasecampTests/ToolDecodeTests.swift
  typescript/src/generated/metadata.ts
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/schema.d.ts
  typescript/tests/services/tools.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Copilot review: a nested vault is positioned, so scope the disabled-signal claim
  MIGRATING.md
  go/pkg/basecamp/tools.go
  go/pkg/generated/client.gen.go
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/ToolsServiceTest.kt
  openapi.json
  ruby/lib/basecamp/generated/metadata.json
  ruby/lib/basecamp/generated/types.rb
  spec/basecamp.smithy
  spec/fixtures/tools/nested_vault.json
  swift/Tests/BasecampTests/ToolDecodeTests.swift
  typescript/src/generated/metadata.ts
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/schema.d.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Copilot round 4: per-SDK the missing enabled key does four different things
  MIGRATING.md
Due: none

Copilot round 2: fix the heading and the self-contradicting struct comment
  MIGRATING.md
  spec/basecamp.smithy
Due: none

Copilot round 3: Swift has no wrong behaviour, but it does have work
  MIGRATING.md
Due: none

Resolve symlinks, punctuated variable names, and multi-directory targets
  scripts/check-gradle-serialization.rb
  scripts/test-check-gradle-serialization.rb
Due: none

Apply both round-3 rules everywhere they hold
  scripts/check-wrapper-drift/main.go
  scripts/check-wrapper-drift/main_test.go
Due: go-test-short

Count every Gradle invocation, at every nesting level
  scripts/check-gradle-serialization.rb
  scripts/test-check-gradle-serialization.rb
Due: none

Relax Tool.name/Tool.enabled and absorb the seven keys bc3 actually emits (#723)
  MIGRATING.md
  conformance/tests/paths.json
  go/pkg/basecamp/tools.go
  go/pkg/basecamp/tools_test.go
  go/pkg/generated/client.gen.go
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/models/Tool.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/ToolsServiceTest.kt
  openapi.json
  python/src/basecamp/generated/types.py
  python/tests/services/test_tools.py
  ruby/lib/basecamp/generated/metadata.json
  ruby/lib/basecamp/generated/types.rb
  ruby/test/basecamp/services/tools_service_test.rb
  spec/basecamp.smithy
  spec/fixtures/manifest.yaml
  spec/fixtures/tools/create.json
  spec/fixtures/tools/disabled.json
  spec/fixtures/tools/nested_vault.json
  spec/fixtures/tools/update.json
  swift/Sources/Basecamp/Generated/Models/Tool.swift
  swift/Tests/BasecampTests/GeneratedServiceTests.swift
  swift/Tests/BasecampTests/ToolDecodeTests.swift
  typescript/src/generated/metadata.ts
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/schema.d.ts
  typescript/tests/services/tools.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Close the method-promotion guard's own gaps
  scripts/check-wrapper-drift/main.go
  scripts/check-wrapper-drift/main_test.go
Due: go-test-short

Vouch for embeds instead of enumerating ways they can surprise us
  scripts/check-wrapper-drift/main.go
  scripts/check-wrapper-drift/main_test.go
Due: go-test-short

Fold recipe continuations, and scan delegates even when a recipe calls Gradle
  scripts/check-gradle-serialization.rb
  scripts/test-check-gradle-serialization.rb
Due: none

Tell a decode failure from the other statusless api_error in the Swift runner
  conformance/runner/swift/Sources/ConformanceRunner/Runner.swift
  swift/Sources/Basecamp/Services/BaseService.swift
Due: none

Isolate the response decoder from auth, transport and request encoding
  MIGRATING.md
  SPEC.md
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/services/BaseService.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/services/DocumentsService.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/services/SchedulesService.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/services/TodolistsService.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/DecodeIsolationTest.kt
  swift/Sources/Basecamp/DocumentsServiceExtensions.swift
  swift/Sources/Basecamp/SchedulesServiceExtensions.swift
  swift/Sources/Basecamp/Services/BaseService.swift
  swift/Sources/Basecamp/TodolistsServiceExtensions.swift
  swift/Tests/BasecampTests/DecodeIsolationTests.swift
Due: none

Ask one function whether an error is a malformed body, in the Swift SDK too
  swift/Sources/Basecamp/DocumentsServiceExtensions.swift
  swift/Sources/Basecamp/SchedulesServiceExtensions.swift
  swift/Sources/Basecamp/Services/BaseService.swift
  swift/Sources/Basecamp/TodolistsServiceExtensions.swift
Due: none

Re-apply the conformance runners' #555 policy at the seam the mapping moved it to
  conformance/runner/swift/Sources/ConformanceRunner/Runner.swift
  kotlin/conformance/src/main/kotlin/com/basecamp/sdk/conformance/Main.kt
Due: none

Move the tests that asserted the decoder's own exception onto the mapped shape
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/CardsServiceTest.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/UpcomingScheduleDecodeTest.kt
  swift/Tests/BasecampTests/GeneratedServiceTests.swift
  swift/Tests/BasecampTests/TodolistsServiceExtensionsTests.swift
  swift/Tests/BasecampTests/UpcomingScheduleDecodeTests.swift
Due: none

Path conditions:
  go-test-short: any of: \.go$
  typescript-lint: any of: ^typescript/.*\.(ts|tsx)$
  typescript-typecheck: any of: ^typescript/.*\.(ts|tsx)$
