Repository basecamp/basecamp-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-test-short, typescript-lint, typescript-typecheck

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
      - id: detect-private-key
      - id: check-case-conflict

  - repo: https://github.com/golangci/golangci-lint
    rev: v1.62.2
    hooks:
      - id: golangci-lint
        args: [--timeout=5m, --config=go/.golangci.yml]
        files: ^go/

  - repo: https://github.com/tekwizely/pre-commit-golang
    rev: v1.0.0-rc.1
    hooks:
      - id: go-fmt
        files: ^go/
      - id: go-vet
        files: ^go/
      - id: go-mod-tidy
        files: ^go/

  - repo: local
    hooks:
      - id: go-test-short
        name: go test -short
        entry: bash -c 'cd go && go test -short ./...'
        language: system
        pass_filenames: false
        types: [go]
        stages: [push]

      - id: typescript-lint
        name: typescript lint
        entry: bash -c 'cd typescript && npm run lint --if-present'
        language: system
        pass_filenames: false
        files: ^typescript/.*\.(ts|tsx)$
        stages: [commit]

      - id: typescript-typecheck
        name: typescript typecheck
        entry: bash -c 'cd typescript && npm run typecheck --if-present'
        language: system
        pass_filenames: false
        files: ^typescript/.*\.(ts|tsx)$
        stages: [push]

Pin the clause a later guard had quietly taken over
  typescript/tests/services/recordings-summarize.test.ts
Due: typescript-lint, typescript-typecheck

Give each refusal its own reason, and stop refusing what Go reads
  typescript/src/services/recordings-extensions.ts
  typescript/tests/services/mentions.test.ts
  typescript/tests/services/recordings-summarize.test.ts
Due: typescript-lint, typescript-typecheck

Fix what the last round's fixes broke, and measure each site's own rule
  SPEC.md
  typescript/src/services/comments-extensions.ts
  typescript/src/services/mentions.ts
  typescript/src/services/recordings-extensions.ts
  typescript/tests/services/comments-mentions.test.ts
  typescript/tests/services/mentions.test.ts
  typescript/tests/services/recordings-summarize.test.ts
Due: typescript-lint, typescript-typecheck

Pin that a spent budget consulting both sources is unresolved
  typescript/tests/services/recordings-summarize.test.ts
Due: typescript-lint, typescript-typecheck

Give the one wall-clock assertion room for a loaded machine
  typescript/tests/services/mentions.test.ts
Due: typescript-lint, typescript-typecheck

Stop arguing with the reference about rounding, and about the year 1
  typescript/src/services/recordings-extensions.ts
  typescript/tests/services/mentions.test.ts
  typescript/tests/services/recordings-summarize.test.ts
Due: typescript-lint, typescript-typecheck

Port the Campfire budget boundary the Go reference now draws
  typescript/src/services/recordings-extensions.ts
  typescript/tests/services/recordings-summarize.test.ts
Due: typescript-lint, typescript-typecheck

Bound the entity-name search by the characters actually present
  typescript/src/services/mentions.ts
  typescript/tests/services/mentions.test.ts
Due: typescript-lint, typescript-typecheck

Parse a zone and a dotted quad the way net/url and netip do
  typescript/src/services/mentions.ts
  typescript/tests/services/mentions.test.ts
Due: typescript-lint, typescript-typecheck

Finish the hint, count the sites, and pin the bound where it is visible
  typescript/src/services/recordings-extensions.ts
  typescript/tests/services/recordings-summarize.test.ts
Due: typescript-lint, typescript-typecheck

Hold the third decoder to Go too, and close the gid authority gaps
  conformance/runner/typescript/runner.test.ts
  typescript/src/services/comments-extensions.ts
  typescript/src/services/mentions.ts
  typescript/src/services/recordings-extensions.ts
  typescript/tests/services/mentions.test.ts
  typescript/tests/services/recordings-summarize.test.ts
Due: typescript-lint, typescript-typecheck

Pin the hint of every helper, including the three a flip left green
  typescript/src/services/recordings-extensions.ts
  typescript/tests/services/recordings-summarize.test.ts
Due: typescript-lint, typescript-typecheck

Say at every id-reading site what Go's decoder says for free
  typescript/src/services/recordings-extensions.ts
  typescript/tests/services/recordings-summarize.test.ts
Due: typescript-lint, typescript-typecheck

Measure the gid parser from the write side too
  typescript/tests/services/mentions.test.ts
Due: typescript-lint, typescript-typecheck

Stop a crash escaping the SDK, and validate a bracketed authority
  typescript/src/services/mentions.ts
  typescript/src/services/recordings-extensions.ts
  typescript/tests/services/mentions.test.ts
  typescript/tests/services/recordings-summarize.test.ts
Due: typescript-lint, typescript-typecheck

Say it about the container too, and about the text inside it
  typescript/src/services/mentions.ts
  typescript/src/services/recordings-extensions.ts
  typescript/tests/services/mentions.test.ts
  typescript/tests/services/recordings-summarize.test.ts
Due: typescript-lint, typescript-typecheck

Match Go's padding strip exactly: right-trim before the newlines
  typescript/src/services/mentions.ts
  typescript/tests/services/mentions.test.ts
Due: typescript-lint, typescript-typecheck

feat(typescript): port the recording summary and mention composites
  SPEC.md
  conformance/runner/typescript/runner.test.ts
  spec/zero-skip-roster.yml
  typescript/README.md
  typescript/src/client.ts
  typescript/src/index.ts
  typescript/src/services/comments-extensions.ts
  typescript/src/services/mentions.ts
  typescript/src/services/recordings-extensions.ts
  typescript/tests/helpers/sgid.ts
  typescript/tests/services/comments-mentions.test.ts
  typescript/tests/services/mentions.test.ts
  typescript/tests/services/recordings-summarize.test.ts
Due: typescript-lint, typescript-typecheck

Fold an HTML name the way EqualFold does, not the way toLowerCase does
  typescript/src/services/mentions.ts
  typescript/tests/services/mentions.test.ts
Due: typescript-lint, typescript-typecheck

Pin that the write side does not trim, where the read side does
  typescript/tests/services/mentions.test.ts
Due: typescript-lint, typescript-typecheck

Take the composite's error codes from the ports already on main
  typescript/README.md
  typescript/src/services/recordings-extensions.ts
  typescript/tests/services/recordings-summarize.test.ts
Due: typescript-lint, typescript-typecheck

Refuse a body the reference could not have decoded into a recording
  typescript/src/services/mentions.ts
  typescript/src/services/recordings-extensions.ts
  typescript/tests/services/mentions.test.ts
  typescript/tests/services/recordings-summarize.test.ts
Due: typescript-lint, typescript-typecheck

Tighten the discovery 404 test and the runner's instant comparison
  conformance/runner/typescript/runner.test.ts
  typescript/src/services/comments-extensions.ts
  typescript/src/services/recordings-extensions.ts
  typescript/tests/services/recordings-summarize.test.ts
Due: typescript-lint, typescript-typecheck

Pin that the trim reads each end on its own
  typescript/tests/services/mentions.test.ts
Due: typescript-lint, typescript-typecheck

Close the scoped review's findings, including one this branch introduced
  typescript/src/services/mentions.ts
  typescript/src/services/recordings-extensions.ts
  typescript/tests/services/mentions.test.ts
  typescript/tests/services/recordings-summarize.test.ts
Due: typescript-lint, typescript-typecheck

Close the holes a second review pass found
  conformance/runner/typescript/runner.test.ts
  typescript/src/services/mentions.ts
  typescript/src/services/recordings-extensions.ts
  typescript/tests/services/mentions.test.ts
  typescript/tests/services/recordings-summarize.test.ts
Due: typescript-lint, typescript-typecheck

Reject an impossible calendar date, and declare what the assertions read
  conformance/runner/typescript/runner.test.ts
Due: none

Pin the cache's release, sharing and clock guarantees, and base64 parity
  typescript/src/services/recordings-extensions.ts
  typescript/tests/services/mentions.test.ts
  typescript/tests/services/recordings-summarize.test.ts
Due: typescript-lint, typescript-typecheck

Vacate the single-flight slot by identity, not by key
  typescript/src/services/recordings-extensions.ts
Due: typescript-lint, typescript-typecheck

fix(python): the null-is-empty rule stops at the envelope's door (SPEC §6)
  python/src/basecamp/_decoding.py
  python/src/basecamp/generated/services/_async_base.py
  python/src/basecamp/generated/services/_base.py
  python/tests/test_null_list_body.py
Due: none

Find the sgid separator by byte, and reconcile the JSON envelope both ways
  swift/Sources/Basecamp/Mentions.swift
  swift/Tests/BasecampTests/MentionsTests.swift
Due: none

Fold a long path parameter's documentation instead of emitting it as code
  ruby/scripts/generate-services.rb
Due: none

Write down the four Basecamp endpoints this SDK cannot reach yet
  spec/api-gaps/account-enrollments.md
  spec/api-gaps/recording-backlinks.md
  spec/api-gaps/recording-generic-show.md
  spec/api-gaps/subtasks-canonical-rename.md
Due: none

Write down what upgrading to the template library changes
  MIGRATING.md
  spec/api-gaps/README.md
  spec/api-gaps/template-library-card-tables.md
Due: none

Model the card table fields Basecamp already sends
  go/pkg/basecamp/cards.go
  go/pkg/generated/client.gen.go
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/models/CardTable.kt
  openapi.json
  python/src/basecamp/generated/types.py
  ruby/lib/basecamp/generated/metadata.json
  ruby/lib/basecamp/generated/types.rb
  rust/basecamp-sdk/src/generated/types.rs
  spec/basecamp.smithy
  swift/Sources/Basecamp/Generated/Models/CardTable.swift
  typescript/src/generated/metadata.ts
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/schema.d.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Recognize the per-kind template library routes Basecamp now documents
  COORDINATION.md
  SPEC.md
  go/pkg/basecamp/api-provenance.json
  go/pkg/basecamp/version.go
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/BasecampConfig.kt
  openapi.json
  python/src/basecamp/_version.py
  ruby/lib/basecamp/generated/metadata.json
  ruby/lib/basecamp/generated/types.rb
  ruby/lib/basecamp/version.rb
  rust/basecamp-sdk/src/generated/mod.rs
  spec/api-gaps/README.md
  spec/api-provenance.json
  spec/basecamp.smithy
  spec/bc3-route-allowlist.yml
  spec/bc3-routes.json
  swift/Sources/Basecamp/BasecampConfig.swift
  typescript/src/client.ts
  typescript/src/generated/metadata.ts
  typescript/src/generated/openapi-stripped.json
Due: go-test-short, typescript-lint, typescript-typecheck

Let people templatify an existing to-do list or card table
  SECURITY.md
  SPEC.md
  behavior-model.json
  conformance/runner/go/main.go
  conformance/runner/python/runner.py
  conformance/runner/ruby/runner.rb
  conformance/runner/rust/src/operations.rs
  conformance/runner/swift/Sources/ConformanceRunner/Dispatch.swift
  conformance/runner/typescript/runner.test.ts
  conformance/tests/templatifications.json
  go/grouped-client-inventory.yml
  go/pkg/basecamp/templates.go
  go/pkg/generated/client.gen.go
  go/templates/client.tmpl
  kotlin/conformance/src/main/kotlin/com/basecamp/sdk/conformance/Main.kt
  kotlin/generator/src/main/kotlin/com/basecamp/sdk/generator/Config.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/models/Templatification.kt
  openapi.json
  python/scripts/generate_services.py
  python/src/basecamp/generated/metadata.json
  python/src/basecamp/generated/services/templates.py
  python/src/basecamp/generated/types.py
  python/tests/services/test_templates_service.py
  ruby/scripts/generate-services.rb
  ruby/test/basecamp/services/templates_service_test.rb
  rust/basecamp-sdk/tests/guarantees.rs
  rust/generator/names.toml
  scripts/check-idempotency-parity
  spec/basecamp.smithy
  spec/overlays/tags.smithy
  swift/Sources/BasecampGenerator/MethodNaming.swift
  swift/Sources/BasecampGenerator/ServiceGrouper.swift
  typescript/scripts/generate-services.ts
  typescript/tests/services/templates.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

docs(python): say what the envelope reader covers, and pin the rows that proved vacuous
  python/src/basecamp/_decoding.py
  python/tests/test_null_list_body.py
Due: none

Assert the exit status the error code decides, not just its name
  typescript/tests/services/recordings-summarize.test.ts
Due: typescript-lint, typescript-typecheck
