Repository basecamp/basecamp-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-test-short, typescript-lint, typescript-typecheck

go-test-short:
  name: go test -short
  entry: bash -c 'cd go && go test -short ./...'
  language: system
  pass_filenames: false
  stages:
  - push

typescript-lint:
  name: typescript lint
  entry: bash -c 'cd typescript && npm run lint --if-present'
  language: system
  pass_filenames: false
  stages:
  - commit

typescript-typecheck:
  name: typescript typecheck
  entry: bash -c 'cd typescript && npm run typecheck --if-present'
  language: system
  pass_filenames: false
  stages:
  - push

Derive the pin mutants from controls instead of committing invalid files
  Makefile
  conformance/event-feed/README.md
  conformance/event-feed/invalid-fixtures/controls/phantom-gap-invocation.json
  conformance/event-feed/invalid-fixtures/controls/phantom-overflow-invocation.json
  conformance/event-feed/invalid-fixtures/phantom-gap-invocation.json
  conformance/event-feed/invalid-fixtures/phantom-overflow-invocation.json
  conformance/event-feed/pin-probes/phantom-gap-invocation.json
  conformance/event-feed/pin-probes/phantom-overflow-invocation.json
  scripts/check-event-feed-pin-probes.py
Due: none

Guard both directions of each pin, and trust only structured rejections
  conformance/event-feed/pin-probes/phantom-gap-invocation.json
  conformance/event-feed/pin-probes/phantom-overflow-invocation.json
  scripts/check-event-feed-pin-probes.py
Due: none

Restore the api-compat checkout to the commit it started from
  .github/workflows/test.yml
Due: none

Pin default-terminal handler absence per signal kind (#696)
  Makefile
  conformance/event-feed/README.md
  conformance/event-feed/pin-probes/phantom-gap-invocation.json
  conformance/event-feed/pin-probes/phantom-overflow-invocation.json
  conformance/event-feed/schema.json
  scripts/check-event-feed-pin-probes.py
Due: none

Restore the api-compat checkout to the commit it started from (#695)
  .github/workflows/test.yml
Due: none

Record the upload-versions live canary as done
  spec/api-gaps/upload-new-version.md
Due: none

Sync all six SDK-version lockfiles on bump, and make release's preflight agree
  Makefile
  scripts/bump-version.sh
Due: none

Retarget the OpenAPI mapper to Java 17, and run its tests in CI
  .github/workflows/smithy-verify.yml
  spec/smithy-bare-arrays/build.gradle.kts
Due: none

Sync all six SDK-version lockfiles on bump; record the upload-versions canary (#698)
  Makefile
  scripts/bump-version.sh
  spec/api-gaps/upload-new-version.md
Due: none

Invoke the mapper tests via make, per the CI convention
  .github/workflows/smithy-verify.yml
Due: none

Read the OpenAPI spec as UTF-8 regardless of process locale
  ruby/scripts/generate-metadata.rb
  ruby/scripts/generate-services.rb
  ruby/scripts/generate-types.rb
Due: none

Read the OpenAPI spec as UTF-8 regardless of process locale (#701)
  ruby/scripts/generate-metadata.rb
  ruby/scripts/generate-services.rb
  ruby/scripts/generate-types.rb
Due: none

Bump version to 0.14.0
  MIGRATING.md
  README.md
  conformance/runner/typescript/package-lock.json
  go/README.md
  go/pkg/basecamp/version.go
  kotlin/README.md
  kotlin/sdk/build.gradle.kts
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/BasecampConfig.kt
  package.json
  python/README.md
  python/pyproject.toml
  python/src/basecamp/_version.py
  python/uv.lock
  ruby/Gemfile.lock
  ruby/README.md
  ruby/lib/basecamp/version.rb
  swift/README.md
  swift/Sources/Basecamp/BasecampConfig.swift
  typescript/README.md
  typescript/package-lock.json
  typescript/package.json
  typescript/src/client.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Retarget the OpenAPI mapper to Java 17, and run its tests in CI (#699)
  .github/workflows/smithy-verify.yml
  spec/smithy-bare-arrays/build.gradle.kts
Due: none

Name the symbols consumers actually type, and keep the libc selectors
  kotlin/README.md
  python/README.md
  ruby/README.md
  swift/README.md
  typescript/README.md
  typescript/package-lock.json
Due: none

Unwrap single-key envelope bodies in the Ruby and Python conformance runners
  conformance/runner/python/runner.py
  conformance/runner/ruby/runner.rb
  conformance/tests/retry.json
Due: none

Transcode non-ASCII-compatible Link headers before the Ruby byte scan
  ruby/lib/basecamp/http.rb
  ruby/test/basecamp/pagination_link_test.rb
Due: none

Bump version to 0.14.0 (#700)
  MIGRATING.md
  README.md
  conformance/runner/typescript/package-lock.json
  go/README.md
  go/pkg/basecamp/version.go
  kotlin/README.md
  kotlin/sdk/build.gradle.kts
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/BasecampConfig.kt
  package.json
  python/README.md
  python/pyproject.toml
  python/src/basecamp/_version.py
  python/uv.lock
  ruby/Gemfile.lock
  ruby/README.md
  ruby/lib/basecamp/version.rb
  swift/README.md
  swift/Sources/Basecamp/BasecampConfig.swift
  typescript/README.md
  typescript/package-lock.json
  typescript/package.json
  typescript/src/client.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Widen the Ruby Security rescues from URI::InvalidURIError to URI::Error
  ruby/lib/basecamp/security.rb
  ruby/test/basecamp/security_test.rb
Due: none

Record the #662 close in MIGRATING.md and the authorization brief
  MIGRATING.md
  spec/api-gaps/bc5-authorization-document-shape.md
Due: none

Pointerize TimelineEventData.StartsAt/EndsAt to match generated
  go/pkg/basecamp/timeline.go
  go/pkg/basecamp/timeline_test.go
Due: go-test-short

Widen the timestamp guards to the named time wrappers
  go/pkg/basecamp/optional_timestamps_test.go
Due: go-test-short

Treat 0, null and absent expires_at alike: no expiry known
  go/README.md
  go/pkg/basecamp/authorization.go
  go/pkg/basecamp/authorization_test.go
Due: go-test-short

Enforce the maxPages cap at runtime in TypeScript and Ruby
  SPEC.md
  ruby/lib/basecamp/config.rb
  ruby/test/basecamp/config_test.rb
  typescript/src/services/base.ts
  typescript/tests/services/base.test.ts
Due: typescript-lint, typescript-typecheck

Guard TS conformance fixtures against integers JSON.parse silently rounds
  conformance/runner/typescript/runner.test.ts
Due: none

Align absence prose with the premise correction
  MIGRATING.md
  go/README.md
  go/pkg/basecamp/authorization.go
  go/pkg/basecamp/authorization_test.go
Due: go-test-short

ExpiresAt absence: zero-time sentinel, Expiry(), and wrapper-aware timestamp guards (#703)
  MIGRATING.md
  go/README.md
  go/pkg/basecamp/authorization.go
  go/pkg/basecamp/authorization_test.go
  go/pkg/basecamp/optional_timestamps_test.go
  go/pkg/basecamp/timeline.go
  go/pkg/basecamp/timeline_test.go
  spec/api-gaps/bc5-authorization-document-shape.md
Due: go-test-short

Key the unsafe-integer fixture guard to TS_SDK_SKIPS, not a file
  conformance/runner/typescript/runner.test.ts
Due: none

Refuse illegible download-redirect targets instead of crashing (Ruby)
  ruby/lib/basecamp/client.rb
  ruby/test/basecamp/download_test.rb
Due: none

State the hop-2 download guard as one dialable-URL predicate
  ruby/lib/basecamp/client.rb
  ruby/test/basecamp/download_test.rb
Due: none

Close the authorization-document brief: bc3 #12646 shipped and documented
  spec/api-gaps/README.md
  spec/api-gaps/bc5-authorization-document-shape.md
Due: none

covered-outside-spec: a terminal status for sanctioned non-Smithy surfaces
  scripts/validate-api-gaps.rb
  spec/api-gaps/README.md
  spec/api-gaps/bc5-authorization-document-shape.md
  spec/api-gaps/schema.json
Due: none

Path conditions:
  go-test-short: any of: \.go$
  typescript-lint: any of: ^typescript/.*\.(ts|tsx)$
  typescript-typecheck: any of: ^typescript/.*\.(ts|tsx)$
