Repository basecamp/basecamp-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-test-short, typescript-lint, typescript-typecheck

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
      - id: detect-private-key
      - id: check-case-conflict

  - repo: https://github.com/golangci/golangci-lint
    rev: v1.62.2
    hooks:
      - id: golangci-lint
        args: [--timeout=5m, --config=go/.golangci.yml]
        files: ^go/

  - repo: https://github.com/tekwizely/pre-commit-golang
    rev: v1.0.0-rc.1
    hooks:
      - id: go-fmt
        files: ^go/
      - id: go-vet
        files: ^go/
      - id: go-mod-tidy
        files: ^go/

  - repo: local
    hooks:
      - id: go-test-short
        name: go test -short
        entry: bash -c 'cd go && go test -short ./...'
        language: system
        pass_filenames: false
        types: [go]
        stages: [push]

      - id: typescript-lint
        name: typescript lint
        entry: bash -c 'cd typescript && npm run lint --if-present'
        language: system
        pass_filenames: false
        files: ^typescript/.*\.(ts|tsx)$
        stages: [commit]

      - id: typescript-typecheck
        name: typescript typecheck
        entry: bash -c 'cd typescript && npm run typecheck --if-present'
        language: system
        pass_filenames: false
        files: ^typescript/.*\.(ts|tsx)$
        stages: [push]

The keyword has to be a statement head, not a property spelled like one
  scripts/check-readme-env-vars.py
  scripts/test-check-readme-env-vars.py
Due: none

Postfix operators end a value, and "at all" includes the whole environment
  scripts/check-readme-env-vars.py
  scripts/test-check-readme-env-vars.py
Due: none

`!` cuts both ways, and process["env"] is the same object
  scripts/check-readme-env-vars.py
  scripts/test-check-readme-env-vars.py
Due: none

Ruby spells both meanings of `!` too
  scripts/check-readme-env-vars.py
  scripts/test-check-readme-env-vars.py
Due: none

Optional chaining reaches the same object, and getenv is usually imported
  scripts/check-readme-env-vars.py
  scripts/test-check-readme-env-vars.py
Due: none

An aliased environment is still the environment, and ~~~ is still a fence
  scripts/check-readme-env-vars.py
  scripts/test-check-readme-env-vars.py
Due: none

Whether getenv reads the environment is a fact about the imports
  scripts/check-readme-env-vars.py
  scripts/test-check-readme-env-vars.py
Due: none

Finish the two fixes from the last two rounds
  scripts/check-readme-env-vars.py
  scripts/test-check-readme-env-vars.py
Due: none

Wrapped Swift chains, aliased os modules, and fence closers
  scripts/check-readme-env-vars.py
  scripts/test-check-readme-env-vars.py
Due: none

Docs: how to get a token, how to find your account ID, and three claims that were not true (#591)
  .github/workflows/test.yml
  .gitignore
  Makefile
  README.md
  go/README.md
  kotlin/README.md
  python/README.md
  ruby/README.md
  scripts/check-readme-env-vars.py
  scripts/test-check-readme-env-vars.py
  swift/README.md
  typescript/README.md
  typescript/src/client.ts
Due: typescript-lint, typescript-typecheck

Bump the brace-expansion override floor past GHSA-rgw5-rvv9-x895
  typescript/package-lock.json
  typescript/package.json
Due: none

Regenerate the lockfile with npm 11.17 to keep the libc fields
  typescript/package-lock.json
Due: none

Bump the brace-expansion override floor past GHSA-rgw5-rvv9-x895 (#616)
  typescript/package-lock.json
  typescript/package.json
Due: none

Address the #614 review: poll-error passthrough, poll-only reset cursor, bounded pump
  SPEC.md
Due: none

Address the #614 re-review: counter reset, present fallback, mint passthrough
  SPEC.md
Due: none

SPEC §23: the Event Feed Connector contract
  SPEC.md
Due: none

Address the #614 third round: dial lifecycle, state-generic terminals, governance
  AGENTS.md
  SPEC.md
Due: none

Address the #614 fourth round: bounded cut, cancellable typed dial
  SPEC.md
Due: none

Address the #614 fifth round: dequeued-frames bound, seam cancellation
  SPEC.md
Due: none

Address the #614 sixth round: frame-violation disposition, byte-correct bound
  SPEC.md
Due: none

Address the #614 seventh round: total srv1, in-read frame cap, architecture line
  AGENTS.md
  SPEC.md
Due: none

HillChart doc: cite EverythingFile.UpdatedAt, not TimelineEvent.UpdatedAt
  go/pkg/basecamp/hill_charts.go
Due: go-test-short

Search example: nil-check the now-optional CreatedAt before formatting
  go/pkg/basecamp/example_test.go
Due: go-test-short

Go: pointerize the five optional timestamps that could not represent absence
  go/pkg/basecamp/hill_charts.go
  go/pkg/basecamp/hill_charts_test.go
  go/pkg/basecamp/my_notifications.go
  go/pkg/basecamp/optional_timestamps_test.go
  go/pkg/basecamp/search.go
  go/pkg/basecamp/search_test.go
Due: go-test-short

BC5 brief: ReadAt/UnreadAt are no longer the bare-time.Time counter-example
  go/BRIEF-bc5-forward-compat-wrappers.md
Due: none

Address the #614 eighth round: pump-side reset, Draining carve-out, 1A.6 rows
  SPEC.md
Due: none

Address the #614 ninth round: staleness suspension, invalid-frame closure
  SPEC.md
Due: none

Go: pointerize the five optional timestamps that could not represent absence (#615)
  go/BRIEF-bc5-forward-compat-wrappers.md
  go/pkg/basecamp/example_test.go
  go/pkg/basecamp/hill_charts.go
  go/pkg/basecamp/hill_charts_test.go
  go/pkg/basecamp/my_notifications.go
  go/pkg/basecamp/optional_timestamps_test.go
  go/pkg/basecamp/search.go
  go/pkg/basecamp/search_test.go
Due: go-test-short

Address the #614 tenth round: evaluation-rule suspension, TS read-limit note
  SPEC.md
Due: none

TS page-semantics tests: flip the premise they were written to pin
  typescript/tests/page-semantics.test.ts
Due: typescript-lint, typescript-typecheck

Go: apply an explicit Limit to a pinned page, as the contract claims
  SPEC.md
  conformance/tests/pagination.json
  go/README.md
  go/pkg/basecamp/boosts.go
  go/pkg/basecamp/campfires.go
  go/pkg/basecamp/cards.go
  go/pkg/basecamp/checkins.go
  go/pkg/basecamp/client_approvals.go
  go/pkg/basecamp/client_correspondences.go
  go/pkg/basecamp/client_replies.go
  go/pkg/basecamp/comments.go
  go/pkg/basecamp/events.go
  go/pkg/basecamp/forwards.go
  go/pkg/basecamp/gauges.go
  go/pkg/basecamp/gauges_test.go
  go/pkg/basecamp/helpers.go
  go/pkg/basecamp/message_types.go
  go/pkg/basecamp/messages.go
  go/pkg/basecamp/people.go
  go/pkg/basecamp/projects.go
  go/pkg/basecamp/recordings.go
  go/pkg/basecamp/schedules.go
  go/pkg/basecamp/search.go
  go/pkg/basecamp/templates.go
  go/pkg/basecamp/timeline.go
  go/pkg/basecamp/timesheet.go
  go/pkg/basecamp/todolist_groups.go
  go/pkg/basecamp/todolists.go
  go/pkg/basecamp/todos.go
  go/pkg/basecamp/vaults.go
  go/pkg/basecamp/webhooks.go
Due: go-test-short

Kotlin: forward the pinned page through the compatibility overloads
  kotlin/generator/src/main/kotlin/com/basecamp/sdk/generator/ServiceEmitter.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/boosts.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/campfires.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/cards.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/checkins.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/client-replies.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/comments.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/documents.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/events.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/forwards.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/gauges.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/people.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/reports.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/timeline.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/todolist-groups.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/uploads.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/vaults.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/PaginationTest.kt
Due: none

Address the #614 eleventh round: teardown cancels in-flight seam calls
  SPEC.md
Due: none

Address the #614 twelfth round: Clock scope, interruptible writes, capacities
  SPEC.md
Due: none

SPEC §23: the Event Feed Connector contract (#614)
  AGENTS.md
  SPEC.md
Due: none
