Repository basecamp/basecamp-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-test-short, typescript-lint, typescript-typecheck

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
      - id: detect-private-key
      - id: check-case-conflict

  - repo: https://github.com/golangci/golangci-lint
    rev: v1.62.2
    hooks:
      - id: golangci-lint
        args: [--timeout=5m, --config=go/.golangci.yml]
        files: ^go/

  - repo: https://github.com/tekwizely/pre-commit-golang
    rev: v1.0.0-rc.1
    hooks:
      - id: go-fmt
        files: ^go/
      - id: go-vet
        files: ^go/
      - id: go-mod-tidy
        files: ^go/

  - repo: local
    hooks:
      - id: go-test-short
        name: go test -short
        entry: bash -c 'cd go && go test -short ./...'
        language: system
        pass_filenames: false
        types: [go]
        stages: [push]

      - id: typescript-lint
        name: typescript lint
        entry: bash -c 'cd typescript && npm run lint --if-present'
        language: system
        pass_filenames: false
        files: ^typescript/.*\.(ts|tsx)$
        stages: [commit]

      - id: typescript-typecheck
        name: typescript typecheck
        entry: bash -c 'cd typescript && npm run typecheck --if-present'
        language: system
        pass_filenames: false
        files: ^typescript/.*\.(ts|tsx)$
        stages: [push]

Retry: honor the declared retry_on status set in Go and Python
  SPEC.md
  go/pkg/basecamp/generated_retry_statusset_test.go
  go/pkg/generated/client.gen.go
  go/templates/client.tmpl
  python/src/basecamp/_async_http.py
  python/src/basecamp/_http.py
  python/tests/test_http.py
  scripts/check-retry-metadata-parity.py
Due: go-test-short

Retry: honor the declared retry_on status set in Go and Python (#486)
  SPEC.md
  go/pkg/basecamp/generated_retry_statusset_test.go
  go/pkg/generated/client.gen.go
  go/templates/client.tmpl
  python/src/basecamp/_async_http.py
  python/src/basecamp/_http.py
  python/tests/test_http.py
  scripts/check-retry-metadata-parity.py
Due: go-test-short

Cards: give the plain update name to a merge-safe composite (#489)
  AGENTS.md
  SPEC.md
  conformance/runner/go/main.go
  conformance/runner/python/runner.py
  conformance/runner/ruby/runner.rb
  conformance/runner/typescript/runner.test.ts
  conformance/tests/cards_write.json
  go/pkg/basecamp/cards.go
  go/pkg/basecamp/cards_test.go
  go/pkg/generated/client.gen.go
  go/templates/client.tmpl
  kotlin/conformance/src/main/kotlin/com/basecamp/sdk/conformance/Main.kt
  kotlin/generator/src/main/kotlin/com/basecamp/sdk/generator/Config.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/ServiceAccessors.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/cards.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/services/CardsService.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/CardsServiceTest.kt
  python/scripts/generate_services.py
  python/src/basecamp/async_client.py
  python/src/basecamp/client.py
  python/src/basecamp/generated/services/cards.py
  python/src/basecamp/services/cards.py
  python/tests/services/test_cards.py
  ruby/lib/basecamp.rb
  ruby/lib/basecamp/generated/services/cards_service.rb
  ruby/lib/basecamp/services/cards_extensions.rb
  ruby/scripts/generate-services.rb
  ruby/test/basecamp/services/cards_service_test.rb
  swift/Sources/Basecamp/CardsServiceExtensions.swift
  swift/Sources/Basecamp/Generated/Services/CardsService.swift
  swift/Sources/BasecampGenerator/MethodNaming.swift
  swift/Tests/BasecampTests/CardsServiceExtensionsTests.swift
  typescript/scripts/generate-services.ts
  typescript/src/client.ts
  typescript/src/generated/services/cards.ts
  typescript/src/index.ts
  typescript/src/services/cards-extensions.ts
  typescript/tests/services/cards.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Repin provenance to current bc3 HEAD; document and pin participant_ids semantics
  conformance/runner/go/main.go
  conformance/runner/python/runner.py
  conformance/runner/ruby/runner.rb
  conformance/runner/typescript/runner.test.ts
  conformance/tests/schedule_entries_write.json
  go/pkg/basecamp/api-provenance.json
  go/pkg/basecamp/version.go
  go/pkg/generated/client.gen.go
  kotlin/conformance/src/main/kotlin/com/basecamp/sdk/conformance/Main.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/BasecampConfig.kt
  openapi.json
  python/src/basecamp/_version.py
  ruby/lib/basecamp/generated/metadata.json
  ruby/lib/basecamp/generated/services/schedules_service.rb
  ruby/lib/basecamp/generated/types.rb
  ruby/lib/basecamp/version.rb
  spec/api-gaps/everything-tasks-aggregate.md
  spec/api-provenance.json
  spec/basecamp.smithy
  swift/Sources/Basecamp/BasecampConfig.swift
  swift/Tests/BasecampTests/ScheduleEntryParticipantsTests.swift
  typescript/src/client.ts
  typescript/src/generated/metadata.ts
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/schema.d.ts
  typescript/src/generated/services/schedules.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Reclassify the everything/tasks routes: web view, not an API resource
  spec/api-gaps/everything-tasks-aggregate.md
Due: none

Repin provenance to current bc3 HEAD; pin the participant_ids contract (#491)
  conformance/runner/go/main.go
  conformance/runner/python/runner.py
  conformance/runner/ruby/runner.rb
  conformance/runner/typescript/runner.test.ts
  conformance/tests/schedule_entries_write.json
  go/pkg/basecamp/api-provenance.json
  go/pkg/basecamp/version.go
  go/pkg/generated/client.gen.go
  kotlin/conformance/src/main/kotlin/com/basecamp/sdk/conformance/Main.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/BasecampConfig.kt
  openapi.json
  python/src/basecamp/_version.py
  ruby/lib/basecamp/generated/metadata.json
  ruby/lib/basecamp/generated/services/schedules_service.rb
  ruby/lib/basecamp/generated/types.rb
  ruby/lib/basecamp/version.rb
  spec/api-gaps/everything-tasks-aggregate.md
  spec/api-provenance.json
  spec/basecamp.smithy
  swift/Sources/Basecamp/BasecampConfig.swift
  swift/Tests/BasecampTests/ScheduleEntryParticipantsTests.swift
  typescript/src/client.ts
  typescript/src/generated/metadata.ts
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/schema.d.ts
  typescript/src/generated/services/schedules.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Bump version to 0.10.0
  conformance/runner/typescript/package-lock.json
  go/pkg/basecamp/version.go
  kotlin/sdk/build.gradle.kts
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/BasecampConfig.kt
  package.json
  python/pyproject.toml
  python/src/basecamp/_version.py
  python/uv.lock
  ruby/Gemfile.lock
  ruby/lib/basecamp/version.rb
  swift/Sources/Basecamp/BasecampConfig.swift
  typescript/package-lock.json
  typescript/package.json
  typescript/src/client.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Bump version to 0.10.0 (#493)
  conformance/runner/typescript/package-lock.json
  go/pkg/basecamp/version.go
  kotlin/sdk/build.gradle.kts
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/BasecampConfig.kt
  package.json
  python/pyproject.toml
  python/src/basecamp/_version.py
  python/uv.lock
  ruby/Gemfile.lock
  ruby/lib/basecamp/version.rb
  swift/Sources/Basecamp/BasecampConfig.swift
  typescript/package-lock.json
  typescript/package.json
  typescript/src/client.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Kotlin installation: complete instructions, no version to rot
  .github/workflows/release-github.yml
  kotlin/README.md
  swift/README.md
Due: none

Kotlin installation: correct the CI env vars, complete the Maven path
  kotlin/README.md
  swift/README.md
Due: none

Kotlin installation: don't mandate a PAT for cross-repo CI
  kotlin/README.md
Due: none

Add .claude/CLAUDE.md so Claude Code loads AGENTS.md
  .claude/CLAUDE.md
  .gitignore
Due: none

Trim AGENTS.md to the gotchas that aren't recoverable elsewhere
  AGENTS.md
Due: none

Retry: hand out a copy of the declared status set, and run the parity guard in CI
  .github/workflows/test.yml
  Makefile
  go/pkg/basecamp/generated_retry_statusset_test.go
  go/pkg/generated/client.gen.go
  go/templates/client.tmpl
Due: go-test-short

Retry: hand out a copy of the declared status set, and run the parity guard in CI (#500)
  .github/workflows/test.yml
  Makefile
  go/pkg/basecamp/generated_retry_statusset_test.go
  go/pkg/generated/client.gen.go
  go/templates/client.tmpl
Due: go-test-short

Kotlin installation: complete instructions, no version to rot (#495)
  .github/workflows/release-github.yml
  kotlin/README.md
  swift/README.md
Due: none

Python README: state the retry contract the code actually implements
  python/README.md
Due: none

Python README: scope the no-retry claim to API operations
  python/README.md
Due: none

Python README: state the retry contract the code actually implements (#502)
  python/README.md
Due: none

TypeScript: one request lifecycle, so every attempt is observed exactly once
  typescript/src/client.ts
  typescript/src/services/base.ts
  typescript/tests/client.test.ts
  typescript/tests/integration.test.ts
  typescript/tests/middleware-lifecycle.test.ts
Due: typescript-lint, typescript-typecheck

TypeScript lifecycle: fix three defects the review found
  typescript/src/client.ts
  typescript/src/hooks.ts
  typescript/tests/hooks.test.ts
  typescript/tests/middleware-lifecycle.test.ts
Due: typescript-lint, typescript-typecheck

TypeScript: RFC 8628 device authorization grant
  typescript/README.md
  typescript/src/index.ts
  typescript/src/oauth/device-errors.ts
  typescript/src/oauth/device-login.ts
  typescript/src/oauth/device.ts
  typescript/src/oauth/index.ts
  typescript/src/oauth/types.ts
  typescript/tests/oauth/device.test.ts
Due: typescript-lint, typescript-typecheck

Device flow contract: SPEC.md §16 RFC 8628 device authorization grant
  SPEC.md
Due: none

device: wrap long Python messages; correct DeviceFlow KDoc code table
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/BasecampException.kt
Due: none

Python: RFC 8628 device authorization grant
  python/README.md
  python/src/basecamp/oauth/__init__.py
  python/src/basecamp/oauth/device.py
  python/src/basecamp/oauth/device_authorization.py
  python/src/basecamp/oauth/errors.py
  python/tests/oauth/test_device.py
Due: none

Go: RFC 8628 device authorization grant
  go/README.md
  go/pkg/basecamp/oauth/device.go
  go/pkg/basecamp/oauth/device_errors.go
  go/pkg/basecamp/oauth/device_test.go
  go/pkg/basecamp/oauth/oauth_test.go
Due: go-test-short

Kotlin: RFC 8628 device authorization grant
  kotlin/README.md
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/BasecampException.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/oauth/Device.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/oauth/Exchange.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/ErrorTest.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/OAuthDeviceTest.kt
Due: none

Ruby: RFC 8628 device authorization grant
  ruby/README.md
  ruby/lib/basecamp/oauth.rb
  ruby/lib/basecamp/oauth/device_authorization.rb
  ruby/lib/basecamp/oauth/device_flow.rb
  ruby/lib/basecamp/oauth/device_flow_error.rb
  ruby/test/basecamp/oauth_device_test.rb
  ruby/test/basecamp/oauth_ssrf_test.rb
Due: none

device: separate timeout backoff from poll interval; classify 3xx; harden token and caller inputs
  SPEC.md
  go/README.md
  go/pkg/basecamp/oauth/device.go
  go/pkg/basecamp/oauth/device_test.go
  kotlin/README.md
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/oauth/Device.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/OAuthDeviceTest.kt
  python/README.md
  python/src/basecamp/oauth/device.py
  python/tests/oauth/test_device.py
  ruby/README.md
  ruby/lib/basecamp/oauth/device_flow.rb
  ruby/test/basecamp/oauth_device_test.rb
  typescript/README.md
  typescript/src/oauth/device-errors.ts
  typescript/src/oauth/device.ts
  typescript/tests/oauth/device.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

device: validate token response fields across all five SDKs
  SPEC.md
  go/pkg/basecamp/oauth/device.go
  go/pkg/basecamp/oauth/device_test.go
  kotlin/README.md
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/oauth/Device.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/OAuthDeviceTest.kt
  python/README.md
  python/src/basecamp/oauth/device.py
  python/tests/oauth/test_device.py
  ruby/lib/basecamp/oauth/device_flow.rb
  ruby/test/basecamp/oauth_device_test.rb
  typescript/src/oauth/device.ts
  typescript/tests/oauth/device.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

device: bound Ruby device reads with a wall-clock deadline
  ruby/lib/basecamp/oauth/device_flow.rb
  ruby/test/basecamp/oauth_ssrf_test.rb
Due: none

device: carry HTTP status on device-authorization validation errors (all SDKs)
  go/pkg/basecamp/oauth/device.go
  go/pkg/basecamp/oauth/device_test.go
  python/src/basecamp/oauth/device.py
  ruby/lib/basecamp/oauth/device_flow.rb
  typescript/src/oauth/device.ts
  typescript/tests/oauth/device.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

device: uniform token_type rule, exact issuance deadline, api_error fallback
  SPEC.md
  go/pkg/basecamp/oauth/device.go
  go/pkg/basecamp/oauth/device_test.go
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/oauth/Device.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/OAuthDeviceTest.kt
  python/src/basecamp/oauth/device.py
  python/tests/oauth/test_device.py
  ruby/lib/basecamp/oauth/device_flow.rb
  ruby/test/basecamp/oauth_device_test.rb
  typescript/README.md
  typescript/src/oauth/device-errors.ts
  typescript/src/oauth/device.ts
  typescript/tests/oauth/device.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

device: uniform token expires_in rule; close abort race; harden guards and docs
  SPEC.md
  go/pkg/basecamp/oauth/device.go
  go/pkg/basecamp/oauth/device_test.go
  kotlin/README.md
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/oauth/Device.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/OAuthDeviceTest.kt
  python/README.md
  python/src/basecamp/oauth/device.py
  python/tests/oauth/test_device.py
  ruby/lib/basecamp/oauth/device_flow.rb
  ruby/test/basecamp/oauth_device_test.rb
  typescript/README.md
  typescript/src/oauth/device-errors.ts
  typescript/src/oauth/device-login.ts
  typescript/src/oauth/device.ts
  typescript/tests/oauth/device.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

device: carry HTTP status on TS token-field errors; harden README refresh
  typescript/README.md
  typescript/src/oauth/device.ts
  typescript/tests/oauth/device.test.ts
Due: typescript-lint, typescript-typecheck

device: attach HTTP status to Python non-object-body errors; doc follow-ups
  SPEC.md
  python/src/basecamp/oauth/device.py
  python/tests/oauth/test_device.py
  typescript/README.md
Due: none

device: name the suppressed redirect explicitly in Kotlin token errors
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/oauth/Device.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/OAuthDeviceTest.kt
Due: none

device: pass authorization_endpoint=None in Python device tests after restack
  python/tests/oauth/test_device.py
Due: none

device: carry HTTP status on Go parse failure; real reauth in TS README
  go/pkg/basecamp/oauth/device.go
  go/pkg/basecamp/oauth/device_test.go
  typescript/README.md
Due: go-test-short

device: bound Python device reads with a wall-clock deadline; doc usage type
  python/src/basecamp/oauth/device.py
  python/src/basecamp/oauth/errors.py
  python/tests/oauth/test_device.py
Due: none
