Repository basecamp/basecamp-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-test-short, typescript-lint, typescript-typecheck

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
      - id: detect-private-key
      - id: check-case-conflict

  - repo: https://github.com/golangci/golangci-lint
    rev: v1.62.2
    hooks:
      - id: golangci-lint
        args: [--timeout=5m, --config=go/.golangci.yml]
        files: ^go/

  - repo: https://github.com/tekwizely/pre-commit-golang
    rev: v1.0.0-rc.1
    hooks:
      - id: go-fmt
        files: ^go/
      - id: go-vet
        files: ^go/
      - id: go-mod-tidy
        files: ^go/

  - repo: local
    hooks:
      - id: go-test-short
        name: go test -short
        entry: bash -c 'cd go && go test -short ./...'
        language: system
        pass_filenames: false
        types: [go]
        stages: [push]

      - id: typescript-lint
        name: typescript lint
        entry: bash -c 'cd typescript && npm run lint --if-present'
        language: system
        pass_filenames: false
        files: ^typescript/.*\.(ts|tsx)$
        stages: [commit]

      - id: typescript-typecheck
        name: typescript typecheck
        entry: bash -c 'cd typescript && npm run typecheck --if-present'
        language: system
        pass_filenames: false
        files: ^typescript/.*\.(ts|tsx)$
        stages: [push]

Add downloadURL to Ruby SDK
  ruby/lib/basecamp.rb
  ruby/lib/basecamp/client.rb
  ruby/lib/basecamp/download.rb
  ruby/lib/basecamp/http.rb
  ruby/test/basecamp/download_test.rb
Due: none

Add downloadURL to Kotlin SDK
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/Download.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/DownloadTest.kt
Due: none

Notes added by 'git notes add'
  f2/1879311bfed55a229a682d36d0c9aeee4ce86f
Due: none

Add downloadURL to Swift SDK
  swift/Sources/Basecamp/Download.swift
  swift/Sources/Basecamp/HTTP/HTTPClient.swift
  swift/Sources/Basecamp/HTTP/Transport.swift
  swift/Tests/BasecampTests/DownloadTests.swift
  swift/Tests/BasecampTests/Support/MockTransport.swift
Due: none

Notes added by 'git notes add'
  52/a79297043366cdf0d0c7e3ab23c34d77b682fb
Due: none

Notes added by 'git notes add'
  a6/55f690a3f218a27ee25dea7ff6af509ff02984
Due: none

Add required title to CloneToolInput in Smithy spec
  spec/api-provenance.json
  spec/basecamp.smithy
Due: none

Notes added by 'git notes add'
  e2/1fd11df150a9552dae97345c050857fa2b3ec2
Due: none

Add required title parameter to Tools.Create (breaking)
  go/pkg/basecamp/api-provenance.json
  go/pkg/basecamp/tools.go
  go/pkg/basecamp/tools_test.go
  go/pkg/generated/client.gen.go
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/Types.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/tools.kt
  openapi.json
  ruby/lib/basecamp/generated/metadata.json
  ruby/lib/basecamp/generated/services/tools_service.rb
  ruby/lib/basecamp/generated/types.rb
  ruby/test/basecamp/services/tools_service_test.rb
  swift/Sources/Basecamp/Generated/Models/CloneToolRequest.swift
  typescript/src/generated/metadata.json
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/schema.d.ts
  typescript/src/generated/services/tools.ts
  typescript/tests/services/tools.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Notes added by 'git notes add'
  b6/45423fb70724efe7df5a413d5e0fb535baa723
Due: none

Notes added by 'git notes add'
  80/4559c625e3142ac9accdfc6a968c337f673f1b
Due: none

Notes added by 'git notes add'
  8f/700c615d1b318633c649f7dc9fa1aa9a5bed5e
Due: none

Add best_match sort to SearchSortField, drop updated_at
  go/pkg/generated/client.gen.go
  openapi.json
  ruby/lib/basecamp/generated/metadata.json
  ruby/lib/basecamp/generated/services/search_service.rb
  ruby/lib/basecamp/generated/types.rb
  spec/basecamp.smithy
  typescript/src/generated/metadata.json
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/schema.d.ts
  typescript/src/generated/services/search.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Fix Ruby codegen: wrap multi-line query param descriptions in comments
  ruby/scripts/generate-services.rb
Due: none

Update search sort docs and tests for best_match
  go/pkg/basecamp/search.go
  go/pkg/basecamp/search_test.go
  ruby/lib/basecamp/services/search_service.rb
  ruby/test/basecamp/services/search_service_test.rb
  typescript/tests/services/search.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Add best_match relevance sorting to search (#180)
  go/pkg/basecamp/search.go
  go/pkg/basecamp/search_test.go
  go/pkg/generated/client.gen.go
  openapi.json
  ruby/lib/basecamp/generated/metadata.json
  ruby/lib/basecamp/generated/services/search_service.rb
  ruby/lib/basecamp/generated/types.rb
  ruby/lib/basecamp/services/search_service.rb
  ruby/scripts/generate-services.rb
  ruby/test/basecamp/services/search_service_test.rb
  spec/basecamp.smithy
  typescript/src/generated/metadata.json
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/schema.d.ts
  typescript/src/generated/services/search.ts
  typescript/tests/services/search.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Notes added by 'git notes add'
  7d/13148cdb4248b4a666896b5468f705e9a758bd
Due: none

Notes added by 'git notes add'
  0a/074ce8652eedd28f93510f51252a3533b018b3
Due: none

Notes added by 'git notes add'
  8a/6df097fd53f9a2688ccdf2a908c6456e12f7c5
Due: none

Match SDK error parsing in Kotlin downloadURL
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/Download.kt
Due: none

Notes added by 'git notes add'
  17/6a5bc4e5e5522d66708f9c64ea71625981acda
Due: none

Address review feedback from automated reviewers
  go/pkg/basecamp/download.go
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/Download.kt
  swift/Sources/Basecamp/HTTP/Transport.swift
Due: go-test-short

Notes added by 'git notes add'
  ad/ae6002626af7515ddb52882c4f014b587e6a14
Due: none

Notes added by 'git notes add'
  bd/acdc1cd18047f08e3b0487f597261d9663f3cb
Due: none

Notes added by 'git notes add'
  8f/53fb798d1e66507f480a13fdc74f839b574940
Due: none

Use structured SDK errors in Go download flow
  go/pkg/basecamp/download.go
Due: go-test-short

Notes added by 'git notes add'
  a2/a4e87def457149c96c6e477f22bb4c92872ba2
Due: none

Notes added by 'git notes add'
  8b/2a0f8b808f00047efca815a7c2401827cefeea
Due: none

Notes added by 'git notes add'
  a2/508062981883826001a7426330512544ea8a7d
Due: none

Add downloadURL for storage blob and signed-download URLs (#178)
  go/pkg/basecamp/download.go
  go/pkg/basecamp/download_test.go
  go/pkg/basecamp/vaults.go
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/Download.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/DownloadTest.kt
  ruby/lib/basecamp.rb
  ruby/lib/basecamp/client.rb
  ruby/lib/basecamp/download.rb
  ruby/lib/basecamp/http.rb
  ruby/test/basecamp/download_test.rb
  swift/Sources/Basecamp/Download.swift
  swift/Sources/Basecamp/HTTP/HTTPClient.swift
  swift/Sources/Basecamp/HTTP/Transport.swift
  swift/Tests/BasecampTests/DownloadTests.swift
  swift/Tests/BasecampTests/Support/MockTransport.swift
  typescript/src/client.ts
  typescript/src/download.ts
  typescript/src/index.ts
  typescript/tests/download.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Update hand-written Go service and tests for account-scoped tool paths
  go/pkg/basecamp/tools.go
  ruby/lib/basecamp/generated/metadata.json
  ruby/lib/basecamp/generated/types.rb
  ruby/test/basecamp/services/tools_service_test.rb
  typescript/src/generated/metadata.json
  typescript/tests/services/tools.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Notes added by 'git notes add'
  db/0f98638d146d24a97e60bc63a4b6fe411ff935
Due: none

Fix tool CRUD endpoints to use bucket-scoped paths (#176)
  go/pkg/basecamp/tools.go
  go/pkg/basecamp/url-routes.json
  go/pkg/generated/client.gen.go
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/tools.kt
  openapi.json
  ruby/lib/basecamp/generated/metadata.json
  ruby/lib/basecamp/generated/services/tools_service.rb
  ruby/lib/basecamp/generated/types.rb
  ruby/test/basecamp/services/tools_service_test.rb
  spec/basecamp.smithy
  swift/Sources/Basecamp/Generated/Services/ToolsService.swift
  typescript/src/generated/metadata.json
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/path-mapping.ts
  typescript/src/generated/schema.d.ts
  typescript/src/generated/services/index.ts
  typescript/src/generated/services/tools.ts
  typescript/tests/services/tools.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Notes added by 'git notes add'
  49/5d57f4d954df1e02ab7d3965d42f73762a7599
Due: none

Notes added by 'git notes add'
  0f/bfe46868ac2454ce4f26892ae06baaa2b01e87
Due: none

Notes added by 'git notes add'
  1b/4a21e52887083d2ae84b835c57907f9733adcd
Due: none

Notes added by 'git notes add'
  f9/84152b002ffae3f48dd120e9c5ab722f340a9a
Due: none

Notes added by 'git notes add'
  52/d90a40c49428371bfc023a2770ad86ecd19f4f
Due: none
