Repository basecamp/basecamp-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-test-short, typescript-lint, typescript-typecheck

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
      - id: detect-private-key
      - id: check-case-conflict

  - repo: https://github.com/golangci/golangci-lint
    rev: v1.62.2
    hooks:
      - id: golangci-lint
        args: [--timeout=5m, --config=go/.golangci.yml]
        files: ^go/

  - repo: https://github.com/tekwizely/pre-commit-golang
    rev: v1.0.0-rc.1
    hooks:
      - id: go-fmt
        files: ^go/
      - id: go-vet
        files: ^go/
      - id: go-mod-tidy
        files: ^go/

  - repo: local
    hooks:
      - id: go-test-short
        name: go test -short
        entry: bash -c 'cd go && go test -short ./...'
        language: system
        pass_filenames: false
        types: [go]
        stages: [push]

      - id: typescript-lint
        name: typescript lint
        entry: bash -c 'cd typescript && npm run lint --if-present'
        language: system
        pass_filenames: false
        files: ^typescript/.*\.(ts|tsx)$
        stages: [commit]

      - id: typescript-typecheck
        name: typescript typecheck
        entry: bash -c 'cd typescript && npm run typecheck --if-present'
        language: system
        pass_filenames: false
        files: ^typescript/.*\.(ts|tsx)$
        stages: [push]

typescript: bump fast-uri, brace-expansion, js-yaml overrides for fresh advisories (#385)
  typescript/package-lock.json
  typescript/package.json
Due: none

conformance(ts): round-2 review fixes for the live canary
  conformance/runner/typescript/live-dispatch.test.ts
  conformance/runner/typescript/live-dispatch.ts
  conformance/runner/typescript/live-runner.test.ts
  conformance/runner/typescript/schema-validator.test.ts
  conformance/runner/typescript/schema-validator.ts
Due: none

conformance: filter mode=live tests across all offline runners
  conformance/runner/go/main.go
  conformance/runner/python/runner.py
  conformance/runner/ruby/runner.rb
  kotlin/conformance/src/main/kotlin/com/basecamp/sdk/conformance/Main.kt
Due: go-test-short

conformance: align Ruby mode filter to accept-mock; document shared schema
  CONTRIBUTING.md
  conformance/runner/ruby/runner.rb
Due: none

conformance(ts): fix two live-canary correctness bugs flagged in review
  conformance/runner/typescript/live-runner.test.ts
  conformance/runner/typescript/schema-validator.test.ts
  conformance/runner/typescript/schema-validator.ts
Due: none

conformance(ts): canonical wire-capture canary against a live backend
  CONTRIBUTING.md
  Makefile
  conformance/runner/typescript/fixtures.ts
  conformance/runner/typescript/live-dispatch.ts
  conformance/runner/typescript/live-runner.test.ts
  conformance/runner/typescript/package-lock.json
  conformance/runner/typescript/package.json
  conformance/runner/typescript/runner.test.ts
  conformance/runner/typescript/schema-validator.ts
  conformance/runner/typescript/wire-capture.ts
Due: none

conformance(schema): extend for live mode + add live-my-surface fixture
  conformance/schema.json
  conformance/tests/live-my-surface.json
Due: none

conformance(ts): fix live canary blockers + add offline coverage
  conformance/runner/typescript/live-runner.test.ts
  conformance/runner/typescript/schema-validator.test.ts
  conformance/runner/typescript/schema-validator.ts
Due: none

conformance(ts): retry-aware capture, bodyless-body drift check, fast-uri bump
  conformance/runner/typescript/package-lock.json
  conformance/runner/typescript/schema-validator.test.ts
  conformance/runner/typescript/schema-validator.ts
  conformance/runner/typescript/wire-capture.test.ts
  conformance/runner/typescript/wire-capture.ts
Due: none

conformance(ts): bump runner fast-uri to 3.1.4 for GHSA-v2hh-gcrm-f6hx
  conformance/runner/typescript/package-lock.json
Due: none

scripts: field-level wrapper drift check
  Makefile
  go.work
  scripts/check-wrapper-drift/go.mod
  scripts/check-wrapper-drift/main.go
  scripts/check-wrapper-drift/main_test.go
Due: go-test-short

wrappers: gofmt long-tag struct alignment
  go/pkg/basecamp/my_notifications.go
  go/pkg/basecamp/todos.go
  go/pkg/basecamp/todosets.go
Due: go-test-short

wrappers: cross-cutting Recording-shaped fields
  go/pkg/basecamp/campfires.go
  go/pkg/basecamp/checkins.go
  go/pkg/basecamp/comments.go
  go/pkg/basecamp/forwards.go
  go/pkg/basecamp/message_boards.go
  go/pkg/basecamp/messages.go
  go/pkg/basecamp/recordings.go
  go/pkg/basecamp/schedules.go
  go/pkg/basecamp/timesheet.go
  go/pkg/basecamp/todolists.go
Due: go-test-short

wrappers: stop omitempty hiding false bools and zero timestamps
  go/pkg/basecamp/forwards.go
  go/pkg/basecamp/my_notifications.go
  go/pkg/basecamp/timesheet.go
Due: go-test-short

wrappers: tighten propagation test assertions to exact values
  go/pkg/basecamp/wrapper_propagation_test.go
Due: go-test-short

wrappers: BC5 forward-compat fields
  go/pkg/basecamp/my_notifications.go
  go/pkg/basecamp/people.go
  go/pkg/basecamp/todos.go
  go/pkg/basecamp/todosets.go
Due: go-test-short

wrappers: one-off structural fields
  go/pkg/basecamp/campfires.go
  go/pkg/basecamp/forwards.go
  go/pkg/basecamp/gauges.go
  go/pkg/basecamp/message_boards.go
  go/pkg/basecamp/my_notifications.go
  go/pkg/basecamp/my_notifications_test.go
  go/pkg/basecamp/people.go
  go/pkg/basecamp/projects.go
  go/pkg/basecamp/templates.go
  go/pkg/basecamp/todos.go
Due: go-test-short

wrappers: tests for new field propagation
  go/BRIEF-bc5-forward-compat-wrappers.md
  go/pkg/basecamp/wrapper_propagation_test.go
Due: go-test-short

wrappers: preserve flexible notification person ids on decode
  go/pkg/basecamp/my_notifications.go
  go/pkg/basecamp/my_notifications_test.go
  go/pkg/basecamp/normalize.go
  go/pkg/basecamp/todos.go
Due: go-test-short

wrappers: standardize nested Person on personFromGenerated
  go/pkg/basecamp/boosts.go
  go/pkg/basecamp/campfires.go
  go/pkg/basecamp/cards.go
  go/pkg/basecamp/checkins.go
  go/pkg/basecamp/client_approvals.go
  go/pkg/basecamp/client_correspondences.go
  go/pkg/basecamp/client_replies.go
  go/pkg/basecamp/comments.go
  go/pkg/basecamp/events.go
  go/pkg/basecamp/forwards.go
  go/pkg/basecamp/message_boards.go
  go/pkg/basecamp/messages.go
  go/pkg/basecamp/recordings.go
  go/pkg/basecamp/reports.go
  go/pkg/basecamp/schedules.go
  go/pkg/basecamp/search.go
  go/pkg/basecamp/timeline.go
  go/pkg/basecamp/timesheet.go
  go/pkg/basecamp/todolist_groups.go
  go/pkg/basecamp/todolists.go
  go/pkg/basecamp/todos.go
  go/pkg/basecamp/todosets.go
  go/pkg/basecamp/vaults.go
Due: go-test-short

scripts: wrapper drift check verifies field population, not just tags
  Makefile
  scripts/check-wrapper-drift/main.go
  scripts/check-wrapper-drift/main_test.go
Due: go-test-short

wrappers: close remaining structural gaps surfaced by drift audit
  go/pkg/basecamp/cards.go
  go/pkg/basecamp/events.go
  go/pkg/basecamp/todos.go
  go/pkg/basecamp/vaults.go
Due: go-test-short

wrappers: preserve flexible gauge person ids; share embedded-person normalize
  go/pkg/basecamp/gauges.go
  go/pkg/basecamp/my_notifications.go
  go/pkg/basecamp/normalize.go
  go/pkg/basecamp/todos.go
  go/pkg/basecamp/wrapper_propagation_test.go
Due: go-test-short

scripts: scope wrapper-drift population walk to the wrapper instance
  scripts/check-wrapper-drift/main.go
  scripts/check-wrapper-drift/main_test.go
Due: go-test-short

scripts: regression tests for tier-3 composite-literal walker
  scripts/check-wrapper-drift/main_test.go
Due: go-test-short

spec(api-gaps): resolve #325 review threads (group count + activity status)
  spec/api-gaps/activity-timeline.md
  spec/api-gaps/everything-aggregates.md
Due: none

wrappers: route subscription subscribers through personFromGenerated
  go/pkg/basecamp/subscriptions.go
  go/pkg/basecamp/wrapper_propagation_test.go
Due: go-test-short

wrappers: drop omitempty from required visible_to_clients/inherits_status
  go/pkg/basecamp/comments.go
  go/pkg/basecamp/message_boards.go
  go/pkg/basecamp/messages.go
  go/pkg/basecamp/todos.go
Due: go-test-short

spec: settle memories doc comment on the documented contract + regenerate
  go/pkg/generated/client.gen.go
  openapi.json
  ruby/lib/basecamp/generated/metadata.json
  ruby/lib/basecamp/generated/types.rb
  spec/basecamp.smithy
  typescript/src/generated/metadata.ts
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/schema.d.ts
Due: go-test-short, typescript-lint, typescript-typecheck

wrappers: test required-bool marshaling; fix stale normalize name in comment
  go/pkg/basecamp/my_notifications_test.go
  go/pkg/basecamp/wrapper_propagation_test.go
Due: go-test-short

spec: align memories doc comment with the reconciliation + regenerate
  go/pkg/generated/client.gen.go
  openapi.json
  spec/basecamp.smithy
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/schema.d.ts
Due: go-test-short, typescript-lint, typescript-typecheck

spec(api-gaps): BC5 launch reconciliation — memories regression + scope cuts
  COORDINATION.md
  spec/api-gaps/README.md
  spec/api-gaps/activity-timeline.md
  spec/api-gaps/everything-aggregates.md
  spec/api-gaps/memories-emptied-regression.md
  spec/api-gaps/stack-doc-and-smithy.md
Due: none

wrappers: extend required-bool serialization test to Inbox/Forward/ForwardReply/TimesheetEntry
  go/pkg/basecamp/wrapper_propagation_test.go
Due: go-test-short

scripts: extend wrapper-drift map with inline-converted tier
  scripts/check-wrapper-drift/main.go
  scripts/check-wrapper-drift/main_test.go
Due: go-test-short

scripts: run wrapper-drift tests as part of the make target
  Makefile
Due: none

docs(brief): align omit-marker syntax + BubbleUpAt pointer choice
  go/BRIEF-bc5-forward-compat-wrappers.md
Due: none

spec(api-gaps): reconcile registry with the shipped BC5 API train
  COORDINATION.md
  spec/api-gaps/README.md
  spec/api-gaps/activity-timeline.md
  spec/api-gaps/calendar.md
  spec/api-gaps/everything-aggregates.md
  spec/api-gaps/memories-emptied-regression.md
  spec/api-gaps/recordable-subtypes-doc.md
  spec/api-gaps/recording-bubbleupable-field.md
  spec/api-gaps/rich-text-project-attachable.md
  spec/api-gaps/scratchpad.md
  spec/api-gaps/search-filter-additions.md
  spec/api-gaps/stack-doc-and-smithy.md
  spec/api-gaps/step-top-level.md
  spec/api-gaps/todoset-completed-list-visibility.md
Due: none

scripts: enumerate complete direct-decode pair set
  scripts/check-wrapper-drift/main.go
  scripts/check-wrapper-drift/main_test.go
Due: go-test-short

spec(api-gaps): clarify the memories waiver lives in PR #308, not this branch
  spec/api-gaps/memories-emptied-regression.md
Due: none
