Repository basecamp/basecamp-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-test-short, typescript-lint, typescript-typecheck

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
      - id: detect-private-key
      - id: check-case-conflict

  - repo: https://github.com/golangci/golangci-lint
    rev: v1.62.2
    hooks:
      - id: golangci-lint
        args: [--timeout=5m, --config=go/.golangci.yml]
        files: ^go/

  - repo: https://github.com/tekwizely/pre-commit-golang
    rev: v1.0.0-rc.1
    hooks:
      - id: go-fmt
        files: ^go/
      - id: go-vet
        files: ^go/
      - id: go-mod-tidy
        files: ^go/

  - repo: local
    hooks:
      - id: go-test-short
        name: go test -short
        entry: bash -c 'cd go && go test -short ./...'
        language: system
        pass_filenames: false
        types: [go]
        stages: [push]

      - id: typescript-lint
        name: typescript lint
        entry: bash -c 'cd typescript && npm run lint --if-present'
        language: system
        pass_filenames: false
        files: ^typescript/.*\.(ts|tsx)$
        stages: [commit]

      - id: typescript-typecheck
        name: typescript typecheck
        entry: bash -c 'cd typescript && npm run typecheck --if-present'
        language: system
        pass_filenames: false
        files: ^typescript/.*\.(ts|tsx)$
        stages: [push]

fromCache means served from the ETag cache, so require the header that proves it (#505)
  typescript/src/client.ts
  typescript/tests/middleware-lifecycle.test.ts
Due: typescript-lint, typescript-typecheck

Run the wrapper field-level drift gate in CI
  .github/workflows/test.yml
Due: none

Ruby README: todos.create takes todolist_id:, not project_id:
  ruby/README.md
Due: none

Remove the AI labeler: GitHub Models is retired
  .github/prompts/classify-pr.prompt.yml
  .github/prompts/detect-breaking.prompt.yml
  .github/prompts/spec-impact.prompt.yml
  .github/workflows/ai-labeler.yml
Due: none

npm audit on Node 24: npm 11 dropped the quick-audit fallback
  .github/workflows/security.yml
Due: none

Run the wrapper field-level drift gate in CI (#506)
  .github/workflows/test.yml
Due: none

Kotlin README: compile the error-handling sample, true-up tables
  kotlin/README.md
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/BasecampClient.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/BasecampException.kt
Due: none

TypeScript README: list() auto-paginates -- the docs claimed the opposite
  typescript/README.md
Due: none

Python README: 46 generated services, not 45
  python/README.md
Due: none

Go README: make every snippet compile against the real API
  go/README.md
Due: none

Swift README: fix the phantom todos.get arity and a macOS 13 API
  swift/README.md
  swift/Sources/Basecamp/AccountClient.swift
  swift/Sources/Basecamp/BasecampError.swift
  swift/Sources/Basecamp/Pagination.swift
Due: none

READMEs: fix every sample that misstates the API (#507)
  go/README.md
  kotlin/README.md
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/BasecampClient.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/BasecampException.kt
  python/README.md
  ruby/README.md
  swift/README.md
  swift/Sources/Basecamp/AccountClient.swift
  swift/Sources/Basecamp/BasecampError.swift
  swift/Sources/Basecamp/Pagination.swift
  typescript/README.md
Due: none

Remove the AI labeler; run npm audit on Node 24 (#512)
  .github/prompts/classify-pr.prompt.yml
  .github/prompts/detect-breaking.prompt.yml
  .github/prompts/spec-impact.prompt.yml
  .github/workflows/ai-labeler.yml
  .github/workflows/security.yml
Due: none

Flag Subscribe and EnableCardColumnOnHold as naturally idempotent
  behavior-model.json
  go/pkg/generated/client.gen.go
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/Metadata.kt
  openapi.json
  python/src/basecamp/generated/metadata.json
  ruby/lib/basecamp/generated/metadata.json
  scripts/check-idempotency-parity
  spec/basecamp.smithy
  swift/Sources/Basecamp/Generated/Metadata.swift
  typescript/src/generated/metadata.ts
  typescript/src/generated/openapi-stripped.json
Due: go-test-short, typescript-lint, typescript-typecheck

Docs follow the counts: 71 idempotent, 188 retry-eligible, 11 at max 2
  SECURITY.md
  SPEC.md
Due: none

Conformance: Subscribe must retry like the idempotent POST it now is
  conformance/runner/go/main.go
  conformance/runner/python/runner.py
  conformance/runner/ruby/runner.rb
  conformance/runner/typescript/runner.test.ts
  conformance/tests/idempotency.json
  kotlin/conformance/src/main/kotlin/com/basecamp/sdk/conformance/Main.kt
Due: go-test-short

Flag Subscribe and EnableCardColumnOnHold as naturally idempotent (#514)
  SECURITY.md
  SPEC.md
  behavior-model.json
  conformance/runner/go/main.go
  conformance/runner/python/runner.py
  conformance/runner/ruby/runner.rb
  conformance/runner/typescript/runner.test.ts
  conformance/tests/idempotency.json
  go/pkg/generated/client.gen.go
  kotlin/conformance/src/main/kotlin/com/basecamp/sdk/conformance/Main.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/Metadata.kt
  openapi.json
  python/src/basecamp/generated/metadata.json
  ruby/lib/basecamp/generated/metadata.json
  scripts/check-idempotency-parity
  spec/basecamp.smithy
  swift/Sources/Basecamp/Generated/Metadata.swift
  typescript/src/generated/metadata.ts
  typescript/src/generated/openapi-stripped.json
Due: go-test-short, typescript-lint, typescript-typecheck

Kotlin: the per-op retry max is a ceiling on the caller's cap, not a floor
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/BasecampClient.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/http/BasecampHttpClient.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/RetryTest.kt
Due: none

Conformance: GET 500 surfaces after exactly one attempt
  conformance/tests/retry.json
Due: none

Parity gate and SPEC follow the closed divergences
  SPEC.md
  scripts/check-retry-metadata-parity.py
Due: none

Kotlin pagination follow-ups keep their operation; SPEC states the zero-cap coercion
  SPEC.md
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/services/BaseService.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/RetryTest.kt
Due: none

Swift onRetry: report the upcoming attempt, not the one that failed
  swift/Sources/Basecamp/BasecampHooks.swift
  swift/Sources/Basecamp/HTTP/HTTPClient.swift
  swift/Tests/BasecampTests/HooksTests.swift
Due: none

Swift retry lifecycle: re-auth on every retry path, no events from catch
  swift/Sources/Basecamp/HTTP/HTTPClient.swift
  swift/Tests/BasecampTests/RetryTests.swift
Due: none

Kotlin: truncated only when items beyond the returned set were available
  kotlin/README.md
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/Pagination.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/services/BaseService.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/PaginationTest.kt
Due: none

Go: drop the dead pre-fetch limit check, pin the exact-boundary contract
  go/pkg/basecamp/checkins_test.go
  go/pkg/basecamp/timeline.go
  go/pkg/basecamp/timeline_test.go
Due: go-test-short

Swift: truncated only when items beyond the returned set were available
  swift/Sources/Basecamp/Pagination.swift
  swift/Sources/Basecamp/Services/BaseService.swift
  swift/Tests/BasecampTests/PaginationTests.swift
Due: none

TS: truncated only when items beyond the returned set were available
  typescript/README.md
  typescript/src/pagination.ts
  typescript/src/services/base.ts
  typescript/tests/services/base.test.ts
Due: typescript-lint, typescript-typecheck

Conformance: pin the exact-boundary truncated contract
  SPEC.md
  conformance/runner/python/runner.py
  conformance/runner/ruby/runner.rb
  conformance/tests/pagination.json
Due: none

Python: fix both truncated defects -- boundary false positive, cap false negative
  python/src/basecamp/generated/services/_async_base.py
  python/src/basecamp/generated/services/_base.py
  python/tests/test_paginate_truncated.py
Due: none

Ruby README: document the retry contract the transport actually implements
  ruby/README.md
  ruby/lib/basecamp/config.rb
Due: none

TS: make the pagination helper docstring examples pass strict typecheck
  typescript/src/client.ts
Due: typescript-lint, typescript-typecheck

Swift retry lifecycle: SPEC-correct onRetry numbering, re-auth on every retry path, no events from catch (#517)
  swift/Sources/Basecamp/BasecampHooks.swift
  swift/Sources/Basecamp/HTTP/HTTPClient.swift
  swift/Tests/BasecampTests/HooksTests.swift
  swift/Tests/BasecampTests/RetryTests.swift
Due: none

truncated: only report it when items beyond the returned set were available (#518)
  SPEC.md
  conformance/runner/python/runner.py
  conformance/runner/ruby/runner.rb
  conformance/tests/pagination.json
  go/pkg/basecamp/checkins_test.go
  go/pkg/basecamp/timeline.go
  go/pkg/basecamp/timeline_test.go
  kotlin/README.md
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/Pagination.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/services/BaseService.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/PaginationTest.kt
  python/src/basecamp/generated/services/_async_base.py
  python/src/basecamp/generated/services/_base.py
  python/tests/test_paginate_truncated.py
  swift/Sources/Basecamp/Pagination.swift
  swift/Sources/Basecamp/Services/BaseService.swift
  swift/Tests/BasecampTests/PaginationTests.swift
  typescript/README.md
  typescript/src/pagination.ts
  typescript/src/services/base.ts
  typescript/tests/services/base.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Ruby retry docs from ground truth; TS docstring examples typecheck (#519)
  ruby/README.md
  ruby/lib/basecamp/config.rb
  typescript/src/client.ts
Due: typescript-lint, typescript-typecheck

Bump version to 0.11.0
  conformance/runner/typescript/package-lock.json
  go/pkg/basecamp/version.go
  kotlin/sdk/build.gradle.kts
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/BasecampConfig.kt
  package.json
  python/pyproject.toml
  python/src/basecamp/_version.py
  python/uv.lock
  ruby/Gemfile.lock
  ruby/lib/basecamp/version.rb
  swift/Sources/Basecamp/BasecampConfig.swift
  typescript/package-lock.json
  typescript/package.json
  typescript/src/client.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Bump version to 0.11.0 (#516)
  conformance/runner/typescript/package-lock.json
  go/pkg/basecamp/version.go
  kotlin/sdk/build.gradle.kts
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/BasecampConfig.kt
  package.json
  python/pyproject.toml
  python/src/basecamp/_version.py
  python/uv.lock
  ruby/Gemfile.lock
  ruby/lib/basecamp/version.rb
  swift/Sources/Basecamp/BasecampConfig.swift
  typescript/package-lock.json
  typescript/package.json
  typescript/src/client.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Close out memories-emptied-regression: the settled contract is fully modeled
  spec/api-gaps/README.md
  spec/api-gaps/memories-emptied-regression.md
Due: none

Close out memories-emptied-regression: the settled contract is fully modeled (#520)
  spec/api-gaps/README.md
  spec/api-gaps/memories-emptied-regression.md
Due: none
