Repository basecamp/basecamp-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-test-short, typescript-lint, typescript-typecheck

go-test-short:
  name: go test -short
  entry: bash -c 'cd go && go test -short ./...'
  language: system
  pass_filenames: false
  stages:
  - push

typescript-lint:
  name: typescript lint
  entry: bash -c 'cd typescript && npm run lint --if-present'
  language: system
  pass_filenames: false
  stages:
  - commit

typescript-typecheck:
  name: typescript typecheck
  entry: bash -c 'cd typescript && npm run typecheck --if-present'
  language: system
  pass_filenames: false
  stages:
  - push

Add pagination support to all Go SDK list methods
  go/pkg/basecamp/boosts.go
  go/pkg/basecamp/campfires.go
  go/pkg/basecamp/campfires_test.go
  go/pkg/basecamp/client_approvals.go
  go/pkg/basecamp/client_correspondences.go
  go/pkg/basecamp/client_replies.go
  go/pkg/basecamp/doc.go
  go/pkg/basecamp/example_test.go
  go/pkg/basecamp/message_types.go
  go/pkg/basecamp/people.go
  go/pkg/basecamp/search.go
  go/pkg/basecamp/templates.go
  go/pkg/basecamp/timeline.go
  go/pkg/basecamp/timeline_test.go
  go/pkg/basecamp/timesheet.go
  go/pkg/basecamp/todolist_groups.go
  go/pkg/basecamp/vaults.go
  go/pkg/basecamp/webhooks.go
Due: go-test-short

Update conformance runners and bump version to 0.4.0
  conformance/runner/go/main.go
  conformance/runner/ruby/runner.rb
  conformance/runner/typescript/package-lock.json
  conformance/tests/paths.json
  go/pkg/basecamp/version.go
  package.json
  ruby/lib/basecamp/version.rb
Due: go-test-short

Tighten timeline limit contract and add missing test coverage
  go/pkg/basecamp/timeline.go
  go/pkg/basecamp/timeline_test.go
Due: go-test-short

Address bot review findings
  go/pkg/basecamp/campfires.go
  go/pkg/basecamp/client_approvals.go
  go/pkg/basecamp/client_correspondences.go
  go/pkg/basecamp/client_replies.go
  go/pkg/basecamp/message_types.go
  go/pkg/basecamp/people.go
  go/pkg/basecamp/search.go
  go/pkg/basecamp/templates.go
  go/pkg/basecamp/timeline.go
  go/pkg/basecamp/timeline_test.go
  go/pkg/basecamp/timesheet.go
  go/pkg/basecamp/todolist_groups.go
  go/pkg/basecamp/vaults.go
  go/pkg/basecamp/webhooks.go
  kotlin/generator/src/main/kotlin/com/basecamp/sdk/generator/ServiceEmitter.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/models/Upload.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/reports.kt
Due: go-test-short

Notes added by 'git notes add'
  9b/7afd6a8ba56e76605d604146139607c4207060
Due: none

Sanitize log output in conformance runner to fix CodeQL alert
  conformance/runner/go/main.go
Due: go-test-short

Revert stale Upload.kt width/height Double back to Int
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/models/Upload.kt
Due: none

Notes added by 'git notes add'
  2e/406db632e894d83088a7a38014db5ea4bf3904
Due: none

Fix codegen: omit zero-value optional bool params in generated requests
  go/pkg/basecamp/zero_value_params_test.go
  go/pkg/generated/client.gen.go
  go/templates/client.tmpl
Due: go-test-short

Notes added by 'git notes add'
  00/5adc35f17e47c00bcbdc47ed7e3d05f6c14253
Due: none

Add boost maxLength and message sort/direction to spec
  go/pkg/basecamp/messages.go
  go/pkg/generated/client.gen.go
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/Types.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/messages.kt
  openapi.json
  ruby/lib/basecamp/generated/metadata.json
  ruby/lib/basecamp/generated/services/messages_service.rb
  ruby/lib/basecamp/generated/types.rb
  spec/basecamp.smithy
  swift/Sources/Basecamp/Generated/Services/MessagesService.swift
  typescript/src/generated/metadata.json
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/schema.d.ts
  typescript/src/generated/services/messages.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Notes added by 'git notes add'
  e6/1b6267b8436e4f0d9dc376baf5b507191914ed
Due: none

Test message sort/direction param forwarding
  go/pkg/basecamp/messages_test.go
  go/pkg/basecamp/zero_value_params_test.go
  ruby/test/basecamp/services/messages_service_test.rb
  typescript/tests/services/messages.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Notes added by 'git notes add'
  95/c96eab8475618c6dcd6d59fd3341bda2bb85fb
Due: none

Notes added by 'git notes add'
  a1/7352806bc7da94bc9e82e1690f692bf563304e
Due: none

Update API provenance to bc3/bc3-api HEAD
  go/pkg/basecamp/api-provenance.json
  spec/api-provenance.json
Due: none

Add boost maxLength and message sort/direction params (#175)
  go/pkg/basecamp/api-provenance.json
  go/pkg/basecamp/messages.go
  go/pkg/basecamp/messages_test.go
  go/pkg/basecamp/zero_value_params_test.go
  go/pkg/generated/client.gen.go
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/Types.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/messages.kt
  openapi.json
  ruby/lib/basecamp/generated/metadata.json
  ruby/lib/basecamp/generated/services/messages_service.rb
  ruby/lib/basecamp/generated/types.rb
  ruby/test/basecamp/services/messages_service_test.rb
  spec/api-provenance.json
  spec/basecamp.smithy
  swift/Sources/Basecamp/Generated/Services/MessagesService.swift
  typescript/src/generated/metadata.json
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/schema.d.ts
  typescript/src/generated/services/messages.ts
  typescript/tests/services/messages.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Bump version to 0.5.0
  go/pkg/basecamp/version.go
  kotlin/sdk/build.gradle.kts
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/BasecampConfig.kt
  package.json
  ruby/Gemfile.lock
  ruby/lib/basecamp/version.rb
  swift/Sources/Basecamp/BasecampConfig.swift
  typescript/package-lock.json
  typescript/package.json
  typescript/src/client.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Notes added by 'git notes add'
  3e/110b2d289fa309a850588ff124652c0a7e6694
Due: none

Fix tool CRUD endpoints to use bucket-scoped paths
  go/pkg/basecamp/tools.go
  go/pkg/basecamp/url-routes.json
  go/pkg/generated/client.gen.go
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/tools.kt
  openapi.json
  ruby/lib/basecamp/generated/metadata.json
  ruby/lib/basecamp/generated/services/tools_service.rb
  ruby/lib/basecamp/generated/types.rb
  ruby/test/basecamp/services/tools_service_test.rb
  spec/basecamp.smithy
  swift/Sources/Basecamp/Generated/Services/ToolsService.swift
  typescript/src/generated/metadata.json
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/path-mapping.ts
  typescript/src/generated/schema.d.ts
  typescript/src/generated/services/index.ts
  typescript/src/generated/services/tools.ts
  typescript/tests/services/tools.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Notes added by 'git notes add'
  f5/163153dff65664e69a8ce52cbee9977512795d
Due: none

Add DownloadURL method and refactor upload download to shared fetchSignedDownload
  go/pkg/basecamp/download.go
  go/pkg/basecamp/download_test.go
  go/pkg/basecamp/vaults.go
Due: go-test-short

Notes added by 'git notes add'
  7f/030f22996cb850656ec7229e23f3370fe17704
Due: none

Add downloadURL to TypeScript SDK
  typescript/src/client.ts
  typescript/src/download.ts
  typescript/src/index.ts
  typescript/tests/download.test.ts
Due: typescript-lint, typescript-typecheck

Notes added by 'git notes add'
  73/639cbe26ba70dcec806874da1ff228e19fe177
Due: none

Address review feedback from automated reviewers
  go/pkg/basecamp/download.go
  go/pkg/basecamp/download_test.go
  typescript/src/download.ts
  typescript/tests/download.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Fix TodolistOrGroup union deserialization for Get and Update
  go/pkg/basecamp/todolist_groups.go
  go/pkg/basecamp/todolists.go
Due: go-test-short

Notes added by 'git notes add'
  e2/71177f1927fed40ed236b103df905687674d93
Due: none

Add httptest service contract tests for todolists and todolist groups
  go/pkg/basecamp/todolist_groups_test.go
  go/pkg/basecamp/todolists_test.go
Due: go-test-short

Notes added by 'git notes add'
  d1/a620beb710b14a197854a54bbf60952788b54c
Due: none

Notes added by 'git notes add'
  55/504a066c3b606b9767e1cd72894b5e1d63fae8
Due: none

Notes added by 'git notes add'
  55/0fda292009548f4d344c3ae076a406569c024e
Due: none

Notes added by 'git notes add'
  df/5a44ce82f1c143b835b0382db7d1e204e9f28c
Due: none

Notes added by 'git notes add'
  e3/3a1ee8613af4c70f6c9bf8df62906343410225
Due: none

Notes added by 'git notes add'
  98/69fc033b6e155e6d630450a1ed343e33d146a1
Due: none

Notes added by 'git notes add'
  34/9a21686708758b189cf91dd7c1ffd23144fc0a
Due: none

Notes added by 'git notes add'
  11/848368420d2ae38c381317023b57ed6a6e56aa
Due: none

Notes added by 'git notes add'
  b5/576d5aeb08a230d92088cc11332af1672be49e
Due: none

Fix TodolistOrGroup union deserialization for Get/Update (#179)
  go/pkg/basecamp/todolist_groups.go
  go/pkg/basecamp/todolist_groups_test.go
  go/pkg/basecamp/todolists.go
  go/pkg/basecamp/todolists_test.go
Due: go-test-short

Notes added by 'git notes add'
  f0/3e8e5492a9797eda1dc5c1741bdaa7667ed58b
Due: none

Path conditions:
  go-test-short: any of: \.go$
  typescript-lint: any of: ^typescript/.*\.(ts|tsx)$
  typescript-typecheck: any of: ^typescript/.*\.(ts|tsx)$
