Repository basecamp/basecamp-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-test-short, typescript-lint, typescript-typecheck

go-test-short:
  name: go test -short
  entry: bash -c 'cd go && go test -short ./...'
  language: system
  pass_filenames: false
  stages:
  - push

typescript-lint:
  name: typescript lint
  entry: bash -c 'cd typescript && npm run lint --if-present'
  language: system
  pass_filenames: false
  stages:
  - commit

typescript-typecheck:
  name: typescript typecheck
  entry: bash -c 'cd typescript && npm run typecheck --if-present'
  language: system
  pass_filenames: false
  stages:
  - push

Add nil/empty subscription tests for schedule entries; fix id_count metric
  go/pkg/basecamp/schedules_test.go
  scripts/enhance-openapi-go-types.sh
Due: go-test-short

Add shared splice-prompt.py script
  .github/scripts/splice-prompt.py
Due: none

Fix ai-labeler.yml YAML syntax error
  .github/workflows/ai-labeler.yml
Due: none

Fix shellcheck SC2129 and remove stale actionlint ignore
  .github/actionlint.yaml
  .github/workflows/ai-labeler.yml
Due: none

Bump version to 0.2.2
  go.work.sum
  go/pkg/basecamp/version.go
  kotlin/sdk/build.gradle.kts
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/BasecampConfig.kt
  package.json
  ruby/lib/basecamp/version.rb
  swift/Sources/Basecamp/BasecampConfig.swift
  typescript/package-lock.json
  typescript/package.json
  typescript/src/client.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Fix Go module cache path in all workflows
  .github/workflows/codeql.yml
  .github/workflows/release-go.yml
  .github/workflows/security.yml
  .github/workflows/test.yml
Due: none

Fix 5xx retryable flag and add X-Request-Id extraction to errors
  go/pkg/basecamp/errors.go
  go/pkg/basecamp/helpers.go
  go/pkg/basecamp/helpers_test.go
  ruby/lib/basecamp/errors.rb
  ruby/lib/basecamp/http.rb
Due: go-test-short

Add conformance tests for auth, error-mapping, and security
  conformance/schema.json
  conformance/tests/auth.json
  conformance/tests/error-mapping.json
  conformance/tests/pagination.json
  conformance/tests/paths.json
  conformance/tests/security.json
Due: none

Add rubric-audit.json with manual criteria and waivers
  rubric-audit.json
Due: none

Update conformance runners for new assertion types and skip policy
  conformance/runner/go/main.go
  conformance/runner/ruby/runner.rb
  conformance/runner/typescript/runner.test.ts
  kotlin/conformance/src/main/kotlin/com/basecamp/sdk/conformance/Main.kt
Due: go-test-short

Don't retry non-idempotent POST requests
  ruby/lib/basecamp/http.rb
  typescript/src/client.ts
  typescript/tests/client.test.ts
Due: typescript-lint, typescript-typecheck

Address PR review feedback on conformance runners
  conformance/runner/go/main.go
  conformance/runner/typescript/runner.test.ts
  kotlin/conformance/src/main/kotlin/com/basecamp/sdk/conformance/Main.kt
Due: go-test-short

Add conformance tests, error fixes, and rubric audit (#147)
  conformance/runner/go/main.go
  conformance/runner/ruby/runner.rb
  conformance/runner/typescript/runner.test.ts
  conformance/schema.json
  conformance/tests/auth.json
  conformance/tests/error-mapping.json
  conformance/tests/pagination.json
  conformance/tests/paths.json
  conformance/tests/security.json
  go/pkg/basecamp/errors.go
  go/pkg/basecamp/helpers.go
  go/pkg/basecamp/helpers_test.go
  kotlin/conformance/src/main/kotlin/com/basecamp/sdk/conformance/Main.kt
  rubric-audit.json
  ruby/lib/basecamp/errors.rb
  ruby/lib/basecamp/http.rb
  typescript/src/client.ts
  typescript/tests/client.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Surface code_challenge_methods_supported from OAuth discovery
  typescript/src/oauth/discovery.ts
  typescript/src/oauth/types.ts
  typescript/tests/oauth/oauth.test.ts
Due: typescript-lint, typescript-typecheck

Negotiate PKCE from OAuth discovery metadata
  typescript/src/oauth/interactive-login.ts
  typescript/tests/oauth/interactive-login.test.ts
Due: typescript-lint, typescript-typecheck

Update OAuth README to reflect PKCE negotiation and buildAuthorizationUrl
  typescript/README.md
Due: none

Expand conformance test suite from 45 to 58 tests
  conformance/schema.json
  conformance/tests/auth.json
  conformance/tests/error-mapping.json
  conformance/tests/integer-precision.json
  conformance/tests/pagination.json
  conformance/tests/retry.json
  conformance/tests/security.json
Due: none

Add truncation metadata to Go SDK pagination
  go/pkg/basecamp/cards.go
  go/pkg/basecamp/checkins.go
  go/pkg/basecamp/client.go
  go/pkg/basecamp/comments.go
  go/pkg/basecamp/events.go
  go/pkg/basecamp/forwards.go
  go/pkg/basecamp/helpers.go
  go/pkg/basecamp/messages.go
  go/pkg/basecamp/people.go
  go/pkg/basecamp/projects.go
  go/pkg/basecamp/recordings.go
  go/pkg/basecamp/schedules.go
  go/pkg/basecamp/todolists.go
  go/pkg/basecamp/todos.go
  go/pkg/basecamp/vaults.go
Due: go-test-short

Update all conformance runners for expanded test suite
  conformance/runner/go/main.go
  conformance/runner/ruby/runner.rb
  conformance/runner/typescript/package-lock.json
  conformance/runner/typescript/runner.test.ts
  kotlin/conformance/src/main/kotlin/com/basecamp/sdk/conformance/Main.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/BasecampClient.kt
Due: go-test-short

Address PR review comments
  conformance/runner/go/main.go
  go/pkg/basecamp/client.go
Due: go-test-short

Wire maxItems to ListTodos runner, fix mock body shapes
  conformance/runner/go/main.go
  conformance/tests/pagination.json
Due: go-test-short

Fix ListMeta.Truncated doc comment, add nil guard to isFirstPageTruncated
  go/pkg/basecamp/helpers.go
Due: go-test-short

Fix noctx lint: use http.NewRequestWithContext in webhook handler tests
  go/pkg/basecamp/webhook_handler_test.go
Due: go-test-short

Guard isFirstPageTruncated against limit<=0
  go/pkg/basecamp/helpers.go
Due: go-test-short

Make TS maxPages configurable, add rubric waivers for JS precision and Ruby pagination gaps
  conformance/runner/typescript/runner.test.ts
  rubric-audit.json
  typescript/src/client.ts
  typescript/src/services/base.ts
Due: typescript-lint, typescript-typecheck

Deepen conformance coverage: 58 tests across 9 suites (#149)
  conformance/runner/go/main.go
  conformance/runner/ruby/runner.rb
  conformance/runner/typescript/package-lock.json
  conformance/runner/typescript/runner.test.ts
  conformance/schema.json
  conformance/tests/auth.json
  conformance/tests/error-mapping.json
  conformance/tests/integer-precision.json
  conformance/tests/pagination.json
  conformance/tests/retry.json
  conformance/tests/security.json
  go/pkg/basecamp/cards.go
  go/pkg/basecamp/checkins.go
  go/pkg/basecamp/client.go
  go/pkg/basecamp/comments.go
  go/pkg/basecamp/events.go
  go/pkg/basecamp/forwards.go
  go/pkg/basecamp/helpers.go
  go/pkg/basecamp/messages.go
  go/pkg/basecamp/people.go
  go/pkg/basecamp/projects.go
  go/pkg/basecamp/recordings.go
  go/pkg/basecamp/schedules.go
  go/pkg/basecamp/todolists.go
  go/pkg/basecamp/todos.go
  go/pkg/basecamp/vaults.go
  go/pkg/basecamp/webhook_handler_test.go
  kotlin/conformance/src/main/kotlin/com/basecamp/sdk/conformance/Main.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/BasecampClient.kt
  rubric-audit.json
  typescript/src/client.ts
  typescript/src/services/base.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Fix stale MAX_PAGES reference in comment
  typescript/src/services/base.ts
Due: typescript-lint, typescript-typecheck

Fix script injection in AI labeler workflow
  .github/prompts/classify-pr.prompt.yml
  .github/workflows/ai-labeler.yml
Due: none

Notes added by 'git notes add'
  6571a818fbc41a8ddcae05a27669e48d6c3fb009
Due: none

Notes added by 'git notes add'
  258a2b0dd0da00ddf620d6fbc00d442c77fb2c22
Due: none

Fix script injection in release workflows
  .github/workflows/release-github.yml
  .github/workflows/release-go.yml
  .github/workflows/release-kotlin.yml
  .github/workflows/release-ruby.yml
  .github/workflows/release-swift.yml
  .github/workflows/release-typescript.yml
Due: none

Pin all actions to immutable SHA commits
  .github/workflows/codeql.yml
  .github/workflows/dependabot-auto-merge.yml
  .github/workflows/labeler.yml
  .github/workflows/security.yml
  .github/workflows/smithy-verify.yml
  .github/workflows/test.yml
Due: none

Notes added by 'git notes add'
  357a0871c6a95fa25e2d3dad7392a56129be8b29
Due: none

Address review feedback: fix jq normalization, response format, and labeler version
  .github/prompts/classify-pr.prompt.yml
  .github/workflows/ai-labeler.yml
  .github/workflows/labeler.yml
Due: none

Notes added by 'git notes add'
  c1f496bed7a615aada282152f4b1664d90ba6baa
Due: none

Notes added by 'git notes add'
  097799831bb9dc32dbc23416085ea71f591de02b
Due: none

Migrate to privilege-separated reusable AI workflows
  .github/scripts/splice-prompt.py
  .github/workflows/ai-labeler.yml
Due: none

Notes added by 'git notes add'
  1cf149faa58a7daa81d55ddcf92dc0f573a344d2
Due: none

Fix heredoc terminator in spec-impact build step
  .github/workflows/ai-labeler.yml
Due: none

Path conditions:
  go-test-short: any of: \.go$
  typescript-lint: any of: ^typescript/.*\.(ts|tsx)$
  typescript-typecheck: any of: ^typescript/.*\.(ts|tsx)$
