Repository basecamp/basecamp-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-test-short, typescript-lint, typescript-typecheck

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
      - id: detect-private-key
      - id: check-case-conflict

  - repo: https://github.com/golangci/golangci-lint
    rev: v1.62.2
    hooks:
      - id: golangci-lint
        args: [--timeout=5m, --config=go/.golangci.yml]
        files: ^go/

  - repo: https://github.com/tekwizely/pre-commit-golang
    rev: v1.0.0-rc.1
    hooks:
      - id: go-fmt
        files: ^go/
      - id: go-vet
        files: ^go/
      - id: go-mod-tidy
        files: ^go/

  - repo: local
    hooks:
      - id: go-test-short
        name: go test -short
        entry: bash -c 'cd go && go test -short ./...'
        language: system
        pass_filenames: false
        types: [go]
        stages: [push]

      - id: typescript-lint
        name: typescript lint
        entry: bash -c 'cd typescript && npm run lint --if-present'
        language: system
        pass_filenames: false
        files: ^typescript/.*\.(ts|tsx)$
        stages: [commit]

      - id: typescript-typecheck
        name: typescript typecheck
        entry: bash -c 'cd typescript && npm run typecheck --if-present'
        language: system
        pass_filenames: false
        files: ^typescript/.*\.(ts|tsx)$
        stages: [push]

Add GetCardStep operation to Smithy spec
  behavior-model.json
  go/pkg/basecamp/url-routes.json
  openapi.json
  spec/basecamp.smithy
  spec/overlays/tags.smithy
Due: none

Regenerate all SDK clients for GetCardStep
  go/pkg/generated/client.gen.go
  kotlin/generator/src/main/kotlin/com/basecamp/sdk/generator/Config.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/Metadata.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/card-steps.kt
  ruby/lib/basecamp/generated/metadata.json
  ruby/lib/basecamp/generated/services/card_steps_service.rb
  ruby/lib/basecamp/generated/types.rb
  ruby/scripts/generate-services.rb
  swift/Sources/Basecamp/Generated/Metadata.swift
  swift/Sources/Basecamp/Generated/Services/CardStepsService.swift
  swift/Sources/BasecampGenerator/ServiceGrouper.swift
  typescript/scripts/generate-services.ts
  typescript/src/generated/metadata.json
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/path-mapping.ts
  typescript/src/generated/schema.d.ts
  typescript/src/generated/services/card-steps.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Add CardStepsService.Get() Go wrapper and tests
  go/pkg/basecamp/cards.go
  go/pkg/basecamp/cards_test.go
  ruby/test/basecamp/services/card_steps_service_test.rb
  typescript/tests/services/card-steps.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Notes added by 'git notes add'
  07/bb0267285483687e1cf42b3adb70ef5e815a51
Due: none

Add CardStepsService.Get() (#183)
  behavior-model.json
  go/pkg/basecamp/cards.go
  go/pkg/basecamp/cards_test.go
  go/pkg/basecamp/url-routes.json
  go/pkg/generated/client.gen.go
  kotlin/generator/src/main/kotlin/com/basecamp/sdk/generator/Config.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/Metadata.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/card-steps.kt
  openapi.json
  ruby/lib/basecamp/generated/metadata.json
  ruby/lib/basecamp/generated/services/card_steps_service.rb
  ruby/lib/basecamp/generated/types.rb
  ruby/scripts/generate-services.rb
  ruby/test/basecamp/services/card_steps_service_test.rb
  spec/basecamp.smithy
  spec/overlays/tags.smithy
  swift/Sources/Basecamp/Generated/Metadata.swift
  swift/Sources/Basecamp/Generated/Services/CardStepsService.swift
  swift/Sources/BasecampGenerator/ServiceGrouper.swift
  typescript/scripts/generate-services.ts
  typescript/src/generated/metadata.json
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/path-mapping.ts
  typescript/src/generated/schema.d.ts
  typescript/src/generated/services/card-steps.ts
  typescript/tests/services/card-steps.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Notes added by 'git notes add'
  e3/32ae70cc8166ca9ab8da04c4bdf3ec8e91ff14
Due: none

Notes added by 'git notes add'
  b5/f7d7ed791b69462d737cfeda6c6bd5ae377ac5
Due: none

Simplify LineupMarker to match API shape and add ListLineupMarkers
  behavior-model.json
  go/pkg/basecamp/lineup.go
  go/pkg/basecamp/lineup_test.go
  go/pkg/basecamp/url-routes.json
  go/pkg/generated/client.gen.go
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/Metadata.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/ServiceAccessors.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/models/LineupMarker.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/automation.kt
  openapi.json
  ruby/lib/basecamp/generated/metadata.json
  ruby/lib/basecamp/generated/services/automation_service.rb
  ruby/lib/basecamp/generated/types.rb
  spec/basecamp.smithy
  spec/fixtures/lineup/create.json
  spec/fixtures/lineup/list.json
  spec/fixtures/lineup/update.json
  spec/overlays/tags.smithy
  swift/Sources/Basecamp/Generated/AccountClient+Services.swift
  swift/Sources/Basecamp/Generated/Metadata.swift
  swift/Sources/Basecamp/Generated/Models/LineupMarker.swift
  swift/Sources/Basecamp/Generated/Services/AutomationService.swift
  typescript/src/generated/metadata.json
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/path-mapping.ts
  typescript/src/generated/schema.d.ts
  typescript/src/generated/services/automation.ts
  typescript/src/generated/services/index.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Wire AutomationService into TS and Ruby clients with lineup list tests
  ruby/lib/basecamp/client.rb
  ruby/test/basecamp/services/automation_service_test.rb
  typescript/src/client.ts
  typescript/src/index.ts
  typescript/tests/services/automation.test.ts
Due: typescript-lint, typescript-typecheck

Notes added by 'git notes add'
  5e/0692b48e1427a5fd53509d1a334a6552fba30c
Due: none

Simplify LineupMarker and add ListLineupMarkers (#185)
  behavior-model.json
  go/pkg/basecamp/lineup.go
  go/pkg/basecamp/lineup_test.go
  go/pkg/basecamp/url-routes.json
  go/pkg/generated/client.gen.go
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/Metadata.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/ServiceAccessors.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/models/LineupMarker.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/automation.kt
  openapi.json
  ruby/lib/basecamp/client.rb
  ruby/lib/basecamp/generated/metadata.json
  ruby/lib/basecamp/generated/services/automation_service.rb
  ruby/lib/basecamp/generated/types.rb
  ruby/test/basecamp/services/automation_service_test.rb
  spec/basecamp.smithy
  spec/fixtures/lineup/create.json
  spec/fixtures/lineup/list.json
  spec/fixtures/lineup/update.json
  spec/overlays/tags.smithy
  swift/Sources/Basecamp/Generated/AccountClient+Services.swift
  swift/Sources/Basecamp/Generated/Metadata.swift
  swift/Sources/Basecamp/Generated/Models/LineupMarker.swift
  swift/Sources/Basecamp/Generated/Services/AutomationService.swift
  typescript/src/client.ts
  typescript/src/generated/metadata.json
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/path-mapping.ts
  typescript/src/generated/schema.d.ts
  typescript/src/generated/services/automation.ts
  typescript/src/generated/services/index.ts
  typescript/src/index.ts
  typescript/tests/services/automation.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Make CloneTool title optional via CloneToolOptions struct
  conformance/runner/go/main.go
  go/pkg/basecamp/tools.go
  go/pkg/basecamp/url-routes.json
  ruby/lib/basecamp/generated/metadata.json
  ruby/lib/basecamp/generated/types.rb
  typescript/src/generated/metadata.json
Due: go-test-short

Notes added by 'git notes add'
  c3/fffe001a2e137845eb4dcdd352589790db4ec7
Due: none

Pass parsed API message through NotFoundError on 404
  ruby/lib/basecamp/error.rb
  ruby/lib/basecamp/http.rb
  ruby/lib/basecamp/not_found_error.rb
Due: none

Notes added by 'git notes add'
  c1/bb566cd9b6aa6539bb6d3bbb71674393280f68
Due: none

Move Basecamp module methods out of autoloaded files
  ruby/lib/basecamp.rb
  ruby/lib/basecamp/download_result.rb
  ruby/lib/basecamp/error.rb
Due: none

Notes added by 'git notes add'
  c3/88411986337523b4f04aeb946ab3cf390e9024
Due: none

Extract VerificationError into its own autoloadable file
  ruby/lib/basecamp/webhooks/receiver.rb
  ruby/lib/basecamp/webhooks/verification_error.rb
Due: none

Notes added by 'git notes add'
  6f/89d521ac87c0bdaac22453e59771c98cd780c1
Due: none

Fix misplaced docstring for parse_error_message
  ruby/lib/basecamp.rb
Due: none

Notes added by 'git notes add'
  be/c15d7528405cf75fbc908fc2def22069696978
Due: none

Notes added by 'git notes add'
  f7/e9e2cdf1c020d8c7abb7e8047bbe840d2e9ece
Due: none

Disable Gradle daemon in both projects
  kotlin/gradle.properties
  spec/smithy-bare-arrays/gradle.properties
Due: none

Notes added by 'git notes add'
  da/f038faa27cddecaa0547170ed519c169b72e07
Due: none

Add gradle-stop Make target to kill lingering daemons
  Makefile
Due: none

Notes added by 'git notes add'
  78/e597994aa666351efcefda563e87b5b3233b33
Due: none

Remove error suppression from gradle-stop recipe
  Makefile
Due: none

Stop Gradle daemons from lingering after builds (#187)
  Makefile
  kotlin/gradle.properties
  spec/smithy-bare-arrays/gradle.properties
Due: none

Bump version to 0.6.0
  go/pkg/basecamp/version.go
  kotlin/sdk/build.gradle.kts
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/BasecampConfig.kt
  package.json
  ruby/Gemfile.lock
  ruby/lib/basecamp/version.rb
  swift/Sources/Basecamp/BasecampConfig.swift
  typescript/package-lock.json
  typescript/package.json
  typescript/src/client.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Notes added by 'git notes add'
  7e/55f2e3da9de49a3f92d2b721695605ab39480e
Due: none

feat(cards): add on_hold property to CardColumn
  go/pkg/basecamp/cards.go
  go/pkg/generated/client.gen.go
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/models/CardColumn.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/models/CardColumnOnHold.kt
  openapi.json
  ruby/lib/basecamp/generated/types.rb
  spec/basecamp.smithy
  swift/Sources/Basecamp/Generated/Models/CardColumn.swift
  swift/Sources/Basecamp/Generated/Models/CardColumnOnHold.swift
  typescript/src/generated/schema.d.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Notes added by 'git notes add'
  6e/27a56880c9adc0fec9c20405907b230bb95a56
Due: none

Restore - prefix on gradle-stop so both commands run even if the first fails
  Makefile
Due: none

Notes added by 'git notes add'
  48/e141d6a75416f36bc20a12389a7a2ec4f9977e
Due: none

Notes added by 'git notes add'
  0f/7085f63a3c46f7b8e4190235e60ce88a886cff
Due: none

Notes added by 'git notes add'
  e1/0f3f985f5dcc47fd685d46ecbeab6310b91b2a
Due: none

Notes added by 'git notes add'
  65/d83f32d620e996f6e9c06f9352524eba850089
Due: none

fix(cards): align CardColumnOnHold schema with BC3 API
  go/pkg/basecamp/cards.go
  go/pkg/basecamp/cards_test.go
  go/pkg/generated/client.gen.go
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/models/CardColumn.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/models/CardColumnOnHold.kt
  openapi.json
  ruby/lib/basecamp/generated/metadata.json
  ruby/lib/basecamp/generated/types.rb
  ruby/test/basecamp/services/card_columns_service_test.rb
  spec/basecamp.smithy
  spec/fixtures/cards/card_table.json
  spec/fixtures/cards/column.json
  swift/Sources/Basecamp/Generated/Models/CardColumn.swift
  swift/Sources/Basecamp/Generated/Models/CardColumnOnHold.swift
  typescript/src/generated/metadata.json
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/schema.d.ts
  typescript/tests/services/card-columns.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck
