Repository basecamp/basecamp-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-test-short, typescript-lint, typescript-typecheck

go-test-short:
  name: go test -short
  entry: bash -c 'cd go && go test -short ./...'
  language: system
  pass_filenames: false
  stages:
  - push

typescript-lint:
  name: typescript lint
  entry: bash -c 'cd typescript && npm run lint --if-present'
  language: system
  pass_filenames: false
  stages:
  - commit

typescript-typecheck:
  name: typescript typecheck
  entry: bash -c 'cd typescript && npm run typecheck --if-present'
  language: system
  pass_filenames: false
  stages:
  - push

auth, device: validate-then-mutate refresh; bound Retry-After digits (Go, TS)
  go/pkg/basecamp/auth.go
  typescript/src/oauth/device.ts
  typescript/tests/oauth/device.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

auth: fail refresh on a present-but-empty resource (Go)
  go/pkg/basecamp/auth.go
  go/pkg/basecamp/auth_test.go
Due: go-test-short

review: persist resource in FileTokenStore; harden Retry-After parsing; empty-resource omission; schema and doc truth-ups
  SPEC.md
  conformance/oauth-token/schema.json
  go/README.md
  go/pkg/basecamp/auth.go
  go/pkg/basecamp/auth_test.go
  go/pkg/basecamp/oauth/device.go
  go/pkg/basecamp/oauth/device_test.go
  python/src/basecamp/oauth/device.py
  python/src/basecamp/oauth/exchange.py
  python/tests/oauth/test_device.py
  python/tests/oauth/test_exchange.py
  python/tests/oauth/test_token_conformance.py
  ruby/lib/basecamp/oauth/device_flow.rb
  ruby/lib/basecamp/oauth/exchange.rb
  ruby/test/basecamp/oauth_test.rb
  typescript/README.md
  typescript/src/oauth/token-store.ts
  typescript/tests/oauth/token-conformance.test.ts
  typescript/tests/oauth/token-store.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

tests: re-indent the malformed-expires_in block (Kotlin)
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/OAuthDeviceTest.kt
Due: none

device: honor zero-padded Retry-After deltas (Python)
  python/src/basecamp/oauth/device.py
  python/tests/oauth/test_device.py
Due: none

device: Go and Kotlin honor the shared Retry-After digit bound
  go/pkg/basecamp/oauth/device.go
  go/pkg/basecamp/oauth/device_test.go
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/oauth/Device.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/OAuthDeviceTest.kt
Due: go-test-short

transport: document on_headers and align the rescue indentation (Ruby)
  ruby/lib/basecamp/oauth/device_flow.rb
  ruby/lib/basecamp/oauth/fetcher.rb
Due: none

device: align the Retry-After parser docs with the clamp contract (5 SDKs)
  go/pkg/basecamp/oauth/device.go
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/oauth/Device.kt
  python/src/basecamp/oauth/device.py
  ruby/lib/basecamp/oauth/device_flow.rb
  typescript/src/oauth/device.ts
Due: go-test-short, typescript-lint, typescript-typecheck

docs: import net/http in the persistence example
  go/README.md
Due: none

auth: no-expiry credentials are never force-refreshed (Go)
  go/README.md
  go/pkg/basecamp/auth.go
  go/pkg/basecamp/auth_test.go
Due: go-test-short

auth: clear stale expiry when a refresh response omits expires_in (Go)
  go/pkg/basecamp/auth.go
  go/pkg/basecamp/auth_test.go
Due: go-test-short

auth: cap refresh expires_in at the shared token-lifetime ceiling (Go)
  go/pkg/basecamp/auth.go
  go/pkg/basecamp/auth_test.go
Due: go-test-short

device: omit decoder causes from parse faults (Kotlin)
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/OAuthDeviceTest.kt
Due: none

device: a 429 recognizes only too_many_requests (5 SDKs)
  go/pkg/basecamp/oauth/device.go
  go/pkg/basecamp/oauth/device_test.go
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/oauth/Device.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/OAuthDeviceTest.kt
  python/src/basecamp/oauth/device.py
  python/tests/oauth/test_device.py
  ruby/lib/basecamp/oauth/device_flow.rb
  ruby/test/basecamp/oauth_device_test.rb
  typescript/src/oauth/device.ts
  typescript/tests/oauth/device.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

review: schema const-true absence flags, blank-preserving form parse, trailing-slash failure-mode doc
  conformance/oauth-token/schema.json
  python/tests/oauth/test_token_conformance.py
  typescript/README.md
Due: none

oauth: append resource after the existing refresh options (Python)
  python/src/basecamp/oauth/exchange.py
Due: none

device: clamp a representable over-ceiling Retry-After instead of discarding it (SPEC, 5 SDKs)
  SPEC.md
  go/pkg/basecamp/oauth/device.go
  go/pkg/basecamp/oauth/device_test.go
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/oauth/Device.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/OAuthDeviceTest.kt
  python/src/basecamp/oauth/device.py
  python/tests/oauth/test_device.py
  ruby/lib/basecamp/oauth/device_flow.rb
  ruby/test/basecamp/oauth_device_test.rb
  typescript/src/oauth/device.ts
  typescript/tests/oauth/device.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

exchange: token_type defaults to Bearer only when absent (Go, Kotlin, Python, Ruby)
  go/pkg/basecamp/oauth/exchange.go
  go/pkg/basecamp/oauth/oauth_test.go
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/oauth/Exchange.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/OAuthTest.kt
  python/src/basecamp/oauth/exchange.py
  python/tests/oauth/test_exchange.py
  ruby/lib/basecamp/oauth/exchange.rb
  ruby/test/basecamp/oauth_test.rb
Due: go-test-short

device: reject duplicate Retry-After field lines (Go, Kotlin)
  go/pkg/basecamp/oauth/device.go
  go/pkg/basecamp/oauth/device_test.go
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/oauth/Device.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/OAuthDeviceTest.kt
Due: go-test-short

oauth: close the suppressed-review backlog (fixtures, TypeScript store)
  conformance/oauth-token/schema.json
  typescript/src/oauth/token-store.ts
  typescript/tests/oauth/token-conformance.test.ts
Due: typescript-lint, typescript-typecheck

oauth: append-only TS refresh params; correct both refresh persistence examples
  go/README.md
  python/README.md
  typescript/src/oauth/types.ts
Due: typescript-lint, typescript-typecheck

token-manager: an injected empty resource is unset, not a binding (TS)
  typescript/src/oauth/token-manager.ts
  typescript/tests/oauth/token-manager.test.ts
Due: typescript-lint, typescript-typecheck

exchange: drop the now-unused SerializationException import (Kotlin)
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/oauth/Exchange.kt
Due: none

auth: an explicit non-positive refresh expires_in is malformed, not an omission (Go)
  go/pkg/basecamp/auth.go
  go/pkg/basecamp/auth_test.go
Due: go-test-short

auth: reject a refresh response without an access_token (Go)
  go/pkg/basecamp/auth.go
  go/pkg/basecamp/auth_test.go
Due: go-test-short

Make the stream-cancellation test actually test cancellation
  typescript/tests/middleware-lifecycle.test.ts
Due: typescript-lint, typescript-typecheck

Record the boosts-feed withdrawal in docs and the api-gaps registry
  AGENTS.md
  SECURITY.md
  SPEC.md
  go/pkg/basecamp/generated_retry_statusset_test.go
  python/tests/test_http.py
  scripts/check-retry-metadata-parity.py
  spec/api-gaps/README.md
  spec/api-gaps/everything-aggregates.md
  spec/api-gaps/everything-boosts-withdrawn.md
Due: go-test-short

Address review: record #12464 merge, carve endpoint withdrawals out of Kotlin compat policy
  kotlin/README.md
  spec/api-gaps/everything-boosts-withdrawn.md
Due: none

Codify the converse pin rule: absorption ahead of the pin needs no repin
  AGENTS.md
Due: none

Restore GetEverythingBoosts in the historical PR-5 narrative
  spec/api-gaps/everything-aggregates.md
Due: none

TypeScript: one request lifecycle, so every attempt is observed exactly once (#503)
  typescript/src/client.ts
  typescript/src/hooks.ts
  typescript/src/services/base.ts
  typescript/tests/client.test.ts
  typescript/tests/hooks.test.ts
  typescript/tests/integration.test.ts
  typescript/tests/middleware-lifecycle.test.ts
Due: typescript-lint, typescript-typecheck

Revert "Codify the converse pin rule: absorption ahead of the pin needs no repin"
  AGENTS.md
Due: none

Registry: register bc3 #12442 filters; make the withdrawal entry lifecycle-honest
  spec/api-gaps/README.md
  spec/api-gaps/everything-boosts-withdrawn.md
  spec/api-gaps/everything-todo-card-filters.md
Due: none

Repin provenance to bc3 e83b2733 (2026-07-30)
  go/pkg/basecamp/api-provenance.json
  go/pkg/basecamp/version.go
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/BasecampConfig.kt
  openapi.json
  python/src/basecamp/_version.py
  ruby/lib/basecamp/generated/metadata.json
  ruby/lib/basecamp/generated/types.rb
  ruby/lib/basecamp/version.rb
  spec/api-provenance.json
  spec/basecamp.smithy
  swift/Sources/Basecamp/BasecampConfig.swift
  typescript/src/client.ts
  typescript/src/generated/metadata.ts
  typescript/src/generated/openapi-stripped.json
Due: go-test-short, typescript-lint, typescript-typecheck

fromCache means served from the ETag cache, so require the header that proves it
  typescript/src/client.ts
  typescript/tests/middleware-lifecycle.test.ts
Due: typescript-lint, typescript-typecheck

Put each 304 test's comment back with the test it describes
  typescript/tests/middleware-lifecycle.test.ts
Due: typescript-lint, typescript-typecheck

Make the bare-304 test earn its 304, and fix the last stale lifecycle comment
  typescript/src/client.ts
  typescript/tests/middleware-lifecycle.test.ts
Due: typescript-lint, typescript-typecheck

Path conditions:
  go-test-short: any of: \.go$
  typescript-lint: any of: ^typescript/.*\.(ts|tsx)$
  typescript-typecheck: any of: ^typescript/.*\.(ts|tsx)$
