Repository basecamp/basecamp-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-test-short, typescript-lint, typescript-typecheck

go-test-short:
  name: go test -short
  entry: bash -c 'cd go && go test -short ./...'
  language: system
  pass_filenames: false
  stages:
  - push

typescript-lint:
  name: typescript lint
  entry: bash -c 'cd typescript && npm run lint --if-present'
  language: system
  pass_filenames: false
  stages:
  - commit

typescript-typecheck:
  name: typescript typecheck
  entry: bash -c 'cd typescript && npm run typecheck --if-present'
  language: system
  pass_filenames: false
  stages:
  - push

Count Rust among the SDKs the Retry-After contract inventories
  SPEC.md
Due: none

fix(ruby): honour Retry-After at every retried status, round dates up
  ruby/lib/basecamp/api_error.rb
  ruby/lib/basecamp/http.rb
  ruby/test/basecamp/http_extended_test.rb
Due: none

Carry Retry-After through Ruby's public mapper, make the 429 download case discriminating, and inventory Python's wider parse
  SPEC.md
  conformance/tests/downloads.json
  ruby/lib/basecamp.rb
  ruby/test/basecamp/errors_test.rb
Due: none

fix(go): honour Retry-After at every retried status, in both clients
  go/pkg/basecamp/client.go
  go/pkg/basecamp/client_retry_after_test.go
  go/pkg/basecamp/download.go
  go/pkg/basecamp/errors.go
  go/pkg/basecamp/helpers.go
  go/pkg/generated/client.gen.go
  go/pkg/generated/retry_after_test.go
  go/templates/client.tmpl
Due: go-test-short

Close the response body and drop the unused server return in the generated-client test
  go/pkg/generated/retry_after_test.go
Due: go-test-short

Sleep the Retry-After the download loop mapped, and inventory Ruby's stdlib parse alongside Python's
  SPEC.md
  go/pkg/basecamp/download.go
  go/pkg/basecamp/download_test.go
Due: go-test-short

Swift: parse Retry-After once per retried response
  swift/Sources/Basecamp/BasecampError.swift
  swift/Sources/Basecamp/HTTP/HTTPClient.swift
  swift/Tests/BasecampTests/ErrorTests.swift
Due: none

fix(kotlin): carry retryAfterSeconds on Api, reject a sign, saturate at the ceiling
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/BasecampException.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/Pagination.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/PaginationTest.kt
  kotlin/sdk/src/jvmTest/kotlin/com/basecamp/sdk/ApiConstructorSurfaceTest.kt
Due: none

fix(swift): carry retryAfterSeconds on .api, drop the day-long clamp, converge the parser
  swift/Sources/Basecamp/BasecampError.swift
  swift/Sources/Basecamp/DocumentsServiceExtensions.swift
  swift/Sources/Basecamp/Download.swift
  swift/Sources/Basecamp/HTTP/HTTPClient.swift
  swift/Sources/Basecamp/SchedulesServiceExtensions.swift
  swift/Sources/Basecamp/Services/BaseService.swift
  swift/Sources/Basecamp/TodolistsServiceExtensions.swift
  swift/Tests/BasecampTests/DecodeIsolationTests.swift
  swift/Tests/BasecampTests/DocumentsServiceExtensionsTests.swift
  swift/Tests/BasecampTests/DownloadTests.swift
  swift/Tests/BasecampTests/ErrorTests.swift
  swift/Tests/BasecampTests/PaginationTests.swift
  swift/Tests/BasecampTests/SchedulesServiceExtensionsTests.swift
  swift/Tests/BasecampTests/TodolistsServiceExtensionsTests.swift
  swift/Tests/BasecampTests/TransportNetworkErrorRetryTests.swift
Due: none

Python: gate the HTTP-date shape before parsing; Swift: carry Retry-After on a redirect with no Location
  python/src/basecamp/errors.py
  python/tests/test_errors.py
  swift/Sources/Basecamp/Download.swift
  swift/Tests/BasecampTests/DownloadTests.swift
Due: none

Swift: gate the HTTP-date shape before the formatter reads it
  swift/Sources/Basecamp/BasecampError.swift
  swift/Tests/BasecampTests/ErrorTests.swift
Due: none

Drive the every-status RetryAfter hook test through a generated operation, and name Kotlin's constructor-reference break
  MIGRATING.md
  go/pkg/basecamp/http_retry_after_test.go
Due: go-test-short

fix(typescript): reject a signed Retry-After and saturate over-range at the ceiling
  typescript/src/errors.ts
  typescript/tests/retry-after.test.ts
Due: typescript-lint, typescript-typecheck

fix(ruby): reject a signed Retry-After and saturate at the ceiling
  ruby/lib/basecamp/http.rb
  ruby/test/basecamp/http_extended_test.rb
Due: none

Python: only the asctime shape earns the UTC fallback
  python/src/basecamp/errors.py
  python/tests/test_errors.py
Due: none

Kotlin: carry Retry-After on a redirect with no Location
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/Download.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/DownloadTest.kt
Due: none

conformance(retry): pin retry_after on a 503 api_error, teach the runners the field
  MIGRATING.md
  SPEC.md
  conformance/runner/go/main.go
  conformance/runner/python/runner.py
  conformance/runner/ruby/runner.rb
  conformance/runner/swift/Sources/ConformanceRunner/Assertions.swift
  conformance/runner/typescript/runner.test.ts
  conformance/tests/error-mapping.json
  conformance/tests/retry.json
  kotlin/conformance/src/main/kotlin/com/basecamp/sdk/conformance/Main.kt
Due: go-test-short

fix(python): reject a signed Retry-After, saturate at the ceiling, read asctime as UTC
  python/src/basecamp/errors.py
  python/tests/test_errors.py
Due: none

Keep Kotlin's six-argument Api constructor, carry retryAfterSeconds into its hook errors, retire the stale SPEC inventories
  MIGRATING.md
  SPEC.md
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/BasecampException.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/Download.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/http/BasecampHttpClient.kt
  kotlin/sdk/src/jvmTest/kotlin/com/basecamp/sdk/ApiConstructorSurfaceTest.kt
Due: none

Width-check a Retry-After before int(), pin the hook-facing field, fix the docs
  MIGRATING.md
  go/pkg/basecamp/http_retry_after_test.go
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/BasecampException.kt
  python/src/basecamp/errors.py
  python/tests/test_errors.py
  swift/README.md
  swift/Sources/Basecamp/BasecampError.swift
  typescript/src/errors.ts
Due: go-test-short, typescript-lint, typescript-typecheck

fix(go): carry RequestResult.RetryAfter at every status
  go/pkg/basecamp/http.go
Due: go-test-short

Teach the Rust runner the retryAfter error field
  conformance/runner/rust/src/assertions.rs
Due: none

Say in the contract that an HTTP-date shape is its template, not its token alphabet
  SPEC.md
Due: none

Model the card table fields Basecamp already sends
  go/pkg/basecamp/cards.go
  go/pkg/generated/client.gen.go
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/models/CardTable.kt
  openapi.json
  python/src/basecamp/generated/types.py
  ruby/lib/basecamp/generated/metadata.json
  ruby/lib/basecamp/generated/types.rb
  rust/basecamp-sdk/src/generated/types.rs
  spec/basecamp.smithy
  swift/Sources/Basecamp/Generated/Models/CardTable.swift
  typescript/src/generated/metadata.ts
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/schema.d.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Fold a long path parameter's documentation instead of emitting it as code
  ruby/scripts/generate-services.rb
Due: none

Write down what upgrading to the template library changes
  MIGRATING.md
  spec/api-gaps/README.md
  spec/api-gaps/template-library-card-tables.md
Due: none

Let people templatify an existing to-do list or card table
  SPEC.md
  behavior-model.json
  conformance/runner/go/main.go
  conformance/runner/python/runner.py
  conformance/runner/ruby/runner.rb
  conformance/runner/rust/src/operations.rs
  conformance/runner/swift/Sources/ConformanceRunner/Dispatch.swift
  conformance/runner/typescript/runner.test.ts
  conformance/tests/templatifications.json
  go/grouped-client-inventory.yml
  go/pkg/basecamp/templates.go
  go/pkg/generated/client.gen.go
  go/templates/client.tmpl
  kotlin/conformance/src/main/kotlin/com/basecamp/sdk/conformance/Main.kt
  kotlin/generator/src/main/kotlin/com/basecamp/sdk/generator/Config.kt
  openapi.json
  python/scripts/generate_services.py
  python/src/basecamp/generated/metadata.json
  python/src/basecamp/generated/services/templates.py
  python/src/basecamp/generated/types.py
  python/tests/services/test_templates_service.py
  ruby/scripts/generate-services.rb
  ruby/test/basecamp/services/templates_service_test.rb
  rust/basecamp-sdk/tests/guarantees.rs
  rust/generator/names.toml
  scripts/check-idempotency-parity
  spec/basecamp.smithy
  spec/overlays/tags.smithy
  swift/Sources/BasecampGenerator/MethodNaming.swift
  swift/Sources/BasecampGenerator/ServiceGrouper.swift
  typescript/scripts/generate-services.ts
  typescript/tests/services/templates.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

feedtest: wake a stalled write when the read side kills the connection
  go/pkg/basecamp/eventfeed/feedtest/transport.go
  go/pkg/basecamp/eventfeed/feedtest/transport_test.go
Due: go-test-short

Carry Retry-After on Ruby's download errors too
  ruby/lib/basecamp/client.rb
  ruby/lib/basecamp/http.rb
  ruby/test/basecamp/download_test.rb
Due: none

Event feed: the oversize verdict survived the seam but not the sanitizer
  go/pkg/basecamp/eventfeed/loop.go
  go/pkg/basecamp/eventfeed/loop_test.go
  go/pkg/basecamp/eventfeed/seams.go
Due: go-test-short

Event feed: cancellation could not reach the one exit, and the origin was checked after the mangle
  go/pkg/basecamp/eventfeed/connector.go
  go/pkg/basecamp/eventfeed/connector_test.go
  go/pkg/basecamp/eventfeed/loop.go
Due: go-test-short

Event feed: the staleness probe trusts the latch before the channel
  go/pkg/basecamp/eventfeed/catchup_test.go
  go/pkg/basecamp/eventfeed/loop.go
Due: go-test-short

Event feed: verdicts that lost coin flips, and a driver blind to eras
  go/pkg/basecamp/eventfeed/backoff.go
  go/pkg/basecamp/eventfeed/backoff_test.go
  go/pkg/basecamp/eventfeed/catchup.go
  go/pkg/basecamp/eventfeed/catchup_test.go
  go/pkg/basecamp/eventfeed/loop.go
  go/pkg/basecamp/eventfeed/loop_test.go
  go/pkg/basecamp/eventfeed/scenario_conformance_test.go
  go/pkg/basecamp/eventfeed/scenario_harness_test.go
  go/pkg/basecamp/eventfeed/scenario_selftest_test.go
Due: go-test-short

Event feed: the consumer surface gained a method, so §23 gained its contract
  SPEC.md
Due: none

Event feed: a panic strands nothing, and Close wins the last both-ready race
  conformance/event-feed/fixtures/30-continuation-redirect-cross-origin.json
  go/pkg/basecamp/eventfeed/catchup.go
  go/pkg/basecamp/eventfeed/catchup_test.go
  go/pkg/basecamp/eventfeed/connector_test.go
  go/pkg/basecamp/eventfeed/export_test.go
  go/pkg/basecamp/eventfeed/loop.go
  go/pkg/basecamp/eventfeed/loop_test.go
  go/pkg/basecamp/eventfeed/scenario_conformance_test.go
  go/pkg/basecamp/eventfeed/scenario_selftest_test.go
Due: go-test-short

Event feed: a verdict already in outranks the act that would hide it
  go/pkg/basecamp/eventfeed/catchup.go
  go/pkg/basecamp/eventfeed/catchup_test.go
  go/pkg/basecamp/eventfeed/loop.go
  go/pkg/basecamp/eventfeed/loop_test.go
Due: go-test-short

Conformance: the zero-egress obligation was scoped to what a harness can see
  conformance/event-feed/README.md
Due: none

Event feed connector: the run loop, catch-up, recovery, and the tier-2 driver
  CONTRIBUTING.md
  go/README.md
  go/pkg/basecamp/eventfeed/buffer_test.go
  go/pkg/basecamp/eventfeed/catchup.go
  go/pkg/basecamp/eventfeed/catchup_test.go
  go/pkg/basecamp/eventfeed/connector.go
  go/pkg/basecamp/eventfeed/connector_test.go
  go/pkg/basecamp/eventfeed/export_test.go
  go/pkg/basecamp/eventfeed/loop.go
  go/pkg/basecamp/eventfeed/loop_test.go
  go/pkg/basecamp/eventfeed/reconnect_test.go
  go/pkg/basecamp/eventfeed/recovery.go
  go/pkg/basecamp/eventfeed/recovery_test.go
  go/pkg/basecamp/eventfeed/scenario_conformance_test.go
  go/pkg/basecamp/eventfeed/scenario_fixture_test.go
  go/pkg/basecamp/eventfeed/scenario_harness_test.go
  go/pkg/basecamp/eventfeed/scenario_selftest_test.go
Due: go-test-short

Conformance: the spec still said the two things this branch stopped doing
  SPEC.md
  go/pkg/basecamp/eventfeed/buffer_test.go
  go/pkg/basecamp/eventfeed/catchup.go
  go/pkg/basecamp/eventfeed/catchup_test.go
Due: go-test-short

Path conditions:
  go-test-short: any of: \.go$
  typescript-lint: any of: ^typescript/.*\.(ts|tsx)$
  typescript-typecheck: any of: ^typescript/.*\.(ts|tsx)$
