Repository basecamp/basecamp-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-test-short, typescript-lint, typescript-typecheck

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
      - id: detect-private-key
      - id: check-case-conflict

  - repo: https://github.com/golangci/golangci-lint
    rev: v1.62.2
    hooks:
      - id: golangci-lint
        args: [--timeout=5m, --config=go/.golangci.yml]
        files: ^go/

  - repo: https://github.com/tekwizely/pre-commit-golang
    rev: v1.0.0-rc.1
    hooks:
      - id: go-fmt
        files: ^go/
      - id: go-vet
        files: ^go/
      - id: go-mod-tidy
        files: ^go/

  - repo: local
    hooks:
      - id: go-test-short
        name: go test -short
        entry: bash -c 'cd go && go test -short ./...'
        language: system
        pass_filenames: false
        types: [go]
        stages: [push]

      - id: typescript-lint
        name: typescript lint
        entry: bash -c 'cd typescript && npm run lint --if-present'
        language: system
        pass_filenames: false
        files: ^typescript/.*\.(ts|tsx)$
        stages: [commit]

      - id: typescript-typecheck
        name: typescript typecheck
        entry: bash -c 'cd typescript && npm run typecheck --if-present'
        language: system
        pass_filenames: false
        files: ^typescript/.*\.(ts|tsx)$
        stages: [push]

Add reference implementation documentation
  AGENTS.md
Due: none

Add Ruby service generator
  ruby/lib/basecamp/generated/services/attachments_service.rb
  ruby/lib/basecamp/generated/services/campfires_service.rb
  ruby/lib/basecamp/generated/services/card_columns_service.rb
  ruby/lib/basecamp/generated/services/card_steps_service.rb
  ruby/lib/basecamp/generated/services/card_tables_service.rb
  ruby/lib/basecamp/generated/services/cards_service.rb
  ruby/lib/basecamp/generated/services/checkins_service.rb
  ruby/lib/basecamp/generated/services/client_approvals_service.rb
  ruby/lib/basecamp/generated/services/client_correspondences_service.rb
  ruby/lib/basecamp/generated/services/client_replies_service.rb
  ruby/lib/basecamp/generated/services/client_visibility_service.rb
  ruby/lib/basecamp/generated/services/comments_service.rb
  ruby/lib/basecamp/generated/services/documents_service.rb
  ruby/lib/basecamp/generated/services/events_service.rb
  ruby/lib/basecamp/generated/services/forwards_service.rb
  ruby/lib/basecamp/generated/services/lineup_service.rb
  ruby/lib/basecamp/generated/services/message_boards_service.rb
  ruby/lib/basecamp/generated/services/message_types_service.rb
  ruby/lib/basecamp/generated/services/messages_service.rb
  ruby/lib/basecamp/generated/services/people_service.rb
  ruby/lib/basecamp/generated/services/projects_service.rb
  ruby/lib/basecamp/generated/services/recordings_service.rb
  ruby/lib/basecamp/generated/services/reports_service.rb
  ruby/lib/basecamp/generated/services/schedules_service.rb
  ruby/lib/basecamp/generated/services/search_service.rb
  ruby/lib/basecamp/generated/services/subscriptions_service.rb
  ruby/lib/basecamp/generated/services/templates_service.rb
  ruby/lib/basecamp/generated/services/timeline_service.rb
  ruby/lib/basecamp/generated/services/timesheets_service.rb
  ruby/lib/basecamp/generated/services/todolist_groups_service.rb
  ruby/lib/basecamp/generated/services/todolists_service.rb
  ruby/lib/basecamp/generated/services/todos_service.rb
  ruby/lib/basecamp/generated/services/todosets_service.rb
  ruby/lib/basecamp/generated/services/tools_service.rb
  ruby/lib/basecamp/generated/services/uploads_service.rb
  ruby/lib/basecamp/generated/services/vaults_service.rb
  ruby/lib/basecamp/generated/services/webhooks_service.rb
  ruby/lib/basecamp/services/base_service.rb
  ruby/scripts/generate-services.rb
Due: none

Add missing endpoints and fix GetPersonProgress pagination
  spec/basecamp.smithy
Due: none

Add missing PATH_TO_OPERATION entries for new endpoints
  typescript/src/client.ts
Due: typescript-lint, typescript-typecheck

Regenerate Go client with JSON201/JSON204 response fields
  go/pkg/generated/client.gen.go
Due: go-test-short

Replace CGI.escape with URI.encode_www_form_component in Ruby generator
  ruby/lib/basecamp/generated/services/attachments_service.rb
  ruby/scripts/generate-services.rb
Due: none

Update AGENTS.md to reflect generated service switchover
  AGENTS.md
Due: none

Regenerate OpenAPI spec from Smithy with status codes
  openapi.json
Due: none

Allow false values in optional boolean fields for Go SDK
  go/pkg/basecamp/campfires.go
  go/pkg/basecamp/cards.go
  go/pkg/basecamp/checkins.go
  go/pkg/basecamp/comments.go
  go/pkg/basecamp/forwards.go
  go/pkg/basecamp/lineup.go
  go/pkg/basecamp/message_types.go
  go/pkg/basecamp/messages.go
  go/pkg/basecamp/people.go
  go/pkg/basecamp/projects.go
  go/pkg/basecamp/recordings.go
  go/pkg/basecamp/schedules.go
  go/pkg/basecamp/search.go
  go/pkg/basecamp/subscriptions.go
  go/pkg/basecamp/templates.go
  go/pkg/basecamp/timeline.go
  go/pkg/basecamp/timesheet.go
  go/pkg/basecamp/todolist_groups.go
  go/pkg/basecamp/todolists.go
  go/pkg/basecamp/todos.go
  go/pkg/basecamp/tools.go
  go/pkg/basecamp/vaults.go
  go/pkg/basecamp/webhooks.go
  go/pkg/generated/client.gen.go
  openapi.json
  scripts/enhance-openapi-go-types.sh
Due: go-test-short

Clarify SDK development rules in AGENTS.md
  AGENTS.md
Due: none

Add HTTP status codes to Smithy operations for BC3 API conformance
  spec/basecamp.smithy
Due: none

Update Go SDK wrappers to use JSON201 for create operations
  go/pkg/basecamp/attachments.go
  go/pkg/basecamp/attachments_test.go
  go/pkg/basecamp/campfires.go
  go/pkg/basecamp/cards.go
  go/pkg/basecamp/checkins.go
  go/pkg/basecamp/comments.go
  go/pkg/basecamp/forwards.go
  go/pkg/basecamp/lineup.go
  go/pkg/basecamp/message_types.go
  go/pkg/basecamp/messages.go
  go/pkg/basecamp/projects.go
  go/pkg/basecamp/schedules.go
  go/pkg/basecamp/templates.go
  go/pkg/basecamp/todolist_groups.go
  go/pkg/basecamp/todolists.go
  go/pkg/basecamp/todos.go
  go/pkg/basecamp/vaults.go
  go/pkg/basecamp/webhooks.go
Due: go-test-short

Support both integer and string expires_at in authorization response
  go/pkg/basecamp/authorization.go
  go/pkg/basecamp/authorization_test.go
Due: go-test-short

Remove extra word from test comment
  typescript/tests/services/checkins.test.ts
Due: typescript-lint, typescript-typecheck

Fix Smithy spec HTTP fidelity: status codes, paths, and output structures
  spec/basecamp.smithy
Due: none

Regenerate OpenAPI spec from updated Smithy model
  openapi.json
Due: none

Regenerate Go client from updated OpenAPI spec
  go/pkg/generated/client.gen.go
Due: go-test-short

Update Go SDK wrappers for fidelity fixes
  go/pkg/basecamp/lineup.go
  go/pkg/basecamp/tools.go
Due: go-test-short

Regenerate TypeScript SDK for fidelity fixes
  typescript/src/client.ts
  typescript/src/generated/metadata.json
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/schema.d.ts
  typescript/src/generated/services/checkins.ts
  typescript/src/generated/services/lineup.ts
  typescript/src/generated/services/tools.ts
  typescript/src/index.ts
  typescript/src/services/index.ts
  typescript/src/services/lineup.ts
  typescript/src/services/tools.ts
  typescript/tests/security.test.ts
  typescript/tests/services/lineup.test.ts
  typescript/tests/services/tools.test.ts
Due: typescript-lint, typescript-typecheck

Regenerate Ruby SDK for fidelity fixes
  ruby/lib/basecamp/generated/services/checkins_service.rb
  ruby/lib/basecamp/generated/services/lineup_service.rb
  ruby/lib/basecamp/generated/services/tools_service.rb
  ruby/test/basecamp/security_test.rb
  ruby/test/basecamp/services/checkins_service_test.rb
  ruby/test/basecamp/services/lineup_service_test.rb
  ruby/test/basecamp/services/tools_service_test.rb
Due: none

Add review-session.md to .gitignore
  .gitignore
Due: none

Remove SetClientVisibility warning now that BC3 supports JSON API
  spec/basecamp.smithy
Due: none

Add #nosec annotations for gosec false positives
  .github/workflows/security.yml
  go/pkg/basecamp/cards.go
  go/pkg/basecamp/checkins.go
  go/pkg/basecamp/client.go
  go/pkg/basecamp/todolist_groups.go
  go/pkg/basecamp/todos.go
  go/pkg/basecamp/tools.go
Due: go-test-short

Fix lineup marker fields and card step completion modeling
  spec/basecamp.smithy
  spec/overlays/tags.smithy
Due: none

Fix webhook errors, search pagination, todo reposition, and card column status codes
  spec/basecamp.smithy
Due: none

Add missing TrashTodo 204 status code and recurring entry documentation
  spec/basecamp.smithy
Due: none

Regenerate OpenAPI spec with correct status codes
  behavior-model.json
  openapi.json
Due: none

Add status code conformance tests for HTTP success and error codes
  conformance/schema.json
  conformance/tests/status-codes.json
Due: none

Refresh documentation to reflect all SDKs as active
  AGENTS.md
  README.md
  typescript/README.md
Due: none

Address PR review feedback on documentation accuracy
  README.md
  typescript/README.md
Due: none

Refresh documentation to reflect all SDKs as active (#63)
  AGENTS.md
  README.md
  typescript/README.md
Due: none

Add spec-derived URL route table generator
  Makefile
  go/pkg/basecamp/url-routes.json
  scripts/generate-url-routes
Due: none

Add URL router with API and structural matching
  go/pkg/basecamp/url.go
  go/pkg/basecamp/url_test.go
Due: go-test-short

Add Download method to UploadsService
  go/pkg/basecamp/vaults.go
  go/pkg/basecamp/vaults_test.go
Due: go-test-short
