Repository basecamp/basecamp-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-test-short, typescript-lint, typescript-typecheck

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
      - id: detect-private-key
      - id: check-case-conflict

  - repo: https://github.com/golangci/golangci-lint
    rev: v1.62.2
    hooks:
      - id: golangci-lint
        args: [--timeout=5m, --config=go/.golangci.yml]
        files: ^go/

  - repo: https://github.com/tekwizely/pre-commit-golang
    rev: v1.0.0-rc.1
    hooks:
      - id: go-fmt
        files: ^go/
      - id: go-vet
        files: ^go/
      - id: go-mod-tidy
        files: ^go/

  - repo: local
    hooks:
      - id: go-test-short
        name: go test -short
        entry: bash -c 'cd go && go test -short ./...'
        language: system
        pass_filenames: false
        types: [go]
        stages: [push]

      - id: typescript-lint
        name: typescript lint
        entry: bash -c 'cd typescript && npm run lint --if-present'
        language: system
        pass_filenames: false
        files: ^typescript/.*\.(ts|tsx)$
        stages: [commit]

      - id: typescript-typecheck
        name: typescript typecheck
        entry: bash -c 'cd typescript && npm run typecheck --if-present'
        language: system
        pass_filenames: false
        files: ^typescript/.*\.(ts|tsx)$
        stages: [push]

Add ListAnswersByPerson to CheckinsService (#276)
  go/pkg/basecamp/checkins.go
  go/pkg/basecamp/checkins_test.go
  scripts/check-service-drift.sh
  spec/fixtures/checkins/answers_by_person.json
Due: go-test-short

spec(bc5): forward-compat additions + parallel BC4/BC5 provenance
  behavior-model.json
  go/pkg/basecamp/api-provenance.json
  openapi.json
  spec/api-provenance.json
  spec/basecamp.smithy
  spec/bucket-scoped-allowlist.txt
Due: none

ts: regenerate from BC5 spec additions
  typescript/src/client.ts
  typescript/src/generated/metadata.json
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/schema.d.ts
Due: typescript-lint, typescript-typecheck

docs(api-gaps): API gap registry + SDK↔BC3 coordination + validator
  CONTRIBUTING.md
  COORDINATION.md
  scripts/validate-api-gaps.rb
  scripts/validate-api-gaps.sh
  spec/api-gaps/README.md
  spec/api-gaps/activity-timeline.md
  spec/api-gaps/allowlist-schema.json
  spec/api-gaps/allowlist.yml
  spec/api-gaps/calendar.md
  spec/api-gaps/everything-aggregates.md
  spec/api-gaps/recordable-subtypes-doc.md
  spec/api-gaps/recording-bubbleupable-field.md
  spec/api-gaps/rich-text-project-attachable.md
  spec/api-gaps/schema.json
  spec/api-gaps/scratchpad.md
  spec/api-gaps/search-filter-additions.md
  spec/api-gaps/stack-doc-and-smithy.md
  spec/api-gaps/step-top-level.md
  spec/api-gaps/todoset-completed-list-visibility.md
Due: none

build(make): add generate aggregator, parity lint, branch-aware sync-status
  .gitignore
  Makefile
  scripts/check-bucket-flat-parity.sh
  scripts/report-bc3-drift.sh
Due: none

python: regenerate from BC5 spec additions
  python/src/basecamp/_version.py
  python/src/basecamp/generated/types.py
Due: none

ruby: regenerate from BC5 spec additions
  ruby/lib/basecamp/generated/metadata.json
  ruby/lib/basecamp/generated/types.rb
  ruby/lib/basecamp/version.rb
Due: none

go: regenerate from BC5 spec additions
  go/pkg/basecamp/version.go
  go/pkg/generated/client.gen.go
Due: go-test-short

kotlin: regenerate from BC5 spec additions
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/BasecampConfig.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/models/Person.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/models/Todo.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/models/Todoset.kt
Due: none

swift: regenerate from BC5 spec additions
  swift/Sources/Basecamp/BasecampConfig.swift
  swift/Sources/Basecamp/Generated/Models/GetMyNotificationsResponseContent.swift
  swift/Sources/Basecamp/Generated/Models/Notification.swift
  swift/Sources/Basecamp/Generated/Models/Person.swift
  swift/Sources/Basecamp/Generated/Models/Todo.swift
  swift/Sources/Basecamp/Generated/Models/Todoset.swift
Due: none

feat(campfires): add UpdateCampfireLine operation
  AGENTS.md
  behavior-model.json
  go/README.md
  go/pkg/basecamp/campfires.go
  go/pkg/basecamp/campfires_test.go
  go/pkg/generated/client.gen.go
  kotlin/generator/src/main/kotlin/com/basecamp/sdk/generator/Config.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/Metadata.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/Types.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/campfires.kt
  openapi.json
  python/scripts/generate_services.py
  python/src/basecamp/generated/metadata.json
  python/src/basecamp/generated/services/campfires.py
  python/src/basecamp/generated/types.py
  ruby/lib/basecamp/generated/metadata.json
  ruby/lib/basecamp/generated/services/campfires_service.rb
  ruby/lib/basecamp/generated/types.rb
  ruby/scripts/generate-services.rb
  ruby/test/basecamp/services/campfires_service_test.rb
  spec/basecamp.smithy
  spec/overlays/tags.smithy
  swift/Sources/Basecamp/Generated/Metadata.swift
  swift/Sources/Basecamp/Generated/Models/UpdateCampfireLineRequest.swift
  swift/Sources/Basecamp/Generated/Services/CampfiresService.swift
  swift/Sources/BasecampGenerator/MethodNaming.swift
  swift/Sources/BasecampGenerator/ServiceGrouper.swift
  typescript/README.md
  typescript/scripts/generate-services.ts
  typescript/src/generated/metadata.json
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/path-mapping.ts
  typescript/src/generated/schema.d.ts
  typescript/src/generated/services/campfires.ts
  typescript/tests/services/campfires.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Add project schedule dates to SDK models
  conformance/runner/go/go.mod
  go.work
  go/go.mod
  go/pkg/basecamp/projects.go
  go/pkg/basecamp/projects_test.go
  go/pkg/generated/client.gen.go
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/models/Project.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/ProjectsServiceTest.kt
  openapi.json
  python/src/basecamp/generated/types.py
  python/tests/services/test_projects.py
  ruby/lib/basecamp/generated/metadata.json
  ruby/lib/basecamp/generated/types.rb
  ruby/test/basecamp/services/projects_service_test.rb
  spec/basecamp.smithy
  spec/fixtures/projects/README.md
  spec/fixtures/projects/get.json
  spec/fixtures/projects/list.json
  swift/Sources/Basecamp/Generated/Models/Project.swift
  swift/Tests/BasecampTests/GeneratedServiceTests.swift
  typescript/src/generated/metadata.json
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/schema.d.ts
  typescript/tests/services/projects.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Tidy project fixture notes
  spec/fixtures/projects/README.md
Due: none

typescript: pin fast-uri and brace-expansion via overrides
  typescript/package-lock.json
  typescript/package.json
Due: none

spec: address Copilot review threads on bucket-parity lint + brief
  scripts/check-bucket-flat-parity.sh
  spec/api-gaps/todoset-completed-list-visibility.md
Due: none

conformance(ts): fix live canary blockers + add offline coverage
  conformance/runner/typescript/live-runner.test.ts
  conformance/runner/typescript/schema-validator.test.ts
  conformance/runner/typescript/schema-validator.ts
Due: none

conformance(ts): round-2 review fixes for the live canary
  conformance/runner/typescript/live-dispatch.test.ts
  conformance/runner/typescript/live-dispatch.ts
  conformance/runner/typescript/live-runner.test.ts
  conformance/runner/typescript/schema-validator.test.ts
  conformance/runner/typescript/schema-validator.ts
Due: none

conformance: align Ruby mode filter to accept-mock; document shared schema
  CONTRIBUTING.md
  conformance/runner/ruby/runner.rb
Due: none

conformance(schema): extend for live mode + add live-my-surface fixture
  conformance/schema.json
  conformance/tests/live-my-surface.json
Due: none

conformance: filter mode=live tests across all offline runners
  conformance/runner/go/main.go
  conformance/runner/python/runner.py
  conformance/runner/ruby/runner.rb
  kotlin/conformance/src/main/kotlin/com/basecamp/sdk/conformance/Main.kt
Due: go-test-short

conformance(ts): canonical wire-capture canary against a live backend
  CONTRIBUTING.md
  Makefile
  conformance/runner/typescript/fixtures.ts
  conformance/runner/typescript/live-dispatch.ts
  conformance/runner/typescript/live-runner.test.ts
  conformance/runner/typescript/package-lock.json
  conformance/runner/typescript/package.json
  conformance/runner/typescript/runner.test.ts
  conformance/runner/typescript/schema-validator.ts
  conformance/runner/typescript/wire-capture.ts
Due: none

conformance(ts): fix two live-canary correctness bugs flagged in review
  conformance/runner/typescript/live-runner.test.ts
  conformance/runner/typescript/schema-validator.test.ts
  conformance/runner/typescript/schema-validator.ts
Due: none

gitignore: stray Go binary from `go build` in conformance runner
  .gitignore
Due: none

conformance(kotlin): drop unused JsonArray and encodeToJsonElement imports
  kotlin/conformance/src/main/kotlin/com/basecamp/sdk/conformance/ReplayRunner.kt
Due: none

conformance: wire-replay make targets + CONTRIBUTING + gitignore
  .gitignore
  CONTRIBUTING.md
  Makefile
Due: none

conformance(python,go): preserve empty bodyText on wire snapshots
  conformance/runner/go/replay_runner.go
  conformance/runner/python/replay_runner.py
Due: go-test-short

conformance(ts): persist operation field on wire snapshots
  conformance/runner/typescript/live-runner.test.ts
  conformance/runner/typescript/wire-capture.ts
Due: none

conformance(ruby): wire-replay runner + schema walker
  conformance/runner/ruby/replay-runner.rb
  conformance/runner/ruby/schema-walker.rb
Due: none

conformance(go,ruby): fix walker docstring drift on required-path separator
  conformance/runner/go/schema_walker.go
  conformance/runner/ruby/schema-walker.rb
Due: go-test-short

conformance: faithful empty-body decoding + Kotlin gate hardening
  conformance/runner/go/replay_runner.go
  conformance/runner/go/replay_runner_test.go
  conformance/runner/python/replay_runner.py
  conformance/runner/python/test_replay_runner.py
  conformance/runner/ruby/Gemfile
  conformance/runner/ruby/replay-runner.rb
  conformance/runner/ruby/replay_runner_test.rb
  kotlin/conformance/src/main/kotlin/com/basecamp/sdk/conformance/ReplayRunner.kt
Due: go-test-short

conformance(kotlin): tighten env-var gate + narrow Throwable catches
  kotlin/conformance/build.gradle.kts
  kotlin/conformance/src/main/kotlin/com/basecamp/sdk/conformance/ReplayRunner.kt
Due: none

conformance(python): wire-replay runner + schema walker
  conformance/runner/python/replay_runner.py
  conformance/runner/python/schema_walker.py
Due: none

conformance(ruby): align walker required-paths with `/`; fix mode-gate doc
  conformance/runner/ruby/replay-runner.rb
  conformance/runner/ruby/schema-walker.rb
Due: none

conformance(go): wire-replay runner + schema walker
  conformance/runner/go/main.go
  conformance/runner/go/replay_runner.go
  conformance/runner/go/schema_walker.go
Due: go-test-short

conformance: align default-response precedence with documented order
  conformance/runner/go/schema_walker.go
  conformance/runner/python/schema_walker.py
  conformance/runner/ruby/schema-walker.rb
  conformance/runner/typescript/schema-validator.ts
  kotlin/conformance/src/main/kotlin/com/basecamp/sdk/conformance/SchemaWalker.kt
Due: go-test-short

conformance(kotlin): wire-replay runner + schema walker
  kotlin/conformance/build.gradle.kts
  kotlin/conformance/src/main/kotlin/com/basecamp/sdk/conformance/ReplayRunner.kt
  kotlin/conformance/src/main/kotlin/com/basecamp/sdk/conformance/SchemaWalker.kt
Due: none

conformance(go): align walker required-paths with `/`
  conformance/runner/go/schema_walker.go
Due: go-test-short

conformance: surface snapshot read/parse errors as gate messages
  conformance/runner/go/replay_runner.go
  conformance/runner/python/replay_runner.py
  conformance/runner/ruby/replay-runner.rb
  kotlin/conformance/src/main/kotlin/com/basecamp/sdk/conformance/ReplayRunner.kt
Due: go-test-short

conformance(python): catch UnicodeDecodeError on snapshot read
  conformance/runner/python/replay_runner.py
  conformance/runner/python/test_replay_runner.py
Due: none

conformance: address four Copilot threads on PR #301
  conformance/runner/go/replay_runner.go
  conformance/runner/go/replay_runner_test.go
  kotlin/conformance/src/main/kotlin/com/basecamp/sdk/conformance/ReplayRunner.kt
Due: go-test-short
