Repository basecamp/basecamp-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-test-short, typescript-lint, typescript-typecheck

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
      - id: detect-private-key
      - id: check-case-conflict

  - repo: https://github.com/golangci/golangci-lint
    rev: v1.62.2
    hooks:
      - id: golangci-lint
        args: [--timeout=5m, --config=go/.golangci.yml]
        files: ^go/

  - repo: https://github.com/tekwizely/pre-commit-golang
    rev: v1.0.0-rc.1
    hooks:
      - id: go-fmt
        files: ^go/
      - id: go-vet
        files: ^go/
      - id: go-mod-tidy
        files: ^go/

  - repo: local
    hooks:
      - id: go-test-short
        name: go test -short
        entry: bash -c 'cd go && go test -short ./...'
        language: system
        pass_filenames: false
        types: [go]
        stages: [push]

      - id: typescript-lint
        name: typescript lint
        entry: bash -c 'cd typescript && npm run lint --if-present'
        language: system
        pass_filenames: false
        files: ^typescript/.*\.(ts|tsx)$
        stages: [commit]

      - id: typescript-typecheck
        name: typescript typecheck
        entry: bash -c 'cd typescript && npm run typecheck --if-present'
        language: system
        pass_filenames: false
        files: ^typescript/.*\.(ts|tsx)$
        stages: [push]

test: Add benchmark infrastructure
  go/.gitignore
  go/Makefile
  go/pkg/basecamp/benchmark_test.go
Due: go-test-short

perf: Add PGO profile for optimized builds
  go/default.pgo
Due: none

fix: Minor code fixes for linting
  go/pkg/basecamp/client.go
  go/pkg/basecamp/resilience_test.go
  go/pkg/basecamp/templates.go
  go/pkg/types/date.go
Due: go-test-short

Update to actions/checkout@v6 for consistency
  .github/workflows/release-typescript.yml
Due: none

ci: Make security checks resilient to missing Advanced Security
  .github/workflows/security.yml
Due: none

fix: Use strconv.Itoa for proper JSON number generation
  go/pkg/basecamp/benchmark_test.go
Due: go-test-short

fix: Address review findings
  .github/workflows/dependabot-auto-merge.yml
  .github/workflows/security.yml
  go/.gitignore
  go/Makefile
  go/pkg/basecamp/default.pgo
Due: none

Add npm publishing workflow for TypeScript SDK (#46)
  .github/workflows/release-typescript.yml
  typescript/package.json
Due: none

ci: Pin govulncheck to v1.1.4
  .github/workflows/security.yml
Due: none

CI/Build infrastructure upgrade (#47)
  .editorconfig
  .github/dependabot.yml
  .github/workflows/dependabot-auto-merge.yml
  .github/workflows/security.yml
  .github/workflows/test.yml
  .pre-commit-config.yaml
  go/.gitignore
  go/.golangci.yml
  go/Makefile
  go/pkg/basecamp/benchmark_test.go
  go/pkg/basecamp/client.go
  go/pkg/basecamp/default.pgo
  go/pkg/basecamp/resilience_test.go
  go/pkg/basecamp/templates.go
  go/pkg/types/date.go
Due: go-test-short

Fix TypeScript build error in attachments service
  typescript/src/services/attachments.ts
  typescript/tests/services/attachments.test.ts
Due: typescript-lint, typescript-typecheck

Fix TypeScript build error in attachments service (#49)
  typescript/src/services/attachments.ts
  typescript/tests/services/attachments.test.ts
Due: typescript-lint, typescript-typecheck

Collapse Go SDK to single module
  go/go.mod
  go/go.sum
  go/pkg/basecamp/otel/go.mod
  go/pkg/basecamp/otel/go.sum
  go/pkg/basecamp/prometheus/go.mod
  go/pkg/basecamp/prometheus/go.sum
Due: none

Add go.work for local development
  go.work
Due: none

Fix lint issues in otel and prometheus packages
  go/pkg/basecamp/otel/otel.go
  go/pkg/basecamp/otel/otel_test.go
  go/pkg/basecamp/prometheus/prometheus.go
  go/pkg/basecamp/prometheus/prometheus_test.go
Due: go-test-short

Collapse Go SDK to single module (#52)
  go.work
  go/go.mod
  go/go.sum
  go/pkg/basecamp/otel/go.mod
  go/pkg/basecamp/otel/go.sum
  go/pkg/basecamp/otel/otel.go
  go/pkg/basecamp/otel/otel_test.go
  go/pkg/basecamp/prometheus/go.mod
  go/pkg/basecamp/prometheus/go.sum
  go/pkg/basecamp/prometheus/prometheus.go
  go/pkg/basecamp/prometheus/prometheus_test.go
Due: go-test-short

Update Go SDK service layer for explicit accountId
  go/pkg/basecamp/attachments.go
  go/pkg/basecamp/campfires.go
  go/pkg/basecamp/cards.go
  go/pkg/basecamp/checkins.go
  go/pkg/basecamp/client.go
  go/pkg/basecamp/client_approvals.go
  go/pkg/basecamp/client_correspondences.go
  go/pkg/basecamp/client_replies.go
  go/pkg/basecamp/comments.go
  go/pkg/basecamp/config.go
  go/pkg/basecamp/events.go
  go/pkg/basecamp/forwards.go
  go/pkg/basecamp/lineup.go
  go/pkg/basecamp/message_boards.go
  go/pkg/basecamp/message_types.go
  go/pkg/basecamp/messages.go
  go/pkg/basecamp/people.go
  go/pkg/basecamp/projects.go
  go/pkg/basecamp/recordings.go
  go/pkg/basecamp/reports.go
  go/pkg/basecamp/schedules.go
  go/pkg/basecamp/search.go
  go/pkg/basecamp/subscriptions.go
  go/pkg/basecamp/templates.go
  go/pkg/basecamp/timeline.go
  go/pkg/basecamp/timesheet.go
  go/pkg/basecamp/todolist_groups.go
  go/pkg/basecamp/todolists.go
  go/pkg/basecamp/todos.go
  go/pkg/basecamp/todosets.go
  go/pkg/basecamp/tools.go
  go/pkg/basecamp/vaults.go
  go/pkg/basecamp/webhooks.go
Due: go-test-short

Add accountId path parameter to all Smithy operations
  spec/basecamp.smithy
  spec/overlays/examples.smithy
Due: none

Update tests and conformance runner for accountId parameter
  conformance/runner/go/main.go
  go/pkg/basecamp/attachments_test.go
  go/pkg/basecamp/authorization_test.go
  go/pkg/basecamp/doc.go
  go/pkg/basecamp/example_test.go
  go/pkg/basecamp/observability_test.go
  go/pkg/basecamp/resilience_test.go
Due: go-test-short

Update documentation for ForAccount pattern
  README.md
  go/CHANGELOG.md
  go/README.md
Due: none

Regenerate OpenAPI spec and Go client
  go/pkg/generated/client.gen.go
  openapi.json
Due: go-test-short

Remove obsolete AccountID from benchmark tests
  go/pkg/basecamp/benchmark_test.go
Due: go-test-short

Address review findings: shared gen, double-prefix guard
  go/pkg/basecamp/attachments.go
  go/pkg/basecamp/campfires.go
  go/pkg/basecamp/cards.go
  go/pkg/basecamp/checkins.go
  go/pkg/basecamp/client.go
  go/pkg/basecamp/client_approvals.go
  go/pkg/basecamp/client_correspondences.go
  go/pkg/basecamp/client_replies.go
  go/pkg/basecamp/comments.go
  go/pkg/basecamp/events.go
  go/pkg/basecamp/forwards.go
  go/pkg/basecamp/lineup.go
  go/pkg/basecamp/message_boards.go
  go/pkg/basecamp/message_types.go
  go/pkg/basecamp/messages.go
  go/pkg/basecamp/people.go
  go/pkg/basecamp/projects.go
  go/pkg/basecamp/recordings.go
  go/pkg/basecamp/reports.go
  go/pkg/basecamp/schedules.go
  go/pkg/basecamp/search.go
  go/pkg/basecamp/subscriptions.go
  go/pkg/basecamp/templates.go
  go/pkg/basecamp/timeline.go
  go/pkg/basecamp/timesheet.go
  go/pkg/basecamp/todolist_groups.go
  go/pkg/basecamp/todolists.go
  go/pkg/basecamp/todos.go
  go/pkg/basecamp/todosets.go
  go/pkg/basecamp/tools.go
  go/pkg/basecamp/vaults.go
  go/pkg/basecamp/webhooks.go
Due: go-test-short

Address review findings for OpenApiMapper
  Makefile
  spec/basecamp.smithy
  spec/smithy-bare-arrays/src/main/java/com/basecamp/smithy/BareArrayResponseMapper.java
  spec/smithy-bare-arrays/src/test/java/com/basecamp/smithy/BareArrayResponseMapperTest.java
  spec/smithy-build.json
Due: none

Normalize BaseURL in buildURL to avoid double slashes
  go/pkg/basecamp/client.go
Due: go-test-short

Add accountId prefix to TypeScript PATH_TO_OPERATION
  typescript/src/client.ts
Due: typescript-lint, typescript-typecheck

Address review findings: tests, guard, and list response docs
  go/pkg/basecamp/account_client_test.go
  go/pkg/basecamp/client.go
  scripts/fix-list-response-schemas.sh
  spec/basecamp.smithy
Due: go-test-short

Integrate OpenApiMapper and remove bash post-processor
  Makefile
  scripts/fix-list-response-schemas.sh
  spec/smithy-build.json
Due: none

Address PR review comments
  README.md
  go/README.md
  spec/smithy-bare-arrays/src/test/java/com/basecamp/smithy/BareArrayResponseMapperTest.java
  typescript/src/client.ts
Due: typescript-lint, typescript-typecheck

Add Smithy OpenApiMapper for bare array responses
  spec/smithy-bare-arrays/.gitignore
  spec/smithy-bare-arrays/build.gradle.kts
  spec/smithy-bare-arrays/gradle/wrapper/gradle-wrapper.jar
  spec/smithy-bare-arrays/gradle/wrapper/gradle-wrapper.properties
  spec/smithy-bare-arrays/gradlew
  spec/smithy-bare-arrays/settings.gradle.kts
  spec/smithy-bare-arrays/src/main/java/com/basecamp/smithy/BareArrayExtension.java
  spec/smithy-bare-arrays/src/main/java/com/basecamp/smithy/BareArrayResponseMapper.java
  spec/smithy-bare-arrays/src/main/resources/META-INF/services/software.amazon.smithy.openapi.fromsmithy.Smithy2OpenApiExtension
  spec/smithy-bare-arrays/src/test/java/com/basecamp/smithy/BareArrayResponseMapperTest.java
Due: none

Fix metadata preservation to include all non-structural members
  spec/smithy-bare-arrays/src/main/java/com/basecamp/smithy/BareArrayResponseMapper.java
  spec/smithy-bare-arrays/src/test/java/com/basecamp/smithy/BareArrayResponseMapperTest.java
Due: none

Fix CI workflow to build OpenAPI mapper before Smithy validation
  .github/workflows/test.yml
Due: none

Unwrap single-entity Get responses to bare $ref
  go/pkg/basecamp/campfires.go
  go/pkg/basecamp/cards.go
  go/pkg/basecamp/checkins.go
  go/pkg/basecamp/client_approvals.go
  go/pkg/basecamp/client_correspondences.go
  go/pkg/basecamp/client_replies.go
  go/pkg/basecamp/comments.go
  go/pkg/basecamp/forwards.go
  go/pkg/basecamp/message_boards.go
  go/pkg/basecamp/message_types.go
  go/pkg/basecamp/messages.go
  go/pkg/basecamp/people.go
  go/pkg/basecamp/projects.go
  go/pkg/basecamp/recordings.go
  go/pkg/basecamp/schedules.go
  go/pkg/basecamp/search.go
  go/pkg/basecamp/subscriptions.go
  go/pkg/basecamp/templates.go
  go/pkg/basecamp/todolist_groups.go
  go/pkg/basecamp/todolists.go
  go/pkg/basecamp/todos.go
  go/pkg/basecamp/todosets.go
  go/pkg/basecamp/tools.go
  go/pkg/basecamp/vaults.go
  go/pkg/basecamp/webhooks.go
  go/pkg/generated/client.gen.go
  openapi.json
  spec/basecamp.smithy
  spec/smithy-bare-arrays/src/main/java/com/basecamp/smithy/BareArrayExtension.java
  spec/smithy-bare-arrays/src/main/java/com/basecamp/smithy/BareObjectResponseMapper.java
  spec/smithy-bare-arrays/src/test/java/com/basecamp/smithy/BareObjectResponseMapperTest.java
Due: go-test-short

Unwrap single-entity Get responses to bare $ref (#55)
  go/pkg/basecamp/campfires.go
  go/pkg/basecamp/cards.go
  go/pkg/basecamp/checkins.go
  go/pkg/basecamp/client_approvals.go
  go/pkg/basecamp/client_correspondences.go
  go/pkg/basecamp/client_replies.go
  go/pkg/basecamp/comments.go
  go/pkg/basecamp/forwards.go
  go/pkg/basecamp/message_boards.go
  go/pkg/basecamp/message_types.go
  go/pkg/basecamp/messages.go
  go/pkg/basecamp/people.go
  go/pkg/basecamp/projects.go
  go/pkg/basecamp/recordings.go
  go/pkg/basecamp/schedules.go
  go/pkg/basecamp/search.go
  go/pkg/basecamp/subscriptions.go
  go/pkg/basecamp/templates.go
  go/pkg/basecamp/todolist_groups.go
  go/pkg/basecamp/todolists.go
  go/pkg/basecamp/todos.go
  go/pkg/basecamp/todosets.go
  go/pkg/basecamp/tools.go
  go/pkg/basecamp/vaults.go
  go/pkg/basecamp/webhooks.go
  go/pkg/generated/client.gen.go
  openapi.json
  spec/basecamp.smithy
  spec/smithy-bare-arrays/src/main/java/com/basecamp/smithy/BareArrayExtension.java
  spec/smithy-bare-arrays/src/main/java/com/basecamp/smithy/BareObjectResponseMapper.java
  spec/smithy-bare-arrays/src/test/java/com/basecamp/smithy/BareObjectResponseMapperTest.java
Due: go-test-short

Fix ListProjectPeople pagination path
  go/pkg/basecamp/people.go
Due: go-test-short

Add pagination support to SDK list operations
  go/pkg/basecamp/client.go
  go/pkg/basecamp/comments.go
  go/pkg/basecamp/example_test.go
  go/pkg/basecamp/messages.go
  go/pkg/basecamp/pagination_test.go
  go/pkg/basecamp/people.go
  go/pkg/basecamp/projects.go
  go/pkg/basecamp/todolists.go
  go/pkg/basecamp/todos.go
Due: go-test-short

Address PR review: document Page option limitations
  go/pkg/basecamp/comments.go
  go/pkg/basecamp/messages.go
  go/pkg/basecamp/people.go
  go/pkg/basecamp/projects.go
  go/pkg/basecamp/todolists.go
  go/pkg/basecamp/todos.go
Due: go-test-short

Add pagination support to remaining services
  go/pkg/basecamp/cards.go
  go/pkg/basecamp/checkins.go
  go/pkg/basecamp/events.go
  go/pkg/basecamp/forwards.go
  go/pkg/basecamp/recordings.go
  go/pkg/basecamp/schedules.go
  go/pkg/basecamp/vaults.go
Due: go-test-short

Fix Page option docs to reflect actual behavior
  go/pkg/basecamp/comments.go
  go/pkg/basecamp/messages.go
  go/pkg/basecamp/people.go
  go/pkg/basecamp/projects.go
  go/pkg/basecamp/todolists.go
  go/pkg/basecamp/todos.go
Due: go-test-short
