Repository basecamp/basecamp-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-test-short, typescript-lint, typescript-typecheck

go-test-short:
  name: go test -short
  entry: bash -c 'cd go && go test -short ./...'
  language: system
  pass_filenames: false
  stages:
  - push

typescript-lint:
  name: typescript lint
  entry: bash -c 'cd typescript && npm run lint --if-present'
  language: system
  pass_filenames: false
  stages:
  - commit

typescript-typecheck:
  name: typescript typecheck
  entry: bash -c 'cd typescript && npm run typecheck --if-present'
  language: system
  pass_filenames: false
  stages:
  - push

Update conformance runner for flat routes
  conformance/runner/go/main.go
Due: go-test-short

Flatten Go BoostsService and CreateLine for flat branch
  go/pkg/basecamp/boosts.go
  go/pkg/basecamp/boosts_test.go
  go/pkg/basecamp/campfires_test.go
Due: go-test-short

Regenerate all SDK clients from canonical openapi.json
  conformance/runner/go/main.go
  conformance/tests/paths.json
  openapi.json
  ruby/lib/basecamp/generated/metadata.json
  ruby/lib/basecamp/generated/services/timesheets_service.rb
  ruby/lib/basecamp/generated/types.rb
  typescript/src/generated/metadata.json
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/path-mapping.ts
  typescript/src/generated/schema.d.ts
  typescript/src/generated/services/campfires.ts
  typescript/src/generated/services/checkins.ts
  typescript/src/generated/services/client-approvals.ts
  typescript/src/generated/services/client-correspondences.ts
  typescript/src/generated/services/index.ts
  typescript/src/generated/services/message-types.ts
  typescript/src/generated/services/timeline.ts
  typescript/src/generated/services/timesheets.ts
  typescript/src/generated/services/webhooks.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Flatten conformance test paths to match new flat routes
  conformance/schema.json
  conformance/tests/idempotency.json
  conformance/tests/pagination.json
  conformance/tests/status-codes.json
Due: none

Fix URL router missing .json-suffixed API URLs
  go/pkg/basecamp/url.go
  go/pkg/basecamp/url_test.go
Due: go-test-short

Remove unused bucketID parameters from Go service methods
  go/pkg/basecamp/campfires.go
  go/pkg/basecamp/cards.go
  go/pkg/basecamp/client.go
  go/pkg/basecamp/client_replies.go
  go/pkg/basecamp/forwards.go
Due: go-test-short

Fix timeline/timesheet paths: /buckets/ → /projects/
  go/pkg/basecamp/url-routes.json
  go/pkg/generated/client.gen.go
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/timeline.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/timesheets.kt
  openapi.json
  ruby/lib/basecamp/generated/metadata.json
  ruby/lib/basecamp/generated/services/timeline_service.rb
  ruby/lib/basecamp/generated/services/timesheets_service.rb
  ruby/lib/basecamp/generated/types.rb
  spec/basecamp.smithy
  typescript/src/generated/metadata.json
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/path-mapping.ts
  typescript/src/generated/schema.d.ts
  typescript/src/generated/services/index.ts
  typescript/src/generated/services/timeline.ts
  typescript/src/generated/services/timesheets.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Update README examples and cleanup stale bucket references
  go/README.md
  ruby/README.md
  ruby/scripts/generate-services.rb
  typescript/README.md
  typescript/src/client.ts
Due: typescript-lint, typescript-typecheck

Fix spec routes C1, C2, C5, C6 and regenerate all SDKs
  conformance/runner/go/main.go
  conformance/tests/paths.json
  go/pkg/basecamp/example_test.go
  go/pkg/basecamp/timeline.go
  go/pkg/basecamp/timesheet.go
  go/pkg/basecamp/url-routes.json
  go/pkg/basecamp/url.go
  go/pkg/basecamp/webhooks.go
  go/pkg/generated/client.gen.go
  kotlin/conformance/src/main/kotlin/com/basecamp/sdk/conformance/Main.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/Types.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/timeline.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/timesheets.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/webhooks.kt
  openapi.json
  ruby/lib/basecamp/generated/metadata.json
  ruby/lib/basecamp/generated/services/timeline_service.rb
  ruby/lib/basecamp/generated/services/timesheets_service.rb
  ruby/lib/basecamp/generated/services/webhooks_service.rb
  ruby/lib/basecamp/generated/types.rb
  ruby/test/basecamp/security_test.rb
  ruby/test/basecamp/services/timeline_service_test.rb
  ruby/test/basecamp/services/timesheet_service_test.rb
  ruby/test/basecamp/services/webhooks_service_test.rb
  spec/basecamp.smithy
  typescript/README.md
  typescript/src/client.ts
  typescript/src/generated/metadata.json
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/path-mapping.ts
  typescript/src/generated/schema.d.ts
  typescript/src/generated/services/index.ts
  typescript/src/generated/services/timeline.ts
  typescript/src/generated/services/timesheets.ts
  typescript/src/generated/services/webhooks.ts
  typescript/tests/client.test.ts
  typescript/tests/security.test.ts
  typescript/tests/services/reports.test.ts
  typescript/tests/services/webhooks.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Flatten timesheet entry operations added by PR #76
  conformance/runner/go/main.go
  go/pkg/basecamp/timesheet.go
  go/pkg/generated/client.gen.go
  openapi.json
  ruby/lib/basecamp/generated/metadata.json
  ruby/lib/basecamp/generated/services/timesheets_service.rb
  ruby/lib/basecamp/generated/types.rb
  spec/basecamp.smithy
  typescript/src/generated/metadata.json
  typescript/src/generated/services/timesheets.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Fix PR review comments: update stale docs and comments
  go/README.md
  go/pkg/basecamp/message_types.go
  go/pkg/basecamp/timesheet.go
Due: go-test-short

Flatten Boost API operations and regenerate all SDK clients
  go/pkg/basecamp/url-routes.json
  go/pkg/basecamp/url.go
  go/pkg/generated/client.gen.go
  openapi.json
  ruby/lib/basecamp/generated/metadata.json
  ruby/lib/basecamp/generated/services/boosts_service.rb
  ruby/lib/basecamp/generated/services/campfires_service.rb
  ruby/lib/basecamp/generated/types.rb
  ruby/test/basecamp/services/boosts_service_test.rb
  ruby/test/basecamp/services/campfires_service_test.rb
  spec/basecamp.smithy
  typescript/src/generated/metadata.json
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/path-mapping.ts
  typescript/src/generated/schema.d.ts
  typescript/src/generated/services/boosts.ts
  typescript/src/generated/services/index.ts
  typescript/tests/services/boosts.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Flatten webhook get-with-deliveries test URLs for flat branch
  ruby/test/basecamp/services/webhooks_service_test.rb
  typescript/tests/services/webhooks.test.ts
Due: typescript-lint, typescript-typecheck

Bump all SDK versions to 0.2.0
  go/pkg/basecamp/version.go
  kotlin/sdk/build.gradle.kts
  ruby/Gemfile.lock
  ruby/lib/basecamp/version.rb
  typescript/package-lock.json
  typescript/package.json
  typescript/src/client.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Rename npm package to @37signals/basecamp
  .github/workflows/release-typescript.yml
  README.md
  package.json
  typescript/README.md
  typescript/package-lock.json
  typescript/package.json
  typescript/src/client.ts
  typescript/src/errors.ts
  typescript/src/hooks.ts
  typescript/src/hooks/otel.ts
  typescript/src/index.ts
  typescript/src/oauth/index.ts
  typescript/src/services/authorization.ts
Due: typescript-lint, typescript-typecheck

Replace "Basecamp 3" with "Basecamp" in public-facing text
  go/README.md
  go/pkg/basecamp/doc.go
  package.json
  ruby/README.md
  ruby/basecamp-sdk.gemspec
  swift/Sources/Basecamp/BasecampConfig.swift
  typescript/README.md
  typescript/package.json
  typescript/src/client.ts
  typescript/src/index.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Switch Ruby and TypeScript publishing to OIDC trusted publishing
  .github/workflows/release-ruby.yml
  .github/workflows/release-typescript.yml
  typescript/package.json
Due: none

Prepare first public release (0.2.0) (#119)
  .github/workflows/release-ruby.yml
  .github/workflows/release-typescript.yml
  README.md
  go/README.md
  go/pkg/basecamp/doc.go
  go/pkg/basecamp/version.go
  kotlin/sdk/build.gradle.kts
  package.json
  ruby/Gemfile.lock
  ruby/README.md
  ruby/basecamp-sdk.gemspec
  ruby/lib/basecamp/version.rb
  swift/Sources/Basecamp/BasecampConfig.swift
  typescript/README.md
  typescript/package-lock.json
  typescript/package.json
  typescript/src/client.ts
  typescript/src/errors.ts
  typescript/src/hooks.ts
  typescript/src/hooks/otel.ts
  typescript/src/index.ts
  typescript/src/oauth/index.ts
  typescript/src/services/authorization.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Add MIT LICENSE, clean up repo housekeeping
  .gitignore
  LICENSE
  scripts/fix-openapi-id-types.sh
  scripts/upgrade-openapi-3.2.sh
Due: none

Move OpenAPI license/contact metadata into Smithy build pipeline
  openapi.json
  spec/smithy-build.json
Due: none

Fix release workflow OpenAPI validation, add CI scanning
  .github/workflows/release-ruby.yml
  .github/workflows/release-swift.yml
  .github/workflows/release-typescript.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  .github/workflows/test.yml
Due: none

Go SDK: bug fixes, hardening, and test coverage
  go/pkg/basecamp/auth.go
  go/pkg/basecamp/auth_test.go
  go/pkg/basecamp/bulkhead_test.go
  go/pkg/basecamp/cache_test.go
  go/pkg/basecamp/circuit_breaker_test.go
  go/pkg/basecamp/client.go
  go/pkg/basecamp/config_test.go
  go/pkg/basecamp/errors_test.go
  go/pkg/basecamp/helpers.go
  go/pkg/basecamp/helpers_test.go
  go/pkg/basecamp/http.go
  go/pkg/basecamp/rate_limit_test.go
  go/pkg/basecamp/slog_hooks_test.go
Due: go-test-short

TypeScript SDK: bug fixes, harmonization, and test coverage
  typescript/README.md
  typescript/package-lock.json
  typescript/package.json
  typescript/src/client.ts
  typescript/src/errors.ts
  typescript/src/hooks/otel.ts
  typescript/src/index.ts
  typescript/src/oauth/callback-server.ts
  typescript/src/oauth/exchange.ts
  typescript/src/oauth/identity.ts
  typescript/src/oauth/interactive-login.ts
  typescript/src/oauth/token-store.ts
  typescript/tests/client.test.ts
  typescript/tests/errors.test.ts
  typescript/tests/hooks/otel.test.ts
  typescript/tests/integration.test.ts
  typescript/tests/oauth/identity.test.ts
  typescript/tests/oauth/oauth.test.ts
  typescript/tests/oauth/token-store.test.ts
  typescript/tests/services/authorization.test.ts
  typescript/tests/services/base.test.ts
  typescript/tests/services/campfires.test.ts
  typescript/tests/services/card-columns.test.ts
  typescript/tests/services/card-steps.test.ts
  typescript/tests/services/card-tables.test.ts
  typescript/tests/services/cards.test.ts
  typescript/tests/services/client-visibility.test.ts
  typescript/tests/services/comments.test.ts
  typescript/tests/services/messages.test.ts
  typescript/tests/services/people.test.ts
  typescript/tests/services/projects.test.ts
  typescript/tests/services/timeline.test.ts
  typescript/tests/services/todolists.test.ts
  typescript/tests/services/todos.test.ts
  typescript/tests/services/todosets.test.ts
  typescript/vitest.config.ts
Due: typescript-lint, typescript-typecheck

Ruby SDK: bug fixes, config corrections, and test coverage
  ruby/README.md
  ruby/lib/basecamp/config.rb
  ruby/lib/basecamp/errors.rb
  ruby/lib/basecamp/http.rb
  ruby/test/basecamp/config_test.rb
  ruby/test/basecamp/errors_test.rb
  ruby/test/basecamp/http_test.rb
Due: none

Kotlin SDK: version sync, conformance fix, and test coverage
  kotlin/README.md
  kotlin/conformance/src/main/kotlin/com/basecamp/sdk/conformance/Main.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/BasecampConfig.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/ChainHooksTest.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/CommentsServiceTest.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/OAuthTest.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/PaginationTest.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/PeopleServiceTest.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/ProjectsServiceTest.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/RetryTest.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/WebhooksServiceTest.kt
Due: none

Swift SDK: bug fixes and test coverage
  swift/README.md
  swift/Sources/Basecamp/HTTP/ETagCache.swift
  swift/Sources/Basecamp/HTTP/HTTPClient.swift
  swift/Tests/BasecampTests/ETagCacheTests.swift
  swift/Tests/BasecampTests/GeneratedServiceTests.swift
  swift/Tests/BasecampTests/HooksTests.swift
  swift/Tests/BasecampTests/PaginationTests.swift
  swift/Tests/BasecampTests/RetryTests.swift
Due: none

Conformance test suite: all four SDK runners passing
  Makefile
  conformance/runner/ruby/runner.rb
  conformance/runner/typescript/package-lock.json
  conformance/runner/typescript/package.json
  conformance/runner/typescript/runner.test.ts
  conformance/runner/typescript/tsconfig.json
  conformance/tests/idempotency.json
Due: none

Update documentation for five-SDK landscape
  CONTRIBUTING.md
  README.md
  SECURITY.md
Due: none

Add path-based PR auto-labeling
  .github/labeler.yml
  .github/workflows/labeler.yml
Due: none

AI-powered workflow automation for PR classification, release notes, breaking change detection, and spec impact
  .github/prompts/classify-pr.prompt.yml
  .github/prompts/detect-breaking.prompt.yml
  .github/prompts/spec-impact.prompt.yml
  .github/prompts/summarize-changelog.prompt.yml
  .github/release.yml
  .github/workflows/ai-labeler.yml
  .github/workflows/release-ruby.yml
  .github/workflows/release-swift.yml
  .github/workflows/release-typescript.yml
  .github/workflows/release.yml
Due: none

Fix Go coverage gate: exclude generated code, lower threshold to 25%
  .github/workflows/test.yml
Due: none

Fix ai-labeler YAML parsing: pass title/body via file_input
  .github/workflows/ai-labeler.yml
Due: none

Fix ai-labeler YAML parsing: pass title/body via file_input (#121)
  .github/workflows/ai-labeler.yml
Due: none

Build prompt YAML dynamically to avoid template substitution breaking YAML parsing
  .github/prompts/classify-pr.prompt.yml
  .github/prompts/detect-breaking.prompt.yml
  .github/prompts/spec-impact.prompt.yml
  .github/prompts/summarize-changelog.prompt.yml
  .github/workflows/ai-labeler.yml
  .github/workflows/release-ruby.yml
  .github/workflows/release-swift.yml
  .github/workflows/release-typescript.yml
  .github/workflows/release.yml
Due: none

Build prompt YAML dynamically to avoid template substitution breaking YAML parsing (#122)
  .github/prompts/classify-pr.prompt.yml
  .github/prompts/detect-breaking.prompt.yml
  .github/prompts/spec-impact.prompt.yml
  .github/prompts/summarize-changelog.prompt.yml
  .github/workflows/ai-labeler.yml
  .github/workflows/release-ruby.yml
  .github/workflows/release-swift.yml
  .github/workflows/release-typescript.yml
  .github/workflows/release.yml
Due: none

Fix ai-labeler: null body coalescing and printf for PR titles
  .github/workflows/ai-labeler.yml
Due: none

Fix ai-labeler: null body coalescing and printf for PR titles (#123)
  .github/workflows/ai-labeler.yml
Due: none

Path conditions:
  go-test-short: any of: \.go$
  typescript-lint: any of: ^typescript/.*\.(ts|tsx)$
  typescript-typecheck: any of: ^typescript/.*\.(ts|tsx)$
