Repository basecamp/basecamp-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-test-short, typescript-lint, typescript-typecheck

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
      - id: detect-private-key
      - id: check-case-conflict

  - repo: https://github.com/golangci/golangci-lint
    rev: v1.62.2
    hooks:
      - id: golangci-lint
        args: [--timeout=5m, --config=go/.golangci.yml]
        files: ^go/

  - repo: https://github.com/tekwizely/pre-commit-golang
    rev: v1.0.0-rc.1
    hooks:
      - id: go-fmt
        files: ^go/
      - id: go-vet
        files: ^go/
      - id: go-mod-tidy
        files: ^go/

  - repo: local
    hooks:
      - id: go-test-short
        name: go test -short
        entry: bash -c 'cd go && go test -short ./...'
        language: system
        pass_filenames: false
        types: [go]
        stages: [push]

      - id: typescript-lint
        name: typescript lint
        entry: bash -c 'cd typescript && npm run lint --if-present'
        language: system
        pass_filenames: false
        files: ^typescript/.*\.(ts|tsx)$
        stages: [commit]

      - id: typescript-typecheck
        name: typescript typecheck
        entry: bash -c 'cd typescript && npm run typecheck --if-present'
        language: system
        pass_filenames: false
        files: ^typescript/.*\.(ts|tsx)$
        stages: [push]

fix(ruby): classify a read timeout as a network error, not a status error (#874)
  SPEC.md
  ruby/lib/basecamp/http.rb
  ruby/test/basecamp/download_test.rb
  ruby/test/basecamp/http_test.rb
Due: none

Public-API consumer: the update payload now has a required member
  swift/Sources/BasecampPublicAPIConsumer/PublicAPIConsumer.swift
Due: none

conformance: a path-less requestBody assertion pins the whole body
  SPEC.md
  conformance/runner/go/main.go
  conformance/runner/python/runner.py
  conformance/runner/ruby/runner.rb
  conformance/runner/swift/Sources/ConformanceRunner/Assertions.swift
  conformance/runner/typescript/runner.test.ts
  conformance/schema.json
  conformance/tests/schedule_entries_write.json
  kotlin/conformance/src/main/kotlin/com/basecamp/sdk/conformance/Main.kt
Due: go-test-short

fix(gauges): absorb five spec drifts from the contract bc3 serves
  MIGRATING.md
  go/pkg/basecamp/gauges.go
  go/pkg/basecamp/gauges_test.go
  go/pkg/generated/client.gen.go
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/Types.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/gauges.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/GaugesServiceTest.kt
  openapi.json
  python/src/basecamp/generated/services/gauges.py
  python/src/basecamp/generated/types.py
  ruby/lib/basecamp/generated/services/gauges_service.rb
  ruby/lib/basecamp/generated/types.rb
  scripts/enhance-openapi-go-types.sh
  spec/basecamp.smithy
  spec/fixtures/gauges/get_first_needle.json
  spec/fixtures/manifest.yaml
  swift/Sources/Basecamp/Generated/Models/GaugeNeedle.swift
  swift/Sources/Basecamp/Generated/Models/UpdateGaugeNeedleRequest.swift
  swift/Tests/BasecampTests/GaugesServiceTests.swift
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/schema.d.ts
  typescript/src/generated/services/gauges.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Regenerate the Rust SDK for the gauges contract, and count it in the migration note
  MIGRATING.md
  rust/basecamp-sdk/src/generated/types.rs
  rust/basecamp-sdk/tests/services.rs
Due: none

Whole-body requestBody: the Rust runner and fixture harness take the path-less form, Python compares at the JSON level, the schema requires expected
  SPEC.md
  conformance/runner/python/runner.py
  conformance/runner/python/test_request_body.py
  conformance/runner/rust/src/assertions.rs
  conformance/schema.json
  rust/basecamp-sdk/tests/composites_support/mod.rs
Due: none

Reject an empty assertion path in the schema, where the runners would disagree on it
  conformance/schema.json
Due: none

Require the description on UpdateGaugeNeedle too, since bc3 rejects an empty wrapper as missing
  MIGRATING.md
  go/pkg/basecamp/gauges.go
  go/pkg/basecamp/optional_presence_test.go
  go/pkg/generated/client.gen.go
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/GaugesServiceTest.kt
  openapi.json
  python/src/basecamp/generated/types.py
  ruby/lib/basecamp/generated/types.rb
  spec/basecamp.smithy
  swift/Sources/Basecamp/Generated/Models/GaugeNeedleUpdatePayload.swift
  swift/Tests/BasecampTests/GaugesServiceTests.swift
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/schema.d.ts
  typescript/src/generated/services/gauges.ts
  typescript/tests/services/gauges.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Reconcile the gauge-needle nil semantics in SPEC, name the Rust request type, and carry comment_count in every inline needle stub
  MIGRATING.md
  SPEC.md
  go/pkg/basecamp/gauges_test.go
  python/tests/services/test_gauges_service.py
Due: go-test-short

Compile the CodeQL Kotlin build with the newest Kotlin CodeQL supports
  .github/codeql/kotlin-version.init.gradle.kts
  .github/workflows/codeql.yml
Due: none

Compile the CodeQL Kotlin build with the newest Kotlin CodeQL supports (#875)
  .github/codeql/kotlin-version.init.gradle.kts
  .github/workflows/codeql.yml
Due: none

fix(kotlin): project the transport error before it becomes the network message (#872)
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/BasecampClient.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/Download.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/TransportErrors.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/http/BasecampHttpClient.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/oauth/Device.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/oauth/Discovery.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/oauth/Exchange.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/TransportErrorProjectionTest.kt
  kotlin/sdk/src/jvmTest/kotlin/com/basecamp/sdk/TransportErrorProjectionJvmTest.kt
Due: none

Fail the npm already-published check closed
  .github/workflows/release-typescript.yml
Due: none

Event feed connector: foundations
  AGENTS.md
  go/go.mod
  go/go.sum
  go/pkg/basecamp/eventfeed/backoff.go
  go/pkg/basecamp/eventfeed/backoff_test.go
  go/pkg/basecamp/eventfeed/cable.go
  go/pkg/basecamp/eventfeed/cable_test.go
  go/pkg/basecamp/eventfeed/checkpoint.go
  go/pkg/basecamp/eventfeed/clock.go
  go/pkg/basecamp/eventfeed/clock_test.go
  go/pkg/basecamp/eventfeed/continuation.go
  go/pkg/basecamp/eventfeed/continuation_test.go
  go/pkg/basecamp/eventfeed/dedupe.go
  go/pkg/basecamp/eventfeed/dedupe_test.go
  go/pkg/basecamp/eventfeed/digest.go
  go/pkg/basecamp/eventfeed/digest_test.go
  go/pkg/basecamp/eventfeed/doc.go
  go/pkg/basecamp/eventfeed/errors.go
  go/pkg/basecamp/eventfeed/errors_test.go
  go/pkg/basecamp/eventfeed/event.go
  go/pkg/basecamp/eventfeed/event_test.go
  go/pkg/basecamp/eventfeed/feedtest/clock.go
  go/pkg/basecamp/eventfeed/feedtest/clock_test.go
  go/pkg/basecamp/eventfeed/feedtest/minter.go
  go/pkg/basecamp/eventfeed/feedtest/minter_test.go
  go/pkg/basecamp/eventfeed/feedtest/polls.go
  go/pkg/basecamp/eventfeed/feedtest/polls_test.go
  go/pkg/basecamp/eventfeed/feedtest/store.go
  go/pkg/basecamp/eventfeed/feedtest/transport.go
  go/pkg/basecamp/eventfeed/feedtest/transport_test.go
  go/pkg/basecamp/eventfeed/filestore.go
  go/pkg/basecamp/eventfeed/filestore_test.go
  go/pkg/basecamp/eventfeed/filters.go
  go/pkg/basecamp/eventfeed/filters_test.go
  go/pkg/basecamp/eventfeed/seams.go
  go/pkg/basecamp/eventfeed/transport.go
  go/pkg/basecamp/eventfeed/transport_contract_test.go
  go/pkg/basecamp/eventfeed/transport_test.go
  go/pkg/basecamp/eventfeed/websocket_transport.go
  go/pkg/basecamp/eventfeed/websocket_transport_test.go
Due: go-test-short

Event feed: the checkpoint store reads a bounded regular file, under one lock
  go/pkg/basecamp/eventfeed/filestore.go
  go/pkg/basecamp/eventfeed/filestore_test.go
Due: go-test-short

Event feed: Close bounds the read, not just itself
  go/pkg/basecamp/eventfeed/websocket_transport.go
  go/pkg/basecamp/eventfeed/websocket_transport_test.go
Due: go-test-short

Event feed: say that the package is foundations only
  AGENTS.md
  go/pkg/basecamp/eventfeed/doc.go
Due: go-test-short

Event feed: the redactor renders configured text or a placeholder, never the server's
  go/pkg/basecamp/eventfeed/redact.go
  go/pkg/basecamp/eventfeed/redact_test.go
Due: go-test-short

Event feed: bounding a peer's text is not redacting it
  go/pkg/basecamp/eventfeed/cable.go
  go/pkg/basecamp/eventfeed/cable_test.go
Due: go-test-short

Event feed: own the ledger's bytes, cap the dial rendering, test the store fake
  go/pkg/basecamp/eventfeed/errors_test.go
  go/pkg/basecamp/eventfeed/feedtest/polls.go
  go/pkg/basecamp/eventfeed/feedtest/polls_test.go
  go/pkg/basecamp/eventfeed/feedtest/store_test.go
  go/pkg/basecamp/eventfeed/seams.go
Due: go-test-short

Event feed: the dial status renders only from HTTP's own range
  go/pkg/basecamp/eventfeed/transport_test.go
  go/pkg/basecamp/eventfeed/websocket_transport.go
Due: go-test-short

Event feed: the cable dial takes no credential it was not given
  go/pkg/basecamp/eventfeed/transport.go
  go/pkg/basecamp/eventfeed/transport_test.go
  go/pkg/basecamp/eventfeed/websocket_transport.go
  go/pkg/basecamp/eventfeed/websocket_transport_test.go
Due: go-test-short

Event feed: a canonical origin is a function of the origin, not its spelling
  go/pkg/basecamp/eventfeed/checkpoint.go
  go/pkg/basecamp/eventfeed/continuation_test.go
Due: go-test-short

Event feed: an invalid frame limit fails closed, not open into no limit
  go/pkg/basecamp/eventfeed/feedtest/transport.go
  go/pkg/basecamp/eventfeed/seams.go
  go/pkg/basecamp/eventfeed/transport_contract_test.go
  go/pkg/basecamp/eventfeed/websocket_transport.go
Due: go-test-short

Event feed: one observer-safe URL redactor
  go/pkg/basecamp/eventfeed/redact.go
  go/pkg/basecamp/eventfeed/redact_test.go
Due: go-test-short

Give the malformed-value decode cases all nine keys, so they test their names
  go/pkg/basecamp/eventfeed/cable_test.go
Due: go-test-short

Event feed: a null type is not a broadcast
  go/pkg/basecamp/eventfeed/cable.go
  go/pkg/basecamp/eventfeed/cable_test.go
Due: go-test-short

Event feed: a concurrent second Close returns early, deliberately
  go/pkg/basecamp/eventfeed/websocket_transport.go
Due: go-test-short

Fix three comments still stating rules the code has since outgrown
  go/pkg/basecamp/eventfeed/cable_test.go
  go/pkg/basecamp/eventfeed/dedupe.go
  go/pkg/basecamp/eventfeed/errors.go
Due: go-test-short

Event feed: a peer's close reason is data, never a rendering
  go/pkg/basecamp/eventfeed/errors.go
  go/pkg/basecamp/eventfeed/errors_test.go
  go/pkg/basecamp/eventfeed/seams.go
Due: go-test-short

Fix the filters-clone comment that stated the opposite of the code
  go/pkg/basecamp/eventfeed/filters_test.go
Due: go-test-short

Event feed: a policy reason never echoes what the server wrote
  go/pkg/basecamp/eventfeed/errors_test.go
  go/pkg/basecamp/eventfeed/transport.go
  go/pkg/basecamp/eventfeed/transport_test.go
Due: go-test-short

Event feed: a suppressed duplicate is not a delivery
  go/pkg/basecamp/eventfeed/dedupe.go
  go/pkg/basecamp/eventfeed/dedupe_test.go
Due: go-test-short

Event feed: save through a symlinked store path instead of replacing it
  go/pkg/basecamp/eventfeed/filestore.go
  go/pkg/basecamp/eventfeed/filestore_test.go
Due: go-test-short

Event feed: close the rendering-cap class, type the oversize rejection
  go/pkg/basecamp/eventfeed/errors.go
  go/pkg/basecamp/eventfeed/errors_test.go
  go/pkg/basecamp/eventfeed/feedtest/polls.go
  go/pkg/basecamp/eventfeed/feedtest/polls_test.go
  go/pkg/basecamp/eventfeed/seams.go
  go/pkg/basecamp/eventfeed/websocket_transport.go
  go/pkg/basecamp/eventfeed/websocket_transport_test.go
Due: go-test-short

Event feed: cancellation outranks a local close on entry too
  go/pkg/basecamp/eventfeed/transport_contract_test.go
  go/pkg/basecamp/eventfeed/websocket_transport.go
Due: go-test-short

Event feed: the checkpoint store's write is bound like its read
  go/pkg/basecamp/eventfeed/filestore.go
  go/pkg/basecamp/eventfeed/filestore_test.go
Due: go-test-short

Annotate resolveStorePath's deliberate nilerr fall-through
  go/pkg/basecamp/eventfeed/filestore.go
Due: go-test-short

Event feed: the contract now unblocks a write that is already in flight
  go/pkg/basecamp/eventfeed/transport_contract_test.go
  go/pkg/basecamp/eventfeed/websocket_transport_test.go
Due: go-test-short

Make the fake transport honour the oversize sentinel it mirrors
  go/pkg/basecamp/eventfeed/feedtest/transport.go
  go/pkg/basecamp/eventfeed/feedtest/transport_test.go
Due: go-test-short
