Repository basecamp/basecamp-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-test-short, typescript-lint, typescript-typecheck

go-test-short:
  name: go test -short
  entry: bash -c 'cd go && go test -short ./...'
  language: system
  pass_filenames: false
  stages:
  - push

typescript-lint:
  name: typescript lint
  entry: bash -c 'cd typescript && npm run lint --if-present'
  language: system
  pass_filenames: false
  stages:
  - commit

typescript-typecheck:
  name: typescript typecheck
  entry: bash -c 'cd typescript && npm run typecheck --if-present'
  language: system
  pass_filenames: false
  stages:
  - push

One exit code for campfire_discovery_incomplete, pinned by the fixture
  SPEC.md
  conformance/runner/go/main.go
  conformance/runner/swift/Sources/ConformanceRunner/Assertions.swift
  conformance/runner/swift/Sources/ConformanceRunner/Runner.swift
  conformance/tests/recording_summary.json
  go/README.md
  go/pkg/basecamp/recording_summary.go
  go/pkg/basecamp/recording_summary_test.go
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/BasecampException.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/ErrorTest.kt
  python/src/basecamp/errors.py
  python/tests/services/test_recordings_summarize.py
  python/tests/test_errors.py
  ruby/lib/basecamp/campfire_discovery_incomplete_error.rb
  ruby/test/basecamp/errors_test.rb
  rust/basecamp-sdk/src/services/recordings.rs
  rust/basecamp-sdk/tests/composites_recording_summary.rs
  swift/Sources/Basecamp/RecordingsServiceExtensions.swift
  swift/Tests/BasecampTests/RecordingSummaryTests.swift
  typescript/README.md
  typescript/src/services/recordings-extensions.ts
  typescript/tests/services/recordings-summarize.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

MIGRATING: the exit code change is silent, so say so
  MIGRATING.md
Due: none

Check a cursor key, and make the Ruby test able to fail
  SPEC.md
  kotlin/generator/src/main/kotlin/com/basecamp/sdk/generator/OperationParser.kt
  ruby/lib/basecamp/generated/metadata.json
  ruby/lib/basecamp/generated/types.rb
  ruby/test/scripts/generate_services_pagination_style_test.rb
  rust/generator/src/emit/mod.rs
  rust/generator/src/emit/types.rs
  rust/generator/tests/fixtures.rs
  spec/basecamp-traits.smithy
  typescript/scripts/extract-metadata.ts
  typescript/src/generated/metadata.ts
Due: typescript-lint, typescript-typecheck

One exit code for bucket_mismatch, and the last two identities pinned
  SPEC.md
  conformance/runner/swift/Sources/ConformanceRunner/Assertions.swift
  conformance/tests/recording_summary.json
  go/README.md
  go/pkg/basecamp/recording_summary.go
  go/pkg/basecamp/recording_summary_test.go
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/BasecampException.kt
  python/src/basecamp/errors.py
  ruby/lib/basecamp/bucket_mismatch_error.rb
  rust/basecamp-sdk/src/services/recordings.rs
  rust/basecamp-sdk/tests/composites_recording_summary.rs
  swift/Sources/Basecamp/RecordingsServiceExtensions.swift
  swift/Tests/BasecampTests/RecordingSummaryTests.swift
  typescript/README.md
  typescript/src/services/recordings-extensions.ts
  typescript/tests/services/recordings-summarize.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Reviews: the unknown-type case now proves its own claim, and MIGRATING says what breaks
  MIGRATING.md
  SPEC.md
  conformance/tests/recording_summary.json
  swift/Tests/BasecampTests/RecordingSummaryTests.swift
  typescript/src/services/recordings-extensions.ts
  typescript/tests/services/recordings-summarize.test.ts
Due: typescript-lint, typescript-typecheck

Test the mistyping where it lived, and close Swift's silent pass
  spec/basecamp-traits.smithy
  swift/Sources/BasecampGenerator/OpenAPIParser.swift
  typescript/tests/generator/pagination-return-type.test.ts
Due: typescript-lint, typescript-typecheck

MIGRATING: newest section first, as the file says
  MIGRATING.md
Due: none

Two SDKs, two exit codes, one condition (#902)
  MIGRATING.md
  SPEC.md
  conformance/runner/go/main.go
  conformance/runner/swift/Sources/ConformanceRunner/Assertions.swift
  conformance/runner/swift/Sources/ConformanceRunner/Runner.swift
  conformance/tests/recording_summary.json
  go/README.md
  go/pkg/basecamp/recording_summary.go
  go/pkg/basecamp/recording_summary_test.go
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/BasecampException.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/ErrorTest.kt
  python/src/basecamp/errors.py
  python/tests/services/test_recordings_summarize.py
  python/tests/test_errors.py
  ruby/lib/basecamp/bucket_mismatch_error.rb
  ruby/lib/basecamp/campfire_discovery_incomplete_error.rb
  ruby/test/basecamp/errors_test.rb
  rust/basecamp-sdk/src/services/recordings.rs
  rust/basecamp-sdk/tests/composites_recording_summary.rs
  swift/Sources/Basecamp/RecordingsServiceExtensions.swift
  swift/Tests/BasecampTests/RecordingSummaryTests.swift
  typescript/README.md
  typescript/src/services/recordings-extensions.ts
  typescript/tests/services/recordings-summarize.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Stop a KDoc from refuting itself, and a banner from documenting nothing
  .github/workflows/test.yml
  Makefile
  kotlin/generator/src/main/kotlin/com/basecamp/sdk/generator/ClientAccessorEmitter.kt
  kotlin/generator/src/main/kotlin/com/basecamp/sdk/generator/TypeEmitter.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/Pagination.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/Urls.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/ServiceAccessors.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/Types.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/oauth/Device.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/oauth/Discovery.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/services/DocumentsService.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/services/SchedulesService.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/services/TodolistsService.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/DocumentsServiceTest.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/PaginationTest.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/SchedulesServiceTest.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/TodolistsServiceTest.kt
  scripts/check-orphaned-doc-comments.py
  scripts/test-check-orphaned-doc-comments.py
  swift/Sources/Basecamp/BasecampError.swift
  typescript/src/services/base.ts
  typescript/src/services/recordings-extensions.ts
Due: typescript-lint, typescript-typecheck

test(python): the retryable sweep passed while the invariant leaked
  MIGRATING.md
  python/tests/test_errors.py
Due: none

Stop a KDoc from refuting itself, and a banner from documenting nothing (#907)
  .github/workflows/test.yml
  Makefile
  kotlin/generator/src/main/kotlin/com/basecamp/sdk/generator/ClientAccessorEmitter.kt
  kotlin/generator/src/main/kotlin/com/basecamp/sdk/generator/TypeEmitter.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/Pagination.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/Urls.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/ServiceAccessors.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/Types.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/oauth/Device.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/oauth/Discovery.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/services/DocumentsService.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/services/SchedulesService.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/services/TodolistsService.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/DocumentsServiceTest.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/PaginationTest.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/SchedulesServiceTest.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/TodolistsServiceTest.kt
  scripts/check-orphaned-doc-comments.py
  scripts/test-check-orphaned-doc-comments.py
  swift/Sources/Basecamp/BasecampError.swift
  typescript/src/services/base.ts
  typescript/src/services/recordings-extensions.ts
Due: typescript-lint, typescript-typecheck

Make the pagination trait's cursor style mean something (#905)
  SPEC.md
  kotlin/generator/src/main/kotlin/com/basecamp/sdk/generator/OperationParser.kt
  python/scripts/generate_services.py
  python/tests/test_generate_services_pagination_style.py
  ruby/lib/basecamp/generated/metadata.json
  ruby/lib/basecamp/generated/types.rb
  ruby/scripts/generate-metadata.rb
  ruby/scripts/generate-services.rb
  ruby/test/scripts/generate_services_pagination_style_test.rb
  rust/basecamp-sdk/src/route.rs
  rust/generator/src/emit/mod.rs
  rust/generator/src/emit/routes.rs
  rust/generator/src/emit/services.rs
  rust/generator/src/emit/types.rs
  rust/generator/src/model.rs
  rust/generator/tests/fixtures.rs
  spec/basecamp-traits.smithy
  swift/Sources/BasecampGenerator/OpenAPIParser.swift
  typescript/scripts/extract-metadata.ts
  typescript/scripts/generate-services.ts
  typescript/src/generated/metadata.ts
  typescript/tests/generator/pagination-return-type.test.ts
Due: typescript-lint, typescript-typecheck

Close the malformed-trait pass in the two generators that still had it
  kotlin/generator/src/main/kotlin/com/basecamp/sdk/generator/OperationParser.kt
  kotlin/generator/src/test/kotlin/com/basecamp/sdk/generator/PaginationStyleTest.kt
  typescript/scripts/generate-services.ts
  typescript/tests/generator/pagination-style.test.ts
Due: typescript-lint, typescript-typecheck

Assert the refusal message, not just the exception type
  kotlin/generator/src/test/kotlin/com/basecamp/sdk/generator/PaginationStyleTest.kt
Due: none

Close the malformed-trait pass in the two generators that still had it (#910)
  kotlin/generator/src/main/kotlin/com/basecamp/sdk/generator/OperationParser.kt
  kotlin/generator/src/test/kotlin/com/basecamp/sdk/generator/PaginationStyleTest.kt
  typescript/scripts/generate-services.ts
  typescript/tests/generator/pagination-style.test.ts
Due: typescript-lint, typescript-typecheck

feat(event-feed): split the poll lanes' 410s and give their 400 a reason
  SPEC.md
  conformance/tests/event_feed.json
  go/pkg/basecamp/event_feed.go
  go/pkg/basecamp/event_feed_test.go
  go/pkg/generated/client.gen.go
  openapi.json
  python/src/basecamp/generated/services/event_feed.py
  python/src/basecamp/generated/types.py
  ruby/lib/basecamp/generated/metadata.json
  ruby/lib/basecamp/generated/types.rb
  rust/basecamp-sdk/src/generated/services/event_feed.rs
  rust/basecamp-sdk/src/generated/types.rs
  spec/api-gaps/event-feed.md
  spec/basecamp.smithy
  typescript/src/generated/metadata.ts
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/schema.d.ts
Due: go-test-short, typescript-lint, typescript-typecheck

test(python): say what the cross-SDK divergence is, and which suite each count is
  python/tests/test_errors.py
Due: none

fix(event-feed): type a feed 410 only when its required epoch is present
  SPEC.md
  go/pkg/basecamp/event_feed.go
  go/pkg/basecamp/event_feed_test.go
Due: go-test-short

test(python): close four holes an adversarial pass walked through
  MIGRATING.md
  python/tests/test_errors.py
Due: none

test(python): close the second round of holes, and split the divergence note by family
  python/tests/test_errors.py
Due: none

Event feed: split the poll lanes' 410s and give their 400 a reason (#912)
  SPEC.md
  conformance/tests/event_feed.json
  go/pkg/basecamp/event_feed.go
  go/pkg/basecamp/event_feed_test.go
  go/pkg/generated/client.gen.go
  openapi.json
  python/src/basecamp/generated/services/event_feed.py
  python/src/basecamp/generated/types.py
  ruby/lib/basecamp/generated/metadata.json
  ruby/lib/basecamp/generated/types.rb
  rust/basecamp-sdk/src/generated/services/event_feed.rs
  rust/basecamp-sdk/src/generated/types.rs
  spec/api-gaps/event-feed.md
  spec/basecamp.smithy
  typescript/src/generated/metadata.ts
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/schema.d.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Say the feed pages by cursor, now that the trait can say it
  SPEC.md
  behavior-model.json
  openapi.json
  python/src/basecamp/generated/services/event_feed.py
  ruby/lib/basecamp/generated/metadata.json
  ruby/lib/basecamp/generated/types.rb
  rust/basecamp-sdk/src/generated/routes.rs
  rust/basecamp-sdk/src/generated/services/event_feed.rs
  rust/basecamp-sdk/tests/guarantees.rs
  spec/basecamp.smithy
  typescript/src/generated/metadata.ts
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/schema.d.ts
  typescript/tests/services/event-feed.test.ts
Due: typescript-lint, typescript-typecheck

Type every field of a nested identity, not only the ones the projection reads
  SPEC.md
  conformance/tests/recording_summary.json
  kotlin/conformance/src/main/kotlin/com/basecamp/sdk/conformance/Main.kt
  ruby/lib/basecamp/services/recordings_extensions.rb
  ruby/test/basecamp/services/recordings_summarize_test.rb
  spec/zero-skip-roster.yml
  typescript/src/services/recordings-extensions.ts
  typescript/tests/services/recordings-summarize.test.ts
Due: typescript-lint, typescript-typecheck

Event feed: the inbox lane's store key, present-null transport keys, and lane-conditioned fixtures
  SPEC.md
  conformance/event-feed/fixtures/33-inbox-gap-410-retention-resume.json
  conformance/event-feed/schema.json
  go/pkg/basecamp/eventfeed/cable.go
  go/pkg/basecamp/eventfeed/cable_test.go
  go/pkg/basecamp/eventfeed/connector.go
  go/pkg/basecamp/eventfeed/filestore.go
  go/pkg/basecamp/eventfeed/filestore_test.go
  go/pkg/basecamp/eventfeed/scenario_conformance_test.go
  go/pkg/basecamp/eventfeed/scenario_fixture_test.go
Due: go-test-short

Parameterize the connector seam contract by lane and key checkpoints by five
  SPEC.md
  conformance/event-feed/README.md
  conformance/event-feed/schema.json
  go/README.md
  go/pkg/basecamp/eventfeed/checkpoint.go
  go/pkg/basecamp/eventfeed/filestore.go
Due: go-test-short

Event feed: the inbox walk follows a continuation, overflow names addressing ids, and an item's polled event is the poll row
  conformance/event-feed/README.md
  conformance/event-feed/fixtures/32-inbox-lane-dedupes-by-addressing-id.json
  conformance/event-feed/schema.json
  go/pkg/basecamp/eventfeed/inbox_test.go
  go/pkg/basecamp/eventfeed/scenario_conformance_test.go
  go/pkg/basecamp/eventfeed/scenario_fixture_test.go
  go/pkg/basecamp/eventfeed/seams.go
Due: go-test-short

Event feed: the overflow and dedupe contracts name the lane's identity, not event ids
  conformance/event-feed/README.md
  go/pkg/basecamp/eventfeed/dedupe.go
  go/pkg/basecamp/eventfeed/seams.go
Due: go-test-short

Event feed: the inbox lane
  SPEC.md
  conformance/event-feed/README.md
  conformance/event-feed/fixtures/32-inbox-lane-dedupes-by-addressing-id.json
  conformance/event-feed/fixtures/33-inbox-gap-410-retention-resume.json
  conformance/event-feed/schema.json
  go/README.md
  go/pkg/basecamp/eventfeed/cable.go
  go/pkg/basecamp/eventfeed/cable_test.go
  go/pkg/basecamp/eventfeed/catchup.go
  go/pkg/basecamp/eventfeed/checkpoint.go
  go/pkg/basecamp/eventfeed/connector.go
  go/pkg/basecamp/eventfeed/doc.go
  go/pkg/basecamp/eventfeed/event.go
  go/pkg/basecamp/eventfeed/export_test.go
  go/pkg/basecamp/eventfeed/filters.go
  go/pkg/basecamp/eventfeed/inbox_test.go
  go/pkg/basecamp/eventfeed/loop.go
  go/pkg/basecamp/eventfeed/recovery.go
  go/pkg/basecamp/eventfeed/scenario_conformance_test.go
  go/pkg/basecamp/eventfeed/scenario_fixture_test.go
  go/pkg/basecamp/eventfeed/scenario_harness_test.go
Due: go-test-short

Event feed: timestamps validate as instants, the store admits two lane names, and the seam docs follow the lane
  conformance/event-feed/README.md
  conformance/event-feed/fixtures/32-inbox-lane-dedupes-by-addressing-id.json
  conformance/event-feed/schema.json
  go/pkg/basecamp/eventfeed/checkpoint.go
  go/pkg/basecamp/eventfeed/doc.go
  go/pkg/basecamp/eventfeed/filestore.go
  go/pkg/basecamp/eventfeed/filestore_test.go
  go/pkg/basecamp/eventfeed/seams.go
Due: go-test-short

Event feed: a live inbox item's event is push-shaped, and a continuation continues the lane's operation
  conformance/event-feed/schema.json
  go/pkg/basecamp/eventfeed/scenario_fixture_test.go
Due: go-test-short

Event feed: subscribe expectations bind to the lane, actor_type is the server's vocabulary on the wire too, and the decoded addressed_at is asserted
  conformance/event-feed/schema.json
  go/pkg/basecamp/eventfeed/cable_test.go
Due: go-test-short

Event feed: the inbox's 410 carries no epoch, and the connector says so
  SPEC.md
  conformance/event-feed/fixtures/33-inbox-gap-410-retention-resume.json
  conformance/event-feed/schema.json
  go/README.md
  go/pkg/basecamp/eventfeed/inbox_test.go
  go/pkg/basecamp/eventfeed/recovery.go
  go/pkg/basecamp/eventfeed/seams.go
Due: go-test-short

Event feed: bind the tier-2 shapes to the lane, and let reasons be the server's vocabulary
  conformance/event-feed/schema.json
  go/pkg/basecamp/eventfeed/connector.go
  go/pkg/basecamp/eventfeed/scenario_conformance_test.go
  go/pkg/basecamp/eventfeed/scenario_harness_test.go
Due: go-test-short

Event feed: the inbox unit test serves its page in strict addressing-id order
  go/pkg/basecamp/eventfeed/inbox_test.go
Due: go-test-short

Event feed: the inbox decoder test asserts the visibility value it was handed
  go/pkg/basecamp/eventfeed/cable_test.go
Due: go-test-short

Event feed: the seam contract keys the poll 400 by its reason and names the two 410 shapes
  SPEC.md
  go/pkg/basecamp/eventfeed/seams.go
Due: go-test-short

Type every field of a nested identity, not only the ones the projection reads (#911)
  SPEC.md
  conformance/tests/recording_summary.json
  kotlin/conformance/src/main/kotlin/com/basecamp/sdk/conformance/Main.kt
  ruby/lib/basecamp/services/recordings_extensions.rb
  ruby/test/basecamp/services/recordings_summarize_test.rb
  spec/zero-skip-roster.yml
  typescript/src/services/recordings-extensions.ts
  typescript/tests/services/recordings-summarize.test.ts
Due: typescript-lint, typescript-typecheck

test(python): check the base constructor, attribute hooks and helper reads; record the limits
  python/tests/test_errors.py
Due: none

Give the inbox the cursor tripwire the feed already had
  SPEC.md
  conformance/tests/event_feed.json
  spec/basecamp-traits.smithy
  typescript/tests/services/event-feed.test.ts
Due: typescript-lint, typescript-typecheck

Path conditions:
  go-test-short: any of: \.go$
  typescript-lint: any of: ^typescript/.*\.(ts|tsx)$
  typescript-typecheck: any of: ^typescript/.*\.(ts|tsx)$
