Repository basecamp/basecamp-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-test-short, typescript-lint, typescript-typecheck

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
      - id: detect-private-key
      - id: check-case-conflict

  - repo: https://github.com/golangci/golangci-lint
    rev: v1.62.2
    hooks:
      - id: golangci-lint
        args: [--timeout=5m, --config=go/.golangci.yml]
        files: ^go/

  - repo: https://github.com/tekwizely/pre-commit-golang
    rev: v1.0.0-rc.1
    hooks:
      - id: go-fmt
        files: ^go/
      - id: go-vet
        files: ^go/
      - id: go-mod-tidy
        files: ^go/

  - repo: local
    hooks:
      - id: go-test-short
        name: go test -short
        entry: bash -c 'cd go && go test -short ./...'
        language: system
        pass_filenames: false
        types: [go]
        stages: [push]

      - id: typescript-lint
        name: typescript lint
        entry: bash -c 'cd typescript && npm run lint --if-present'
        language: system
        pass_filenames: false
        files: ^typescript/.*\.(ts|tsx)$
        stages: [commit]

      - id: typescript-typecheck
        name: typescript typecheck
        entry: bash -c 'cd typescript && npm run typecheck --if-present'
        language: system
        pass_filenames: false
        files: ^typescript/.*\.(ts|tsx)$
        stages: [push]

Notes added by 'git notes add'
  8e/9ad252fc4b845de29163cb832debabb599e284
Due: none

Notes added by 'git notes add'
  97/fde17ad6fdec089384260d0a6d0fff63354ad2
Due: none

Notes added by 'git notes add'
  b5/02459fe524555420190af5cb12606171a0fd3f
Due: none

Notes added by 'git notes add'
  b1/8e2e65712f3467cff2932a18064566e0c62eb7
Due: none

Notes added by 'git notes add'
  32/945180c0fade623d164e938378543c01307b15
Due: none

Notes added by 'git notes add'
  82/315f8015fab819bdc07355e813978f9cca4411
Due: none

Notes added by 'git notes add'
  bc/a9ae0b0c47b2c97e96508fd3248701f9737809
Due: none

Notes added by 'git notes add'
  c1/d59b73c0ad30eaf26b3a69cf7657cf7cfc62de
Due: none

Notes added by 'git notes add'
  c4/c345d32134b92527c82a0065fe4f552254b766
Due: none

Notes added by 'git notes add'
  70/1a723f2385f5c38a0a8b4be4a39bd40353dd23
Due: none

Notes added by 'git notes add'
  a5/b5f00f59637ee4389c16444023d664accada5f
Due: none

Notes added by 'git notes add'
  1f/497d82deb885403c4e49d00fc752af83313019
Due: none

Notes added by 'git notes add'
  d8/efc22b78968e7d2e4d16286d1cb3a193d93a2f
Due: none

Notes added by 'git notes add'
  a9/659c65de6f29b0917d47bd633cc1abb6cc8792
Due: none

Add Python SDK documentation
  AGENTS.md
  CONTRIBUTING.md
  README.md
  SECURITY.md
  python/README.md
Due: none

Notes added by 'git notes add'
  6c/129744f6794256f98cb0dd3c01f89e647551a8
Due: none

Fix review findings in Python SDK documentation
  AGENTS.md
  CONTRIBUTING.md
  SECURITY.md
  python/README.md
Due: none

Notes added by 'git notes add'
  35/3e249db8086f6ec8d6d22939b1a1fecdde3a7a
Due: none

Notes added by 'git notes add'
  f2/090498efa3360e8340dd18ada0067921b808a2
Due: none

Address second round of review findings
  README.md
  python/README.md
Due: none

Notes added by 'git notes add'
  cf/bb957920bd1c44119492241a34f5c63242f405
Due: none

Fix OAuthTokenProvider arg order to match signature
  python/README.md
Due: none

Notes added by 'git notes add'
  b5/95e1b7a09c86eb4265a58fe06c2d828704221b
Due: none

Notes added by 'git notes add'
  6b/b3cfa122a6fa7488a26b1a412e5eb41941d5ab
Due: none

Clarify BASECAMP_MAX_RETRIES env var description
  python/README.md
Due: none

Fix PR review issues: spec types, CRLF sanitization, missing params
  go/pkg/basecamp/account_service.go
  go/pkg/basecamp/client_approvals.go
  go/pkg/basecamp/client_correspondences.go
  go/pkg/basecamp/forwards.go
  go/pkg/basecamp/gauges.go
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/services/AccountLogoUpload.kt
  ruby/lib/basecamp/client.rb
  spec/basecamp.smithy
Due: go-test-short

Add UpdateAccountLogo to Smithy spec with multipart/form-data pipeline support
  openapi.json
  spec/basecamp-traits.smithy
  spec/basecamp.smithy
  spec/overlays/tags.smithy
  spec/smithy-bare-arrays/src/main/java/com/basecamp/smithy/BareArrayExtension.java
  spec/smithy-bare-arrays/src/main/java/com/basecamp/smithy/MultipartRequestBodyMapper.java
Due: none

Fix Kotlin updateAccountLogo: return Unit for 204 No Content response
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/services/AccountLogoUpload.kt
Due: none

Add sort/direction to campfire lines/uploads (#284), expose Reposition parentID (#337)
  go/pkg/basecamp/campfires.go
  go/pkg/basecamp/todos.go
  go/pkg/generated/client.gen.go
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/Types.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/campfires.kt
  openapi.json
  ruby/lib/basecamp/generated/services/campfires_service.rb
  spec/basecamp.smithy
  typescript/src/generated/metadata.json
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/schema.d.ts
  typescript/src/generated/services/campfires.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Fix incomplete string escaping in Ruby multipart filename
  ruby/lib/basecamp/client.rb
Due: none

Fix CI: remove duplicate UpdateMyProfile from spec, rubocop style, regen Kotlin metadata
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/Metadata.kt
  ruby/lib/basecamp/client.rb
  spec/basecamp.smithy
Due: none

Add request-shape tests and update docs for breaking changes
  go/README.md
  go/pkg/basecamp/campfires_test.go
  go/pkg/basecamp/todos_test.go
Due: go-test-short

Fix CI: remove stale TS interface, rubocop lint, preserve requestBody metadata
  behavior-model.json
  go.work.sum
  openapi.json
  ruby/lib/basecamp/client.rb
  ruby/lib/basecamp/generated/services/people_service.rb
  spec/smithy-bare-arrays/src/main/java/com/basecamp/smithy/MultipartRequestBodyMapper.java
  typescript/src/client.ts
Due: typescript-lint, typescript-typecheck

Generate UpdateAccountLogo in Kotlin via multipart pipeline
  kotlin/generator/src/main/kotlin/com/basecamp/sdk/generator/OperationParser.kt
  kotlin/generator/src/main/kotlin/com/basecamp/sdk/generator/ServiceEmitter.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/Metadata.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/account.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/services/AccountLogoUpload.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/services/BaseService.kt
Due: none

Fix review findings: Ruby encoding bug, Go filename sanitization, spec dedup
  go/pkg/basecamp/account_service.go
  openapi.json
  ruby/lib/basecamp/client.rb
  spec/basecamp.smithy
  spec/overlays/tags.smithy
  typescript/src/generated/metadata.json
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/schema.d.ts
  typescript/src/generated/services/people.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Fix Account struct timestamps and UpdateLogo body read limits
  go/pkg/basecamp/account_service.go
Due: go-test-short

Generate UpdateAccountLogo in TypeScript via multipart pipeline
  typescript/scripts/generate-services.ts
  typescript/src/client.ts
  typescript/src/generated/metadata.json
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/path-mapping.ts
  typescript/src/generated/schema.d.ts
  typescript/src/generated/services/account.ts
  typescript/src/services/base.ts
  typescript/tests/account-logo.test.ts
Due: typescript-lint, typescript-typecheck

Delegate Go UpdateLogo to generated client, drop manual HTTP/retry
  go/pkg/basecamp/account_service.go
  go/pkg/generated/client.gen.go
  go/templates/imports.tmpl
Due: go-test-short

Fix code review issues: multipart model, SDK accessors, idempotency
  go/pkg/basecamp/account_service.go
  go/pkg/basecamp/client.go
  go/pkg/basecamp/gauges.go
  go/pkg/basecamp/my_assignments.go
  go/pkg/basecamp/my_notifications.go
  go/pkg/basecamp/people.go
  go/pkg/generated/client.gen.go
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/Types.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/account.kt
  openapi.json
  ruby/lib/basecamp/client.rb
  ruby/lib/basecamp/generated/metadata.json
  ruby/lib/basecamp/generated/services/account_service.rb
  ruby/lib/basecamp/generated/types.rb
  spec/basecamp.smithy
  typescript/src/client.ts
  typescript/src/generated/metadata.json
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/schema.d.ts
  typescript/src/generated/services/account.ts
  typescript/src/index.ts
Due: go-test-short, typescript-lint, typescript-typecheck
