Repository basecamp/basecamp-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-test-short, typescript-lint, typescript-typecheck

go-test-short:
  name: go test -short
  entry: bash -c 'cd go && go test -short ./...'
  language: system
  pass_filenames: false
  stages:
  - push

typescript-lint:
  name: typescript lint
  entry: bash -c 'cd typescript && npm run lint --if-present'
  language: system
  pass_filenames: false
  stages:
  - commit

typescript-typecheck:
  name: typescript typecheck
  entry: bash -c 'cd typescript && npm run typecheck --if-present'
  language: system
  pass_filenames: false
  stages:
  - push

feat(ruby): port RecordingsSummarize and CommentsCreateWithMentions
  SPEC.md
  conformance/runner/ruby/runner.rb
  ruby/lib/basecamp.rb
  ruby/lib/basecamp/bucket_mismatch_error.rb
  ruby/lib/basecamp/campfire_discovery_incomplete_error.rb
  ruby/lib/basecamp/campfire_index.rb
  ruby/lib/basecamp/client.rb
  ruby/lib/basecamp/mentions.rb
  ruby/lib/basecamp/recording_routing_error.rb
  ruby/lib/basecamp/recording_summary_error.rb
  ruby/lib/basecamp/services/comments_extensions.rb
  ruby/lib/basecamp/services/recordings_extensions.rb
  ruby/lib/basecamp/unresolved_recording_error.rb
  ruby/test/basecamp/accessor_inventory_test.rb
  ruby/test/basecamp/campfire_index_test.rb
  ruby/test/basecamp/mentions_test.rb
  ruby/test/basecamp/services/comments_mentions_test.rb
  ruby/test/basecamp/services/recordings_summarize_test.rb
  ruby/test/basecamp/zeitwerk_test.rb
  spec/zero-skip-roster.yml
Due: none

test(ruby): pin the discovery failures the reference has tests for and this did not
  ruby/test/basecamp/services/recordings_summarize_test.rb
Due: none

fix(ruby): read a chat line's type off the projection, and stop building a bignum
  SPEC.md
  ruby/lib/basecamp/mentions.rb
  ruby/lib/basecamp/services/recordings_extensions.rb
  ruby/test/basecamp/mentions_test.rb
  ruby/test/basecamp/services/recordings_summarize_test.rb
Due: none

fix(ruby): match the reference character-reference scanner, measured not reasoned
  ruby/lib/basecamp/mentions.rb
  ruby/test/basecamp/mentions_test.rb
Due: none

fix(ruby): harden the composite against malformed members and races
  ruby/lib/basecamp/mentions.rb
  ruby/lib/basecamp/services/recordings_extensions.rb
  ruby/test/basecamp/campfire_index_test.rb
Due: none

fix(ruby): close the character-reference table against the reference's own
  ruby/lib/basecamp/mentions.rb
  ruby/test/basecamp/mentions_test.rb
Due: none

fix(ruby): match the reference base64 leniency, and make publication survive interruption
  ruby/lib/basecamp/campfire_index.rb
  ruby/lib/basecamp/mentions.rb
  ruby/test/basecamp/campfire_index_test.rb
  ruby/test/basecamp/mentions_test.rb
Due: none

test(ruby): pin the write-back, and stop the comment claiming more than it knows
  ruby/test/basecamp/services/recordings_summarize_test.rb
Due: none

fix(ruby): clear the code-scanning alerts on the PR
  ruby/lib/basecamp/mentions.rb
  ruby/test/basecamp/services/comments_mentions_test.rb
  ruby/test/basecamp/services/recordings_summarize_test.rb
Due: none

docs(ruby): record where the authority rule was actually measured
  ruby/lib/basecamp/mentions.rb
Due: none

fix(ruby): expand a character reference the way the reference does, not a stand-in
  conformance/runner/ruby/runner.rb
  ruby/lib/basecamp/campfire_index.rb
  ruby/lib/basecamp/ids.rb
  ruby/lib/basecamp/mentions.rb
  ruby/lib/basecamp/services/comments_extensions.rb
  ruby/lib/basecamp/services/recordings_extensions.rb
  ruby/test/basecamp/mentions_test.rb
  ruby/test/basecamp/services/comments_mentions_test.rb
  ruby/test/basecamp/services/recordings_summarize_test.rb
Due: none

fix(ruby): close eight findings from the adversarial review, three of them mine
  ruby/lib/basecamp/campfire_index.rb
  ruby/lib/basecamp/ids.rb
  ruby/lib/basecamp/mentions.rb
  ruby/lib/basecamp/services/comments_extensions.rb
  ruby/lib/basecamp/services/recordings_extensions.rb
  ruby/test/basecamp/campfire_index_test.rb
  ruby/test/basecamp/mentions_test.rb
  ruby/test/basecamp/services/comments_mentions_test.rb
  ruby/test/basecamp/services/recordings_summarize_test.rb
Due: none

fix(ruby): close the one authority this port accepted and Go refuses
  SPEC.md
  ruby/lib/basecamp/http.rb
  ruby/lib/basecamp/mentions.rb
  ruby/lib/basecamp/services/comments_extensions.rb
  ruby/lib/basecamp/services/recordings_extensions.rb
  ruby/test/basecamp/mentions_test.rb
  ruby/test/basecamp/services/comments_mentions_test.rb
  ruby/test/basecamp/services/recordings_summarize_test.rb
Due: none

fix(python): correct a false cross-SDK claim, kill the alias block, pin the taxonomy
  python/src/basecamp/_decoding.py
  python/src/basecamp/services/_campfire_index.py
  python/src/basecamp/services/recordings.py
  python/tests/test_null_list_body.py
Due: none

Let people templatify an existing to-do list or card table
  SECURITY.md
  SPEC.md
  behavior-model.json
  conformance/runner/go/main.go
  conformance/runner/python/runner.py
  conformance/runner/ruby/runner.rb
  conformance/runner/rust/src/operations.rs
  conformance/runner/swift/Sources/ConformanceRunner/Dispatch.swift
  conformance/runner/typescript/runner.test.ts
  conformance/tests/templatifications.json
  go/grouped-client-inventory.yml
  go/pkg/basecamp/templates.go
  go/pkg/generated/client.gen.go
  go/templates/client.tmpl
  kotlin/conformance/src/main/kotlin/com/basecamp/sdk/conformance/Main.kt
  kotlin/generator/src/main/kotlin/com/basecamp/sdk/generator/Config.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/models/Templatification.kt
  openapi.json
  python/scripts/generate_services.py
  python/src/basecamp/generated/metadata.json
  python/src/basecamp/generated/services/templates.py
  python/src/basecamp/generated/types.py
  python/tests/services/test_templates_service.py
  ruby/scripts/generate-services.rb
  ruby/test/basecamp/services/templates_service_test.rb
  rust/basecamp-sdk/tests/guarantees.rs
  rust/generator/names.toml
  scripts/check-idempotency-parity
  spec/basecamp.smithy
  spec/overlays/tags.smithy
  swift/Sources/BasecampGenerator/MethodNaming.swift
  swift/Sources/BasecampGenerator/ServiceGrouper.swift
  typescript/scripts/generate-services.ts
  typescript/tests/services/templates.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Write down the four Basecamp endpoints this SDK cannot reach yet
  spec/api-gaps/account-enrollments.md
  spec/api-gaps/recording-backlinks.md
  spec/api-gaps/recording-generic-show.md
  spec/api-gaps/subtasks-canonical-rename.md
Due: none

Fold a long path parameter's documentation instead of emitting it as code
  ruby/scripts/generate-services.rb
Due: none

Write down what upgrading to the template library changes
  MIGRATING.md
  spec/api-gaps/README.md
  spec/api-gaps/template-library-card-tables.md
Due: none

Recognize the per-kind template library routes Basecamp now documents
  COORDINATION.md
  SPEC.md
  go/pkg/basecamp/api-provenance.json
  go/pkg/basecamp/version.go
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/BasecampConfig.kt
  openapi.json
  python/src/basecamp/_version.py
  ruby/lib/basecamp/generated/metadata.json
  ruby/lib/basecamp/generated/types.rb
  ruby/lib/basecamp/version.rb
  rust/basecamp-sdk/src/generated/mod.rs
  spec/api-gaps/README.md
  spec/api-provenance.json
  spec/basecamp.smithy
  spec/bc3-route-allowlist.yml
  spec/bc3-routes.json
  swift/Sources/Basecamp/BasecampConfig.swift
  typescript/src/client.ts
  typescript/src/generated/metadata.ts
  typescript/src/generated/openapi-stripped.json
Due: go-test-short, typescript-lint, typescript-typecheck

Model the card table fields Basecamp already sends
  go/pkg/basecamp/cards.go
  go/pkg/generated/client.gen.go
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/models/CardTable.kt
  openapi.json
  python/src/basecamp/generated/types.py
  ruby/lib/basecamp/generated/metadata.json
  ruby/lib/basecamp/generated/types.rb
  rust/basecamp-sdk/src/generated/types.rs
  spec/basecamp.smithy
  swift/Sources/Basecamp/Generated/Models/CardTable.swift
  typescript/src/generated/metadata.ts
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/schema.d.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Ruby can't summarize a recording or mention anyone (#885)
  SPEC.md
  conformance/runner/ruby/runner.rb
  ruby/lib/basecamp.rb
  ruby/lib/basecamp/bucket_mismatch_error.rb
  ruby/lib/basecamp/campfire_discovery_incomplete_error.rb
  ruby/lib/basecamp/campfire_index.rb
  ruby/lib/basecamp/client.rb
  ruby/lib/basecamp/http.rb
  ruby/lib/basecamp/ids.rb
  ruby/lib/basecamp/mentions.rb
  ruby/lib/basecamp/recording_routing_error.rb
  ruby/lib/basecamp/recording_summary_error.rb
  ruby/lib/basecamp/services/comments_extensions.rb
  ruby/lib/basecamp/services/recordings_extensions.rb
  ruby/lib/basecamp/text.rb
  ruby/lib/basecamp/unresolved_recording_error.rb
  ruby/test/basecamp/accessor_inventory_test.rb
  ruby/test/basecamp/campfire_index_test.rb
  ruby/test/basecamp/ids_test.rb
  ruby/test/basecamp/mentions_test.rb
  ruby/test/basecamp/normalize_person_ids_test.rb
  ruby/test/basecamp/pagination_meta_test.rb
  ruby/test/basecamp/services/comments_mentions_test.rb
  ruby/test/basecamp/services/recordings_summarize_test.rb
  ruby/test/basecamp/text_test.rb
  ruby/test/basecamp/zeitwerk_test.rb
  spec/zero-skip-roster.yml
Due: none

Carry Go's whole entity table, keep the BOM, and route over bytes
  swift/Sources/Basecamp/Mentions.swift
  swift/Sources/Basecamp/RecordingsServiceExtensions.swift
  swift/Tests/BasecampTests/MentionsTests.swift
  swift/Tests/BasecampTests/RecordingSummaryTests.swift
Due: none

docs(migrating): the silent half of this break, and two corrections
  MIGRATING.md
  python/tests/test_null_list_body.py
Due: none

docs(migrating): name the SHA the before-state was measured against
  MIGRATING.md
Due: none

Carry the byte-order mark past the parser instead of through it
  swift/Sources/Basecamp/Mentions.swift
  swift/Tests/BasecampTests/MentionsTests.swift
Due: none

docs(migrating): the note described 9 operations and the break reaches 69
  MIGRATING.md
  python/tests/test_null_list_body.py
Due: none

docs(migrating): generate the before/after tables instead of typing them
  MIGRATING.md
  python/scripts/measure_list_body_migration.py
Due: none

Terminate the entity rows with a byte no expansion contains
  swift/Sources/Basecamp/Mentions.swift
  swift/Sources/Basecamp/RecordingsServiceExtensions.swift
  swift/Tests/BasecampTests/MentionsTests.swift
  swift/Tests/BasecampTests/RecordingSummaryTests.swift
Due: none

docs(migrating): bind the note to the behaviour with --check, and fix what that caught
  MIGRATING.md
  python/scripts/measure_list_body_migration.py
Due: none

fix(scripts): the measurement harness was not isolated, it only looked it
  python/scripts/measure_list_body_migration.py
Due: none

chore(scripts): drop the import the git-archive rewrite orphaned
  python/scripts/measure_list_body_migration.py
Due: none

Assert the Foundation behaviours this port depends on
  swift/Sources/Basecamp/RecordingsServiceExtensions.swift
  swift/Tests/BasecampTests/MentionsTests.swift
Due: none

Check the whole entity table against a number that came from Go
  swift/Sources/Basecamp/Mentions.swift
  swift/Tests/BasecampTests/MentionsTests.swift
Due: none

Event feed: one observer-safe URL redactor
  go/pkg/basecamp/eventfeed/redact.go
  go/pkg/basecamp/eventfeed/redact_test.go
Due: go-test-short

Event feed: the checkpoint store reads a bounded regular file, under one lock
  go/pkg/basecamp/eventfeed/filestore.go
  go/pkg/basecamp/eventfeed/filestore_test.go
Due: go-test-short

Event feed: the cable dial takes no credential it was not given
  go/pkg/basecamp/eventfeed/transport.go
  go/pkg/basecamp/eventfeed/transport_test.go
  go/pkg/basecamp/eventfeed/websocket_transport.go
  go/pkg/basecamp/eventfeed/websocket_transport_test.go
Due: go-test-short

Event feed connector: foundations
  AGENTS.md
  go/go.mod
  go/go.sum
  go/pkg/basecamp/eventfeed/backoff.go
  go/pkg/basecamp/eventfeed/backoff_test.go
  go/pkg/basecamp/eventfeed/cable.go
  go/pkg/basecamp/eventfeed/cable_test.go
  go/pkg/basecamp/eventfeed/checkpoint.go
  go/pkg/basecamp/eventfeed/clock.go
  go/pkg/basecamp/eventfeed/clock_test.go
  go/pkg/basecamp/eventfeed/continuation.go
  go/pkg/basecamp/eventfeed/continuation_test.go
  go/pkg/basecamp/eventfeed/dedupe.go
  go/pkg/basecamp/eventfeed/dedupe_test.go
  go/pkg/basecamp/eventfeed/digest.go
  go/pkg/basecamp/eventfeed/digest_test.go
  go/pkg/basecamp/eventfeed/doc.go
  go/pkg/basecamp/eventfeed/errors.go
  go/pkg/basecamp/eventfeed/errors_test.go
  go/pkg/basecamp/eventfeed/event.go
  go/pkg/basecamp/eventfeed/event_test.go
  go/pkg/basecamp/eventfeed/feedtest/clock.go
  go/pkg/basecamp/eventfeed/feedtest/clock_test.go
  go/pkg/basecamp/eventfeed/feedtest/minter.go
  go/pkg/basecamp/eventfeed/feedtest/minter_test.go
  go/pkg/basecamp/eventfeed/feedtest/polls.go
  go/pkg/basecamp/eventfeed/feedtest/polls_test.go
  go/pkg/basecamp/eventfeed/feedtest/store.go
  go/pkg/basecamp/eventfeed/feedtest/transport.go
  go/pkg/basecamp/eventfeed/feedtest/transport_test.go
  go/pkg/basecamp/eventfeed/filestore.go
  go/pkg/basecamp/eventfeed/filestore_test.go
  go/pkg/basecamp/eventfeed/filters.go
  go/pkg/basecamp/eventfeed/filters_test.go
  go/pkg/basecamp/eventfeed/seams.go
  go/pkg/basecamp/eventfeed/transport.go
  go/pkg/basecamp/eventfeed/transport_contract_test.go
  go/pkg/basecamp/eventfeed/transport_test.go
  go/pkg/basecamp/eventfeed/websocket_transport.go
  go/pkg/basecamp/eventfeed/websocket_transport_test.go
Due: go-test-short

Event feed: a suppressed duplicate is not a delivery
  go/pkg/basecamp/eventfeed/dedupe.go
  go/pkg/basecamp/eventfeed/dedupe_test.go
Due: go-test-short

Event feed: the store's corruption gate keeps its whole promise
  go/pkg/basecamp/eventfeed/filestore.go
  go/pkg/basecamp/eventfeed/filestore_test.go
Due: go-test-short

Path conditions:
  go-test-short: any of: \.go$
  typescript-lint: any of: ^typescript/.*\.(ts|tsx)$
  typescript-typecheck: any of: ^typescript/.*\.(ts|tsx)$
