Repository basecamp/basecamp-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-test-short, typescript-lint, typescript-typecheck

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
      - id: detect-private-key
      - id: check-case-conflict

  - repo: https://github.com/golangci/golangci-lint
    rev: v1.62.2
    hooks:
      - id: golangci-lint
        args: [--timeout=5m, --config=go/.golangci.yml]
        files: ^go/

  - repo: https://github.com/tekwizely/pre-commit-golang
    rev: v1.0.0-rc.1
    hooks:
      - id: go-fmt
        files: ^go/
      - id: go-vet
        files: ^go/
      - id: go-mod-tidy
        files: ^go/

  - repo: local
    hooks:
      - id: go-test-short
        name: go test -short
        entry: bash -c 'cd go && go test -short ./...'
        language: system
        pass_filenames: false
        types: [go]
        stages: [push]

      - id: typescript-lint
        name: typescript lint
        entry: bash -c 'cd typescript && npm run lint --if-present'
        language: system
        pass_filenames: false
        files: ^typescript/.*\.(ts|tsx)$
        stages: [commit]

      - id: typescript-typecheck
        name: typescript typecheck
        entry: bash -c 'cd typescript && npm run typecheck --if-present'
        language: system
        pass_filenames: false
        files: ^typescript/.*\.(ts|tsx)$
        stages: [push]

BC5 fixtures speak ISO 8601; integer epoch stays covered as compat
  go/pkg/basecamp/authorization_test.go
  ruby/lib/basecamp/services/authorization_service.rb
  ruby/test/basecamp/services/authorization_service_test.rb
  ruby/test/test_helper.rb
  typescript/src/oauth/authorization-document.ts
  typescript/tests/services/authorization.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Close the authorization-document brief as covered-outside-spec (#707)
  scripts/validate-api-gaps.rb
  spec/api-gaps/README.md
  spec/api-gaps/bc5-authorization-document-shape.md
  spec/api-gaps/schema.json
Due: none

Sweep the two comment stragglers review caught
  ruby/test/basecamp/services/authorization_service_test.rb
  typescript/src/oauth/authorization-document.ts
Due: typescript-lint, typescript-typecheck

FlexTime GoDoc: RFC 3339 is both issuers' spelling; integer is compat
  go/pkg/basecamp/authorization.go
Due: go-test-short

Finish the staleness sweep: 0-sentinel comments to past tense
  go/pkg/basecamp/authorization.go
  go/pkg/basecamp/authorization_test.go
  typescript/src/oauth/authorization-document.ts
Due: go-test-short, typescript-lint, typescript-typecheck

expires_at joins the common-field list it belongs to
  ruby/lib/basecamp/services/authorization_service.rb
Due: none

BC5 fixtures speak ISO 8601; integer epoch stays covered as compat (#709)
  go/pkg/basecamp/authorization.go
  go/pkg/basecamp/authorization_test.go
  ruby/lib/basecamp/services/authorization_service.rb
  ruby/test/basecamp/services/authorization_service_test.rb
  ruby/test/test_helper.rb
  typescript/src/oauth/authorization-document.ts
  typescript/tests/services/authorization.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Recover the full compare file list past GitHub's 300-file cap
  scripts/report-bc3-drift.sh
Due: none

Register the Subtask canonical rename and refresh adjacent triage records
  spec/api-gaps/README.md
  spec/api-gaps/notifications-sort-pings-first.md
  spec/api-gaps/recordable-subtypes-doc.md
  spec/api-gaps/step-top-level.md
  spec/api-gaps/subtasks-canonical-rename.md
  spec/bc3-route-allowlist.yml
Due: none

Keep tracked files out of the Go clean target
  Makefile
  go/Makefile
Due: none

Pin Ruby fixture and JSON reads to UTF-8 regardless of locale
  .github/workflows/test.yml
  conformance/runner/ruby/replay-runner.rb
  conformance/runner/ruby/replay_runner_test.rb
  conformance/runner/ruby/runner.rb
  ruby/lib/basecamp/config.rb
  ruby/lib/basecamp/http.rb
  ruby/test/basecamp/oauth_resource_discovery_test.rb
  ruby/test/basecamp/oauth_token_conformance_test.rb
  ruby/test/basecamp/services/webhooks_service_test.rb
  ruby/test/basecamp/webhooks/event_test.rb
  ruby/test/basecamp/webhooks/receiver_test.rb
Due: none

Reword the §18 WithBody carve-out to name what is inexpressible (#653)
  AGENTS.md
  SPEC.md
Due: none

Build ProjectsService.Update's body with the generated request type (#653)
  go/pkg/basecamp/projects.go
  go/pkg/basecamp/projects_test.go
Due: go-test-short

Repin to 71b43f3d9fa and regenerate; the range absorbs no operations
  COORDINATION.md
  SPEC.md
  go/pkg/basecamp/api-provenance.json
  go/pkg/basecamp/version.go
  go/pkg/generated/client.gen.go
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/BasecampConfig.kt
  openapi.json
  python/src/basecamp/_version.py
  ruby/lib/basecamp/generated/metadata.json
  ruby/lib/basecamp/generated/types.rb
  ruby/lib/basecamp/version.rb
  spec/api-gaps/README.md
  spec/api-gaps/notifications-sort-pings-first.md
  spec/api-provenance.json
  spec/basecamp.smithy
  spec/bc3-routes.json
  spec/doc-constants.json
  swift/Sources/Basecamp/BasecampConfig.swift
  typescript/src/client.ts
  typescript/src/generated/metadata.ts
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/schema.d.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Floor the Kotlin attempt budget independently of loop shape (#661)
  SPEC.md
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/http/BasecampHttpClient.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/RetryTest.kt
Due: none

Track the conformance runner lockfiles and freeze their installs
  .github/workflows/test.yml
  .gitignore
  Makefile
  conformance/runner/python/uv.lock
  conformance/runner/ruby/Gemfile.lock
  scripts/assert-lockfiles-unchanged
  scripts/bump-version.sh
Due: none

Drop the v0.13.0 breaking-changes column; counts require a rule (#666)
  MIGRATING.md
Due: none

Anchor the raw-diff filename on the block header, not the content lines
  scripts/report-bc3-drift.sh
Due: none

Tighten docstring emission: token-safe wrap, precise max_items, NUL-proof escaping
  python/scripts/gen_common.py
  python/scripts/generate_services.py
  python/src/basecamp/generated/services/bookmarks.py
  python/src/basecamp/generated/services/boosts.py
  python/src/basecamp/generated/services/campfires.py
  python/src/basecamp/generated/services/cards.py
  python/src/basecamp/generated/services/checkins.py
  python/src/basecamp/generated/services/client_approvals.py
  python/src/basecamp/generated/services/client_correspondences.py
  python/src/basecamp/generated/services/client_replies.py
  python/src/basecamp/generated/services/comments.py
  python/src/basecamp/generated/services/documents.py
  python/src/basecamp/generated/services/drafts.py
  python/src/basecamp/generated/services/events.py
  python/src/basecamp/generated/services/everything.py
  python/src/basecamp/generated/services/forwards.py
  python/src/basecamp/generated/services/gauges.py
  python/src/basecamp/generated/services/message_types.py
  python/src/basecamp/generated/services/messages.py
  python/src/basecamp/generated/services/my_notifications.py
  python/src/basecamp/generated/services/people.py
  python/src/basecamp/generated/services/projects.py
  python/src/basecamp/generated/services/recordings.py
  python/src/basecamp/generated/services/reports.py
  python/src/basecamp/generated/services/schedules.py
  python/src/basecamp/generated/services/search.py
  python/src/basecamp/generated/services/templates.py
  python/src/basecamp/generated/services/timeline.py
  python/src/basecamp/generated/services/timesheets.py
  python/src/basecamp/generated/services/todolist_groups.py
  python/src/basecamp/generated/services/todolists.py
  python/src/basecamp/generated/services/todos.py
  python/src/basecamp/generated/services/tools.py
  python/src/basecamp/generated/services/uploads.py
  python/src/basecamp/generated/services/vaults.py
  python/src/basecamp/generated/services/webhooks_service.py
  python/tests/test_generate_docstrings.py
Due: none

Question bodies use the generated types; carve-out drops the dead instance (#653)
  AGENTS.md
  SPEC.md
  go/pkg/basecamp/checkins.go
  go/pkg/basecamp/checkins_test.go
  go/pkg/basecamp/optional_presence_test.go
Due: go-test-short

Update the 503-replay test comment for the generated builder path (#653)
  go/pkg/basecamp/projects_test.go
Due: go-test-short

Recover symmetric header paths by length, not by delimiter search
  scripts/report-bc3-drift.sh
Due: none

Docstring precision: non-positive max_items wording, $ref body descriptions
  python/scripts/generate_services.py
  python/src/basecamp/generated/services/bookmarks.py
  python/src/basecamp/generated/services/boosts.py
  python/src/basecamp/generated/services/calendars.py
  python/src/basecamp/generated/services/campfires.py
  python/src/basecamp/generated/services/cards.py
  python/src/basecamp/generated/services/checkins.py
  python/src/basecamp/generated/services/client_approvals.py
  python/src/basecamp/generated/services/client_correspondences.py
  python/src/basecamp/generated/services/client_replies.py
  python/src/basecamp/generated/services/comments.py
  python/src/basecamp/generated/services/documents.py
  python/src/basecamp/generated/services/drafts.py
  python/src/basecamp/generated/services/events.py
  python/src/basecamp/generated/services/everything.py
  python/src/basecamp/generated/services/forwards.py
  python/src/basecamp/generated/services/gauges.py
  python/src/basecamp/generated/services/message_types.py
  python/src/basecamp/generated/services/messages.py
  python/src/basecamp/generated/services/my_notes.py
  python/src/basecamp/generated/services/my_notifications.py
  python/src/basecamp/generated/services/people.py
  python/src/basecamp/generated/services/projects.py
  python/src/basecamp/generated/services/recordings.py
  python/src/basecamp/generated/services/reports.py
  python/src/basecamp/generated/services/schedules.py
  python/src/basecamp/generated/services/search.py
  python/src/basecamp/generated/services/templates.py
  python/src/basecamp/generated/services/timeline.py
  python/src/basecamp/generated/services/timesheets.py
  python/src/basecamp/generated/services/todolist_groups.py
  python/src/basecamp/generated/services/todolists.py
  python/src/basecamp/generated/services/todos.py
  python/src/basecamp/generated/services/uploads.py
  python/src/basecamp/generated/services/vaults.py
  python/src/basecamp/generated/services/webhooks_service.py
  python/tests/test_generate_docstrings.py
Due: none

Refuse question-schedule ints that do not fit int32 (#653)
  go/pkg/basecamp/checkins.go
  go/pkg/basecamp/checkins_test.go
  go/pkg/basecamp/optional_presence_test.go
Due: go-test-short

Close the raw-diff parser's coverage claim: unquoted parses, quoted refuses
  scripts/report-bc3-drift.sh
Due: none

Quote frontmatter values that a YAML comment would truncate, and gate it
  scripts/validate-api-gaps.rb
  spec/api-gaps/bc5-authorization-document-shape.md
  spec/api-gaps/notifications-sort-pings-first.md
  spec/api-gaps/project-archive-unarchive.md
  spec/api-gaps/subtasks-canonical-rename.md
  spec/api-gaps/upload-new-version.md
Due: none

Close the body-map class: six sites converted, two provably stuck (#653)
  AGENTS.md
  SPEC.md
  go/pkg/basecamp/cards.go
  go/pkg/basecamp/checkins.go
  go/pkg/basecamp/documents.go
  go/pkg/basecamp/people.go
  go/pkg/basecamp/schedules.go
  go/pkg/basecamp/todolist_groups.go
  go/pkg/basecamp/todolists.go
  go/pkg/basecamp/todolists_test.go
  go/pkg/basecamp/todos.go
  go/pkg/basecamp/wire_bodies_test.go
Due: go-test-short

Build hygiene: clean never deletes tracked files, UTF-8-pinned reads, tracked runner lockfiles (#712)
  .github/workflows/test.yml
  .gitignore
  Makefile
  conformance/runner/python/uv.lock
  conformance/runner/ruby/Gemfile.lock
  conformance/runner/ruby/replay-runner.rb
  conformance/runner/ruby/replay_runner_test.rb
  conformance/runner/ruby/runner.rb
  go/Makefile
  ruby/lib/basecamp/config.rb
  ruby/lib/basecamp/http.rb
  ruby/test/basecamp/oauth_resource_discovery_test.rb
  ruby/test/basecamp/oauth_token_conformance_test.rb
  ruby/test/basecamp/services/webhooks_service_test.rb
  ruby/test/basecamp/webhooks/event_test.rb
  ruby/test/basecamp/webhooks/receiver_test.rb
  scripts/assert-lockfiles-unchanged
  scripts/bump-version.sh
Due: none

Round-3 residue: 32-bit-safe test literal, truthful map-body registry (#653)
  go/pkg/basecamp/checkins_test.go
  go/pkg/basecamp/helpers.go
Due: go-test-short

Reject frontmatter values swallowed whole as YAML comments
  scripts/validate-api-gaps.rb
Due: none

Require the raw-diff fallback to recover at least what the JSON proved
  scripts/report-bc3-drift.sh
Due: none

Prove all six SDKs decode a non-admin chatbot, where both URLs are absent
  go/pkg/basecamp/campfires_test.go
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/CampfiresServiceTest.kt
  python/tests/services/test_campfires_service.py
  ruby/test/basecamp/services/campfires_service_test.rb
  spec/fixtures/campfires/chatbot_get_nonadmin.json
  spec/fixtures/manifest.yaml
  swift/Tests/BasecampTests/GeneratedServiceTests.swift
  typescript/tests/services/campfires.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Tier-1 spec debt: §18 carve-out names inexpressibility, Kotlin attempt floor, counted-claims rule (#713)
  AGENTS.md
  MIGRATING.md
  SPEC.md
  go/pkg/basecamp/cards.go
  go/pkg/basecamp/checkins.go
  go/pkg/basecamp/checkins_test.go
  go/pkg/basecamp/documents.go
  go/pkg/basecamp/helpers.go
  go/pkg/basecamp/optional_presence_test.go
  go/pkg/basecamp/people.go
  go/pkg/basecamp/projects.go
  go/pkg/basecamp/projects_test.go
  go/pkg/basecamp/schedules.go
  go/pkg/basecamp/todolist_groups.go
  go/pkg/basecamp/todolists.go
  go/pkg/basecamp/todolists_test.go
  go/pkg/basecamp/todos.go
  go/pkg/basecamp/wire_bodies_test.go
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/http/BasecampHttpClient.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/RetryTest.kt
Due: go-test-short

Use assert_not for the key-absence assertions
  ruby/test/basecamp/services/campfires_service_test.rb
Due: none

Repin bc3 provenance to 71b43f3d9fa (2026-08-11) (#711)
  COORDINATION.md
  SPEC.md
  go/pkg/basecamp/api-provenance.json
  go/pkg/basecamp/campfires_test.go
  go/pkg/basecamp/version.go
  go/pkg/generated/client.gen.go
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/BasecampConfig.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/CampfiresServiceTest.kt
  openapi.json
  python/src/basecamp/_version.py
  python/tests/services/test_campfires_service.py
  ruby/lib/basecamp/generated/metadata.json
  ruby/lib/basecamp/generated/types.rb
  ruby/lib/basecamp/version.rb
  ruby/test/basecamp/services/campfires_service_test.rb
  scripts/report-bc3-drift.sh
  scripts/validate-api-gaps.rb
  spec/api-gaps/README.md
  spec/api-gaps/bc5-authorization-document-shape.md
  spec/api-gaps/notifications-sort-pings-first.md
  spec/api-gaps/project-archive-unarchive.md
  spec/api-gaps/recordable-subtypes-doc.md
  spec/api-gaps/step-top-level.md
  spec/api-gaps/subtasks-canonical-rename.md
  spec/api-gaps/upload-new-version.md
  spec/api-provenance.json
  spec/basecamp.smithy
  spec/bc3-route-allowlist.yml
  spec/bc3-routes.json
  spec/doc-constants.json
  spec/fixtures/campfires/chatbot_get_nonadmin.json
  spec/fixtures/manifest.yaml
  swift/Sources/Basecamp/BasecampConfig.swift
  swift/Tests/BasecampTests/GeneratedServiceTests.swift
  typescript/src/client.ts
  typescript/src/generated/metadata.ts
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/schema.d.ts
  typescript/tests/services/campfires.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Deflake the Ruby proxy deadline tests: assert the cut, not the clock
  ruby/test/basecamp/oauth_transport_test.rb
Due: none

Deflake the TS caller-signal abort test: abort in-handler, no clock
  typescript/tests/client.test.ts
Due: typescript-lint, typescript-typecheck

Widen the cut-queue wait to the hang guard's 15s
  ruby/test/basecamp/oauth_transport_test.rb
Due: none
