Repository basecamp/basecamp-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-test-short, typescript-lint, typescript-typecheck

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
      - id: detect-private-key
      - id: check-case-conflict

  - repo: https://github.com/golangci/golangci-lint
    rev: v1.62.2
    hooks:
      - id: golangci-lint
        args: [--timeout=5m, --config=go/.golangci.yml]
        files: ^go/

  - repo: https://github.com/tekwizely/pre-commit-golang
    rev: v1.0.0-rc.1
    hooks:
      - id: go-fmt
        files: ^go/
      - id: go-vet
        files: ^go/
      - id: go-mod-tidy
        files: ^go/

  - repo: local
    hooks:
      - id: go-test-short
        name: go test -short
        entry: bash -c 'cd go && go test -short ./...'
        language: system
        pass_filenames: false
        types: [go]
        stages: [push]

      - id: typescript-lint
        name: typescript lint
        entry: bash -c 'cd typescript && npm run lint --if-present'
        language: system
        pass_filenames: false
        files: ^typescript/.*\.(ts|tsx)$
        stages: [commit]

      - id: typescript-typecheck
        name: typescript typecheck
        entry: bash -c 'cd typescript && npm run typecheck --if-present'
        language: system
        pass_filenames: false
        files: ^typescript/.*\.(ts|tsx)$
        stages: [push]

A refusal that throws while building its own message names nothing
  kotlin/generator/src/main/kotlin/com/basecamp/sdk/generator/PathItems.kt
  scripts/generate-url-routes
  scripts/test-compiled-generator-refusal
  scripts/test-generator-verb-inversion.rb
Due: none

Re-count the cases, and the mutation totals with them
  scripts/test-generator-verb-inversion.rb
Due: none

Name the validator by the name it has
  kotlin/generator/src/main/kotlin/com/basecamp/sdk/generator/PathItems.kt
  python/scripts/gen_common.py
  ruby/scripts/generate-metadata.rb
  ruby/scripts/generate-services.rb
  rust/generator/src/main.rs
  scripts/test-check-generated-verbs.rb
  scripts/test-compiled-generator-refusal
  scripts/test-generator-verb-inversion.rb
  swift/Sources/BasecampGenerator/PathItems.swift
  typescript/scripts/path-items.ts
Due: typescript-lint, typescript-typecheck

Two refusal cases assert the message, like their neighbours
  scripts/test-generator-verb-inversion.rb
Due: none

Gate the Swift target where HAS_SWIFT exists, and make the header a table
  Makefile
  scripts/test-compiled-generator-refusal
Due: none

One wiring for the Swift refusal gate, not two
  Makefile
Due: none

Take anyio past the TLSStream IDNA 2003 advisory
  python/uv.lock
Due: none

Take anyio past the TLSStream IDNA 2003 advisory (#937)
  python/uv.lock
Due: none

A refusal must not destroy generated output: fixed in Kotlin and TypeScript, swept across the rest (#932)
  .github/workflows/test.yml
  Makefile
  kotlin/generator/src/main/kotlin/com/basecamp/sdk/generator/Main.kt
  kotlin/generator/src/main/kotlin/com/basecamp/sdk/generator/OperationParser.kt
  kotlin/generator/src/main/kotlin/com/basecamp/sdk/generator/PathItems.kt
  python/scripts/gen_common.py
  python/scripts/generate_metadata.py
  python/scripts/generate_services.py
  ruby/scripts/generate-metadata.rb
  ruby/scripts/generate-services.rb
  rust/generator/src/main.rs
  rust/generator/src/model.rs
  scripts/generate-url-routes
  scripts/test-check-gradle-serialization.rb
  scripts/test-compiled-generator-refusal
  scripts/test-generator-verb-inversion.rb
  spec/generated-verbs.json
  swift/Sources/BasecampGenerator/OpenAPIParser.swift
  swift/Sources/BasecampGenerator/PathItems.swift
  swift/Sources/BasecampGenerator/main.swift
  typescript/package.json
  typescript/scripts/extract-metadata.ts
  typescript/scripts/extract-person-id-sites.ts
  typescript/scripts/generate-path-mapping.ts
  typescript/scripts/path-items.ts
  typescript/scripts/strip-account-id.ts
  typescript/src/generated/metadata.ts
Due: typescript-lint, typescript-typecheck

Derive gen-catalog's emission bound from spec/generated-verbs.json
  scripts/gen-catalog/main.go
  scripts/gen-catalog/main_test.go
  spec/generated-verbs.json
Due: go-test-short

Correct gen-catalog derive comments and no-verb error
  scripts/gen-catalog/main.go
Due: go-test-short

Derive gen-catalog's emission bound from spec/generated-verbs.json (#938)
  scripts/gen-catalog/main.go
  scripts/gen-catalog/main_test.go
  spec/generated-verbs.json
Due: go-test-short

Say what the rust-toolchain pin is, not a tag that moves under it
  .github/workflows/codeql.yml
  .github/workflows/release-rust.yml
  .github/workflows/security.yml
  .github/workflows/test.yml
Due: none

Say what the rust-toolchain pin is, not a tag that moves under it (#939)
  .github/workflows/codeql.yml
  .github/workflows/release-rust.yml
  .github/workflows/security.yml
  .github/workflows/test.yml
Due: none

Bump to 0.20.0
  MIGRATING.md
  conformance/runner/python/uv.lock
  conformance/runner/ruby/Gemfile.lock
  conformance/runner/rust/Cargo.lock
  conformance/runner/typescript/package-lock.json
  go/pkg/basecamp/version.go
  kotlin/sdk/build.gradle.kts
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/BasecampConfig.kt
  package.json
  python/pyproject.toml
  python/src/basecamp/_version.py
  python/uv.lock
  ruby/Gemfile.lock
  ruby/lib/basecamp/version.rb
  rust/Cargo.lock
  rust/basecamp-sdk/Cargo.toml
  swift/Sources/Basecamp/BasecampConfig.swift
  typescript/package-lock.json
  typescript/package.json
  typescript/src/client.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Bump to 0.20.0 (#940)
  MIGRATING.md
  conformance/runner/python/uv.lock
  conformance/runner/ruby/Gemfile.lock
  conformance/runner/rust/Cargo.lock
  conformance/runner/typescript/package-lock.json
  go/pkg/basecamp/version.go
  kotlin/sdk/build.gradle.kts
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/BasecampConfig.kt
  package.json
  python/pyproject.toml
  python/src/basecamp/_version.py
  python/uv.lock
  ruby/Gemfile.lock
  ruby/lib/basecamp/version.rb
  rust/Cargo.lock
  rust/basecamp-sdk/Cargo.toml
  swift/Sources/Basecamp/BasecampConfig.swift
  typescript/package-lock.json
  typescript/package.json
  typescript/src/client.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Stop the release version constants failing the API compatibility gate
  .github/workflows/test.yml
Due: none

Exempt the user agent by value, not by name
  .github/workflows/test.yml
Due: none

Stop the release version constants failing the API compatibility gate (#941)
  .github/workflows/test.yml
Due: none

Dial the cable through actioncable-go
  go/go.mod
  go/go.sum
  go/pkg/basecamp/eventfeed/catchup_test.go
  go/pkg/basecamp/eventfeed/transport_test.go
  go/pkg/basecamp/eventfeed/websocket_transport.go
  go/pkg/basecamp/eventfeed/websocket_transport_test.go
Due: go-test-short

Take actioncable-go v1.2.0
  go/go.mod
  go/go.sum
Due: none

fix(subtasks): 32-bit-safe reposition tests, omitempty counts, error cases per operation
  go/pkg/basecamp/cards.go
  go/pkg/basecamp/cards_test.go
  go/pkg/basecamp/subtasks_test.go
  go/pkg/basecamp/todos.go
  python/tests/services/test_subtasks_service.py
  ruby/test/basecamp/services/subtasks_service_test.rb
  typescript/tests/services/subtasks.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Drop the date from the rust-toolchain pin comment
  .github/workflows/codeql.yml
  .github/workflows/release-rust.yml
  .github/workflows/security.yml
  .github/workflows/test.yml
Due: none

fix(subtasks): regenerate for the due_on clear wording
  go/pkg/basecamp/catalog/catalog.json
  openapi.json
  python/src/basecamp/generated/services/subtasks.py
  ruby/lib/basecamp/generated/metadata.json
  ruby/lib/basecamp/generated/types.rb
  rust/basecamp-sdk/src/generated/services/subtasks.rs
  typescript/src/generated/metadata.ts
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/schema.d.ts
Due: typescript-lint, typescript-typecheck

fix(subtasks): field-bearing Recording fixture, null-first due_on clear doc
  go/pkg/basecamp/recordings_test.go
  spec/basecamp.smithy
  spec/fixtures/manifest.yaml
  spec/fixtures/recordings/list.json
Due: go-test-short

fix(subtasks): refuse empty updates, make the TS 422 test reach the wire
  go/pkg/basecamp/catalog/catalog.json
  go/pkg/basecamp/subtasks.go
  go/pkg/basecamp/subtasks_test.go
  openapi.json
  python/src/basecamp/generated/services/subtasks.py
  ruby/lib/basecamp/generated/metadata.json
  ruby/lib/basecamp/generated/types.rb
  rust/basecamp-sdk/src/generated/services/subtasks.rs
  spec/basecamp.smithy
  typescript/src/generated/metadata.ts
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/schema.d.ts
  typescript/tests/services/subtasks.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Update audited TypeScript transitive dependencies
  typescript/package-lock.json
  typescript/package.json
Due: none

Update audited TypeScript transitive dependencies (#957)
  typescript/package-lock.json
  typescript/package.json
Due: none

Drop the date from the rust-toolchain pin comment (#948)
  .github/workflows/codeql.yml
  .github/workflows/release-rust.yml
  .github/workflows/security.yml
  .github/workflows/test.yml
Due: none

Dial the cable through actioncable-go (#947)
  go/go.mod
  go/go.sum
  go/pkg/basecamp/eventfeed/catchup_test.go
  go/pkg/basecamp/eventfeed/transport_test.go
  go/pkg/basecamp/eventfeed/websocket_transport.go
  go/pkg/basecamp/eventfeed/websocket_transport_test.go
Due: go-test-short

Recognize the per-kind template library routes Basecamp now documents
  COORDINATION.md
  SPEC.md
  go/pkg/basecamp/api-provenance.json
  go/pkg/basecamp/url_test.go
  ruby/lib/basecamp/generated/metadata.json
  ruby/lib/basecamp/generated/types.rb
  spec/api-gaps/README.md
  spec/api-gaps/account-enrollments.md
  spec/api-gaps/recording-generic-show.md
  spec/api-gaps/template-library-card-tables.md
  spec/api-provenance.json
  spec/bc3-routes.json
  spec/doc-constants.json
  typescript/src/generated/metadata.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Fold a long path parameter's documentation instead of emitting it as code
  ruby/scripts/generate-services.rb
Due: none

Write down the four Basecamp endpoints this SDK cannot reach yet
  spec/api-gaps/account-enrollments.md
  spec/api-gaps/recording-generic-show.md
Due: none
