Repository basecamp/basecamp-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-test-short, typescript-lint, typescript-typecheck

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
      - id: detect-private-key
      - id: check-case-conflict

  - repo: https://github.com/golangci/golangci-lint
    rev: v1.62.2
    hooks:
      - id: golangci-lint
        args: [--timeout=5m, --config=go/.golangci.yml]
        files: ^go/

  - repo: https://github.com/tekwizely/pre-commit-golang
    rev: v1.0.0-rc.1
    hooks:
      - id: go-fmt
        files: ^go/
      - id: go-vet
        files: ^go/
      - id: go-mod-tidy
        files: ^go/

  - repo: local
    hooks:
      - id: go-test-short
        name: go test -short
        entry: bash -c 'cd go && go test -short ./...'
        language: system
        pass_filenames: false
        types: [go]
        stages: [push]

      - id: typescript-lint
        name: typescript lint
        entry: bash -c 'cd typescript && npm run lint --if-present'
        language: system
        pass_filenames: false
        files: ^typescript/.*\.(ts|tsx)$
        stages: [commit]

      - id: typescript-typecheck
        name: typescript typecheck
        entry: bash -c 'cd typescript && npm run typecheck --if-present'
        language: system
        pass_filenames: false
        files: ^typescript/.*\.(ts|tsx)$
        stages: [push]

Review: drop stray columns key from TS card-table test helper
  typescript/tests/services/card-tables.test.ts
Due: typescript-lint, typescript-typecheck

Review: reconcile all service-count sites + Swift null-color proof
  AGENTS.md
  SPEC.md
  kotlin/README.md
  python/README.md
  ruby/README.md
  swift/README.md
  swift/Tests/BasecampTests/WormholesServiceTests.swift
Due: none

Review: UpdateWormhole is 404-only; refresh api-gaps smithy_refs
  go/pkg/generated/client.gen.go
  openapi.json
  spec/api-gaps/card-table-wormholes.md
  spec/basecamp.smithy
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/schema.d.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Rebase onto main (#401): reconcile wormhole api-gap entry
  spec/api-gaps/card-table-wormholes.md
Due: none

Review: disambiguate Kotlin count wording; realistic lists in TS decode test
  AGENTS.md
  SPEC.md
  typescript/tests/services/card-tables.test.ts
Due: typescript-lint, typescript-typecheck

Review: reference api-provenance.json instead of a hardcoded pin SHA
  spec/api-gaps/card-table-wormholes.md
Due: none

Review: rename Go wormhole bucket arg to bucketID; fix Kotlin decomposition wording
  AGENTS.md
  SPEC.md
  go/pkg/basecamp/wormholes.go
  go/pkg/basecamp/wormholes_test.go
Due: go-test-short

Rebase onto main (#408/#409): regenerate at oapi-codegen 2.8.0
  go/pkg/generated/client.gen.go
  ruby/lib/basecamp/generated/types.rb
Due: go-test-short

Rebase onto main (#412): regenerate @deprecated propagation
  ruby/lib/basecamp/generated/types.rb
Due: none

Swift transport: gate retries on operation idempotency (#411)
  SPEC.md
  swift/Sources/Basecamp/Generated/Metadata.swift
  swift/Sources/Basecamp/HTTP/HTTPClient.swift
  swift/Sources/Basecamp/Services/BaseService.swift
  swift/Sources/BasecampGenerator/BehaviorModel.swift
  swift/Sources/BasecampGenerator/MetadataEmitter.swift
  swift/Tests/BasecampTests/IdempotencyMetadataTests.swift
  swift/Tests/BasecampTests/RetryTests.swift
Due: none

Address review: hoist retryableMethods to static; clarify emitted idempotent-set comment
  swift/Sources/Basecamp/HTTP/HTTPClient.swift
  swift/Sources/BasecampGenerator/MetadataEmitter.swift
Due: none

Swift transport: gate retries on operation idempotency (#411) (#417)
  SPEC.md
  swift/Sources/Basecamp/Generated/Metadata.swift
  swift/Sources/Basecamp/HTTP/HTTPClient.swift
  swift/Sources/Basecamp/Services/BaseService.swift
  swift/Sources/BasecampGenerator/BehaviorModel.swift
  swift/Sources/BasecampGenerator/MetadataEmitter.swift
  swift/Tests/BasecampTests/IdempotencyMetadataTests.swift
  swift/Tests/BasecampTests/RetryTests.swift
Due: none

Cross-ref rich-text attachments in recordable-subtypes absorption plan
  spec/api-gaps/recordable-subtypes-doc.md
Due: none

Add fixture-completeness guard: manifest + coverage invariant
  AGENTS.md
  Makefile
  scripts/check-fixture-coverage.rb
  scripts/check-fixture-coverage.sh
  spec/fixtures/forwards/get.json
  spec/fixtures/forwards/reply_get.json
  spec/fixtures/manifest.yaml
Due: none

Source TS/Ruby/Python test helpers from shared fixtures
  python/tests/services/test_todos.py
  python/tests/services/test_uploads.py
  ruby/test/basecamp/services/cards_service_test.rb
  ruby/test/basecamp/services/checkins_service_test.rb
  ruby/test/basecamp/services/client_approvals_service_test.rb
  ruby/test/basecamp/services/client_correspondences_service_test.rb
  ruby/test/basecamp/services/client_replies_service_test.rb
  ruby/test/basecamp/services/comments_service_test.rb
  ruby/test/basecamp/services/documents_service_test.rb
  ruby/test/basecamp/services/forwards_service_test.rb
  ruby/test/basecamp/services/messages_service_test.rb
  ruby/test/basecamp/services/recordings_service_test.rb
  ruby/test/basecamp/services/schedules_service_test.rb
  ruby/test/test_helper.rb
  typescript/tests/services/cards.test.ts
  typescript/tests/services/client-visibility.test.ts
  typescript/tests/services/comments.test.ts
  typescript/tests/services/messages.test.ts
  typescript/tests/services/todolists.test.ts
Due: typescript-lint, typescript-typecheck

Kotlin: emit every optional model array as List<T>? = null
  Makefile
  kotlin/generator/src/main/kotlin/com/basecamp/sdk/generator/ModelEmitter.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/models/CampfireLine.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/models/Card.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/models/CardColumn.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/models/CardStep.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/models/CardTable.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/models/ClientApproval.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/models/EventDetails.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/models/HillChart.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/models/Project.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/models/QuestionSchedule.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/models/ScheduleEntry.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/models/Subscription.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/models/Template.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/models/Todo.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/models/Webhook.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/services/TodosService.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/WormholesServiceTest.kt
  scripts/check-kotlin-optional-arrays.rb
  scripts/check-kotlin-optional-arrays.sh
  spec/api-gaps/rich-text-attachments-coverage.md
Due: none

Rubric 1B.4: optional-field note covers all six SDKs + Go's encode-only edge
  rubric-audit.json
Due: none

Address review: pin get-test ids to the requested resource
  ruby/test/basecamp/services/messages_service_test.rb
  ruby/test/basecamp/services/recordings_service_test.rb
  ruby/test/basecamp/services/schedules_service_test.rb
  spec/fixtures/manifest.yaml
Due: none

Harden fixture guard: schema type/nullability validation, CI, non-self-erasing inventory
  .github/workflows/test.yml
  AGENTS.md
  scripts/check-fixture-coverage.rb
  spec/fixtures/manifest.yaml
Due: none

Address review: prove required arrays non-null, honest 1B.4, wire D guard into CI
  .github/workflows/test.yml
  rubric-audit.json
  scripts/check-kotlin-optional-arrays.rb
Due: none

Address review: correct #405 provenance to #408, link SearchResult attachments to #428
  spec/api-gaps/rich-text-attachments-coverage.md
Due: none

Conformance: pin idempotent-POST retry liveness
  SPEC.md
  conformance/runner/go/main.go
  conformance/runner/python/runner.py
  conformance/runner/ruby/runner.rb
  conformance/runner/typescript/runner.test.ts
  conformance/tests/idempotency.json
  kotlin/conformance/src/main/kotlin/com/basecamp/sdk/conformance/Main.kt
Due: go-test-short

TypeScript: treat bucketId as project scope in operation metadata
  typescript/scripts/generate-services.ts
  typescript/src/generated/services/card-columns.ts
  typescript/src/generated/services/tools.ts
  typescript/src/generated/services/webhooks.ts
  typescript/src/generated/services/wormholes.ts
  typescript/tests/services/webhooks.test.ts
  typescript/tests/services/wormholes.test.ts
Due: typescript-lint, typescript-typecheck

Python: treat bucketId as project scope in operation metadata
  python/scripts/generate_services.py
  python/src/basecamp/generated/services/card_columns.py
  python/src/basecamp/generated/services/tools.py
  python/src/basecamp/generated/services/webhooks_service.py
  python/src/basecamp/generated/services/wormholes.py
  python/tests/services/test_tools.py
  python/tests/services/test_wormholes_service.py
Due: none

Ruby: treat bucketId as project scope in operation metadata
  ruby/lib/basecamp/generated/services/card_columns_service.rb
  ruby/lib/basecamp/generated/services/tools_service.rb
  ruby/lib/basecamp/generated/services/webhooks_service.rb
  ruby/lib/basecamp/generated/services/wormholes_service.rb
  ruby/scripts/generate-services.rb
  ruby/test/basecamp/services/webhooks_service_test.rb
  ruby/test/basecamp/services/wormholes_service_test.rb
Due: none

Swift: treat bucketId as project scope in operation metadata
  swift/Sources/Basecamp/Generated/Services/CardColumnsService.swift
  swift/Sources/Basecamp/Generated/Services/ToolsService.swift
  swift/Sources/Basecamp/Generated/Services/WebhooksService.swift
  swift/Sources/Basecamp/Generated/Services/WormholesService.swift
  swift/Sources/BasecampGenerator/ServiceEmitter.swift
  swift/Tests/BasecampTests/GeneratedServiceTests.swift
  swift/Tests/BasecampTests/WormholesServiceTests.swift
Due: none

Kotlin: treat bucketId as project scope in operation metadata
  kotlin/generator/src/main/kotlin/com/basecamp/sdk/generator/ServiceEmitter.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/card-columns.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/tools.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/webhooks.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/wormholes.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/WebhooksServiceTest.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/WormholesServiceTest.kt
Due: none

Go: add OperationInfo.ProjectID and populate project/bucket scope
  SPEC.md
  go/pkg/basecamp/cards.go
  go/pkg/basecamp/gauges.go
  go/pkg/basecamp/observability.go
  go/pkg/basecamp/operation_scope_test.go
  go/pkg/basecamp/otel/otel.go
  go/pkg/basecamp/otel/otel_test.go
  go/pkg/basecamp/people.go
  go/pkg/basecamp/projects.go
  go/pkg/basecamp/timeline.go
  go/pkg/basecamp/timesheet.go
  go/pkg/basecamp/tools.go
  go/pkg/basecamp/tools_test.go
  go/pkg/basecamp/webhooks.go
  go/pkg/basecamp/wormholes.go
Due: go-test-short

SPEC: name PUT/DELETE mutations in Go's idempotent-retry set
  SPEC.md
Due: none

Fixture guard round 2: integral-int, null elements, robust emitters, self-test
  .github/workflows/test.yml
  Makefile
  conformance/runner/ruby/schema-walker.rb
  scripts/check-fixture-coverage.rb
  scripts/test-check-fixture-coverage.rb
Due: none

Address review round 2: UTF-8 reads, correct Go optional-scalar decode claim
  rubric-audit.json
  scripts/check-kotlin-optional-arrays.rb
Due: none

Address review: consistent #408 (closes #405) provenance phrasing
  spec/api-gaps/rich-text-attachments-coverage.md
Due: none

Conformance: pin idempotent-POST retry liveness (#439)
  SPEC.md
  conformance/runner/go/main.go
  conformance/runner/python/runner.py
  conformance/runner/ruby/runner.rb
  conformance/runner/typescript/runner.test.ts
  conformance/tests/idempotency.json
  kotlin/conformance/src/main/kotlin/com/basecamp/sdk/conformance/Main.kt
Due: go-test-short

Address review: load_fixture reads UTF-8 (locale robustness)
  ruby/test/test_helper.rb
Due: none

Ruby: guard hook-capture assertions against a non-firing hook
  ruby/test/basecamp/services/webhooks_service_test.rb
  ruby/test/basecamp/services/wormholes_service_test.rb
Due: none

Swift: absorb pre-existing Metadata.swift idempotency regen
  swift/Sources/Basecamp/Generated/Metadata.swift
Due: none

Fixture guard: emitter discovery traverses composition + aliased items
  scripts/check-fixture-coverage.rb
  scripts/test-check-fixture-coverage.rb
Due: none

Fixture guard round 4: $ref siblings, composition-aware validation, killable timeout, CI locale
  .github/workflows/test.yml
  python/tests/services/test_todos.py
  python/tests/services/test_uploads.py
  scripts/check-fixture-coverage.rb
  scripts/test-check-fixture-coverage.rb
  spec/fixtures/manifest.yaml
Due: none
