Repository basecamp/basecamp-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-test-short, typescript-lint, typescript-typecheck

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
      - id: detect-private-key
      - id: check-case-conflict

  - repo: https://github.com/golangci/golangci-lint
    rev: v1.62.2
    hooks:
      - id: golangci-lint
        args: [--timeout=5m, --config=go/.golangci.yml]
        files: ^go/

  - repo: https://github.com/tekwizely/pre-commit-golang
    rev: v1.0.0-rc.1
    hooks:
      - id: go-fmt
        files: ^go/
      - id: go-vet
        files: ^go/
      - id: go-mod-tidy
        files: ^go/

  - repo: local
    hooks:
      - id: go-test-short
        name: go test -short
        entry: bash -c 'cd go && go test -short ./...'
        language: system
        pass_filenames: false
        types: [go]
        stages: [push]

      - id: typescript-lint
        name: typescript lint
        entry: bash -c 'cd typescript && npm run lint --if-present'
        language: system
        pass_filenames: false
        files: ^typescript/.*\.(ts|tsx)$
        stages: [commit]

      - id: typescript-typecheck
        name: typescript typecheck
        entry: bash -c 'cd typescript && npm run typecheck --if-present'
        language: system
        pass_filenames: false
        files: ^typescript/.*\.(ts|tsx)$
        stages: [push]

Conformance: carry the shipped event shape into fixture 31, and bound every integer the schema names
  conformance/event-feed/fixtures/31-post-snapshot-straggler-below-served-id.json
  conformance/event-feed/schema.json
Due: none

Say what DueWithin reads, type the registry's strings, split the egress claim
  SPEC.md
  go/pkg/basecamp/eventfeed/feedtest/clock.go
  scripts/check-known-defect-issues-open
  scripts/test-check-known-defect-issues-open
Due: go-test-short

Conformance: leave an event's details untouched by the integer walk, and decode the ping epoch at 64 bits
  conformance/event-feed/schema.json
  go/pkg/basecamp/eventfeed/scenario_fixture_test.go
  go/pkg/basecamp/eventfeed/scenario_selftest_test.go
Due: go-test-short

Conformance: the registry gate was fail-open, in a gate that exists to fail closed
  scripts/check-known-defect-issues-open
  scripts/test-check-known-defect-issues-open
Due: none

Presence is meaning for config durations, and the rendezvous is two steps
  SPEC.md
  conformance/event-feed/README.md
  conformance/event-feed/schema.json
  go/pkg/basecamp/eventfeed/scenario_fixture_test.go
  go/pkg/basecamp/eventfeed/scenario_harness_test.go
  go/pkg/basecamp/eventfeed/scenario_selftest_test.go
Due: go-test-short

Conformance: the advance guard was a heuristic wearing a MUST
  .triage.md
  SPEC.md
  conformance/event-feed/README.md
  conformance/event-feed/schema.json
  go/pkg/basecamp/eventfeed/feedtest/clock.go
  go/pkg/basecamp/eventfeed/feedtest/clock_test.go
  go/pkg/basecamp/eventfeed/scenario_conformance_test.go
  go/pkg/basecamp/eventfeed/scenario_selftest_test.go
Due: go-test-short

Event feed conformance: three corrections to what tier 2 claims (#778)
  .github/workflows/test.yml
  MIGRATING.md
  Makefile
  SPEC.md
  conformance/event-feed/README.md
  conformance/event-feed/fixtures/05-fresh-ticket-reconnect-after-ttl.json
  conformance/event-feed/fixtures/30-continuation-redirect-cross-origin.json
  conformance/event-feed/fixtures/31-post-snapshot-straggler-below-served-id.json
  conformance/event-feed/schema.json
  go/pkg/basecamp/eventfeed/buffer_test.go
  go/pkg/basecamp/eventfeed/catchup.go
  go/pkg/basecamp/eventfeed/catchup_test.go
  go/pkg/basecamp/eventfeed/feedtest/clock.go
  go/pkg/basecamp/eventfeed/feedtest/clock_test.go
  go/pkg/basecamp/eventfeed/scenario_conformance_test.go
  go/pkg/basecamp/eventfeed/scenario_fixture_test.go
  go/pkg/basecamp/eventfeed/scenario_harness_test.go
  go/pkg/basecamp/eventfeed/scenario_selftest_test.go
  python/src/basecamp/services/todolists.py
  python/tests/services/test_todolists_service.py
  ruby/lib/basecamp/services/todolists_extensions.rb
  ruby/test/basecamp/services/todolists_service_test.rb
  scripts/check-known-defect-issues-open
  scripts/test-check-known-defect-issues-open
  spec/tracking-issues.yml
Due: go-test-short

test(event-feed): service tests and cross-language conformance dispatch
  conformance/runner/go/main.go
  conformance/runner/python/runner.py
  conformance/runner/ruby/runner.rb
  conformance/runner/rust/src/operations.rs
  conformance/runner/swift/Sources/ConformanceRunner/Dispatch.swift
  conformance/runner/typescript/runner.test.ts
  kotlin/conformance/src/main/kotlin/com/basecamp/sdk/conformance/Main.kt
  python/tests/services/test_event_feed_service.py
  ruby/test/basecamp/services/event_feed_service_test.rb
  rust/basecamp-sdk/tests/services.rs
  typescript/tests/services/event-feed.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

docs(spec): restate the per-SDK inventory and idempotency counts for the feed operations
  SPEC.md
Due: none

fix(event-feed): project the nullable feed members, cover performed_by, and restate the retry breakdown
  SECURITY.md
  go/pkg/basecamp/events_test.go
  go/pkg/basecamp/webhook_event_test.go
  openapi.json
  python/src/basecamp/generated/types.py
  ruby/lib/basecamp/generated/metadata.json
  ruby/lib/basecamp/generated/types.rb
  ruby/lib/basecamp/webhooks/event.rb
  ruby/test/basecamp/webhooks/event_test.rb
  spec/fixtures/events/list.json
  spec/fixtures/webhooks/event-todo-created-delegated.json
  spec/smithy-build.json
  typescript/src/generated/metadata.ts
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/schema.d.ts
  typescript/tests/webhooks/handler.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

docs(event-feed): SPEC §23 wire operations, fixture rosters, and gap registry
  SPEC.md
  spec/api-gaps/README.md
  spec/api-gaps/delegated-events-performed-by.md
  spec/api-gaps/event-feed.md
Due: none

test(event-feed): satisfy the per-language lints and pin the new operation counts
  python/tests/services/test_event_feed_service.py
  ruby/test/basecamp/services/event_feed_service_test.rb
  rust/basecamp-sdk/tests/guarantees.rs
  rust/basecamp-sdk/tests/services.rs
Due: none

fix(event-feed): project Person's nullable members, parse continuation queries strictly, and finish the retry breakdown
  MIGRATING.md
  SECURITY.md
  go/pkg/basecamp/event_feed.go
  go/pkg/basecamp/event_feed_test.go
  openapi.json
  python/src/basecamp/generated/types.py
  ruby/lib/basecamp/generated/metadata.json
  ruby/lib/basecamp/generated/types.rb
  spec/smithy-build.json
  typescript/src/generated/metadata.ts
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/schema.d.ts
Due: go-test-short, typescript-lint, typescript-typecheck

docs(migrating): note the PerformedBy field on Go's Event and WebhookEvent
  MIGRATING.md
  go/pkg/basecamp/events_test.go
Due: go-test-short

test(conformance): reattach the runner doc comments the feed summarizers had split
  conformance/runner/ruby/runner.rb
  conformance/runner/swift/Sources/ConformanceRunner/Dispatch.swift
  conformance/runner/typescript/runner.test.ts
  conformance/tests/event_feed.json
  kotlin/conformance/src/main/kotlin/com/basecamp/sdk/conformance/Main.kt
Due: none

docs(event-feed): say what marking the ticket sensitive actually does
  SPEC.md
  openapi.json
  python/src/basecamp/generated/services/event_feed.py
  ruby/lib/basecamp/generated/metadata.json
  ruby/lib/basecamp/generated/types.rb
  rust/basecamp-sdk/src/generated/services/event_feed.rs
  spec/basecamp.smithy
  typescript/src/generated/metadata.ts
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/schema.d.ts
Due: typescript-lint, typescript-typecheck

test(conformance): cover a recording-level boost with explicit null boosted_* members
  conformance/runner/go/main.go
  conformance/runner/python/runner.py
  conformance/runner/ruby/runner.rb
  conformance/runner/rust/src/operations.rs
  conformance/runner/swift/Sources/ConformanceRunner/Dispatch.swift
  conformance/runner/typescript/runner.test.ts
  conformance/tests/event_feed.json
  kotlin/conformance/src/main/kotlin/com/basecamp/sdk/conformance/Main.kt
Due: go-test-short

fix(webhooks): carry a performer's tagline on WebhookEventPerson
  go/pkg/basecamp/webhook_event.go
  go/pkg/basecamp/webhook_event_test.go
  go/pkg/basecamp/webhooks.go
Due: go-test-short

test(fixtures): send the Agent performer's tagline as null and note Kotlin's positional break
  MIGRATING.md
  go/pkg/basecamp/events_test.go
  go/pkg/basecamp/webhook_event_test.go
  ruby/test/basecamp/webhooks/event_test.rb
  rust/INTEGRATION.md
  spec/fixtures/events/list.json
  spec/fixtures/webhooks/event-todo-created-delegated.json
  typescript/tests/webhooks/handler.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Refuse fixture capacities above the schema's ceilings at load
  go/pkg/basecamp/eventfeed/scenario_conformance_test.go
  go/pkg/basecamp/eventfeed/scenario_fixture_test.go
  go/pkg/basecamp/eventfeed/scenario_harness_test.go
  go/pkg/basecamp/eventfeed/scenario_selftest_test.go
Due: go-test-short

Cross-check advance.ms's floor against the schema too
  go/pkg/basecamp/eventfeed/scenario_selftest_test.go
Due: go-test-short

feat(event-feed): carry FeedEvent.details verbatim as a document
  MIGRATING.md
  SPEC.md
  conformance/runner/go/main.go
  conformance/runner/rust/src/operations.rs
  conformance/runner/swift/Sources/ConformanceRunner/Dispatch.swift
  conformance/runner/typescript/runner.test.ts
  go/pkg/basecamp/event_feed.go
  go/pkg/basecamp/event_feed_test.go
  go/pkg/generated/client.gen.go
  openapi.json
  python/src/basecamp/generated/types.py
  ruby/lib/basecamp/generated/metadata.json
  ruby/lib/basecamp/generated/types.rb
  rust/basecamp-sdk/src/generated/types.rs
  spec/basecamp.smithy
  spec/smithy-build.json
  swift/Sources/Basecamp/Generated/Models/FeedEvent.swift
  swift/Sources/Basecamp/Generated/Models/FeedEventDetails.swift
  swift/Sources/Basecamp/Generated/Models/WebhookEvent.swift
  swift/Sources/Basecamp/JSONValue.swift
  swift/Sources/BasecampGenerator/TypeMapping.swift
  typescript/src/generated/metadata.ts
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/schema.d.ts
  typescript/tests/services/event-feed.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

One exit code for campfire_discovery_incomplete, pinned by the fixture
  SPEC.md
  conformance/runner/go/main.go
  conformance/runner/swift/Sources/ConformanceRunner/Assertions.swift
  conformance/runner/swift/Sources/ConformanceRunner/Runner.swift
  conformance/tests/recording_summary.json
  go/README.md
  go/pkg/basecamp/recording_summary.go
  go/pkg/basecamp/recording_summary_test.go
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/BasecampException.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/ErrorTest.kt
  python/src/basecamp/errors.py
  python/tests/services/test_recordings_summarize.py
  python/tests/test_errors.py
  ruby/lib/basecamp/campfire_discovery_incomplete_error.rb
  ruby/test/basecamp/errors_test.rb
  rust/basecamp-sdk/src/services/recordings.rs
  rust/basecamp-sdk/tests/composites_recording_summary.rs
  swift/Sources/Basecamp/RecordingsServiceExtensions.swift
  swift/Tests/BasecampTests/RecordingSummaryTests.swift
  typescript/README.md
  typescript/src/services/recordings-extensions.ts
  typescript/tests/services/recordings-summarize.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

docs(api-gaps): drop the FeedEventDetails reference the document change removed
  spec/api-gaps/event-feed.md
Due: none

Adversarial review: the argument was overstated, and say what the fixture does not pin
  SPEC.md
  conformance/runner/swift/Sources/ConformanceRunner/Assertions.swift
  conformance/tests/recording_summary.json
  go/pkg/basecamp/recording_summary.go
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/BasecampException.kt
  python/src/basecamp/errors.py
  python/tests/services/test_recordings_summarize.py
  ruby/lib/basecamp/campfire_discovery_incomplete_error.rb
  rust/basecamp-sdk/src/services/recordings.rs
  rust/basecamp-sdk/tests/composites_recording_summary.rs
  swift/Sources/Basecamp/RecordingsServiceExtensions.swift
  swift/Tests/BasecampTests/RecordingSummaryTests.swift
  typescript/README.md
  typescript/src/services/recordings-extensions.ts
  typescript/tests/services/recordings-summarize.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Give PollInbox's 403 a bare error shape
  SPEC.md
  go/pkg/generated/client.gen.go
  openapi.json
  spec/basecamp.smithy
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/schema.d.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Make the pagination trait's cursor style mean something
  kotlin/generator/src/main/kotlin/com/basecamp/sdk/generator/OperationParser.kt
  python/scripts/generate_services.py
  ruby/scripts/generate-services.rb
  rust/generator/src/model.rs
  rust/generator/tests/fixtures.rs
  swift/Sources/BasecampGenerator/OpenAPIParser.swift
  typescript/scripts/generate-services.ts
Due: typescript-lint, typescript-typecheck

Scope BareForbiddenError's claim to the guard that makes it true
  spec/basecamp.smithy
Due: none

Say the 403 exception in the doc comment that ships
  openapi.json
  python/src/basecamp/generated/services/event_feed.py
  rust/basecamp-sdk/src/generated/services/event_feed.rs
  spec/basecamp.smithy
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/schema.d.ts
Due: typescript-lint, typescript-typecheck

fix(python): three errors raise a bare TypeError on a retryable kwarg
  python/src/basecamp/errors.py
  python/tests/test_errors.py
Due: none

Answer the adversarial review: pin the invariant, not just the crash
  MIGRATING.md
  python/src/basecamp/errors.py
  python/tests/test_errors.py
Due: none

MIGRATING: the exit code change is silent, so say so
  MIGRATING.md
Due: none

One exit code for bucket_mismatch, and the last two identities pinned
  SPEC.md
  conformance/runner/swift/Sources/ConformanceRunner/Assertions.swift
  conformance/tests/recording_summary.json
  go/README.md
  go/pkg/basecamp/recording_summary.go
  go/pkg/basecamp/recording_summary_test.go
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/BasecampException.kt
  python/src/basecamp/errors.py
  ruby/lib/basecamp/bucket_mismatch_error.rb
  rust/basecamp-sdk/src/services/recordings.rs
  rust/basecamp-sdk/tests/composites_recording_summary.rs
  swift/Sources/Basecamp/RecordingsServiceExtensions.swift
  swift/Tests/BasecampTests/RecordingSummaryTests.swift
  typescript/README.md
  typescript/src/services/recordings-extensions.ts
  typescript/tests/services/recordings-summarize.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Three Python errors crash with a bare TypeError when a caller passes retryable (#906)
  MIGRATING.md
  python/src/basecamp/errors.py
  python/tests/test_errors.py
Due: none

Refuse the styles nothing implements, and catalogue cursor as cursor
  kotlin/generator/src/main/kotlin/com/basecamp/sdk/generator/OperationParser.kt
  python/scripts/generate_services.py
  python/tests/test_generate_services_pagination_style.py
  ruby/lib/basecamp/generated/metadata.json
  ruby/lib/basecamp/generated/types.rb
  ruby/scripts/generate-metadata.rb
  ruby/scripts/generate-services.rb
  ruby/test/scripts/generate_services_pagination_style_test.rb
  rust/basecamp-sdk/src/route.rs
  rust/generator/src/emit/mod.rs
  rust/generator/src/emit/routes.rs
  rust/generator/src/emit/services.rs
  rust/generator/src/model.rs
  rust/generator/tests/fixtures.rs
  spec/basecamp-traits.smithy
  swift/Sources/BasecampGenerator/OpenAPIParser.swift
  typescript/scripts/extract-metadata.ts
  typescript/scripts/generate-services.ts
  typescript/src/generated/metadata.ts
Due: typescript-lint, typescript-typecheck

Reviews: the unknown-type case now proves its own claim, and MIGRATING says what breaks
  MIGRATING.md
  SPEC.md
  conformance/tests/recording_summary.json
  swift/Tests/BasecampTests/RecordingSummaryTests.swift
  typescript/src/services/recordings-extensions.ts
  typescript/tests/services/recordings-summarize.test.ts
Due: typescript-lint, typescript-typecheck

Withhold the pagination key from a cursor operation
  kotlin/generator/src/main/kotlin/com/basecamp/sdk/generator/OperationParser.kt
  python/scripts/generate_services.py
  python/tests/test_generate_services_pagination_style.py
  ruby/scripts/generate-services.rb
  ruby/test/scripts/generate_services_pagination_style_test.rb
  swift/Sources/BasecampGenerator/OpenAPIParser.swift
  typescript/scripts/generate-services.ts
Due: typescript-lint, typescript-typecheck
