Repository basecamp/basecamp-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-test-short, typescript-lint, typescript-typecheck

go-test-short:
  name: go test -short
  entry: bash -c 'cd go && go test -short ./...'
  language: system
  pass_filenames: false
  stages:
  - push

typescript-lint:
  name: typescript lint
  entry: bash -c 'cd typescript && npm run lint --if-present'
  language: system
  pass_filenames: false
  stages:
  - commit

typescript-typecheck:
  name: typescript typecheck
  entry: bash -c 'cd typescript && npm run typecheck --if-present'
  language: system
  pass_filenames: false
  stages:
  - push

Map the numeric decode refusal, and stop shortcutting 204 past the decoder
  MIGRATING.md
  SPEC.md
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/services/BaseService.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/DecodeIsolationTest.kt
Due: none

Let the Swift conformance runner ask the SDK, over @_spi, instead of copying its phrase
  conformance/runner/swift/Sources/ConformanceRunner/Runner.swift
  swift/Sources/Basecamp/Services/BaseService.swift
Due: none

Say what this gate cannot see, and name the instruments to switch to
  Makefile
  scripts/check-gradle-serialization.rb
Due: none

Make the numeric refusal speak the decode-failure type, not a second one
  MIGRATING.md
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/serialization/FlexibleLongSerializer.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/services/BaseService.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/DecodeIsolationTest.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/FlexibleLongSerializerTest.kt
Due: none

Say what the 204 shortcut actually did: nothing, loudly
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/services/BaseService.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/DecodeIsolationTest.kt
Due: none

Close the vouching rule over inheritance, aliases and decoding
  scripts/check-wrapper-drift/main.go
  scripts/check-wrapper-drift/main_test.go
Due: go-test-short

Accumulate every delegate, and resolve target-specific variables
  scripts/check-gradle-serialization.rb
  scripts/test-check-gradle-serialization.rb
Due: none

Refuse only what the encoder actually refuses
  scripts/check-wrapper-drift/main.go
  scripts/check-wrapper-drift/main_test.go
Due: go-test-short

Parse both make spellings of a target-specific variable
  scripts/check-gradle-serialization.rb
Due: none

Isolate the response decoder from auth and transport in Kotlin and Swift (#725)
  MIGRATING.md
  SPEC.md
  conformance/runner/swift/Sources/ConformanceRunner/Runner.swift
  kotlin/conformance/src/main/kotlin/com/basecamp/sdk/conformance/Main.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/serialization/FlexibleLongSerializer.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/services/BaseService.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/services/DocumentsService.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/services/SchedulesService.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/services/TodolistsService.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/CardsServiceTest.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/DecodeIsolationTest.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/FlexibleLongSerializerTest.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/UpcomingScheduleDecodeTest.kt
  swift/Sources/Basecamp/DocumentsServiceExtensions.swift
  swift/Sources/Basecamp/SchedulesServiceExtensions.swift
  swift/Sources/Basecamp/Services/BaseService.swift
  swift/Sources/Basecamp/TodolistsServiceExtensions.swift
  swift/Tests/BasecampTests/DecodeIsolationTests.swift
  swift/Tests/BasecampTests/GeneratedServiceTests.swift
  swift/Tests/BasecampTests/TodolistsServiceExtensionsTests.swift
  swift/Tests/BasecampTests/UpcomingScheduleDecodeTests.swift
Due: none

Close the method-route class with one closure instead of six rules
  scripts/check-wrapper-drift/main.go
  scripts/check-wrapper-drift/main_test.go
Due: go-test-short

Scope unplaceable errors to the goal, and decline two matcher refinements
  scripts/check-gradle-serialization.rb
  scripts/test-check-gradle-serialization.rb
Due: none

See through parenthesized type declarations
  scripts/check-wrapper-drift/main.go
  scripts/check-wrapper-drift/main_test.go
Due: go-test-short

Narrow two rules to what encoding/json actually does
  scripts/check-wrapper-drift/main.go
  scripts/check-wrapper-drift/main_test.go
Due: go-test-short

Report shapes the walker cannot interpret instead of crediting them
  scripts/check-wrapper-drift/main.go
  scripts/check-wrapper-drift/main_test.go
Due: go-test-short

Record the known over-reports in the header
  scripts/check-wrapper-drift/main.go
Due: go-test-short

Hand tag parsing to reflect, and report instantiated generics
  scripts/check-wrapper-drift/main.go
  scripts/check-wrapper-drift/main_test.go
Due: go-test-short

Recognize []uint8, and let decode-unsafe records travel by promotion
  scripts/check-wrapper-drift/main.go
  scripts/check-wrapper-drift/main_test.go
Due: go-test-short

Scan only the reachable graph, and survive bytes it cannot decode
  scripts/check-gradle-serialization.rb
  scripts/test-check-gradle-serialization.rb
Due: none

Cover all seven Gauges operations in TypeScript, Ruby and Python
  python/tests/services/test_gauges_service.py
  ruby/test/basecamp/services/gauges_service_test.rb
  typescript/tests/services/gauges.test.ts
Due: typescript-lint, typescript-typecheck

Point the gauge fixtures at the routes and titles bc3 actually emits
  spec/fixtures/gauges/get.json
  spec/fixtures/gauges/needle_get.json
  spec/fixtures/manifest.yaml
Due: none

Refuse promotion under a wrapper's own marshaller
  scripts/check-wrapper-drift/main.go
  scripts/check-wrapper-drift/main_test.go
Due: go-test-short

Extend the Gauges coverage to Kotlin and Swift
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/GaugesServiceTest.kt
  swift/Tests/BasecampTests/GaugesServiceTests.swift
Due: none

Stub the gauge toggle as bc3's empty 200, and pin the corrected fixture values
  python/tests/services/test_gauges_service.py
  ruby/test/basecamp/services/gauges_service_test.rb
  typescript/tests/services/gauges.test.ts
Due: typescript-lint, typescript-typecheck

Pin JVM source encoding, and serialize the Gradle-backed check targets (#724)
  .github/workflows/smithy-verify.yml
  .github/workflows/test.yml
  Makefile
  kotlin/build.gradle.kts
  scripts/check-gradle-serialization.rb
  scripts/test-check-gradle-serialization.rb
  spec/smithy-bare-arrays/build.gradle.kts
Due: none

Apply the unrecognised-is-reported invariant to the method graph
  scripts/check-wrapper-drift/main.go
  scripts/check-wrapper-drift/main_test.go
Due: go-test-short

Let the Gradle wrappers retry a transient distribution fetch
  kotlin/build.gradle.kts
  kotlin/gradle/wrapper/gradle-wrapper.properties
  spec/smithy-bare-arrays/build.gradle.kts
  spec/smithy-bare-arrays/gradle/wrapper/gradle-wrapper.properties
Due: none

Take the resolver out of OAuthTransportTest's proxy deadlines
  ruby/test/basecamp/oauth_transport_test.rb
Due: none

Fix a vacuous float assertion and two invalid notify modes (review)
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/GaugesServiceTest.kt
  python/tests/services/test_gauges_service.py
  swift/Tests/BasecampTests/GaugesServiceTests.swift
  typescript/tests/services/gauges.test.ts
Due: typescript-lint, typescript-typecheck

Test the seven Gauges operations across five SDKs, and correct their fixtures (#738)
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/GaugesServiceTest.kt
  python/tests/services/test_gauges_service.py
  ruby/test/basecamp/services/gauges_service_test.rb
  spec/fixtures/gauges/get.json
  spec/fixtures/gauges/needle_get.json
  spec/fixtures/manifest.yaml
  swift/Tests/BasecampTests/GaugesServiceTests.swift
  typescript/tests/services/gauges.test.ts
Due: typescript-lint, typescript-typecheck

Retry the Gradle distribution fetch, and take the resolver out of the proxy tests (#734)
  kotlin/build.gradle.kts
  kotlin/gradle/wrapper/gradle-wrapper.properties
  ruby/test/basecamp/oauth_transport_test.rb
  spec/smithy-bare-arrays/build.gradle.kts
  spec/smithy-bare-arrays/gradle/wrapper/gradle-wrapper.properties
Due: none

Scope the unrecognised-value report to where the subtree mattered
  scripts/check-wrapper-drift/main.go
  scripts/check-wrapper-drift/main_test.go
Due: go-test-short

Stop the gate misreporting its own coverage
  scripts/check-wrapper-drift/main.go
  scripts/check-wrapper-drift/main_test.go
Due: go-test-short

Account for every conformance fixture in both SPEC rosters
  SPEC.md
Due: none

Gate both conformance-fixture rosters against git ls-files
  SPEC.md
  scripts/sync-doc-constants.rb
  scripts/test-doc-constants.rb
  spec/doc-constants.json
Due: none

Make the signature and scope rules mean what they say
  scripts/check-wrapper-drift/main.go
  scripts/check-wrapper-drift/main_test.go
Due: go-test-short

Detect a conformance fixture that no runner runs, and hold the roster to it
  .github/workflows/test.yml
  CONTRIBUTING.md
  Makefile
  SPEC.md
  scripts/check-fixture-execution
  scripts/conformance_skips.rb
  scripts/test-check-fixture-execution.rb
Due: none

Reject a repeated runner block in the Zero-Skip roster
  scripts/conformance_skips.rb
  scripts/test-check-fixture-execution.rb
Due: none

Report what the skip parser cannot interpret, never credit it
  scripts/conformance_skips.rb
  scripts/test-check-fixture-execution.rb
Due: none

Prove an empty parse cannot satisfy either roster comparison
  scripts/test-doc-constants.rb
  spec/doc-constants.json
Due: none

Path conditions:
  go-test-short: any of: \.go$
  typescript-lint: any of: ^typescript/.*\.(ts|tsx)$
  typescript-typecheck: any of: ^typescript/.*\.(ts|tsx)$
