Repository basecamp/basecamp-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-test-short, typescript-lint, typescript-typecheck

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
      - id: detect-private-key
      - id: check-case-conflict

  - repo: https://github.com/golangci/golangci-lint
    rev: v1.62.2
    hooks:
      - id: golangci-lint
        args: [--timeout=5m, --config=go/.golangci.yml]
        files: ^go/

  - repo: https://github.com/tekwizely/pre-commit-golang
    rev: v1.0.0-rc.1
    hooks:
      - id: go-fmt
        files: ^go/
      - id: go-vet
        files: ^go/
      - id: go-mod-tidy
        files: ^go/

  - repo: local
    hooks:
      - id: go-test-short
        name: go test -short
        entry: bash -c 'cd go && go test -short ./...'
        language: system
        pass_filenames: false
        types: [go]
        stages: [push]

      - id: typescript-lint
        name: typescript lint
        entry: bash -c 'cd typescript && npm run lint --if-present'
        language: system
        pass_filenames: false
        files: ^typescript/.*\.(ts|tsx)$
        stages: [commit]

      - id: typescript-typecheck
        name: typescript typecheck
        entry: bash -c 'cd typescript && npm run typecheck --if-present'
        language: system
        pass_filenames: false
        files: ^typescript/.*\.(ts|tsx)$
        stages: [push]

Counts and registry: 238 operations, 77 idempotent, 199 retry-eligible
  AGENTS.md
  SECURITY.md
  SPEC.md
  scripts/check-idempotency-parity
  spec/api-gaps/README.md
  spec/api-gaps/my-assignments-priorities.md
Due: none

Wrappers and wiring: Go Prioritize/Deprioritize/Reorder; Python accessor
  go/pkg/basecamp/my_assignments.go
  python/src/basecamp/async_client.py
  python/src/basecamp/client.py
Due: go-test-short

Tests and conformance: 204s, the reorder error contract, no-retry pin
  conformance/runner/go/main.go
  conformance/runner/python/runner.py
  conformance/runner/ruby/runner.rb
  conformance/runner/typescript/runner.test.ts
  conformance/tests/idempotency.json
  conformance/tests/paths.json
  kotlin/conformance/src/main/kotlin/com/basecamp/sdk/conformance/Main.kt
  python/tests/services/test_my_assignments_service.py
  ruby/test/basecamp/services/my_assignments_service_test.rb
  typescript/tests/services/my-assignments.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

ReorderUpNext's 404 is modeled bodyless, as the wire actually is
  go/pkg/generated/client.gen.go
  openapi.json
  ruby/lib/basecamp/generated/metadata.json
  ruby/lib/basecamp/generated/types.rb
  spec/basecamp.smithy
  typescript/src/generated/metadata.ts
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/schema.d.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Stop auto-applying release-notes category labels by path
  .github/labeler.yml
  CONTRIBUTING.md
Due: none

Measure retry delays with monotonic clocks in the Python and Ruby runners
  conformance/runner/python/runner.py
  conformance/runner/ruby/runner.rb
Due: none

Go wrappers: complete the ergonomic surface for questions and card-column subscriptions
  go/pkg/basecamp/cards.go
  go/pkg/basecamp/cards_test.go
  go/pkg/basecamp/checkins.go
  go/pkg/basecamp/checkins_test.go
  scripts/check-service-drift.sh
Due: go-test-short

Go wrappers: complete the ergonomic surface for questions and card-column subscriptions (#534)
  go/pkg/basecamp/cards.go
  go/pkg/basecamp/cards_test.go
  go/pkg/basecamp/checkins.go
  go/pkg/basecamp/checkins_test.go
  scripts/check-service-drift.sh
Due: go-test-short

SPEC and rubric truth-up: enumerate every live skip, current idempotent-POST set, stale waiver flips
  AGENTS.md
  SPEC.md
  rubric-audit.json
Due: none

Fix seven doc examples that call APIs that no longer exist
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/Pagination.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/services/BaseService.kt
  typescript/src/errors.ts
  typescript/src/hooks/otel.ts
  typescript/src/index.ts
  typescript/src/pagination.ts
Due: typescript-lint, typescript-typecheck

Silence the three standing lint warnings on every CI run
  typescript/src/client.ts
  typescript/src/oauth/discovery.ts
Due: typescript-lint, typescript-typecheck

docs(spec): clarify TypeScript integer waiver
  SPEC.md
  conformance/tests/integer-precision.json
  rubric-audit.json
Due: none

Address Codex review: qualify the Ruby temporal claim, frame BaseService examples as generator output
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/services/BaseService.kt
  rubric-audit.json
Due: none

SPEC and waiver hygiene: per-line skip roster, current facts, doc-example and lint fixes (#535)
  AGENTS.md
  SPEC.md
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/Pagination.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/services/BaseService.kt
  rubric-audit.json
  typescript/src/client.ts
  typescript/src/errors.ts
  typescript/src/hooks/otel.ts
  typescript/src/index.ts
  typescript/src/oauth/discovery.ts
  typescript/src/pagination.ts
Due: typescript-lint, typescript-typecheck

Stop auto-applying release-notes category labels by path (#529)
  .github/labeler.yml
  CONTRIBUTING.md
Due: none

Measure retry delays with monotonic clocks in the Python and Ruby runners (#530)
  conformance/runner/python/runner.py
  conformance/runner/ruby/runner.rb
Due: none

ci: re-enable java-kotlin CodeQL analysis (manual build mode)
  .github/workflows/codeql.yml
Due: none

docs(spec): clarify TypeScript integer waiver (#536)
  SPEC.md
  conformance/tests/integer-precision.json
  rubric-audit.json
Due: none

Run the TS retry loop beneath the middleware chain to each operation's declared max
  conformance/runner/typescript/runner.test.ts
  typescript/src/client.ts
  typescript/tests/client.test.ts
  typescript/tests/middleware-lifecycle.test.ts
Due: typescript-lint, typescript-typecheck

Retry network errors in TS under the idempotency gate, with aborts terminal
  conformance/runner/typescript/runner.test.ts
  typescript/src/client.ts
  typescript/tests/client.test.ts
  typescript/tests/middleware-lifecycle.test.ts
Due: typescript-lint, typescript-typecheck

Docs: record the closed 2B.1 waiver and TS network-retry model
  SPEC.md
  rubric-audit.json
  scripts/check-retry-metadata-parity.py
  typescript/tests/integration.test.ts
  typescript/tests/middleware-lifecycle.test.ts
Due: typescript-lint, typescript-typecheck

ci: re-enable java-kotlin CodeQL analysis (manual build mode) (#391)
  .github/workflows/codeql.yml
Due: none

Treat every aborted request signal as terminal, not just DOMException aborts
  typescript/src/client.ts
  typescript/tests/middleware-lifecycle.test.ts
Due: typescript-lint, typescript-typecheck

Surface field-keyed 422 validation payloads in all six transports
  SPEC.md
  conformance/tests/error-mapping.json
  go/pkg/basecamp/errors.go
  go/pkg/basecamp/helpers.go
  go/pkg/basecamp/helpers_test.go
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/BasecampException.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/services/BaseService.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/ErrorTest.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/FieldKeyed422Test.kt
  python/src/basecamp/errors.py
  python/tests/test_errors.py
  ruby/lib/basecamp.rb
  ruby/lib/basecamp/http.rb
  ruby/lib/basecamp/validation_error.rb
  ruby/test/basecamp/errors_test.rb
  ruby/test/basecamp/http_test.rb
  swift/Sources/Basecamp/BasecampError.swift
  swift/Tests/BasecampTests/ErrorTests.swift
  typescript/src/errors.ts
  typescript/src/index.ts
  typescript/src/services/base.ts
  typescript/tests/errors.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Ruff: wrap the long fixture line and apply formatting
  python/src/basecamp/errors.py
  python/tests/test_errors.py
Due: none

Go truncate: honor the SPEC section 9 cap including the marker
  go/pkg/basecamp/helpers.go
  go/pkg/basecamp/helpers_test.go
Due: go-test-short

Treat non-positive max_items as no cap, matching the other SDKs
  python/README.md
  python/src/basecamp/generated/services/_async_base.py
  python/src/basecamp/generated/services/_base.py
  python/tests/test_max_items_public.py
Due: none

Make the backoff sleep signal-aware so mid-backoff aborts are terminal
  typescript/src/client.ts
  typescript/tests/middleware-lifecycle.test.ts
Due: typescript-lint, typescript-typecheck

Run the TypeScript retry loop beneath the middleware chain (#538)
  SPEC.md
  conformance/runner/typescript/runner.test.ts
  rubric-audit.json
  scripts/check-retry-metadata-parity.py
  typescript/src/client.ts
  typescript/tests/client.test.ts
  typescript/tests/integration.test.ts
  typescript/tests/middleware-lifecycle.test.ts
Due: typescript-lint, typescript-typecheck

Add the GetCalendar live canary with an env-var-only fixture
  conformance/runner/typescript/fixtures.ts
  conformance/runner/typescript/live-dispatch.ts
  conformance/tests/live-my-surface.json
  spec/api-gaps/calendar.md
Due: none

Parse error-body members independently so malformed scalars cannot discard field errors
  SPEC.md
  conformance/tests/error-mapping.json
  go/pkg/basecamp/helpers.go
  go/pkg/basecamp/helpers_test.go
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/services/BaseService.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/FieldKeyed422Test.kt
  python/src/basecamp/errors.py
  python/tests/test_errors.py
  ruby/lib/basecamp.rb
  ruby/test/basecamp/errors_test.rb
  swift/Tests/BasecampTests/ErrorTests.swift
  typescript/tests/errors.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Speak honestly about the per-attempt timeout in the retry carve-out
  kotlin/README.md
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/http/BasecampHttpClient.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/RetryTest.kt
Due: none

Surface auth-phase failures raw instead of spending retries on them
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/http/BasecampHttpClient.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/RetryTest.kt
Due: none

Retry network errors in Kotlin through the idempotency gate
  SPEC.md
  conformance/tests/network-retry.json
  kotlin/README.md
  kotlin/conformance/src/main/kotlin/com/basecamp/sdk/conformance/Main.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/http/BasecampHttpClient.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/RetryTest.kt
Due: none

Teach the replay contract to honor fixture-level skips
  conformance/runner/go/replay_runner.go
  conformance/runner/go/replay_runner_test.go
  conformance/runner/python/replay_runner.py
  conformance/runner/ruby/replay-runner.rb
  conformance/runner/typescript/live-runner.test.ts
  conformance/runner/typescript/wire-capture.ts
  kotlin/conformance/src/main/kotlin/com/basecamp/sdk/conformance/ReplayRunner.kt
Due: go-test-short

Honor the SPEC section 6 message-key fallback when composing field errors
  SPEC.md
  conformance/tests/error-mapping.json
  go/pkg/basecamp/helpers.go
  go/pkg/basecamp/helpers_test.go
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/services/BaseService.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/FieldKeyed422Test.kt
  swift/Sources/Basecamp/BasecampError.swift
  swift/Tests/BasecampTests/ErrorTests.swift
  typescript/src/errors.ts
  typescript/tests/errors.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Retry network errors in Kotlin through the idempotency gate (#539)
  SPEC.md
  conformance/tests/network-retry.json
  kotlin/README.md
  kotlin/conformance/src/main/kotlin/com/basecamp/sdk/conformance/Main.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/http/BasecampHttpClient.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/RetryTest.kt
Due: none
