Repository basecamp/basecamp-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-test-short, typescript-lint, typescript-typecheck

go-test-short:
  name: go test -short
  entry: bash -c 'cd go && go test -short ./...'
  language: system
  pass_filenames: false
  stages:
  - push

typescript-lint:
  name: typescript lint
  entry: bash -c 'cd typescript && npm run lint --if-present'
  language: system
  pass_filenames: false
  stages:
  - commit

typescript-typecheck:
  name: typescript typecheck
  entry: bash -c 'cd typescript && npm run typecheck --if-present'
  language: system
  pass_filenames: false
  stages:
  - push

Regenerate Ruby/TS metadata after rebase onto expanded TimelineAttachment
  ruby/lib/basecamp/generated/metadata.json
  ruby/lib/basecamp/generated/types.rb
  typescript/src/generated/metadata.ts
Due: typescript-lint, typescript-typecheck

Cap the progress-report live canary pagination
  conformance/runner/typescript/live-dispatch.ts
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/models/DoorService.kt
  ruby/lib/basecamp/generated/metadata.json
  ruby/lib/basecamp/generated/types.rb
  spec/api-gaps/external-links-doors.md
  typescript/src/generated/metadata.ts
Due: typescript-lint, typescript-typecheck

Regenerate for nullable timeline bounds (type union) from #424
  ruby/lib/basecamp/generated/types.rb
Due: none

Point external-links-doors smithy_refs at the actual Door shapes
  spec/api-gaps/external-links-doors.md
Due: none

Regenerate Kotlin models for nullable optional scalars (Recording.position etc.)
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/models/Recording.kt
Due: none

Route non-door recordings test through List; cap bubble-up dispatch; use Door constant
  conformance/runner/typescript/live-dispatch.ts
  go/pkg/basecamp/recordings_test.go
Due: go-test-short

Absorb external-links (doors) list surface; defer create/image/composite (bc3 #12375) (#431)
  conformance/runner/typescript/live-dispatch.ts
  conformance/tests/live-my-surface.json
  go/pkg/basecamp/recordings.go
  go/pkg/basecamp/recordings_test.go
  go/pkg/generated/client.gen.go
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/models/DoorService.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/models/Recording.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/recordings.kt
  openapi.json
  python/src/basecamp/generated/types.py
  ruby/lib/basecamp/generated/metadata.json
  ruby/lib/basecamp/generated/services/recordings_service.rb
  ruby/lib/basecamp/generated/types.rb
  spec/api-gaps/README.md
  spec/api-gaps/external-links-doors.md
  spec/basecamp.smithy
  swift/Sources/Basecamp/Generated/Models/DoorService.swift
  swift/Sources/Basecamp/Generated/Models/Recording.swift
  typescript/src/generated/metadata.ts
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/schema.d.ts
  typescript/src/generated/services/recordings.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Fix message types to be bucket-scoped across all SDKs (#393)
  go/pkg/basecamp/message_types.go
  go/pkg/basecamp/message_types_test.go
  go/pkg/basecamp/operation_scope_test.go
  go/pkg/basecamp/url-routes.json
  go/pkg/generated/client.gen.go
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/message-types.kt
  openapi.json
  python/src/basecamp/generated/services/message_types.py
  python/tests/services/test_message_types_service.py
  ruby/lib/basecamp/generated/metadata.json
  ruby/lib/basecamp/generated/services/message_types_service.rb
  ruby/test/basecamp/services/message_types_service_test.rb
  spec/basecamp.smithy
  spec/bucket-scoped-allowlist.txt
  swift/Sources/Basecamp/Generated/Services/MessageTypesService.swift
  typescript/src/client.ts
  typescript/src/generated/metadata.ts
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/path-mapping.ts
  typescript/src/generated/schema.d.ts
  typescript/src/generated/services/index.ts
  typescript/src/generated/services/message-types.ts
  typescript/tests/client.test.ts
  typescript/tests/services/message-types.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Freshness gates: regenerate-and-diff for TS, Ruby, and Go generated output (#456)
  .github/workflows/test.yml
  Makefile
  scripts/check-go-generated-drift.sh
  scripts/check-ruby-service-drift.sh
  scripts/check-typescript-service-drift.sh
Due: none

Fetch unpaginated everything overdue feeds without Link-following (Python)
  python/scripts/generate_services.py
  python/src/basecamp/generated/services/_async_base.py
  python/src/basecamp/generated/services/_base.py
  python/src/basecamp/generated/services/automation.py
  python/src/basecamp/generated/services/everything.py
  python/src/basecamp/generated/services/my_assignments.py
  python/src/basecamp/generated/services/people.py
  python/src/basecamp/generated/services/timesheets.py
  python/tests/services/test_everything.py
Due: none

Add flat-family everything error-path tests across TS/Ruby/Python
  python/tests/services/test_everything.py
  ruby/test/basecamp/services/everything_service_test.rb
  typescript/tests/services/everything.test.ts
Due: typescript-lint, typescript-typecheck

Model Document body in EverythingFile, make optional scalars presence-faithful
  AGENTS.md
  SPEC.md
  go/pkg/basecamp/everything.go
  go/pkg/basecamp/everything_test.go
  go/pkg/generated/client.gen.go
  kotlin/generator/src/main/kotlin/com/basecamp/sdk/generator/ModelEmitter.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/models/EverythingFile.kt
  openapi.json
  python/src/basecamp/generated/types.py
  ruby/lib/basecamp/generated/types.rb
  scripts/enhance-openapi-go-types.sh
  spec/basecamp.smithy
  swift/Sources/Basecamp/Generated/Models/EverythingFile.swift
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/schema.d.ts
  typescript/src/index.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Fix GetEverythingCheckins doc first line and non-idempotent count (148)
  SPEC.md
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/everything.kt
  openapi.json
  ruby/lib/basecamp/generated/services/everything_service.rb
  spec/basecamp.smithy
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/schema.d.ts
  typescript/src/generated/services/everything.ts
Due: typescript-lint, typescript-typecheck

Complete GetEverythingForwards/Files doc first lines
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/everything.kt
  openapi.json
  ruby/lib/basecamp/generated/services/everything_service.rb
  spec/basecamp.smithy
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/schema.d.ts
  typescript/src/generated/services/everything.ts
Due: typescript-lint, typescript-typecheck

Cap the paginated flat Everything live canaries with maxItems
  conformance/runner/typescript/live-dispatch.ts
Due: none

Use booster (not creator) in the Everything boosts test fixtures
  go/pkg/basecamp/everything.go
  go/pkg/basecamp/everything_test.go
  go/pkg/generated/client.gen.go
  openapi.json
  python/tests/services/test_everything.py
  ruby/lib/basecamp/generated/metadata.json
  ruby/lib/basecamp/generated/types.rb
  ruby/test/basecamp/services/everything_service_test.rb
  scripts/enhance-openapi-go-types.sh
  typescript/src/generated/metadata.ts
  typescript/src/generated/openapi-stripped.json
Due: go-test-short, typescript-lint, typescript-typecheck

Bump idempotency-parity union count to 178 for the flat Everything GETs
  go/pkg/basecamp/everything_test.go
  scripts/check-idempotency-parity
Due: go-test-short

Export Boost from the package root; rename ambiguous page-param tests
  go/pkg/basecamp/everything_test.go
  typescript/src/index.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Advertise unpaginated bare-array Ruby methods as Array, not Hash
  ruby/lib/basecamp/generated/services/automation_service.rb
  ruby/lib/basecamp/generated/services/everything_service.rb
  ruby/lib/basecamp/generated/services/my_assignments_service.rb
  ruby/lib/basecamp/generated/services/people_service.rb
  ruby/lib/basecamp/generated/services/timesheets_service.rb
  ruby/scripts/generate-services.rb
Due: none

Keep Boost.recording as the shared RecordingParent (add optional bucket)
  go/pkg/basecamp/boosts.go
  go/pkg/basecamp/todos.go
  go/pkg/generated/client.gen.go
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/models/Boost.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/models/BoostRecording.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/models/RecordingParent.kt
  openapi.json
  python/src/basecamp/generated/types.py
  ruby/lib/basecamp/generated/types.rb
  spec/basecamp.smithy
  swift/Sources/Basecamp/Generated/Models/Boost.swift
  swift/Sources/Basecamp/Generated/Models/BoostRecording.swift
  swift/Sources/Basecamp/Generated/Models/RecordingParent.swift
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/schema.d.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Preserve project context on Everything boosts via a dedicated BoostRecording
  go/pkg/basecamp/boosts.go
  go/pkg/basecamp/everything_test.go
  go/pkg/generated/client.gen.go
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/models/BoostRecording.kt
  openapi.json
  python/src/basecamp/generated/types.py
  python/tests/services/test_everything.py
  ruby/lib/basecamp/generated/types.rb
  spec/basecamp.smithy
  swift/Sources/Basecamp/Generated/Models/Boost.swift
  swift/Sources/Basecamp/Generated/Models/BoostRecording.swift
  swift/Tests/BasecampTests/GeneratedServiceTests.swift
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/schema.d.ts
  typescript/tests/services/everything.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Register EverythingFile in the fixture-coverage manifest as an exclusion
  spec/fixtures/manifest.yaml
Due: none

Everything flat feeds: carry type-specific fields + full-projection boost type
  go/pkg/basecamp/everything.go
  go/pkg/basecamp/everything_test.go
  go/pkg/basecamp/recordings.go
  go/pkg/generated/client.gen.go
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/models/Recording.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/everything.kt
  openapi.json
  python/src/basecamp/generated/services/_async_base.py
  python/src/basecamp/generated/services/_base.py
  python/src/basecamp/generated/types.py
  ruby/lib/basecamp/generated/metadata.json
  ruby/lib/basecamp/generated/types.rb
  spec/basecamp.smithy
  swift/Sources/Basecamp/Generated/Models/EverythingBoost.swift
  swift/Sources/Basecamp/Generated/Models/Recording.swift
  swift/Sources/Basecamp/Generated/Services/EverythingService.swift
  swift/Tests/BasecampTests/GeneratedServiceTests.swift
  typescript/src/generated/metadata.ts
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/schema.d.ts
  typescript/src/generated/services/everything.ts
  typescript/tests/services/everything.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Everything feeds: carry message category, register EverythingBoost typing
  go/pkg/basecamp/everything_test.go
  go/pkg/basecamp/recordings.go
  go/pkg/generated/client.gen.go
  kotlin/generator/src/main/kotlin/com/basecamp/sdk/generator/Config.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/models/EverythingBoost.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/models/Recording.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/models/RecordingCategory.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/services/everything.kt
  openapi.json
  python/src/basecamp/generated/types.py
  ruby/lib/basecamp/generated/metadata.json
  ruby/lib/basecamp/generated/types.rb
  spec/basecamp.smithy
  swift/Sources/Basecamp/Generated/Models/Recording.swift
  swift/Sources/Basecamp/Generated/Models/RecordingCategory.swift
  typescript/scripts/generate-services.ts
  typescript/src/generated/metadata.ts
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/schema.d.ts
  typescript/src/generated/services/everything.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Re-export EverythingBoost result type from the package root
  ruby/lib/basecamp/generated/types.rb
  typescript/src/index.ts
Due: typescript-lint, typescript-typecheck

Apply SPEC §10 to the new aggregate scalars; correct the service inventory
  SPEC.md
  go/pkg/basecamp/everything.go
  go/pkg/basecamp/everything_test.go
  go/pkg/basecamp/recordings.go
  go/pkg/generated/client.gen.go
  kotlin/generator/src/main/kotlin/com/basecamp/sdk/generator/ModelEmitter.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/models/EverythingBoost.kt
  openapi.json
  python/src/basecamp/generated/types.py
  ruby/lib/basecamp/generated/metadata.json
  ruby/lib/basecamp/generated/types.rb
  scripts/enhance-openapi-go-types.sh
  spec/basecamp.smithy
  swift/Sources/Basecamp/Generated/Models/EverythingBoost.swift
  typescript/src/generated/metadata.ts
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/schema.d.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Python: detect X-Total-Count absence directly for unpaginated lists
  python/src/basecamp/generated/services/_async_base.py
  python/src/basecamp/generated/services/_base.py
  python/tests/services/test_everything.py
Due: none

Address #435 re-review: RecordingCategory.icon pointer, AGENTS counts, unpaginated total
  AGENTS.md
  go.work.sum
  go/pkg/basecamp/recordings.go
  go/pkg/generated/client.gen.go
  openapi.json
  python/src/basecamp/generated/services/_async_base.py
  python/src/basecamp/generated/services/_base.py
  ruby/lib/basecamp/generated/metadata.json
  ruby/lib/basecamp/generated/types.rb
  scripts/enhance-openapi-go-types.sh
  typescript/package-lock.json
  typescript/src/generated/metadata.ts
  typescript/src/generated/openapi-stripped.json
Due: go-test-short, typescript-lint, typescript-typecheck

Python functional TypedDicts: keep NotRequired evaluable, quote only schema refs
  python/scripts/generate_types.py
  python/src/basecamp/generated/types.py
  ruby/lib/basecamp/generated/metadata.json
  ruby/lib/basecamp/generated/types.rb
  typescript/src/generated/metadata.ts
Due: typescript-lint, typescript-typecheck

Python types: preserve reserved-keyword JSON keys via functional TypedDict
  python/scripts/generate_types.py
  python/src/basecamp/generated/types.py
  ruby/lib/basecamp/generated/metadata.json
  ruby/lib/basecamp/generated/types.rb
  typescript/src/generated/metadata.ts
Due: typescript-lint, typescript-typecheck

Python types: guard the synthetic system_label injection
  python/scripts/generate_types.py
  ruby/lib/basecamp/generated/metadata.json
  ruby/lib/basecamp/generated/types.rb
  typescript/src/generated/metadata.ts
Due: typescript-lint, typescript-typecheck

Regenerate after rebasing onto main (#393 message-types + #456 freshness gates)
  go/pkg/basecamp/url-routes.json
  go/pkg/generated/client.gen.go
  ruby/lib/basecamp/generated/metadata.json
  ruby/lib/basecamp/generated/types.rb
  typescript/src/generated/metadata.ts
  typescript/src/generated/schema.d.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Model bucket-group required members as non-optional values in Go
  go/pkg/basecamp/everything.go
  go/pkg/basecamp/everything_test.go
Due: go-test-short

Bump documented op count to 226 for the bucket-grouped everything family
  AGENTS.md
  SPEC.md
Due: none

Cap the paginated bucket-grouped Everything live canaries with maxItems
  conformance/runner/typescript/live-dispatch.ts
Due: none

Rename OpenTodos page-param test to avoid the forwards-feed ambiguity
  go/pkg/basecamp/everything_test.go
Due: go-test-short

Export bucket-family Everything types and fix non-idempotent count (157)
  SPEC.md
  typescript/src/index.ts
Due: typescript-lint, typescript-typecheck

Path conditions:
  go-test-short: any of: \.go$
  typescript-lint: any of: ^typescript/.*\.(ts|tsx)$
  typescript-typecheck: any of: ^typescript/.*\.(ts|tsx)$
