Repository basecamp/basecamp-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-test-short, typescript-lint, typescript-typecheck

go-test-short:
  name: go test -short
  entry: bash -c 'cd go && go test -short ./...'
  language: system
  pass_filenames: false
  stages:
  - push

typescript-lint:
  name: typescript lint
  entry: bash -c 'cd typescript && npm run lint --if-present'
  language: system
  pass_filenames: false
  stages:
  - commit

typescript-typecheck:
  name: typescript typecheck
  entry: bash -c 'cd typescript && npm run typecheck --if-present'
  language: system
  pass_filenames: false
  stages:
  - push

Give the projected examples the color their schema now requires
  openapi.json
  spec/overlays/examples.smithy
  spec/smithy-build.json
  typescript/src/generated/openapi-stripped.json
Due: none

Treat a multi-word quoted span as data, except inside sh -c
  scripts/check-npm-lockfile-readonly
  scripts/test-check-npm-lockfile-readonly
Due: none

Decode embedded escapes; only classify words in command position
  scripts/check-npm-lockfile-readonly
  scripts/test-check-npm-lockfile-readonly
Due: none

Carry the two required keys into the permissive SDKs' inline stubs too
  python/tests/services/test_todolists_service.py
  ruby/test/basecamp/services/todolist_groups_service_test.rb
  ruby/test/basecamp/services/todolists_service_test.rb
  typescript/tests/services/todolistGroups.test.ts
Due: typescript-lint, typescript-typecheck

Drop npm exec from the allowlist; assignments keep the command position
  scripts/check-npm-lockfile-readonly
  scripts/test-check-npm-lockfile-readonly
Due: none

Finish the stub sweep: the group-list elements were the last two
  typescript/tests/services/todolistGroups.test.ts
Due: typescript-lint, typescript-typecheck

Observe the invariant instead of only predicting it
  .github/workflows/test.yml
  Makefile
  scripts/assert-lockfiles-unchanged
  scripts/test-assert-lockfiles-unchanged
Due: none

Publish Todolist.color and comments_app_url as required (#630) (#637)
  SPEC.md
  conformance/tests/todolists_write.json
  go/pkg/basecamp/todolists.go
  go/pkg/generated/client.gen.go
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/generated/models/Todolist.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/TodolistsServiceTest.kt
  openapi.json
  python/src/basecamp/generated/types.py
  python/tests/services/test_todolists_service.py
  ruby/lib/basecamp/generated/types.rb
  ruby/test/basecamp/services/todolist_groups_service_test.rb
  ruby/test/basecamp/services/todolists_service_test.rb
  spec/basecamp.smithy
  spec/overlays/examples.smithy
  spec/smithy-build.json
  swift/Sources/Basecamp/Generated/Models/Todolist.swift
  swift/Tests/BasecampTests/GeneratedServiceTests.swift
  swift/Tests/BasecampTests/TodolistsServiceExtensionsTests.swift
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/schema.d.ts
  typescript/tests/services/todolistGroups.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Model the bare {field: [messages]} error bodies (#550)
  go/pkg/generated/client.gen.go
  openapi.json
  spec/basecamp.smithy
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/schema.d.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Tripwire: watch the filesystem, and report even when the checks fail
  Makefile
  scripts/assert-lockfiles-unchanged
  scripts/test-assert-lockfiles-unchanged
Due: none

Tripwire: cover the Go checksum files too
  scripts/assert-lockfiles-unchanged
  scripts/test-assert-lockfiles-unchanged
Due: none

Keywords keep the command position; one snapshot per check invocation
  Makefile
  scripts/assert-lockfiles-unchanged
  scripts/check-npm-lockfile-readonly
  scripts/test-assert-lockfiles-unchanged
  scripts/test-check-npm-lockfile-readonly
Due: none

Go: export Ptr and Deref so consumers stop hand-rolling them
  go/README.md
  go/pkg/basecamp/doc.go
  go/pkg/basecamp/example_test.go
  go/pkg/basecamp/helpers.go
  go/pkg/basecamp/pointers.go
  go/pkg/basecamp/pointers_test.go
Due: go-test-short

Make the byte comparison authoritative in CI, on every job
  .github/workflows/security.yml
  .github/workflows/test.yml
  scripts/assert-lockfiles-unchanged
  scripts/test-assert-lockfiles-unchanged
Due: none

CI: run the manifest check from the repo root
  .github/workflows/security.yml
  .github/workflows/test.yml
Due: none

CI: skip the manifest check in the aggregator job
  .github/workflows/test.yml
Due: none

Go: export Ptr and Deref so consumers stop hand-rolling them (#643)
  go/README.md
  go/pkg/basecamp/doc.go
  go/pkg/basecamp/example_test.go
  go/pkg/basecamp/helpers.go
  go/pkg/basecamp/pointers.go
  go/pkg/basecamp/pointers_test.go
Due: go-test-short

Demote the static parser to a diagnostic; the byte comparison is the gate
  .github/workflows/test.yml
  Makefile
  scripts/assert-lockfiles-unchanged
  scripts/lint-npm-lockfile-writes
  scripts/test-lint-npm-lockfile-writes
Due: none

Export the three entity types consumers could not name
  typescript/src/index.ts
Due: typescript-lint, typescript-typecheck

Stop `make check` rewriting typescript/package-lock.json (#631)
  .github/workflows/security.yml
  .github/workflows/test.yml
  CONTRIBUTING.md
  Makefile
  conformance/runner/typescript/assert-sdk-built.mjs
  conformance/runner/typescript/package.json
  scripts/assert-lockfiles-unchanged
  scripts/lint-npm-lockfile-writes
  scripts/test-assert-lockfiles-unchanged
  scripts/test-assert-sdk-built
  scripts/test-lint-npm-lockfile-writes
  typescript/package-lock.json
  typescript/package.json
Due: none

Event-feed conformance families, their gates, and the §23 G-SD repair
  Makefile
  SPEC.md
  conformance/event-feed-digest/README.md
  conformance/event-feed-digest/fixtures/srv1-vectors.json
  conformance/event-feed-digest/schema.json
  conformance/event-feed/README.md
  conformance/event-feed/fixtures/01-happy-path-confirm-catchup-stream.json
  conformance/event-feed/fixtures/02-confirmation-gating.json
  conformance/event-feed/fixtures/03-confirmation-deadline-teardown.json
  conformance/event-feed/fixtures/04-terminal-rejection.json
  conformance/event-feed/fixtures/05-fresh-ticket-reconnect-after-ttl.json
  conformance/event-feed/fixtures/06-protocol-fatal-disconnect.json
  conformance/event-feed/fixtures/07-unauthorized-disconnect-reconnects.json
  conformance/event-feed/fixtures/12-checkpoint-after-handoff.json
  conformance/event-feed/fixtures/16-gap-410-accepted-resume.json
  conformance/event-feed/fixtures/17-remote-disconnect-remint.json
  conformance/event-feed/fixtures/19-present-entry-buffered-lower-id.json
  conformance/event-feed/fixtures/20-present-entry-post-snapshot-straggler.json
  conformance/event-feed/fixtures/21-overflow-default-terminal.json
  conformance/event-feed/fixtures/22-overflow-accepted.json
  conformance/event-feed/fixtures/23-gap-410-default-terminal.json
  conformance/event-feed/fixtures/24-overflow-handler-terminate.json
  conformance/event-feed/fixtures/25-gap-handler-terminate.json
  conformance/event-feed/fixtures/26-hostile-next-cross-origin.json
  conformance/event-feed/fixtures/27-hostile-resume-cross-origin.json
  conformance/event-feed/fixtures/28-checkpoint-load-failure.json
  conformance/event-feed/fixtures/29-checkpoint-save-failure-continues.json
  conformance/event-feed/fixtures/30-continuation-redirect-cross-origin.json
  conformance/event-feed/schema.json
Due: none

Gate the generated TypeScript aliases nobody could import
  .github/workflows/test.yml
  Makefile
  scripts/check-typescript-entity-exports.py
Due: none

Stop publishing response examples that contradict their own schemas (#644)
  Makefile
  openapi.json
  ruby/lib/basecamp/generated/metadata.json
  ruby/lib/basecamp/generated/types.rb
  spec/overlays/examples.smithy
  spec/smithy-bare-arrays/build.gradle.kts
  spec/smithy-bare-arrays/src/main/java/com/basecamp/smithy/BareArrayExtension.java
  spec/smithy-bare-arrays/src/main/java/com/basecamp/smithy/BareResponseExampleMapper.java
  spec/smithy-bare-arrays/src/test/java/com/basecamp/smithy/BareArrayResponseMapperTest.java
  spec/smithy-bare-arrays/src/test/java/com/basecamp/smithy/BareObjectResponseMapperTest.java
  spec/smithy-bare-arrays/src/test/java/com/basecamp/smithy/BareResponseExampleMapperTest.java
  spec/smithy-build.json
  typescript/src/generated/metadata.ts
  typescript/src/generated/openapi-stripped.json
Due: typescript-lint, typescript-typecheck

Cards: send "due_on": "" to clear, and drop the preservation GET
  SPEC.md
  conformance/tests/cards_write.json
  go/pkg/basecamp/cards.go
  go/pkg/basecamp/cards_test.go
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/services/CardsService.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/CardsServiceTest.kt
  python/src/basecamp/services/cards.py
  python/tests/services/test_cards.py
  ruby/lib/basecamp.rb
  ruby/lib/basecamp/services/cards_extensions.rb
  ruby/scripts/generate-services.rb
  ruby/test/basecamp/services/cards_service_test.rb
  spec/api-provenance.json
  swift/Sources/Basecamp/CardsServiceExtensions.swift
  swift/Tests/BasecampTests/CardsServiceExtensionsTests.swift
  typescript/scripts/generate-services.ts
  typescript/src/index.ts
  typescript/src/services/cards-extensions.ts
  typescript/tests/services/cards.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Sync the Go provenance mirror to bc3 4e34dc83eb
  go/pkg/basecamp/api-provenance.json
Due: none

Triage the 4dd2926f8a..4e34dc83eb repin range and resync doc constants
  COORDINATION.md
  SPEC.md
  spec/api-gaps/README.md
  spec/doc-constants.json
Due: none

Rebuild spec/bc3-routes.json at 4e34dc83eb (routes byte-identical; only the pin moves)
  spec/bc3-routes.json
Due: none

Address the #645 review: a redirect-refusal kind on the poll seam
  SPEC.md
Due: none

Allowlist srv1 checkpoint filter keys in gitleaks
  .gitleaks.toml
Due: none

Run the event-feed fixture gates in PR CI
  .github/workflows/test.yml
Due: none

Correct the last omit-clears prose in the Go template and name-override comments
  go/pkg/basecamp/cards_test.go
  go/templates/client.tmpl
  kotlin/generator/src/main/kotlin/com/basecamp/sdk/generator/Config.kt
  python/scripts/generate_services.py
  swift/Sources/BasecampGenerator/MethodNaming.swift
Due: go-test-short

Ruby generator: emit a bare `#` for a paragraph break in a @param description
  ruby/lib/basecamp/generated/metadata.json
  ruby/lib/basecamp/generated/services/schedules_service.rb
  ruby/lib/basecamp/generated/types.rb
  ruby/scripts/generate-services.rb
  ruby/test/scripts/generate_services_test.rb
  typescript/src/generated/metadata.ts
Due: typescript-lint, typescript-typecheck

Cards: explicit due-date clears silently no-op against production — send "due_on": "" (#647)
  COORDINATION.md
  SPEC.md
  conformance/tests/cards_write.json
  go/pkg/basecamp/api-provenance.json
  go/pkg/basecamp/cards.go
  go/pkg/basecamp/cards_test.go
  go/templates/client.tmpl
  kotlin/generator/src/main/kotlin/com/basecamp/sdk/generator/Config.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/services/CardsService.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/CardsServiceTest.kt
  python/scripts/generate_services.py
  python/src/basecamp/services/cards.py
  python/tests/services/test_cards.py
  ruby/lib/basecamp.rb
  ruby/lib/basecamp/services/cards_extensions.rb
  ruby/scripts/generate-services.rb
  ruby/test/basecamp/services/cards_service_test.rb
  spec/api-gaps/README.md
  spec/api-provenance.json
  spec/bc3-routes.json
  spec/doc-constants.json
  swift/Sources/Basecamp/CardsServiceExtensions.swift
  swift/Sources/BasecampGenerator/MethodNaming.swift
  swift/Tests/BasecampTests/CardsServiceExtensionsTests.swift
  typescript/scripts/generate-services.ts
  typescript/src/index.ts
  typescript/src/services/cards-extensions.ts
  typescript/tests/services/cards.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Go: an empty upcoming-schedule window bound is a local usage error, not a server 400
  go/pkg/basecamp/reports.go
  go/pkg/basecamp/reports_test.go
Due: go-test-short

Go: thread #641's join link, highlight and status through the public create request
  conformance/runner/go/main.go
  conformance/runner/python/runner.py
  conformance/runner/ruby/runner.rb
  conformance/runner/swift/Sources/ConformanceRunner/Dispatch.swift
  conformance/runner/typescript/runner.test.ts
  conformance/tests/schedule_entries_write.json
  go/pkg/basecamp/schedules.go
  go/pkg/basecamp/schedules_test.go
  kotlin/conformance/src/main/kotlin/com/basecamp/sdk/conformance/Main.kt
Due: go-test-short

Ruby: max_retries: 0 made zero requests on an ungoverned GET (#532)
  SPEC.md
  ruby/README.md
  ruby/lib/basecamp/http.rb
  ruby/test/basecamp/http_test.rb
Due: none

Route-parity allowlist: verify tracking issues are still OPEN (#613)
  .github/workflows/test.yml
  Makefile
  scripts/check-bc3-route-parity
  scripts/check-known-defect-issues-open
Due: none

Path conditions:
  go-test-short: any of: \.go$
  typescript-lint: any of: ^typescript/.*\.(ts|tsx)$
  typescript-typecheck: any of: ^typescript/.*\.(ts|tsx)$
