Repository basecamp/basecamp-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-test-short, typescript-lint, typescript-typecheck

go-test-short:
  name: go test -short
  entry: bash -c 'cd go && go test -short ./...'
  language: system
  pass_filenames: false
  stages:
  - push

typescript-lint:
  name: typescript lint
  entry: bash -c 'cd typescript && npm run lint --if-present'
  language: system
  pass_filenames: false
  stages:
  - commit

typescript-typecheck:
  name: typescript typecheck
  entry: bash -c 'cd typescript && npm run typecheck --if-present'
  language: system
  pass_filenames: false
  stages:
  - push

Ensure breaking label exists before applying it
  .github/workflows/ai-labeler.yml
Due: none

Fix breaking detector: read response from file, strip code fences
  .github/workflows/ai-labeler.yml
Due: none

Fix breaking detector: read response from file, strip code fences (#125)
  .github/workflows/ai-labeler.yml
Due: none

Fix gofmt alignment in error code constants
  go/pkg/basecamp/errors.go
Due: go-test-short

Add ExitValidation exit code for CodeValidation errors
  go/pkg/basecamp/errors.go
  go/pkg/basecamp/errors_test.go
Due: go-test-short

Update TS conformance runner for @37signals/basecamp package name
  conformance/runner/typescript/package-lock.json
  conformance/runner/typescript/package.json
  conformance/runner/typescript/runner.test.ts
Due: none

Fix release workflow OpenAPI validation, add CI scanning
  .github/workflows/release.yml
Due: none

Address PR review: fix duplicate version check, use CodeValidation for 422
  .github/workflows/release.yml
  go/pkg/basecamp/errors.go
  go/pkg/basecamp/helpers.go
  go/pkg/basecamp/helpers_test.go
Due: go-test-short

Build TS SDK before running conformance tests in CI
  .github/workflows/test.yml
Due: none

Launch verdict fix-ups: P0 pipeline fixes, documentation accuracy, conformance hardening (#118)
  .github/workflows/test.yml
  conformance/runner/typescript/package-lock.json
  conformance/runner/typescript/package.json
  conformance/runner/typescript/runner.test.ts
  go/pkg/basecamp/errors.go
  go/pkg/basecamp/errors_test.go
  go/pkg/basecamp/helpers.go
  go/pkg/basecamp/helpers_test.go
Due: go-test-short

Fix breaking detector: remove unsafe sed, add issues:write permission
  .github/workflows/ai-labeler.yml
Due: none

Rebuild SDK before conformance tests to prevent stale dist/ failures
  conformance/runner/typescript/package.json
Due: none

Fix breaking detector: remove unsafe sed, add issues:write permission (#127)
  .github/workflows/ai-labeler.yml
Due: none

Ensure SDK deps are installed before pretest build
  conformance/runner/typescript/package.json
Due: none

Exit code parity: validation (9) and ambiguous (8) across all SDKs
  go/README.md
  kotlin/README.md
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/BasecampException.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/ErrorTest.kt
  ruby/lib/basecamp/errors.rb
  ruby/test/basecamp/errors_test.rb
  swift/README.md
  swift/Sources/Basecamp/BasecampError.swift
  swift/Tests/BasecampTests/ErrorTests.swift
  typescript/README.md
  typescript/src/errors.ts
  typescript/tests/errors.test.ts
Due: typescript-lint, typescript-typecheck

Fix TS build: remove redundant postbuild invocation
  typescript/package.json
Due: none

Rebuild SDK before conformance tests to prevent stale dist/ failures (#128)
  conformance/runner/typescript/package.json
Due: none

Add CodeQL workflow for all 5 SDK languages
  .github/codeql/codeql-config.yml
  .github/workflows/codeql.yml
Due: none

Add SARIF filter regression test
  .github/codeql/test-sarif-filter.sh
  .github/codeql/testdata/sarif-filter-fixture.json
Due: none

Fix TS build: remove redundant postbuild invocation (#130)
  typescript/package.json
Due: none

Fix validation exit code comment to reflect HTTP 400/422
  typescript/src/errors.ts
Due: typescript-lint, typescript-typecheck

Fix Go README: validation covers 400 and 422, not just 422
  go/README.md
Due: none

Fix Kotlin CodeQL: disable Gradle build cache so extractor sees compilation
  .github/workflows/codeql.yml
Due: none

Add ts-install target so TS targets auto-install dependencies
  Makefile
Due: none

Splice user messages into prompt YAML instead of yaml round-tripping
  .github/workflows/ai-labeler.yml
Due: none

Add defensive jq guard for invalid model responses in breaking detector
  .github/workflows/ai-labeler.yml
Due: none

Fix ai-labeler: splice prompts instead of yaml round-trip, guard jq parse (#134)
  .github/workflows/ai-labeler.yml
Due: none

Exit code parity: validation (9) and ambiguous (8) across all SDKs (#129)
  go/README.md
  kotlin/README.md
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/BasecampException.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/ErrorTest.kt
  ruby/lib/basecamp/errors.rb
  ruby/test/basecamp/errors_test.rb
  swift/README.md
  swift/Sources/Basecamp/BasecampError.swift
  swift/Tests/BasecampTests/ErrorTests.swift
  typescript/README.md
  typescript/src/errors.ts
  typescript/tests/errors.test.ts
Due: typescript-lint, typescript-typecheck

Add ts-install target so TS targets auto-install dependencies (#133)
  Makefile
Due: none

Add manifest file patterns to dependencies label globs
  .github/labeler.yml
Due: none

Auto-merge all patch and minor Dependabot updates, excluding Actions
  .github/workflows/dependabot-auto-merge.yml
Due: none

Expand Dependabot coverage and add semantic dependency groups
  .github/dependabot.yml
Due: none

Dependabot: full monorepo coverage, semantic groups, tighter auto-merge (#131)
  .github/dependabot.yml
  .github/labeler.yml
  .github/workflows/dependabot-auto-merge.yml
Due: none

Skip Swift CodeQL on PRs that don't touch swift/
  .github/workflows/codeql.yml
Due: none

Path-filter all SDK languages, not just Swift
  .github/workflows/codeql.yml
Due: none

Add CodeQL analysis for all 5 SDK languages (#132)
  .github/codeql/codeql-config.yml
  .github/codeql/test-sarif-filter.sh
  .github/codeql/testdata/sarif-filter-fixture.json
  .github/workflows/codeql.yml
Due: none

Preserve file permissions in sedi helper
  scripts/bump-version.sh
  scripts/sync-api-version.sh
Due: none

Bump to 0.2.1, add API version constant, update User-Agent
  go/pkg/basecamp/client.go
  go/pkg/basecamp/version.go
  kotlin/README.md
  kotlin/sdk/build.gradle.kts
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/BasecampConfig.kt
  package.json
  ruby/Gemfile.lock
  ruby/lib/basecamp/http.rb
  ruby/lib/basecamp/version.rb
  swift/README.md
  swift/Sources/Basecamp/BasecampConfig.swift
  typescript/package-lock.json
  typescript/package.json
  typescript/src/client.ts
  typescript/src/index.ts
  typescript/src/services/authorization.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Add make bump and make sync-api-version for release automation
  Makefile
  scripts/bump-version.sh
  scripts/sync-api-version.sh
Due: none

Address PR review: fix check recipe, jq guard, README, stderr redirect
  Makefile
  kotlin/README.md
  scripts/bump-version.sh
Due: none

Path conditions:
  go-test-short: any of: \.go$
  typescript-lint: any of: ^typescript/.*\.(ts|tsx)$
  typescript-typecheck: any of: ^typescript/.*\.(ts|tsx)$
