Repository basecamp/basecamp-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-test-short, typescript-lint, typescript-typecheck

go-test-short:
  name: go test -short
  entry: bash -c 'cd go && go test -short ./...'
  language: system
  pass_filenames: false
  stages:
  - push

typescript-lint:
  name: typescript lint
  entry: bash -c 'cd typescript && npm run lint --if-present'
  language: system
  pass_filenames: false
  stages:
  - commit

typescript-typecheck:
  name: typescript typecheck
  entry: bash -c 'cd typescript && npm run typecheck --if-present'
  language: system
  pass_filenames: false
  stages:
  - push

conformance(ts): keep persisted operation authoritative in snapshot spread
  conformance/runner/typescript/live-runner.test.ts
Due: none

conformance: pairwise BC4↔BC5 schema + canonical memories rule
  conformance/schema.json
  conformance/tests/live-my-surface.json
Due: none

wrappers: standardize nested Person on personFromGenerated
  go/pkg/basecamp/boosts.go
  go/pkg/basecamp/campfires.go
  go/pkg/basecamp/cards.go
  go/pkg/basecamp/checkins.go
  go/pkg/basecamp/client_approvals.go
  go/pkg/basecamp/client_correspondences.go
  go/pkg/basecamp/client_replies.go
  go/pkg/basecamp/comments.go
  go/pkg/basecamp/events.go
  go/pkg/basecamp/forwards.go
  go/pkg/basecamp/message_boards.go
  go/pkg/basecamp/messages.go
  go/pkg/basecamp/recordings.go
  go/pkg/basecamp/reports.go
  go/pkg/basecamp/schedules.go
  go/pkg/basecamp/search.go
  go/pkg/basecamp/timeline.go
  go/pkg/basecamp/timesheet.go
  go/pkg/basecamp/todolist_groups.go
  go/pkg/basecamp/todolists.go
  go/pkg/basecamp/todos.go
  go/pkg/basecamp/todosets.go
  go/pkg/basecamp/vaults.go
Due: go-test-short

scripts: pairwise canary comparison
  scripts/compare-canary-runs.sh
Due: none

make: conformance-live + check-bc5-compat orchestrators
  Makefile
Due: none

ci+docs: live-canary scheduled workflow + CONTRIBUTING pairwise section
  .github/workflows/live-canary.yml
  CONTRIBUTING.md
Due: none

docs: drop stale PR-numbered references to canary infra
  CONTRIBUTING.md
  COORDINATION.md
Due: none

wrappers: cross-cutting Recording-shaped fields
  go/pkg/basecamp/campfires.go
  go/pkg/basecamp/checkins.go
  go/pkg/basecamp/comments.go
  go/pkg/basecamp/forwards.go
  go/pkg/basecamp/message_boards.go
  go/pkg/basecamp/messages.go
  go/pkg/basecamp/recordings.go
  go/pkg/basecamp/schedules.go
  go/pkg/basecamp/timesheet.go
  go/pkg/basecamp/todolists.go
Due: go-test-short

wrappers: BC5 forward-compat fields
  go/pkg/basecamp/my_notifications.go
  go/pkg/basecamp/people.go
  go/pkg/basecamp/todos.go
  go/pkg/basecamp/todosets.go
Due: go-test-short

wrappers: one-off structural fields
  go/pkg/basecamp/campfires.go
  go/pkg/basecamp/forwards.go
  go/pkg/basecamp/gauges.go
  go/pkg/basecamp/message_boards.go
  go/pkg/basecamp/my_notifications.go
  go/pkg/basecamp/my_notifications_test.go
  go/pkg/basecamp/people.go
  go/pkg/basecamp/projects.go
  go/pkg/basecamp/templates.go
  go/pkg/basecamp/todos.go
Due: go-test-short

wrappers: close remaining structural gaps surfaced by drift audit
  go/pkg/basecamp/cards.go
  go/pkg/basecamp/events.go
  go/pkg/basecamp/todos.go
  go/pkg/basecamp/vaults.go
Due: go-test-short

scripts: field-level wrapper drift check
  Makefile
  go.work
  scripts/check-wrapper-drift/go.mod
  scripts/check-wrapper-drift/main.go
  scripts/check-wrapper-drift/main_test.go
Due: go-test-short

wrappers: tests for new field propagation
  go/BRIEF-bc5-forward-compat-wrappers.md
  go/pkg/basecamp/wrapper_propagation_test.go
Due: go-test-short

wrappers: gofmt long-tag struct alignment
  go/pkg/basecamp/my_notifications.go
  go/pkg/basecamp/todos.go
  go/pkg/basecamp/todosets.go
Due: go-test-short

Expose timeout on Kotlin client builder; disable in tests
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/BasecampClient.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/BasecampConfig.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/AuthStrategyTest.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/ClientTest.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/CommentsServiceTest.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/DownloadTest.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/PaginationTest.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/PeopleServiceTest.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/ProjectsServiceTest.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/RetryTest.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/TestBasecampClient.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/TodosServiceTest.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/WebhooksServiceTest.kt
Due: none

Expose timeout on Kotlin client builder; disable in tests (#317)
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/BasecampClient.kt
  kotlin/sdk/src/commonMain/kotlin/com/basecamp/sdk/BasecampConfig.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/AuthStrategyTest.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/ClientTest.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/CommentsServiceTest.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/DownloadTest.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/PaginationTest.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/PeopleServiceTest.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/ProjectsServiceTest.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/RetryTest.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/TestBasecampClient.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/TodosServiceTest.kt
  kotlin/sdk/src/commonTest/kotlin/com/basecamp/sdk/WebhooksServiceTest.kt
Due: none

conformance: address PR #308 review threads + reframe memories canary rule
  .github/workflows/live-canary.yml
  CONTRIBUTING.md
  Makefile
  conformance/schema.json
  conformance/tests/live-my-surface.json
  scripts/compare-canary-runs.sh
  scripts/test-compare-canary-runs.sh
Due: none

conformance: clarify BC4 branch reference in memories waiver reason
  CONTRIBUTING.md
  conformance/tests/live-my-surface.json
Due: none

spec(api-gaps): BC5 launch reconciliation — memories regression + scope cuts
  COORDINATION.md
  spec/api-gaps/README.md
  spec/api-gaps/activity-timeline.md
  spec/api-gaps/everything-aggregates.md
  spec/api-gaps/memories-emptied-regression.md
  spec/api-gaps/stack-doc-and-smithy.md
Due: none

spec(api-gaps): resolve #325 review threads (group count + activity status)
  spec/api-gaps/activity-timeline.md
  spec/api-gaps/everything-aggregates.md
Due: none

spec: align memories doc comment with the reconciliation + regenerate
  go/pkg/generated/client.gen.go
  openapi.json
  ruby/lib/basecamp/generated/metadata.json
  ruby/lib/basecamp/generated/types.rb
  spec/basecamp.smithy
  typescript/src/generated/metadata.json
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/schema.d.ts
Due: go-test-short, typescript-lint, typescript-typecheck

spec(api-gaps): clarify the memories waiver lives in PR #308, not this branch
  spec/api-gaps/memories-emptied-regression.md
Due: none

scripts: wrapper drift check verifies field population, not just tags
  Makefile
  scripts/check-wrapper-drift/main.go
  scripts/check-wrapper-drift/main_test.go
Due: go-test-short

wrappers: stop omitempty hiding false bools and zero timestamps
  go/pkg/basecamp/forwards.go
  go/pkg/basecamp/my_notifications.go
  go/pkg/basecamp/timesheet.go
Due: go-test-short

docs(coordination): attribute the memories canary waiver to PR #308
  COORDINATION.md
Due: none

wrappers: tighten propagation test assertions to exact values
  go/pkg/basecamp/wrapper_propagation_test.go
Due: go-test-short

scripts: scope wrapper-drift population walk to the wrapper instance
  scripts/check-wrapper-drift/main.go
  scripts/check-wrapper-drift/main_test.go
Due: go-test-short

wrappers: preserve flexible notification person ids on decode
  go/pkg/basecamp/my_notifications.go
  go/pkg/basecamp/my_notifications_test.go
  go/pkg/basecamp/normalize.go
  go/pkg/basecamp/todos.go
Due: go-test-short

wrappers: preserve flexible gauge person ids; share embedded-person normalize
  go/pkg/basecamp/gauges.go
  go/pkg/basecamp/my_notifications.go
  go/pkg/basecamp/normalize.go
  go/pkg/basecamp/todos.go
  go/pkg/basecamp/wrapper_propagation_test.go
Due: go-test-short

wrappers: drop omitempty from required visible_to_clients/inherits_status
  go/pkg/basecamp/comments.go
  go/pkg/basecamp/message_boards.go
  go/pkg/basecamp/messages.go
  go/pkg/basecamp/todos.go
Due: go-test-short

wrappers: test required-bool marshaling; fix stale normalize name in comment
  go/pkg/basecamp/my_notifications_test.go
  go/pkg/basecamp/wrapper_propagation_test.go
Due: go-test-short

wrappers: clear golangci-lint findings in normalize.go
  go/pkg/basecamp/my_notifications_test.go
  go/pkg/basecamp/normalize.go
Due: go-test-short

scripts: enumerate complete direct-decode pair set
  scripts/check-wrapper-drift/main.go
  scripts/check-wrapper-drift/main_test.go
Due: go-test-short

wrappers: route subscription subscribers through personFromGenerated
  go/pkg/basecamp/subscriptions.go
  go/pkg/basecamp/wrapper_propagation_test.go
Due: go-test-short

docs(brief): align omit-marker syntax + BubbleUpAt pointer choice
  go/BRIEF-bc5-forward-compat-wrappers.md
Due: none

scripts: extend wrapper-drift map with inline-converted tier
  scripts/check-wrapper-drift/main.go
  scripts/check-wrapper-drift/main_test.go
Due: go-test-short

scripts: extend wrapper-drift walker to population-check tier 3
  scripts/check-wrapper-drift/main.go
Due: go-test-short

scripts: regression tests for tier-3 composite-literal walker
  scripts/check-wrapper-drift/main_test.go
Due: go-test-short

scripts: run wrapper-drift tests as part of the make target
  Makefile
Due: none

wrappers: extend required-bool serialization test to Inbox/Forward/ForwardReply/TimesheetEntry
  go/pkg/basecamp/wrapper_propagation_test.go
Due: go-test-short

Path conditions:
  go-test-short: any of: \.go$
  typescript-lint: any of: ^typescript/.*\.(ts|tsx)$
  typescript-typecheck: any of: ^typescript/.*\.(ts|tsx)$
