Repository basecamp/basecamp-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-test-short, typescript-lint, typescript-typecheck

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
      - id: detect-private-key
      - id: check-case-conflict

  - repo: https://github.com/golangci/golangci-lint
    rev: v1.62.2
    hooks:
      - id: golangci-lint
        args: [--timeout=5m, --config=go/.golangci.yml]
        files: ^go/

  - repo: https://github.com/tekwizely/pre-commit-golang
    rev: v1.0.0-rc.1
    hooks:
      - id: go-fmt
        files: ^go/
      - id: go-vet
        files: ^go/
      - id: go-mod-tidy
        files: ^go/

  - repo: local
    hooks:
      - id: go-test-short
        name: go test -short
        entry: bash -c 'cd go && go test -short ./...'
        language: system
        pass_filenames: false
        types: [go]
        stages: [push]

      - id: typescript-lint
        name: typescript lint
        entry: bash -c 'cd typescript && npm run lint --if-present'
        language: system
        pass_filenames: false
        files: ^typescript/.*\.(ts|tsx)$
        stages: [commit]

      - id: typescript-typecheck
        name: typescript typecheck
        entry: bash -c 'cd typescript && npm run typecheck --if-present'
        language: system
        pass_filenames: false
        files: ^typescript/.*\.(ts|tsx)$
        stages: [push]

Add spec-derived URL route table generator
  Makefile
  go/pkg/basecamp/url-routes.json
  scripts/generate-url-routes
Due: none

Add Ruby 4.0 to CI test matrix
  .github/workflows/test.yml
Due: none

Add Ruby 4.0 to CI test matrix (#65)
  .github/workflows/test.yml
Due: none

Disable HTTP caching by default in Go and TypeScript SDKs
  README.md
  go/README.md
  go/pkg/basecamp/config.go
  ruby/test/basecamp/hooks_test.rb
  typescript/src/client.ts
  typescript/tests/security.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Disable HTTP caching by default in Go and TypeScript SDKs (#66)
  README.md
  go/README.md
  go/pkg/basecamp/config.go
  ruby/test/basecamp/hooks_test.rb
  typescript/src/client.ts
  typescript/tests/security.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Add Basecamp logo to README heading
  README.md
  assets/basecamp-badge.svg
Due: none

readme copy
  README.md
Due: none

Add missing todos_test.go for Todo types and request serialization
  go/pkg/basecamp/todos_test.go
Due: go-test-short

Add .localhost TLD support (RFC 6761)
  go/pkg/basecamp/auth.go
  go/pkg/basecamp/authorization.go
  go/pkg/basecamp/oauth/exchange.go
  go/pkg/basecamp/security.go
  go/pkg/basecamp/security_test.go
  ruby/lib/basecamp/config.rb
  ruby/lib/basecamp/security.rb
  ruby/test/basecamp/security_test.rb
  typescript/src/client.ts
  typescript/src/oauth/discovery.ts
  typescript/src/oauth/exchange.ts
  typescript/src/security.ts
  typescript/tests/security.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Add .localhost TLD support (RFC 6761) (#69)
  go/pkg/basecamp/auth.go
  go/pkg/basecamp/authorization.go
  go/pkg/basecamp/oauth/exchange.go
  go/pkg/basecamp/security.go
  go/pkg/basecamp/security_test.go
  ruby/lib/basecamp/config.rb
  ruby/lib/basecamp/security.rb
  ruby/test/basecamp/security_test.rb
  typescript/src/client.ts
  typescript/src/oauth/discovery.ts
  typescript/src/oauth/exchange.ts
  typescript/src/security.ts
  typescript/tests/security.test.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Generate PATH_TO_OPERATION from OpenAPI spec
  Makefile
  typescript/package.json
  typescript/scripts/generate-path-mapping.ts
  typescript/scripts/validate-path-mapping.ts
  typescript/src/client.ts
  typescript/src/generated/path-mapping.ts
Due: typescript-lint, typescript-typecheck

Generate PATH_TO_OPERATION from OpenAPI spec (#70)
  Makefile
  typescript/package.json
  typescript/scripts/generate-path-mapping.ts
  typescript/scripts/validate-path-mapping.ts
  typescript/src/client.ts
  typescript/src/generated/path-mapping.ts
Due: typescript-lint, typescript-typecheck

Add shared test helper for JSON number preservation
  go/pkg/basecamp/test_helpers_test.go
Due: go-test-short

Refactor test files to use shared unmarshalWithNumbers helper
  go/pkg/basecamp/cards_test.go
  go/pkg/basecamp/checkins_test.go
  go/pkg/basecamp/messages_test.go
  go/pkg/basecamp/subscriptions_test.go
Due: go-test-short

Use shared unmarshalWithNumbers helper in todos tests
  go/pkg/basecamp/todos_test.go
Due: go-test-short

Add CompletionSubscriberIDs serialization tests
  go/pkg/basecamp/todos_test.go
Due: go-test-short

Add todoFromGenerated conversion function tests
  go/pkg/basecamp/todos_test.go
Due: go-test-short

Add missing todos_test.go for Todo types and request serialization (#68)
  go/pkg/basecamp/cards_test.go
  go/pkg/basecamp/checkins_test.go
  go/pkg/basecamp/messages_test.go
  go/pkg/basecamp/subscriptions_test.go
  go/pkg/basecamp/test_helpers_test.go
  go/pkg/basecamp/todos_test.go
Due: go-test-short

Add HTTP mock registry for testing
  go/internal/testing/doc.go
  go/internal/testing/matchers.go
  go/internal/testing/matchers_test.go
  go/internal/testing/registry.go
  go/internal/testing/registry_test.go
  go/internal/testing/responders.go
  go/internal/testing/responders_test.go
  go/pkg/basecamp/registry_example_test.go
Due: go-test-short

Add layered config loading with multi-host support
  go/pkg/basecamp/auth.go
  go/pkg/basecamp/config.go
  go/pkg/basecamp/config_test.go
Due: go-test-short

Normalize HTTP 204 No Content to JSON null in singleRequest()
  go/pkg/basecamp/client.go
  go/pkg/basecamp/client_test.go
Due: go-test-short

Normalize HTTP 204 No Content to JSON null in singleRequest() (#77)
  go/pkg/basecamp/client.go
  go/pkg/basecamp/client_test.go
Due: go-test-short

Fix GetProjectTimeline path from /buckets/ to /projects/
  go/pkg/basecamp/url-routes.json
  go/pkg/generated/client.gen.go
  openapi.json
  ruby/lib/basecamp/generated/metadata.json
  ruby/lib/basecamp/generated/services/timeline_service.rb
  ruby/lib/basecamp/generated/types.rb
  spec/basecamp.smithy
  typescript/src/generated/metadata.json
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/path-mapping.ts
  typescript/src/generated/schema.d.ts
  typescript/src/generated/services/index.ts
  typescript/src/generated/services/timeline.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Fix Ruby timeline test stub to use /projects/ path
  ruby/test/basecamp/services/timeline_service_test.rb
Due: none

Add requestPath assertion to conformance tests
  conformance/runner/go/main.go
  conformance/schema.json
  conformance/tests/paths.json
Due: go-test-short

Add timeline ops and requestPath assertion to Ruby conformance runner
  conformance/runner/ruby/runner.rb
Due: none

Fix GetProjectTimeline path from /buckets/ to /projects/ (#78)
  conformance/runner/go/main.go
  conformance/runner/ruby/runner.rb
  conformance/schema.json
  conformance/tests/paths.json
  go/pkg/basecamp/url-routes.json
  go/pkg/generated/client.gen.go
  openapi.json
  ruby/lib/basecamp/generated/metadata.json
  ruby/lib/basecamp/generated/services/timeline_service.rb
  ruby/lib/basecamp/generated/types.rb
  ruby/test/basecamp/services/timeline_service_test.rb
  spec/basecamp.smithy
  typescript/src/generated/metadata.json
  typescript/src/generated/openapi-stripped.json
  typescript/src/generated/path-mapping.ts
  typescript/src/generated/schema.d.ts
  typescript/src/generated/services/index.ts
  typescript/src/generated/services/timeline.ts
Due: go-test-short, typescript-lint, typescript-typecheck

Add API provenance tracking for upstream sync state
  .claude/skills/api-sync.md
  .gitignore
  Makefile
  go/pkg/basecamp/api-provenance.json
  go/pkg/basecamp/provenance.go
  spec/README.md
  spec/api-provenance.json
Due: go-test-short

Address PR review feedback
  .claude/skills/api-sync.md
  Makefile
  go/pkg/basecamp/api-provenance.json
  go/pkg/basecamp/provenance.go
  go/pkg/basecamp/provenance_test.go
Due: go-test-short

Add CI enforcement for provenance and make sync-status portable
  .github/workflows/test.yml
  Makefile
Due: none

Replace local repo paths with GitHub API queries
  .claude/skills/api-sync.md
  Makefile
  spec/README.md
Due: none

Show only path-filtered files in sync-status, add gh preflight
  .claude/skills/api-sync.md
  Makefile
Due: none

Add API provenance tracking for upstream sync state (#80)
  .claude/skills/api-sync.md
  .github/workflows/test.yml
  .gitignore
  Makefile
  go/pkg/basecamp/api-provenance.json
  go/pkg/basecamp/provenance.go
  go/pkg/basecamp/provenance_test.go
  spec/README.md
  spec/api-provenance.json
Due: go-test-short

Bump Go to 1.25.7 for crypto/tls fix (GO-2026-4337)
  .github/workflows/release.yml
  .github/workflows/security.yml
  .github/workflows/test.yml
  conformance/runner/go/go.mod
  go.work
  go/go.mod
Due: none
